@CHARSET "ISO-8859-1";

.tjId {
	text-align: right;
	width: 75px;
}

.tjGeocode {
	text-align: right;
	width: 80px;
}

.tjState {
	text-align: center;
	width: 40px;
}

.tjCounty {
	text-align: center;
	width: 90px;
}

.tjCity {
	text-align: center;
	width: 90px;
}

.tjZip {
	text-align: center;
	width: 50px;
}

.tjInOut {
	text-align: center;
	width: 40px;
}

.tjDescription {
	text-align: left;
	width: 150px;
}

.tjClientCode {
	text-align: right;
	width: 50px;
}

.tjCompCode {
	text-align: right;
	width: 50px;
}

.tjCustom {
	text-align: center;
	width: 50px;
}

.trId {
	text-align: right;
	width: 75px;
}

.trDate {
	text-align: center;
	width: 80px;
}

.trRate {
	text-align: right;
	width: 75px;
}

.trCheckbox {
	text-align: center;
	width: 75px;
}

.trMTC {
	text-align: center;
	width: 75px;
}

.closebutton {
	border-width: 1px;
	background-color:#{a4jSkin.generalBackgroundColor};
}

.rich-mpnl-body {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border:thin;		
}
.errorMsg {
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	white-space: nowrap;
}


