<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
 
<div id="embedded-table">
<h:panelGrid id="#{id}" columns="7" cellpadding="2" cellspacing="0">
	
	<h:outputText rendered="#{showheaders}" value="GeoCode:"/>
	<h:outputText rendered="#{showheaders}" value="Country:"/>
	<h:outputText rendered="#{showheaders}" value="State:"/>
	<h:outputText rendered="#{showheaders}" value="County:"/>
	<h:outputText rendered="#{showheaders}" value="City:"/>
	<h:outputText rendered="#{showheaders}" value="ZIP Code:"/>
	<h:outputText rendered="#{showheaders}" value=" "/>
	
	<h:inputText id="#{id}_geocode" binding="#{handler.geocodeInput}"
		disabled="#{readonly}" required="#{required and !readonly}" label="GeoCode" value="#{handler.geocode}">
			<f:validator validatorId="GeocodeValidator" />
			</h:inputText>
	
	<h:panelGroup>
		<h:inputText id="#{id}_country" rendered="#{readonly}" disabled="true" value="#{cacheManager.countryMap[handler.country]} (#{handler.country})"/>
		<h:selectOneMenu id="#{id}_country_menu" binding="#{handler.countryInput}" 
			rendered="#{!readonly}" required="#{required}" label="country" value="#{handler.country}" >
			
	     	<a4j:support id="#{id}_country_handler" event="onchange" reRender="#{id}_state_items,#{id}"
				immediate="true" actionListener="#{handler.countrySelected}"/>
	    </h:selectOneMenu> 
	</h:panelGroup>
	
	<h:panelGroup>
		<h:inputText id="#{id}_state" rendered="#{readonly}" disabled="true" value="#{cacheManager.taxCodeStateMap[handler.state].name} #{(not empty cacheManager.taxCodeStateMap[handler.state].name) ? 
						'(' : ''}#{handler.state}#{(not empty cacheManager.taxCodeStateMap[handler.state].name) ? ')' : ''}" />	
		
		<h:selectOneMenu id="#{id}_state_menu" binding="#{handler.stateInput}" 
			rendered="#{!readonly}" required="#{required}" label="State" value="#{handler.state}" >
			
			<f:selectItems id="#{id}_state_items" value="#{handler.stateItems}" />
			
		</h:selectOneMenu>
			
	</h:panelGroup>
	
	<h:inputText id="#{id}_county" binding="#{handler.countyInput}"
		disabled="#{readonly}" required="#{required and !readonly}" label="County" value="#{handler.county}"
		onkeypress="upperCaseInputTextKey(event,this)" onblur="upperCaseInputText(this)"/>

	<h:inputText id="#{id}_city" binding="#{handler.cityInput}"
		disabled="#{readonly}" required="#{required and !readonly}" label="City" value="#{handler.city}" 
		onkeypress="upperCaseInputTextKey(event,this)" onblur="upperCaseInputText(this)"/>
	
	<h:inputText id="#{id}_zip" binding="#{handler.zipInput}" 
		disabled="#{readonly}" required="#{required and !readonly}" label="Zip Code" value="#{handler.zip}"/>

	<h:panelGroup>
		-&#160;
		<h:inputText id="#{id}_zipPlus4" style="width: 40px;" binding="#{handler.zipPlus4Input}" 
		disabled="#{readonly}" required="#{required and !readonly}" label="Zip Plus 4" value="#{handler.zipPlus4}"/>
	</h:panelGroup>
</h:panelGrid>
</div>

</ui:component>