<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
<ui:define name="script">
<script type="text/javascript">
//<![CDATA[
         
//]]>
</script>
</ui:define>
 
<div id="table-one-top" style="padding: 1px 10px 1px 15px;">
	<table cellpadding="0" cellspacing="0" style="width: 100%; height: 22px;"><tr>
		<td width="70"><a4j:commandLink id="toggleCustLocnCollapse" style="text-decoration: underline;color:#0033FF;"
				action="aidspecfile_panel" actionListener="#{handlerBean.togglePanelController.collapseTogglePanels}" ><h:outputText value="collapse all"/></a4j:commandLink></td>
		<td align="left"><a4j:commandLink id="toggleCustLocnExpand" style="text-decoration: underline;color:#0033FF;"  
  				action="aidspecfile_panel" actionListener="#{handlerBean.togglePanelController.expandTogglePanels}" ><h:outputText value="expand all"/></a4j:commandLink></td>
		<td align="right" width="100"><h:outputText style="color:white;" value="Wildcard&#160;=&#160;%" /></td>
	</tr></table>
</div>   
   
<div id="table-one-content" style="height: auto;" onkeypress="return submitEnter(event,'custlocnForm:searchBtn')">
    
	<!-- Start toggle panel -->
	<div id="embedded-table">
	<h:panelGrid id="togglePanel" columns="1" width="100%"  >

	<rich:simpleTogglePanel id="AIDFileManagerSPecPanel"   switchType="ajax" label="Import Spec" 
		actionListener="#{handlerBean.togglePanelController.togglePanelChanged}" 
		opened="#{handlerBean.togglePanelController.togglePanels['AIDFileManagerSPecPanel']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

		<table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">   
	      	<tr>
		        <td style="width: 20px;">&#160;</td>
		        <td style="width: 150px;">Import&#160;Spec&#160;Type:</td>
		        <td style="width: 300px;">
					<h:selectOneMenu id="SelImprtSpecType" value="#{handlerBean.selectedSpecType}" immediate="true" style="width:300px;" >
							<f:selectItems value="#{handlerBean.importSpecTypeItems}"/>				
					</h:selectOneMenu>
		        </td>
		        <td style="width: 30%;">&#160;</td>
		        <td>&#160;</td>
	       	</tr>
	     
	       	<tr>
		        <td style="width: 20px;">&#160;</td>
		        <td style="width: 150px;">Import Spec:</td>
		        <td style="width: 220px;">
					<h:selectOneMenu id="SelImprtSpec" value="#{handlerBean.selectedSpec}" immediate="true" style="width:300px;" >
							<f:selectItems value="#{handlerBean.importSpecItems}"/>				
					</h:selectOneMenu>
		        </td>
		        <td style="width: 30%;">&#160;</td>
		        <td>&#160;</td>
	       	</tr> 
	       	
	       	<tr>
		        <td style="width: 20px;">&#160;</td>
		        <td style="width: 150px;">Description:</td>
		        <td style="width: 400px;"><h:inputText id="selectedDescription" rendered="true" value="#{handlerBean.selectedDescription}" style="width:400px;" /></td>	        
		        <td style="width: 30px;">&#160;</td>
		        <td>&#160;</td>
	       	</tr> 
	      
		</table>
    </rich:simpleTogglePanel>
      
	<rich:simpleTogglePanel id="AIDFileManagerFilePanel" switchType="ajax" label="File"  
		actionListener="#{handlerBean.togglePanelController.togglePanelChanged}"   
		opened="#{handlerBean.togglePanelController.togglePanels['AIDFileManagerFilePanel']}"
		bodyClass="togglepanel-body"  headerClass="togglepanel-header" styleClass="togglepanel" >	
      		<f:facet name="openMarker"><h:graphicImage url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage url="/images/triangle-s.png"></h:graphicImage></f:facet>
      	 
		<table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">  
	    
	    	<tr>
		        <td style="width: 20px;">&#160;</td>
		        <td width="100">Name:</td>
		        <td style="width: 220px;"><h:inputText id="filterFileName" rendered="true" value="#{handlerBean.selectedName}" style="width:400px;" /></td>	        
		        <td style="width: 30%;">&#160;</td>
		        <td>&#160;</td>
	       	</tr>
	       	
	       	<tr>
		        <td style="width: 20px;">&#160;</td>
		       	<td width="100">As&#160;of&#160;Date:</td>
	          	<td style="width: 220px;">
	           		<rich:calendar
	                          id="selectedAsOfDate"
	                          disabled="false"
	                          rendered="true"
	                          oninputkeypress="return onlyDateValue();"
	                          enableManualInput="true"
	                          converter="date"
	                          datePattern="M/d/yyyy"
	                          value="#{handlerBean.selectedAsOfDate}" />
	          	</td>
	          	<td style="width: 30px;">&#160;</td>
		        <td>&#160;</td>
			</tr>
		</table>
	</rich:simpleTogglePanel>
    </h:panelGrid>
	</div>
 </div>
<!-- end of table-one-content -->       
      
<div id="table-one-bottom">
	<ul class="right">
       <li class="clear"><a4j:commandLink id="btnClear" action="#{handlerBean.resetFilterSearchAction}" reRender="AIDFileManagerSPecPanel,AIDFileManagerFilePanel" /></li>
       <li class="search"><a4j:commandLink id="searchBtn" action="#{handlerBean.retrieveFilterSpec}" reRender="specTable,fileTable,fileTableDisplay,downloadFile,viewFile,addFile,deleteFile,viewlog,reimport,specDataTest,fileDataTest,pageInfo,fileDisplayItems" /></li>
    </ul>
</div>

			
</ui:component>