<?xml version="1.0"?>
<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:f="http://java.sun.com/jsf/core"
              xmlns:rich="http://richfaces.org/rich"
              xmlns:c="http://java.sun.com/jstl/core"
              xmlns:a4j="http://richfaces.org/a4j">

  <ul class="basic-form">
    <li class="heading">View Batch Statistics</li>
    <li class="sub-heading-dark">Batch</li>
  </ul>
  <h:panelGrid id="batchPanel"
               columns="4"
               styleClass="basic-form"
               columnClasses="left-indent,right"
               cellspacing="0"
               cellpadding="0"
               style="width: 100%;">
      <h:outputText rendered="true"
                    value="Batch ID:" />
      <h:inputText id="batchIdTxt"
                   styleClass="column-right"
                   value="#{batchStatistics.batchMaintenance.batchId}"
                   immediate="true"
                   disabled="true">
      </h:inputText>
      <h:outputText rendered="true"
                    value="Batch Type:" />
      <h:inputText id="batchTypeTxt"
                   value="#{cacheManager.listCodeMap['BATCHTYPE'][batchStatistics.batchMaintenance.batchTypeCode].description}"
                   immediate="true"
                   disabled="true">
      </h:inputText>

      <h:outputText rendered="true"
                    value="Entry Date/Time:" />
      <h:inputText id="batchEntryDtTxt"
                   styleClass="column-right"
                   value="#{batchStatistics.batchMaintenance.entryTimestamp}"
                   converter="dateTime"
                   disabled="true">
      </h:inputText>
      <h:outputText value="Highest Error Severity:" />
      <h:inputText id="batchErrSrvCdTxt"
           value="#{cacheManager.listCodeMap['ERRORSEV'][batchStatistics.batchMaintenance.errorSevCode].description}"
           disabled="true"/>

      <h:outputText value="Batch Status:" />
      <h:inputText id="batchStatus"
                   value="#{cacheManager.listCodeMap['BATCHSTAT'][batchStatistics.batchMaintenance.batchStatusCode].description}"
                    disabled="true"/>
      <h:outputText value="Held?:" />
      <h:selectBooleanCheckbox id="held"
                               styleClass="check"
                               value="#{batchStatistics.batchMaintenance.heldFlag == 1}"
                               disabled="true"/>
  </h:panelGrid>
  <ul class="basic-form">
    <li class="sub-heading-dark">Import File</li>
  </ul>
  <h:panelGrid id="batchPanel1"
               columns="4"
               styleClass="basic-form"
               columnClasses="left-indent,right"
               cellspacing="0"
               cellpadding="0"
               style="width: 100%;">
      <h:outputText rendered="true"
                    value="Total Rows:" />
      <h:inputText id="totalRows"
                   styleClass="column-right"
                   value="#{batchStatistics.batchMaintenance.totalRows}"
                   immediate="true"
                   disabled="true">
        <f:convertNumber />
      </h:inputText>
      <h:outputText rendered="true"
                    value="Total Bytes:" />
      <h:inputText id="totalBytes"
                   styleClass="column-right"
                   value="#{batchStatistics.batchMaintenance.totalBytes}"
                   disabled="true">
        <f:convertNumber />
      </h:inputText>

  </h:panelGrid>
  <ul class="basic-form">
    <li class="sub-heading-dark">Statistics</li>
  </ul>
  <h:panelGrid id="batchPanel2"
               columns="4"
               styleClass="basic-form"
               columnClasses="left-indent,right"
               cellspacing="0"
               cellpadding="0"
               style="width: 100%;">
      <h:outputText rendered="true"
                    value="Schedule Start Date/Time:" />
      <h:inputText id="scheduledStartTimeOrDate"
                   styleClass="column-right"
                   value="#{batchStatistics.batchMaintenance.schedStartTimestamp}"
                   disabled="true">
       <f:converter converterId="dateTime"/>
      </h:inputText>
      <h:outputText value="Rows Per Minute:" />
      <h:inputText id="rowsPerMinute"
                   styleClass="column-right"
                   value="#{batchStatistics.rowsPerMinute}"
                   disabled="true">
        <f:convertNumber minFractionDigits="4"  maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
      </h:inputText>

      <h:outputText rendered="true"
                    value="Actual Start Date/Time:" />
      <h:inputText id="actualStartTime"
                   styleClass="column-right"
                   value="#{batchStatistics.batchMaintenance.actualStartTimestamp}"
                   disabled="true">
        <f:converter converterId="dateTime"/>
      </h:inputText>
      <h:outputText rendered="true"
                    value="Percentage of Total:" />
      <h:inputText id="percentageOfTotal"
                   styleClass="column-right"
                   value="#{batchStatistics.percent}"
                   disabled="true">
        <f:convertNumber pattern="##.0000%" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
      </h:inputText>

      <h:outputText rendered="true"
                    value="Rows Processed:" />
      <h:inputText id="rowsProcessed"
                   styleClass="column-right"
                   value="#{batchStatistics.processedRows}"
                   disabled="true">
        <f:convertNumber/>
      </h:inputText>
      <h:outputText rendered="true"
                    value="Elapsed Time:" />
      <h:inputText id="elapsedTime"
                   styleClass="column-right"
                   value="#{batchStatistics.processingTime}"
                   disabled="true">
      </h:inputText>

      <h:outputText rendered="true"
                    value="Actual End Date/Time:" />
      <h:inputText id="actualEndTimeDate"
                   styleClass="column-right"
                   value="#{batchStatistics.batchMaintenance.actualEndTimestamp}"
                   disabled="true">
        <f:converter converterId="dateTime"/>
      </h:inputText>
      <h:outputText rendered="true"
                    value="Estimated Time to End:" />
      <h:inputText id="estimatedEndTime"
                   styleClass="column-right"
                   value="#{batchStatistics.estimatedTimeToEnd}"
                   disabled="true">
      </h:inputText>

      <h:outputText rendered="true"
                    value="System Date/Time:" />
      <h:inputText id="systemDateTime"
                   styleClass="column-right"
                   value="#{batchStatistics.now}"
                   disabled="true">
        <f:converter converterId="dateTime"/>
      </h:inputText>
      <h:outputText rendered="true"
                    value="Estimated End Date/Time:" />
      <h:inputText id="estimatedEndTimeDate"
                   styleClass="column-right"
                   value="#{batchStatistics.estimatedEndDatetime}"
                   disabled="true">
        <f:converter converterId="dateTime"/>
      </h:inputText>
  </h:panelGrid>

  <a4j:outputPanel id="progressPanel">
       <rich:progressBar id="progressBarId" value="#{batchStatistics.percentComplete}"
                         label="#{batchStatistics.percentComplete} % Complete"
                         enabled="#{batchStatistics.inProgress}"
                         styleClass="sts-progress-bar"
                         interval="#{batchStatistics.batchPreferenceDTO.batchRefreshInterval}"
                         reRender="rowsPerMinute,percentageOfTotal,systemDateTime,estimatedEndTime,elapsedTime,rowsProcessed,estimatedEndTimeDate"
                         mode="ajax"
                         minValue="-1"
                         maxValue="100"/>
      </a4j:outputPanel>
</ui:component>
