<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<ui:component xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">
 
  <ui:define name="script">
   <script type="text/javascript">
   //<![CDATA[
               function resetInputs() {
            	   var formName = document.forms[1].name;
            	   var configbatchType = document.getElementById(formName+":batchSelectionIncludeId:selConfigBatchType");
            	   if(configbatchType  != null){
            		   document.getElementById(formName+":batchSelectionIncludeId:selConfigBatchType").value = "";
            	   }
            	   document.getElementById(formName+":batchSelectionIncludeId:selBatchType").value="";
                   document.getElementById(formName+":batchSelectionIncludeId:selBatchStatus").value="";
                   document.getElementById(formName+":batchSelectionIncludeId:selErrorStatus").value="";
                   document.getElementById(formName+":batchSelectionIncludeId:myCalendarEntryDate").component.resetSelectedDate();
                   document.getElementById(formName+":batchSelectionIncludeId:heldSelect").value = "";
               }
    //]]>
   </script>
  </ui:define>

     <div class="tab"><h:graphicImage url="/images/containers/STSSelection-filter-open.gif" />&#160;&#160;&#160;
	  <a4j:commandLink id="toggleHideSearchPanel" style="height:22px;text-decoration: underline;color:#0033FF" 
  				reRender="showhidefilter,toggleHideSearchPanel" actionListener="#{batchMaintenanceBean.togglePanelController.toggleHideSearchPanel}" >
  			<h:outputText value="#{(batchMaintenanceBean.togglePanelController.isHideSearchPanel) ? 'show' : 'hide'}" />
  	  </a4j:commandLink>					
	</div>
 <a4j:outputPanel id="showhidefilter">
    <c:if test="#{!batchMaintenanceBean.togglePanelController.isHideSearchPanel}">
     <div id="top">
      <div id="table-one">
      <a4j:outputPanel  id="contentToggle" ajaxRendered="true" layout="block">
		<div id="table-one-top" style="padding: 1px 10px 1px 15px;">
		 <table cellpadding="0" cellspacing="0" style="width: 100%; height: 22px;">
		 <tr>
							<td width="70"><a4j:commandLink id="toggleCustLocnCollapse" style="text-decoration: underline;color:#0033FF;"
									reRender="showhidefilter" actionListener="#{batchMaintenanceBean.togglePanelController.collapseTogglePanels}" ><h:outputText value="collapse all"/></a4j:commandLink></td>
							<td align="left"><a4j:commandLink id="toggleCustLocnExpand" style="text-decoration: underline;color:#0033FF;"  
					  				reRender="showhidefilter" actionListener="#{batchMaintenanceBean.togglePanelController.expandTogglePanels}" ><h:outputText value="expand all"/></a4j:commandLink></td>
							<td align="right" width="100"><h:outputText style="color:white;" value="Wildcard&#160;=&#160;%" /></td>
		</tr>
		</table>
	        <a4j:outputPanel id="message">
	         <h:messages errorClass="error" />
	        </a4j:outputPanel>
	        
	   </div>
       <div id="table-one-content"
            style="height: auto;"
            onkeyup="return submitEnter(event,'batchMaintStatusForm:searchBtn')">
        	<rich:simpleTogglePanel id="batchInformationPanel"   switchType="ajax" label="Batch Information" 
						actionListener="#{batchMaintenanceBean.togglePanelController.togglePanelChanged}" 
						opened="#{batchMaintenanceBean.togglePanelController.togglePanels['Batch Information']}"  
						bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
							<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
							<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
        
        <table cellpadding="0"
               cellspacing="0"
               width="100%"
               id="rollover"
               class="ruler">
          <tr>
            <td style="width: 50px;">&#160;</td>
            <td style="width: 150px;">Batch ID:</td>
            <td style="width: 220px;"><h:inputText style="width: 140px;" id="enteredbatchId" value="#{batchMaintenanceBean.batchMaintenanceDTO.batchId}" /></td>
			<td>&#160;</td>
         </tr>
     
         <tr>
          <td style="width: 50px;">&#160;</td>
          <td style="width: 150px;">Entry Date:</td>
          <td style="width: 220px;">
           <rich:calendar popup="true" inputStyle="width:124px"
                          id="myCalendarEntryDate"
                          rendered="true"
                          oninputkeypress="return onlyDateValue();"
                          enableManualInput="true"
                          converter="date"
                          datePattern="M/d/yyyy"
                          label="Entry Date"
                          value="#{batchMaintenanceBean.myCalendarEntryDate}" />
          </td>
          <td>&#160;</td>
         </tr>
        <c:if test = "#{batchMaintenance}">
        <tr>
          <td style="width: 50px;">&#160;</td>
          <td style="width: 150px;">Batch Type:</td>
          <td style="width: 220px;">
           <h:selectOneMenu id="selBatchType"  
                            style="width: 195px;"
                            binding="#{batchMaintenanceBean.batchTypeMenu}"
                            value="#{batchMaintenanceBean.batchMaintenanceDTO.batchTypeCode}">
         		<a4j:support id = "batchtypesuuportid" event="onchange" actionListener = "#{batchMaintenanceBean.updateBatchTypeCode}"  action = "#{batchMaintenanceBean.batchSpecificAction}"  status = "none"  />   
         	</h:selectOneMenu>    
         	
          </td>
          <td>&#160;</td>
         </tr>
       </c:if>
        <c:if test = "#{!batchMaintenance}">
         <tr>
          <td style="width: 50px;">&#160;</td>
          <td style="width: 150px;">Batch Type:</td>
          <td style="width: 220px;">
           <h:selectOneMenu id="selBatchType"  
                            style="width: 195px;"
                            value="#{bean.batchMaintenanceBean.batchMaintenanceDTO.batchTypeCode}"
                            disabled = "true">
               <f:selectItems value="#{batchMaintenanceBean.batchTypeItems}" />	
         	</h:selectOneMenu>    
         	
          </td>
          <td>&#160;</td>
         </tr>
         </c:if>
         
         <c:if test = "#{configBatches}">
          <tr>
          <td style="width: 50px;">&#160;</td>
          <td style="width: 125px;">Configuration File Type:</td>
          <td style="width: 250px;">
           <h:selectOneMenu id="selConfigBatchType"
                            style="width: 195px;"
                            binding="#{bean.batchTypeMenu}"
                            value="#{bean.batchMaintenanceDTO.batchTypeCode}"
                            disabled="#{!bean.findMode}" />
          </td>
          <td>&#160;</td>
         </tr>
      </c:if>
         <tr>
          <td style="width: 50px;">&#160;</td>
          <td style="width: 150px;">Batch Status:</td>
          <td style="width: 220px;">
           <h:selectOneMenu id="selBatchStatus"
                            style="width: 195px;"
                            binding="#{batchMaintenanceBean.batchStatusMenu}"
                            value="#{batchMaintenanceBean.batchMaintenanceDTO.batchStatusCode}"
                            disabled="false" />
          </td>
          <td>&#160;</td>
         </tr>
         
         <tr>
          <td style="width: 50px;">&#160;</td>
          <td style="width: 150px;">Error Severity:</td>
          <td style="width: 220px;">
           <h:selectOneMenu id="selErrorStatus"
                            style="width: 195px;"
                            binding="#{batchMaintenanceBean.batchErrorMenu}"
                            value="#{batchMaintenanceBean.batchMaintenanceDTO.errorSevCode}"
                            disabled="false" />
          </td>
          <td>&#160;</td>
         </tr>
         
         <tr>
          <td style="width: 50px;">&#160;</td>
          <td style="width: 150px;">Held:</td>
          <td style="width: 220px;">
           <h:selectOneMenu id="heldSelect"  style="width: 195px;" value="#{batchMaintenanceBean.batchMaintenanceDTO.heldCode}">
             <f:selectItem id="heldItems" itemValue="" itemLabel="All Batches" />
			 <f:selectItem id="heldItem" itemValue="1" itemLabel="Only Held Batches" />
			 <f:selectItem id="nonheldItem" itemValue="0" itemLabel="Only non-Held Batches" />
           </h:selectOneMenu>    
         	
          </td>
          <td>&#160;</td>
         </tr>
        
        </table>
        </rich:simpleTogglePanel>
        
        <!-- Dynamic Panel.Based on Batch Type this Panel will be displayed -->
        <rich:simpleTogglePanel id="batchTypeSpecificPanel"  rendered = "#{not empty batchMaintenanceBean.batchMaintenanceDTO.batchTypeCode}"  switchType="ajax" label="Batch Type Specifics" 
						actionListener="#{batchMaintenanceBean.togglePanelController.togglePanelChanged}" 
						opened="#{batchMaintenanceBean.togglePanelController.togglePanels['Batch Type Specifics']}"  
						bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
							<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
							<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
        
       	 <c:forEach var="batchTypeSpecificObject" items="#{batchMaintenanceBean.batchTypeSpecificList}" varStatus="counter">
         <table cellpadding="0"
               cellspacing="0"
               width="100%"
               id="rollover"
               class="ruler">
             <c:if test = "#{counter.index eq 0}" >  
          	  <tr>
	             <td style="width: 50px;">&#160;</td>
	             <td colspan = "3"><h:outputText id="#{batchTypeSpecificObject.id}_batchtype" style="font-size: 11px;font-weight:bold;" value="#{cacheManager.listCodeMap['BATCHTYPE'][batchMaintenanceBean.batchMaintenanceDTO.batchTypeCode].description }" /></td>
	             
             </tr>
            </c:if>
          <c:if test = "#{batchTypeSpecificObject.batchFieldtype eq 'String' }">
            <tr>
             <td style="width: 50px;">&#160;</td>
             <td style="width: 150px;"><h:outputText id="output_#{batchTypeSpecificObject.id}"  value="#{batchTypeSpecificObject.objectHeading}" />:</td>
             <td style="width: 220px;">
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Vc01' }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.vc01}" />
             	</c:if> 
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Vc02' }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.vc02}" />
             	</c:if> 
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Vc03' }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.vc03}" />
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Vc04' }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.vc04}" />
             	</c:if> 
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Vc05' }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.vc05}" />
             	</c:if> 
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Vc06'  }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.vc06}" />
             	</c:if> 
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Vc07'  }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.vc07}" />
             	</c:if> 
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Vc08'  }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.vc08}" />
             	</c:if> 
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Vc09'  }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.vc09}" />
             	</c:if> 
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Vc10'  }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.vc10}" />
             	</c:if> 
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uvc01'  }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uvc01}" />
             	</c:if> 
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uvc02'  }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uvc02}" />
             	</c:if> 
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uvc03'  }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uvc03}" />
             	</c:if> 
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uvc04'  }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uvc04}" />
             	</c:if> 
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uvc05'  }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uvc05}" />
             	</c:if> 
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uvc06'  }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uvc06}" />
             	</c:if> 
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uvc07'  }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uvc07}" />
             	</c:if> 
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uvc08'  }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uvc08}" />
             	</c:if> 
             	
             
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uvc09'  }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uvc09}" />
             	</c:if> 
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uvc10'  }"> 
             		<h:inputText style="width: 140px;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uvc10}" />
             	</c:if> 
             
             </td>
			 <td>&#160;</td>
            </tr>
          </c:if>
          
           <c:if test = "#{batchTypeSpecificObject.batchFieldtype eq 'Double' }">
           <tr> 
             <td style="width: 50px;">&#160;</td>
             <td style="width: 150px;"><h:outputText id="output_#{batchTypeSpecificObject.id}" value="#{batchTypeSpecificObject.objectHeading}"/>:</td>
             <td style="width: 220px;">
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Nu01' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.nu01 }" onkeypress="return onlyNumerics(event);">
             		  <f:converter converterId="numberToBlankConverter" />
             		  </h:inputText>
             	</c:if>
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Nu02' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.nu02 }" onkeypress="return onlyNumerics(event);">
             			 <f:converter converterId="numberToBlankConverter" />
             		</h:inputText>
             	</c:if>
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Nu03' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.nu03 }" onkeypress="return onlyNumerics(event);">
             			 <f:converter converterId="numberToBlankConverter" />
             		</h:inputText>
             	</c:if>
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Nu04' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.nu04 }" onkeypress="return onlyNumerics(event);">
             			 <f:converter converterId="numberToBlankConverter" />
             		</h:inputText>
             	</c:if>
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Nu05' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.nu05 }" onkeypress="return onlyNumerics(event);">
             			 <f:converter converterId="numberToBlankConverter" />
             		</h:inputText>
             	</c:if>
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Nu06' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.nu06 }" onkeypress="return onlyNumerics(event);">
             			 <f:converter converterId="numberToBlankConverter" />
             		</h:inputText>
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Nu07' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.nu07 }" onkeypress="return onlyNumerics(event);">
             			 <f:converter converterId="numberToBlankConverter" />
             		</h:inputText>
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Nu08' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.nu08 }" onkeypress="return onlyNumerics(event);">
             			 <f:converter converterId="numberToBlankConverter" />
             		</h:inputText>
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Nu09' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.nu09 }" onkeypress="return onlyNumerics(event);">
             			 <f:converter converterId="numberToBlankConverter" />
             	    </h:inputText>
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Nu10' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.nu10 }" onkeypress="return onlyNumerics(event);">
             			<f:converter converterId="numberToBlankConverter" />
             		</h:inputText>
             		
             	</c:if>
             
             </td>
			 <td>&#160;</td>
            </tr>
          </c:if>
          
          <c:if test = "#{batchTypeSpecificObject.batchFieldtype eq 'BigDecimal' }">
            <tr>  
             <td style="width: 50px;">&#160;</td>
             <td style="width: 150px;"><h:outputText id="output_#{batchTypeSpecificObject.id}" value="#{batchTypeSpecificObject.objectHeading}"/>:</td>
             <td style="width: 220px;">
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Unu01' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.unu01 }" onkeypress="return onlyNumerics(event);">
             			<f:convertNumber type="number" minFractionDigits="1" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
             			<f:converter converterId="numberToBlankConverter" />
             		</h:inputText>
             	</c:if>
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Unu02' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.unu02 }" onkeypress="return onlyNumerics(event);">
             			<f:convertNumber type="number" minFractionDigits="1" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
             			<f:converter converterId="numberToBlankConverter" />
             		</h:inputText>
             	</c:if>
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Unu03' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.unu03 }" onkeypress="return onlyNumerics(event);">
             			<f:convertNumber type="number" minFractionDigits="1" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
             			<f:converter converterId="numberToBlankConverter" />
             		</h:inputText>
             	</c:if>
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Unu04' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.unu04 }" onkeypress="return onlyNumerics(event);">
             			<f:convertNumber type="number" minFractionDigits="1" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
             			<f:converter converterId="numberToBlankConverter" />
             		</h:inputText>
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Unu05' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.unu05 }" onkeypress="return onlyNumerics(event);">
             			<f:convertNumber type="number" minFractionDigits="1" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
             			<f:converter converterId="numberToBlankConverter" />
             		</h:inputText>
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Unu06' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.unu06 }" onkeypress="return onlyNumerics(event);">
             			<f:convertNumber type="number" minFractionDigits="1" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
             			<f:converter converterId="numberToBlankConverter" />
             		</h:inputText>
             	</c:if>
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Unu07' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.unu07 }" onkeypress="return onlyNumerics(event);">
             			<f:convertNumber type="number" minFractionDigits="1" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
             			<f:converter converterId="numberToBlankConverter" />
             		</h:inputText>
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Unu08' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.unu08 }" onkeypress="return onlyNumerics(event);">
             			<f:convertNumber type="number" minFractionDigits="1" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
             			<f:converter converterId="numberToBlankConverter" />
             		</h:inputText>
             	</c:if>
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Unu09' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.unu09 }" onkeypress="return onlyNumerics(event);">
             			<f:convertNumber type="number" minFractionDigits="1" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
             			<f:converter converterId="numberToBlankConverter" />
             		</h:inputText>
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Unu10' }">
             		<h:inputText style="width: 140px;text-align: right;" id="input_#{batchTypeSpecificObject.id}" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.unu10 }" onkeypress="return onlyNumerics(event);">
             			<f:convertNumber type="number" minFractionDigits="1" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
             			<f:converter converterId="numberToBlankConverter" />
             		</h:inputText>
             	</c:if>
             	
             </td>
			 <td>&#160;</td>
            </tr>
          </c:if>
          
           <c:if test = "#{batchTypeSpecificObject.batchFieldtype eq 'Date' }">
            <tr>
             <td style="width: 50px;">&#160;</td>
             <td style="width: 150px;"><h:outputText id="output_#{batchTypeSpecificObject.id}" value="#{batchTypeSpecificObject.objectHeading}"/>:</td>
             <td style="width: 220px;"> 
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Ts01'  }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.ts01 }"
                          oninputkeypress="return onlyDateValue();" label="Update Date" enableManualInput="true"  converter="date" datePattern="M/d/yyyy"  />
             	</c:if>
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Ts02' }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.ts02 }"
                          oninputkeypress="return onlyDateValue();" enableManualInput="true"  converter="date" datePattern="M/d/yyyy"  />
             	</c:if>
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Ts03' }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.ts03 }"
                          oninputkeypress="return onlyDateValue();" enableManualInput="true"  converter="date" datePattern="M/d/yyyy"  />
             	</c:if>
             	
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Ts04' }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.ts04 }"
                          oninputkeypress="return onlyDateValue();" enableManualInput="true"  converter="date" datePattern="M/d/yyyy"  />
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Ts05' }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.ts05 }"
                          oninputkeypress="return onlyDateValue();" enableManualInput="true"  converter="date" datePattern="M/d/yyyy"  />
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Ts06' }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.ts06 }"
                          oninputkeypress="return onlyDateValue();" enableManualInput="true"  converter="date" datePattern="M/d/yyyy"  />
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Ts07' }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.ts07 }"
                          oninputkeypress="return onlyDateValue();" enableManualInput="true"  converter="date" datePattern="M/d/yyyy"  />
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Ts08' }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.ts08 }"
                          oninputkeypress="return onlyDateValue();" enableManualInput="true"  converter="date" datePattern="M/d/yyyy"  />
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Ts09' }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.ts09 }"
                          oninputkeypress="return onlyDateValue();" enableManualInput="true"  converter="date" datePattern="M/d/yyyy"  />
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Ts10' }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.ts10 }"
                          oninputkeypress="return onlyDateValue();" enableManualInput="true"  converter="date" datePattern="M/d/yyyy"  />
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uts01' }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uts01 }"
                          oninputkeypress="return onlyDateValue();" enableManualInput="true"  converter="date" timeZone="#{loginBean.timeZone}" datePattern="M/d/yyyy"  />
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uts02' }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uts02 }"
                          oninputkeypress="return onlyDateValue();" enableManualInput="true"  converter="date" timeZone="#{loginBean.timeZone}" datePattern="M/d/yyyy"  />
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uts03' }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uts03 }"
                           oninputkeypress="return onlyDateValue();" enableManualInput="true"  converter="date" timeZone="#{loginBean.timeZone}" datePattern="M/d/yyyy"   />
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uts04' }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uts04 }"
                          oninputkeypress="return onlyDateValue();" enableManualInput="true"  converter="date" timeZone="#{loginBean.timeZone}" datePattern="M/d/yyyy"  />
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uts05' }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uts05 }"
                          oninputkeypress="return onlyDateValue();" enableManualInput="true"  converter="date" timeZone="#{loginBean.timeZone}" datePattern="M/d/yyyy"  />
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uts06' }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uts06 }"
                          oninputkeypress="return onlyDateValue();" enableManualInput="true"  converter="date" timeZone="#{loginBean.timeZone}" datePattern="M/d/yyyy"  />
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uts07' }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uts07 }"
                          oninputkeypress="return onlyDateValue();" enableManualInput="true"  converter="date" timeZone="#{loginBean.timeZone}" datePattern="M/d/yyyy"  />
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uts08' }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uts08 }"
                          oninputkeypress="return onlyDateValue();" enableManualInput="true"  converter="date" timeZone="#{loginBean.timeZone}" datePattern="M/d/yyyy"  />
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uts09' }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uts09 }"
                          oninputkeypress="return onlyDateValue();" enableManualInput="true"  converter="date" timeZone="#{loginBean.timeZone}" datePattern="M/d/yyyy"  />
             	</c:if>
             	
             	<c:if test = "#{batchTypeSpecificObject.batchFieldname eq 'Uts10' }">
             		<rich:calendar popup="true" id="input_#{batchTypeSpecificObject.id}" inputStyle="width:124px" value = "#{batchMaintenanceBean.batchSpecificBatchMaintenance.uts10 }"
                          oninputkeypress="return onlyDateValue();" enableManualInput="true"  converter="date" timeZone="#{loginBean.timeZone}" datePattern="M/d/yyyy"  />
             	</c:if>
               
             </td>
			 <td>&#160;</td>
            </tr>
          </c:if>
         </table>
         </c:forEach>
         <c:if test = "#{batchTypeCodeParam == 'GM'}" >
         <table cellpadding="0"  cellspacing="0"   width="100%" id="rollover"   class="ruler">
          <tr>
            <td style="width: 50px;">&#160;</td>
            <td style="width: 150px;"><h:outputText id = "outfiscalyear" value = "Fiscal Period:"/></td>
            <td style="width: 220px;"><h:selectOneMenu id="yearPeriodFiscal"  value="#{batchMaintenanceBean.batchMaintenanceDTO.yearPeriod}" >
						<f:selectItems value="#{bean.filterYearPeriodMenuItems}" /> </h:selectOneMenu></td>
			<td>&#160;</td>
         </tr>
         </table>
         </c:if>
         
         </rich:simpleTogglePanel>
        
         
         <h:inputHidden id="batchIdSelected"
                        value="#{batchMaintenanceBean.selBatchMaintenance.batchId}"
                        immediate="true" />
         <h:inputHidden id="batchTypeTxt"
                        value="#{batchMaintenanceBean.selBatchMaintenance.batchTypeDesc}"
                        immediate="true" />
         <h:inputHidden id="batchStatusDescription"
                        value="#{batchMaintenanceBean.selBatchMaintenance.batchStatusDesc}"
                        immediate="true" />
       </div>
       <!-- table-one-content -->
       <div id="table-one-bottom">
        <ul class="right">
         <li class="clear">
          <h:commandLink id="btnClear" process="@this"
                         action="#{bean.resetBatchFields}" reRender ="batchTypeSpecificPanel" />
         </li>
         <li class="search">
          <h:commandLink id="searchBtn"
                         action="#{bean.retrieveBatchMaintenance}" />
         </li>
        </ul>
       </div>
       </a4j:outputPanel >
      </div>
     </div>
     </c:if>
     </a4j:outputPanel>
     
     <!-- table-one -->
    
  
</ui:component>
