<ui:component xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
              xmlns:f="http://java.sun.com/jsf/core"
              xmlns:rich="http://richfaces.org/rich"
              xmlns:c="http://java.sun.com/jstl/core"
              xmlns:a4j="http://richfaces.org/a4j">

    <div id="top">
        <div id="table-one">
            <div id="table-one-top">
                <a4j:outputPanel id="msg">
                    <h:messages errorClass="error" />
                </a4j:outputPanel>
            </div>
            <div id="table-bare">
                <ul class="basic-form">
                    <li class="sub-heading-dark">Update Batch User Fields</li>
                    <li class="sub-heading-light">Batch Details</li>
                </ul>
                <h:panelGrid id="batchPanel"
                             columns="4"
                             styleClass="basic-form"
                             columnClasses="column-form-label, column-form-data, column-form-label, column-form-data"
                             cellspacing="0"
                             cellpadding="0"
                             style="width: 100%;">
                    <h:outputText rendered="true"
                                  value="Batch ID:" />
                    <h:inputText id="batchIdTxt"
                                 value="#{bean.selectedBatch.batchId}"
                                 immediate="true"
                                 disabled="true" />
                    <h:outputText rendered="true"
                                  value="Batch Type:" />
                    <h:inputText id="batchTypeTxt"
                                 value="#{bean.selectedBatch.batchTypeDesc}"
                                 immediate="true"
                                 disabled="true" />
                    <h:outputText rendered="true"
                                  value="Entry Date/Time:" />
                    <h:inputText id="batchEntryDtTxt"
                                 value="#{bean.selectedBatch.entryTimestamp}"
                                 disabled="true">
                        <f:converter converterId="dateTime" />
                    </h:inputText>
                    <h:outputText rendered="true"
                                  value="Highest Error Severity:" />
                    <h:inputText id="batchErrSrvCdTxt"
                                 value="#{bean.selectedBatch.errorSevCode}"
                                 immediate="true"
                                 disabled="true" />
                    <h:outputText rendered="true"
                                  value="Batch Status:" />
                    <!-- 3313 -->
                    <!--   <h:selectOneMenu id="selPlantNumberAdd"
                                        disabled="#{batchMaintenanceBean.isViewAction}"
                                        binding="#{batchMaintenanceBean.batchStatusMenuForUpdate}"
                                        value="#{batchMaintenanceBean.selBatchMaintenance.batchStatusCode}" >
                           <a4j:support event="onchange" actionListener="#{batchMaintenanceBean.batchStatusChanged}"
                                        reRender="msg" immediate="true"/>
                       </h:selectOneMenu>-->
                    <h:inputText id="selPlantNumberAdd"
                                 value="#{bean.selectedBatch.batchStatusDesc}"
                                 immediate="true"
                                 disabled="true" />


                    <h:outputText rendered="true"
                                  value="Schedule Start Date/Time:" />
                    <rich:calendar popup="true"
                                   disabled="true"
                                   oninputkeypress="return onlyDateValue();"
                                   enableManualInput="true"
                                   converter="dateTime"
                                   timeZone="#{loginBean.timeZone}"
                                   datePattern="MM/dd/yyyy hh:mm a"
                                   label="Scheduled Start Date/Time"
                                   value="#{bean.selectedBatch.schedStartTimestamp}"
                                   id="schedStartTimestamp" />


                </h:panelGrid>

                <ul class="basic-form">
                    <li class="sub-heading-light">Text Fields</li>
                </ul>
                <rich:dataList var="row" id="userStringBatchAttributes"
                               styleClass="list-table"

                               value="#{bean.batchMetadataList.userStrings}">
                    <h:panelGrid id="userUtilityUpdatePanelGrid1" columns="2"
                                 styleClass="basic-form"
                                 columnClasses="column-form-label, column-form-data"
                                 cellspacing="0"
                                 cellpadding="0"
                                 style="width: 100%;">
                        <h:outputLabel value="#{row.name}: " />
                        <h:inputText size="40"
                                     disabled="false"
                                     value="#{row.value}" id="userTxtRowValue" />
                    </h:panelGrid>
                </rich:dataList>
                <ul class="basic-form">
                    <li class="sub-heading-light">Number Fields</li>
                </ul>
                <rich:dataList var="row" id="userNumericBatchAttributes"
                               value="#{bean.batchMetadataList.userNumbers}">
                    <h:panelGrid id="userUtilityUpdatePanelGrid2" columns="2"
                                 styleClass="basic-form"
                                 columnClasses="column-form-label, column-form-data"
                                 cellspacing="0"
                                 cellpadding="0"
                                 style="width: 100%;">
                        <h:outputLabel value="#{row.name}: " />
                        <h:inputText size="40"
                                     style="text-align: right"
                                     disabled="false"
                                     onkeypress="return onlyNumerics(event);"
                                     value="#{row.value}" id="userNumRowValue" >
                            <f:convertNumber pattern="###,###,###,##0.##" />
                        </h:inputText>
                    </h:panelGrid>
                </rich:dataList>
                <ul class="basic-form">
                    <li class="sub-heading-light">Date Fields</li>
                </ul>
                <rich:dataList var="row" id="userDateBatchAttributes"
                               value="#{bean.batchMetadataList.userDates}">
                    <h:panelGrid id="userUtilityUpdatePanelGrid3" columns="2"
                                 styleClass="basic-form"
                                 columnClasses="column-form-label, column-form-data"
                                 cellspacing="0"
                                 cellpadding="0"
                                 style="width: 100%;">
                        <h:outputLabel value="#{row.name}: " />
                        <rich:calendar popup="true"
                                       disabled="false"
                                       oninputkeypress="return onlyDateValue();"
                                       enableManualInput="true"
                                       converter="dateTime"
                                       timeZone="#{loginBean.timeZone}"
                                       datePattern="MM/dd/yyyy h:mm a"
                                       value="#{row.value}"
                                       style="text-align: right"
                                       label="#{row.name}"  id="uaserDatRowValue">
                        </rich:calendar>
                    </h:panelGrid>
                </rich:dataList>

            </div>
            <div>
                <table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">
                    <tbody>
                    <tr>
                        <td style="width:50px;">&#160;</td>
                        <td>Last Update User ID:</td>
                        <td>
                            <h:inputText value="#{bean.selectedBatch.updateUserId}"
                                         disabled="true" id="txtUpdateUserId"
                                         style="width:650px;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:50px;">&#160;</td>
                        <td>Last Update Timestamp:</td>
                        <td>
                            <h:inputText value="#{bean.selectedBatch.updateTimestamp}"
                                         disabled="true" id="txtUpdateTimestamp"
                                         style="width:650px;">
                                <f:converter converterId="dateTime"/>
                            </h:inputText>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="table-one-bottom">
                <ul class="right">
                    <li class="ok">
                        <h:commandLink id="btnUpdate" disabled="false"
                                       action="#{bean.updateUserFields}" />
                    </li>

                    <li class="cancel">
                        <h:commandLink id="btnCancel" disabled="false"
                                       immediate="true"
                                       action="#{bean.cancelUpdateUserFields}" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ui:component>