<ui:component xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
	            xmlns:f="http://java.sun.com/jsf/core" 
              xmlns:rich="http://richfaces.org/rich"
              xmlns:c="http://java.sun.com/jstl/core"
	            xmlns:a4j="http://richfaces.org/a4j">

		<div class="scrollContainer">
		<div class="scrollInner" id="resize">
    <rich:dataTable rowClasses="odd-row,even-row" id="batchTable" rows="#{bean.batchMaintenanceDataModel.pageSize}"
			sortMode="single" value="#{bean.batchMaintenanceDataModel}" var="row" rendered="true">

			<a4j:support id="rowClick" event="onRowClick" reRender="#{reRender}" onsubmit="#{onsubmit}"
				actionListener="#{bean.selectedRowChanged}" />

			<rich:column style="text-align: center" rendered="#{showSelected}">
				<f:facet name="header">
					<h:outputText value="Selected?" />
				</f:facet>
				<h:selectBooleanCheckbox
            	styleClass="check" id="chkSelected"
            		value="#{row.selected}" />


			</rich:column>

			<rich:column id="batchId"> 
				<f:facet name="header">
          <a4j:commandLink id="batchId-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['batchId']}"
                           value="Batch Id"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
 				</f:facet>
 				<h:outputText id="txtBatchId" value="#{row.batchId}" />
			</rich:column>

			<rich:column>
				<f:facet name="header">
 					<h:outputText value="Batch Type Desc" />
 				</f:facet> 
 				<h:outputText
 					value="#{row.batchTypeDesc}" />
 			</rich:column>

			<!-- <rich:column>
				<f:facet name="header">
					<h:outputText value="Batch Type" />
				</f:facet>
        		<h:outputText id="txtBatchTypeDesc" value="#{cacheManager.listCodeMap['IMPDEFTYPE'][row.batchTypeCode].description}" />
			</rich:column>   -->

			<rich:column>
				<f:facet name="header">
					<h:outputText value="Batch Status" />
				</f:facet>
        <h:outputText id="txtBatchStatusDesc" value="#{row.batchStatusDesc}" />
			</rich:column>

			<rich:column>
				<f:facet name="header">
					<h:outputText value="Error Severity" />
				</f:facet>
        <h:outputText id="txtErrorSevDesc" value="#{cacheManager.listCodeMap['ERRORSEV'][row.errorSevCode].description}" />
			</rich:column>

			<rich:column styleClass="column-right" id="totalBytes">
				<f:facet name="header">
					<a4j:commandLink id="totalBytes-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['totalBytes']}"
                           value="Import Bytes"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtTotalBytes" value="#{row.totalBytes}">
          			<f:convertNumber />
        		</h:outputText>
			</rich:column>

			<rich:column styleClass="column-right" id="totalRows">
				<f:facet name="header">
					<a4j:commandLink id="totalRows-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['totalRows']}"
                           value="Import Rows"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtTotalRows" value="#{row.totalRows}">
          			<f:convertNumber/>
       			 </h:outputText>
			</rich:column>

			<rich:column styleClass="column-right" id="processedBytes" >
				<f:facet name="header">
					<a4j:commandLink id="processedBytes-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['processedBytes']}"
                           value="Processed Bytes"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtProcessedBytes" value="#{row.processedBytes}">
          			<f:convertNumber/>
        		</h:outputText>
			</rich:column>

			<rich:column styleClass="column-right" id="processedRows">
				<f:facet name="header">
					<a4j:commandLink id="processedRows-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['processedRows']}"
                           value="Processed Rows"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtProcessedRows" value="#{row.processedRows}">
          			<f:convertNumber/>
       			 </h:outputText>
			</rich:column>

			<rich:column rendered="#{!(empty bean.batchMetadata.vc01Desc)}" id="vc01">
				<f:facet name="header">
					<a4j:commandLink id="vc01-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['vc01']}"
                           value="#{bean.batchMetadata.vc01Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				 <h:outputText id="txtVc01" value="#{row.batchTypeCode == 'CI' ? row.vc01Desc : row.vc01}" />
			</rich:column>
		
			<rich:column rendered="#{!(empty bean.batchMetadata.vc02Desc)}" id="vc02">
				<f:facet name="header">
					<a4j:commandLink id="vc02-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['vc02']}"
                           value="#{bean.batchMetadata.vc02Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtVc02" value="#{row.vc02}" />
			</rich:column>
			
			<rich:column rendered="#{!(empty bean.batchMetadata.vc03Desc)}" id="vc03">
				<f:facet name="header">
					<a4j:commandLink id="vc03-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['vc03']}"
                           value="#{bean.batchMetadata.vc03Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtVc03" value="#{row.vc03}" />
			</rich:column>
			
			<rich:column rendered="#{!(empty bean.batchMetadata.vc04Desc)}" id="vc04">
				<f:facet name="header">
					<a4j:commandLink id="vc04-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['vc04']}"
                           value="#{bean.batchMetadata.vc04Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtVc04" value="#{row.vc04}" />
			</rich:column>

			<rich:column rendered="#{!(empty bean.batchMetadata.vc05Desc)}" id="vc05">
				<f:facet name="header">
					<a4j:commandLink id="vc05-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['vc05']}"
                           value="#{bean.batchMetadata.vc05Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtVc05" value="#{row.vc05}" />
			</rich:column>

			<rich:column rendered="#{!(empty bean.batchMetadata.vc06Desc)}" id="vc06">
				<f:facet name="header">
					<a4j:commandLink id="vc06-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['vc06']}"
                           value="#{bean.batchMetadata.vc06Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtVc06" value="#{row.vc06}" />
			</rich:column>

			<rich:column rendered="#{!(empty bean.batchMetadata.vc07Desc)}" id="vc07">
				<f:facet name="header">
					<a4j:commandLink id="vc07-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['vc07']}"
                           value="#{bean.batchMetadata.vc07Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtVc07" value="#{row.vc07}" />
			</rich:column>
			
			<rich:column rendered="#{!(empty bean.batchMetadata.vc08Desc)}" id="vc08">
				<f:facet name="header">
					<a4j:commandLink id="vc08-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['vc08']}"
                           value="#{bean.batchMetadata.vc08Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtVc08" value="#{row.vc08}" />
			</rich:column>
			
			<rich:column rendered="#{!(empty bean.batchMetadata.vc09Desc)}" id="vc09">
				<f:facet name="header">
					<a4j:commandLink id="vc09-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['vc09']}"
                           value="#{bean.batchMetadata.vc09Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtVc09" value="#{row.vc09}" />
			</rich:column>

			<rich:column rendered="#{!(empty bean.batchMetadata.vc10Desc)}" id="vc10">
				<f:facet name="header">
					<a4j:commandLink id="vc10-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['vc10']}"
                           value="#{bean.batchMetadata.vc10Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtVc10" value="#{row.vc10}" />
			</rich:column>

			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.nu01Desc)}" id="nu01">
				<f:facet name="header">
					<a4j:commandLink id="nu01-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['nu01']}"
                           value="#{bean.batchMetadata.nu01Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtNu01" value="#{row.nu01}">
          			<f:convertNumber  pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
        		</h:outputText>
			</rich:column>
			
			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.nu02Desc)}" id="nu02">
				<f:facet name="header">
					<a4j:commandLink id="nu02-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['nu02']}"
                           value="#{bean.batchMetadata.nu02Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtNu02" value="#{row.nu02}">
          			<f:convertNumber pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
        		</h:outputText>
			</rich:column>

			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.nu03Desc)}" id="nu03">
				<f:facet name="header">
					<a4j:commandLink id="nu03-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['nu03']}"
                           value="#{bean.batchMetadata.nu03Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtNu03" value="#{row.nu03}">
          				<f:convertNumber  pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
        		</h:outputText>
			</rich:column>

			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.nu04Desc)}" id="nu04">
				<f:facet name="header">
					<a4j:commandLink id="nu04-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['nu04']}"
                           value="#{bean.batchMetadata.nu04Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtNu04" value="#{row.nu04}">
          				<f:convertNumber  pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
        		</h:outputText>
			</rich:column>

			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.nu05Desc)}" id="nu05">
				<f:facet name="header">
					<a4j:commandLink id="nu05-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['nu05']}"
                           value="#{bean.batchMetadata.nu05Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtNu05" value="#{row.nu05}">
          				<f:convertNumber  pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
        		</h:outputText>
			</rich:column>

			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.nu06Desc)}" id="nu06">
				<f:facet name="header">
					<a4j:commandLink id="nu06-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['nu06']}"
                           value="#{bean.batchMetadata.nu06Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtNu06" value="#{row.nu06}">
          				<f:convertNumber  pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
        		</h:outputText>
			</rich:column>
			
			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.nu07Desc)}" id="nu07">
				<f:facet name="header">
					<a4j:commandLink id="nu07-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['nu07']}"
                           value="#{bean.batchMetadata.nu07Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtNu07" value="#{row.nu07}">
          				<f:convertNumber  pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
        		</h:outputText>
			</rich:column>
			
			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.nu08Desc)}" id="nu08">
				<f:facet name="header">
					<a4j:commandLink id="nu08-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['nu08']}"
                           value="#{bean.batchMetadata.nu08Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtNu08" value="#{row.nu08}">
          				<f:convertNumber  pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
        		</h:outputText>
			</rich:column>
			
			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.nu09Desc)}" id="nu09">
				<f:facet name="header">
					<a4j:commandLink id="nu09-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['nu09']}"
                           value="#{bean.batchMetadata.nu09Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtNu09" value="#{row.nu09}">
          				<f:convertNumber  pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
        		</h:outputText>
			</rich:column>

			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.nu10Desc)}" id="nu10">
				<f:facet name="header">
					<a4j:commandLink id="nu10-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['nu10']}"
                           value="#{bean.batchMetadata.nu10Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtNu10" value="#{row.nu10}">
          				<f:convertNumber  pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
        		</h:outputText>
			</rich:column>
		
			<rich:column rendered="#{!(empty bean.batchMetadata.ts01Desc)}" id="ts01">
				<f:facet name="header">
					<a4j:commandLink id="ts01-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['ts01']}"
                           value="#{bean.batchMetadata.ts01Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtTs01" value="#{row.ts01}">
					
          				<c:if test="#{! isTR}">
            				<f:convertDateTime pattern="MM/dd/yyyy" /> 
          				</c:if> 
          				<c:if test="#{isGE or isTR}">
					  	<f:convertDateTime pattern="MM/dd/yyyy" />
          				</c:if>
        		</h:outputText>
			</rich:column>
			
			<rich:column rendered="#{batchTypeCodeParam == 'GM'}" id="yearPeriod">	
			<f:facet name="header">
				<a4j:commandLink id="yearPeriod-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['yearPeriod']}"
                           value="Fiscal Period"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtyearPeriod" value="#{row.yearPeriod}" />
			</rich:column>
		<rich:column rendered="#{batchTypeCodeParam == 'GM'}" id="relSeqn">
			<f:facet name="header">
				<a4j:commandLink id="relSeqn-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['relSeqn']}"
                           value="Sequence"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtrelSeqn" value="#{row.relSeqn}" />
			</rich:column>
		
			<rich:column rendered="#{!(empty bean.batchMetadata.ts02Desc)}" id="ts02">
				<f:facet name="header">
					<a4j:commandLink id="ts02-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['ts02']}"
                           value="#{bean.batchMetadata.ts02Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtTs02" value="#{row.ts02}">
            			<f:convertDateTime pattern="MM/dd/yyyy" /> 
        		</h:outputText>
			</rich:column>
		
			<rich:column rendered="#{!(empty bean.batchMetadata.ts03Desc)}" id="ts03">
				<f:facet name="header">
					<a4j:commandLink id="ts03-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['ts03']}"
                           value="#{bean.batchMetadata.ts03Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtTs03" value="#{row.ts03}">
            			<f:convertDateTime pattern="MM/dd/yyyy" /> 
        		</h:outputText>
			</rich:column>
			
			<rich:column rendered="#{!(empty bean.batchMetadata.ts04Desc)}" id="ts04">
				<f:facet name="header">
					<a4j:commandLink id="ts04-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['ts04']}"
                           value="#{bean.batchMetadata.ts04Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtTs04" value="#{row.ts04}">
            			<f:convertDateTime pattern="MM/dd/yyyy" /> 
        		</h:outputText>
			</rich:column>
			
			<rich:column rendered="#{!(empty bean.batchMetadata.ts05Desc)}" id="ts05">
				<f:facet name="header">
					<a4j:commandLink id="ts05-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['ts05']}"
                           value="#{bean.batchMetadata.ts05Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtTs05" value="#{row.ts05}">
            			<f:convertDateTime pattern="MM/dd/yyyy" /> 
        		</h:outputText>
			</rich:column>
		
			<rich:column rendered="#{!(empty bean.batchMetadata.ts06Desc)}" id="ts06">
				<f:facet name="header">
					<a4j:commandLink id="ts06-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['ts06']}"
                           value="#{bean.batchMetadata.ts06Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtTs06" value="#{row.ts06}">
            			<f:convertDateTime pattern="MM/dd/yyyy" /> 
        		</h:outputText>
			</rich:column>
		
			<rich:column rendered="#{!(empty bean.batchMetadata.ts07Desc)}" id="ts07">
				<f:facet name="header">
					<a4j:commandLink id="ts07-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['ts07']}"
                           value="#{bean.batchMetadata.ts07Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtTs07" value="#{row.ts07}">
            			<f:convertDateTime pattern="MM/dd/yyyy" /> 
        		</h:outputText>
			</rich:column>
		
			<rich:column rendered="#{!(empty bean.batchMetadata.ts08Desc)}" id="ts08">
				<f:facet name="header">
					<a4j:commandLink id="ts08-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['ts08']}"
                           value="#{bean.batchMetadata.ts08Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtTs08" value="#{row.ts08}">
            		<f:convertDateTime pattern="MM/dd/yyyy" /> 
        		</h:outputText>
			</rich:column>
		
			<rich:column rendered="#{!(empty bean.batchMetadata.ts09Desc)}" id="ts09">
				<f:facet name="header">
					<a4j:commandLink id="ts09-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['ts09']}"
                           value="#{bean.batchMetadata.ts09Desc}"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtTs09" value="#{row.ts09}">
            			<f:convertDateTime pattern="MM/dd/yyyy" /> 
        		</h:outputText>
			</rich:column>

			<rich:column rendered="#{!(empty bean.batchMetadata.uvc01Desc)}" id="uvc01">
				<f:facet name="header">
					<a4j:commandLink id="uvc01-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uvc01']}"
									 value="#{bean.batchMetadata.uvc01Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUvc01" value="#{row.uvc01}" />
			</rich:column>

			<rich:column rendered="#{!(empty bean.batchMetadata.uvc02Desc)}" id="uvc02">
				<f:facet name="header">
					<a4j:commandLink id="uvc02-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uvc02']}"
									 value="#{bean.batchMetadata.uvc02Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUvc02" value="#{row.uvc02}" />
			</rich:column>

			<rich:column rendered="#{!(empty bean.batchMetadata.uvc03Desc)}" id="uvc03">
				<f:facet name="header">
					<a4j:commandLink id="uvc03-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uvc03']}"
									 value="#{bean.batchMetadata.uvc03Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUvc03" value="#{row.uvc03}" />
			</rich:column>

			<rich:column rendered="#{!(empty bean.batchMetadata.uvc04Desc)}" id="uvc04">
				<f:facet name="header">
					<a4j:commandLink id="uvc04-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uvc04']}"
									 value="#{bean.batchMetadata.uvc04Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUvc04" value="#{row.uvc04}" />
			</rich:column>

			<rich:column rendered="#{!(empty bean.batchMetadata.uvc05Desc)}" id="uvc05">
				<f:facet name="header">
					<a4j:commandLink id="uvc05-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uvc05']}"
									 value="#{bean.batchMetadata.uvc05Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUvc05" value="#{row.uvc05}" />
			</rich:column>

			<rich:column rendered="#{!(empty bean.batchMetadata.uvc06Desc)}" id="uvc06">
				<f:facet name="header">
					<a4j:commandLink id="uvc06-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uvc06']}"
									 value="#{bean.batchMetadata.uvc06Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUvc06" value="#{row.uvc06}" />
			</rich:column>

			<rich:column rendered="#{!(empty bean.batchMetadata.uvc07Desc)}" id="uvc07">
				<f:facet name="header">
					<a4j:commandLink id="uvc07-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uvc07']}"
									 value="#{bean.batchMetadata.uvc07Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUvc07" value="#{row.uvc07}" />
			</rich:column>

			<rich:column rendered="#{!(empty bean.batchMetadata.uvc08Desc)}" id="uvc08">
				<f:facet name="header">
					<a4j:commandLink id="uvc08-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uvc08']}"
									 value="#{bean.batchMetadata.uvc08Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUvc08" value="#{row.uvc08}" />
			</rich:column>

			<rich:column rendered="#{!(empty bean.batchMetadata.uvc09Desc)}" id="uvc09">
				<f:facet name="header">
					<a4j:commandLink id="uvc09-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uvc09']}"
									 value="#{bean.batchMetadata.uvc09Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUvc09" value="#{row.uvc09}" />
			</rich:column>

			<rich:column rendered="#{!(empty bean.batchMetadata.uvc10Desc)}" id="uvc10">
				<f:facet name="header">
					<a4j:commandLink id="uvc10-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uvc10']}"
									 value="#{bean.batchMetadata.uvc10Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUvc10" value="#{row.uvc10}" />
			</rich:column>

			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.unu01Desc)}" id="unu01">
				<f:facet name="header">
					<a4j:commandLink id="unu01-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['unu01']}"
									 value="#{bean.batchMetadata.unu01Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUnu01" value="#{row.unu01}">
						<f:convertNumber  pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:outputText>
			</rich:column>


			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.unu02Desc)}" id="unu02">
				<f:facet name="header">
					<a4j:commandLink id="unu02-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['unu02']}"
									 value="#{bean.batchMetadata.unu02Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUnu02" value="#{row.unu02}">
						<f:convertNumber  pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:outputText>
			</rich:column>

			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.unu03Desc)}" id="unu03">
				<f:facet name="header">
					<a4j:commandLink id="unu03-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['unu03']}"
									 value="#{bean.batchMetadata.unu03Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUnu03" value="#{row.unu03}">
						<f:convertNumber  pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:outputText>
			</rich:column>

			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.unu04Desc)}" id="unu04">
				<f:facet name="header">
					<a4j:commandLink id="unu04-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['unu04']}"
									 value="#{bean.batchMetadata.unu04Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUnu04" value="#{row.unu04}">
						<f:convertNumber  pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:outputText>
			</rich:column>

			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.unu05Desc)}" id="unu05">
				<f:facet name="header">
					<a4j:commandLink id="unu05-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['unu05']}"
									 value="#{bean.batchMetadata.unu05Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUnu05" value="#{row.unu05}">
						<f:convertNumber  pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:outputText>
			</rich:column>

			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.unu06Desc)}" id="unu06">
				<f:facet name="header">
					<a4j:commandLink id="unu06-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['unu06']}"
									 value="#{bean.batchMetadata.unu06Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUnu06" value="#{row.unu06}">
						<f:convertNumber  pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:outputText>
			</rich:column>

			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.unu07Desc)}" id="unu07">
				<f:facet name="header">
					<a4j:commandLink id="unu07-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['unu07']}"
									 value="#{bean.batchMetadata.unu07Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUnu07" value="#{row.unu07}">
						<f:convertNumber  pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:outputText>
			</rich:column>

			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.unu08Desc)}" id="unu08">
				<f:facet name="header">
					<a4j:commandLink id="unu08-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['unu08']}"
									 value="#{bean.batchMetadata.unu08Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUnu08" value="#{row.unu08}">
						<f:convertNumber  pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:outputText>
			</rich:column>

			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.unu09Desc)}" id="unu09">
				<f:facet name="header">
					<a4j:commandLink id="unu09-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['unu09']}"
									 value="#{bean.batchMetadata.unu09Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUnu09" value="#{row.unu09}">
						<f:convertNumber  pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:outputText>
			</rich:column>

			<rich:column styleClass="column-right" rendered="#{!(empty bean.batchMetadata.unu10Desc)}" id="unu10">
				<f:facet name="header">
					<a4j:commandLink id="unu10-a4j"
									 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['unu10']}"
									 value="#{bean.batchMetadata.unu10Desc}"
									 actionListener="#{bean.sortAction}"
									 oncomplete="initScrollingTables();"
									 immediate="true"
									 reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUnu10" value="#{row.unu10}">
					<f:convertNumber  pattern=",##0.########################" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:outputText>
			</rich:column>

		<rich:column rendered="#{!(empty bean.batchMetadata.uts01Desc)}" id="uts01">
			<f:facet name="header">
				<a4j:commandLink id="uts01-a4j"
								 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uts01']}"
								 value="#{bean.batchMetadata.uts01Desc}"
								 actionListener="#{bean.sortAction}"
								 oncomplete="initScrollingTables();"
								 immediate="true"
								 reRender="batchTable" />
			</f:facet>
			<h:outputText id="txtUts01" value="#{row.uts01}">
				<f:converter converterId="dateTime" />
			</h:outputText>
		</rich:column>

		<rich:column rendered="#{!(empty bean.batchMetadata.uts02Desc)}" id="uts02">
			<f:facet name="header">
				<a4j:commandLink id="uts02-a4j"
								 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uts02']}"
								 value="#{bean.batchMetadata.uts02Desc}"
								 actionListener="#{bean.sortAction}"
								 oncomplete="initScrollingTables();"
								 immediate="true"
								 reRender="batchTable" />
			</f:facet>
			<h:outputText id="txtUts02" value="#{row.uts02}">
				<f:converter converterId="dateTime" />
			</h:outputText>
		</rich:column>

		<rich:column rendered="#{!(empty bean.batchMetadata.uts03Desc)}" id="uts03">
			<f:facet name="header">
				<a4j:commandLink id="uts03-a4j"
								 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uts03']}"
								 value="#{bean.batchMetadata.uts03Desc}"
								 actionListener="#{bean.sortAction}"
								 oncomplete="initScrollingTables();"
								 immediate="true"
								 reRender="batchTable" />
			</f:facet>
			<h:outputText id="txtUts03" value="#{row.uts03}">
				 <f:converter converterId="dateTime" /> 
			</h:outputText>
		</rich:column>

		<rich:column rendered="#{!(empty bean.batchMetadata.uts04Desc)}" id="uts04">
			<f:facet name="header">
				<a4j:commandLink id="uts04-a4j"
								 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uts04']}"
								 value="#{bean.batchMetadata.uts04Desc}"
								 actionListener="#{bean.sortAction}"
								 oncomplete="initScrollingTables();"
								 immediate="true"
								 reRender="batchTable" />
			</f:facet>
			<h:outputText id="txtUts04" value="#{row.uts04}">
				<f:converter converterId="dateTime" />
			</h:outputText>
		</rich:column>

		<rich:column rendered="#{!(empty bean.batchMetadata.uts05Desc)}" id="uts05">
			<f:facet name="header">
				<a4j:commandLink id="uts05-a4j"
								 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uts05']}"
								 value="#{bean.batchMetadata.uts05Desc}"
								 actionListener="#{bean.sortAction}"
								 oncomplete="initScrollingTables();"
								 immediate="true"
								 reRender="batchTable" />
			</f:facet>
			<h:outputText id="txtUts05" value="#{row.uts05}">
				<f:converter converterId="dateTime" />
			</h:outputText>
		</rich:column>

		<rich:column rendered="#{!(empty bean.batchMetadata.uts06Desc)}" id="uts06">
			<f:facet name="header">
				<a4j:commandLink id="uts06-a4j"
								 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uts06']}"
								 value="#{bean.batchMetadata.uts06Desc}"
								 actionListener="#{bean.sortAction}"
								 oncomplete="initScrollingTables();"
								 immediate="true"
								 reRender="batchTable" />
			</f:facet>
			<h:outputText id="txtUts06" value="#{row.uts06}">
				<f:converter converterId="dateTime" />
			</h:outputText>
		</rich:column>

		<rich:column rendered="#{!(empty bean.batchMetadata.uts07Desc)}" id="uts07">
			<f:facet name="header">
				<a4j:commandLink id="uts07-a4j"
								 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uts07']}"
								 value="#{bean.batchMetadata.uts07Desc}"
								 actionListener="#{bean.sortAction}"
								 oncomplete="initScrollingTables();"
								 immediate="true"
								 reRender="batchTable" />
			</f:facet>
			<h:outputText id="txtUts07" value="#{row.uts07}">
				<f:converter converterId="dateTime" />
			</h:outputText>
		</rich:column>

		<rich:column rendered="#{!(empty bean.batchMetadata.uts08Desc)}" id="uts08">
			<f:facet name="header">
				<a4j:commandLink id="uts08-a4j"
								 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uts08']}"
								 value="#{bean.batchMetadata.uts08Desc}"
								 actionListener="#{bean.sortAction}"
								 oncomplete="initScrollingTables();"
								 immediate="true"
								 reRender="batchTable" />
			</f:facet>
			<h:outputText id="txtUts08" value="#{row.uts08}">
				<f:converter converterId="dateTime" />
			</h:outputText>
		</rich:column>

		<rich:column rendered="#{!(empty bean.batchMetadata.uts09Desc)}" id="uts09">
			<f:facet name="header">
				<a4j:commandLink id="uts09-a4j"
								 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uts09']}"
								 value="#{bean.batchMetadata.uts09Desc}"
								 actionListener="#{bean.sortAction}"
								 oncomplete="initScrollingTables();"
								 immediate="true"
								 reRender="batchTable" />
			</f:facet>
			<h:outputText id="txtUts09" value="#{row.uts09}">
				<f:converter converterId="dateTime" />
			</h:outputText>
		</rich:column>

		<rich:column rendered="#{!(empty bean.batchMetadata.uts10Desc)}" id="uts10">
			<f:facet name="header">
				<a4j:commandLink id="uts10-a4j"
								 styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['uts10']}"
								 value="#{bean.batchMetadata.uts10Desc}"
								 actionListener="#{bean.sortAction}"
								 oncomplete="initScrollingTables();"
								 immediate="true"
								 reRender="batchTable" />
			</f:facet>
			<h:outputText id="txtUts10" value="#{row.uts10}">
				<f:converter converterId="dateTime" />
			</h:outputText>
		</rich:column>


		<rich:column id="statusUpdateUserId">
				<f:facet name="header">
					<a4j:commandLink id="statusUpdateUserId-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['statusUpdateUserId']}"
                           value="Modified User Id"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtStatusUpdateUserId" value="#{row.statusUpdateUserId}" />
			</rich:column>

			<rich:column id="updateUserId">
				<f:facet name="header">
					<a4j:commandLink id="updateUserId-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['updateUserId']}"
                           value="Update User Id"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUpdateUserId" value="#{row.updateUserId}" />
			</rich:column>
			
			<rich:column id="schedStartTimestamp">
				<f:facet name="header">
					<a4j:commandLink id="schedStartTimestamp-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['schedStartTimestamp']}"
                           value="Sched start"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtSchedStartTimestamp" value="#{row.schedStartTimestamp}">
            		<f:converter converterId="dateTime" />
        		</h:outputText>
			</rich:column>
			
			<rich:column id="actualStartTimestamp">
				<f:facet name="header">
					<a4j:commandLink id="actualStartTimestamp-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['actualStartTimestamp']}"
                           value="Actual start"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtActualStartTimestamp" value="#{row.actualStartTimestamp}">
            		<f:converter converterId="dateTime" />
        		</h:outputText>
			</rich:column>
			
			<rich:column id="actualEndTimestamp">
				<f:facet name="header">
					<a4j:commandLink id="actualEndTimestamp-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['actualEndTimestamp']}"
                           value="Actual end"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtActualEndTimestamp" value="#{row.actualEndTimestamp}">
            		<f:converter converterId="dateTime" />
        		</h:outputText>
			</rich:column>
			
			<rich:column id="entryTimestamp">
				<f:facet name="header">
					<a4j:commandLink id="entryTimestamp-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['entryTimestamp']}"
                           value="Entry timestamp"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtEntryTimestamp" value="#{row.entryTimestamp}">
            		<f:converter converterId="dateTime" />
        		</h:outputText>
			</rich:column>
		
			<rich:column id="statusUpdateTimestamp">
				<f:facet name="header">
					<a4j:commandLink id="statusUpdateTimestamp-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['statusUpdateTimestamp']}"
                           value="Modified time/date"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtStatusUpdateTimestamp" value="#{row.statusUpdateTimestamp}">
            		<f:converter converterId="dateTime" />
        		</h:outputText>
			</rich:column>
			
			<rich:column id="updateTimestamp">
				<f:facet name="header">
					<a4j:commandLink id="updateTimestamp-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['updateTimestamp']}"
                           value="Update timestamp"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:outputText id="txtUpdateTimestamp" value="#{row.updateTimestamp}">
            		<f:converter converterId="dateTime" />
        		</h:outputText>
			</rich:column>
			
			<rich:column id="heldFlag">
				<f:facet name="header">
					<a4j:commandLink id="heldFlag-a4j"
                           styleClass="sort-#{bean.batchMaintenanceDataModel.sortOrder['heldFlag']}"
                           value="Held?"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="batchTable" />
				</f:facet>
				<h:selectBooleanCheckbox styleClass="check" disabled="true" id="chkHeld" value="#{row.heldFlag == 1}" />
			</rich:column>

		</rich:dataTable>
		 <!-- scroll-inner -->
		  <a4j:outputPanel id="batchDataTest">
          <c:if test="#{bean.batchMaintenanceDataModel.rowCount == 0}">
				<div class="nodatadisplay"><h:outputText value="Click Search to retrieve." rendered="#{bean.navigatedFlag}"  /> </div>
          </c:if>
         </a4j:outputPanel>
		</div>
		 
        </div>
        <!-- scroll-container -->
		
		<rich:datascroller id="scroll" for="batchTable" maxPages="10" oncomplete="initScrollingTables();"
			style="clear:both;" align="center" stepControls="auto" ajaxSingle="false" 
      reRender="pageInfo"
			page="#{bean.batchMaintenanceDataModel.curPage}" />
		

</ui:component>
