<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
    
<rich:modalPanel id="batchIdSearch" zindex="2000" autosized="true">
	<f:facet name="header">
		<h:outputText value="Batch ID Search" />
	</f:facet>
	<h:form id="searchForm">
		
		<h:panelGrid id="batchIdSearchFormPanelGrid" columns="1" style="margin:10px;">

			<h:panelGrid id="batchIdSearchTypePanelGrid" columns="2" columnClasses="column-label,column-input">
			
				<h:outputText value="Batch Type:"/>
				<h:selectOneMenu id="selBatchType" disabled="#{handler.isDefaultSearch}"
								binding="#{handler.batchTypeInput}"/>

				<h:outputText value="Batch Status:"/>
				<h:selectOneMenu id="selBatchStatus"
							binding="#{handler.batchStatusInput}"/>
			</h:panelGrid>

			<rich:spacer height="10px"/>

			<h:panelGroup style="text-align:center;">
				<a4j:commandButton id="btnClear" value="Clear" actionListener="#{handler.clearAction}"
					reRender="searchForm"/>
				<rich:spacer width="20px"/>
				<a4j:commandButton id="btnSearch" value="Search" actionListener="#{handler.searchAction}"
					reRender="searchResults,okBtn1,okBtn2"/>
			</h:panelGroup>
	
			<rich:spacer height="10px"/>
		
			<h:panelGroup>
			<div class="scrollContainer" style="width:700px;">
			<div class="scrollInner" style="height:200px;">
			<rich:dataTable rowClasses="odd-row,even-row" id="searchResults" width="680px" 
				value="#{handler.searchList}" var="item">
				
				<a4j:support id="clickHandler" event="onRowClick" 
					onsubmit="selectRow('searchForm:searchResults', this);"
					actionListener="#{handler.selectItem}"
					reRender="okBtn1,okBtn2"/>
			
				<rich:column id="batchId">
                    <f:facet name="header">
						<a4j:commandLink id="s_batchId" styleClass="sort-#{handler.sortOrder['batchId']}" value="Batch Id" 
						actionListener="#{handler.sortAction}" oncomplete="initScrollingTables();" reRender="searchResults,okBtn1,okBtn2"/>
                    </f:facet>
                    <h:outputText value="#{item.batchId}"/>
                </rich:column>
                
				<rich:column >
					<f:facet name="header"><h:outputText value="Batch Type Desc"/></f:facet>
					<h:outputText value="#{item.batchTypeDesc}" />
				</rich:column>
                
				<rich:column >
					<f:facet name="header"><h:outputText value="Batch Status Desc"/></f:facet>
					<h:outputText value="#{item.batchStatusDesc}" />
				</rich:column>
				
				<rich:column id="errorSevCode">
                    <f:facet name="header">
						<a4j:commandLink id="s_errorSevCode" styleClass="sort-#{handler.sortOrder['errorSevCode']}" value="Error Severity Desc" 
						actionListener="#{handler.sortAction}" oncomplete="initScrollingTables();" reRender="searchResults,okBtn1,okBtn2"/>
                    </f:facet>
                    <h:outputText value="#{cacheManager.listCodeMap['ERRORSEV'][item.errorSevCode].description}" />
                </rich:column>
				
				<rich:column id="totalBytes">
                    <f:facet name="header">
						<a4j:commandLink id="s_totalBytes" styleClass="sort-#{handler.sortOrder['totalBytes']}" value="Total Bytes" 
						actionListener="#{handler.sortAction}" oncomplete="initScrollingTables();" reRender="searchResults,okBtn1,okBtn2"/>
                    </f:facet>
                    <h:outputText value="#{item.totalBytes}"/>
                </rich:column>
				
				<rich:column id="totalRows">
                    <f:facet name="header">
						<a4j:commandLink id="s_totalRows" styleClass="sort-#{handler.sortOrder['totalRows']}" value="Total Rows" 
						actionListener="#{handler.sortAction}" oncomplete="initScrollingTables();" reRender="searchResults,okBtn1,okBtn2"/>
                    </f:facet>
                    <h:outputText value="#{item.totalRows}"/>
                </rich:column>
				
				<rich:column id="schedStartTimestamp">
                    <f:facet name="header">
						<a4j:commandLink id="s_schedStartTimestamp" styleClass="sort-#{handler.sortOrder['schedStartTimestamp']}" value="Sched Start" 
						actionListener="#{handler.sortAction}" oncomplete="initScrollingTables();" reRender="searchResults,okBtn1,okBtn2"/>
                    </f:facet>
                    <h:outputText value="#{item.schedStartTimestamp}"/>
                </rich:column>
				
				<rich:column id="actualStartTimestamp">
                    <f:facet name="header">
						<a4j:commandLink id="s_actualStartTimestamp" styleClass="sort-#{handler.sortOrder['actualStartTimestamp']}" value="Actual Start" 
						actionListener="#{handler.sortAction}" oncomplete="initScrollingTables();" reRender="searchResults,okBtn1,okBtn2"/>
                    </f:facet>
                    <h:outputText value="#{item.actualStartTimestamp}"/>
                </rich:column>
				
				<rich:column id="actualEndTimestamp">
                    <f:facet name="header">
						<a4j:commandLink id="s_actualEndTimestamp" styleClass="sort-#{handler.sortOrder['actualEndTimestamp']}" value="Actual End" 
						actionListener="#{handler.sortAction}" oncomplete="initScrollingTables();" reRender="searchResults,okBtn1,okBtn2"/>
                    </f:facet>
                    <h:outputText value="#{item.actualEndTimestamp}"/>
                </rich:column>

				<rich:column id="entryTimestamp">
                    <f:facet name="header">
						<a4j:commandLink id="s_entryTimestamp" styleClass="sort-#{handler.sortOrder['entryTimestamp']}" value="Entry Timestamp" 
						actionListener="#{handler.sortAction}" oncomplete="initScrollingTables();" reRender="searchResults,okBtn1,okBtn2"/>
                    </f:facet>
                    <h:outputText value="#{item.entryTimestamp}"/>
                </rich:column>

				<rich:column id="heldFlag">
                    <f:facet name="header">
						<a4j:commandLink id="s_heldFlag" styleClass="sort-#{handler.sortOrder['heldFlag']}" value="Held?" 
						actionListener="#{handler.sortAction}" oncomplete="initScrollingTables();" reRender="searchResults,okBtn1,okBtn2"/>
                    </f:facet>
                    <h:selectBooleanCheckbox styleClass="check" value="#{item.heldFlag == 1}" disabled="#{true}"/>
                </rich:column>

			</rich:dataTable>

			</div>
			</div>
			</h:panelGroup>
			
			<rich:spacer height="10px"/>
			
			<h:panelGroup style="text-align:center;">
				<a4j:commandButton id="okBtn1" value="Ok" rendered="#{handler.isIP}"
						disabled="#{!handler.validSearchResult}" 
						actionListener="#{bean.batchIdSelectedListener}" 
						oncomplete="Richfaces.hideModalPanel('batchIdSearch'); return false;"
						reRender="#{reRender}">
				</a4j:commandButton>
				
				<a4j:commandButton id="okBtn2" value="Ok" rendered="#{!handler.isIP}"
						disabled="#{!handler.validSearchResult}" 
						actionListener="#{bean.glExtractIdSelectedListener}" 
						oncomplete="Richfaces.hideModalPanel('batchIdSearch'); return false;"
						reRender="#{reRenderGL}">
				</a4j:commandButton>
				<rich:spacer width="20px"/>
				<h:commandButton id="btnCancel" immediate="true" value="Cancel" 
						onclick="Richfaces.hideModalPanel('batchIdSearch'); return false;" />
			</h:panelGroup>
		
		</h:panelGrid>
		
	</h:form>
</rich:modalPanel>

</ui:component>