<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
<ui:define name="script">
<script type="text/javascript">
//<![CDATA[        
    function resetState()
	{ 
    	document.getElementById("custlocnForm:certStateMenuMain").value = "";
	}
    
    
    function resetCustLocnState()
    { 
    	document.getElementById("custlocnForm:custLocnStateMenuMain").value = "";
	}
//]]>
</script>
</ui:define>
 
<div id="table-one-top" style="padding: 1px 10px 1px 15px;">
	<table cellpadding="0" cellspacing="0" style="width: 100%; height: 22px;"><tr>
		<td width="70"><a4j:commandLink id="toggleCustLocnCollapse" style="text-decoration: underline;color:#0033FF;"
				action="certificates_panel" actionListener="#{handlerBean.togglePanelController.collapseTogglePanels}" ><h:outputText value="collapse all"/></a4j:commandLink></td>
		<td align="left"><a4j:commandLink id="toggleCustLocnExpand" style="text-decoration: underline;color:#0033FF;"  
  				action="certificates_panel" actionListener="#{handlerBean.togglePanelController.expandTogglePanels}" ><h:outputText value="expand all"/></a4j:commandLink></td>
		<td align="right" width="100"><h:outputText style="color:white;" value="Wildcard&#160;=&#160;%" /></td>
	</tr></table>
</div>   
   

<div id="table-one-content" style="height: auto;" onkeypress="return submitEnter(event,'custlocnForm:searchBtn')">
    
	<!-- Start toggle panel -->
	<div id="embedded-table">
	<h:panelGrid id="togglePanel" columns="1" width="100%"  >

	<rich:simpleTogglePanel id="CustomerInformationpanel"   switchType="ajax" label="Customer Information" 
		actionListener="#{handlerBean.togglePanelController.togglePanelChanged}" 
		opened="#{handlerBean.togglePanelController.togglePanels['CustomerInformationpanel']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

		<table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">
			<tr>
         		<td style="width: 20px;">&#160;</td>        
         		<td class="column-label3"><h:outputText value="Customer Number:"/></td>
          		<td style="width: 220px;"><h:inputText id="filtercustNbr" rendered="true" value="#{handlerBean.filterCustCert.custNbr}" /></td>
  
         		<td style="width: 20px;">&#160;</td>      
         		<td class="column-label3"><h:outputText value="Customer Name:"/></td>
          		<td style="width: 220px;"><h:inputText id="filtercustName" rendered="true" value="#{handlerBean.filterCustCert.custName}" /></td>
          
         		<td style="width: 20px;">&#160;</td>      
         		<td class="column-label3"><h:outputText value="Customer Active?:"/></td>
         		<td style="width: 220px;">           	
					<h:selectOneMenu id="activeCustomerMenuItems" 
							value="#{handlerBean.filterCustCert.custActiveFlag}"
							immediate="true" >
							<f:selectItems value="#{handlerBean.filterActiveCustomerMenuItems}"/>
					</h:selectOneMenu>
          		</td>
          
          		<td>&#160;</td>
         	</tr>
		
		 	<tr>
	          	<td style="width: 20px;">&#160;</td>

	          	<td class="column-label3"><h:outputText value="Entity:"/></td>
	          	<td  colspan="4">
					<h:selectOneMenu id="entityid" style="float:left;width:140px;" 
						value="#{handlerBean.entityCode}" immediate="true">
						<f:selectItems value="#{matrixCommonBean.allEntityItems}" />
         			</h:selectOneMenu>										
					<h:commandButton id="entityIdBtn" styleClass="image" 
						style="float:left;width:16px;height:16px;" 
						image="/images/search_small.png" immediate="true" 
						action="#{commonCallBack.exmpCertIdAction}">
					</h:commandButton>
	          	</td>
	          
	          	<td>&#160;</td>
	          	<td>&#160;</td>
			  	<td>&#160;</td>
	          	<td>&#160;</td>
         	</tr>
         
        </table>
    </rich:simpleTogglePanel>
    
    <rich:simpleTogglePanel id="LocationInformationPanel"   switchType="ajax" label="Location Information" 
		actionListener="#{handlerBean.togglePanelController.togglePanelChanged}" 
		opened="#{handlerBean.togglePanelController.togglePanels['LocationInformationPanel']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

		<table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">
        
         	<tr>
          		<td style="width: 20px;">&#160;</td>    
           
          		<td class="column-label3"><h:outputText value="Location Code:"/></td>
          		
          		<td style="width: 220px;"><h:inputText id="filtercustLocnCode" rendered="true" value="#{handlerBean.filterCustCert.custLocnCode}" /></td>
  
          		<td style="width: 20px;">&#160;</td>  
           		<td class="column-label3"><h:outputText value="Location Name:"/></td>
          		<td style="width: 220px;"><h:inputText id="filterlocationName" rendered="true" value="#{handlerBean.filterCustCert.custLocnName}" /></td>
          
          		<td style="width: 20px;">&#160;</td>
           		<td class="column-label3"><h:outputText value="Location Active?:"/></td>
          		<td style="width: 220px;">           	
					<h:selectOneMenu id="activeLocationMenuItems" 
							value="#{handlerBean.filterCustCert.custLocnActiveFlag}"
							immediate="true" >
							<f:selectItems value="#{handlerBean.filterActiveLocationMenuItems}"/>
					</h:selectOneMenu>
          		</td>
          		
          		<td>&#160;</td>
         	</tr>
         
         	<tr>
          		<td style="width: 20px;">&#160;</td>      
          		<td class="column-label3"><h:outputText value="Location Country:"/></td>
          		<td style="width: 220px;">           	
					<h:selectOneMenu id="custLocnCountryMenuMain" 
							value="#{handlerBean.filterCustCert.custLocnCountry}"
							immediate="true"
							valueChangeListener="#{handlerBean.filterLocnCountryChanged}" >
							<f:selectItems value="#{handlerBean.filterLocnCountryMenuItems}"/>
							<a4j:support ajaxSingle="true" event="onchange" reRender="custLocnStateMenuMain" />
					</h:selectOneMenu>
          		</td>
          
          		<td style="width: 20px;">&#160;</td>          
          		<td class="column-label3"><h:outputText value="Location State:"/></td> 
          		<td style="width: 220px;">
					<h:selectOneMenu id="custLocnStateMenuMain"
							value="#{handlerBean.filterCustCert.custLocnState}">
							<f:selectItems value="#{handlerBean.filterLocnStateMenuItems}"/>
							<a4j:support event="onchange" immediate="true" actionListener="#{handlerBean.filterLocnStateChanged}"/>
					</h:selectOneMenu>
          		</td>
          
          		<td style="width: 20px;">&#160;</td>
          		<td class="column-label3"><h:outputText value="Location City:"/></td>  
          		<td style="width: 220px;"><h:inputText id="filterlocationCity" rendered="true" value="#{handlerBean.filterCustCert.custLocnCity}" 
          								onkeypress="upperCaseInputTextKey(event,this)" onblur="upperCaseInputText(this)" />
          		</td>
          
          		<td>&#160;</td>
         	</tr>

        </table>
    </rich:simpleTogglePanel>
    
    <rich:simpleTogglePanel id="ExemptInformationPanel"   switchType="ajax" label="Exemption/Certificate Information" 
		actionListener="#{handlerBean.togglePanelController.togglePanelChanged}" 
		opened="#{handlerBean.togglePanelController.togglePanels['ExemptInformationPanel']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

		<table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">
         	<tr>
          		<td style="width: 20px;">&#160;</td>
          		<td class="column-label3"><h:outputText value="Cert. Country:"/></td>
          		<td style="width: 220px;">           	
					<h:selectOneMenu id="certCountryMenuMain" value="#{handlerBean.filterCustCert.country}" immediate="true"
							valueChangeListener="#{handlerBean.filterCountryChanged}" >
							<f:selectItems value="#{handlerBean.filterCountryMenuItems}"/>
							<a4j:support ajaxSingle="true" event="onchange" reRender="certStateMenuMain" />
					</h:selectOneMenu>
          		</td>
          
          		<td style="width: 20px;">&#160;</td>             
          		<td class="column-label3"><h:outputText value="Effective From:"/></td>
		  		<td>
					<rich:calendar
						popup="true"  enableManualInput="true" 
						required="false" label="Effective Date"
						oninputkeypress="return onlyDateValue(event);"
						value="#{handlerBean.filterCustCert.effectiveDate}"
						converter="date"
						datePattern="M/d/yyyy" 
						showApplyButton="false" id="regeffFromDate" />
		 		 </td>
           
          		<td>&#160;</td>         
          		<td class="column-label3"><h:outputText value="Expiration Thru:"/></td>
		  		<td>
					<rich:calendar
						popup="true"  enableManualInput="true" 
						required="false" label="Effective Thru"
						oninputkeypress="return onlyDateValue(event);"
						value="#{handlerBean.filterCustCert.expirationDate}"
						converter="date"
						datePattern="M/d/yyyy" 
						showApplyButton="false" id="regexpiThruDate" />
		  		</td>
		  
          		<td>&#160;</td>
         	</tr>
         
         	<tr>
          		<td style="width: 20px;">&#160;</td> 
          		<td class="column-label3"><h:outputText value="Cert. State:"/></td>
          		<td style="width: 220px;">
					<h:selectOneMenu id="certStateMenuMain"
							value="#{handlerBean.filterCustCert.state}">
							<f:selectItems value="#{handlerBean.filterStateMenuItems}"/>
							<a4j:support event="onchange" immediate="true" actionListener="#{handlerBean.filterStateChanged}"/>
					</h:selectOneMenu>

          		</td>
          
          		<td style="width: 20px;">&#160;</td>
          		<td class="column-label3"><h:outputText value="Effective Thru:"/></td>
		  		<td>
					<rich:calendar
						popup="true"  enableManualInput="true" 
						required="false" label="Effective Thru"
						oninputkeypress="return onlyDateValue(event);"
						value="#{handlerBean.filterCustCert.effectiveDateThru}"
						converter="date"
						datePattern="M/d/yyyy" 
						showApplyButton="false" id="regeffThruDate" />
		  		</td>

          		<td>&#160;</td>
          		<td class="column-label3"><h:outputText value="Exemption Type:"/></td>
          		<td style="width: 220px;">
					<h:selectOneMenu id="exemptionTypeCodeMenuMain"
							value="#{handlerBean.filterCustCert.exemptionTypeCode}">
							<f:selectItems value="#{handlerBean.filterExemptTypeMenuItems}"/>
					</h:selectOneMenu>
          		</td>

          		<td>&#160;</td>
         	</tr>
         
        </table>
    </rich:simpleTogglePanel>
    
    </h:panelGrid>
	</div>
</div>
<!-- end of table-one-content -->       
      
<div id="table-one-bottom">
  <ul class="right">
   	<li class="clear"><a4j:commandLink id="btnClear" action="#{handlerBean.resetFilterSearchAction}" reRender="CustomerInformationpanel,LocationInformationPanel,ExemptInformationPanel" /></li>
   	<li class="search"><a4j:commandLink id="searchBtn" action="#{handlerBean.retrieveFilterCustCert}" reRender="pageInfo,custTable,trScroll,validateCust,addCust,updateCust,copyaddCust,deleteCust,viewCust,messageTest" oncomplete="initScrollingTables();" /></li>
  </ul>
</div>
<!-- table-one-bottom -->

			
</ui:component>