<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">
 
<rich:dataTable rowClasses="odd-row,even-row" id="#{id}" styleClass="GridContent"
	value="#{data}" var="state" rendered="#{rendered}">

	<a4j:support event="onRowClick"
			onsubmit="selectRow('#{formName}:#{id}', this);"
			actionListener="#{bean.selectedCountryChanged}" immediate="true"
			reRender="#{reRender}"/>
			
	<rich:column sortBy="#{state.country}" >
		<f:facet name="header"><h:outputText value="Country" style="color: blue;"/></f:facet>
		<h:outputText id="rowCountry" value="#{state.country}" />
	</rich:column>
	
	<rich:column sortBy="#{state.name}" >
		<f:facet name="header"><h:outputText value="Name" style="color: blue;"/></f:facet>
		<h:outputText id="rowName" value="#{state.name}" />
	</rich:column>
	
	<c:if test="#{!quickUpdate}">
		<rich:column sortBy="#{state.activeBooleanFlag}" style="text-align:center;">
			<f:facet name="header"><h:outputText value="Active?" style="color: blue;"/></f:facet>
			<h:selectBooleanCheckbox id="chkActive" value="#{state.activeBooleanFlag}" disabled="true" styleClass="check"/>
		</rich:column>
	</c:if>
	
	<c:if test="#{quickUpdate}">
		<rich:column style="text-align:center;width:50px;">
			<f:facet name="header">	
				<h:panelGroup id="headerid" >
					<h:outputText value="Active?" style="color:red;vertical-align:3px;"/>		
					<h:selectBooleanCheckbox id="chkSelectAll" title="Select All/Deselect All?" value="#{supportingCodeBackingBean.allSelected}" style="vertical-align:baseline;width:30px;" styleClass="check" >
							<a4j:support event="onclick" reRender="#{id}" actionListener="#{supportingCodeBackingBean.selectAllChange}"
							oncomplete="initScrollingTables();"  />								
					</h:selectBooleanCheckbox>
				</h:panelGroup>		
			</f:facet>

			<h:selectBooleanCheckbox id="chkNewActive" title="Select All/Deselect All?" value="#{state.activeTempBooleanFlag}" styleClass="check" >
					<a4j:support event="onclick" reRender="#{id}" actionListener="#{supportingCodeBackingBean.selectSingleChange}" 
					  />								
			</h:selectBooleanCheckbox>
		</rich:column>
	</c:if>
	
</rich:dataTable>

</ui:component>