<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
<ui:define name="script">
<script type="text/javascript">
//<![CDATA[
         
    function resetState()
	{ 
    	document.getElementById("custlocnForm:stateMenuMain").value = "";
	}
//]]>
</script>
</ui:define>
 
<div id="table-one-top" style="padding: 1px 10px 1px 15px;">
	<table cellpadding="0" cellspacing="0" style="width: 100%; height: 22px;"><tr>
		<td width="70"><a4j:commandLink id="toggleCustLocnCollapse" style="text-decoration: underline;color:#0033FF;"
				action="cuslocn_panel" actionListener="#{handlerBean.togglePanelController.collapseTogglePanels}" ><h:outputText value="collapse all"/></a4j:commandLink></td>
		<td align="left"><a4j:commandLink id="toggleCustLocnExpand" style="text-decoration: underline;color:#0033FF;"  
  				action="cuslocn_panel" actionListener="#{handlerBean.togglePanelController.expandTogglePanels}" ><h:outputText value="expand all"/></a4j:commandLink></td>
		<td align="right" width="100"><h:outputText style="color:white;" value="Wildcard&#160;=&#160;%" /></td>
	</tr></table>
</div>   
   
<div id="table-one-content" style="height: auto;" onkeypress="return submitEnter(event,'custlocnForm:searchBtn')">
    
	<!-- Start toggle panel -->
	<div id="embedded-table">
	<h:panelGrid id="togglePanel" columns="1" width="100%"  >

	<rich:simpleTogglePanel id="CustomerInformationPanel"   switchType="ajax" label="Customer Information" 
		actionListener="#{handlerBean.togglePanelController.togglePanelChanged}" 
		opened="#{handlerBean.togglePanelController.togglePanels['CustomerInformationPanel']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

		<table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">     
	    	<tr>
	        <td style="width: 20px;">&#160;</td>
	        <td style="width: 150px;">Customer Number:</td>
	        <td style="width: 220px;"><h:inputText id="filtercustNbr" rendered="true" value="#{handlerBean.filterCust.custNbr}" /></td>
	
	        <td style="width: 20px;">&#160;</td>
	        <td style="width: 150px;">Customer Name:</td>
	        <td style="width: 220px;"><h:inputText id="filtercustName" rendered="true" value="#{handlerBean.filterCust.custName}" /></td>
	        
	        <td style="width: 20px;">&#160;</td>
	        <td style="width: 150px;">Customer Active?:</td>
	        <td style="width: 220px;">           	
			<h:selectOneMenu id="activeCustomerMenuItems" value="#{handlerBean.filterCust.activeFlag}" immediate="true" >
						<f:selectItems value="#{handlerBean.filterActiveCustomerMenuItems}"/>
			</h:selectOneMenu>
	        </td>
	        <td>&#160;</td>
	       	</tr>
	        
	       	<tr>
	        <td style="width: 20px;">&#160;</td>
	        <td style="width: 70px;">Entity:</td>
	        <td style="width: 220px;">
				<h:selectOneMenu id="entityid" style="float:left;width:140px;" 
					disabled="#{handlerBean.isEntityCheck}"
					value="#{handlerBean.entityCode}" immediate="true">
					<f:selectItems value="#{matrixCommonBean.allEntityItems}" />
         		</h:selectOneMenu>						
				<h:commandButton id="entityIdBtn" styleClass="image" 
					disabled="#{handlerBean.isEntityCheck}" style="float:left;width:16px;height:16px;" 
					image="/images/search_small.png" immediate="true" 
					action="#{commonCallBack.findCustLocIdAction}">
				</h:commandButton>
	        </td>
	        <td style="width: 20px;">&#160;</td>
	        <td>&#160;</td>
	        <td>&#160;</td>   
	        <td style="width: 20px;">&#160;</td>
	        <td>&#160;</td>
	        <td>&#160;</td>
	        <td>&#160;</td>
	       	</tr> 
		</table>
    </rich:simpleTogglePanel>
      
	<rich:simpleTogglePanel id="LocationInformationPanel" switchType="ajax" label="Location Information"  
		actionListener="#{handlerBean.togglePanelController.togglePanelChanged}"   
		opened="#{handlerBean.togglePanelController.togglePanels['LocationInformationPanel']}"
		bodyClass="togglepanel-body"  headerClass="togglepanel-header" styleClass="togglepanel" >	
      		<f:facet name="openMarker"><h:graphicImage url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage url="/images/triangle-s.png"></h:graphicImage></f:facet>
      	 
		<table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">       
	    	<tr>
	        <td style="width: 20px;">&#160;</td>
	        <td style="width: 150px;">Location Code:</td>
	        <td style="width: 220px;"><h:inputText id="filtercustLocnCode" rendered="true" value="#{handlerBean.filterCustLocn.custLocnCode}" /></td>
	        
	        <td style="width: 20px;">&#160;</td>
	        <td style="width: 150px;">Location Name:</td>
	        <td style="width: 220px;"><h:inputText id="filterlocationName" rendered="true" value="#{handlerBean.filterCustLocn.locationName}" /></td>
	        
	        <td style="width: 20px;">&#160;</td>
	   	  	<td style="width: 150px;">Location Active?:</td>
	        <td style="width: 220px;">           	
			<h:selectOneMenu id="activeLocationMenuItems" value="#{handlerBean.filterCustLocn.activeFlag}" immediate="true" >
						<f:selectItems value="#{handlerBean.filterActiveLocationMenuItems}"/>
			</h:selectOneMenu>
	        </td>
	        <td>&#160;</td>
	       	</tr>
	     
	       	<tr>
			<td style="width: 50px;">&#160;</td>
			<td style="width: 150px;">Location Country:</td>
	       	<td style="width: 220px;">           	
				<h:selectOneMenu id="countryMenuMain" value="#{handlerBean.filterCustLocn.country}" immediate="true"
						valueChangeListener="#{handlerBean.filterCountryChanged}" >
							<a4j:support event="onchange" action="cuslocn_panel"  />
						
						<f:selectItems value="#{handlerBean.filterCountryMenuItems}"/>
				</h:selectOneMenu>
	       	</td>
	       	
	       	<td>&#160;</td>
	      	<td style="width: 150px;">Location State:</td>
	        <td style="width: 220px;">
				<h:selectOneMenu id="stateMenuMain" value="#{handlerBean.filterCustLocn.state}">
						<f:selectItems value="#{handlerBean.filterStateMenuItems}"/>
				</h:selectOneMenu>
	
	        </td>
	        
	        <td>&#160;</td>
	        <td>&#160;</td>
	        <td>&#160;</td>
	        <td>&#160;</td>   
	  		</tr>
	          
		</table>
	</rich:simpleTogglePanel>
    </h:panelGrid>
	</div>
 </div>
<!-- end of table-one-content -->       
      
<div id="table-one-bottom">
	<ul class="right">
       <li class="clear"><a4j:commandLink id="btnClear" action="#{handlerBean.resetFilterSearchAction}" reRender="CustomerInformationPanel,LocationInformationPanel,stateMenuMain" /></li>
       <li class="search"><a4j:commandLink id="searchBtn" action="#{handlerBean.retrieveFilterCust}" reRender="custTable,custLocnTable,addCust,updateCust,deleteCust,viewCust,importCustLocn,addCustLocn,updateCustLocn,deleteCustLocn,viewCustLocn,addExempCert,okLookup,cancelookup,custDataTest,custLocnDataTest,trScroll,trScrollLocn,pageInfo,custLocnDisplayLabel" /></li>
    </ul>
</div>

			
</ui:component>