<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
    
<rich:modalPanel id="#{id}" zindex="2000" autosized="true">
	<f:facet name="header">
		<h:outputText value="Delete" />
	</f:facet>
	<h:form id="deleteWarningForm">
		
		<h:panelGrid id="warningPanelGrid" columns="1" style="margin:10px;">
		
			<h:outputText value="#{warning}"/>

			<rich:spacer height="10px"/>

			<h:panelGroup style="text-align:center;">
				<a4j:commandButton id="okBtn" value="Ok" 
						onclick="Richfaces.hideModalPanel('#{id}'); clickObject('#{okBtn}');"/>
				<rich:spacer width="20px"/>
				<a4j:commandButton immediate="true" value="Cancel" 
						actionListener="#{bean.cancelDeleteWarning}" 
						oncomplete="Richfaces.hideModalPanel('#{id}'); return false;" />
			</h:panelGroup>
		
		</h:panelGrid>
		
	</h:form>
</rich:modalPanel>

</ui:component>