<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
    
<rich:modalPanel id="docRefSearch" zindex="2000" autosized="true">
	<f:facet name="header">
		<h:outputText value="Reference Document Search" />
	</f:facet>
	<h:form id="searchForm">
		
		<h:panelGrid id="docRefSearchPanelGrid" columns="1" style="margin:10px;">

			<h:panelGrid id="docRefSearchDolcumentPanelGrid" columns="2" columnClasses="column-label,column-input">
			
				<h:outputText value="Reference Document Code:"/>
				<h:inputText id="txtRefDocCode" style="width:520px;" onkeyup="upperCaseInputText(this)" binding="#{handler.refDocCodeInput}"/>

				<h:outputText value="Reference Type:"/>
				<h:selectOneMenu id="txtRefTypeCode" binding="#{handler.refTypeCodeInput}">
					<f:selectItems id="ddlRefTypeItms" value="#{handler.refTypeItems}" />
				</h:selectOneMenu>

				<h:outputText value="Description:"/>
				<h:inputText id="txtDescription" style="width:520px;" binding="#{handler.descriptionInput}"/>

				<h:outputText value="Keywords"/>
				<h:inputText id="txtKeywords" style="width:520px;" binding="#{handler.keyWordsInput}"/>

				<h:outputText value="Document Name:"/>
				<h:inputText id="txtDocumentname" style="width:520px;" binding="#{handler.docNameInput}"/>

				<h:outputText value="File Path:"/>
				<h:inputText id="txtFilepath" style="width:520px;" binding="#{handler.urlInput}"/>

			</h:panelGrid>

			<rich:spacer height="10px"/>

			<h:panelGroup style="text-align:center;">
				<a4j:commandButton id="btnClear" value="Clear" actionListener="#{handler.clearAction}"
					reRender="searchForm"/>
				<rich:spacer width="20px"/>
				<a4j:commandButton id="btnSearch" value="Search" actionListener="#{handler.searchAction}"
					reRender="searchResults,okBtn" oncomplete="initScrollingTables();" />
			</h:panelGroup>
	
			<rich:spacer height="10px"/>
		
			<h:panelGroup>
			<div class="scrollContainer" style="width:800px;">
			<div class="scrollInner" style="height:200px;">
			<rich:dataTable rowClasses="odd-row,even-row" id="searchResults" width="780px" 
				value="#{handler.searchList}" var="doc" style="text-align: left;">
				
				<a4j:support id="clickHandler" event="onRowClick" status="rowstatus"
					onsubmit="selectRow('#{popupForm}:searchResults', this);"
					actionListener="#{handler.selectItem}"
					reRender="okBtn"
					oncomplete="initScrollingTables();"
				/>
			
				<rich:column sortBy="#{doc.refDocCode}" >
					<f:facet name="header" ><h:outputText value="Reference Document Code" /></f:facet>
					<h:outputText id="rowRefDocCode" value="#{doc.refDocCode}"/>
				</rich:column>
				
				<rich:column sortBy="#{doc.description}">
					<f:facet name="header"><h:outputText value="Description"/></f:facet>
					<h:outputText id="rowDescription" value="#{doc.description}" />
				</rich:column>
				
				<rich:column sortBy="#{doc.keyWords}">
					<f:facet name="header"><h:outputText value="Keywords"/></f:facet>
					<h:outputText id="rowKeywords" value="#{doc.keyWords}" />
				</rich:column>
				
				<rich:column sortBy="#{doc.docName}">
					<f:facet name="header"><h:outputText value="Document Name"/></f:facet>
					<h:outputText id="rowDocname" value="#{doc.docName}" />
				</rich:column>
				
				<rich:column sortBy="#{doc.url}">
					<f:facet name="header"><h:outputText value="Url"/></f:facet>
					<h:outputText id="rowDocurl" value="#{doc.url}" />
				</rich:column>
				
				<rich:column sortBy="#{doc.refTypeCode}">
					<f:facet name="header"><h:outputText value="Reftype"/></f:facet>
					<h:outputText id="rowRefTypeCode" value="#{doc.refTypeCode}" />
				</rich:column>
				
			</rich:dataTable>
			</div>
			</div>
			</h:panelGroup>
			
			<rich:spacer height="10px"/>
			
			<h:panelGroup style="text-align:center;">
				<a4j:commandButton id="okBtn" value="Ok"
						disabled="#{!handler.validSearchResult}" 
						actionListener="#{bean.docRefSelectedListener}" 
						oncomplete="Richfaces.hideModalPanel('docRefSearch'); return false;"
						reRender="#{reRender}">
				</a4j:commandButton>
				<rich:spacer width="20px"/>
				<h:commandButton immediate="true" value="Cancel" id="btnCancel"
						onclick="Richfaces.hideModalPanel('docRefSearch'); return false;" />
			</h:panelGroup>
		
		</h:panelGrid>
		
	</h:form>
</rich:modalPanel>

</ui:component>