<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
 
<rich:dataTable rowClasses="odd-row,even-row" id="#{id}" styleClass="GridContent"
	value="#{data}" var="doc" rendered="#{rendered}">

	<a4j:support event="onRowClick"
			onsubmit="selectRow('#{formName}:#{id}', this);"
			actionListener="#{bean.selectedDocRefDetailChanged}" immediate="true"
			reRender="#{reRender}"/>

	<rich:column sortBy="#{doc.referenceDetailPK.refDoc.refDocCode}">
		<f:facet name="header" ><h:outputText value="Reference Document Code" /></f:facet>
		<h:outputText id="rowRefDocCode" value="#{doc.referenceDetailPK.refDoc.refDocCode}"/>
	</rich:column>
	
	<rich:column sortBy="#{doc.referenceDetailPK.refDoc.description}">
		<f:facet name="header"><h:outputText value="Description"/></f:facet>
		<h:outputText id="rowDescription" value="#{doc.referenceDetailPK.refDoc.description}" />
	</rich:column>
	
	<rich:column sortBy="#{doc.referenceDetailPK.refDoc.keyWords}">
		<f:facet name="header"><h:outputText value="Keywords"/></f:facet>
		<h:outputText id="rowKeywords" value="#{doc.referenceDetailPK.refDoc.keyWords}" />
	</rich:column>
	
	<rich:column sortBy="#{doc.referenceDetailPK.refDoc.docName}">
		<f:facet name="header"><h:outputText value="Document Name"/></f:facet>
		<h:outputText id="rowDocname" value="#{doc.referenceDetailPK.refDoc.docName}" />
	</rich:column>
	
	<rich:column sortBy="#{doc.referenceDetailPK.refDoc.url}">
		<f:facet name="header"><h:outputText value="Url"/></f:facet>
		<h:outputText id="rowDocurl" value="#{doc.referenceDetailPK.refDoc.url}" />
	</rich:column>
	
	<rich:column sortBy="#{doc.referenceDetailPK.refDoc.refTypeCode}">
		<f:facet name="header"><h:outputText value="Reftype"/></f:facet>
		<h:outputText id="rowRefTypeCode" value="#{doc.referenceDetailPK.refDoc.refTypeCode}" />
	</rich:column>
</rich:dataTable> 

</ui:component>