<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
 
<rich:dataTable rowClasses="odd-row,even-row" id="#{id}" styleClass="GridContent"
	value="#{data}" var="doc" rendered="#{rendered}">

	<a4j:support event="onRowClick"
			onsubmit="selectRow('#{formName}:#{id}', this);"
			actionListener="#{bean.selectedDocRefChanged}" immediate="true"
			reRender="#{reRender}"/>

	<rich:column sortBy="#{doc.refDocCode}">
		<f:facet name="header" ><h:outputText value="Reference Document Code" style="color: blue;" /></f:facet>
		<h:outputText id="rowRefDocCode" value="#{doc.refDocCode}"/>
	</rich:column>
	
	<rich:column sortBy="#{doc.refTypeCode}">
		<f:facet name="header"><h:outputText value="Reference Type" style="color: blue;"/></f:facet>
		<h:outputText id="rowRefTypeCode" value="#{cacheManager.listCodeMap['REFTYPE'][doc.refTypeCode].description}" />
	</rich:column>

	<rich:column sortBy="#{doc.description}">
		<f:facet name="header"><h:outputText value="Description" style="color: blue;"/></f:facet>
		<h:outputText id="rowDescription" value="#{doc.description}" />
	</rich:column>
	
	<rich:column sortBy="#{doc.keyWords}">
		<f:facet name="header"><h:outputText value="Keywords" style="color: blue;"/></f:facet>
		<h:outputText id="rowKeywords" value="#{doc.keyWords}" />
	</rich:column>
	
	<rich:column sortBy="#{doc.docName}">
		<f:facet name="header"><h:outputText value="Document Name" style="color: blue;"/></f:facet>
		<h:outputText id="rowDocname" value="#{doc.docName}" />
	</rich:column>
	
	<rich:column sortBy="#{doc.url}">
		<f:facet name="header"><h:outputText value="Path/URL" style="color: blue;"/></f:facet>
		<h:outputText id="rowDocurl" value="#{doc.url}" />
	</rich:column>
	
</rich:dataTable> 

</ui:component>