<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
<ui:define name="script">
<script type="text/javascript">
//<![CDATA[
//]]>
</script>
</ui:define>
 
<div id="table-one-top" style="padding: 1px 10px 1px 15px;">
	<table cellpadding="0" cellspacing="0" style="width: 100%; height: 22px;"><tr>
		<td width="70"><a4j:commandLink id="toggleCustLocnCollapse" style="text-decoration: underline;color:#0033FF;"
				action="driver_handler_panel" actionListener="#{handlerBean.togglePanelController.collapseTogglePanels}" ><h:outputText value="collapse all"/></a4j:commandLink></td>
		<td align="left"><a4j:commandLink id="toggleCustLocnExpand" style="text-decoration: underline;color:#0033FF;"  
  				action="driver_handler_panel" actionListener="#{handlerBean.togglePanelController.expandTogglePanels}" ><h:outputText value="expand all"/></a4j:commandLink></td>
		<td align="right" width="100"><h:outputText style="color:white;" value="Wildcard&#160;=&#160;%" /></td>
	</tr></table>
</div>   
   
<div id="table-one-content" style="height: auto;" onkeypress="return submitEnter(event,'driverHandlerMain:searchBtn')">
    
	<!-- Start toggle panel -->
	<div id="embedded-table">
	<h:panelGrid id="togglePanel" columns="1" width="100%"  >

	<rich:simpleTogglePanel id="TransactionPanel"   switchType="ajax" label="Trans Dtl Information" 
		actionListener="#{handlerBean.togglePanelController.togglePanelChanged}" 
		opened="#{handlerBean.togglePanelController.togglePanels['TransactionPanel']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

		<table cellpadding="0" cellspacing="0"  id="rollover" class="ruler">            	
	       	<tr>
	       		<td class="column-spacer">&#160;</td>
				<td style="width:200px;"><h:outputText value="Trans Dtl Column Name:"/></td>
				<td style="width:255px;"><h:inputText id="txtTransDtlColumnName" disabled="true" style="width:255px;" value="#{handlerBean.driverName.transDtlColName}"/></td>
				<td style="width:255px;"><h:inputText id="txtTransDtlColumnDesc" disabled="true" style="width:255px;" value="#{handlerBean.columnDescription}"/></td>            
				<td width="20%">&#160;</td>
			</tr>
		</table>		
    </rich:simpleTogglePanel>
      
	<rich:simpleTogglePanel id="DriverPanel" switchType="ajax" label="Driver Information"  
		actionListener="#{handlerBean.togglePanelController.togglePanelChanged}"   
		opened="#{handlerBean.togglePanelController.togglePanels['DriverPanel']}"
		bodyClass="togglepanel-body"  headerClass="togglepanel-header" styleClass="togglepanel" >	
      		<f:facet name="openMarker"><h:graphicImage url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage url="/images/triangle-s.png"></h:graphicImage></f:facet>
      	 
		<table cellpadding="0" cellspacing="0"   id="rollover" class="ruler">       
	    	<tr>
				<td class="column-spacer">&#160;</td>
				<td style="width:200px;"><h:outputText value="Driver Value:"/></td>
				<td style="width:520px;">
					<h:inputText id="driverValue" style="width:520px;" onkeyup="upperCaseInputText(this)"
						binding="#{handlerBean.driverValueInput}" value="#{handlerBean.driverValue}"/></td>
				<td width="20%" >&#160;</td>
			</tr>
			
			<tr>
				<td class="column-spacer">&#160;</td>
				<td style="width:200px;"><h:outputText value="Driver Description:"/></td>
				<td style="width:520px;">
					<h:inputText id="driverDesc" style="width:520px;"
						binding="#{handlerBean.driverDescInput}" value="#{handlerBean.driverDesc}"/></td>
				<td width="20%" >&#160;</td>
			</tr>
			
			<tr>
				<td class="column-spacer">&#160;</td>
				<td style="width:200px;"><h:outputText value="User Value:"/></td>
				<td style="width:520px;">
					<h:inputText id="userValue" style="width:520px;"
						binding="#{handlerBean.userValueInput}" value="#{handlerBean.userValue}"/></td>
				<td width="20%" >&#160;</td>
			</tr>	         
		</table>	
	</rich:simpleTogglePanel>
    </h:panelGrid>
	</div>
</div>
<!-- end of table-one-content -->       
      
<div id="table-one-bottom">
	<ul class="right">
       <li class="clear"><a4j:commandLink id="btnClear" actionListener="#{handlerBean.clearAction}" reRender="TransactionPanel,DriverPanel" /></li>
       <li class="search"><a4j:commandLink id="searchBtn" actionListener="#{handlerBean.searchAction}" 
       		reRender="pageInfo,searchResults,okBtn" oncomplete="initScrollingTables();" /></li>
    </ul>
</div>

			
</ui:component>