<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
    
<rich:modalPanel id="driverSearch" zindex="2000" autosized="true">
	<f:facet name="header">
		<h:outputText value="Driver Search" />
	</f:facet>
	<h:form id="driverSearchForm">
		
		<h:panelGrid id="driverSearchPanelGrid" columns="1" style="margin:10px;">

			<h:panelGrid id="driverSearchColumnPanelGrid" columns="2" columnClasses="column-label,column-input">
			
				<h:outputText value="Trans Dtl Column Name:"/>
				<h:panelGrid id="driverSearchDescPanelGrid" columns="2" cellpadding="0" cellspacing="0">
					<h:inputText id="txtTransDtlColumnName" disabled="true" style="width:260px;" value="#{handler.driverName.transDtlColName}"/>
					<h:inputText id="txtTransDtlColumnDesc" disabled="true" style="width:260px;" value="#{handler.columnDescription}"/>
				</h:panelGrid>

				<h:outputText value="Driver Value:"/>
				<h:inputText id="driverValue" style="width:520px;" onkeyup="upperCaseInputText(this)"
					binding="#{handler.driverValueInput}" value="#{handler.driverValue}"/>

				<h:outputText value="Driver Description:"/>
				<h:inputText id="driverDesc" style="width:520px;"
					binding="#{handler.driverDescInput}" value="#{handler.driverDesc}"/>

				<h:outputText value="User Value:"/>
				<h:inputText id="userValue" style="width:520px;"
					binding="#{handler.userValueInput}" value="#{handler.userValue}"/>

			</h:panelGrid>

			<rich:spacer height="10px"/>

			<h:panelGroup style="text-align:center;">
				<a4j:commandButton id="btnClear" value="Clear" actionListener="#{handler.clearAction}"
					reRender="driverSearchForm"/>
				<rich:spacer width="20px"/>
				<a4j:commandButton id="btnSearch" value="Search" actionListener="#{handler.searchAction}"
					reRender="searchResults,okBtn"/>
			</h:panelGroup>
	
			<rich:spacer height="10px"/>
		
			<h:panelGroup>
			<div class="scrollContainer" style="width:700px;">
			<div class="scrollInner" style="height:200px;">
			<rich:dataTable rowClasses="odd-row,even-row" id="searchResults" width="680px" 
				value="#{handler.searchList}" var="row">
				
				<a4j:support id="clickHandler" event="onRowClick" status="rowstatus"
					onsubmit="selectRow('#{popupForm}:searchResults', this);"
					actionListener="#{handler.selectItem}"
					reRender="okBtn"/>
			
				<rich:column id="driverValue" sortBy="#{row.driverValue}">
					<f:facet name="header"><h:outputText value="Driver Value"/></f:facet>
					<h:outputText value="#{row.driverValue}"/>
				</rich:column>
				
				<rich:column id="driverDesc" sortBy="#{row.driverDesc}">
					<f:facet name="header"><h:outputText value="Driver Desc"/></f:facet>
					<h:outputText value="#{row.driverDesc}"/>
				</rich:column>
				
				<rich:column id="userValue" sortBy="#{row.userValue}">
					<f:facet name="header"><h:outputText value="User Value"/></f:facet>
					<h:outputText value="#{row.userValue}"/>
				</rich:column>
				
			</rich:dataTable>
			</div>
			</div>
			</h:panelGroup>
			
			<rich:spacer height="10px"/>
			
			<h:panelGroup style="text-align:center;">
				<a4j:commandButton id="okBtn" value="Ok"
						binding="#{handler.okButton}"
						disabled="#{!handler.validSearchResult}" 
						actionListener="#{handler.updateListener}" 
						oncomplete="Richfaces.hideModalPanel('driverSearch'); return false;">
				</a4j:commandButton>
				<rich:spacer width="20px"/>
				<h:commandButton id="btnCancel" immediate="true" value="Cancel" 
						onclick="Richfaces.hideModalPanel('driverSearch'); return false;" />
			</h:panelGroup>
		
		</h:panelGrid>
		
	</h:form>
</rich:modalPanel>

</ui:component>