<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
<ui:define name="script">
<script type="text/javascript">
//<![CDATA[
         
    function resetState()
	{ 
    	document.getElementById("custlocnForm:stateMenuMain").value = "";
	}
//]]>
</script>
</ui:define>
 
<div id="table-one-top" style="padding: 1px 10px 1px 15px;">
	<table cellpadding="0" cellspacing="0" style="width: 100%; height: 22px;"><tr>
		<td width="70"><a4j:commandLink id="toggleCustLocnCollapse" style="text-decoration: underline;color:#0033FF;"
				action="entities_panel" actionListener="#{handlerBean.togglePanelController.collapseTogglePanels}" ><h:outputText value="collapse all"/></a4j:commandLink></td>
		<td align="left"><a4j:commandLink id="toggleCustLocnExpand" style="text-decoration: underline;color:#0033FF;"  
  				action="entities_panel" actionListener="#{handlerBean.togglePanelController.expandTogglePanels}" ><h:outputText value="expand all"/></a4j:commandLink></td>
		<td align="right" width="100"><h:outputText style="color:white;" value="Wildcard&#160;=&#160;%" /></td>
	</tr></table>
</div>   
   
<div id="table-one-content" style="height: auto;" onkeypress="return submitEnter(event,'frmEntityMain:searchBtn')">
    
	<!-- Start toggle panel -->
	<div id="embedded-table">
	<h:panelGrid id="togglePanel" columns="1" width="100%"  >

	<rich:simpleTogglePanel id="EntityInformationPanel"   switchType="ajax" label="Entity Information" 
		actionListener="#{handlerBean.togglePanelController.togglePanelChanged}" 
		opened="#{handlerBean.togglePanelController.togglePanels['EntityInformationPanel']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

		<table cellpadding="0" cellspacing="0"  id="rollover" class="ruler">     
	       	
	       	<tr>
			<td class="column-spacer">&#160;</td>
			<td style="width:150px;">Display Only Level:</td>
			<td style="width:300px;">		
				<h:selectOneMenu id="entityLevel" value="#{handlerBean.filterEntityLevelId}" style="width:300px;" >
					<a4j:support event="onchange" action="#{handlerBean.filterEntityLevelChanged}" reRender="entityLevel1,entityLevel2,entityLevel3"/>
					
  					<f:selectItems value="#{handlerBean.entityLevelListMain}" /> 
  				</h:selectOneMenu></td>            
			<td width="40%">&#160;</td>
			</tr>
			
			<tr>
			<td class="column-spacer">&#160;</td>
			<td style="width:150px;"><h:outputText value="#{handlerBean.entityLevelMapString['1']}" />:</td>
			<td style="width:300px;">		
				<h:selectOneMenu id="entityLevel1" value="#{handlerBean.filterEntityLevelId1}" style="width:300px;" disabled="#{handlerBean.disablelevel1}" >
					<a4j:support event="onchange" action="#{handlerBean.filterEntityLevel1Changed}" reRender="entityLevel2,entityLevel3"/>
					
  					<f:selectItems value="#{handlerBean.entityLevelListMain1}" /> 
  				</h:selectOneMenu></td>            
			<td width="40%">&#160;</td>
			</tr>
			
			<tr>
			<td class="column-spacer">&#160;</td>
			<td style="width:150px;"><h:outputText value="#{handlerBean.entityLevelMapString['2']}" />:</td>
			<td style="width:300px;">		
				<h:selectOneMenu id="entityLevel2" value="#{handlerBean.filterEntityLevelId2}" style="width:300px;" disabled="#{handlerBean.disablelevel2}" >
					<a4j:support event="onchange" action="#{handlerBean.filterEntityLevel2Changed}" reRender="entityLevel3"/>
					
  					<f:selectItems value="#{handlerBean.entityLevelListMain2}" /> 
  				</h:selectOneMenu></td>            
			<td width="40%">&#160;</td>
			</tr>
			
			<tr>
			<td class="column-spacer">&#160;</td>
			<td style="width:150px;"><h:outputText value="#{handlerBean.entityLevelMapString['3']}" />:</td>
			<td style="width:300px;">		
				<h:selectOneMenu id="entityLevel3" value="#{handlerBean.filterEntityLevelId3}" style="width:300px;" disabled="#{handlerBean.disablelevel3}" >
  					<f:selectItems value="#{handlerBean.entityLevelListMain3}" /> 
  				</h:selectOneMenu></td>            
			<td width="40%">&#160;</td>
			</tr>
	        
	       	
		</table>
    </rich:simpleTogglePanel>
      
	<rich:simpleTogglePanel id="AddressInformationPanel" switchType="ajax" label="Address Information"  
		actionListener="#{handlerBean.togglePanelController.togglePanelChanged}"   
		opened="#{handlerBean.togglePanelController.togglePanels['AddressInformationPanel']}"
		bodyClass="togglepanel-body"  headerClass="togglepanel-header" styleClass="togglepanel" >	
      		<f:facet name="openMarker"><h:graphicImage url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage url="/images/triangle-s.png"></h:graphicImage></f:facet>
      	 
		<table cellpadding="0" cellspacing="0"   id="rollover" class="ruler">       
	    	<tr>
			<td class="column-spacer">&#160;</td>
			<td style="width:100px;"><h:outputText value="Address Line 1:"/></td>
			<td ><h:inputText style="width:300px;align:left;" value="#{handlerBean.addressLine1}" ></h:inputText></td>

			<td width="40%" >&#160;</td>
			</tr>
			
			<tr>
			<td class="column-spacer">&#160;</td>
			<td style="width:100px;align:left;"><h:outputText value="Address Line 2:"/></td>
			<td ><h:inputText style="width:300px;align:left;" value="#{handlerBean.addressLine2}" ></h:inputText></td>

			<td width="40%" >&#160;</td>
			</tr>
			
			<tr>
			<td class="column-spacer">&#160;</td>
			<td style="align:left;" colspan="2">
				<ui:include src="/WEB-INF/view/components/jurisdiction_screen.xhtml">
					<ui:param name="handler" value="#{handlerBean.filterHandlerShipto}"/>
					<ui:param name="id" value="jurisInputShipto"/>
					<ui:param name="readonly" value="false"/>
					<ui:param name="showheaders" value="true"/>
					<ui:param name="popupName" value="searchJurisdictionShipto"/>
					<ui:param name="popupForm" value="searchJurisdictionFormShipto"/>
				</ui:include>
			</td>
			<td width="40%" >&#160;</td>
			</tr>
	         
		</table>
	</rich:simpleTogglePanel>
    </h:panelGrid>
	</div>
 </div>
<!-- end of table-one-content -->       
      
<div id="table-one-bottom">
	<ul class="right">
       <li class="clear"><a4j:commandLink id="btnClear" action="#{handlerBean.resetFilterSearchAction}" reRender="EntityInformationPanel,AddressInformationPanel" /></li>
       <li class="search"><a4j:commandLink id="searchBtn" action="#{handlerBean.retrieveFilterSearchAction}" reRender="pageInfo,entityItemsTable,trScroll,okBtn,addBtn,copyaddBtn,updateBtn,deleteBtn,entityutilitiesId,NexusRegisId,DefaultsId,CopyToId,messageTest" oncomplete="initScrollingTables();" /></li>
    </ul>
</div>

			
</ui:component>