<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">
	
<ui:define name="script">
<script type="text/javascript">
//<![CDATA[
         
    function resetState()
	{ 
    	document.getElementById("custlocnForm:stateMenuMain").value = "";
	}
//]]>
</script>
</ui:define>
 <div id="table-one-top" style="padding: 1px 10px 1px 15px;">
 <table cellpadding="0" cellspacing="0" style="width: 100%; height: 22px;"><tr>
                          <td style="padding-left: 10px;" ><a4j:commandLink id="fiscalCollapse" style="text-decoration: underline;color:#0033FF;"
					          reRender="showhidefilter" actionListener="#{fiscalYearBean.togglePanelController.collapseTogglePanels}" ><h:outputText value="collapse all"/></a4j:commandLink></td>
				          <td style="padding-left: 10px;" ><a4j:commandLink id="togglefiscalExpand" style="text-decoration: underline;color:#0033FF;"  
  					          reRender="showhidefilter" actionListener="#{fiscalYearBean.togglePanelController.expandTogglePanels}" ><h:outputText value="expand all"/></a4j:commandLink></td>
				        <td style="width: 50%"></td>
				          <td style="padding-right: 10px; padding-left: 250px; padding-top:3px; width: 200px"></td>
	                     </tr></table>
		               </div>
		               
					   <div id="table-one-content"	onkeyup="return submitEnter(event,'transForm:searchBtn')">
					   <div id="embedded-table">
					   <h:panelGrid id="togglePanel" columns="1" width="100%" cellpadding="0" cellspacing="0" >
					   <rich:simpleTogglePanel id="FilterPanel" switchType="ajax"
										label="Filter"
										actionListener="#{fiscalYearBean.togglePanelController.togglePanelChanged}"
										opened="#{fiscalYearBean.togglePanelController.togglePanels['FilterPanel']}"
										bodyClass="togglepanel-body" headerClass="togglepanel-header"
										styleClass="togglepanel" cellpadding="0" cellspacing="0" >
					   <f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					   <f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
					  
		<table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">     
	    	<tr>
		        <td style="width: 20px;">&#160;</td>
		        <td style="width: 150px;">As of Year:</td>
		        <td style="width: 225px;"> 
		        	<h:inputText id="filterTear" value="#{fiscalYearBean.filterFisYear.fiscalYear}"/>
		        </td>
		        <td style="width: 70%;">&#160;</td>
	        </tr>
		    <tr>
				<td style="width: 50px;">&#160;</td>
				<td style="width: 150px;">Closed?:</td>
				<td style="width: 220px;">     
					<h:selectOneMenu id="yearPeriodMain"
						value="#{fiscalYearBean.filterFisYear.closeFlag}">
						<f:selectItems value="#{fiscalYearBean.filterYearPeriodMenuItems}"/>					 						
					</h:selectOneMenu>     	
				 </td>
				 <td style="width: 70%;">&#160;</td>
	       	</tr>
		</table>
    </rich:simpleTogglePanel>
    </h:panelGrid>
   	</div>
 </div>
 
<!-- end of table-one-content -->       
      
<div id="table-one-bottom">
	<ul class="right">
       <li class="clear"><a4j:commandLink id="btnClear" action="#{fiscalYearBean.resetFilterSearchAction}" reRender="fiscalYearTable,periodYearTable,addprocrule,updateprocrule,deleteprocrule,custDataTest,procruleDetailDataTest,trScroll,trScrollDetail,pageInfo,openYear,closeYear" /></li>
       <li class="search"><a4j:commandLink id="searchBtn" action="#{fiscalYearBean.retrieveFilterfiscalYear}" reRender="fiscalYearTable,periodYearTable,addprocrule,updateprocrule,deleteprocrule,custDataTest,procruleDetailDataTest,trScroll,trScrollDetail,pageInfo,openYear,closeYear" /></li>
    </ul>
</div>
</ui:component>