<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:a4j="http://richfaces.org/a4j">

<f:loadBundle basename="build_id/build_id" var="build" />

<!-- FOOTER -->
<c:if test="#{landing}">
	<div style="clear:both;"><rich:spacer height="70px" id="ftrSpacer"/></div>
</c:if>
<c:if test="#{!landing}">
	<div style="clear:both;"><rich:spacer height="35px" id="ftrSpacer"/></div>
</c:if>



<div id="footer-top">
	<div id="block-right">&#160;</div>
	<div id="block-left">&#160;</div>
</div>
		
<div id="footer">
<table style="width: 100%">
  <tr>
    <td style="width: 30%">
        v${build.appversion}  build: ${build.build_number} / ${build.build_timestamp}
        <c:if test="${not empty loginBean.license.company}">
            Licensed to: ${loginBean.license.company}
        </c:if>
        <c:if test="${not empty loginBean.license.expiration}">
            (expires on ${loginBean.license.expiration})
        </c:if>
    </td>
    <td style="width: 40%" align="center" ><h:outputText value="#{loginBean.entityInfo}" />
    </td>
    <td style="width: 30%" align="right" >Copyright &#169; by Ryan, LLC&#160;&#160;</td>
  </tr>
</table>
</div>

<a4j:log id="a4jLog" rendered="${!empty param.debug}" popup="false" level="${param.debug == 0 ? 'ALL' : 'WARN'}"
         style="width: 100%; height: 300px;"></a4j:log>

</ui:component>