<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core">

	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<!-- Don't cache pages -->
	<meta http-equiv="PRAGMA" content="NO-CACHE"/>
	<meta http-equiv="CACHE-CONTROL" content="NO-CACHE"/>
	<meta http-equiv="EXPIRES" content="0"/>

	<meta name="robots" content="all" />
	
	<script language="javascript">
		window.history.forward(1);
	</script>
	
	<!-- 5289 <title><ui:insert name="pageTitle">${build.appname} v${build.appversion}</ui:insert></title> -->
	<title><ui:insert name="pageTitle">${build.appname}</ui:insert></title>

	<!--
	<link rel="shortcut icon" href="#{facesContext.externalContext.requestContextPath}/favicon.ico" type="image/x-icon"/>
	-->
	
	<!-- 4527 -->
	<link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon" />
	
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/stylesheets/STS.css"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/stylesheets/jquery-ui-1.9.0.custom.css"/>
	
	<style type="text/css">
	</style>
	
    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/scripts/jquery-1.8.2.js"/>
    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/scripts/jquery-ui-1.9.0.custom.js"/>
    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/scripts/jquery-sd.js"/> 
 
    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/scripts/util.js"/> 
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/scripts/rollovers.js"/>

		
</ui:component>
