<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

	<rich:modalPanel id="#{popupName}" zindex="2000" autosized="true">
		<f:facet name="header">
			<h:outputText value="Jurisdiction Search" />
		</f:facet>
		<h:form id="#{popupForm}">

			<h:panelGrid columns="1" width="730px" style="margin:10px;">
				<h:panelGroup>
					<ui:include src="/WEB-INF/view/components/jurisdiction.xhtml">
						<ui:param name="handler" value="#{handler.popupHandler}" />
						<ui:param name="id" value="#{jurisId}" />
						<ui:param name="readonly" value="false" />
						<ui:param name="required" value="false" />
						<ui:param name="showheaders" value="true" />
						<ui:param name="popupName" value="" />
						<ui:param name="popupForm" value="" />
					</ui:include>
				</h:panelGroup>
 
				<rich:spacer height="10px" />

				<h:panelGroup style="text-align:center;">
					<a4j:commandButton id="btnClear" value="Clear"
						actionListener="#{handler.popupHandler.jurisdictionClearAction}"
						reRender="#{jurisId},searchResults,taxRatePanel,okBtn" />
					<rich:spacer width="20px" />
					<a4j:commandButton id="btnSearch" value="Search"
						actionListener="#{handler.popupHandler.jurisdictionSearchAction}"
						reRender="searchResults,taxRatePanel,okBtn" />
				</h:panelGroup>

				<rich:spacer height="10px" />

				<h:panelGroup>
					<div class="scrollContainer" style="width: 700px;">
					<div class="scrollInner" style="height: 200px;">
            <rich:dataTable rowClasses="odd-row,even-row" id="searchResults" width="680px"
						value="#{handler.popupHandler.jurisdictionList}" var="row">

						<a4j:support id="clickHandler" event="onRowClick" status="rowstatus" 
							onsubmit="selectRow('#{popupForm}:searchResults', this);"
							actionListener="#{handler.popupHandler.selectJurisdiction}"
							reRender="okBtn,taxRatePanel" />

						<rich:column id="geocode" sortBy="#{row.geocode}">
							<f:facet name="header">
								<h:outputText id="hdrGeocode" value="GeoCode" />
							</f:facet>
							<h:outputText value="#{row.geocode}" />
						</rich:column>

						<rich:column id="city" sortBy="#{row.city}">
							<f:facet name="header">
								<h:outputText id="hdrCity" value="City" />
							</f:facet>
							<h:outputText value="#{row.city}" />
						</rich:column>

						<rich:column id="county" sortBy="#{row.county}">
							<f:facet name="header">
								<h:outputText id="hdrCounty" value="County" />
							</f:facet>
							<h:outputText value="#{row.county}" />
						</rich:column>

						<rich:column id="state" sortBy="#{row.state}">
							<f:facet name="header">
								<h:outputText id="hdrState" value="State" />
							</f:facet>
							<h:outputText value="#{row.state}" />
						</rich:column>
						
						<rich:column id="country" sortBy="#{row.country}">
							<f:facet name="header">
								<h:outputText id="hdrCountry" value="Country" />
							</f:facet>
							<h:outputText value="#{row.country}" />
						</rich:column>

						<rich:column id="zip" sortBy="#{row.zip}">
							<f:facet name="header">
								<h:outputText id="hdrZipCode" value="ZIP Code" />
							</f:facet>
							<h:outputText value="#{row.zip}" />
						</rich:column>
						
						<c:if test="#{handler.zipPlus4Enabled}">
							<rich:column id="Plus4" sortBy="#{row.zipPlus4}">
								<f:facet name="header">
									<h:outputText id="hdrZipPlus4" value="Plus4" />
								</f:facet>
								<h:outputText value="#{row.zipplus4}" />
							</rich:column>
						</c:if>

					</rich:dataTable></div>
					</div>
				</h:panelGroup>

				<rich:spacer height="10px" />

        <h:inputHidden id="taxRatePanelDisplay" binding="#{handler.popupHandler.taxRatePanel}" rendered="#{showTaxRates}"/>
				<h:panelGroup id="taxRatePanel" style="text-align:center;"
					rendered="#{showTaxRates}">
					<div class="scrollContainer" id="taxRate_scrollcontainer" style="width: 700px;">
					<div class="scrollInner" id="taxRate_scrollinner" style="height: 100px;width: 700px;">
            <rich:dataTable rowClasses="odd-row,even-row" id="taxrateDataTable" width="680px"
						value="#{handler.popupHandler.taxRateList}" var="taxRateDTO">

						<rich:column id="jurisdictionTaxrateId" sortBy="#{taxRateDTO.jurisdictionTaxrateId}">
			<f:facet name="header"><h:outputText value="Jur. Taxrate ID" styleClass="sort-local" /></f:facet>
			<h:outputText value="#{taxRateDTO.jurisdictionTaxrateId}" />
		</rich:column>

		<rich:column id="effectiveDate" sortBy="#{taxRateDTO.effectiveDate}" sortOrder="DESCENDING" >
			<f:facet name="header"><h:outputText value="Effective Date" styleClass="sort-local" /></f:facet>
			<h:outputText value="#{taxRateDTO.effectiveDate}">
				<f:convertDateTime type="date" pattern="MM/dd/yyyy" />
			</h:outputText>
		</rich:column>

		<rich:column id="ratetypeCode" sortBy="#{TaxJurisdictionBean.rateTypeCodeToRateTypeMap[taxRateDTO.ratetypeCode]}" sortOrder="ASCENDING" >
			<f:facet name="header"><h:outputText value="Rate Type" styleClass="sort-local" /></f:facet>
			<h:outputText value="#{TaxJurisdictionBean.rateTypeCodeToRateTypeMap[taxRateDTO.ratetypeCode]}" />
		</rich:column>

		<rich:column id="expirationDate" sortBy="#{taxRateDTO.expirationDate}">
			<f:facet name="header"><h:outputText value="Expiration Date" styleClass="sort-local" /></f:facet>
			<h:outputText value="#{taxRateDTO.expirationDate}">
				<f:convertDateTime type="date" pattern="MM/dd/yyyy" />
			</h:outputText>
		</rich:column>
		
		<!-- 4061 -->
		<rich:column id="combinedSalesRate" sortBy="#{taxRateDTO.combinedSalesRate}">
			<f:facet name="header"><h:outputText value="Combined Sales Rate" styleClass="sort-local" /></f:facet>
			<h:outputText value="#{taxRateDTO.combinedSalesRate}" >
				<f:convertNumber type="number" minFractionDigits="2" maxFractionDigits="10"/>
			</h:outputText>
		</rich:column>
		
		<rich:column id="combinedUseRate" sortBy="#{taxRateDTO.combinedUseRate}">
			<f:facet name="header"><h:outputText value="Combined Use Rate" styleClass="sort-local" /></f:facet>
			<h:outputText value="#{taxRateDTO.combinedUseRate}"  >
				<f:convertNumber type="number" minFractionDigits="2" maxFractionDigits="10"/>
			</h:outputText>
		</rich:column>
		
		<!-- Display Sales Rate -->		
		<c:if test="#{TaxJurisdictionBean.displaySalesRates}">
		
		<rich:column id="countrySalesTier1Rate" >
			<f:facet name="header"><h:outputText value="Country Sales Tier1 Rate" /></f:facet>
			<h:outputText value="#{taxRateDTO.countrySalesTier1Rate}" />
		</rich:column>
	
		<rich:column id="stateSalesTier1Rate">
			<f:facet name="header"><h:outputText value="State Sales Tier1 Rate" /></f:facet>
			<h:outputText value="#{taxRateDTO.stateSalesTier1Rate}" />
		</rich:column>
		
		<rich:column id="countySalesTier1Rate">
			<f:facet name="header"><h:outputText value="County Sales Tier1 Rate" /></f:facet>
			<h:outputText value="#{taxRateDTO.countySalesTier1Rate}" />
		</rich:column>

		<rich:column id="citySalesTier1Rate">
			<f:facet name="header"><h:outputText value="City Sales Tier1 Rate" /></f:facet>
			<h:outputText value="#{taxRateDTO.citySalesTier1Rate}" />
		</rich:column>

		<rich:column id="stj1SalesRate">
			<f:facet name="header"><h:outputText value="STJ1 Sales Rate" /></f:facet>
			<h:outputText value="#{taxRateDTO.stj1SalesRate}" />
		</rich:column>
		
		<rich:column id="stj2SalesRate">
			<f:facet name="header"><h:outputText value="STJ2 Sales Rate" /></f:facet>
			<h:outputText value="#{taxRateDTO.stj2SalesRate}" />
		</rich:column>
		
		<rich:column id="stj3SalesRate">
			<f:facet name="header"><h:outputText value="STJ3 Sales Rate" /></f:facet>
			<h:outputText value="#{taxRateDTO.stj3SalesRate}" />
		</rich:column>
		
		<rich:column id="stj4SalesRate">
			<f:facet name="header"><h:outputText value="STJ4 Sales Rate" /></f:facet>
			<h:outputText value="#{taxRateDTO.stj4SalesRate}" />
		</rich:column>
		
		<rich:column id="stj5SalesRate">
			<f:facet name="header"><h:outputText value="STJ5 Sales Rate" /></f:facet>
			<h:outputText value="#{taxRateDTO.stj5SalesRate}" />
		</rich:column>

		</c:if>
		<!-- End of Sales Rate -->

		<!-- Display Use Rate -->
		<c:if test="#{TaxJurisdictionBean.displayUseRates}">
	
		<rich:column id="countryUseTier1Rate">
			<f:facet name="header"><h:outputText value="Country Use Tier1 Rate" /></f:facet>
			<h:outputText value="#{taxRateDTO.countryUseTier1Rate}" />
		</rich:column>
	
		<rich:column id="stateUseTier1Rate">
			<f:facet name="header"><h:outputText value="State Use Tier1 Rate" /></f:facet>
			<h:outputText value="#{taxRateDTO.stateUseTier1Rate}" />
		</rich:column>
		
		<rich:column id="countyUseTier1Rate">
			<f:facet name="header"><h:outputText value="County Use Tier1 Rate" /></f:facet>
			<h:outputText value="#{taxRateDTO.countyUseTier1Rate}" />
		</rich:column>

		<rich:column id="cityUseTier1Rate">
			<f:facet name="header"><h:outputText value="City Use Tier1 Rate" /></f:facet>
			<h:outputText value="#{taxRateDTO.cityUseTier1Rate}" />
		</rich:column>

		<rich:column id="stj1UseRate">
			<f:facet name="header"><h:outputText value="STJ1 Use Rate" /></f:facet>
			<h:outputText value="#{taxRateDTO.stj1UseRate}" />
		</rich:column>
		
		<rich:column id="stj2UseRate">
			<f:facet name="header"><h:outputText value="STJ2 Use Rate" /></f:facet>
			<h:outputText value="#{taxRateDTO.stj2UseRate}" />
		</rich:column>
		
		<rich:column id="stj3UseRate">
			<f:facet name="header"><h:outputText value="STJ3 Use Rate" /></f:facet>
			<h:outputText value="#{taxRateDTO.stj3UseRate}" />
		</rich:column>
		
		<rich:column id="stj4UseRate">
			<f:facet name="header"><h:outputText value="STJ4 Use Rate" /></f:facet>
			<h:outputText value="#{taxRateDTO.stj4UseRate}" />
		</rich:column>
		
		<rich:column id="stj5UseRate">
			<f:facet name="header"><h:outputText value="STJ5 Use Rate" /></f:facet>
			<h:outputText value="#{taxRateDTO.stj5UseRate}" />
		</rich:column>
	
		</c:if>
		<!-- End of Use Rate -->
<!-- PP-24			
		<rich:column id="stateSplitAmount">
			<f:facet name="header"><h:outputText value="Tier 1 Max Amount" /></f:facet>
			<h:outputText value="#{taxRateDTO.stateSplitAmount}" />
		</rich:column>

		<rich:column id="stateTier2MinAmount">
			<f:facet name="header"><h:outputText value="State Tier2 Min Amount" /></f:facet>
			<h:outputText value="#{taxRateDTO.stateTier2MinAmount}" />
		</rich:column>

		<rich:column id="stateTier2MaxAmount">
			<f:facet name="header"><h:outputText value="State Tier2 Max Amount" /></f:facet>
			<h:outputText value="#{taxRateDTO.stateTier2MaxAmount}" />
		</rich:column>

		<rich:column id="stateMaxtaxAmount">
			<f:facet name="header"><h:outputText value="State Max Tax Amount" /></f:facet>
			<h:outputText value="#{taxRateDTO.stateMaxtaxAmount}" />
		</rich:column>	
		
		<rich:column id="countySplitAmount">
			<f:facet name="header"><h:outputText value="County Split Amount" /></f:facet>
			<h:outputText value="#{taxRateDTO.countySplitAmount}" />
		</rich:column>

		<rich:column id="countyMaxtaxAmount">
			<f:facet name="header"><h:outputText value="County Max Tax Amount" /></f:facet>
			<h:outputText value="#{taxRateDTO.countyMaxtaxAmount}" />
		</rich:column>
		
		<rich:column id="citySplitAmount">
			<f:facet name="header"><h:outputText value="City Split Amount" /></f:facet>
			<h:outputText value="#{taxRateDTO.citySplitAmount}" />
		</rich:column>
-->
		<rich:column id="customFlagBoolean">
			<f:facet name="header"><h:outputText value="Custom?" /></f:facet>
			<h:selectBooleanCheckbox styleClass="check" disabled="true" value="#{taxRateDTO.customFlagBoolean}" />
		</rich:column>

		<rich:column id="modifiedFlagBoolean">
			<f:facet name="header"><h:outputText value="Modified?" /></f:facet>
			<h:selectBooleanCheckbox styleClass="check" disabled="true" value="#{taxRateDTO.modifiedFlagBoolean}" />
		</rich:column>

					</rich:dataTable></div>
					</div>
				</h:panelGroup>

				<rich:spacer height="10px" />

				<h:panelGroup style="text-align:center;">
					<a4j:commandButton id="okBtn" value="Ok"
						disabled="#{!handler.popupHandler.validSearchJurisdictionResult}"
						actionListener="#{handler.updateJurisdictionListener}"
						oncomplete="Richfaces.hideModalPanel('#{popupName}'); return false;"
						reRender="#{reRender}, updateButton, cancelButton, errorMessage"/>
						<!-- render update button, cancel buttion, error message for issue id 4541  -->
					<rich:spacer width="20px" />
					<h:commandButton id="btnCancel" immediate="true" value="Cancel"
						onclick="Richfaces.hideModalPanel('#{popupName}'); return false;" />
				</h:panelGroup>

			</h:panelGrid>

		</h:form>
	</rich:modalPanel>

</ui:component>
