<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">
 
<div id="embedded-table">
<h:panelGrid id="#{id}" columns="9" cellpadding="2" cellspacing="0">
	
	<h:outputText rendered="#{showheaders}" value="GeoCode:"/>
	<h:outputText rendered="#{showheaders}" value="City:"/>
	<h:outputText rendered="#{showheaders}" value="County:"/>
	<h:outputText rendered="#{showheaders}" value="State:"/>
	<h:outputText rendered="#{showheaders}" value="Country:"/>
	<h:outputText rendered="#{showheaders}" value="ZIP Code:"/>
	<h:outputText rendered="#{showheaders}" value=" "/>
	<h:outputText rendered="#{showheaders}" value="Plus4"/>
	<h:outputText rendered="#{showheaders}" value=" "/>
	
	<h:inputText id="#{id}_geocode" binding="#{handler.geocodeInput}" style="width:110px;"
		disabled="#{readonly}" required="#{required and !readonly}" label="GeoCode" value="#{handler.geocode}"
		onkeypress="upperCaseInputTextKey(event,this)" >
		<c:if test="#{onblurEnable}">
		<a4j:support id="#{id}_onblur_geocode1" event="onblur" actionListener="#{handler.geocodeChanged}" immediate="true" reRender="#{reRenderGeocode}" />
		</c:if>
	</h:inputText>	
	
	<h:inputText id="#{id}_city" binding="#{handler.cityInput}" style="width:110px;"
		disabled="#{readonly}" required="#{required and !readonly}" label="City" value="#{handler.city}" 
		onkeypress="upperCaseInputTextKey(event,this)" >
		<c:if test="#{onblurEnable}">
		<a4j:support id="#{id}_onblur_city1" event="onblur" actionListener="#{handler.cityChanged}" immediate="true" reRender="#{reRenderCity}" />
		</c:if>
	</h:inputText>
		
	<h:inputText id="#{id}_county" binding="#{handler.countyInput}" style="width:110px;"
		disabled="#{readonly}" required="#{required and !readonly}" label="County" value="#{handler.county}"
		onkeypress="upperCaseInputTextKey(event,this)" >
		<c:if test="#{onblurEnable}">
		<a4j:support id="#{id}_onblur_county1" event="onblur" actionListener="#{handler.countyChanged}" immediate="true" reRender="#{reRenderCounty}" />
		</c:if>
	</h:inputText>
	
	<h:panelGroup id="#{id}_jurisdictionplusPanel">
		<!-- Mantis 0003010 -->
		<h:selectOneMenu id="#{id}_state_menu" binding="#{handler.stateInput}"  rendered="#{!readonly}"
			disabled="#{readonly}" required="#{required}" label="State" value="#{handler.state}" >
			
			<f:selectItems id="#{id}_state_items" value="#{handler.stateItems}" />
			<c:if test="#{onblurEnable}">
			<a4j:support id="#{id}_state_handler" event="onchange" reRender="#{id},#{reRender}" immediate="true" actionListener="#{handler.stateSelected}"/>	
			</c:if>	
		</h:selectOneMenu>
		
		<h:inputText id="#{id}_state_menu1"  rendered="#{readonly}" disabled="#{readonly}" value="#{handler.stateDescription}"  style="width:150px;" />
	</h:panelGroup>
	
	<h:panelGroup>
    	<!-- Mantis 0003010 -->
		<h:selectOneMenu id="#{id}_country_menu" binding="#{handler.countryInput}" rendered="#{!readonly}"
			 disabled="#{readonly}" required="#{required}" label="country" value="#{handler.country}" >
			
	     	<a4j:support id="#{id}_country_handler" event="onchange" reRender="#{id}_state_items,#{id},#{reRender}"
				immediate="true" actionListener="#{handler.countrySelected}"/>
	    </h:selectOneMenu> 

		<h:inputText id="#{id}_country_menu1"  rendered="#{readonly}" disabled="#{readonly}" value="#{handler.countryDescription}"  style="width:150px;" />
	</h:panelGroup>
	
	<h:inputText id="#{id}_zip" binding="#{handler.zipInput}" disabled="#{readonly}" required="#{required and !readonly}" label="Zip Code" value="#{handler.zip}" style="width:70px;" >
		<c:if test="#{onblurEnable}">
		<a4j:support id="#{id}_onblur_zip1" event="onblur" actionListener="#{handler.zipChanged}" immediate="true" reRender="#{reRenderZip}" />
		</c:if>	
	</h:inputText>	
		
	<h:outputText value="-"/>
		
	<h:inputText id="#{id}_plus4" binding="#{handler.zipPlus4Input}" style="width: 50px;" onkeypress="return onlyNumerics(event);" maxlength="4"
		disabled="#{readonly}" required="#{required and !readonly}" label="Plus4" value="#{handler.zipPlus4}" >
		<c:if test="#{onblurEnable}">
		<a4j:support id="#{id}_onblur_zipplus" event="onblur" actionListener="#{handler.plus4Changed}" immediate="true" reRender="#{reRenderPlus4}" />
		</c:if>
	</h:inputText>
		
	<h:panelGroup>
		<a4j:commandButton id="#{id}_search" styleClass="image"
			image="/images/search_small.png" rendered="#{!empty popupName and !readonly}" 
			actionListener="#{handler.popupSearchAction}"
			oncomplete="javascript:Richfaces.showModalPanel('#{popupName}');" 
			reRender="#{popupForm}">
		</a4j:commandButton>
	</h:panelGroup>
		
</h:panelGrid>
</div>

</ui:component>