<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

<div id="embedded-table">
<h:panelGrid id="#{id}" columns="9" cellpadding="2" cellspacing="0">
	
	<h:outputText rendered="#{showheaders}" value="GeoCode:"/>
	<h:outputText rendered="#{showheaders}" value="Country:"/>
	<h:outputText rendered="#{showheaders}" value="State:"/>
	<h:outputText rendered="#{showheaders}" value="County:"/>
	<h:outputText rendered="#{showheaders}" value="City:"/>
	<h:outputText rendered="#{showheaders}" value="ZIP Code:"/>
	<c:if test="#{showzipplus4}">
		<h:outputText rendered="#{showheaders}" value=""/>
		<h:outputText rendered="#{showheaders}" value="Plus4:"/>
	</c:if>
	<c:if test="#{!showzipplus4}">
		<h:outputText rendered="#{showheaders}" value=""/>
		<h:outputText rendered="#{showheaders}" value=""/>
	</c:if>	

	<h:outputText rendered="#{showheaders}" value=" "/>
	
	<h:inputText id="#{id}_geocode" binding="#{handler.geocodeInput}" maxlength="12"
		disabled="#{readonly}" required="#{required and !readonly}" label="GeoCode" value="#{handler.geocode}"
		onkeypress="upperCaseInputTextKey(event,this)" >	
		<c:if test="#{onblurEnable}">
	  	<a4j:support id="#{id}_onblur_geocode" event="onblur" actionListener="#{handler.geocodeChanged}" immediate="true" reRender="#{reRenderGeocode}" />
	  	</c:if>
	</h:inputText>	

	<h:panelGroup>
    	<!-- Mantis 0003010 -->
		<h:selectOneMenu id="#{id}_country_menu" binding="#{handler.countryInput}" rendered="#{!readonly}" 
			 disabled="#{readonly}" required="#{required}" label="country" value="#{handler.country}" >
			<a4j:support id="#{id}_country_handler" event="onchange" reRender="#{id}_state_items,#{id},#{reRender}"
				immediate="true" actionListener="#{handler.countrySelected}"/>
			
	    </h:selectOneMenu> 
		<h:inputText id="#{id}_country_menu1"  rendered="#{readonly}" disabled="#{readonly}" value="#{handler.countryDescription}"  style="width:130px;" />
	</h:panelGroup>
	
	<h:panelGroup id="#{id}_jurisdictionPanel">
		<!-- Mantis 0003010 -->
		<h:selectOneMenu id="#{id}_state_menu" binding="#{handler.stateInput}" rendered="#{!readonly}" 
			disabled="#{readonly}" required="#{required}" label="State" value="#{handler.state}" >
			
			<f:selectItems id="#{id}_state_items" value="#{handler.stateItems}" />
			<c:if test="#{onblurEnable}">
			<a4j:support id="#{id}_state_handler" event="onchange" reRender="#{id},#{reRender}" immediate="true" actionListener="#{handler.stateSelected}"/>
			</c:if>
		</h:selectOneMenu>
	
		<h:inputText id="#{id}_state_menu1"  rendered="#{readonly}" disabled="#{readonly}" value="#{handler.stateDescription}"  style="width:130px;" />
	</h:panelGroup>	
		
	<h:inputText id="#{id}_county" binding="#{handler.countyInput}" maxlength="50"
		disabled="#{readonly}" required="#{required and !readonly}" label="County" value="#{handler.county}"
		onkeypress="upperCaseInputTextKey(event,this)" >
		<c:if test="#{onblurEnable}">
		<a4j:support id="#{id}_onblur_county" event="onblur" actionListener="#{handler.countyChanged}" immediate="true" reRender="#{reRenderCounty}" />
		</c:if>
	</h:inputText>	
	
	<h:inputText id="#{id}_city" binding="#{handler.cityInput}" maxlength="50"
		disabled="#{readonly}" required="#{required and !readonly}" label="City" value="#{handler.city}" 
		onkeypress="upperCaseInputTextKey(event,this)" >
		<c:if test="#{onblurEnable}">
		<a4j:support id="#{id}_onblur_city" event="onblur" actionListener="#{handler.cityChanged}" immediate="true" reRender="#{reRenderCity}" />
		</c:if>
	</h:inputText>
	
	<h:inputText id="#{id}_zip" binding="#{handler.zipInput}" maxlength="6" disabled="#{readonly}" required="#{required and !readonly}" label="Zip Code" value="#{handler.zip}" style="width:70px;" >
		<c:if test="#{onblurEnable}">
		<a4j:support id="#{id}_onblur_zip" event="onblur" actionListener="#{handler.zipChanged}" immediate="true" reRender="#{reRenderZip}" />
		</c:if>
	</h:inputText>	

	<c:if test="#{showzipplus4}">
		<h:outputText value="-"/>
		<h:inputText id="#{id}_zipplus4" binding="#{handler.zipPlus4Input}" maxlength="4" disabled="#{readonly}" required="#{required and !readonly}" label="Plus4" value="#{handler.zipPlus4}" style="width:40px;" >
			<c:if test="#{onblurEnable}">
			<a4j:support id="#{id}_onblur_zipplus4" event="onblur" actionListener="#{handler.plus4Changed}" immediate="true" reRender="#{reRenderZipPlus4}" />
			</c:if>
		</h:inputText>
	</c:if>
	<c:if test="#{!showzipplus4}">
		<h:outputText value=""/>
		<h:outputText value=""/>
	</c:if>

	<h:panelGroup>
		<!-- 
		<a4j:commandButton id="#{id}_search" styleClass="image"
			image="/images/search_small.png" rendered="#{!empty popupName and !readonly}" 
			immediate="true" actionListener="#{handler.popupSearchAction}"
			oncomplete="javascript:Richfaces.showModalPanel('#{popupName}',{width:'730px'});" 
			reRender="#{popupForm}">
		</a4j:commandButton>
		-->
		<!-- This is the only difference with jurisdiction.xhtml. -->
		<h:commandButton id="#{id}_search" styleClass="image" style="float:left;width:16px;height:16px;" 
			image="/images/search_small.png" rendered="#{!empty popupName and !readonly}"
			action="#{handler.findJurisdictionIdAction}">
		</h:commandButton>
		
	</h:panelGroup>
</h:panelGrid>

<c:if test="#{showStjNames}">
  <h:panelGrid id="#{id}_stjname" columns="2" columnClasses = "column-label8" cellpadding="2" cellspacing="0">
	<h:outputText  value="#{label1}"  />
	<h:inputText  id="#{id}_stj1Name" style="width:350px;" maxlength = "255" value="#{handler.stj1Name}" binding="#{handler.stj1NameInput}" disabled="#{readonly}"/>
	<h:outputText  value="#{label2}"  />
	<h:inputText id="#{id}_stj2Name" style="width:350px;" maxlength = "255" value="#{handler.stj2Name}" binding="#{handler.stj2NameInput}"  disabled="#{readonly}" />
	<h:outputText  value="#{label3}"  />
	<h:inputText  id="#{id}_stj3Name" style="width:350px;" maxlength = "255" value="#{handler.stj3Name}" binding="#{handler.stj3NameInput}" disabled="#{readonly}"/>
	<h:outputText  value="#{label4}"  />
	<h:inputText id="#{id}_stj4Name" style="width:350px;" maxlength = "255" value="#{handler.stj4Name}" binding="#{handler.stj4NameInput}"  disabled="#{readonly}"/>
	<h:outputText  value="#{label5}"  />
	<h:inputText id="#{id}_stj5Name" style="width:350px;" maxlength = "255" value="#{handler.stj5Name}" binding="#{handler.stj5NameInput}" disabled="#{readonly}" />
  </h:panelGrid>
</c:if>
</div>
</ui:component>