<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
 
<rich:dataTable rowClasses="odd-row,even-row" id="#{id}" styleClass="GridContent"
	value="#{data}" var="item" rendered="#{rendered}">

	<a4j:support event="onRowClick"
			onsubmit="selectRow('#{formName}:#{id}', this);"
			actionListener="#{bean.selectedTypeChanged}" immediate="true"
			reRender="#{reRender}"/>

	<rich:column sortBy="#{item.listCodesPK.codeCode}">
		<f:facet name="header"><h:outputText value="Code" style="color: blue;"/></f:facet>
		<h:outputText id="rowCodecode" value="#{item.listCodesPK.codeCode}"/>
	</rich:column>
	
	<rich:column sortBy="#{item.description}" width="300px">
		<f:facet name="header"><h:outputText value="Description" style="color: blue;"/></f:facet>
		<h:outputText id="rowDescription" value="#{item.description}" />
	</rich:column>
</rich:dataTable>

</ui:component>