<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<script type="text/javascript">
//<![CDATA[
function showHelp() {
  var baseUrl = document.getElementById("menuForm:helpBaseUrl").value;
  if ((baseUrl == undefined) || (baseUrl == null)){
	  return;
  }
  var pageFile = document.getElementById("menuForm:helpFile").value;
  if ((pageFile == undefined) || (pageFile == null)){
	  return;
  }
  var helpUrl = baseUrl + '/' + pageFile;
  window.open(helpUrl);
}
//]]>
</script>
<h:inputHidden id="helpBaseUrl" value="#{loginBean.helpBaseUrl}"/>
<h:inputHidden id="helpFile" value="#{loginBean.helpFile}"/>
<span class="client">Welcome&#160;<h:outputText value="#{loginBean.userDTO.userName}@#{loginBean.selectedDb}" />,&#160;<h:outputText value="#{filePreferenceBackingBean.companyDTO.name}" /></span>
<div id="header">
		<div id="links"><a href="#" onclick="showHelp();">Help</a>&#160;|&#160;
		<h:outputLink value="#{filePreferenceBackingBean.importMapProcessPreferenceDTO.defaultDirCrystal}?db=#{loginBean.selectedDb}" target="_blank"><h:outputText value="Reports"/></h:outputLink>&#160;|&#160;
		<h:commandLink id="logout" actionListener="#{loginBean.logoutActionListener}"  action="#{loginBean.logoutAction}" ><h:outputText value="Logout"/></h:commandLink></div>
           <div id="menu">
			<ul id="nav">
				<!-- 0003960
				<li><span class="admin"><h:commandLink value="" immediate="true" 
				        	action="#" rendered="#{loginBean.showAdminMenu}" /></span>
				    <ul>
				        <li><h:commandLink value="Situs Drivers" immediate="true" id="admin_situsdrivers" 
				        	action="situs_admin_drivers_main" rendered="#{loginBean.showAdminSitusDriversMenu}" /></li>	
				        <li><h:commandLink value="Situs Matrix" immediate="true" id="admin_situsmatrix"
				        	action="#{situsAdminMatrixBackingBean.processDisplayCommand}" rendered="#{loginBean.showAdminSitusMatrixMenu}" ><f:param name="command" value="situsAdminMatrix" />
				        	</h:commandLink></li>     	
				    </ul>
				</li>
				-->
				
				<li><span class="purchasingmenu"><h:commandLink value="" immediate="true" 
				        	action="#" rendered="#{loginBean.isPurchasingSelected}" /></span>
				    <ul>
				        <li><h:commandLink value="Billing/Sales" immediate="true" id="billing_admin_console1" rendered="#{loginBean.hasBillingLicense and loginBean.isPurchasingSelected}"
				        	action="login_success" actionListener="#{loginBean.selectBillingActionListener}" /></li>
				        	
				        <li><h:commandLink value="Purchasing/Use" immediate="true" id="purchasing_admin_console1" rendered="#{loginBean.hasPurchaseLicense and loginBean.isBillingSelected}"
				        	action="login_success" actionListener="#{loginBean.selectPurchasingActionListener}" /></li>
				        	
				        <li><h:commandLink value="Admin Console" immediate="true" id="security_admin_console1" rendered="#{loginBean.adminUserFlag}"
				        	action="usersecurity_main" /></li>
				    </ul>
				</li>
				
				<li><span class="billingmenu"><h:commandLink value="" immediate="true" 
				        	action="#" rendered="#{loginBean.isBillingSelected}" /></span>
				    <ul>
				        <li><h:commandLink value="Billing/Sales" immediate="true" id="billing_admin_console2" rendered="#{loginBean.hasBillingLicense and loginBean.isPurchasingSelected}"
				        	action="login_success" actionListener="#{loginBean.selectBillingActionListener}" /></li>
				        	
				        <li><h:commandLink value="Purchasing/Use" immediate="true" id="purchasing_admin_console2" rendered="#{loginBean.hasPurchaseLicense and loginBean.isBillingSelected}"
				        	action="login_success" actionListener="#{loginBean.selectPurchasingActionListener}" /></li>
				        	
				        <li><h:commandLink value="Admin Console" immediate="true" id="security_admin_console2" rendered="#{loginBean.adminUserFlag}"
				        	action="usersecurity_main" /></li>
				    </ul>
				</li>
				
				<li><span class="file"><h:commandLink value="" immediate="true" 
				        	action="#" rendered="#{loginBean.showFileMenu}" /></span>
				    <ul>
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_properties']) ? loginBean.subMenuMap['m_properties'] : 'm_properties'}"  immediate="true" id="file_preferences" 
				        	action="#{filePreferenceBackingBean.navigateAction}" /></li>
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_openentity']) ? loginBean.subMenuMap['m_openentity'] : 'm_openentity'}" immediate="true" id="security_user_entity" 
				        	action="#{openEntityBean.navigateAction}" rendered="#{loginBean.showFileEntityMenu}" /></li>
				    </ul>
				</li>
				    
				<li><span class="transactions"><h:commandLink value="" immediate="true" 
				        	action="#" rendered="#{loginBean.showTransactionsMenu}"/></span>
					<ul>
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_transactions']) ? loginBean.subMenuMap['m_transactions'] : 'm_transactions'}" immediate="true" id="transactions_process" 
				        	action="transactions_process" rendered="#{loginBean.showTransactionsProcessMenu}" /></li>
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_statistics']) ? loginBean.subMenuMap['m_statistics'] : 'm_statistics'}" immediate="true" id="transactions_db_stats" 
				        	action="transactions_db_stats" rendered="#{loginBean.showTransactionsStatisticsMenu}" /></li>  
				        
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_viewtrans']) ? loginBean.subMenuMap['m_viewtrans'] : 'm_viewtrans'}" immediate="true" id="transactions_sale" 
				        	action="transactions_sale" rendered="#{loginBean.showViewSaleTransactionsMenu}" /></li>
				        	
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_billingtesttool']) ? loginBean.subMenuMap['m_billingtesttool'] : 'm_billingtesttool'}" immediate="true" id="billing_test_tool"
                            action="billing_test_tool" rendered="#{loginBean.showUtilitiesBillingTestTool}" /></li>	
                            
                     	<!--<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_purchtesttool']) ? loginBean.subMenuMap['m_purchtesttool'] : 'm_purchtesttool'}" immediate="true" id="purchase_test_tool"
                            action="purchase_test_tool" rendered="#{loginBean.showUtilitiesPurchaseTestTool}" /></li>	--> 			        
					</ul>
				</li>
				
				<li><span class="data"><h:commandLink value="" immediate="true" 
				        	action="#" rendered="#{loginBean.showDataUtilityMenu}"/></span>
				    <ul>
				    	
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_batchesmaintstatus']) ? loginBean.subMenuMap['m_batchesmaintstatus'] : 'm_batchesmaintstatus'}" immediate="true" id="data_utility_batch" 
				        	action="#{batchMaintenanceBean.navigateAction}"  rendered="#{loginBean.showDataUtilityBatchMenu}" /></li>	
										
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_importprocess']) ? loginBean.subMenuMap['m_importprocess'] : 'm_importprocess'}" immediate="true" id="data_import_map"
						    action="#{importMapBean.navigateAction}" rendered="#{loginBean.showDataUtilityImportMapMenu}" /></li>
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_importprocesssales']) ? loginBean.subMenuMap['m_importprocesssales'] : 'm_importprocesssales'}" immediate="true" id="data_import_map_sales"
                            action="#{importMapBean.navigateAction}" rendered="#{loginBean.showDataUtilityImportMapSalesMenu}" /></li>
		
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_glextract']) ? loginBean.subMenuMap['m_glextract'] : 'm_glextract'}" immediate="true" id="data_utility_gl_extract"
				        	action="#{dataUtilityGLExtractBean.navigateAction}" rendered="#{loginBean.showDataUtilityGLExtractMenu}" /></li>
				        	
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_glmarktrans']) ? loginBean.subMenuMap['m_glmarktrans'] : 'm_glmarktrans'}" immediate="true" id="data_utility_gl_mark_trans"
				        	action="#{dataUtilityGLMarkExtractBean.navigateAction}" rendered="#{loginBean.showDataUtilityGLMarkTransMenu}" /></li>
				        	
				        	
				        	
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_taxrateupdate']) ? loginBean.subMenuMap['m_taxrateupdate'] : 'm_taxrateupdate'}" immediate="true" id="data_utility_tax_rate_update"
				        	action="#{dataUtilityTaxRateUpdatesBean.navigateAction}" rendered="#{loginBean.showDataUtilityTaxRateUpdateMenu}" /></li>	
	<!--			        <li><h:commandLink value="Trans Detail List" immediate="true" id="transactions_blob" 
				        	action="transactionblob_main" rendered="#{loginBean.showTransDetailList}" /></li>	-->
					
<!--					<li><a href="/ncsts/dataUtility/dataUtilityArchive.jsf">Archive</a></li> -->
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_taxcoderules']) ? loginBean.subMenuMap['m_taxcoderules'] : 'm_taxcoderules'}" immediate="true" id="data_utility_tax_code_rules"
							action="#{dataUtilityTaxCodeRulesBean.navigateAction}" rendered="#{loginBean.showMaintenanceTaxCodeRulesMenu}" /></li>
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_situsrules']) ? loginBean.subMenuMap['m_situsrules'] : 'm_situsrules'}" immediate="true" id="data_utility_situs_rules"
							action="#{dataUtilitySitusRulesBean.navigateAction}"  rendered="#{loginBean.showMaintenanceSitusRulesMenu}" /></li>		
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_custlocn']) ? loginBean.subMenuMap['m_custlocn'] : 'm_custlocn'}" immediate="true" id="data_utility_custlocn"
							action="#{dataUtilityCustLocnBean.navigateAction}"  rendered="#{loginBean.showMaintenanceCustLocnMenu}" /></li>
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_configimpexp']) ? loginBean.subMenuMap['m_configimpexp'] : 'm_configimpexp'}" immediate="true" id="data_utility_impexp" 
				        	action="#{configImportBean.navigateAction}"  rendered="#{loginBean.showDataUtilityBatchMenu}" /></li>
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_aidfilemanager']) ? loginBean.subMenuMap['m_aidfilemanager'] : 'm_aidfilemanager'}" immediate="true" id="aid_file_manager"
				        	action="aid_file_manager_main" rendered="#{loginBean.showAidFileManager and loginBean.aidMenuEnabled}" /></li>
					</ul>
				</li>
				
				<li><span class="maintenance"><h:commandLink value="" immediate="true" 
				        	action="#" rendered="#{loginBean.showMaintenanceMenu}"/></span>
				    <ul>	
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_taxabilitymatrix']) ? loginBean.subMenuMap['m_taxabilitymatrix'] : 'm_taxabilitymatrix'}" immediate="true" id="tax_matrix" 
							action="#{TaxMatrixViewBean.navigateAction}" rendered="#{loginBean.showMaintenanceTaxabilityMenu}"  actionListener="#{entityBackingBean.selectEntityActionListener}"/></li>
						<!--4620-->	
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_taxabilitymatrix_bill']) ? loginBean.subMenuMap['m_taxabilitymatrix_bill'] : 'm_taxabilitymatrix_bill'}" immediate="true" id="tax_matrix_sales" 
							action="tax_matrix_sales_main" rendered="#{loginBean.showMaintenanceTaxabilityMenubill}" actionListener="#{entityBackingBean.selectEntityActionListener}"/></li>
							
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_locationmatrix']) ? loginBean.subMenuMap['m_locationmatrix'] : 'm_locationmatrix'}" immediate="true" id="location_matrix"
							action="#{locationMatrixBean.navigateAction}" rendered="#{loginBean.showMaintenanceLocationMenu}" actionListener="#{locationMatrixBean.selectlocActionListener}"/></li>
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_allocationmatrix']) ? loginBean.subMenuMap['m_allocationmatrix'] : 'm_allocationmatrix'}" immediate="true" id="maintenance_allocation"
				        	action="maintanence_allocation" rendered="#{loginBean.showMaintenanceAllocationMenu}" /></li>
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_taxallocationmatrix']) ? loginBean.subMenuMap['m_taxallocationmatrix'] : 'm_taxallocationmatrix'}" immediate="true" id="maintenance_taxability_allocation"
				        	action="tax_allocation_matrix_main" rendered="#{loginBean.showMaintenanceTaxAllocationMenu}" /></li>
			        	<!-- 0003960
				        <li><h:commandLink value="Situs Matrix" immediate="true" id="user_situsmatrix"
				        	action="#{situsAdminMatrixBackingBean.processDisplayCommand}" rendered="#{loginBean.showMaintenanceSitusMatrixMenu}"  ><f:param name="command" value="situsUserMatrix" />
				        	</h:commandLink></li>
				        -->	
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_taxabilitycodes']) ? loginBean.subMenuMap['m_taxabilitycodes'] : 'm_taxabilitycodes'}" immediate="true" id="taxability_code"
							action="#{taxCodeBackingBean.navigateAction}" rendered="#{loginBean.showMaintenanceTaxabilityCodeMenu}" /></li>
							
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_taxrates']) ? loginBean.subMenuMap['m_taxrates'] : 'm_taxrates'}" immediate="true" id="maintenance_tax_rates"
				        	action="#{TaxJurisdictionBean.navigateAction}" rendered="#{loginBean.showMaintenanceTaxRateMenu}" /></li>	

				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_driverreference']) ? loginBean.subMenuMap['m_driverreference'] : 'm_driverreference'}" immediate="true" id="maintenance_driver_reference"
				        	action="maintanence_driver_reference" rendered="#{loginBean.showMaintenanceDriverReferenceMenu}" /></li>	
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_taxholiday']) ? loginBean.subMenuMap['m_taxholiday'] : 'm_taxholiday'}" immediate="true" id="taxholiday_maintenance"
				        	action="taxholiday_maintenance" rendered="#{loginBean.showTaxHolidayMaintenanceMenu}" /></li>
	  			        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_entities']) ? loginBean.subMenuMap['m_entities'] : 'm_entities'}" immediate="true" id="entities_maintenance"
				        	action="#{entityBackingBean.navigateAction}" rendered="#{loginBean.showEntitiesMaintenanceMenu}" /></li>			        	
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_vendors']) ? loginBean.subMenuMap['m_vendors'] : 'm_vendors'}" immediate="true" id="vendors_maintenance"
				        	action="#{vendorBackingBean.navigateAction}" rendered="#{loginBean.showVendorsMaintenanceMenu}" /></li>					        	 
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_customerlocation']) ? loginBean.subMenuMap['m_customerlocation'] : 'm_customerlocation'}" immediate="true" id="customerLocation_main"
				        	action="customerLocation_main" rendered="#{loginBean.showCustomerLocationMainMenu}" actionListener="#{entityBackingBean.selectEntityActionListener}"/></li>					        	
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_exempcert']) ? loginBean.subMenuMap['m_exempcert'] : 'm_exempcert'}" immediate="true" id="exemptionCertificate_main"
				        	action="exemptionCertificate_main" rendered="#{loginBean.showExemptionCertificateMainMenu}" actionListener="#{exemptionCertificateBean.selectexemptCertActionListener}"/></li>	       	
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_processrules']) ? loginBean.subMenuMap['m_processrules'] : 'm_processrules'}" immediate="true" id="processrules_main"
				        	action="#{procruleBean.navigateAction}" rendered="#{loginBean.showProcessRulesMaintenanceMenu}" /></li>	
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_processtables']) ? loginBean.subMenuMap['m_processtables'] : 'm_processtables'}" immediate="true" id="processtables_main"
				        	action="#{proctableBean.navigateAction}" rendered="#{loginBean.showProcessTablesMaintenanceMenu}" /></li>		
				        <!-- 2140	
				        <li><h:commandLink value="Nexus Definitions" immediate="true" id="nexus_def_maintenance"
				        	action="nexus_def_main" rendered="#{loginBean.showEntitiesMaintenanceMenu}" /></li>
				        -->					
					</ul>
				</li>
				
				<li><span class="security"><h:commandLink value="" immediate="true" 
				        	action="#" rendered="#{loginBean.showSecurityMenu}"/></span>
				    <ul>
				    	<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_changepassword']) ? loginBean.subMenuMap['m_changepassword'] : 'm_changepassword'}" immediate="true" id="security_password" actionListener="#{securityModuleBackingBean.changeActionListener}"
				        	action="security_password" rendered="#{loginBean.showSecurityPasswordMenu}" /></li>	
				    	<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_securitymodules']) ? loginBean.subMenuMap['m_securitymodules'] : 'm_securitymodules'}" immediate="true" id="security_modules"
				        	action="security_modules" rendered="#{loginBean.showSecurityModulesMenu}" /></li>				  
					</ul>
				</li>
				
				<li></li>
				
<!--				<li><span class="utilities"><h:commandLink value="" immediate="true" 
				        	action="utilities_menu" rendered="#{loginBean.showUtilitiesMenu}" /></span></li>  -->
				<li><span class="utilities"><h:commandLink value="" immediate="true" 
				        	action="#" rendered="#{loginBean.showUtilitiesMenu}"/></span>
				    <ul>	
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_runmcp']) ? loginBean.subMenuMap['m_runmcp'] : 'm_runmcp'}" immediate="true" id="run_mcp"
							action="#{utilitiesMenuBean.runMasterControlProgram}" rendered="#{loginBean.showUtilitiesRunMCP}" /></li>
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_buildindexes']) ? loginBean.subMenuMap['m_buildindexes'] : 'm_buildindexes'}" immediate="true" id="build_indices"
							action="#{utilitiesMenuBean.buildIndices}" rendered="#{loginBean.showUtilitiesBuildIndices}" /></li>
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_reweightmatrixes']) ? loginBean.subMenuMap['m_reweightmatrixes'] : 'm_reweightmatrixes'}" immediate="true" id="reweight_matrices"
							action="#{utilitiesMenuBean.reweightMatrices}" rendered="#{loginBean.showUtilitiesReweightMatrices}" /></li>
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_resetsequences']) ? loginBean.subMenuMap['m_resetsequences'] : 'm_resetsequences'}" immediate="true" id="reset_sequences"
							action="#{utilitiesMenuBean.resetAllSequences}" rendered="#{loginBean.showUtilitiesResetSequences}" /></li>
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_rebuilddriverreferences']) ? loginBean.subMenuMap['m_rebuilddriverreferences'] : 'm_rebuilddriverreferences'}" immediate="true" id="rebuild_driver_refs"
							action="#{utilitiesMenuBean.rebuildDriverReferences}" rendered="#{loginBean.showUtilitiesRebuildDriverRefs}" /></li>
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_truncatebcptables']) ? loginBean.subMenuMap['m_truncatebcptables'] : 'm_truncatebcptables'}" immediate="true" id="truncate_bcp"
							action="#{utilitiesMenuBean.truncateBCPTables}" rendered="#{loginBean.showUtilitiesTruncateBCPTables}" /></li>
					    <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_apitest']) ? loginBean.subMenuMap['m_apitest'] : 'm_apitest'}" immediate="true" id="api_test"
                            action="api_rest" rendered="#{loginBean.showUtilitiesApiTest}" /></li>
                        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_runbatchprocess']) ? loginBean.subMenuMap['m_runbatchprocess'] : 'm_runbatchprocess'}" immediate="true" id="run_batch_process"
                            action="#{utilitiesMenuBean.runBatchProcess}" rendered="#{loginBean.showRunBatchProcess}" /></li>
                        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_checkthebus']) ? loginBean.subMenuMap['m_checkthebus'] : 'm_checkthebus'}" immediate="true" id="fix_job"
							action="#{utilitiesMenuBean.fixBrokenJob}" rendered="#{loginBean.showFixBrokenJob}" /></li>
					</ul>
				</li>

				<li><span class="setup"><h:commandLink value="" immediate="true" 
				        	action="#" rendered="#{loginBean.showSetupMenu}"/></span>
				     <ul>
				     	<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_databasesetup']) ? loginBean.subMenuMap['m_databasesetup'] : 'm_databasesetup'}" immediate="true" id="setup_database"
				        	action="setup_database" rendered="#{loginBean.showSetupDatabaseMenu}" /></li>
				     	<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_datadefinitions']) ? loginBean.subMenuMap['m_datadefinitions'] : 'm_datadefinitions'}" immediate="true" id="setup_data_definitions"
				        	action="setup_data_definitions" rendered="#{loginBean.showSetupDataDefinitionsMenu}" /></li>
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_matrixdrivers']) ? loginBean.subMenuMap['m_matrixdrivers'] : 'm_matrixdrivers'}" immediate="true" id="setup_matrix_drivers"
				        	action="setup_matrix_drivers" rendered="#{loginBean.showSetupMatrixDriversMenu}" /></li>
				        <!-- 0003960	
				        <li><h:commandLink value="Situs Drivers" immediate="true" id="situs_user_drivers_main"
				        	action="situs_user_drivers_main" rendered="#{loginBean.showSetupSitusDriversMenu}" /></li>	
				        -->	
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_importdefinitionsandspecs']) ? loginBean.subMenuMap['m_importdefinitionsandspecs'] : 'm_importdefinitionsandspecs'}" immediate="true" id="setup_import_defs"
				        	action="setup_import_defs" rendered="#{loginBean.showSetupImportDefinitionsMenu}" /></li>
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_lists']) ? loginBean.subMenuMap['m_lists'] : 'm_lists'}" immediate="true" id="setup_lists"
				        	action="setup_lists" rendered="#{loginBean.showSetupListsMenu}" /></li>
						<li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_dbstatisticslines']) ? loginBean.subMenuMap['m_dbstatisticslines'] : 'm_dbstatisticslines'}" immediate="true" id="setup_db_stat_lines"
				        	action="setup_db_stat_lines" rendered="#{loginBean.showSetupDatabaseStatLinesMenu}" /></li>
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_supportingcodes']) ? loginBean.subMenuMap['m_supportingcodes'] : 'm_supportingcodes'}" immediate="true" id="setup_supporting_codes"
				        	action="setup_supporting_codes" rendered="#{loginBean.showSetupSupportingCodesMenu}" /></li>
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_entitystructurelevels']) ? loginBean.subMenuMap['m_entitystructurelevels'] : 'm_entitystructurelevels'}" immediate="true" id="security_entity_structure"
				        	action="security_entity_structure" rendered="#{loginBean.showSecurityEntityStructureMenu}" /></li>
				        <li><h:commandLink value="#{(not empty loginBean.subMenuMap['m_fiscal_years']) ? loginBean.subMenuMap['m_fiscal_years'] : 'm_fiscal_years'}" immediate="true" id="fiscal_years"
				         	action="fiscal_years" rendered="#{loginBean.showFiscalYearMenu}" /></li>
					</ul>
				</li>
			</ul>
		</div>
<div id="logo"><h:graphicImage value="/images/corner_pinpoint.gif" /></div>
</div>

</ui:component>
