<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
    
<rich:modalPanel id="panel" zindex="2000" autosized="true" >
                <f:facet name="header">
                    <h:outputText value="Network Directory Browser"/>
                </f:facet>
	<h:form id="panelForm">
	<h:panelGroup style="text-align:center;" id="panelgroupID">
			<div class="scrollContainer" style="width:900px;">
			<div class="scrollInner" style="height:200px;">	


							<rich:dataTable rowClasses="odd-row,even-row" id="dir"
				value="#{handler.directories}" var="dto"
				rows="100">
				<a4j:support event="onRowClick" id="a4jsupportOnRowClick"
						onsubmit="selectRow('panelForm:dir', this);"
						actionListener="#{handler.selectedDirectoryRowChanged}"
						reRender="#{handler.forRender}"/>
				<rich:column id="col1Path" style="width:550px">
								<f:facet name="header">
									<h:outputText id="pathIDHeader" styleClass="headerText" value="Path" />
								</f:facet>					
					<h:outputText id="filePath1" value="#{dto.filepath}" />
				</rich:column>		
				<rich:column id="col2Path" style="width:150px">
								<f:facet name="header">
									<h:outputText id="pathID1Value" styleClass="headerText" value="Path" />
								</f:facet>					
					<h:outputText id="filetype1" value="#{dto.filetype}" />
				</rich:column>	
				<rich:column id="col3" width="200px">
								<f:facet name="header">
									<h:outputText id="fileName1" styleClass="headerText" value="Name" />
								</f:facet>				
					<h:outputText value="#{dto.filename}" id="fileName2"/> 
				</rich:column>
			</rich:dataTable>	
						
			</div>
			</div>
			
			</h:panelGroup>

<table cellpadding="0" cellspacing="0" width="900" id="rollover" class="ruler">
<tbody>
<tr>
<td style="width:400px;">&#160;</td>


<td style="width:120px;"></td><td>
		    <a4j:commandButton id="back" value="Back" 
		        disabled="#{!handler.displayBackButton}"
                actionListener="#{handler.backSearchDirectoryActionListener}"    
			     reRender="dir" limitToList="true" >
            </a4j:commandButton> &#160;&#160;&#160;&#160;&#160;
           
		    <a4j:commandButton id="clear" value="Ok" 
                actionListener="#{handler.clearSearchDirectoryActionListener}"
                oncomplete="Richfaces.hideModalPanel('panel'); return false;"     
			    reRender="dir, back, clear" >
			    </a4j:commandButton>
</td>
</tr>

</tbody>
</table>				

</h:form>
            
        </rich:modalPanel>

</ui:component>