<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
<ui:define name="script">
<script type="text/javascript">
//<![CDATA[
         
    function resetState()
	{ 
    	document.getElementById("custlocnForm:stateMenuMain").value = "";
	}
//]]>
</script>
</ui:define>
 
<div id="table-one-top" style="padding: 1px 10px 1px 15px;">
	<table cellpadding="0" cellspacing="0" style="width: 100%; height: 22px;"><tr>
		<td width="70"><a4j:commandLink id="toggleCustLocnCollapse" style="text-decoration: underline;color:#0033FF;"
				action="nexus_panel" actionListener="#{handlerBean.togglePanelController.collapseTogglePanels}" ><h:outputText value="collapse all"/></a4j:commandLink></td>
		<td align="left"><a4j:commandLink id="toggleCustLocnExpand" style="text-decoration: underline;color:#0033FF;"  
  				action="nexus_panel" actionListener="#{handlerBean.togglePanelController.expandTogglePanels}" ><h:outputText value="expand all"/></a4j:commandLink></td>
  				
  				
  				<td align="left" width="450"></td>
  				
  				
  				
		<td align="right" width="100"><h:outputText style="color:white;" value="Wildcard&#160;=&#160;%" /></td>
	</tr></table>
</div>   
   
<div id="table-one-content" style="height: auto;" onkeypress="return submitEnter(event,'frmEntityMain:searchBtn')">
    
	<!-- Start toggle panel -->
	<div id="embedded-table">
	<h:panelGrid id="togglePanel" columns="1" width="100%"  >
      
	<rich:simpleTogglePanel id="JurisdictionInformationPanel" switchType="ajax" label="Jurisdiction Information"  
		actionListener="#{handlerBean.togglePanelController.togglePanelChanged}"   
		opened="#{handlerBean.togglePanelController.togglePanels['JurisdictionInformationPanel']}"
		bodyClass="togglepanel-body"  headerClass="togglepanel-header" styleClass="togglepanel" >	
      		<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
      	 
		<table cellpadding="0" cellspacing="0"   id="rollover" class="ruler">       
				
			
			<tr>
				<td class="column-spacer">&#160;</td>
				<td style="align:left;" colspan="2">
					<ui:include src="/WEB-INF/view/components/jurisdiction_screen.xhtml">
						<ui:param name="handler" value="#{handlerBean.filterHandlerShipto}"/>
						<ui:param name="id" value="jurisInput"/>
						<ui:param name="readonly" value="false"/>
						<ui:param name="showheaders" value="true"/>
						<ui:param name="showzipplus4" value="true"/>
						<ui:param name="popupName" value="searchJurisdiction"/>
						<ui:param name="popupForm" value="searchJurisdictionForm"/>
					</ui:include>
				</td>
				<td width="40%" >&#160;</td>
			</tr>
	 		
			<tr>
			<td class="column-spacer">&#160;</td>
			<td width="100%" colspan="2">
				<table cellpadding="0" cellspacing="0"   id="rollover" class="ruler">       
					<tr>
						<td style="width:20px;"><h:outputText value="STJ:"/></td>
						<td ><h:inputText style="width:400px;align:left;" value="#{handlerBean.stj}" ></h:inputText></td>
					</tr>
				</table>
			</td>
			<td width="40%" >&#160;</td>
			</tr>
   
		</table>
	</rich:simpleTogglePanel>
    </h:panelGrid>
	</div>
 </div>
<!-- end of table-one-content -->       
      
<div id="table-one-bottom">
	<ul class="right">
       <li class="clear"><a4j:commandLink id="btnClear" action="#{handlerBean.resetFilterSearchAction}" reRender="JurisdictionInformationPanel,entityTreeId,msg" /></li>
       <li class="search"><a4j:commandLink id="searchBtn" action="#{handlerBean.retrieveFilterSearchAction}" reRender="entityTreeId,definitionTable,updateBtn,deleteBtn,msg" oncomplete="initScrollingTables();" /></li>
    </ul>
</div>

			
</ui:component>