<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<script type="text/javascript">
//<![CDATA[

//]]>
</script>

<span class="client">&#160;</span>
<div id="header">
		
           <div id="menu">
			<ul id="nav">
		
				
				
			</ul>
		</div>
<div id="logo"><h:graphicImage value="/images/corner_pinpoint.gif" /></div>
</div>

</ui:component>
