<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
<ui:define name="script">
<script type="text/javascript">
//<![CDATA[
         
   
//]]>
</script>
</ui:define>
 
<table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">
	<tbody>	
	
		<tr height="20px">
			<th>&#160;</th>
			<th>In Column</th>
			<th>&#160;</th>
			<th>Override?</th>
			<th>&#160;</th>
			<th>Value</th>
			<th width="100%">&#160;</th>
		</tr>		
		
		<c:forEach var="inColumnObject" items="#{procruleBean.inSelectObject}" varStatus="loopCounter" >
		
        <tr height="20px">
        	<td>&#160;</td>
			<td><h:outputText id="incolumnName_#{loopCounter.index}"  style="width: 150px;" value="#{inColumnObject.columnName}" /></td>
			<td>&#160;</td>
			
			<a4j:outputPanel rendered="#{inColumnObject.displayCheck}">
			<td>
				<h:selectBooleanCheckbox id="indisplayCheck_#{loopCounter.index}" rendered="#{inColumnObject.displayCheck}" value="#{inColumnObject.selected}" styleClass="check" >
					
				<a4j:support id="ajaxindisplayCheck_#{loopCounter.index}" event="onclick"  action="proctableselect_panel" reRender="showhidefilter" ></a4j:support>
				
	
				</h:selectBooleanCheckbox>
			</td>
			</a4j:outputPanel> 
			
			<a4j:outputPanel rendered="#{!inColumnObject.displayCheck}">
			<td>
				<h:outputText style="width: 150px;" value="&#160;" rendered="#{!inColumnObject.displayCheck}" />
			</td>
			</a4j:outputPanel> 
			
			<td>&#160;</td>
			
			<a4j:outputPanel id="incolumnValuePanel_#{loopCounter.index}" rendered="#{inColumnObject.selected}">   
				<td><h:inputText id="incolumnValue_#{loopCounter.index}" style="width: 200px;" value="#{inColumnObject.columnValue}" /></td>
			</a4j:outputPanel> 
			<a4j:outputPanel id="incolumnValuePanelSpace_#{loopCounter.index}" rendered="#{!inColumnObject.selected}">   
				<td>&#160;</td>
			</a4j:outputPanel> 
			
			<td width="100%">&#160;</td>
        </tr>
    	</c:forEach>
    	
    	<td colspan="7">&#160;</td>
    	
    	<tr height="20px">
			<th>&#160;</th>
			<th>Out Column</th>
			<th>&#160;</th>
			<th>Select?</th>
			<th>&#160;</th>
			<th>&#160;</th>
			<th width="100%">&#160;</th>
		</tr>		
		
		<c:forEach var="outColumnObject" items="#{procruleBean.outSelectObject}" varStatus="outloopCounter" >
		
        <tr height="20px">
        	<td>&#160;</td>
			<td><h:outputText id="outcolumnName_#{outloopCounter.index}"  style="width: 150px;" value="#{outColumnObject.columnName}" /></td>
			<td>&#160;</td>
			<td><h:selectBooleanCheckbox id="outdisplayCheck_#{outloopCounter.index}" rendered="#{outColumnObject.displayCheck}" value="#{outColumnObject.selected}" styleClass="check" /></td>
			<td>&#160;</td>
			<td>&#160;</td>
			<td width="100%">&#160;</td>
        </tr>
    	</c:forEach>
    	
    	<td colspan="7">&#160;</td>
	</tbody>
	</table>

			
</ui:component>