<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
<ui:define name="script">
<script type="text/javascript">
//<![CDATA[
         
   
//]]>
</script>
</ui:define>
 
<div id="table-one-top" style="padding: 1px 10px 1px 15px;">
	<table cellpadding="0" cellspacing="0" style="width: 100%; height: 22px;"><tr>
		<td width="70"><a4j:commandLink id="toggleCustLocnCollapse" style="text-decoration: underline;color:#0033FF;"
				action="processrules_panel" actionListener="#{handlerBean.togglePanelController.collapseTogglePanels}" ><h:outputText value="collapse all"/></a4j:commandLink></td>
		<td align="left"><a4j:commandLink id="toggleCustLocnExpand" style="text-decoration: underline;color:#0033FF;"  
  				action="processrules_panel" actionListener="#{handlerBean.togglePanelController.expandTogglePanels}" ><h:outputText value="expand all"/></a4j:commandLink></td>
		<td align="right" width="100"><h:outputText style="color:white;" value="Wildcard&#160;=&#160;%" /></td>
	</tr></table>
</div>   
   
<div id="table-one-content" style="height: auto;" onkeypress="return submitEnter(event,'procruleForm:searchBtn')">
    
	<!-- Start toggle panel -->
	<div id="embedded-table">
	<h:panelGrid id="togglePanel" columns="1" width="100%"  >

	<rich:simpleTogglePanel id="ProcrulePanel"   switchType="ajax" label="Rules" 
		actionListener="#{handlerBean.togglePanelController.togglePanelChanged}" 
		opened="#{handlerBean.togglePanelController.togglePanels['ProcrulePanel']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

		<table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">     
	    	<tr>
	        <td style="width: 20px;">&#160;</td>
	        <td style="width: 200px;">Rule name:</td>
	        <td style="width: 300px;"><h:inputText id="filterProcruleprocruleName" style="width:300px;" maxlength = "40" rendered="true" value="#{handlerBean.filterProcrule.procruleName}" /></td>
	
	       
	        
	        <td style="width: 20px;">&#160;</td>
	        <td style="width: 150px;">Rule Type:</td>
	        <td style="width: 220px;">           	
			<h:selectOneMenu id="filterProculeTypeMenuItems" value="#{handlerBean.filterProcrule.ruletypeCode}" immediate="true" >
						<f:selectItems value="#{handlerBean.filterRuleTypeMenuItems}"/>
			</h:selectOneMenu>
	        </td>
	        <td width="10%">&#160;</td>
	       	</tr>
	        
	       	<tr>
	        <td style="width: 20px;">&#160;</td>
	        <td style="width: 200px;">Rule Description:</td>
	        <td style="width: 300px;"><h:inputText id="filterProcruleDescription" style="width:300px;" maxlength = "50" rendered="true" value="#{handlerBean.filterProcrule.description}" /></td>
	        
	        <td style="width: 20px;">&#160;</td>
	        <td style="width: 150px;">Active?:</td>
	        <td style="width: 220px;">           	
			<h:selectOneMenu id="activeCustomerMenuItems" value="#{handlerBean.filterProcrule.activeFlag}" immediate="true" >
						<f:selectItems value="#{handlerBean.filterActiveRulesMenuItems}"/>
			</h:selectOneMenu>
	        </td>
	        <td width="10%">&#160;</td>
	       	</tr> 
		</table>
    </rich:simpleTogglePanel>
    </h:panelGrid>
	</div>
 </div>
<!-- end of table-one-content -->       
      
<div id="table-one-bottom">
	<ul class="right">
       <li class="clear"><a4j:commandLink id="btnClear" action="#{handlerBean.resetFilterSearchAction}" reRender="ProcrulePanel" /></li>
       <li class="search"><a4j:commandLink id="searchBtn" action="#{handlerBean.retrieveFilterProcrule}" reRender="procruleTable,procruleDetailTable,addprocrule,updateprocrule,deleteprocrule,deleteallprocrule,viewprocrule,custDataTest,procruleDetailDataTest,trScroll,trScrollDetail,pageInfo,distinctDateItems" /></li>
    </ul>
</div>

			
</ui:component>