<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">
 
 <style type="text/css">
#table-one-content >#table-four-content {
	overflow-x: auto;
	min-height: 230px;
	height: auto !important;
	height: 230px;
	min-width: 960px;
	padding: 0;
	background: #d4e3e8;
	}
	
#table-one-content th{
background-color: #ecf4fe;
padding: 3px;
}
.ie7 .scrollContainer {
	padding-top: 26px;
}
.ie7 .scrollContainer thead tr {
	height: 0px;
	vertical-align: top;
	}
</style>
	<!-- Start toggle panel -->
	<div id="embedded-table">


		<!--  -->
		<rich:simpleTogglePanel id="processingResults" switchType="ajax"
			label="Processing Results"
			actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
			opened="#{transactionViewBean.togglePanelController.togglePanels['processingResults']}"
			bodyClass="togglepanel-body" headerClass="togglepanel-header"
			styleClass="togglepanel">
			<f:facet name="openMarker">
				<h:graphicImage style="vertical-align:middle;"
					url="/images/triangle-e.png"></h:graphicImage>
			</f:facet>
			<f:facet name="closeMarker">
				<h:graphicImage style="vertical-align:middle;"
					url="/images/triangle-s.png"></h:graphicImage>
			</f:facet>

			<table cellpadding="0" cellspacing="0" width="100%" id="rollover"
				class="ruler">
				<tbody>
				   <h:panelGroup
						rendered="#{empty trDetail.processBatchNo or trDetail.processBatchNo eq 0 }">
					<tr>
						<td style="width: 300px;">Process Method: API Used</td>

					</tr>
                   </h:panelGroup>
                   <h:panelGroup
						rendered="#{not empty trDetail.processBatchNo and trDetail.processBatchNo > 0}">
					<tr>
						<td style="width: 300px;">Process Method: BATCH Used</td>

					</tr>
                   </h:panelGroup>
                    <h:panelGroup
						rendered="#{not empty trDetail.allocationMatrixId and trDetail.allocationMatrixId > 0 }">
					<tr>
						<td style="width: 300px;">Transaction the result of a Jurisdiction Allocation</td>

					</tr>
                   </h:panelGroup>
                   <h:panelGroup
						rendered="#{not empty trDetail.taxAllocMatrixId and trDetail.taxAllocMatrixId > 0 }">
					<tr>
						<td style="width: 300px;">Transaction the result of a TaxCode Allocation</td>

					</tr>
                   </h:panelGroup>
                   
                    <h:panelGroup
						rendered="#{not empty trDetail.multiTransCode }">
						<tr>
							<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['MULTITRANS'][trDetail.multiTransCode]}">
							<td style="width: 300px;">Split Transaction Type:&#160;<h:outputText
									value="#{cacheManager.listCodeMap['MULTITRANS'][trDetail.multiTransCode].description}"/></td>
					
					        </h:panelGroup>
							<h:panelGroup rendered="#{empty cacheManager.listCodeMap['MULTITRANS'][trDetail.multiTransCode]}">
							<td style="width: 300px;">Split Transaction Type =&#160;<h:outputText
									value="#{trDetail.multiTransCode}"/></td>
					
					        </h:panelGroup>
						</tr>
					</h:panelGroup>
                   <tr>
						<td style="width: 300px;">General Ledger Date = &#160; <h:outputText
									value="#{trDetail.glDate}">
						<f:convertDateTime type="both" pattern="MM/dd/yyyy"/>
						</h:outputText>
						</td>

					</tr>
                   <tr>
						<td style="width: 300px;">Invoice Tax Flag = &#160; <h:outputText
									value="#{trDetail.invoiceTaxFlg}" /></td>

					</tr>
                   <h:panelGroup
						rendered="#{empty trDetail.entityCode}">
					<tr>
						<td style="width: 300px;">Entity not found.</td>

					</tr>
                   </h:panelGroup>
                   
                   <h:panelGroup
						rendered="#{trDetail.transactionInd eq 'P' }">
					<tr>
						<td style="width: 300px;">Transaction Processed</td>

					</tr>
                   </h:panelGroup>
                   <h:panelGroup
						rendered="#{trDetail.transactionInd eq 'H' }">
					<tr>
						<td style="width: 300px;">Transaction Held</td>

					</tr>
                   </h:panelGroup>
                   <h:panelGroup
						rendered="#{trDetail.transactionInd eq 'FSP' }">
					<tr>
						<td style="width: 300px;">Transaction Held for Future Split</td>

					</tr>
                   </h:panelGroup>
                   <h:panelGroup
						rendered="#{trDetail.transactionInd eq 'S' and trDetail.suspendInd eq 'L' }">
					<tr>
						<td style="width: 300px;">Transaction Suspended for Location Matrix</td>

					</tr>
                   </h:panelGroup>
                   <h:panelGroup
						rendered="#{trDetail.transactionInd eq 'S' and trDetail.suspendInd eq 'T' }">
					<tr>
						<td style="width: 300px;">Transaction Suspended for Goods and Services Matrix</td>

					</tr>
                   </h:panelGroup>
                   
                   <h:panelGroup
						rendered="#{trDetail.transactionInd eq 'S' and trDetail.suspendInd eq 'D' }">
					<tr>
						<td style="width: 300px;">Transaction Suspended for TaxCode Rule</td>

					</tr>
                   </h:panelGroup>
                   <h:panelGroup
						rendered="#{trDetail.transactionInd eq 'S' and trDetail.suspendInd eq 'R' }">
					<tr>
						<td style="width: 300px;">Transaction Suspended for Tax Rate</td>

					</tr>
                   </h:panelGroup>
                   <h:panelGroup
						rendered="#{not empty trDetail.transactionCountryCode }">
						<tr>
							<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['COUNTRY'][trDetail.transactionCountryCode]}">
							<td style="width: 300px;">Transaction Country:&#160;<h:outputText
									value="#{cacheManager.listCodeMap['COUNTRY'][trDetail.transactionCountryCode].description}"/></td>
					
					        </h:panelGroup>
							<h:panelGroup rendered="#{empty cacheManager.listCodeMap['COUNTRY'][trDetail.transactionCountryCode]}">
							<td style="width: 300px;">Transaction Country =&#160;<h:outputText
									value="#{trDetail.transactionCountryCode}"/></td>
					
					        </h:panelGroup>
						</tr>
					</h:panelGroup>
                    <h:panelGroup
						rendered="#{not empty trDetail.transactionCountryCode}">
						<tr>
							<h:panelGroup rendered="#{ not empty cacheManager.taxCodeStateMap[trDetail.transactionStateCode]}">
							<td style="width: 300px;">Transaction State:&#160;<h:outputText
									value="#{cacheManager.taxCodeStateMap[trDetail.transactionStateCode].name}"/></td>
					
					        </h:panelGroup>
							<h:panelGroup rendered="#{empty cacheManager.taxCodeStateMap[trDetail.transactionStateCode]}">
							<td style="width: 300px;">Transaction State =&#160;<h:outputText
									value="#{trDetail.transactionStateCode}"/></td>
					
					        </h:panelGroup>
						</tr>
					</h:panelGroup>
                   <h:panelGroup
						rendered="#{not empty trDetail.taxcodeCode}">
						<tr>
						    <h:panelGroup rendered="#{ not empty cacheManager.taxCodeMap[trDetail.taxcodeCode].description}">
							<td style="width: 300px;">TaxCode:&#160;<h:outputText
									value="#{cacheManager.taxCodeMap[trDetail.taxcodeCode].description} used."/></td>
						    </h:panelGroup>
						    <h:panelGroup rendered="#{empty cacheManager.taxCodeMap[trDetail.taxcodeCode].description}">
							<td style="width: 300px;">TaxCode:&#160;<h:outputText
									value="#{trDetail.taxcodeCode} used."/></td>
						    </h:panelGroup>
						</tr>
					</h:panelGroup>
                    <h:panelGroup
						rendered="#{not empty trDetail.manualTaxcodeInd}">
						<tr>
							<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['MANUAL'][trDetail.manualTaxcodeInd]}">
							<td style="width: 300px;">TaxCode determined via:&#160;<h:outputText
									value="#{cacheManager.listCodeMap['MANUAL'][trDetail.manualTaxcodeInd].description}"/></td>
					
					        </h:panelGroup>
							<h:panelGroup rendered="#{empty cacheManager.listCodeMap['MANUAL'][trDetail.manualTaxcodeInd]}">
							<td style="width: 300px;">Manual TaxCode Indicator:&#160;<h:outputText
									value="#{trDetail.manualTaxcodeInd}"/></td>
					
					        </h:panelGroup>
						</tr>
					</h:panelGroup>
                    <h:panelGroup
						rendered="#{not empty trDetail.shiptoJurisdictionId and trDetail.shiptoJurisdictionId > 0 }">
						<tr>
							<td style="width: 300px;">Location in:&#160;<h:outputText
									value="#{jurisdiction.state}"/>&#160;used</td>
						</tr>
					</h:panelGroup>
					 <h:panelGroup
						rendered="#{not empty trDetail.shiptoManualJurInd}">
						<tr>
							<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['MANUAL'][trDetail.shiptoManualJurInd]}">
							<td style="width: 300px;">Jurisdiction determined via:&#160;<h:outputText
									value="#{cacheManager.listCodeMap['MANUAL'][trDetail.shiptoManualJurInd].description}"/></td>
					
					        </h:panelGroup>
							<h:panelGroup rendered="#{empty cacheManager.listCodeMap['MANUAL'][trDetail.shiptoManualJurInd]}">
							<td style="width: 300px;">Manual Jurisdiction Indicator =&#160;<h:outputText
									value="#{trDetail.shiptoManualJurInd}"/></td>
					        </h:panelGroup>
						</tr>
					</h:panelGroup>
                   
                    <h:panelGroup
						rendered="#{not empty trDetail.manualTaxcodeInd}">
						<tr>
							<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['MEASURETYP'][trDetail.measureTypeCode]}">
							<td style="width: 300px;">Measure Type:&#160;<h:outputText
									value="#{cacheManager.listCodeMap['MEASURETYP'][trDetail.measureTypeCode].description} used"/></td>
					
					        </h:panelGroup>
							<h:panelGroup rendered="#{empty cacheManager.listCodeMap['MEASURETYP'][trDetail.measureTypeCode]}">
							<td style="width: 300px;">Measure Type =&#160;<h:outputText
									value="#{trDetail.measureTypeCode}"/></td>
					
					        </h:panelGroup>
						</tr>
					</h:panelGroup>
                   <h:panelGroup
						rendered="#{not empty trDetail.stateTaxcodeTypeCode}">
						<tr>
							<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TCTYPE'][trDetail.stateTaxcodeTypeCode]}">
							<td style="width: 300px;">State Taxability:&#160;<h:outputText
									value="#{cacheManager.listCodeMap['TCTYPE'][trDetail.stateTaxcodeTypeCode].description}"/></td>
					
					        </h:panelGroup>
							<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][trDetail.stateTaxcodeTypeCode]}">
							<td style="width: 300px;">State Taxability:&#160;<h:outputText
									value="#{trDetail.stateTaxcodeTypeCode}"/></td>
					
					        </h:panelGroup>
						</tr>
					</h:panelGroup>
                   <h:panelGroup
						rendered="#{not empty trDetail.countyTaxcodeTypeCode}">
						<tr>
							<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TCTYPE'][trDetail.countyTaxcodeTypeCode]}">
							<td style="width: 300px;">County Taxability:&#160;<h:outputText
									value="#{cacheManager.listCodeMap['TCTYPE'][trDetail.countyTaxcodeTypeCode].description}"/></td>
					
					        </h:panelGroup>
							<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][trDetail.countyTaxcodeTypeCode]}">
							<td style="width: 300px;">County Taxability:&#160;<h:outputText
									value="#{trDetail.countyTaxcodeTypeCode}"/></td>
					
					        </h:panelGroup>
						</tr>
					</h:panelGroup>
                   
                   <h:panelGroup
						rendered="#{not empty trDetail.cityTaxcodeTypeCode}">
						<tr>
							<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TCTYPE'][trDetail.cityTaxcodeTypeCode]}">
							<td style="width: 300px;">City Taxability:&#160;<h:outputText
									value="#{cacheManager.listCodeMap['TCTYPE'][trDetail.cityTaxcodeTypeCode].description}"/></td>
					
					        </h:panelGroup>
							<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][trDetail.cityTaxcodeTypeCode]}">
							<td style="width: 300px;">City Taxability:&#160;<h:outputText
									value="#{trDetail.cityTaxcodeTypeCode}"/></td>
					
					        </h:panelGroup>
						</tr>
					</h:panelGroup>
                   
                    <h:panelGroup
						rendered="#{not empty trDetail.stateTaxtypeUsedCode}">
						<tr>
							<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXTYPE'][trDetail.stateTaxtypeUsedCode].description}">
							<td style="width: 300px;">Tax Type:&#160;<h:outputText
									value="#{cacheManager.listCodeMap['TAXTYPE'][trDetail.stateTaxtypeUsedCode].description} used"/></td>
					
					        </h:panelGroup>
							<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][trDetail.stateTaxtypeUsedCode].description}">
							<td style="width: 300px;">Tax Type:&#160;<h:outputText
									value="#{trDetail.stateTaxtypeUsedCode}"/></td>
					
					        </h:panelGroup>
						</tr>
					</h:panelGroup>
					 <tr>
						<td style="width: 300px;">Combined Tax Rate:&#160;<h:outputText
									value="#{trDetail.combinedRate}" /></td>
					</tr>
					 <tr>
						<td style="width: 300px;">Calculated Tax Amount:&#160; <h:outputText
									value="#{trDetail.tbCalcTaxAmt}" /></td>
					</tr>
					<h:panelGroup
						rendered="#{not empty trDetail.rejectFlag}">
					<tr>
						<td style="width: 300px;">Transaction Rejected - Sales Tax will not be calculated</td>
					</tr>
                   </h:panelGroup>
                   
           </tbody>
			</table>
		</rich:simpleTogglePanel>

	</div>
      <rich:simpleTogglePanel id="processRulesResults" switchType="ajax"
		label="Process Rules Results"
		actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
		opened="#{transactionViewBean.togglePanelController.togglePanels['processRulesResults']}"
		bodyClass="togglepanel-body" headerClass="togglepanel-header"
		styleClass="togglepanel" >
		<f:facet name="openMarker">
			<h:graphicImage style="vertical-align:middle;"
				url="/images/triangle-e.png"></h:graphicImage>
		</f:facet>
		<f:facet name="closeMarker">
			<h:graphicImage style="vertical-align:middle;"
				url="/images/triangle-s.png"></h:graphicImage>
		</f:facet>
	  <div id="bottom">
      <div id="table-four">
         <div class="table-four-content">
          <div class="scrollContainer">
           <div class="scrollInner" id="resize">                 
           	<rich:dataTable rowClasses="odd-row,even-row" 
									   id="resultsTable"
									   value="#{transactionViewBean.listviewResults}" var="resultsMaintenance"
										sortMode="single"
										rendered="#{not empty transactionViewBean.listviewResults}">
									 										
										<rich:column sortBy="#{resultsMaintenance.listcodedescription}" styleClass="column-sort" >
										<f:facet name="header">
										
										<a4j:commandLink id="RuleType" value="Rule Type" />
										</f:facet>
											<h:outputText value="#{resultsMaintenance.listcodedescription}" />
										</rich:column>
										
										<rich:column sortBy="#{resultsMaintenance.procruleName}" styleClass="column-sort">
										<f:facet name="header"> <a4j:commandLink id="rName" value="Name"/> </f:facet>
											<h:outputText value="#{resultsMaintenance.procruleName}" />
										</rich:column>
										
										
										<rich:column sortBy="#{resultsMaintenance.proruledescription}" styleClass="column-sort">
										<f:facet name="header">	<a4j:commandLink id="Rule" value="Description"/></f:facet>
											<h:outputText  	value="#{resultsMaintenance.proruledescription}" />
										</rich:column>										
										<rich:column sortBy="#{resultsMaintenance.datadefdescription}" styleClass="column-sort"> 
										<f:facet name="header"><a4j:commandLink id="Col" value="Column"/></f:facet>
											<h:outputText  value="#{resultsMaintenance.datadefdescription}" />
										</rich:column>
										
										<rich:column sortBy="#{resultsMaintenance.beforeValue}" styleClass="column-sort">
											<f:facet name="header"><a4j:commandLink id="BValue" value="Before Value"/></f:facet>
											<h:outputText value="#{resultsMaintenance.beforeValue}" />
										</rich:column>
										
										<rich:column sortBy="#{resultsMaintenance.afterValue}" styleClass="column-sort">
											<f:facet name="header"><a4j:commandLink id="AValue" value="After Value"/></f:facet>
											<h:outputText  value="#{resultsMaintenance.afterValue}"/>
										</rich:column>
										<rich:column sortBy="#{resultsMaintenance.processTimestamp}" styleClass="column-sort">
											<f:facet name="header"><a4j:commandLink id="ProcessTimestamp" value="Process Date/Time"/></f:facet>
											<h:outputText  value="#{resultsMaintenance.processTimestamp}">
												<f:converter converterId="dateTime"/>
											</h:outputText>
										</rich:column>
                                     </rich:dataTable>
                                                           
										<h:panelGroup rendered="#{empty transactionViewBean.listviewResults}">
											<div style="vertical-align: middle;">No Process Rules to Display.</div>
							        	</h:panelGroup>		
					         
							       </div>	
							        </div>
							        </div>
							      </div>
							        
							
				  		</div>
	
		<!-- end of User Fields -->
	</rich:simpleTogglePanel>
</ui:component>
