<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:t="http://myfaces.apache.org/tomahawk">

	<div id="table-one-content" style="height: auto;">
		<div id="embedded-table">
			<h:panelGrid id="togglePanel" columns="1" width="100%">
								<rich:simpleTogglePanel id="TransactionInformationPanel"
					switchType="ajax" label="Transaction Information"
					actionListener="#{beanDetail.togglePanelController.togglePanelChanged}"
					opened="#{beanDetail.togglePanelController.togglePanels['TransactionInformationPanel']}"
					bodyClass="togglepanel-body" headerClass="togglepanel-header"
					styleClass="togglepanel">

					<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

						<h:outputText
						value="#{matrixCommonBean.transactionPropertyMap['vendorCode'].description}:" />

						<h:inputText id="vendorCode"
							value="#{beanDetail.vendorLookupHandler.code}" disabled="#{readonly}" immediate="true" >
									</h:inputText>

									
									
									
						 <h:inputText id="vendorCodeNameLookup" value="#{beanDetail.vendorLookupHandler.name}" disabled="#{readonly}" immediate="true" />

							
							
								<h:commandLink id="btnLookup"
										value="" styleClass="image"
										action="#{beanDetail.searchVendorLocationAction}"
										rendered="#{!readonly}">
										<h:graphicImage value="/images/search_small.png" />
									</h:commandLink>
															<h:outputText value=""></h:outputText>
									
															<h:outputText value=""></h:outputText>
									
															<h:outputText value=""></h:outputText>
									

					
					
							<h:outputText value="#{matrixCommonBean.transactionPropertyMap['vendorAddressLine1'].description}:"/>
						<h:inputText id="vendorAddressLine1" 
														value="#{beanDetail.vendorLookupHandler.addressline1}" disabled="#{readonly}" style="width:300px" />

						<h:outputText value=""></h:outputText>
						<h:outputText value=""></h:outputText>
						<h:outputText value=""></h:outputText>
						<h:outputText value=""></h:outputText>
						<h:outputText value=""></h:outputText>

							<h:outputText value="#{matrixCommonBean.transactionPropertyMap['vendorAddressLine2'].description}:"/>
						
										
						 <h:inputText id="vendorAddressLine2" 
														value="#{beanDetail.vendorLookupHandler.addressline2}" disabled="#{readonly}" style="width:300px"/>
						<h:outputText value=""></h:outputText>
						<h:outputText value=""></h:outputText>
						<h:outputText value=""></h:outputText>
						<h:outputText value=""></h:outputText>
						<h:outputText value=""></h:outputText>

							<h:panelGroup>
									<ui:include id = "vendorInclude" ajaxRendered="true" src="/WEB-INF/view/components/txn_vendor_jurisdiction_screen.xhtml">
										<ui:param name="handler" value="#{beanDetail.vendorLookupHandler}"/>
										<ui:param name="id" value="jurdsVendorInputId"/>
										<ui:param name="readonly" value="false"/>
										<ui:param name="required" value="false"/>
										<ui:param name="showheaders" value="true"/>
										<ui:param name="popupName" value="searchJurisdictionModify"/>
										<ui:param name="popupForm" value="searchJurisdictionFormModify"/>
									</ui:include>
							</h:panelGroup>
													<h:outputText value=""></h:outputText>
													<h:outputText value=""></h:outputText>
													<h:outputText value=""></h:outputText>
													<h:outputText value=""></h:outputText>
													<h:outputText value=""></h:outputText>
													<h:outputText value=""></h:outputText>
							
				</rich:simpleTogglePanel>
			</h:panelGrid>
		</div>
	</div>
</ui:component>
