<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

	<div id="table-one-content" style="height: auto;">
		<div id="embedded-table">
			<h:panelGrid id="togglePanel" columns="1" width="100%">
				<rich:simpleTogglePanel id="InvoiceDetailInformationPanel"
					switchType="ajax" label="Invoice Information"
					actionListener="#{beanDetail.togglePanelController.togglePanelChanged}"
                    opened="#{beanDetail.togglePanelController.togglePanels['InvoiceDetailInformationPanel']}"
					bodyClass="togglepanel-body"
					headerClass="togglepanel-header" styleClass="togglepanel">

					<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
					<table cellpadding="0" cellspacing="0" border="3" width="100%"
						id="rollover" class="ruler">
						<tbody>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.transactionPropertyMap['invoiceNbr'].description}:" />
								</td>
								<td class="column-input3"><h:inputText
										id="invoiceNbrInvoiceId" immediate="true"
										value="#{trDetail.invoiceNbr}" disabled="#{readonly}">
										<!--
										<a4j:support id="ajaxinvoiceNbrInvoiceId" event="onblur"
											action="#{beanDetail.invoiceNbrInvoiceChanged}"
											reRender="invoiceNbrId" />
									    -->
									</h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="Invoice Date:" /></td>
								<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="invoiceDate" enableManualInput="true" label="invoiceDate"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.invoiceDate}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" />
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer" width="10%">&#160;</td>
							</tr>


							<tr>

								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
                                        value="Invoice Tax Amt" />
								</td>
								<td class="column-input3"><h:inputText
                                        value="#{trDetail.invoiceTaxAmt}"  disabled="#{readonly}"><f:convertNumber minFractionDigits="2"  maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}" /></h:inputText>
								</td>

								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
                                        value="#{matrixCommonBean.transactionPropertyMap['invoiceDiscountAmt'].description}:" />
								</td>
								<td class="column-input3"><h:inputText
                                        value="#{trDetail.invoiceDiscountAmt}"  disabled="#{readonly}"><f:convertNumber minFractionDigits="2"  maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}" /></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer" width="10%">&#160;</td>
							</tr>


							<tr>
							<!--  
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
                                        value="#{matrixCommonBean.transactionPropertyMap['invoiceMiscAmt'].description}:" />
								</td>
								<td class="column-input3"><h:inputText
                                        value="#{trDetail.invoiceMiscAmt}"  disabled="#{readonly}"><f:convertNumber minFractionDigits="2"  maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}" /></h:inputText>
								</td>
								-->
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
                                        value="#{matrixCommonBean.transactionPropertyMap['invoiceDiscTypeCode'].description}:" />
								</td>
								<c:if test="#{!readonly}">
                                    <td class="column-input3"><h:selectOneMenu
                                            id="filterInvoiceDiscTypeCodeItems"
                                            value="#{trDetail.invoiceDiscTypeCode}"
                                            disabled="#{readonly}" style="width: 150px;">
                                            <f:selectItems value="#{beanDetail.invoiceDiscTypeCodes}" />
                                        </h:selectOneMenu>
                                    </td>
                                </c:if>
                                <c:if test="#{readonly}">
                                    <td class="column-input3"><h:inputText
                                            value="#{cacheManager.discTypeMap[trDetail.invoiceDiscTypeCode]}"
                                            disabled="#{readonly}" />
                                    </td>
                                </c:if>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer" width="10%">&#160;</td>
							</tr>
						</tbody>
					</table>
				</rich:simpleTogglePanel>

				<rich:simpleTogglePanel id="MiscInformationPanel" switchType="ajax"
					label="Misc. Information" 
					actionListener="#{beanDetail.togglePanelController.togglePanelChanged}"
                    opened="#{beanDetail.togglePanelController.togglePanels['MiscInformationPanel']}"
					bodyClass="togglepanel-body" headerClass="togglepanel-header"
					styleClass="togglepanel">

					<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
					<table cellpadding="0" cellspacing="0" border="3" width="100%"
						id="rollover" class="ruler">
						<tbody>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.transactionPropertyMap['calculateInd'].description}:" />
								</td>
								<c:if test="#{!readonly}">
									<td class="column-input3"><h:selectOneMenu
											id="calculateInd" value="#{trDetail.calculateInd}"
											disabled="#{readonly}">
											<f:selectItems value="#{beanDetail.flags}" />
										</h:selectOneMenu>
									</td>
								</c:if>
								<c:if test="#{readonly}">
									<td colspan="1" style="width: 200px;"><h:inputText
											value="#{cacheManager.booleanMap[trDetail.calculateInd]}"
											style="width:50px;" disabled="#{readonly}" />
									</td>
								</c:if>

								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.transactionPropertyMap['creditInd'].description}:" />
								</td>
								<c:if test="#{!readonly}">
									<td class="column-input3"><h:selectOneMenu id="creditInd"
											value="#{trDetail.creditInd}" disabled="#{readonly}">
											<f:selectItems value="#{beanDetail.flags}" />
										</h:selectOneMenu>
									</td>
								</c:if>
								<c:if test="#{readonly}">
									<td colspan="1" style="width: 200px;"><h:inputText
											value="#{cacheManager.booleanMap[trDetail.creditInd]}"
											style="width:50px;" disabled="#{readonly}" />
									</td>
								</c:if>

								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer" width="10%">&#160;</td>
							</tr>

							<tr>
							
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.transactionPropertyMap['invoiceTaxFlg'].description}:" />
								</td>
								<c:if test="#{!readonly}">
									<td class="column-input3"><h:selectOneMenu
											id="invoiceTaxFlg"
											value="#{trDetail.invoiceTaxFlg}"
											disabled="#{readonly}">
											<f:selectItems value="#{beanDetail.flags}" />
										</h:selectOneMenu>
									</td>
								</c:if>
								<c:if test="#{readonly}">
									<td colspan="1" style="width: 200px;"><h:inputText
											value="#{cacheManager.booleanMap[trDetail.invoiceTaxFlg]}"
											style="width:50px;" disabled="#{readonly}" />
									</td>
								</c:if>

								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.transactionPropertyMap['exemptInd'].description}:" />
								</td>
								<c:if test="#{!readonly}">
									<td class="column-input3"><h:selectOneMenu id="exemptInd"
											value="#{trDetail.exemptInd}" disabled="#{readonly}">
											<f:selectItems value="#{beanDetail.flags}" />
										</h:selectOneMenu>
									</td>
								</c:if>
								<c:if test="#{readonly}">
									<td colspan="1" style="width: 200px;"><h:inputText
											value="#{cacheManager.booleanMap[trDetail.exemptInd]}"
											style="width:50px;" disabled="#{readonly}" />
									</td>
								</c:if>

								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer" width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.transactionPropertyMap['exemptCode'].description}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.exemptCode}" maxlength="10" disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.transactionPropertyMap['exemptReason'].description}:" />
								</td>
								<c:if test="#{!readonly}">
									<td style="width: 220px;"><h:selectOneMenu
											id="filterInvoiceExemptReasonCodeItems"
											value="#{trDetail.exemptReason}" disabled="#{readonly}" style="width: 150px;">
											<f:selectItems value="#{beanDetail.invoiceExemptReasonCodes}" />
										</h:selectOneMenu>
									</td>
								</c:if>
								<c:if test="#{readonly}">
									<td colspan="1" style="width: 220px;"><h:inputText
											value="#{cacheManager.exReasonMap[trDetail.exemptReason]}"
											style="width:220px;" disabled="#{readonly}" />
									</td>
								</c:if>

								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer" width="10%">&#160;</td>
							</tr>

							


						</tbody>
					</table>
				</rich:simpleTogglePanel>
			</h:panelGrid>
		</div>
	</div>
</ui:component>
