<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

	<div id="table-one-content" style="height: auto;">
		<div id="embedded-table">
			<h:panelGrid id="togglePanel2" columns="1" width="100%">
				<rich:simpleTogglePanel id="InvoiceLineDetailInformationPanel"
					switchType="ajax" label="Invoice Line Information"
					actionListener="#{beanDetail.lineTogglePanelController.togglePanelChanged}"
                    opened="#{beanDetail.lineTogglePanelController.togglePanels['InvoiceLineDetailInformationPanel']}"
					bodyClass="togglepanel-body"
					headerClass="togglepanel-header" styleClass="togglepanel">

					<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
					<table cellpadding="0" cellspacing="0" border="3" width="100%"
						id="rollover" class="ruler">
						<tbody>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineNbr'].description}:" />
								</td>
								<td class="column-input3"><h:inputText
										id="invoiceLineNbrInvoiceId" immediate="true"
										value="#{trDetail.invoiceLineNbr}" disabled="#{readonly}">
									</h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineName'].description}:" />
								</td>
								<td><h:inputText id="invoiceLibeNbrInvoiceId"
										immediate="true" value="#{trDetail.invoiceLineName}"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer" width="10%">&#160;</td>
							</tr>


							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineCount'].description}:" /></td>
								<td class="column-input3"><h:inputText
										id="invoiceLineCountId" immediate="true"
										value="#{trDetail.invoiceLineCount}"
										disabled="#{readonly}">
									</h:inputText></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineAmt'].description}:" />
								</td>
								<td><h:inputText id="invoiceLineAmtId" immediate="true"
										value="#{trDetail.invoiceLineAmt}" disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer" width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineGrossAmt'].description}:" /></td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.invoiceLineGrossAmt}" disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineFreightAmt'].description}:" /></td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.invoiceLineFreightAmt}"
										disabled="#{readonly}"></h:inputText></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer" width="10%">&#160;</td>
							</tr>


							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
                                        value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineTaxPaidAmt'].description}:" /></td>
								<td class="column-input3"><h:inputText
                                        value="#{trDetail.invoiceLineTaxPaidAmt}" disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
                                        value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineDiscAmt'].description}:" /></td>
								<td class="column-input3"><h:inputText
                                        value="#{trDetail.invoiceLineDiscAmt}" disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer" width="10%">&#160;</td>
							</tr>
							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
                                        value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineMiscAmt'].description}:" /></td>
								<td class="column-input3"><h:inputText
                                        value="#{trDetail.invoiceLineMiscAmt}" disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
                                        value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineDiscTypeCode'].description}:" /></td>
								<td class="column-input3"><h:selectOneMenu
                                        id="filterInvoiceDiscTypeCodeItems"
                                        value="#{trDetail.invoiceLineDiscTypeCode}"
                                        disabled="#{readonly}" style="width: 150px;">
                                        <f:selectItems value="#{beanDetail.invoiceDiscTypeCodes}" />
                                    </h:selectOneMenu>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer" width="10%">&#160;</td>
							</tr>
							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineProductCode'].description}:" /></td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.invoiceLineProductCode}"
										disabled="#{readonly}"></h:inputText></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="or - TaxCode:" /></td>
								<td class="column-input3"><h:selectOneMenu id="taxcodeItem"
										value="#{trDetail.taxcodeCode}" disabled="#{readonly}"
										immediate="true" style="width: 200px;">
										<f:selectItems value="#{beanDetail.taxCodes}" />
									</h:selectOneMenu></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer" width="10%">&#160;</td>
							</tr>

						</tbody>
					</table>
				</rich:simpleTogglePanel>

				<rich:simpleTogglePanel id="InvoiceLineMiscInformationPanel" switchType="ajax"
					label="Misc. Information"
					actionListener="#{beanDetail.lineTogglePanelController.togglePanelChanged}"
                    opened="#{beanDetail.lineTogglePanelController.togglePanels['InvoiceLineMiscInformationPanel']}"
					bodyClass="togglepanel-body" headerClass="togglepanel-header"
					styleClass="togglepanel">

					<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
					<table cellpadding="0" cellspacing="0" border="3" width="100%"
						id="rollover" class="ruler">
						<tbody>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['calculateInd'].description}:" />
								</td>
								<c:if test="#{!readonly}">
									<td class="column-input3"><h:selectOneMenu
											id="calculateInd" value="#{trDetail.calculateInd}"
											disabled="#{readonly}">
											<f:selectItems value="#{beanDetail.flags}" />
										</h:selectOneMenu></td>
								</c:if>
								<c:if test="#{readonly}">
									<td colspan="1" style="width: 200px;"><h:inputText
											value="#{cacheManager.booleanMap[trDetail.calculateInd]}"
											style="width:50px;" disabled="#{readonly}" /></td>
								</c:if>

								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['creditInd'].description}:" />
								</td>
								<c:if test="#{!readonly}">
									<td class="column-input3"><h:selectOneMenu id="creditInd"
											value="#{trDetail.creditInd}" disabled="#{readonly}">
											<f:selectItems value="#{beanDetail.flags}" />
										</h:selectOneMenu></td>
								</c:if>
								<c:if test="#{readonly}">
									<td colspan="1" style="width: 200px;"><h:inputText
											value="#{cacheManager.booleanMap[trDetail.creditInd]}"
											style="width:50px;" disabled="#{readonly}" /></td>
								</c:if>

								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer" width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['taxPaidToVendorFlag'].description}:" />
								</td>
								<c:if test="#{!readonly}">
									<td class="column-input3"><h:selectOneMenu
											id="taxPaidToVendorFlag"
											value="#{trDetail.taxPaidToVendorFlag}"
											disabled="#{readonly}">
											<f:selectItems value="#{beanDetail.flags}" />
										</h:selectOneMenu></td>
								</c:if>
								<c:if test="#{readonly}">
									<td colspan="1" style="width: 200px;"><h:inputText
											value="#{cacheManager.booleanMap[trDetail.taxPaidToVendorFlag]}"
											style="width:50px;" disabled="#{readonly}" /></td>
								</c:if>

								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['exemptInd'].description}:" />
								</td>
								<c:if test="#{!readonly}">
									<td class="column-input3"><h:selectOneMenu id="exemptInd"
											value="#{trDetail.exemptInd}" disabled="#{readonly}">
											<f:selectItems value="#{beanDetail.flags}" />
										</h:selectOneMenu></td>
								</c:if>
								<c:if test="#{readonly}">
									<td colspan="1" style="width: 200px;"><h:inputText
											value="#{cacheManager.booleanMap[trDetail.exemptInd]}"
											style="width:50px;" disabled="#{readonly}" /></td>
								</c:if>

								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer" width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['exemptCode'].description}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.exemptCode}" maxlength="10" disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['exemptReason'].description}:" />
								</td>
								<c:if test="#{!readonly}">
									<td style="width: 220px;"><h:selectOneMenu
											id="filterInvoiceExemptReasonCodeItems"
											value="#{trDetail.exemptReason}" disabled="#{readonly}" style="width: 150px;">
											<f:selectItems value="#{beanDetail.invoiceExemptReasonCodes}" />
										</h:selectOneMenu></td>
								</c:if>
								<c:if test="#{readonly}">
									<td colspan="1" style="width: 220px;"><h:inputText
											value="#{cacheManager.exReasonMap[trDetail.exemptReason]}"
											style="width:220px;" disabled="#{readonly}" /></td>
								</c:if>

								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer" width="10%">&#160;</td>
							</tr>




						</tbody>
					</table>
				</rich:simpleTogglePanel>
			</h:panelGrid>
		</div>
	</div>
</ui:component>
