<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

	<div id="table-one-content" style="height: auto;">
		<div id="embedded-table">
			<h:panelGrid id="togglePanel" columns="1" width="100%">
				<rich:simpleTogglePanel id="ShipToInformationPanel"
					switchType="ajax" label="Ship To Information"
					actionListener="#{beanDetail.togglePanelController.togglePanelChanged}"
                    opened="#{beanDetail.togglePanelController.togglePanels['ShipToInformationPanel']}"
					bodyClass="togglepanel-body"
					headerClass="togglepanel-header" styleClass="togglepanel">

					<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
					<!-- Location -->
					<table cellpadding="0" cellspacing="0" width="100%" id="rollover"
						class="ruler">
						<tbody>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['shiptoEntityId'].description}:" />
								</td>
								<c:if test="#{!readonly}">
									<td style="width: 220px;"><h:selectOneMenu
											id="shiptoEntityMenuMain" value="#{trDetail.shiptoEntityId}"
											disabled="#{readonly}" style="width: 150px;">
											<f:selectItems value="#{beanDetail.entities}" />
										</h:selectOneMenu>
									</td>
								</c:if>
								<c:if test="#{readonly}">
									<td colspan="1" style="width: 200px;"><h:inputText
											value="#{cacheManager.entityIdMap[trDetail.shiptoEntityId]}"
											style="width:220px;" disabled="#{readonly}"></h:inputText>
									</td>
								</c:if>

								<td class="column-spacer" colspan="6">&#160;</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="Jurisdiction ID:" /></td>
								<td style="align: left;"><h:inputText
										id="jurisdictionIdShipto" style="text-align:right;float:left;"
										disabled="#{readonly}"
										value="#{beanDetail.shipToJurisdictionHandler.jurisdictionId}"
										onkeypress="return onlyIntegerValue(event);"
										label="Jurisdiction ID">
										<f:convertNumber integerOnly="true" groupingUsed="false" />
										
									</h:inputText>
								</td>
								<td width="10%" colspan="8">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['shiptoAddressLine1'].description}:" />
								</td>
								<td class="column-input3" colspan="5"><h:inputText
										style="width:400px;" value="#{trDetail.shiptoAddressLine1}"
										disabled="#{readonly}"></h:inputText></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['shiptoAddressLine2'].description}:" />
								</td>
								<td class="column-input3" colspan="5"><h:inputText
										style="width:400px;" value="#{trDetail.shiptoAddressLine2}"
										disabled="#{readonly}"></h:inputText></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td style="align: left;" colspan="8">	
								<ui:include src="/WEB-INF/view/components/jurisdiction_screen.xhtml">
										<ui:param name="handler"
											value="#{beanDetail.shipToJurisdictionHandler}" />
										<ui:param name="popupName" value="searchJurisdictionShipto" />
										<ui:param name="popupForm" value="searchJurisdictionFormShipto" />
										<ui:param name="id" value="jurisIdShipto" />	
										<ui:param name="readonly" value="false"/>
								  		<ui:param name="required" value="false"/> <!-- Will validate in bean to prevent message in queue -->
										<ui:param name="showheaders" value="true"/>
									</ui:include></td>
								<td width="10%">&#160;</td>
							</tr>

							<tr style="display: none;">
								<td class="column-spacer">&#160;</td>
								<td class="column-input3" colspan="8" width="800px">
									<div id="embedded-table">
										<table cellpadding="0" cellspacing="0" width="800px"
											id="rollover" class="ruler" border="0">
											<tbody>
												<tr>
													<td style="width: 220px;"><h:outputText
															value="STJ&#160;1&#160;-&#160;5:&#160;" /></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.shiptoStj1Name}" disabled="#{readonly}"></h:inputText>
													</td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.shiptoStj2Name}" disabled="#{readonly}"></h:inputText>
													</td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.shiptoStj3Name}" disabled="#{readonly}"></h:inputText>
													</td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.shiptoStj4Name}" disabled="#{readonly}"></h:inputText>
													</td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.shiptoStj5Name}" disabled="#{readonly}"></h:inputText>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
								<td width="10%">&#160;</td>
							</tr>

						</tbody>
					</table>
				</rich:simpleTogglePanel>
				<rich:simpleTogglePanel id="ShipFromInformationPanel"
					switchType="ajax" label="Ship From Information"
					actionListener="#{beanDetail.togglePanelController.togglePanelChanged}"
                    opened="#{beanDetail.togglePanelController.togglePanels['ShipFromInformationPanel']}"
					bodyClass="togglepanel-body"
					headerClass="togglepanel-header" styleClass="togglepanel">

                    <f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

					<table cellpadding="0" cellspacing="0" width="100%" id="rollover"
						class="ruler">
						<tbody>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['shipfromEntityId'].description}:" />
								</td>
								<c:if test="#{!readonly}">
									<td style="width: 220px;"><h:selectOneMenu
											id="shipfromEntityMenuMain"
											value="#{beanDetail.shipFromJurisdictionHandler.jurisdictionId}" disabled="#{readonly}" style="width: 150px;">
											<f:selectItems value="#{beanDetail.entities}" />
										</h:selectOneMenu>
									</td>
								</c:if>
								<c:if test="#{readonly}">
									<td colspan="1" style="width: 200px;"><h:inputText
											value="#{cacheManager.entityIdMap[trDetail.shipfromEntityId]}"
											style="width:220px;" disabled="#{readonly}"></h:inputText>
									</td>
								</c:if>

								<td class="column-spacer" colspan="6">&#160;</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="Jurisdiction ID:" /></td>
								<td style="align: left;"><h:inputText
										id="jurisdictionIdShipfrom"
										style="text-align:right;float:left;" disabled="#{readonly}"
										value="#{beanDetail.shipFromJurisdictionHandler.jurisdictionId}"
										onkeypress="return onlyIntegerValue(event);"
										label="Jurisdiction ID">
										<f:convertNumber integerOnly="true" groupingUsed="false" />
										
									</h:inputText>
								</td>
								<td width="10%" colspan="8">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['shipfromAddressLine1'].description}:" />
								</td>
								<td class="column-input3" colspan="5"><h:inputText
										style="width:400px;" value="#{trDetail.shipfromAddressLine1}"
										disabled="#{readonly}"></h:inputText></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['shipfromAddressLine2'].description}:" />
								</td>
								<td class="column-input3" colspan="5"><h:inputText
										style="width:400px;" value="#{trDetail.shipfromAddressLine2}"
										disabled="#{readonly}"></h:inputText></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td style="align: left;" colspan="8"><ui:include src="/WEB-INF/view/components/jurisdiction_screen.xhtml">
										<ui:param name="handler"
											value="#{beanDetail.shipFromJurisdictionHandler}" />
										<ui:param name="popupName" value="searchJurisdictionShipFrom" />
										<ui:param name="popupForm" value="searchJurisdictionFormShipFrom" />
										<ui:param name="id" value="jurisIdShipFrom" />	
										<ui:param name="readonly" value="false"/>
								  		<ui:param name="required" value="false"/> <!-- Will validate in bean to prevent message in queue -->
										<ui:param name="showheaders" value="true"/>
									</ui:include>
								</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr style="display: none;">
								<td class="column-spacer">&#160;</td>
								<td class="column-input3" colspan="8" width="800px">
									<div id="embedded-table">
										<table cellpadding="0" cellspacing="0" width="800px"
											id="rollover" class="ruler" border="0">
											<tbody>
												<tr>
													<td style="width: 220px;"><h:outputText
															value="STJ&#160;1&#160;-&#160;5:&#160;" /></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.shipfromStj1Name}"
															disabled="#{readonly}"></h:inputText></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.shipfromStj2Name}"
															disabled="#{readonly}"></h:inputText></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.shipfromStj3Name}"
															disabled="#{readonly}"></h:inputText></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.shipfromStj4Name}"
															disabled="#{readonly}"></h:inputText></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.shipfromStj5Name}"
															disabled="#{readonly}"></h:inputText></td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
								<td width="10%">&#160;</td>
							</tr>

						</tbody>
					</table>
				</rich:simpleTogglePanel>
				<rich:simpleTogglePanel id="OrderOriginInformationPanel"
					switchType="ajax" label="Order Origin Information"
					actionListener="#{beanDetail.togglePanelController.togglePanelChanged}"
                    opened="#{beanDetail.togglePanelController.togglePanels['OrderOriginInformationPanel']}"
					bodyClass="togglepanel-body"
					headerClass="togglepanel-header" styleClass="togglepanel">
					
					<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

					<table cellpadding="0" cellspacing="0" width="100%" id="rollover"
						class="ruler">
						<tbody>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['ordrorgnEntityId'].description}:" />
								</td>
								<c:if test="#{!readonly}">
									<td style="width: 220px;"><h:selectOneMenu
											id="ordrorgnEntityMenuMain"
											value="#{trDetail.ordrorgnEntityId}" disabled="#{readonly}" style="width: 150px;">
											<f:selectItems value="#{beanDetail.entities}" />
										</h:selectOneMenu>
									</td>
								</c:if>
								<c:if test="#{readonly}">
									<td colspan="1" style="width: 200px;"><h:inputText
											value="#{cacheManager.entityIdMap[trDetail.ordrorgnEntityId]}"
											style="width:220px;" disabled="#{readonly}"></h:inputText>
									</td>
								</c:if>

								<td class="column-spacer" colspan="6">&#160;</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="Jurisdiction ID:" /></td>
								<td style="align: left;"><h:inputText
										id="jurisdictionIdOrdrorgn"
										style="text-align:right;float:left;" disabled="#{readonly}"
										value="#{beanDetail.ordrorgnJurisdictionHandler.jurisdictionId}"
										onkeypress="return onlyIntegerValue(event);"
										label="Jurisdiction ID">
										<f:convertNumber integerOnly="true" groupingUsed="false" />
										
									</h:inputText>
								</td>
								<td width="10%" colspan="8">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['ordrorgnAddressLine1'].description}:" />
								</td>
								<td class="column-input3" colspan="5"><h:inputText
										style="width:400px;" value="#{trDetail.ordrorgnAddressLine1}"
										disabled="#{readonly}"></h:inputText></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['ordrorgnAddressLine2'].description}:" />
								</td>
								<td class="column-input3" colspan="5"><h:inputText
										style="width:400px;" value="#{trDetail.ordrorgnAddressLine2}"
										disabled="#{readonly}"></h:inputText></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td style="align: left;" colspan="8"><ui:include src="/WEB-INF/view/components/jurisdiction_screen.xhtml">
										<ui:param name="handler"
											value="#{beanDetail.ordrorgnJurisdictionHandler}" />
										<ui:param name="popupName" value="searchJurisdictionOrdrorgn" />
										<ui:param name="popupForm" value="searchJurisdictionFormOrdrorgn" />
										<ui:param name="id" value="jurisIdOrdrorgn" />	
										<ui:param name="readonly" value="false"/>
								  		<ui:param name="required" value="false"/> <!-- Will validate in bean to prevent message in queue -->
										<ui:param name="showheaders" value="true"/>
									</ui:include></td>
								<td width="10%">&#160;</td>
							</tr>

							<tr style="display: none;">
								<td class="column-spacer">&#160;</td>
								<td class="column-input3" colspan="8" width="800px">
									<div id="embedded-table">
										<table cellpadding="0" cellspacing="0" width="800px"
											id="rollover" class="ruler" border="0">
											<tbody>
												<tr>
													<td style="width: 220px;"><h:outputText
															value="STJ&#160;1&#160;-&#160;5:&#160;" /></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.ordrorgnStj1Name}"
															disabled="#{readonly}"></h:inputText></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.ordrorgnStj2Name}"
															disabled="#{readonly}"></h:inputText></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.ordrorgnStj3Name}"
															disabled="#{readonly}"></h:inputText></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.ordrorgnStj4Name}"
															disabled="#{readonly}"></h:inputText></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.ordrorgnStj5Name}"
															disabled="#{readonly}"></h:inputText></td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
								<td width="10%">&#160;</td>
							</tr>

						</tbody>
					</table>
				</rich:simpleTogglePanel>
				<rich:simpleTogglePanel id="OrderAcceptanceInformationPanel"
					switchType="ajax" label="Order Acceptance Information"
					actionListener="#{beanDetail.togglePanelController.togglePanelChanged}"
                    opened="#{beanDetail.togglePanelController.togglePanels['OrderAcceptanceInformationPanel']}"
					bodyClass="togglepanel-body"
					headerClass="togglepanel-header" styleClass="togglepanel">
					
					<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

					<table cellpadding="0" cellspacing="0" width="100%" id="rollover"
						class="ruler">
						<tbody>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['ordracptEntityId'].description}:" />
								</td>
								<c:if test="#{!readonly}">
									<td style="width: 220px;"><h:selectOneMenu
											id="ordracptEntityMenuMain"
											value="#{trDetail.ordracptEntityId}" disabled="#{readonly}" style="width: 150px;">
											<f:selectItems value="#{beanDetail.entities}" />
										</h:selectOneMenu>
									</td>
								</c:if>
								<c:if test="#{readonly}">
									<td colspan="1" style="width: 200px;"><h:inputText
											value="#{cacheManager.entityIdMap[trDetail.ordracptEntityId]}"
											style="width:220px;" disabled="#{readonly}"></h:inputText>
									</td>
								</c:if>

								<td class="column-spacer" colspan="6">&#160;</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="Jurisdiction ID:" /></td>
								<td style="align: left;"><h:inputText
										id="jurisdictionIdOrdracpt"
										style="text-align:right;float:left;" disabled="#{readonly}"
										value="#{beanDetail.ordracptJurisdictionHandler.jurisdictionId}"
										onkeypress="return onlyIntegerValue(event);"
										label="Jurisdiction ID">
										<f:convertNumber integerOnly="true" groupingUsed="false" />
										
									</h:inputText>
								</td>
								<td width="10%" colspan="8">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['ordracptAddressLine1'].description}:" />
								</td>
								<td class="column-input3" colspan="5"><h:inputText
										style="width:400px;" value="#{trDetail.ordracptAddressLine1}"
										disabled="#{readonly}"></h:inputText></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['ordracptAddressLine2'].description}:" />
								</td>
								<td class="column-input3" colspan="5"><h:inputText
										style="width:400px;" value="#{trDetail.ordracptAddressLine2}"
										disabled="#{readonly}"></h:inputText></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td style="align: left;" colspan="8"><ui:include src="/WEB-INF/view/components/jurisdiction_screen.xhtml">
										<ui:param name="handler"
											value="#{beanDetail.ordracptJurisdictionHandler}" />
										<ui:param name="popupName" value="searchJurisdictionOrdracpt" />
										<ui:param name="popupForm" value="searchJurisdictionFormOrdracpt" />
										<ui:param name="id" value="jurisIdOrdracpt" />	
										<ui:param name="readonly" value="false"/>
								  		<ui:param name="required" value="false"/> <!-- Will validate in bean to prevent message in queue -->
										<ui:param name="showheaders" value="true"/>
									</ui:include>
								</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr style="display: none;">
								<td class="column-spacer">&#160;</td>
								<td class="column-input3" colspan="8" width="800px">
									<div id="embedded-table">
										<table cellpadding="0" cellspacing="0" width="800px"
											id="rollover" class="ruler" border="0">
											<tbody>
												<tr>
													<td style="width: 220px;"><h:outputText
															value="STJ&#160;1&#160;-&#160;5:&#160;" /></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.ordracptStj1Name}"
															disabled="#{readonly}"></h:inputText></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.ordracptStj2Name}"
															disabled="#{readonly}"></h:inputText></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.ordracptStj3Name}"
															disabled="#{readonly}"></h:inputText></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.ordracptStj4Name}"
															disabled="#{readonly}"></h:inputText></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.ordracptStj5Name}"
															disabled="#{readonly}"></h:inputText></td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
								<td width="10%">&#160;</td>
							</tr>

						</tbody>
					</table>
				</rich:simpleTogglePanel>
				<rich:simpleTogglePanel id="FirstUseInformationPanel"
					switchType="ajax" label="First Use Information"
					actionListener="#{beanDetail.togglePanelController.togglePanelChanged}"
                    opened="#{beanDetail.togglePanelController.togglePanels['FirstUseInformationPanel']}"
					bodyClass="togglepanel-body"
					headerClass="togglepanel-header" styleClass="togglepanel">
					
					<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

					<table cellpadding="0" cellspacing="0" width="100%" id="rollover"
						class="ruler">
						<tbody>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['firstuseEntityId'].description}:" />
								</td>
								<c:if test="#{!readonly}">
									<td style="width: 220px;"><h:selectOneMenu
											id="firstuseEntityMenuMain"
											value="#{trDetail.firstuseEntityId}" disabled="#{readonly}" style="width: 150px;">
											<f:selectItems value="#{beanDetail.entities}" />
										</h:selectOneMenu>
									</td>
								</c:if>
								<c:if test="#{readonly}">
									<td colspan="1" style="width: 200px;"><h:inputText
											value="#{cacheManager.entityIdMap[trDetail.firstuseEntityId]}"
											style="width:220px;" disabled="#{readonly}"></h:inputText>
									</td>
								</c:if>

								<td class="column-spacer" colspan="6">&#160;</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="Jurisdiction ID:" /></td>
								<td style="align: left;"><h:inputText
										id="jurisdictionIdFirstuse"
										style="text-align:right;float:left;" disabled="#{readonly}"
										value="#{beanDetail.firstuseJurisdictionHandler.jurisdictionId}"
										onkeypress="return onlyIntegerValue(event);"
										label="Jurisdiction ID">
										<f:convertNumber integerOnly="true" groupingUsed="false" />
										
									</h:inputText>
								</td>
								<td width="10%" colspan="8">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['firstuseAddressLine1'].description}:" />
								</td>
								<td class="column-input3" colspan="5"><h:inputText
										style="width:400px;" value="#{trDetail.firstuseAddressLine1}"
										disabled="#{readonly}"></h:inputText></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['firstuseAddressLine2'].description}:" />
								</td>
								<td class="column-input3" colspan="5"><h:inputText
										style="width:400px;" value="#{trDetail.firstuseAddressLine2}"
										disabled="#{readonly}"></h:inputText></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td style="align: left;" colspan="8"><ui:include src="/WEB-INF/view/components/jurisdiction_screen.xhtml">
										<ui:param name="handler"
											value="#{beanDetail.firstuseJurisdictionHandler}" />
										<ui:param name="popupName" value="searchJurisdictionFirstUse" />
										<ui:param name="popupForm" value="searchJurisdictionFormFirstUse" />
										<ui:param name="id" value="jurisIdFirstUse" />	
										<ui:param name="readonly" value="false"/>
								  		<ui:param name="required" value="false"/> <!-- Will validate in bean to prevent message in queue -->
										<ui:param name="showheaders" value="true"/>
									</ui:include>
								</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr style="display: none;">
								<td class="column-spacer">&#160;</td>
								<td class="column-input3" colspan="8" width="800px">
									<div id="embedded-table">
										<table cellpadding="0" cellspacing="0" width="800px"
											id="rollover" class="ruler" border="0">
											<tbody>
												<tr>
													<td style="width: 220px;"><h:outputText
															value="STJ&#160;1&#160;-&#160;5:&#160;" /></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.firstuseStj1Name}"
															disabled="#{readonly}"></h:inputText></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.firstuseStj2Name}"
															disabled="#{readonly}"></h:inputText></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.firstuseStj3Name}"
															disabled="#{readonly}"></h:inputText></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.firstuseStj4Name}"
															disabled="#{readonly}"></h:inputText></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.firstuseStj5Name}"
															disabled="#{readonly}"></h:inputText></td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
								<td width="10%">&#160;</td>
							</tr>

						</tbody>
					</table>
				</rich:simpleTogglePanel>
				<rich:simpleTogglePanel id="BillToInformationPanel"
					switchType="ajax" label="Bill To Information"
					actionListener="#{beanDetail.togglePanelController.togglePanelChanged}"
                    opened="#{beanDetail.togglePanelController.togglePanels['BillToInformationPanel']}"
					bodyClass="togglepanel-body"
					headerClass="togglepanel-header" styleClass="togglepanel">

                    <f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

					<table cellpadding="0" cellspacing="0" width="100%" id="rollover"
						class="ruler">
						<tbody>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['billtoEntityId'].description}:" />
								</td>
								<c:if test="#{!readonly}">
									<td style="width: 220px;"><h:selectOneMenu
											id="billtoEntityMenuMain" value="#{trDetail.billtoEntityId}"
											disabled="#{readonly}" style="width: 150px;">
											<f:selectItems value="#{beanDetail.entities}" />
										</h:selectOneMenu>
									</td>
								</c:if>
								<c:if test="#{readonly}">
									<td colspan="1" style="width: 200px;"><h:inputText
											value="#{cacheManager.entityIdMap[trDetail.billtoEntityId]}"
											style="width:220px;" disabled="#{readonly}"></h:inputText>
									</td>
								</c:if>


								<td class="column-spacer" colspan="6">&#160;</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="Jurisdiction ID:" /></td>
								<td style="align: left;"><h:inputText
										id="jurisdictionIdBillto" style="text-align:right;float:left;"
										disabled="#{readonly}"
										value="#{beanDetail.billtoJurisdictionHandler.jurisdictionId}"
										onkeypress="return onlyIntegerValue(event);"
										label="Jurisdiction ID">
										<f:convertNumber integerOnly="true" groupingUsed="false" />
										
									</h:inputText>
								</td>
								<td width="10%" colspan="8">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['billtoAddressLine1'].description}:" />
								</td>
								<td class="column-input3" colspan="5"><h:inputText
										style="width:400px;" value="#{trDetail.billtoAddressLine1}"
										disabled="#{readonly}"></h:inputText></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{matrixCommonBean.billTransactionPropertyMap['billtoAddressLine2'].description}:" />
								</td>
								<td class="column-input3" colspan="5"><h:inputText
										style="width:400px;" value="#{trDetail.billtoAddressLine2}"
										disabled="#{readonly}"></h:inputText></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td style="align: left;" colspan="8"><ui:include src="/WEB-INF/view/components/jurisdiction_screen.xhtml">
										<ui:param name="handler"
											value="#{beanDetail.billtoJurisdictionHandler}" />
										<ui:param name="popupName" value="searchJurisdictionBillto" />
										<ui:param name="popupForm" value="searchJurisdictionFormBillto" />
										<ui:param name="id" value="jurisIdBillto" />	
										<ui:param name="readonly" value="false"/>
								  		<ui:param name="required" value="false"/> <!-- Will validate in bean to prevent message in queue -->
										<ui:param name="showheaders" value="true"/>
									</ui:include>
								</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr style="display: none;">
								<td class="column-spacer">&#160;</td>
								<td class="column-input3" colspan="8" width="800px">
									<div id="embedded-table">
										<table cellpadding="0" cellspacing="0" width="800px"
											id="rollover" class="ruler" border="0">
											<tbody>
												<tr>
													<td style="width: 220px;"><h:outputText
															value="STJ&#160;1&#160;-&#160;5:&#160;" /></td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.billtoStj1Name}" disabled="#{readonly}"></h:inputText>
													</td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.billtoStj2Name}" disabled="#{readonly}"></h:inputText>
													</td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.billtoStj3Name}" disabled="#{readonly}"></h:inputText>
													</td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.billtoStj4Name}" disabled="#{readonly}"></h:inputText>
													</td>
													<td style="width: 220px;"><h:inputText
															value="#{trDetail.billtoStj5Name}" disabled="#{readonly}"></h:inputText>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
								<td width="10%">&#160;</td>
							</tr>

						</tbody>
					</table>
				</rich:simpleTogglePanel>
			</h:panelGrid>
		</div>
		<!-- end of Location -->
	</div>
</ui:component>
