<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
<ui:define name="script">
<script type="text/javascript">
//<![CDATA[
//]]>
</script>
</ui:define>
 
<div id="table-one-top" style="padding: 1px 10px 1px 15px;">
	<table cellpadding="0" cellspacing="0" style="width: 100%; height: 22px;"><tr>
		<td width="70"><a4j:commandLink id="toggleCustLocnCollapse" style="text-decoration: underline;color:#0033FF;"
				action="reference_documents_panel" actionListener="#{handler.togglePanelController.collapseTogglePanels}" ><h:outputText value="collapse all"/></a4j:commandLink></td>
		<td align="left"><a4j:commandLink id="toggleRefDocExpand" style="text-decoration: underline;color:#0033FF;"  
  				action="reference_documents_panel" actionListener="#{handler.togglePanelController.expandTogglePanels}" ><h:outputText value="expand all"/></a4j:commandLink></td>
		<td align="right" width="100"><h:outputText style="color:white;" value="Wildcard&#160;=&#160;%" /></td>
	</tr></table>
</div>   
 	<div id="table-one-content" style="height: auto;">
		<div id="embedded-table">
	  		<h:panelGrid id="togglePanel1" columns="1" width="100%">
				<rich:simpleTogglePanel id="ReferenceInformationPanel"   switchType="ajax" label="Reference Information" opened="#{handler.togglePanelController.togglePanels['ReferenceInformationPanel']}"
			    actionListener = "#{handler.togglePanelController.togglePanelChanged}" 
				bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
					<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
			
				<h:panelGrid id="RefInfoPanelGrid" columns="2" columnClasses="column-label,column-input">
				
					<h:outputText value="Reference Document Code:"/>
					<h:inputText id="txtRefDocCode" style="width:520px;" onkeyup="upperCaseInputText(this)" binding="#{handler.refDocCodeInput}"/>
	
					<h:outputText value="Reference Type:"/>
					<h:selectOneMenu id="txtRefTypeCode" binding="#{handler.refTypeCodeInput}">
						<f:selectItems id="ddlRefTypeItms" value="#{handler.refTypeItems}" />
					</h:selectOneMenu>
	
					<h:outputText value="Description:"/>
					<h:inputText id="txtDescription" style="width:520px;" binding="#{handler.descriptionInput}"/>
	
					<h:outputText value="Keywords"/>
					<h:inputText id="txtKeywords" style="width:520px;" binding="#{handler.keyWordsInput}"/>
	
			 	</h:panelGrid>
	
		    </rich:simpleTogglePanel>
		    
		    <rich:simpleTogglePanel id="DocumentInformationPanel"   switchType="ajax" label="Document Information" opened="#{handler.togglePanelController.togglePanels['DocumentInformationPanel']}"
			    actionListener="#{handler.togglePanelController.togglePanelChanged}" 
				bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
					<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
			
			 <h:panelGrid id="docInfoPanelGrid" columns="2" columnClasses="column-label,column-input">
				
				<h:outputText value="Document Name:"/>
					<h:inputText id="txtDocumentname" style="width:520px;" binding="#{handler.docNameInput}"/>
	
					<h:outputText value="File Path:"/>
					<h:inputText id="txtFilepath" style="width:520px;" binding="#{handler.urlInput}"/>
		  	  </h:panelGrid>
	
		    </rich:simpleTogglePanel>
    	    </h:panelGrid>
        </div>
    </div>
	 <div id="table-one-bottom">
	  <ul class="right">
			<li class="clear">
				<a4j:commandLink id="btnClear" actionListener="#{handler.clearAction}" />
			</li>
			<li class="search">
				<a4j:commandLink id="btnSearch" action ="#{handler.searchAction}" 
					reRender="searchResultsTable,okBtn" oncomplete="initScrollingTables();" />
			</li>
	  </ul>
	 </div>
</ui:component>