<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">
 
 <rich:modalPanel id="resetcolumndescriptions" zindex="2000" autosized="true">
	 <f:facet name="header">
		<h:outputText value="Reset all Column Descriptions" />
	</f:facet>
  <h:form id="resetcolumndescriptionsForm">
	<div id="table-one-content" style="height:418px;">
		<table cellpadding="0" cellspacing="0" width="100%" id="resetcolumntableid">
			<thead>
				<tr><td><div align="left"><h:outputText id="resettable" value="Reset #{bean.selectedDataDefinitionTable.tableName}"/></div></td></tr>
			</thead>
		</table>
	</div>
	<table>
		<tr><td><div align="left"><h:outputText id="resettype" value="Select Reset Type:"/></div></td></tr>
		<tr>
			 <td>
				<h:selectOneRadio id="resetTyperadio" disabledClass ="disabledradiotext" style="padding-left: -10px;vertical-align:top;" layout="pageDirection" value= "#{bean.resetType}"
			                    valueChangeListener="#{bean.updateImpdefcodeitems}">
			 	 <f:selectItem itemValue="resettoDefault" itemLabel="Reset to Default Values&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;"/> 
			 	 <f:selectItem itemValue="resettoimportDefinitionColumnHeadings" itemLabel="Reset to Import Definition Column Headings:"   itemDisabled="#{empty bean.impdefcodeList}"/>
			 		<a4j:support event="onclick" ajaxSingle="true" reRender="impdefcodeitems,btnOk" status="none" />       
				</h:selectOneRadio>	

    		</td>
   	 		<td>&#160;</td>
    		<td style="padding: 26px 20px 0px 0px;">
			   	<h:selectOneMenu id = "impdefcodeitems" value="#{bean.importdefcode}" immediate="true"
			   		disabled="#{bean.isImpdefcodeitemsSelect}"  style="width:160px;"> 
					 <c:if test = "#{not empty bean.impdefComboItems}">
						<f:selectItems value="#{bean.impdefComboItems}" /> 
					</c:if>
					<a4j:support event="onchange" ajaxSingle = "true"  reRender = "btnOk" status="none" />
			    </h:selectOneMenu>
		    </td>
        </tr>
   		<tr><td>&#160;</td></tr>
   
    </table>
	<div id="table-one-bottom">	
		<ul class="right">
		<li class="ok"><h:commandLink id="btnOk" action="#{bean.resetDescsAction}" disabled="#{bean.isEnabledButton}" 
		                              onclick="Richfaces.hideModalPanel('resetcolumndescriptions');javascript:Richfaces.showModalPanel('resetColumnloader');" />
		 </li>
		
		<li class="cancel"><h:commandLink id="btnCancel" immediate="true" onclick="Richfaces.hideModalPanel('resetcolumndescriptions'); return false;" /></li>		
		</ul>
	</div>
  </h:form>
 </rich:modalPanel>
 	<rich:modalPanel id="resetColumnloader"  zindex="2000" autosized="true" style = "background-color: #FFFFFF;">
 		<div class="rich-mpnl-body"  style = "background-color: #FFFFFF;width:150px;font-size:12px;padding:11px" >
            <h:outputText value="Resetting Columns...." />
    	 </div>
     </rich:modalPanel>

</ui:component>