<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">
 
 <style type="text/css">
#table-one-content >#table-four-content {
	overflow-x: auto;
	min-height: 230px;
	height: auto !important;
	height: 230px;
	min-width: 960px;
	padding: 0;
	background: #d4e3e8;
	}
	
#table-one-content th{
background-color: #ecf4fe;
padding: 3px;
}
.ie7 .scrollContainer {
	padding-top: 26px;
}
.ie7 .scrollContainer thead tr {
	height: 0px;
	vertical-align: top;
	}
</style>
	<!-- Start toggle panel -->
	<div id="embedded-table">


		<!--  -->
		<rich:simpleTogglePanel id="resultFields" switchType="ajax"
			label="Processing Results"
			actionListener="#{beanDetail.togglePanelController.togglePanelChanged}"
			opened="#{beanDetail.togglePanelController.togglePanels['resultFields']}"
			bodyClass="togglepanel-body" headerClass="togglepanel-header"
			styleClass="togglepanel">
			<f:facet name="openMarker">
				<h:graphicImage style="vertical-align:middle;"
					url="/images/triangle-e.png"></h:graphicImage>
			</f:facet>
			<f:facet name="closeMarker">
				<h:graphicImage style="vertical-align:middle;"
					url="/images/triangle-s.png"></h:graphicImage>
			</f:facet>

			<table cellpadding="0" cellspacing="0" width="100%" id="rollover"
				class="ruler">
				<tbody>
					<tr>
						<td style="width: 300px;">Process Method &#160;<h:outputText
								value="#{beanDetail.viewsaleId.processMethod}" /> Used.
						</td>

					</tr>

					<h:panelGroup
						rendered="#{beanDetail.viewsaleId.creditInd eq ('T' or 't' or 'Y' or 'y' or '1') }">
						<tr>
							<td style="width: 300px;">Credit Indicator detected. All
								amounts * -1.</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{beanDetail.viewsaleId.calculateInd eq ('T' or 't' or 'Y' or 'y' or '1') }">
						<tr>
							<td style="width: 300px;">Nothing calculated. Record written
								to Sale Transaction table.</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup rendered="#{empty beanDetail.viewsaleId.entityId}">
						<tr>
							<td style="width: 300px;">Entity not found.</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup>
						<tr>
							<td></td>
						</tr>
					</h:panelGroup>
					
					<h:panelGroup>
						<tr>
							<td></td>
						</tr>
					</h:panelGroup>
					
					<h:panelGroup>
						<tr>
							<td></td>
						</tr>
					</h:panelGroup>
					<h:panelGroup>
						<tr>
							<td>
							</td>
						</tr>
					</h:panelGroup>
					<!-- PP-394
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.methodDelivery}">
						<tr>
							<td style="width: 350px;">Method of Delivery &#160;<h:outputText
									value="#{beanDetail.viewsaleId.methodDelivery}" /> imported,
								&#160;<h:outputText
									value="#{cacheManager.listCodeMap['MOD'][beanDetail.viewsaleId.methodDeliveryCode].description}" />
								used.
							</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.methodDeliveryCode and empty beanDetail.viewsaleId.methodDelivery}">
						<tr>
							<td style="width: 300px;">Default Method of Delivery&#160;<h:outputText
									value="#{cacheManager.listCodeMap['MOD'][beanDetail.viewsaleId.methodDeliveryCode].description}" />
								used.
							</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{empty beanDetail.viewsaleId.methodDeliveryCode and empty beanDetail.viewsaleId.methodDelivery}">
						<tr>
							<td style="width: 300px;">No Default Method of Delivery found.</td>
						</tr>
					</h:panelGroup>
					 -->
					 
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.entityLocnSetDtlId and beanDetail.viewsaleId.entityLocnSetDtlId > 1}">
						<tr>
							<td style="width: 300px;">Location Set &#160;<h:outputText
									value="#{beanDetail.entityLocSet.locSetCode}" /> - <h:outputText
									value="#{beanDetail.entityLocSet.locName}" /> used.
							</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{empty beanDetail.viewsaleId.shiptoJurisdictionId or beanDetail.viewsaleId.shiptoJurisdictionId eq 0}">
						<tr>
							<td style="width: 300px;">Ship To Location not found.</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{empty beanDetail.viewsaleId.shipfromJurisdictionId or beanDetail.viewsaleId.shipfromJurisdictionId  eq 0}">
						<tr>
							<td style="width: 300px;">Ship From Location not found.</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{empty beanDetail.viewsaleId.ordrorgnJurisdictionId or beanDetail.viewsaleId.ordrorgnJurisdictionId eq 0}">
						<tr>
							<td style="width: 300px;">Order Origin Location not found.</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{empty beanDetail.viewsaleId.ordracptJurisdictionId or beanDetail.viewsaleId.ordracptJurisdictionId eq 0}">
						<tr>
							<td style="width: 300px;">Order Acceptance Location not
								found.</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{empty beanDetail.viewsaleId.firstuseJurisdictionId or beanDetail.viewsaleId.firstuseJurisdictionId eq 0}">
						<tr>
							<td style="width: 300px;">First Use Location not found.</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{empty beanDetail.viewsaleId.billtoJurisdictionId or beanDetail.viewsaleId.firstuseJurisdictionId eq 0}">
						<tr>
							<td style="width: 300px;">Bill To Order Origin Location not
								found.</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{empty beanDetail.viewsaleId.countrySitusMatrixId or beanDetail.viewsaleId.countrySitusMatrixId eq 0}">
						<tr>
							<td style="width: 300px;">Country Situs not found.</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{empty beanDetail.viewsaleId.stateSitusMatrixId or beanDetail.viewsaleId.stateSitusMatrixId eq 0}">
						<tr>
							<td style="width: 300px;">State Situs not found.</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{empty beanDetail.viewsaleId.countySitusMatrixId or beanDetail.viewsaleId.countySitusMatrixId eq 0}">
						<tr>
							<td style="width: 300px;">County Situs not found.</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{empty beanDetail.viewsaleId.citySitusMatrixId or beanDetail.viewsaleId.citySitusMatrixId eq 0}">
						<tr>
							<td style="width: 300px;">City Situs not found.</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.stj1Name and (empty beanDetail.viewsaleId.stj1SitusMatrixId or beanDetail.viewsaleId.stj1SitusMatrixId eq 0)}">
						<tr>
							<td style="width: 300px;"><h:outputText
									value="#{beanDetail.viewsaleId.stj1Name}" />&#160;Situs not
								found.</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.stj2Name and (empty beanDetail.viewsaleId.stj2SitusMatrixId or beanDetail.viewsaleId.stj2SitusMatrixId eq 0)}">
						<tr>
							<td style="width: 300px;"><h:outputText
									value="#{beanDetail.viewsaleId.stj2Name}" />&#160;Situs not
								found.</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.stj3Name and (empty beanDetail.viewsaleId.stj3SitusMatrixId or beanDetail.viewsaleId.stj3SitusMatrixId eq 0)}">
						<tr>
							<td style="width: 300px;"><h:outputText
									value="#{beanDetail.viewsaleId.stj3Name}" />&#160;Situs not
								found.</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.stj4Name and 
						(empty beanDetail.viewsaleId.stj4SitusMatrixId or beanDetail.viewsaleId.stj4SitusMatrixId eq 0)}">
						<tr>
							<td style="width: 300px;"><h:outputText
									value="#{beanDetail.viewsaleId.stj4Name}" />&#160;Situs not
								found.</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.stj5Name and
						 (empty beanDetail.viewsaleId.stj5SitusMatrixId or beanDetail.viewsaleId.stj5SitusMatrixId eq 0)}">
						<tr>
							<td style="width: 300px;"><h:outputText
									value="#{beanDetail.viewsaleId.stj5Name}" />&#160;Situs not
								found.</td>
						</tr>
					</h:panelGroup>

					<h:panelGroup
						rendered="#{(empty beanDetail.viewsaleId.countryNexusDefDetailId or beanDetail.viewsaleId.countryNexusDefDetailId eq 0) and 
						(empty beanDetail.viewsaleId.stateNexusDefDetailId or beanDetail.viewsaleId.stateNexusDefDetailId eq 0)  and 
						(empty beanDetail.viewsaleId.countyNexusDefDetailId or beanDetail.viewsaleId.countyNexusDefDetailId eq 0) and 
						(empty beanDetail.viewsaleId.cityNexusDefDetailId or beanDetail.viewsaleId.cityNexusDefDetailId eq 0) and 
						(empty beanDetail.viewsaleId.stj1NexusDefDetailId or beanDetail.viewsaleId.stj1NexusDefDetailId eq 0) and 
						(empty beanDetail.viewsaleId.stj2NexusDefDetailId or beanDetail.viewsaleId.stj2NexusDefDetailId eq 0) and 
						(empty beanDetail.viewsaleId.stj3NexusDefDetailId or beanDetail.viewsaleId.stj3NexusDefDetailId eq 0) and
						(empty beanDetail.viewsaleId.stj4NexusDefDetailId or beanDetail.viewsaleId.stj4NexusDefDetailId eq 0) and 
						(empty beanDetail.viewsaleId.stj5NexusDefDetailId or beanDetail.viewsaleId.stj5NexusDefDetailId eq 0)}">
						<tr>
							<td style="width: 300px;">Nexus not found</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.exemptCode}">
						<tr>
							<td style="width: 300px;">Transaction Exemption:&#160; 
									<h:outputText
									value="#{cacheManager.listCodeMap['EXEMPTCODE']['FI'].description}"/>
									</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.exemptInd}">
						<tr>
							<td style="width: 300px;">Exempt Indicator:&#160;<h:outputText
									value="#{beanDetail.viewsaleId.exemptInd}" /></td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.exemptReason}">
						<tr>
							<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['EXREASON'][beanDetail.viewsaleId.exemptReason].description}">
							<td style="width: 300px;">Exempt Reason:&#160;<h:outputText
									value="#{cacheManager.listCodeMap['EXREASON'][beanDetail.viewsaleId.exemptReason].description}"/></td>
					
					        </h:panelGroup>
							<h:panelGroup rendered="#{empty cacheManager.listCodeMap['EXREASON'][beanDetail.viewsaleId.exemptReason].description}">
							<td style="width: 300px;">Exempt Reason:&#160;<h:outputText
									value="#{beanDetail.viewsaleId.exemptReason}"/></td>
					
				     		 </h:panelGroup>
						</tr>
					</h:panelGroup>
					
					
					
					<c:if test="#{not empty beanDetail.viewsaleId.manualTaxcodeInd}">
					
						<tr>
								<td style="width: 300px;">TaxCode: &#160; <h:outputText
										value="#{beanDetail.viewsaleId.taxcodeCode}" />
									manually applied.
								</td>
							</tr>
						
						<c:if test="#{(empty beanDetail.viewsaleId.taxMatrixId or beanDetail.viewsaleId.taxMatrixId eq 0) 
						and empty beanDetail.viewsaleId.taxcodeCode}">
							<tr>
								<td style="width: 300px;"><h:outputText
										value="Goods and Services Matrix not found."/></td>
							</tr>
						</c:if>
						
						
						<panelGroup rendered="#{not empty beanDetail.viewsaleId.taxcodeCode}">
							<tr>
								<td style="width: 300px;">Goods and Services Matrix ID &#160;<h:outputText
										value="#{beanDetail.viewsaleId.taxMatrixId}" />returned TaxCode: &#160;<h:outputText
										value="#{beanDetail.viewsaleId.taxcodeCode}" />-&#160;<h:outputText
									value="#{cacheManager.listCodeMap['TRANSTYPE'][beanDetail.viewsaleId.transactionTypeCode].description}" />
								</td>
							</tr>
							</panelGroup>
							<panelGroup rendered="#{empty beanDetail.viewsaleId.taxcodeCode}">
							<tr>
								<td style="width: 300px;"> Goods and Services Matrix ID <h:outputText
										value="#{beanDetail.viewsaleId.taxMatrixId}" />did not return a TaxCode.</td>
							</tr>
							
						
						</panelGroup>

					</c:if>

										
					<h:panelGroup
						rendered="#{(empty beanDetail.viewsaleId.countryTaxcodeDetailId or  beanDetail.viewsaleId.countryTaxcodeDetailId eq 0) and 
						(empty beanDetail.viewsaleId.stateTaxcodeDetailId or beanDetail.viewsaleId.stateTaxcodeDetailId eq 0)  and 
						(empty beanDetail.viewsaleId.countyTaxcodeDetailId or beanDetail.viewsaleId.countyTaxcodeDetailId eq 0) and 
						(empty beanDetail.viewsaleId.cityTaxcodeDetailId  or beanDetail.viewsaleId.cityTaxcodeDetailId eq 0) and 
						(empty beanDetail.viewsaleId.stj1TaxcodeDetailId or beanDetail.viewsaleId.stj1TaxcodeDetailId  eq 0) and 
						(empty beanDetail.viewsaleId.stj2TaxcodeDetailId or beanDetail.viewsaleId.stj2TaxcodeDetailId eq 0) and 
						(empty beanDetail.viewsaleId.stj3TaxcodeDetailId or beanDetail.viewsaleId.stj3TaxcodeDetailId eq 0) and 
						(empty beanDetail.viewsaleId.stj4TaxcodeDetailId or beanDetail.viewsaleId.stj4TaxcodeDetailId eq 0) and 
						(empty beanDetail.viewsaleId.stj5TaxcodeDetailId or beanDetail.viewsaleId.stj5TaxcodeDetailId eq 0) and 
						(empty beanDetail.viewsaleId.stj6TaxcodeDetailId or beanDetail.viewsaleId.stj6TaxcodeDetailId eq 0) and 
						(empty beanDetail.viewsaleId.stj7TaxcodeDetailId or beanDetail.viewsaleId.stj7TaxcodeDetailId eq 0) and 
						(empty beanDetail.viewsaleId.stj8TaxcodeDetailId or beanDetail.viewsaleId.stj8TaxcodeDetailId eq 0) and 
						(empty beanDetail.viewsaleId.stj9TaxcodeDetailId or beanDetail.viewsaleId.stj9TaxcodeDetailId eq 0) and 
						(empty beanDetail.viewsaleId.stj10TaxcodeDetailId or beanDetail.viewsaleId.stj10TaxcodeDetailId eq 0)}">
						<tr>
							<td style="width: 300px;">TaxCode Details not found. &#160;</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{empty beanDetail.viewsaleId.countryTaxtypeUsedCode and empty beanDetail.viewsaleId.stateTaxtypeUsedCode and empty beanDetail.viewsaleId.countyTaxtypeUsedCode and empty beanDetail.viewsaleId.countyTaxtypeUsedCode and empty beanDetail.viewsaleId.cityTaxtypeUsedCode and empty beanDetail.viewsaleId.stj1TaxtypeUsedCode and empty beanDetail.viewsaleId.stj2TaxtypeUsedCode and empty beanDetail.viewsaleId.stj3TaxtypeUsedCode and empty beanDetail.viewsaleId.stj4TaxtypeUsedCode and empty beanDetail.viewsaleId.stj5TaxtypeUsedCode and empty beanDetail.viewsaleId.stj6TaxtypeUsedCode and empty beanDetail.viewsaleId.stj7TaxtypeUsedCode and empty beanDetail.viewsaleId.stj8TaxtypeUsedCode and empty beanDetail.viewsaleId.stj9TaxtypeUsedCode and empty beanDetail.viewsaleId.stj10TaxtypeUsedCode}">
						<tr>
							<td style="width: 300px;">Tax Type not found.&#160;</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{(empty beanDetail.viewsaleId.countryTaxrateId or beanDetail.viewsaleId.countryTaxrateId eq 0)}">
						<h:panelGroup
							rendered="#{not empty beanDetail.viewsaleId.countryCode}">

							<tr>
								<td style="width: 300px;"><h:outputText
										value="#{cacheManager.listCodeMap['COUNTRY'][beanDetail.viewsaleId.countryCode].description}" />
									rate not found.&#160;</td>
							</tr>
						</h:panelGroup>
						<h:panelGroup
							rendered="#{empty beanDetail.viewsaleId.countryCode}">

							<tr>
								<td style="width: 300px;">Country rate not found. &#160;</td>
							</tr>
						</h:panelGroup>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{(empty beanDetail.viewsaleId.stateTaxrateId or beanDetail.viewsaleId.stateTaxrateId eq 0)}">
						<h:panelGroup
							rendered="#{not empty beanDetail.viewsaleId.stateCode}">

							<tr>
								<td style="width: 300px;"><h:outputText
										value="#{cacheManager.taxCodeStateMap[beanDetail.viewsaleId.stateCode].name}" />
									rate not found. &#160;</td>
							</tr>
						</h:panelGroup>
						<h:panelGroup rendered="#{empty beanDetail.viewsaleId.stateCode}">

							<tr>
								<td style="width: 300px;">State rate not found. &#160;</td>
							</tr>
						</h:panelGroup>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{empty beanDetail.viewsaleId.countyTaxrateId or beanDetail.viewsaleId.countyTaxrateId eq 0}">
						<h:panelGroup
							rendered="#{not empty beanDetail.viewsaleId.countyName}">

							<tr>
								<td style="width: 300px;"><h:outputText
										value="#{beanDetail.viewsaleId.countyName}" /> rate not
									found. &#160;</td>
							</tr>
						</h:panelGroup>
						<h:panelGroup rendered="#{empty beanDetail.viewsaleId.countyName}">

							<tr>
								<td style="width: 300px;">County rate not found. &#160;</td>
							</tr>
						</h:panelGroup>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{empty beanDetail.viewsaleId.cityTaxrateId or beanDetail.viewsaleId.cityTaxrateId eq 0}">
						<h:panelGroup
							rendered="#{not empty beanDetail.viewsaleId.cityName}">

							<tr>
								<td style="width: 300px;"><h:outputText
										value="#{beanDetail.viewsaleId.cityName}" /> rate not
									found.&#160;</td>
							</tr>
						</h:panelGroup>
						<h:panelGroup rendered="#{empty beanDetail.viewsaleId.cityName}">

							<tr>
								<td style="width: 300px;">City rate not found. &#160;</td>
							</tr>
						</h:panelGroup>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.stj1Name and (empty beanDetail.viewsaleId.stj1TaxrateId or  beanDetail.viewsaleId.stj1TaxrateId eq 0)}">

						<tr>
							<td style="width: 300px;"><h:outputText
									value="#{beanDetail.viewsaleId.stj1Name}" /> rate not found.
								&#160;</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.stj2Name and (empty beanDetail.viewsaleId.stj2TaxrateId or beanDetail.viewsaleId.stj2TaxrateId eq 0)}">

						<tr>
							<td style="width: 300px;"><h:outputText
									value="#{beanDetail.viewsaleId.stj2Name}" /> rate not found.
								&#160;</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.stj3Name and (empty beanDetail.viewsaleId.stj3TaxrateId or beanDetail.viewsaleId.stj3TaxrateId eq 0)}">

						<tr>
							<td style="width: 300px;"><h:outputText
									value="#{beanDetail.viewsaleId.stj3Name}" /> rate not found.
								&#160;</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.stj4Name and (empty beanDetail.viewsaleId.stj4TaxrateId or beanDetail.viewsaleId.stj4TaxrateId eq 0)}">
						<tr>
							<td style="width: 300px;"><h:outputText
									value="#{beanDetail.viewsaleId.stj4Name}" /> rate not found.
								&#160;</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.stj5Name and (empty beanDetail.viewsaleId.stj5TaxrateId or beanDetail.viewsaleId.stj5TaxrateId eq 0)}">
						<tr>
							<td style="width: 300px;"><h:outputText
									value="#{beanDetail.viewsaleId.stj5Name}" /> rate not found.
								&#160;</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.stj6Name and (empty beanDetail.viewsaleId.stj6TaxrateId or beanDetail.viewsaleId.stj6TaxrateId eq 0)}">

						<tr>
							<td style="width: 300px;"><h:outputText
									value="#{beanDetail.viewsaleId.stj6Name}" /> rate not found.
								&#160;</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.stj7Name and (empty beanDetail.viewsaleId.stj7TaxrateId or beanDetail.viewsaleId.stj7TaxrateId eq 0)}">

						<tr>
							<td style="width: 300px;"><h:outputText
									value="#{beanDetail.viewsaleId.stj7Name}" /> rate not found.
								&#160;</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.stj8Name and (empty beanDetail.viewsaleId.stj8TaxrateId or beanDetail.viewsaleId.stj8TaxrateId eq 0)}">

						<tr>
							<td style="width: 300px;"><h:outputText
									value="#{beanDetail.viewsaleId.stj8Name}" /> rate not found.
								&#160;</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.stj9Name and (empty beanDetail.viewsaleId.stj9TaxrateId or beanDetail.viewsaleId.stj9TaxrateId eq 0)}">

						<tr>
							<td style="width: 300px;"><h:outputText
									value="#{beanDetail.viewsaleId.stj9Name}" /> rate not found.
								&#160;</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup
						rendered="#{not empty beanDetail.viewsaleId.stj10Name and (empty beanDetail.viewsaleId.stj10TaxrateId or beanDetail.viewsaleId.stj10TaxrateId eq 0)}">

						<tr>
							<td style="width: 300px;"><h:outputText
									value="#{beanDetail.viewsaleId.stj10Name}" /> rate not found.
								&#160;</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup rendered="#{not empty beanDetail.viewsaleId.tbCalcTaxAmt and beanDetail.viewsaleId.tbCalcTaxAmt > 0}">
						<tr>
							<td style="width: 300px;">Total Tax: <h:outputText
									value="#{beanDetail.viewsaleId.tbCalcTaxAmt}" converter="number" />

							</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup rendered="#{empty beanDetail.viewsaleId.tbCalcTaxAmt or beanDetail.viewsaleId.tbCalcTaxAmt eq 0}">
						<tr>
							<td style="width: 300px;">Total Tax: <h:outputText
									value="0.00"/>

							</td>
						</tr>
					</h:panelGroup>
					
					<h:panelGroup rendered="#{not empty beanDetail.viewsaleId.combinedRate}">
						<tr>
							<td style="width: 300px;">Combined Rate: <h:outputText
									value="#{beanDetail.viewsaleId.combinedRate}">
									  <f:convertNumber type="percent" minFractionDigits="2"  maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}" />
                                     </h:outputText>

							</td>
						</tr>
					</h:panelGroup>
					<h:panelGroup rendered="#{empty beanDetail.viewsaleId.combinedRate or beanDetail.viewsaleId.combinedRate eq 0 }">
						<tr>
							<td style="width: 300px;">Combined Rate: <h:outputText
									value="0.00%"/>

							</td>
						</tr>
					</h:panelGroup>
					
				</tbody>
			</table>
		</rich:simpleTogglePanel>

	</div>

	<rich:simpleTogglePanel id="ruleResults" switchType="ajax"
		label="Process Rules Results"
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}"
		opened="#{beanDetail.togglePanelController.togglePanels['ruleResults']}"
		bodyClass="togglepanel-body" headerClass="togglepanel-header"
		styleClass="togglepanel" >
		<f:facet name="openMarker">
			<h:graphicImage style="vertical-align:middle;"
				url="/images/triangle-e.png"></h:graphicImage>
		</f:facet>
		<f:facet name="closeMarker">
			<h:graphicImage style="vertical-align:middle;"
				url="/images/triangle-s.png"></h:graphicImage>
		</f:facet>
	  <div id="bottom">
      <div id="table-four">
         <div class="table-four-content">
          <div class="scrollContainer">
           <div class="scrollInner" id="resize">                 
           	<rich:dataTable rowClasses="odd-row,even-row" 
									   id="resultsTable"
									   value="#{beanDetail.listviewResults}" var="resultsMaintenance"
										sortMode="single"
										rendered="#{not empty beanDetail.listviewResults}">
									 										
										<rich:column sortBy="#{resultsMaintenance.listcodedescription}"  >
										<f:facet name="header">
										
										<a4j:commandLink id="RuleType" value="Rule Type" styleClass="column-sort"/>
										</f:facet>
											<div align="left"><h:outputText value="#{resultsMaintenance.listcodedescription}" /></div>
										</rich:column>
										
										<rich:column sortBy="#{resultsMaintenance.proruledescription}" styleClass="column-sort">
										<f:facet name="header">	<a4j:commandLink id="Rule" value="Rule"/></f:facet>
											<div align="left"><h:outputText value="#{resultsMaintenance.proruledescription}" /></div>
										</rich:column>										
										<rich:column sortBy="#{resultsMaintenance.datadefdescription}" styleClass="column-sort"> 
										<f:facet name="header"><a4j:commandLink id="Col" value="Column"/></f:facet>
											<div align="left"><h:outputText  value="#{resultsMaintenance.datadefdescription}"  /></div>
										</rich:column>
										
										<rich:column sortBy="#{resultsMaintenance.beforeValue}" styleClass="column-sort">
											<f:facet name="header"><a4j:commandLink id="BValue" value="Before Value"/></f:facet>
											<div align="left"><h:outputText value="#{resultsMaintenance.beforeValue}" /></div>
										</rich:column>
										
										<rich:column sortBy="#{resultsMaintenance.afterValue}" styleClass="column-sort">
											<f:facet name="header"><a4j:commandLink id="AValue" value="After Value"/></f:facet>
											<div align="left"><h:outputText value="#{resultsMaintenance.afterValue}"/></div>
										</rich:column>
                                     </rich:dataTable>
                                                           
									<h:panelGroup rendered="#{empty beanDetail.listviewResults}">
										<div style="vertical-align: middle;">No Process Rules to
											Display.</div>
							        	</h:panelGroup>		
					         
							       </div>	
							        </div>
							        </div>
							      </div>
							        
							
				  		</div>
	
		<!-- end of User Fields -->
	</rich:simpleTogglePanel>
                                     




</ui:component>
