<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

<!-- Start toggle panel -->
<div id="embedded-table">
<h:panelGrid id="togglePanel2" columns="1" width="100%"  >

<rich:simpleTogglePanel id="customerInformation"   switchType="ajax" label="Customer Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['customerInformation']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
			
<!-- Customer -->
<table cellpadding="0" cellspacing="0" border="3" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['custNbr'].description}:"/></td>
<td class="column-input3">
    <h:inputText id="customerId" value="#{trDetail.custNbr}"  style="width:200px;" disabled="#{beanDetail.isReadonly}"  immediate="true" >	 
		<a4j:support id="ajaxcustomerId" event="onblur" action="#{beanDetail.customerIdChanged}" reRender="custNameId,customerIdAtBi" />
	</h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-input3">
    <h:inputText id="custNameId" disabled="true" value="#{trDetail.custName}"  style="width:200px;" />
</td>

<td width="20px">
	<h:commandLink id="btnLookup" value="" styleClass="image" action="#{beanDetail.searchCustomerLocationAction}"
						rendered="#{!beanDetail.isReadonly}"><h:graphicImage value="../images/search_small.png" />
    </h:commandLink>
</td>
<td width="150px">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>
		
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['custLocnCode'].description}:"/></td>
<td class="column-input3">
	<h:inputText id="locationId" value="#{trDetail.custLocnCode}"  style="width:200px;" disabled="#{beanDetail.isReadonly}"
	 	valueChangeListener="#{beanDetail.recalLocationCode}" immediate="true" >
		<a4j:support id="ajaxlocationId" event="onblur" immediate="true" reRender="locationNameId" />
	</h:inputText>		 
</td>
<td class="column-spacer">&#160;</td>
<td class="column-input3">
      <h:inputText id="locationNameId" disabled="true" value="#{trDetail.locationName}"  style="width:200px;" />
</td>
<td width="150px">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3" ><h:outputText value="Jurisdiction ID:"/></td>
<td style="align:left;">
<h:inputText id="jurisdictionId" style="text-align:right;float:left;" disabled="#{beanDetail.isReadonly}"
				value="#{beanDetail.jurisdictionId}"
				onkeypress="return onlyIntegerValue(event);" 
				label="Jurisdiction ID">
				<f:convertNumber integerOnly="true" groupingUsed="false" />
			</h:inputText>
</td>
<td width="10%" colspan="7" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['custAddressLine1'].description}:"/></td>
<td class="column-input3" colspan="5"><h:inputText style="width:400px;" value="#{trDetail.custAddressLine1}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['custAddressLine2'].description}:"/></td>
<td class="column-input3" colspan="5"><h:inputText style="width:400px;" value="#{trDetail.custAddressLine2}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>


<tr>
<td class="column-spacer">&#160;</td>
<td style="align:left;" colspan="8">
	<ui:include src="/WEB-INF/view/components/jurisdictionplus.xhtml">
		<ui:param name="handler" value="#{beanDetail.filterHandler2}"/>
		<ui:param name="id" value="jurisInput2"/>
		<ui:param name="readonly" value="#{beanDetail.isReadonly}"/>
		<ui:param name="showheaders" value="true"/>
		<ui:param name="popupName" value="searchJurisdiction2"/>
		<ui:param name="popupForm" value="searchJurisdictionForm2"/>
	</ui:include>
</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['certNbr'].description}:"/></td>
<td class="column-input3" colspan="5"><h:inputText style="width:400px;" value="#{trDetail.certNbr}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['certType'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3" colspan="5">
		<h:selectOneMenu id="certTypeCodeId" value="#{trDetail.certType}" disabled="#{beanDetail.isReadonly}" style="width:300px;" >
					<f:selectItems value="#{beanDetail.filterCertTypeMenuItems}"/>			
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="5" style="width: 200px;">
	<h:inputText value="#{cacheManager.certTypeMap[trDetail.certType]}"  style="width:200px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="Cert. Sign Date:"/></td>
					
<c:if test="#{!beanDetail.isReadonly}">
<td>
	<rich:calendar zindex="1000"  disabled="#{beanDetail.isReadonly}"
		id="certSignDate" enableManualInput="true" label="From G/L Date"
		oninputkeypress="return onlyDateValue(event);"
		value="#{beanDetail.certSignDate}" popup="true"
		converter="date"
		datePattern="M/d/yyyy"
		showApplyButton="false" inputClass="textbox" />
</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{beanDetail.certSignDate}" converter="date" style="width:200px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>						
					
					
					
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="Cert. Expiration Date:"/></td>

										
<c:if test="#{!beanDetail.isReadonly}">
<td>
	<rich:calendar zindex="1000"  disabled="#{beanDetail.isReadonly}"
		id="certExpirationDate" enableManualInput="true" label="To G/L Date"
		oninputkeypress="return onlyDateValue(event);"
		value="#{beanDetail.certExpirationDate}" popup="true"
		converter="date"
		datePattern="M/d/yyyy"
		showApplyButton="false" inputClass="textbox" />
</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{beanDetail.certExpirationDate}" converter="date" style="width:200px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>							
					
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['certImage'].description}:"/></td>
<td class="column-input3" colspan="7"><h:inputText style="width:400px;" value="#{trDetail.certImage}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td width="10%" >&#160;</td>
</tr>


</tbody>
</table>	
<!-- end of Customer -->	
</rich:simpleTogglePanel>
</h:panelGrid>
</div>
	
</ui:component>
