<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

<!-- Start toggle panel -->
<div id="embedded-table">
<h:panelGrid id="togglePanel4" columns="1" width="100%">

<rich:simpleTogglePanel id="shipToInformation"   switchType="ajax" label="Ship To Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['shipToInformation']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
			
<!-- Location -->
<table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['shiptoEntityId'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="shiptoEntityMenuMain" value="#{trDetail.shiptoEntityId}" disabled="#{beanDetail.isReadonly}" >
					<f:selectItems value="#{beanDetail.filterEntityMenuItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.entityIdMap[trDetail.shiptoEntityId]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer" colspan="6">&#160;</td>
<td width="10%" >&#160;</td>
</tr>	

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3" ><h:outputText value="Jurisdiction ID:"/></td>
<td style="align:left;">
<h:inputText id="jurisdictionIdShipto" style="text-align:right;float:left;" disabled="#{beanDetail.isReadonly}" 
				value="#{beanDetail.jurisdictionIdShipto}"
				onkeypress="return onlyIntegerValue(event);" 
				label="Jurisdiction ID">
				<f:convertNumber integerOnly="true" groupingUsed="false" />
			</h:inputText>
</td>
<td width="10%" colspan="8" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['shiptoAddressLine1'].description}:"/></td>
<td class="column-input3" colspan="5"><h:inputText style="width:400px;" value="#{trDetail.shiptoAddressLine1}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['shiptoAddressLine2'].description}:"/></td>
<td class="column-input3" colspan="5"><h:inputText style="width:400px;" value="#{trDetail.shiptoAddressLine2}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td style="align:left;" colspan="8">
	<ui:include src="/WEB-INF/view/components/jurisdictionplus.xhtml">
		<ui:param name="handler" value="#{beanDetail.filterHandlerShipto}"/>
		<ui:param name="id" value="jurisInputShipto"/>
		<ui:param name="readonly" value="#{beanDetail.isReadonly}"/>
		<ui:param name="showheaders" value="true"/>
		<ui:param name="popupName" value="searchJurisdictionShipto"/>
		<ui:param name="popupForm" value="searchJurisdictionFormShipto"/>
		<ui:param name="reRender" value="jurisInput1"/>
		<ui:param name="reRenderGeocode" value="jurisInput1_geocode"/>
		<ui:param name="reRenderCity" value="jurisInput1_city"/>
		<ui:param name="reRenderCounty" value="jurisInput1_county"/>
		<ui:param name="reRenderZip" value="jurisInput1_zip"/>
		<ui:param name="reRenderPlus4" value="jurisInput1_plus4"/>
		<ui:param name="onblurEnable" value="false"/>
	</ui:include>
</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-input3" colspan="8" width="800px" >
	<div id="embedded-table">
	<table cellpadding="0" cellspacing="0" width="800px" id="rollover" class="ruler" border="0">
	<tbody>
	<c:if test="#{not empty trDetail.shiptoStj1Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 1:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.shiptoStj1Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.shiptoStj2Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 2:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.shiptoStj2Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.shiptoStj3Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 3:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.shiptoStj3Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.shiptoStj4Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 4:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.shiptoStj4Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.shiptoStj5Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 5:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.shiptoStj5Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	</tbody>
	</table>
	</div>
</td>
<td width="10%" >&#160;</td>
</tr>

</tbody>
</table>
</rich:simpleTogglePanel>

<rich:simpleTogglePanel id="shipFromInformation"   switchType="ajax" label="Ship From Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['shipFromInformation']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
			
<table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['shipfromEntityId'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="shipfromEntityMenuMain" value="#{trDetail.shipfromEntityId}" disabled="#{beanDetail.isReadonly}" >
					<f:selectItems value="#{beanDetail.filterEntityMenuItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.entityIdMap[trDetail.shipfromEntityId]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer" colspan="6">&#160;</td>
<td width="10%" >&#160;</td>
</tr>	

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3" ><h:outputText value="Jurisdiction ID:"/></td>
<td style="align:left;">
<h:inputText id="jurisdictionIdShipfrom" style="text-align:right;float:left;" disabled="#{beanDetail.isReadonly}"
				value="#{beanDetail.jurisdictionIdShipfrom}"
				onkeypress="return onlyIntegerValue(event);" 
				label="Jurisdiction ID">
				<f:convertNumber integerOnly="true" groupingUsed="false" />
			</h:inputText>
</td>
<td width="10%" colspan="8" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['shipfromAddressLine1'].description}:"/></td>
<td class="column-input3" colspan="5"><h:inputText style="width:400px;" value="#{trDetail.shipfromAddressLine1}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['shipfromAddressLine2'].description}:"/></td>
<td class="column-input3" colspan="5"><h:inputText style="width:400px;" value="#{trDetail.shipfromAddressLine2}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td style="align:left;" colspan="8">
	<ui:include src="/WEB-INF/view/components/jurisdictionplus.xhtml">
		<ui:param name="handler" value="#{beanDetail.filterHandlerShipfrom}"/>
		<ui:param name="id" value="jurisInputShipfrom"/>
		<ui:param name="readonly" value="#{beanDetail.isReadonly}"/>
		<ui:param name="showheaders" value="true"/>
		<ui:param name="popupName" value="searchJurisdictionShipfrom"/>
		<ui:param name="popupForm" value="searchJurisdictionFormShipfrom"/>
		<ui:param name="reRender" value="jurisInput"/>
		<ui:param name="reRenderGeocode" value="jurisInput_geocode"/>
		<ui:param name="reRenderCity" value="jurisInput_city"/>
		<ui:param name="reRenderCounty" value="jurisInput_county"/>
		<ui:param name="reRenderZip" value="jurisInput_zip"/>
		<ui:param name="reRenderPlus4" value="jurisInput_plus4"/>
		<ui:param name="onblurEnable" value="false"/>
	</ui:include>
</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-input3" colspan="8" width="800px" >
	<div id="embedded-table">
	<table cellpadding="0" cellspacing="0" width="800px" id="rollover" class="ruler" border="0">
	<tbody>
	<c:if test="#{not empty trDetail.shipfromStj1Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 1:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.shipfromStj1Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.shipfromStj2Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 2:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.shipfromStj2Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.shipfromStj3Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 3:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.shipfromStj3Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.shipfromStj4Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 4:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.shipfromStj4Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.shipfromStj5Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 5:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.shipfromStj5Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	</tbody>
	</table>
	</div>
</td>
<td width="10%" >&#160;</td>
</tr>

</tbody>
</table>
</rich:simpleTogglePanel>

<rich:simpleTogglePanel id="orderOriginInformation"   switchType="ajax" label="Order Origin Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['orderOriginInformation']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
			
<table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['ordrorgnEntityId'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="ordrorgnEntityMenuMain" value="#{trDetail.ordrorgnEntityId}" disabled="#{beanDetail.isReadonly}" >
					<f:selectItems value="#{beanDetail.filterEntityMenuItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.entityIdMap[trDetail.ordrorgnEntityId]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer" colspan="6">&#160;</td>
<td width="10%" >&#160;</td>
</tr>	

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3" ><h:outputText value="Jurisdiction ID:"/></td>
<td style="align:left;">
<h:inputText id="jurisdictionIdOrdrorgn" style="text-align:right;float:left;" disabled="#{beanDetail.isReadonly}"
				value="#{beanDetail.jurisdictionIdOrdrorgn}"
				onkeypress="return onlyIntegerValue(event);" 
				label="Jurisdiction ID">
				<f:convertNumber integerOnly="true" groupingUsed="false" />
			</h:inputText>
</td>
<td width="10%" colspan="8" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['ordrorgnAddressLine1'].description}:"/></td>
<td class="column-input3" colspan="5"><h:inputText style="width:400px;" value="#{trDetail.ordrorgnAddressLine1}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['ordrorgnAddressLine2'].description}:"/></td>
<td class="column-input3" colspan="5"><h:inputText style="width:400px;" value="#{trDetail.ordrorgnAddressLine2}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td style="align:left;" colspan="8">
	<ui:include src="/WEB-INF/view/components/jurisdictionplus.xhtml">
		<ui:param name="handler" value="#{beanDetail.filterHandlerOrdrorgn}"/>
		<ui:param name="id" value="jurisInputOrdrorgn"/>
		<ui:param name="readonly" value="#{beanDetail.isReadonly}"/>
		<ui:param name="showheaders" value="true"/>
		<ui:param name="popupName" value="searchJurisdictionOrdrorgn"/>
		<ui:param name="popupForm" value="searchJurisdictionFormOrdrorgn"/>
	</ui:include>
</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-input3" colspan="8" width="800px" >
	<div id="embedded-table">
	<table cellpadding="0" cellspacing="0" width="800px" id="rollover" class="ruler" border="0">
	<tbody>
	<c:if test="#{not empty trDetail.ordrorgnStj1Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 1:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.ordrorgnStj1Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.ordrorgnStj2Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 2:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.ordrorgnStj2Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.ordrorgnStj3Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 3:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.ordrorgnStj3Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.ordrorgnStj4Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 4:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.ordrorgnStj4Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.ordrorgnStj5Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 5:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.ordrorgnStj5Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	</tbody>
	</table>
	</div>
</td>
<td width="10%" >&#160;</td>
</tr>

</tbody>
</table>
</rich:simpleTogglePanel>

<rich:simpleTogglePanel id="orderAcceptanceInformation"   switchType="ajax" label="Order Acceptance Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['orderAcceptanceInformation']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
			
<table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['ordracptEntityId'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="ordracptEntityMenuMain" value="#{trDetail.ordracptEntityId}" disabled="#{beanDetail.isReadonly}" >
					<f:selectItems value="#{beanDetail.filterEntityMenuItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.entityIdMap[trDetail.ordracptEntityId]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer" colspan="6">&#160;</td>
<td width="10%" >&#160;</td>
</tr>	

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3" ><h:outputText value="Jurisdiction ID:"/></td>
<td style="align:left;">
<h:inputText id="jurisdictionIdOrdracpt" style="text-align:right;float:left;" disabled="#{beanDetail.isReadonly}"
				value="#{beanDetail.jurisdictionIdOrdracpt}"
				onkeypress="return onlyIntegerValue(event);" 
				label="Jurisdiction ID">
				<f:convertNumber integerOnly="true" groupingUsed="false" />
			</h:inputText>
</td>
<td width="10%" colspan="8" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['ordracptAddressLine1'].description}:"/></td>
<td class="column-input3" colspan="5"><h:inputText style="width:400px;" value="#{trDetail.ordracptAddressLine1}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['ordracptAddressLine2'].description}:"/></td>
<td class="column-input3" colspan="5"><h:inputText style="width:400px;" value="#{trDetail.ordracptAddressLine2}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td style="align:left;" colspan="8">
	<ui:include src="/WEB-INF/view/components/jurisdictionplus.xhtml">
		<ui:param name="handler" value="#{beanDetail.filterHandlerOrdracpt}"/>
		<ui:param name="id" value="jurisInputOrdracpt"/>
		<ui:param name="readonly" value="#{beanDetail.isReadonly}"/>
		<ui:param name="showheaders" value="true"/>
		<ui:param name="popupName" value="searchJurisdictionOrdracpt"/>
		<ui:param name="popupForm" value="searchJurisdictionFormOrdracpt"/>
	</ui:include>
</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-input3" colspan="8" width="800px" >
	<div id="embedded-table">
	<table cellpadding="0" cellspacing="0" width="800px" id="rollover" class="ruler" border="0">
	<tbody>
	<c:if test="#{not empty trDetail.ordracptStj1Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.ordracptStj1Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.ordracptStj2Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.ordracptStj2Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.ordracptStj3Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.ordracptStj3Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.ordracptStj4Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.ordracptStj4Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.ordracptStj5Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.ordracptStj5Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	</tbody>
	</table>
	</div>
</td>
<td width="10%" >&#160;</td>
</tr>

</tbody>
</table>
</rich:simpleTogglePanel>

<rich:simpleTogglePanel id="firstUseInformation"   switchType="ajax" label="First Use Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['firstUseInformation']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
			
<table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['firstuseEntityId'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="firstuseEntityMenuMain" value="#{trDetail.firstuseEntityId}" disabled="#{beanDetail.isReadonly}" >
					<f:selectItems value="#{beanDetail.filterEntityMenuItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.entityIdMap[trDetail.firstuseEntityId]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer" colspan="6">&#160;</td>
<td width="10%" >&#160;</td>
</tr>	

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3" ><h:outputText value="Jurisdiction ID:"/></td>
<td style="align:left;">
<h:inputText id="jurisdictionIdFirstuse" style="text-align:right;float:left;" disabled="#{beanDetail.isReadonly}" 
				value="#{beanDetail.jurisdictionIdFirstuse}"
				onkeypress="return onlyIntegerValue(event);" 
				label="Jurisdiction ID">
				<f:convertNumber integerOnly="true" groupingUsed="false" />
			</h:inputText>
</td>
<td width="10%" colspan="8" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['firstuseAddressLine1'].description}:"/></td>
<td class="column-input3" colspan="5"><h:inputText style="width:400px;" value="#{trDetail.firstuseAddressLine1}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['firstuseAddressLine2'].description}:"/></td>
<td class="column-input3" colspan="5"><h:inputText style="width:400px;" value="#{trDetail.firstuseAddressLine2}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td style="align:left;" colspan="8">
	<ui:include src="/WEB-INF/view/components/jurisdictionplus.xhtml">
		<ui:param name="handler" value="#{beanDetail.filterHandlerFirstuse}"/>
		<ui:param name="id" value="jurisInputFirstuse"/>
		<ui:param name="readonly" value="#{beanDetail.isReadonly}"/>
		<ui:param name="showheaders" value="true"/>
		<ui:param name="popupName" value="searchJurisdictionFirstuse"/>
		<ui:param name="popupForm" value="searchJurisdictionFormFirstuse"/>
	</ui:include>
</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-input3" colspan="8" width="800px" >
	<div id="embedded-table">
	<table cellpadding="0" cellspacing="0" width="800px" id="rollover" class="ruler" border="0">
	<tbody>
	<c:if test="#{not empty trDetail.firstuseStj1Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.firstuseStj1Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.firstuseStj2Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.firstuseStj2Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
    <c:if test="#{not empty trDetail.firstuseStj3Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.firstuseStj3Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.firstuseStj4Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.firstuseStj4Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.firstuseStj5Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.firstuseStj5Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	</tbody>
	</table>
	</div>
</td>
<td width="10%" >&#160;</td>
</tr>

</tbody>
</table>
</rich:simpleTogglePanel>

<rich:simpleTogglePanel id="billToInformation"   switchType="ajax" label="Bill To Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['billToInformation']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>


<table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['billtoEntityId'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="billtoEntityMenuMain" value="#{trDetail.billtoEntityId}" disabled="#{beanDetail.isReadonly}" >
					<f:selectItems value="#{beanDetail.filterEntityMenuItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.entityIdMap[trDetail.billtoEntityId]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>


<td class="column-spacer" colspan="6">&#160;</td>
<td width="10%" >&#160;</td>
</tr>	

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3" ><h:outputText value="Jurisdiction ID:"/></td>
<td style="align:left;">
<h:inputText id="jurisdictionIdBillto" style="text-align:right;float:left;" disabled="#{beanDetail.isReadonly}" 
				value="#{beanDetail.jurisdictionIdBillto}"
				onkeypress="return onlyIntegerValue(event);" 
				label="Jurisdiction ID">
				<f:convertNumber integerOnly="true" groupingUsed="false" />
			</h:inputText>
</td>
<td width="10%" colspan="8" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['billtoAddressLine1'].description}:"/></td>
<td class="column-input3" colspan="5"><h:inputText style="width:400px;" value="#{trDetail.billtoAddressLine1}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['billtoAddressLine2'].description}:"/></td>
<td class="column-input3" colspan="5"><h:inputText style="width:400px;" value="#{trDetail.billtoAddressLine2}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td style="align:left;" colspan="8">
	<ui:include src="/WEB-INF/view/components/jurisdictionplus.xhtml">
		<ui:param name="handler" value="#{beanDetail.filterHandlerBillto}"/>
		<ui:param name="id" value="jurisInputBillto"/>
		<ui:param name="readonly" value="#{beanDetail.isReadonly}"/>
		<ui:param name="showheaders" value="true"/>
		<ui:param name="popupName" value="searchJurisdictionBillto"/>
		<ui:param name="popupForm" value="searchJurisdictionFormBillto"/>
	</ui:include>
</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-input3" colspan="8" width="800px" >
	<div id="embedded-table">
	<table cellpadding="0" cellspacing="0" width="800px" id="rollover" class="ruler" border="0">
	<tbody>
	<c:if test="#{not empty trDetail.billtoStj1Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 1:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.billtoStj1Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.billtoStj2Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 2:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.billtoStj2Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.billtoStj3Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 3:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.billtoStj3Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.billtoStj4Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 4:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.billtoStj4Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.billtoStj5Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 5:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.billtoStj5Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	</tbody>
	</table>
	</div>
</td>
<td width="10%" >&#160;</td>
</tr>

</tbody>
</table>
<!-- end of Location -->
</rich:simpleTogglePanel>

<rich:simpleTogglePanel id="titleTransfer"   switchType="ajax" label="Title Transfer" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['titleTransfer']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
			
<!-- Location -->
<table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['ttlxfrEntityId'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="ttlxfrEntityMenuMain" value="#{trDetail.ttlxfrEntityId}" disabled="#{beanDetail.isReadonly}" >
					<f:selectItems value="#{beanDetail.filterEntityMenuItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.entityIdMap[trDetail.ttlxfrEntityId]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer" colspan="6">&#160;</td>
<td width="10%" >&#160;</td>
</tr>	

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3" ><h:outputText value="Jurisdiction ID:"/></td>
<td style="align:left;">
<h:inputText id="jurisdictionIdTtlxfr" style="text-align:right;float:left;" disabled="#{beanDetail.isReadonly}" 
				value="#{beanDetail.jurisdictionIdTtlxfr}"
				onkeypress="return onlyIntegerValue(event);" 
				label="Jurisdiction ID">
				<f:convertNumber integerOnly="true" groupingUsed="false" />
			</h:inputText>
</td>
<td width="10%" colspan="8" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['ttlxfrAddressLine1'].description}:"/></td>
<td class="column-input3" colspan="5"><h:inputText style="width:400px;" value="#{trDetail.ttlxfrAddressLine1}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['shiptoAddressLine2'].description}:"/></td>
<td class="column-input3" colspan="5"><h:inputText style="width:400px;" value="#{trDetail.ttlxfrAddressLine2}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td style="align:left;" colspan="8">
	<ui:include src="/WEB-INF/view/components/jurisdictionplus.xhtml">
		<ui:param name="handler" value="#{beanDetail.filterHandlerTtlxfr}"/>
		<ui:param name="id" value="jurisInputTtlxfr"/>
		<ui:param name="readonly" value="#{beanDetail.isReadonly}"/>
		<ui:param name="showheaders" value="true"/>
		<ui:param name="popupName" value="searchJurisdictionTtlxfr"/>
		<ui:param name="popupForm" value="searchJurisdictionFormTtlxfr"/>
		<ui:param name="onblurEnable" value="false"/>
	</ui:include>
</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-input3" colspan="8" width="800px" >
	<div id="embedded-table">
	<table cellpadding="0" cellspacing="0" width="800px" id="rollover" class="ruler" border="0">
	<tbody>
	<c:if test="#{not empty trDetail.ttlxfrStj1Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 1:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.ttlxfrStj1Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.ttlxfrStj2Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 2:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.ttlxfrStj2Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.ttlxfrStj3Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 3:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.ttlxfrStj3Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.ttlxfrStj4Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 4:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.ttlxfrStj4Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	<c:if test="#{not empty trDetail.ttlxfrStj5Name}">
	<tr>
		<td style="width: 220px;"><h:outputText value="STJ 5:&#160;" /></td>
		<td style="width: 400px;" colspan="4"><h:inputText value="#{trDetail.ttlxfrStj5Name}" style="width: 400px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
		<td style="width: 40%;">&#160;</td>
	</tr>
	</c:if>
	</tbody>
	</table>
	</div>
</td>
<td width="10%" >&#160;</td>
</tr>

</tbody>
</table>
</rich:simpleTogglePanel>


</h:panelGrid>
</div>

			
</ui:component>
