<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">	

<!-- Start toggle panel -->
<div id="embedded-table">
<h:panelGrid id="togglePanel3" columns="1" width="100%"  >

<rich:simpleTogglePanel id="invoiceInformation2"   switchType="ajax" label="Invoice Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['invoiceInformation2']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
			
<!-- Invoice -->
<table cellpadding="0" cellspacing="0" border="3" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceNbr'].description}:"/></td>
<td class="column-input3">
	<h:inputText id="invoiceNbrInvoiceId" immediate="true" value="#{beanDetail.invoiceNbrInvoice}" disabled="#{beanDetail.isReadonly}">
		<a4j:support id="ajaxinvoiceNbrInvoiceId" event="onblur" action="#{beanDetail.invoiceNbrInvoiceChanged}" reRender="invoiceNbrId" />
	</h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="Invoice Date:"/></td>

<c:if test="#{!beanDetail.isReadonly}">
<td>
	<rich:calendar zindex="1000"  disabled="#{beanDetail.isReadonly}"
		id="invoiceDate" enableManualInput="true" label="invoiceDate"
		oninputkeypress="return onlyDateValue(event);"
		value="#{beanDetail.invoiceDate}" popup="true"
		converter="date"
		datePattern="M/d/yyyy"
		showApplyButton="false" inputClass="textbox" />
</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 120px;">
	<h:inputText value="#{beanDetail.invoiceDate}" converter="date" style="width:120px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>	



<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>


<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceDesc'].description}:"/></td>
<td class="column-input3" colspan="5"><h:inputText  style="width:300px;" value="#{trDetail.invoiceDesc}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceGrossAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceGrossAmt}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceFreightAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceFreightAmt}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>


<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceTaxAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceTaxAmt}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceMiscAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceMiscAmt}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>


<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceDiscountAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceDiscountAmt}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceTaxPaidAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceTaxPaidAmt}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceDiscTypeCode'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3" >
		<h:selectOneMenu id="filterInvoiceDiscTypeCodeItems" value="#{trDetail.invoiceDiscTypeCode}" disabled="#{beanDetail.isReadonly}" >
					<f:selectItems value="#{beanDetail.filterInvoiceDiscTypeCodeItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td class="column-input3" >
	<h:inputText value="#{cacheManager.discTypeMap[trDetail.invoiceDiscTypeCode]}" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>	


</tbody>
</table>	
</rich:simpleTogglePanel>

<rich:simpleTogglePanel id="invoiceLineInformation"   switchType="ajax" label="Invoice Line Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['invoiceLineInformation']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
			
<table cellpadding="0" cellspacing="0" border="3" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineNbr'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceLineNbr}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineName'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceLineName}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineCount'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceLineCount}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceLineAmt}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineGrossAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceLineGrossAmt}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineFreightAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceLineFreightAmt}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>


<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="Invoice Line Tax Amount:"/></td>
<td class="column-input3">
	<h:inputText id="taxAmtId" value="#{trDetail.tbCalcTaxAmt}" converter="number" disabled="#{beanDetail.isReadonly}"  immediate="true" >	 
		<a4j:support id="ajaxtbCalcTaxAmt" event="onblur" action="#{beanDetail.taxAmtChanged}" reRender="taxAmtIdTA" />
	</h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineMiscAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceLineMiscAmt}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>
 

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineDiscAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceLineDiscAmt}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineTaxPaidAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceLineTaxPaidAmt}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr> 

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineDiscTypeCode'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="filterInvoiceLineDiscTypeCodeItems" value="#{trDetail.invoiceLineDiscTypeCode}" disabled="#{beanDetail.isReadonly}" >
					<f:selectItems value="#{beanDetail.filterInvoiceLineDiscTypeCodeItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.discTypeMap[trDetail.invoiceLineDiscTypeCode]}"  style="width:200px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>


<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineProductCode'].description}:"/></td>
<td>
<h:inputText id="invoiceLineProductCode" value="#{trDetail.invoiceLineProductCode}" disabled="#{beanDetail.isReadonly}" immediate="true" >
				<a4j:support id="ajaxinvoiceLineProductCode" event="onblur" action="#{beanDetail.invoiceLineProductCodeChanged}" reRender="invoiceLineProductCodeAtBi" />
</h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['taxcodeCode'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td colspan="4">
	<ui:include src="/WEB-INF/view/components/taxcode_code_noview.xhtml">
		<ui:param name="handler" value="#{beanDetail.filterTaxCodeHandler1}"/>
		<ui:param name="id" value="filterTaxCode1"/>
		<ui:param name="readonly" value="#{beanDetail.isReadonly}"/>
		<ui:param name="required" value="false"/>
		<ui:param name="allornothing" value="false"/>
		<ui:param name="showheaders" value="false"/>
		<ui:param name="forId" value="false"/>
		<ui:param name="popupName" value="searchTaxCode1"/>
		<ui:param name="popupForm" value="searchTaxCodeForm1"/>
		<ui:param name="reRender" value="filterTaxCode_code"/>
	</ui:include>
</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="4" style="width: 200px;">
	<h:inputText value="#{trDetail.taxcodeCode} - #{cacheManager.taxCodeMap[trDetail.taxcodeCode].description}"  style="width:240px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer" width="10%" >&#160;</td>
</tr>
 
</tbody>
</table>
</rich:simpleTogglePanel>

<rich:simpleTogglePanel id="miscInformation"   switchType="ajax" label="Misc. Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['miscInformation']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
			
<table cellpadding="0" cellspacing="0" border="3" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['calculateInd'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3">
	<h:selectOneMenu id="calculateInd" value="#{trDetail.calculateInd}" disabled="#{beanDetail.isReadonly}" >
			<f:selectItems value="#{beanDetail.indicatorMenuItems}"/>
	</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.booleanMap[trDetail.calculateInd]}"  style="width:50px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['creditInd'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3">
	<h:selectOneMenu id="creditInd" value="#{trDetail.creditInd}" disabled="#{beanDetail.isReadonly}" >
			<f:selectItems value="#{beanDetail.indicatorMenuItems}"/>
	</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.booleanMap[trDetail.creditInd]}"  style="width:50px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['taxPaidToVendorFlag'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3">
	<h:selectOneMenu id="taxPaidToVendorFlag" value="#{trDetail.taxPaidToVendorFlag}" disabled="#{beanDetail.isReadonly}" >
			<f:selectItems value="#{beanDetail.indicatorMenuItems}"/>
	</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.booleanMap[trDetail.taxPaidToVendorFlag]}"  style="width:50px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['exemptInd'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3">
	<h:selectOneMenu id="exemptInd" value="#{trDetail.exemptInd}" disabled="#{beanDetail.isReadonly}" >
			<f:selectItems value="#{beanDetail.indicatorMenuItems}"/>
	</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.booleanMap[trDetail.exemptInd]}"  style="width:50px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['exemptCode'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.exemptCode}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['exemptReason'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="filterInvoiceExemptReasonCodeItems" value="#{trDetail.exemptReason}" disabled="#{beanDetail.isReadonly}" >
					<f:selectItems value="#{beanDetail.filterInvoiceExemptReasonCodeItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 220px;">
	<h:inputText value="#{cacheManager.exReasonMap[trDetail.exemptReason]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>

<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceProfrtFlag'].description}:"/></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>


<tr>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>

<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoicePromiscFlag'].description}:"/></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>


</tbody>
</table>

<!-- end of Invoice -->
</rich:simpleTogglePanel>

</h:panelGrid>
</div>

		
</ui:component>
