<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

<!-- Start toggle panel -->
<div id="embedded-table">
<h:panelGrid id="togglePanel6" columns="1" width="100%"  >

<!-- Transaction -->
<rich:simpleTogglePanel id="transactionInformation2"   switchType="ajax" label="Transaction Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['transactionInformation2']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
			
<table cellpadding="0" cellspacing="0" border="3" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['processMethod'].description}:"/></td>
<td colspan="1" style="width: 220px;">
	<h:inputText value="#{trDetail.processMethod}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
</td>

<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['processBatchNo'].description}:"/></td>
<td class="column-input-search">
	<h:inputText id="batchId" style="text-align:right;float:left;" disabled="#{beanDetail.isReadonly}"
		value="#{trDetail.processBatchNo}"
		onkeypress="return onlyIntegerValue(event);"
		label="Process Batch No">
		<f:convertNumber integerOnly="true" groupingUsed="false" />
	</h:inputText>
<!-- 	
	<c:if test="#{!beanDetail.isReadonly}">
	<a4j:commandButton id="btnProcessBatchId" styleClass="image" style="float:left;width:16px;height:16px;" disabled="#{beanDetail.isReadonly}"
			image="/images/search_small.png" immediate="true" 
			actionListener="#{beanDetail.defaultSaleProcessListener}"
			oncomplete="javascript:Richfaces.showModalPanel('batchIdSearch');"
			reRender="searchForm" >
	</a4j:commandButton>
	</c:if>
		0005972: Sales Transactions screen Batch Lookup displays the wrong screen.					-->
	<c:if test="#{!beanDetail.isReadonly}">
	<a4j:commandButton id="btnProcessBatchId" styleClass="image" style="float:left;width:16px;height:16px;" disabled="#{beanDetail.isReadonly}"
			image="/images/search_small.png" immediate="true" 
			action="#{beanDetail.findProcessBatchIdAction}"			
			reRender="searchForm" >
	</a4j:commandButton>
	</c:if>
	 
</td>

<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>	

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['entityId'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:panelGrid columns="2" columnClasses="left-indent,right" cellspacing="0">		
		<h:selectOneMenu id="transentityMenuMain" value="#{beanDetail.entityCode}" style="width:200px;margin-left:-2px"
				immediate="true" disabled="#{beanDetail.isReadonly}" >				
				<a4j:support event="onchange" action="#{beanDetail.selectedEntityId2Changed}" reRender="entityMenuMain"/>
				<f:selectItems value="#{matrixCommonBean.allEntityItems}"/>
		</h:selectOneMenu>
		<h:commandButton id="entityIdBtn1" styleClass="image" 
				disabled="#{beanDetail.isReadonly}" style="float:left;width:16px;height:16px;" 
				image="/images/search_small.png" immediate="true" 
				action="#{commonCallBack.findSaleTransactionIdAction}">
		</h:commandButton>
		</h:panelGrid>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 220px;">
	<h:inputText value="#{cacheManager.entityIdMap[trDetail.entityId]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>	

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="Company No:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
		<h:selectOneMenu id="transcompanyEntityItemId"  value="#{beanDetail.selectedTransCompanyEntityId}" immediate="true"  
					style="width:200px;"   disabled="#{beanDetail.isReadonly}">
					
					<a4j:support event="onchange" action="#{beanDetail.companyEntityItemTransSelectionChanged}" reRender="transdivisionEntityItemId,divisionEntityItemId,companyEntityItemId"/>
				<f:selectItems value="#{beanDetail.filterTransCompanyEntityMenuItems}" /> 
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 220px;">
	<h:inputText value="#{trDetail.glCompanyNbr}#{(not empty trDetail.glCompanyNbr) ? '&#160;-&#160;' : ''}#{trDetail.glCompanyName}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="Division No:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
		<h:selectOneMenu id="transdivisionEntityItemId" value="#{beanDetail.selectedTransDivisionEntityId}" immediate="true"  
					style="width:200px;" disabled="#{beanDetail.isReadonly}">
					
					<a4j:support event="onchange" action="#{beanDetail.divisionEntityItemTransSelectionChanged}" reRender="divisionEntityItemId"/>
				<f:selectItems value="#{beanDetail.filterTransDivisionEntityMenuItems}" /> 
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{trDetail.glDivisionNbr}#{(not empty trDetail.glDivisionNbr) ? '&#160;-&#160;' : ''}#{trDetail.glDivisionName}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>


<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['transactionTypeCode'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="transactionTypeItem1" value="#{beanDetail.transactionTypeCodeTrans}" disabled="#{beanDetail.isReadonly}" >
					<a4j:support event="onchange" action="#{beanDetail.transactionTypeCodeTransChanged}" reRender="transactionTypeItem"/>
					<f:selectItems value="#{beanDetail.filterTransactionTypeCodeItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.transTypeMap[trDetail.transactionTypeCode]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['ratetypeCode'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="rateTypeItem1" value="#{beanDetail.ratetypeCodeTrans}" disabled="#{beanDetail.isReadonly}" >
					<a4j:support event="onchange" action="#{beanDetail.ratetypeCodeTransChanged}" reRender="rateTypeItem"/>
					<f:selectItems value="#{beanDetail.filterRateTypeCodeItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.rateTypeMap[trDetail.ratetypeCode]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>


<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['methodDeliveryCode'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="methodOfDeliveryItem1" value="#{beanDetail.methodDeliveryCodeTrans}" disabled="#{beanDetail.isReadonly}" >
					<a4j:support event="onchange" action="#{beanDetail.methodDeliveryCodeTransChanged}" reRender="methodOfDeliveryItem"/>
					<f:selectItems value="#{beanDetail.filterMethodOfDeliveryItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.modMap[trDetail.methodDeliveryCode]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>


<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>


<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['locationName'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.locationName}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="Entered Date:"/></td>


<c:if test="#{!beanDetail.isReadonly}">
<td>
	<rich:calendar zindex="1000" disabled="#{beanDetail.isReadonly}"
		id="enteredDate" enableManualInput="true" label="Entered Date"
		oninputkeypress="return onlyDateValue(event);"
		value="#{beanDetail.enteredDate}" popup="true"
		converter="date"
		datePattern="M/d/yyyy"
		showApplyButton="false" inputClass="textbox" />
</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 150px;">
	<h:inputText value="#{beanDetail.enteredDate}" converter="date" style="width:150px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>		


<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['glDate'].description}:"/></td>
 
<c:if test="#{!beanDetail.isReadonly}">
<td>
	<rich:calendar zindex="1000" disabled="#{beanDetail.isReadonly}"
		id="fromGlTranDate" enableManualInput="true" label="From G/L Date"
		oninputkeypress="return onlyDateValue(event);"
		value="#{beanDetail.fromGlTranDate}" popup="true"
		converter="date"
		datePattern="M/d/yyyy"
		showApplyButton="false" inputClass="textbox" >
		
		 <a4j:support event="onchanged"  reRender="filterForm:fromGlDate" actionListener="#{beanDetail.fromGlTranDateChanged}" /> 
		 <a4j:support event="oninputblur" ajaxSingle="true" reRender="filterForm:fromGlDate" actionListener="#{beanDetail.fromGlTranDateChanged}"  />
		
	</rich:calendar>
</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 150px;">
	<h:inputText value="#{beanDetail.fromGlTranDate}" converter="date" style="width:150px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>


<!-- 
oncomplete="resetFromGlDate();"

<td>
	<rich:calendar zindex="1000" disabled="#{beanDetail.isReadonly}"
		id="fromGlTranDate" enableManualInput="true" label="From G/L Date"
		oninputkeypress="return onlyDateValue(event);"
		value="#{beanDetail.fromGlTranDate}" popup="true"
		converter="date"
		datePattern="M/d/yyyy"
		showApplyButton="false" inputClass="textbox"
		 onchange="resetFromGlDate();submit();" 
		 valueChangeListener="#{beanDetail.fromGlTranDateChanged}" immediate="true"
		  >
		
	</rich:calendar>
</td>
-->



<td class="column-spacer">&#160;</td>
<!--  
<td class="column-label3"><h:outputText value="Thru G/L Date:"/></td>

<c:if test="#{!beanDetail.isReadonly}">
<td>
	<rich:calendar zindex="1000"  disabled="#{beanDetail.isReadonly}"
		id="toGlTranDate" enableManualInput="true" label="Thru G/L Date"
		oninputkeypress="return onlyDateValue(event);"
		value="#{beanDetail.toGlTranDate}" popup="true"
		converter="date"
		datePattern="M/d/yyyy"
		showApplyButton="false" inputClass="textbox" >
		
		<a4j:support event="onchanged"  reRender="filterForm:toGlDate" actionListener="#{beanDetail.toGlTranDateChanged}" />
		<a4j:support event="oninputblur" ajaxSingle="true" reRender="filterForm:toGlDate" actionListener="#{beanDetail.toGlTranDateChanged}"  />
		
	</rich:calendar>
</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 150px;">
	<h:inputText value="#{beanDetail.toGlTranDate}" converter="date" style="width:150px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>
-->
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>

<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
	<td class="column-spacer">&#160;</td>
	<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['relatedSubtransId'].description}:"   /></td>


	<td style="width: 200px;">
		<h:inputText value="#{trDetail.relatedSubtransId}" disabled="#{beanDetail.isReadonly}" >
			<f:convertNumber integerOnly="true" groupingUsed="false" />
		</h:inputText>
	</td>	

	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer" width="10%" >&#160;</td>
</tr>


<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['comments'].description}:"/></td>
<td class="column-input3" colspan="7" ><h:inputText style="width: 600px;" value="#{trDetail.comments}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td width="10%" >&#160;</td>
</tr>

<c:if test="#{beanDetail.isReadonly}">
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label3"><h:outputText value="Transaction Indicator:"  rendered="#{beanDetail.isReadonly}" /></td>


		<td colspan="1" style="width: 200px;">
			<h:inputText value="#{trDetail.transactionInd}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" rendered="#{beanDetail.isReadonly}" />
		</td>
	
	
		<td class="column-spacer">&#160;</td>
		<c:if test="#{!beanDetail.isReadonly}">
			<td class="column-spacer">&#160;</td>
			<td class="column-spacer">&#160;</td>
		</c:if>
		<c:if test="#{beanDetail.isReadonly}">
			<td class="error"><div id="column-lebel-width"><h:outputText value="Fatal Error" rendered="#{(trDetail.transactionInd eq 'E' )}" /></div></td>
			<td colspan="1" style="width: 200px;">
			<h:inputText value="#{trDetail.fatalErrorCode}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" rendered="#{(trDetail.transactionInd eq 'E')}" /></td>
		</c:if>
	
		
		
		<td class="column-spacer">&#160;</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-spacer" width="10%" >&#160;</td>
	</tr>
</c:if>

</tbody>
</table>	
<!-- end of Transaction -->
</rich:simpleTogglePanel>

<rich:simpleTogglePanel id="generalLedgerInformation"   switchType="ajax" label="General Ledger Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['generalLedgerInformation']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

<table cellpadding="0" cellspacing="0" border="3" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
	<td class="column-spacer">&#160;</td>
	<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['glLineItmDistAmt'].description}:"/></td>
	<td colspan="1" style="width: 200px;">
		<h:inputText value="#{trDetail.glLineItmDistAmt}"  style="text-align:right;" converter="number"  disabled="#{beanDetail.isReadonly}" />
	</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['glProfitCenterNbr'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.glProfitCenterNbr}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['glProfitCenterName'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.glProfitCenterName}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['glCcNbrDeptId'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.glCcNbrDeptId}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['glCcNbrDeptName'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.glCcNbrDeptName}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['inventoryNbr'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.inventoryNbr}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['inventoryName'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.inventoryName}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['afeProjectNbr'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.afeProjectNbr}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['afeProjectName'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.afeProjectName}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['usageCode'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.usageCode}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['usageName'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.usageName}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['glLocalAcctNbr'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.glLocalAcctNbr}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['glLocalAcctName'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.glLocalAcctName}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['glLocalSubAcctNbr'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.glLocalSubAcctNbr}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['glLocalSubAcctName'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.glLocalSubAcctName}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['glFullAcctNbr'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.glFullAcctNbr}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['glFullAcctName'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.glFullAcctName}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['productName'].description}:"/></td>
<td class="column-input3" colspan="5"><h:inputText  style="width:300px;" value="#{trDetail.productName}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>


<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['productClassCode'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.productClassCode}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['productClassName'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.productClassName}" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>


<!-- <tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['taxMatrixId'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="processMethodCodeItems" value="#{trDetail.taxMatrixId}" disabled="#{beanDetail.isReadonly}" >
					<f:selectItems value="#{beanDetail.filterProcessMethodCodeItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 220px;">
	<h:inputText value="#{cacheManager.procMethodMap[trDetail.taxMatrixId]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>
 -->
</tbody>
</table>
<!-- end of General Ledger Information -->
</rich:simpleTogglePanel>

<rich:simpleTogglePanel id="lastUpdateInformation"   switchType="ajax" label="Last Update Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['lastUpdateInformation']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

<table cellpadding="0" cellspacing="0" border="3" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['updateUserId'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.updateUserId}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['updateTimestamp'].description}:"/></td>
<td class="column-input3">
	<h:inputText value="#{trDetail.updateTimestamp}" disabled="#{beanDetail.isReadonly}">
		<f:converter converterId="dateTime"/>
	</h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

</tbody>
</table>
<!-- end of last Update Information -->
</rich:simpleTogglePanel>


</h:panelGrid>
</div>
		
</ui:component>
