<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

<!-- Start toggle panel -->
<div id="embedded-table">
<h:panelGrid id="togglePanel1" columns="1" width="100%"  >

<rich:simpleTogglePanel id="transactionInformation3"   switchType="ajax" label="Transaction Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['transactionInformation3']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

<!-- Basic Information -->	
<table cellpadding="0" cellspacing="0" border="3" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
 
<td><div id="column-lebel-width"><h:outputText value="Company No:"/></div></td>


<c:if test="#{!beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
		<h:selectOneMenu id="licompanyEntityItemId" onchange="submit();" value="#{beanDetail.selectedCompanyEntityId}" immediate="true"  
					style="width:200px;" valueChangeListener="#{beanDetail.companyEntityItemSelectionChanged}" disabled="#{beanDetail.isReadonly}">
				<f:selectItems value="#{beanDetail.filterCompanyEntityMenuItems}" /> 
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{trDetail.glCompanyNbr}#{(not empty trDetail.glCompanyNbr) ? '&#160;-&#160;' : ''}#{trDetail.glCompanyName}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-label3"><h:outputText value="Division No:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
		<h:selectOneMenu id="lidivisionEntityItemId" value="#{beanDetail.selectedDivisionEntityId}" immediate="true"  
					style="width:200px;" disabled="#{beanDetail.isReadonly}">
				<f:selectItems value="#{beanDetail.filterDivisionEntityMenuItems}" /> 
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{trDetail.glDivisionNbr}#{(not empty trDetail.glDivisionNbr) ? '&#160;-&#160;' : ''}#{trDetail.glDivisionName}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>


<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['custNbr'].description}:"/></td>
<td class="column-input3"><h:inputText id="licustomerId" value="#{trDetail.custNbr}#{(not empty trDetail.custNbr) ? '&#160;-&#160;' : ''}#{trDetail.custName}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" ></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['transactionTypeCode'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="litransactionTypeItem" value="#{trDetail.transactionTypeCode}" disabled="#{beanDetail.isReadonly}" >
					<f:selectItems value="#{beanDetail.filterTransactionTypeCodeItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.transTypeMap[trDetail.transactionTypeCode]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-label3"><div id="column-lebel-width"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['ratetypeCode'].description}:"/></div></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="lirateTypeItem" value="#{trDetail.ratetypeCode}" disabled="#{beanDetail.isReadonly}" >
					<f:selectItems value="#{beanDetail.filterRateTypeCodeItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.rateTypeMap[trDetail.ratetypeCode]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['methodDeliveryCode'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="limethodOfDeliveryItem" value="#{trDetail.methodDeliveryCode}" disabled="#{beanDetail.isReadonly}" >
					<f:selectItems value="#{beanDetail.filterMethodOfDeliveryItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.modMap[trDetail.methodDeliveryCode]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['glDate'].description}:"/></td>

					
<c:if test="#{!beanDetail.isReadonly}">
	<td>
		<rich:calendar zindex="1000" disabled="#{beanDetail.isReadonly}"
			id="lifromGlDate" enableManualInput="true" label="From G/L Date"
			oninputkeypress="return onlyDateValue(event);"
			value="#{beanDetail.fromGLDate}" popup="true"
			converter="date"
			datePattern="M/d/yyyy"
			showApplyButton="false" inputClass="textbox" />
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{beanDetail.fromGLDate}" converter="date" style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>					
										
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
	

	<td class="column-label3"><h:outputText value="Transaction Indicator:"  rendered="#{beanDetail.isReadonly}" /></td>


	<td colspan="1" style="width: 200px;">
		<h:inputText value="#{trDetail.transactionInd}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" rendered="#{beanDetail.isReadonly}" />
	</td>


	<td class="column-spacer">&#160;</td>
	<c:if test="#{!beanDetail.isReadonly}">
		<td class="column-spacer">&#160;</td>
		<td class="column-spacer">&#160;</td>
	</c:if>
	<c:if test="#{beanDetail.isReadonly}">
		<td class="error"><div id="column-lebel-width"><h:outputText value="Fatal Error" rendered="#{(trDetail.transactionInd eq 'E' )}" /></div></td>
		<td colspan="1" style="width: 200px;">
		<h:inputText value="#{trDetail.fatalErrorCode}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" rendered="#{(trDetail.transactionInd eq 'E')}" /></td>
	</c:if>

	
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
	<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['glLineItmDistAmt'].description}:"/></td>
	<td colspan="1" style="width: 200px;">
		<h:inputText value="#{trDetail.glLineItmDistAmt}"  style="text-align:right;" converter="number"  disabled="#{beanDetail.isReadonly}" />
	</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer" width="10%" >&#160;</td>
</tr>
 
</tbody>
</table>	
</rich:simpleTogglePanel>

<!-- end of Basic Information -->


<!-- Invoice -->
<rich:simpleTogglePanel id="invoiceInformation3"   switchType="ajax" label="Invoice Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['invoiceInformation3']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

<table cellpadding="0" cellspacing="0" border="3" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
<td><div id="column-lebel-width"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceNbr'].description}:"/></div></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceNbr}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceGrossAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceGrossAmt}" style="text-align:right;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>


<tr>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceFreightAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceFreightAmt}" style="text-align:right;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceDiscountAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceDiscountAmt}" style="text-align:right;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceDiscTypeCode'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{cacheManager.discTypeMap[trDetail.invoiceDiscTypeCode]}" disabled="#{beanDetail.isReadonly}" /></td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineNbr'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceLineNbr}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineName'].description}:"/></td>
<td colspan="4" ><h:inputText style="width:440px" value="#{trDetail.invoiceLineName}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>


<tr>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineGrossAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceLineGrossAmt}" style="text-align:right;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceLineAmt}" style="text-align:right;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineCount'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceLineCount}" style="text-align:right;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineFreightAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceLineFreightAmt}" style="text-align:right;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineDiscAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceLineDiscAmt}" style="text-align:right;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineDiscTypeCode'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{cacheManager.discTypeMap[trDetail.invoiceLineDiscTypeCode]}" disabled="#{beanDetail.isReadonly}" /></td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineProductCode'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceLineProductCode}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['taxcodeCode'].description}:"/></td>
<td class="column-input3" colspan="4"><h:inputText style="width:440px;" value="#{trDetail.taxcodeCode} - #{cacheManager.taxCodeMap[trDetail.taxcodeCode].description}"  disabled="#{beanDetail.isReadonly}" /></td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['exemptAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.exemptAmt}" style="text-align:right;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['exemptCode'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.exemptCode}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['exemptInd'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{cacheManager.booleanMap[trDetail.exemptInd]}"  disabled="#{beanDetail.isReadonly}" /></td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['exemptReason'].description}:"/></td>
<td class="column-input3" colspan="4"><h:inputText style="width:400px;" value="#{exemptionCertificateBean.exemptReasonMap[trDetail.exemptReason]}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['taxPaidToVendorFlag'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{cacheManager.booleanMap[trDetail.taxPaidToVendorFlag]}" disabled="#{beanDetail.isReadonly}" /></td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['certNbr'].description}:"/></td>
<td class="column-input3" colspan="4"><h:inputText style="width:400px;" value="#{trDetail.certNbr}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>



<tr>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceTaxAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceTaxAmt}" style="text-align:right;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceTaxPaidAmt'].description}:"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.invoiceTaxPaidAmt}" style="text-align:right;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

</tbody>
</table>	
</rich:simpleTogglePanel>

<rich:simpleTogglePanel id="locationInformation3"   switchType="ajax" label="Location Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['locationInformation3']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

<table cellpadding="0" cellspacing="0" border="3" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
<td><div id="column-lebel-width"><h:outputText value="Ship From: " /></div></td>
		<td style="align:left;" colspan="7">
		<ui:include src="/WEB-INF/view/components/jurisdiction.xhtml">
			<ui:param name="handler" value="#{beanDetail.filterHandler3}"/>
			<ui:param name="id" value="jurisInput3"/>
			<ui:param name="readonly" value="#{beanDetail.isReadonly}"/>
			<ui:param name="showheaders" value="true"/>
			<ui:param name="popupName" value="searchJurisdiction3"/>
			<ui:param name="popupForm" value="searchJurisdictionForm3"/>
		</ui:include>
		</td>
</tr>

<tr>
<td><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['shipfromEntityCode'].description}:"/></td>
<td colspan="1" style="width: 200px;">
	<h:inputText value="#{trDetail.shipfromEntityCode}#{(not empty trDetail.shipfromEntityCode) ? '&#160;-&#160;' : ''}#{cacheManager.entityCodeMap[trDetail.shipfromEntityCode]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
</td>
<td class="column-spacer" colspan="6">&#160;</td>
</tr>	

<tr>
<td class="column-label3" ><h:outputText value="Ship From Jurisdiction ID:"/></td>
<td style="align:left;">
<h:inputText id="lijurisdictionIdShipfrom" style="text-align:right;float:left;" disabled="#{beanDetail.isReadonly}"
				value="#{beanDetail.jurisdictionIdShipfrom}"
				onkeypress="return onlyIntegerValue(event);" 
				label="Jurisdiction ID">
				<f:convertNumber integerOnly="true" groupingUsed="false" />
			</h:inputText>
			<a4j:commandButton id="libtnJurisdictionIdShipfrom" styleClass="image" style="float:left;width:16px;height:16px;"  rendered="#{!beanDetail.isReadonly}"
					image="/images/search_small.png" immediate="true" 
					actionListener="#{beanDetail.popupSearchActionShipfrom}"
					oncomplete="javascript:Richfaces.showModalPanel('searchJurisdictionIDShipfrom');"
					reRender="searchJurisdictionFormIDShipfrom" >
			</a4j:commandButton>
</td>
<td class="column-spacer" width="10%" colspan="7" >&#160;</td>
</tr>

<tr>
<td class="column-label3" ><h:outputText value="Ship To: "/></td>
		<td style="align:left;" colspan="7">
		<ui:include src="/WEB-INF/view/components/jurisdiction.xhtml">
			<ui:param name="handler" value="#{beanDetail.filterHandler4}"/>
			<ui:param name="id" value="jurisInput4"/>
			<ui:param name="readonly" value="#{beanDetail.isReadonly}"/>
			<ui:param name="showheaders" value="true"/>
			<ui:param name="popupName" value="searchJurisdiction4"/>
			<ui:param name="popupForm" value="searchJurisdictionForm4"/>
		</ui:include>
		</td>
</tr>

<tr>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['shiptoEntityCode'].description}:"/></td>

<td colspan="1" style="width: 200px;">
	<h:inputText value="#{trDetail.shiptoEntityCode}#{(not empty trDetail.shiptoEntityCode) ? '&#160;-&#160;' : ''}#{cacheManager.entityCodeMap[trDetail.shiptoEntityCode]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
</td>

<td class="column-spacer" colspan="6">&#160;</td>
</tr>	

<tr>
<td class="column-label3" ><h:outputText value="Ship To Jurisdiction ID:"/></td>
<td style="align:left;">
<h:inputText id="lijurisdictionIdShipto" style="text-align:right;float:left;" disabled="#{beanDetail.isReadonly}" 
				value="#{beanDetail.jurisdictionIdShipto}"
				onkeypress="return onlyIntegerValue(event);" 
				label="Jurisdiction ID">
				<f:convertNumber integerOnly="true" groupingUsed="false" />
			</h:inputText>
			<a4j:commandButton id="libtnJurisdictionIdShipto" styleClass="image" style="float:left;width:16px;height:16px;" rendered="#{!beanDetail.isReadonly}"
					image="/images/search_small.png" immediate="true" 
					actionListener="#{beanDetail.popupSearchActionShipto}"
					oncomplete="javascript:Richfaces.showModalPanel('searchJurisdictionIDShipto');"
					reRender="searchJurisdictionFormIDShipto" >
			</a4j:commandButton>
</td>
<td class="column-spacer" width="10%" colspan="7" >&#160;</td>
</tr>

</tbody>
</table>	
</rich:simpleTogglePanel>


<!-- Tax Amounts -->
<!-- PP-394
<rich:simpleTogglePanel id="taxAmountsInformation3"   switchType="ajax" label="Tax Amounts Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['taxAmountsInformation3']}"  
		bodyClass="togglepanel-body" styleClass="togglepanel" >	

	 		<f:facet name="header">
	 			<h:panelGroup><table cellpadding="0" cellspacing="0" border="0"><tr>
				<td style="padding-left:0px;" align="left"><h:outputLabel value="Tax Amounts Information" style="color:#FF660F;font-size:11px;font-weight: bold;"/></td>
				
				<td style="width:450px">&#160;</td>
				<td ><h:outputLabel value="Total Tax:&#160;&#160;&#36;" rendered="#{beanDetail.isReadonly}" /><h:outputLabel value="#{trDetail.tbCalcTaxAmt}" converter="number" rendered="#{beanDetail.isReadonly}" /></td>	
				<td ><h:outputLabel value="&#160;&#160;&#160;&#160;Combined Rate:&#160;&#160;" rendered="#{beanDetail.isReadonly}" /><h:outputLabel converter="percentage" value="#{trDetail.combinedRate}" rendered="#{beanDetail.isReadonly}" /></td>
				</tr></table></h:panelGroup>
			</f:facet>
			
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
			
<table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
<td><div id="column-lebel-width"><h:outputText value="&#160;" /></div></td>
<td class="column-label3"><h:outputText value="Exempt Amount:"/></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="Taxable Amount:"/></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="Tax Rate:"/></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="Tax Amount:"/></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="Tax Type"/></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="Max Tax Amount"/></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="Split Amount"/></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="Split Rate"/></td>
<td width="100%" >&#160;</td>
</tr>	


<c:if test="#{trDetail.isDisplayCountryLine}">
<tr>
<td class="column-label3">Country:&#160;<h:outputText value="#{cacheManager.countryMap[trDetail.countryCode]}&#160;" style="width:150px;text-transform:uppercase"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.countryExemptAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.countryTaxableAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>

<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.countryRate}" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.countryRate}" converter="percentage" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>	

<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.countryTaxAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td colspan="1" style="width: 100px;">
	<h:inputText value="#{cacheManager.taxtypeMap[trDetail.countryTaxtypeUsedCode]}"  style="width:80px;" disabled="#{beanDetail.isReadonly}" />
</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
</tr>	
</c:if>

<c:if test="#{trDetail.isDisplayStateLine}">
<tr>
<td class="column-label3">State:&#160;<h:outputText value="#{cacheManager.taxCodeStateMap[trDetail.stateCode].name}&#160;" style="width:150px;text-transform: uppercase"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.stateExemptAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stateTaxableAmt}" style="text-align:right;width:80px;" converter="number" rendered="#{beanDetail.displayStateTaxRateBox}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>

<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stateRate}" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stateRate}" converter="percentage" rendered="#{beanDetail.displayStateTaxRateBox}" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stateTaxAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td colspan="1" style="width: 100px;">
	<h:inputText value="#{cacheManager.taxtypeMap[trDetail.stateTaxtypeUsedCode]}"  style="width:80px;" disabled="#{beanDetail.isReadonly}" />
</td>
<td class="column-spacer">&#160;</td>

<td class="column-spacer">&#160;</td>

<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
</tr>	
</c:if>
PP-394 -->

<!-- 394
<c:if test="#{trDetail.isDisplayTier1Line}">
<tr>
<td class="column-label3"><h:outputText value="&#160;&#160;&#160;&#160;Tier 1:"/></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stateTier1TaxableAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>

<td class="column-input3"><h:inputText value="#{trDetail.stateRate}" converter="percentage" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stateTier1TaxAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
</tr>
</c:if>	

<c:if test="#{trDetail.isDisplayTier2Line}">
<tr>
<td class="column-label3"><h:outputText value="&#160;&#160;&#160;&#160;Tier 2:"/></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stateTier2TaxableAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>

<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stateTier2Rate}" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stateTier2Rate}" converter="percentage" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>	

<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stateTier2TaxAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
</tr>
</c:if>	

<c:if test="#{trDetail.isDisplayTier3Line}">
<tr>
<td class="column-label3"><h:outputText value="&#160;&#160;&#160;&#160;Tier 3:"/></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stateTier3TaxableAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>

<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stateTier3Rate}" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stateTier3Rate}" converter="percentage" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>	

<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stateTier3TaxAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
</tr>
</c:if>


<c:if test="#{trDetail.isDisplayCountyLine}">
<tr>
<td class="column-label3">County:&#160;<h:outputText value="#{trDetail.countyName}&#160;" style="width:150px;"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.countyExemptAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.countyTaxableAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>


<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.countyRate}" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.countyRate}" converter="percentage" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>	

<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td colspan="1" style="width: 100px;">
	<h:inputText value="#{cacheManager.taxtypeMap[trDetail.countyTaxtypeUsedCode]}"  style="width:80px;" disabled="#{beanDetail.isReadonly}" />
</td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.countyMaxtaxAmount}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.countySplitAmount}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
</tr>
</c:if>

<c:if test="#{trDetail.isDisplayCityLine}">
<tr>
<td class="column-label3">City:&#160;<h:outputText value="#{trDetail.cityName}&#160;" style="width:150px;" /></td>
<td class="column-input3"><h:inputText value="#{trDetail.cityExemptAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.cityTaxableAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>

<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.cityRate}" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.cityRate}" converter="percentage" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>	

<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.cityTaxAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td colspan="1" style="width: 100px;">
	<h:inputText value="#{cacheManager.taxtypeMap[trDetail.cityTaxtypeUsedCode]}"  style="width:80px;" disabled="#{beanDetail.isReadonly}" />
</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.citySplitAmount}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>

<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.citySplitRate}" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.citySplitRate}" converter="percentage" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>	

<td class="column-spacer">&#160;</td>
</tr>
</c:if>

PP-394 -->

<!-- STJs -->
<!-- PP-394
<c:if test="#{(not empty trDetail.stj1Name) and trDetail.isDisplayStj1Line}">
<tr>
<td class="column-label3">STJ1:&#160;<h:outputText value="#{trDetail.stj1Name}&#160;" style="width:150px;"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.stj1ExemptAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj1TaxableAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>

<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj1Rate}" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj1Rate}" converter="percentage" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>	

<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj1TaxAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td colspan="1" style="width: 100px;">
	<h:inputText value="#{cacheManager.taxtypeMap[trDetail.stj1TaxtypeUsedCode]}"  style="width:80px;" disabled="#{beanDetail.isReadonly}" />
</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
</tr>	
</c:if>

<c:if test="#{(not empty trDetail.stj2Name) and trDetail.isDisplayStj2Line}">
<tr>
<td class="column-label3">STJ2:&#160;<h:outputText value="#{trDetail.stj2Name}&#160;" style="width:150px;"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.stj2ExemptAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj2TaxableAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj2Rate}" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj2Rate}" converter="percentage" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>	
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj2TaxAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td colspan="1" style="width: 100px;">
	<h:inputText value="#{cacheManager.taxtypeMap[trDetail.stj2TaxtypeUsedCode]}"  style="width:80px;" disabled="#{beanDetail.isReadonly}" />
</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
</tr>	
</c:if>


<c:if test="#{(not empty trDetail.stj3Name) and trDetail.isDisplayStj3Line}">
<tr>
<td class="column-label3">STJ3:&#160;<h:outputText value="#{trDetail.stj3Name}&#160;" style="width:150px;"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.stj3ExemptAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj3TaxableAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj3Rate}" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj3Rate}" converter="percentage" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>	
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj3TaxAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td colspan="1" style="width: 100px;">
	<h:inputText value="#{cacheManager.taxtypeMap[trDetail.stj3TaxtypeUsedCode]}"  style="width:80px;" disabled="#{beanDetail.isReadonly}" />
</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
</tr>	
</c:if>

<c:if test="#{(not empty trDetail.stj4Name) and trDetail.isDisplayStj4Line}">
<tr>
<td class="column-label3">STJ4:&#160;<h:outputText value="#{trDetail.stj4Name}&#160;" style="width:150px;"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.stj4ExemptAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj4TaxableAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj4Rate}" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj4Rate}" converter="percentage" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>	
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj4TaxAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td colspan="1" style="width: 100px;">
	<h:inputText value="#{cacheManager.taxtypeMap[trDetail.stj4TaxtypeUsedCode]}"  style="width:80px;" disabled="#{beanDetail.isReadonly}" />
</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
</tr>	
</c:if>

<c:if test="#{(not empty trDetail.stj5Name) and trDetail.isDisplayStj5Line}">
<tr>
<td class="column-label3">STJ5:&#160;<h:outputText value="#{trDetail.stj5Name}&#160;" style="width:150px;"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.stj5ExemptAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj5TaxableAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj5Rate}" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj5Rate}" converter="percentage" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>	
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj5TaxAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td colspan="1" style="width: 100px;">
	<h:inputText value="#{cacheManager.taxtypeMap[trDetail.stj5TaxtypeUsedCode]}"  style="width:80px;" disabled="#{beanDetail.isReadonly}" />
</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
</tr>	
</c:if>

<c:if test="#{(not empty trDetail.stj6Name) and trDetail.isDisplayStj6Line}">
<tr>
<td class="column-label3">STJ6:&#160;<h:outputText value="#{trDetail.stj6Name}&#160;" style="width:150px;"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.stj6ExemptAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj6TaxableAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj6Rate}" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj6Rate}" converter="percentage" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>	
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj6TaxAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td colspan="1" style="width: 100px;">
	<h:inputText value="#{cacheManager.taxtypeMap[trDetail.stj6TaxtypeUsedCode]}"  style="width:80px;" disabled="#{beanDetail.isReadonly}" />
</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
</tr>	
</c:if>

<c:if test="#{(not empty trDetail.stj7Name) and trDetail.isDisplayStj7Line}">
<tr>
<td class="column-label3">STJ7:&#160;<h:outputText value="#{trDetail.stj7Name}&#160;" style="width:150px;"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.stj7ExemptAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj7TaxableAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj7Rate}" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj7Rate}" converter="percentage" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>	
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj7TaxAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td colspan="1" style="width: 100px;">
	<h:inputText value="#{cacheManager.taxtypeMap[trDetail.stj7TaxtypeUsedCode]}"  style="width:80px;" disabled="#{beanDetail.isReadonly}" />
</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
</tr>	
</c:if>

<c:if test="#{(not empty trDetail.stj8Name) and trDetail.isDisplayStj8Line}">
<tr>
<td class="column-label3">STJ8:&#160;<h:outputText value="#{trDetail.stj8Name}&#160;" style="width:150px;"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.stj8ExemptAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj8TaxableAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj8Rate}" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj8Rate}" converter="percentage" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>	
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj8TaxAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td colspan="1" style="width: 100px;">
	<h:inputText value="#{cacheManager.taxtypeMap[trDetail.stj8TaxtypeUsedCode]}"  style="width:80px;" disabled="#{beanDetail.isReadonly}" />
</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
</tr>	
</c:if>

<c:if test="#{(not empty trDetail.stj9Name) and trDetail.isDisplayStj9Line}">
<tr>
<td class="column-label3">STJ9:&#160;<h:outputText value="#{trDetail.stj9Name}&#160;" style="width:150px;"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.stj9ExemptAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj9TaxableAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj9Rate}" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj9Rate}" converter="percentage" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>	
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj9TaxAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td colspan="1" style="width: 100px;">
	<h:inputText value="#{cacheManager.taxtypeMap[trDetail.stj9TaxtypeUsedCode]}"  style="width:80px;" disabled="#{beanDetail.isReadonly}" />
</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
</tr>	
</c:if>

<c:if test="#{(not empty trDetail.stj10Name) and trDetail.isDisplayStj10Line}">
<tr>
<td class="column-label3">STJ10:&#160;<h:outputText value="#{trDetail.stj10Name}&#160;" style="width:150px;"/></td>
<td class="column-input3"><h:inputText value="#{trDetail.stj10ExemptAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj10TaxableAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<c:if test="#{!beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj10Rate}" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td class="column-input3"><h:inputText value="#{trDetail.stj10Rate}" converter="percentage" style="text-align:right;width:80px;" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
</c:if>	
<td class="column-spacer">&#160;</td>
<td class="column-input3"><h:inputText value="#{trDetail.stj10TaxAmt}" style="text-align:right;width:80px;" converter="number" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
<td class="column-spacer">&#160;</td>
<td colspan="1" style="width: 100px;">
	<h:inputText value="#{cacheManager.taxtypeMap[trDetail.stj10TaxtypeUsedCode]}"  style="width:80px;" disabled="#{beanDetail.isReadonly}" />
</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
</tr>	
</c:if>


</tbody>
</table>
</rich:simpleTogglePanel>
PP-394-->
<!-- end of Tax Amounts -->

</h:panelGrid>
</div>

</ui:component>
