<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
    
<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceDate']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['invoiceDate'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.invoiceDate}" disabled="true">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td class="column-input2">&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['invoiceNbr'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.invoiceNbr}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceDesc']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['invoiceDesc'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.invoiceDesc}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	
	</tbody>
</table>
			
</ui:component>