<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

<!-- Start toggle panel -->
<div id="embedded-table">
<h:panelGrid id="togglePanel1" columns="1" width="100%"  >

<rich:simpleTogglePanel id="transactionInformation1"   switchType="ajax" label="Transaction Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['transactionInformation1']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

<table cellpadding="0" cellspacing="0" border="3" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
	<td class="column-spacer">&#160;</td>
	<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['billtransId'].description}:"/></td>
	<td class="column-input3">
		<h:inputText value="#{trDetail.billtransId}" disabled="#{beanDetail.isReadonly}" onkeypress="return onlyIntegerValue(event);">
			<f:convertNumber integerOnly="true" groupingUsed="false" />
		</h:inputText>
	</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['entityId'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td >
		<h:panelGrid columns="2" columnClasses="left-indent,right" cellspacing="0">
		<h:selectOneMenu id="entityMenuMain" value="#{beanDetail.entityCode}" style="width:200px;float:left;margin-left:-2px"
				immediate="true" disabled="#{beanDetail.isReadonly}" >				
				<a4j:support event="onchange" action="#{beanDetail.selectedEntityId1Changed}"/>
				<f:selectItems value="#{matrixCommonBean.allEntityItems}"/>
		</h:selectOneMenu>
		<h:commandButton id="entityIdBtn" styleClass="image" 
				disabled="#{beanDetail.isReadonly}" style="float:left;width:16px;height:16px;" 
				image="/images/search_small.png" immediate="true" 
				action="#{commonCallBack.findSaleTransactionIdAction}">
		</h:commandButton>
		</h:panelGrid>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{trDetail.entityCode}#{(not empty trDetail.entityCode) ? '&#160;-&#160;' : ''}#{cacheManager.entityCodeMap[trDetail.entityCode]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>	

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['glCompanyNbr'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
		<h:selectOneMenu id="companyEntityItemId"  value="#{beanDetail.selectedCompanyEntityId}" immediate="true"  
					style="width:200px;"   disabled="#{beanDetail.isReadonly}">
					
					<a4j:support event="onchange" action="#{beanDetail.companyEntityItemSelectionChanged}" reRender="divisionEntityItemId"/>
				<f:selectItems value="#{beanDetail.filterCompanyEntityMenuItems}" /> 
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{trDetail.glCompanyNbr}#{(not empty trDetail.glCompanyNbr) ? '&#160;-&#160;' : ''}#{trDetail.glCompanyName}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['glDivisionNbr'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
		<h:selectOneMenu id="divisionEntityItemId" value="#{beanDetail.selectedDivisionEntityId}" immediate="true"  
					style="width:200px;" disabled="#{beanDetail.isReadonly}">
					
					<a4j:support event="onchange" action="#{beanDetail.divisionEntityItemSelectionChanged}"/>
				<f:selectItems value="#{beanDetail.filterDivisionEntityMenuItems}" /> 
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{trDetail.glDivisionNbr}#{(not empty trDetail.glDivisionNbr) ? '&#160;-&#160;' : ''}#{trDetail.glDivisionName}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['transactionTypeCode'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="transactionTypeItem" value="#{trDetail.transactionTypeCode}" disabled="#{beanDetail.isReadonly}" immediate="true" >
					<a4j:support event="onchange" action="#{beanDetail.transactionTypeCodeChanged}" reRender="transactionTypeItem1"/>
					<f:selectItems value="#{beanDetail.filterTransactionTypeCodeItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.transTypeMap[trDetail.transactionTypeCode]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['ratetypeCode'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="rateTypeItem" value="#{trDetail.ratetypeCode}" disabled="#{beanDetail.isReadonly}" immediate="true" >
					<a4j:support event="onchange" action="#{beanDetail.ratetypeCodeChanged}" reRender="rateTypeItem1"/>
					<f:selectItems value="#{beanDetail.filterRateTypeCodeItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.rateTypeMap[trDetail.ratetypeCode]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['methodDeliveryCode'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="methodOfDeliveryItem" value="#{trDetail.methodDeliveryCode}" disabled="#{beanDetail.isReadonly}" immediate="true" >
					<a4j:support event="onchange" action="#{beanDetail.methodDeliveryCodeChanged}" reRender="methodOfDeliveryItem1"/>
					<f:selectItems value="#{beanDetail.filterMethodOfDeliveryItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.modMap[trDetail.methodDeliveryCode]}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer">&#160;</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
	<td class="column-spacer">&#160;</td>
	<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['glDate'].description}:"/></td>
	
	<c:if test="#{!beanDetail.isReadonly}">
		<td>
		<rich:calendar zindex="1000" disabled="#{beanDetail.isReadonly}"
			id="fromGlDate" enableManualInput="true" label="From G/L Date"
			oninputkeypress="return onlyDateValue();"
			value="#{beanDetail.fromGLDate}" popup="true"
			converter="date"
			datePattern="M/d/yyyy"
			showApplyButton="false"   >
			
			
			<a4j:support event="onchanged"  reRender="filterForm:fromGlTranDate" actionListener="#{beanDetail.fromGlDateChanged}"  />
			<a4j:support event="oninputblur" ajaxSingle="true" reRender="filterForm:fromGlTranDate" actionListener="#{beanDetail.fromGlDateChanged}"  />
		</rich:calendar>	
	</td>
	</c:if>
	<c:if test="#{beanDetail.isReadonly}">
		<td colspan="1" style="width: 200px;">
		<h:inputText value="#{beanDetail.fromGLDate}" converter="date" style="width:220px;" disabled="#{beanDetail.isReadonly}" />
		</td>
	</c:if>	
	
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>

	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
	<td class="column-spacer">&#160;</td>
	<td class="column-label3"><h:outputText value="Related Subtrans ID:"/></td>
	<td style="width: 200px;">
		<h:inputText value="#{trDetail.relatedSubtransId}" disabled="#{beanDetail.isReadonly}" >
			<f:convertNumber integerOnly="true" groupingUsed="false" />
		</h:inputText>
	</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer" width="10%" >&#160;</td>
</tr>







<c:if test="#{beanDetail.isReadonly}">
	<tr>
		<td class="column-spacer">&#160;</td>
	
		<td class="column-label3"><h:outputText value="Transaction Indicator:"  rendered="#{beanDetail.isReadonly}" /></td>
	
	
		<td colspan="1" style="width: 200px;">
			<h:inputText value="#{trDetail.transactionInd}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" rendered="#{beanDetail.isReadonly}" />
		</td>
	
	
		<td class="column-spacer">&#160;</td>
		<c:if test="#{!beanDetail.isReadonly}">
			<td class="column-spacer">&#160;</td>
			<td class="column-spacer">&#160;</td>
		</c:if>
		<c:if test="#{beanDetail.isReadonly}">
			<td class="error"><div id="column-lebel-width"><h:outputText value="Fatal Error" rendered="#{(trDetail.transactionInd eq 'E' )}" /></div></td>
			<td colspan="1" style="width: 200px;">
			<h:inputText value="#{trDetail.fatalErrorCode}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" rendered="#{(trDetail.transactionInd eq 'E')}" /></td>
		</c:if>
	
		
		<td class="column-spacer">&#160;</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-spacer" width="10%" >&#160;</td>
	</tr>
</c:if>	

<tr>
	<td class="column-spacer">&#160;</td>
	<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['glLineItmDistAmt'].description}:"/></td>
	<td colspan="1" style="width: 200px;">
		<h:inputText value="#{trDetail.glLineItmDistAmt}"  style="text-align:right;" converter="number"  disabled="#{beanDetail.isReadonly}" />
	</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer">&#160;</td>
	<td class="column-spacer" width="10%" >&#160;</td>
</tr>

</tbody>
</table>	
</rich:simpleTogglePanel>

<rich:simpleTogglePanel id="invoiceInformation1"   switchType="ajax" label="Invoice Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['invoiceInformation1']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

<table cellpadding="0" cellspacing="0" border="3" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceNbr'].description}:"/></td>
<td class="column-input3">
<h:inputText id="invoiceNbrId" immediate="true" value="#{trDetail.invoiceNbr}" disabled="#{beanDetail.isReadonly}">
	<a4j:support id="ajaxinvoiceNbrId" event="onblur" action="#{beanDetail.invoiceNbrChanged}" reRender="invoiceNbrInvoiceId" />
</h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineProductCode'].description}:"/></td>
<td>
<h:inputText id="invoiceLineProductCodeAtBi" value="#{beanDetail.invoiceLineProductCodeBi}" disabled="#{beanDetail.isReadonly}" immediate="true" >
				<a4j:support id="ajaxinvoiceLineProductCodeAtBi" event="onblur" action="#{beanDetail.invoiceLineProductCodeBiChanged}" reRender="invoiceLineProductCode" />
</h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['custNbr'].description}:"/></td>
<td class="column-input3">
<h:inputText id="customerIdAtBi" value="#{beanDetail.custNbrBi}" disabled="#{beanDetail.isReadonly}" immediate="true" >
				<a4j:support id="ajaxcustomerIdAtBi" event="onblur" action="#{beanDetail.customerIdBiChanged}" reRender="customerId,custNameId" />
</h:inputText></td>

<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['taxcodeCode'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td colspan="5">
	<ui:include src="/WEB-INF/view/components/taxcode_code_noview.xhtml">
		<ui:param name="handler" value="#{beanDetail.filterTaxCodeHandler}"/>
		<ui:param name="id" value="filterTaxCode"/>
		<ui:param name="readonly" value="#{beanDetail.isReadonly}"/>
		<ui:param name="required" value="false"/>
		<ui:param name="allornothing" value="false"/>
		<ui:param name="showheaders" value="false"/>
		<ui:param name="forId" value="false"/>
		<ui:param name="popupName" value="searchTaxCode"/>
		<ui:param name="popupForm" value="searchTaxCodeForm"/>
	</ui:include>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="5" style="width: 200px;">
	<h:inputText value="#{trDetail.taxcodeCode} - #{cacheManager.taxCodeMap[trDetail.taxcodeCode].description}"  style="width:220px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>

<td class="column-label3"><h:outputText value="#{matrixCommonBean.billTransactionPropertyMap['invoiceLineDiscTypeCode'].description}:"/></td>
<c:if test="#{!beanDetail.isReadonly}">
	<td style="width: 220px;">
		<h:selectOneMenu id="filterInvoiceLineDiscTypeCodeItems" value="#{trDetail.invoiceLineDiscTypeCode}" disabled="#{beanDetail.isReadonly}" >
					<f:selectItems value="#{beanDetail.filterInvoiceLineDiscTypeCodeItems}"/>
		</h:selectOneMenu>
	</td>
</c:if>
<c:if test="#{beanDetail.isReadonly}">
	<td colspan="1" style="width: 200px;">
	<h:inputText value="#{cacheManager.discTypeMap[trDetail.invoiceLineDiscTypeCode]}"  style="width:200px;" disabled="#{beanDetail.isReadonly}" />
	</td>
</c:if>


</tr>

<!-- 
<td class="column-input3"><h:inputText value="#{trDetail.taxcodeCode}" disabled="#{beanDetail.isReadonly}"></h:inputText></td>
 -->

</tbody>
</table>

</rich:simpleTogglePanel>

<rich:simpleTogglePanel id="locationInformation"   switchType="ajax" label="Location Information" 
		actionListener="#{beanDetail.togglePanelController.togglePanelChanged}" 
		opened="#{beanDetail.togglePanelController.togglePanels['locationInformation']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

<table cellpadding="0" cellspacing="0" border="3" width="100%" id="rollover" class="ruler">
<tbody>

<tr>
<td class="column-spacer">&#160;</td>
<td style="width: 80px;" ><h:outputText value="Ship From: "/></td>
<td style="align:left;" colspan="7">
		<ui:include src="/WEB-INF/view/components/jurisdictionplus.xhtml">
		<ui:param name="handler" value="#{beanDetail.filterHandlerShipfrom}"/>
		<ui:param name="id" value="jurisInputShipfrom"/>
		<ui:param name="readonly" value="#{beanDetail.isReadonly}"/>
		<ui:param name="showheaders" value="true"/>
		<ui:param name="popupName" value="searchJurisdictionShipfrom"/>
		<ui:param name="popupForm" value="searchJurisdictionFormShipfrom"/>
		<ui:param name="reRender" value="jurisInput"/>
		<ui:param name="reRenderGeocode" value="jurisInput_geocode"/>
		<ui:param name="reRenderCity" value="jurisInput_city"/>
		<ui:param name="reRenderCounty" value="jurisInput_county"/>
		<ui:param name="reRenderZip" value="jurisInput_zip"/>
		<ui:param name="reRenderPlus4" value="jurisInput_plus4"/>
		<ui:param name="onblurEnable" value="false"/>
	</ui:include>

</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

<tr>
<td class="column-spacer">&#160;</td>
<td style="width: 80px;" ><h:outputText value="Ship To: "/></td>
<td style="align:left;" colspan="7">
		<ui:include src="/WEB-INF/view/components/jurisdictionplus.xhtml">
		<ui:param name="handler" value="#{beanDetail.filterHandlerShipto}"/>
		<ui:param name="id" value="jurisInputShipto"/>
		<ui:param name="readonly" value="#{beanDetail.isReadonly}"/>
		<ui:param name="showheaders" value="true"/>
		<ui:param name="popupName" value="searchJurisdictionShipto"/>
		<ui:param name="popupForm" value="searchJurisdictionFormShipto"/>
		<ui:param name="reRender" value="jurisInput1"/>
		<ui:param name="reRenderGeocode" value="jurisInput1_geocode"/>
		<ui:param name="reRenderCity" value="jurisInput1_city"/>
		<ui:param name="reRenderCounty" value="jurisInput1_county"/>
		<ui:param name="reRenderZip" value="jurisInput1_zip"/>
		<ui:param name="reRenderPlus4" value="jurisInput1_plus4"/>
		<ui:param name="onblurEnable" value="false"/>
	</ui:include>
</td>
<td class="column-spacer" width="10%" >&#160;</td>
</tr>

</tbody>
</table>
</rich:simpleTogglePanel>
</h:panelGrid>
</div>

</ui:component>
