<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
    
<rich:modalPanel id="#{id}" zindex="2000" autosized="true">
	<f:facet name="header">
		<h:outputText value="#{warning}" />
	</f:facet>
	<h:form id="warningForm">
		
		<h:panelGrid id="warningPanelGrid" columns="2" style="margin:10px; text-align:left;">
		
			<h:selectBooleanCheckbox id="saveCheckboxControl"
                                  styleClass="check"
                                  immediate="true"
                                  value="#{bean.saveToTaxAllocMatrix}">
            	<a4j:support reRender="warningForm:saveOptionControl" event="onclick"/>
            </h:selectBooleanCheckbox>                      
            Save to Tax Allocation Matrix?
            
            <rich:spacer height="10px"/>
		
			<h:selectOneRadio disabled="#{!bean.saveToTaxAllocMatrix}" style="padding-left: 10px;" layout="pageDirection" id="saveOptionControl" value="#{bean.saveOption}">
				  <f:selectItem id="item1" itemLabel="Save Taxability Only" itemValue="1" />
				  <f:selectItem id="item2" itemLabel="Save Both Taxability &amp; Jurisdictions" itemValue="2" />
			</h:selectOneRadio>
					
			<rich:spacer height="10px"/>

			<h:panelGroup style="text-align:center;">
				<a4j:commandButton id="okBtn" value="Ok" 
						onclick="this.form.submit(); Richfaces.hideModalPanel('#{id}'); clickObject('#{okBtn}');"/>
				<rich:spacer width="20px"/>
				<a4j:commandButton immediate="true" value="Cancel" 
						actionListener="#{bean.cancelWarning}" 
						oncomplete="Richfaces.hideModalPanel('#{id}'); return false;" />
			</h:panelGroup>
		
		</h:panelGrid>
		
	</h:form>
</rich:modalPanel>

</ui:component>