<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
<div id="table-one-top" style="padding: 1px 10px 1px 15px;">
	<table cellpadding="0" cellspacing="0" style="width: 100%; height: 22px;"><tr>
		<td width="70"><a4j:commandLink id="toggleCustLocnCollapse" style="text-decoration: underline;color:#0033FF;"
				action="searchImportConfig_panel" actionListener="#{handlerBean.togglePanelController.collapseTogglePanels}" ><h:outputText value="collapse all"/></a4j:commandLink></td>
		<td align="left"><a4j:commandLink id="toggleCustLocnExpand" style="text-decoration: underline;color:#0033FF;"  
  				action="searchImportConfig_panel" actionListener="#{handlerBean.togglePanelController.expandTogglePanels}" ><h:outputText value="expand all"/></a4j:commandLink></td>
		<td align="right" width="100"><h:outputText style="color:white;" value="" /></td>
	</tr></table>
</div>   
   
<div id="table-one-content" style="height: auto;" onkeypress="return submitEnter(event,'configImportForm:searchBtn')">
    
	<!-- Start toggle panel -->
	<div id="embedded-table">
	<h:panelGrid id="togglePanel" columns="1" width="100%"  >

	<rich:simpleTogglePanel id="ImportConfigBatchPanel"   switchType="ajax" label="Batch Information" 
		actionListener="#{handlerBean.togglePanelController.togglePanelChanged}" 
		opened="#{handlerBean.togglePanelController.togglePanels['ImportConfigBatchPanel']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

		<table cellpadding="0" cellspacing="0"  id="rollover" class="ruler">     
	     <tr>
          <td style="width: 50px;">&#160;</td>
          <td style="width: 70px;">Entry Date:</td>
          <td style="width: 250px;">
           <rich:calendar popup="true"
                          id="myCalendarEntryDate"
                          rendered="true"
                          oninputkeypress="return onlyDateValue();"
                          enableManualInput="true"
                          converter="date"
                          datePattern="M/d/yyyy"
                          label="Entry Date"
                          value="#{configImportBean.myCalendarEntryDate}" />
          </td>
          <td>&#160;</td>
         </tr>
         <tr>
          <td style="width: 50px;">&#160;</td>
          <td style="width: 125px;">Configuration File Type:</td>
          <td style="width: 250px;">
           <h:selectOneMenu id="selBatchType"
                            style="width: 195px;"
                            binding="#{configImportBean.batchTypeMenu}"
                            value="#{configImportBean.batchMaintenanceDTO.batchTypeCode}"
                             disabled="#{!configImportBean.findMode}" />
          </td>
          <td>&#160;</td>
         </tr>
         <tr>
          <td style="width: 50px;">&#160;</td>
          <td style="width: 70px;">Batch Status:</td>
          <td style="width: 250px;">
           <h:selectOneMenu id="selBatchStatus"
                            style="width: 195px;"
                            binding="#{configImportBean.batchStatusMenu}"
                            value="#{configImportBean.batchMaintenanceDTO.batchStatusCode}"
                            disabled="false" />
          </td>
          <td>&#160;</td>
         </tr>
         <tr>
          <td style="width: 50px;">&#160;</td>
          <td style="width: 70px;">Error Severity:</td>
          <td style="width: 250px;">
           <h:selectOneMenu id="selErrorSev"
                            style="width: 195px;"
                            binding="#{configImportBean.errorSevMenu}"
                            value="#{configImportBean.batchMaintenanceDTO.errorSevCode}"
                            disabled="false" />
          </td>
          <td>&#160;</td>
         </tr>
		</table>
    </rich:simpleTogglePanel>
      
	
    </h:panelGrid>
	</div>
 </div>
<!-- end of table-one-content -->       
      
<div id="table-one-bottom">
	 <ul class="right">
         <li class="clear">
          <h:commandLink action="#{configImportBean.resetSearchAction}"/>
         </li>
         <li class="search">
          <h:commandLink id="searchBtn"
                         action="#{configImportBean.retrieveConfigImport}" />
         </li>
      </ul>
</div>

			
</ui:component>