<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<script type="text/javascript">
//<![CDATA[
//]]>
</script>
<span class="client">Security/User Management&#160;</span>
<div id="header">
		<div id="links">
		<h:commandLink id="logout" actionListener="#{loginBean.logoutActionListener}"  action="#{loginBean.logoutAction}" ><h:outputText value="Logout"/></h:commandLink></div>	
           <div id="menu">
			<ul id="nav">
		
				<li><span class="adminconsole"><h:commandLink id="menuAdmin" value="" immediate="true" 
				        	action="#" rendered="#{loginBean.isValidLoginAdminRole}" /></span>
				    <ul>
				        <li><h:commandLink value="PinPoint" immediate="true" id="backtopinpointe" 
				        	action="login_success" /></li>
				    </ul>
				</li>
		
				<li><span class="user"><h:commandLink id="menuUser" value="" immediate="true" 
				        	action="usersecurity_main" rendered="true" /></span>
				    <ul>
				       
				    </ul>
				</li>
				
				<li><span class="role"><h:commandLink id="menuRole" value="" immediate="true" 
				        	action="userroles_main" rendered="true" /></span>
				    <ul>
				       
				    </ul>
				</li>
				
				<li><span class="database"><h:commandLink id="menuDatabase" value="" immediate="true" 
				        	action="dbproperties_main" rendered="true" /></span>
				    <ul>
				       
				    </ul>
				</li>
				
				<li><span class="smtp"><h:commandLink id="menuSmtp" value="" immediate="true" 
				        	action="smtpproperties_main" rendered="true" /></span>
				    <ul>
				       
				    </ul>
				</li>
				
				
			</ul>
		</div>
<div id="logo"><h:graphicImage id="imgPinpointCorner" alt="Corner PinPoint" value="/images/corner_pinpoint.gif" /></div>
</div>

</ui:component>
