<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

<f:loadBundle basename="build_id/build_id" var="build" />

<!-- FOOTER -->
<div style="clear:both;"><rich:spacer height="35px" id="ftrSpacer"/></div>

<div id="footer-top">
	<div id="block-right">&#160;</div>
	<div id="block-left">&#160;</div>
</div>
		
<div id="footer">
<table style="width: 100%">
  <tr>
    <td style="width: 40%">Build: ${build.build_label}.${build.build_number} / ${build.build_timestamp}</td>
    <td style="width: 60%" align="right" >Copyright &#169; by Ryan, LLC&#160;&#160;</td>
  </tr>
</table>
</div>

<a4j:log id="a4jLog" rendered="${!empty param.debug}" popup="false" level="${param.debug == 0 ? 'ALL' : 'WARN'}"
         style="width: 100%; height: 300px;"></a4j:log>

</ui:component>