<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
 
<rich:dataTable rowClasses="odd-row,even-row" id="#{id}" styleClass="GridContent"
	value="#{data}" var="state" rendered="#{rendered}">

	<a4j:support event="onRowClick"
			onsubmit="selectRow('#{formName}:#{id}', this);"
			actionListener="#{bean.selectedStateChanged}" immediate="true"
			reRender="#{reRender}"/>
			
	<rich:column sortBy="#{state.country}" >
		<f:facet name="header"><h:outputText value="Country" style="color: blue;"/></f:facet>
		<h:outputText id="rowCountry" value="#{state.country}" />
	</rich:column>

	<rich:column sortBy="#{state.taxCodeState}">
		<f:facet name="header"><h:outputText value="State Code" style="color: blue;"/></f:facet>
		<h:outputText id="rowTaxcodeState" value="#{state.taxCodeState}"/>
	</rich:column>
	
	
	
	<rich:column sortBy="#{state.name}" >
		<f:facet name="header"><h:outputText value="Name" style="color: blue;"/></f:facet>
		<h:outputText id="rowName" value="#{state.name}" />
	</rich:column>
	
	<rich:column sortBy="#{state.stateTaxabilityBooleanFlag}" style="text-align:center;">
		<f:facet name="header"><h:outputText value="State Taxability" style="color: blue;"/></f:facet>
		<h:selectBooleanCheckbox id="stActive" value="#{state.stateTaxabilityBooleanFlag}" disabled="true" styleClass="check"/>
	</rich:column>
	
	
	<rich:column sortBy="#{state.localTaxabilityCodeDesc}" >
		<f:facet name="header"><h:outputText value="Local Taxability" style="color: blue;"/></f:facet>
		<h:outputText id="rowLocalTaxability" value="#{state.localTaxabilityCodeDesc}" />
	</rich:column>
	

	<rich:column sortBy="#{state.cpFormId}" >
		<f:facet name="header"><h:outputText value="Cert. Form ID" style="color: blue;"/></f:facet>
		<h:outputText id="rowCpFormId" value="#{state.cpFormId}" />
	</rich:column>

	<rich:column sortBy="#{state.cpCertLevelCodeDesc}" >
		<f:facet name="header"><h:outputText value="Certificate Level" style="color: blue;"/></f:facet>
		<h:outputText id="rowCertificateLevel" value="#{state.cpCertLevelCodeDesc}" />
	</rich:column>
	
	

	<rich:column sortBy="#{state.activeBooleanFlag}" style="text-align:center;">
		<f:facet name="header"><h:outputText value="Active?" style="color: blue;"/></f:facet>
		<h:selectBooleanCheckbox id="chkActive" value="#{state.activeBooleanFlag}" disabled="true" styleClass="check"/>
	</rich:column>
</rich:dataTable>

</ui:component>