<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
 
<rich:modalPanel id="suspend" zindex="2000" autosized="true">
	<f:facet name="header">
		<h:outputText value="Suspend Processed Transactions" />
	</f:facet>
	<h:form id="suspendForm">
	<h:panelGrid rendered="#{isTax}" columns="1" cellpadding="0" cellspacing="0" id="invalidDate" style="#{!bean.invalidDate? 'display: none;':'display: block;'}">
		<h:outputText style="font-size:12px;font-weight:bold;color:red;" value="Please enter a valid date."/>
		<rich:spacer height="15px"/>
	</h:panelGrid>
	<h:panelGrid id="matrixIdPanelGrid" columns="2" cellpadding="2" cellspacing="2" columnClasses="column-left,column-left">
		<h:outputText value="#{type} Matrix ID:"/>
		<h:outputText id="matrixId" value="#{bean.selectedMatrix.id}"/>

		<h:outputText rendered="#{isTax}" value="Suspend as of"/>
		<rich:calendar id="effDate" rendered="#{isTax}" value="#{bean.selectedMatrix.effectiveDate}" 
			popup="true" enableManualInput="true"
			oninputkeypress="return onlyDateValue(event);"
			converter="date" datePattern="M/d/yyyy" 
			showApplyButton="false" inputClass="textbox" zindex="1000">
		</rich:calendar>
		<h:outputText value=" "/>
		<a4j:commandButton id="btnUpdateCounts" value="Update Counts" actionListener="#{bean.updateSuspendedCounts}"
				onclick="this.disabled = true; document.getElementById('suspendForm:okBtn').disabled = true; document.getElementById('suspendForm:confirm').style.display = 'none'" 
				oncomplete="this.disabled = false;"
				reRender="c1,c2,c3,c4,c5,confirm,suspendExtractedId,deleteChk,deleteChk1,okBtn,invalidDate"/>
		
		<h:outputText id="c1" value="#{detail.totalTransactions}"/>
		<h:outputText value="Total Transactions for #{type} Matrix ID"/>

		<h:outputText id="c2" rendered="#{isTax}" value="#{detail.beforeAsOfDateTransactions}"/>
		<h:outputText rendered="#{isTax}" value="Transactions before As Of Date will not be suspended"/>

		<h:outputText id="c3" value="#{detail.extractedGlTransactions}"/>
		<h:panelGroup>
			<h:outputText value="Transactions have been Extracted to G/L and "/>
			<h:selectOneMenu id="suspendExtractedId" value="#{bean.suspendExtracted}" disabled="#{detail.extractedGlTransactions == 0}" >
				<f:selectItem itemValue="false" itemLabel="WILL NOT"/>
				<f:selectItem itemValue="true" itemLabel="WILL"/>
				<a4j:support event="onchange" action="#{bean.willonchange}" reRender="deleteChk,deleteChk1"/>
			</h:selectOneMenu>
			<h:outputText value=" be suspended."/>
		</h:panelGroup>

		<h:outputText id="c4" value="#{detail.nonExtractedGlTransactions}"/> 
		<h:outputText value="Transactions have not been extracted to G/L and will be suspended."/>

		<h:outputText id="c5" value="#{detail.manuallyChangedTransactions}"/>
		<h:outputText value="Transactions have been manually changed and will NOT be suspended."/>
		
		<h:outputText value=" "/>
		<h:panelGroup rendered="#{isTax}">
			<h:selectBooleanCheckbox id="deleteChk" disabled="#{!((detail.beforeAsOfDateTransactions == 0) and (bean.suspendExtracted or detail.extractedGlTransactions == 0))}" value="#{bean.deleteMatrixLine}" styleClass="check"/>
			<h:outputText value="Delete Matrix Line"/>
		</h:panelGroup>
		<h:panelGroup rendered="#{!isTax}">
			<h:selectBooleanCheckbox id="deleteChk1" disabled="#{!((bean.suspendExtracted or detail.extractedGlTransactions == 0) and (detail.manuallyChangedTransactions == 0))}" value="#{bean.deleteMatrixLine}" styleClass="check"/>
			<h:outputText value="Delete Matrix Line"/>
		</h:panelGroup>

		<rich:spacer height="15px"/>
		<rich:spacer height="15px"/>
	</h:panelGrid>
	
	<h:panelGrid columns="1" cellpadding="0" cellspacing="0" id="confirm" style="#{empty detail.totalTransactions? 'display: none;':'display: block;'}">
		<h:outputText style="font-size:16px;font-weight:bold;color:red;" value="Are you sure?"/>
		<rich:spacer height="15px"/>
	</h:panelGrid>
		
	<h:panelGroup>	
		<h:commandButton id="okBtn" value="Ok" disabled="#{empty detail.totalTransactions}" 
				action="#{bean.suspendAction}" />
		<rich:spacer width="20px"/>
		<h:commandButton id="cancelBtn" immediate="true" action="#{bean.resetSelection}"
				value="Cancel" onclick="Richfaces.hideModalPanel('suspend'); return false;" />
	</h:panelGroup>
	</h:form>
</rich:modalPanel>

</ui:component>