<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
    
<div class="scrollContainer">
<div class="scrollInner" id="resize">
<rich:dataTable rowClasses="odd-row,even-row" id="aMDetailListSplit"
		binding="#{bean.splitTransactionDetailTable}"
		value="#{dataModel}" var="trdetailSplit" rows="#{dataModel.pageSize}">

	<a4j:support rendered="#{singleSelect}" event="onRowClick" status="rowstatus" 
			onsubmit="selectRow('${formName}:aMDetailListSplit', this);"
			actionListener="#{bean.selectedSplitTransactionChanged}"
			reRender="#{selectReRender}" immediate="true"/>

</rich:dataTable>
</div>
</div>
    	
<rich:datascroller id="trScroll" for="aMDetailListSplit" maxPages="10" oncomplete="initScrollingTables();"
 style="clear:both;" align="center" stepControls="auto" ajaxSingle="false"  immediate="true" 
 page="#{dataModel.curPage}" reRender="#{scrollReRender}"  onpagechange="resetExtendSelection()" /> 

</ui:component>