<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
<ui:define name="script">
<script type="text/javascript">
//<![CDATA[
        function resetState()
   		{ 
   		    document.getElementById("filterForm:state").value = "";
   		}
//]]>
</script>
</ui:define>
 
<div id="table-one-top" style="padding: 1px 10px 1px 15px;">
	<a4j:outputPanel id="msg"><h:messages errorClass="error" /></a4j:outputPanel>
	<table cellpadding="0" cellspacing="0" style="width: 100%; height: 22px;"><tr>
		<td width="70"><a4j:commandLink id="toggleCustLocnCollapse" style="text-decoration: underline;color:#0033FF;"
				action="taxbcpSearch_panel" actionListener="#{handlerBean.togglePanelController.collapseTogglePanels}" ><h:outputText value="collapse all"/></a4j:commandLink></td>
		<td align="left"><a4j:commandLink id="toggleCustLocnExpand" style="text-decoration: underline;color:#0033FF;"  
  				action="taxbcpSearch_panel" actionListener="#{handlerBean.togglePanelController.expandTogglePanels}" ><h:outputText value="expand all"/></a4j:commandLink></td>
		<td align="right" width="100"><h:outputText style="color:white;" value="Wildcard&#160;=&#160;%" /></td>
	</tr></table>
</div>   
   
<div id="table-one-content" style="height: auto;" onkeyup="return submitEnter(event,'transForm:searchBtn')" >
    
	<!-- Start toggle panel -->
	<div id="embedded-table">
	<h:panelGrid id="togglePanel" columns="1" width="100%"  >

	<rich:simpleTogglePanel id="TaxBcpDriversPanel"   switchType="ajax" label="Drivers" 
		actionListener="#{handlerBean.togglePanelController.togglePanelChanged}" 
		opened="#{handlerBean.togglePanelController.togglePanels['TaxBcpDriversPanel']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

		<h:panelGrid id="filterPanel" binding="#{handlerBean.filterSelectionPanel}" styleClass="panel-ruler"/>
		
    </rich:simpleTogglePanel>
      
	<rich:simpleTogglePanel id="TaxBcpMiscPanel" switchType="ajax" label="Misc"  
		actionListener="#{handlerBean.togglePanelController.togglePanelChanged}"   
		opened="#{handlerBean.togglePanelController.togglePanels['TaxBcpMiscPanel']}"
		bodyClass="togglepanel-body"  headerClass="togglepanel-header" styleClass="togglepanel" >	
      		<f:facet name="openMarker"><h:graphicImage url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage url="/images/triangle-s.png"></h:graphicImage></f:facet>
      	 
		<table cellpadding="0" cellspacing="0" id="rollover" class="ruler">
			<tbody>
				<tr>
					<td class="column-spacer">&#160;</td>								
					<td class="column-label"> Country: </td> 
					<td class="column-input">
						<h:selectOneMenu id="countryMenuMain" 
							value="#{handlerBean.selectedCountry}"
							immediate="true"
							valueChangeListener="#{handlerBean.searchCountryChanged}" 
							onchange="resetState();submit();"
					
							>
							<f:selectItems value="#{handlerBean.countryMenuItems}"/>
						</h:selectOneMenu>
					</td>
					
					<td class="column-label"> State: </td> 
					<td class="column-input">
						<h:selectOneMenu id="state"
							value="#{handlerBean.selectedState}">
							<f:selectItems value="#{handlerBean.stateMenuItems}"/>
						</h:selectOneMenu>
					</td>
					<td class="column-label">&#160;</td> 
					<td class="column-input">&#160;</td>
					<td class="column-spacer">&#160;</td>
				</tr>
			</tbody>
		</table>
		
	</rich:simpleTogglePanel>
    </h:panelGrid>
	</div>
 </div>
<!-- end of table-one-content -->       
      
<div id="table-one-bottom">
	<ul class="right">
		<li class="clear">
			<a4j:commandLink id="btnClear" action="#{handlerBean.resetFilter}" 
				reRender="state,driverPanel"/>
		</li>
		<li class="search">
			<a4j:commandLink id="searchBtn" action="#{handlerBean.listTransactions}" 
				reRender="aMDetailList,trScroll,pageInfo" oncomplete="initScrollingTables();"   >
			</a4j:commandLink>
		</li>
	</ul>
</div>
			
</ui:component>