<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
 
<rich:dataTable rowClasses="odd-row,even-row" id="#{id}" styleClass="GridContent"
	value="#{data}" var="tax" rendered="#{rendered}">
	
	<a4j:support event="onRowClick"
			onsubmit="selectRow('#{formName}:#{id}', this);"
			actionListener="#{bean.selectedTaxCodeChanged}" immediate="true"
			reRender="#{reRender}"/>

	<rich:column sortBy="#{tax.taxCodePK.taxcodeCode}">
		<f:facet name="header"><h:outputText value="TaxCode Code"/></f:facet>
		<h:outputText id="rowTaxcodeCode" value="#{tax.taxCodePK.taxcodeCode}"/>
	</rich:column>
	
	<rich:column sortBy="#{tax.taxCodePK.taxcodeTypeCode}">
		<f:facet name="header"><h:outputText value="TaxCode Type Code"/></f:facet>
		<h:outputText id="rowTaxcodeTypeCode" value="#{tax.taxCodePK.taxcodeTypeCode}"/>
	</rich:column>
	
	<rich:column sortBy="#{tax.description}">
		<f:facet name="header"><h:outputText value="Description"/></f:facet>
		<h:outputText id="rowDescription" value="#{tax.description}" />
	</rich:column>
	
	<rich:column sortBy="#{tax.comments}">
		<f:facet name="header"><h:outputText value="Comments"/></f:facet>
		<h:outputText id="rowComments" value="#{tax.comments}" />
	</rich:column>
	
	<rich:column sortBy="#{tax.helptext}">
		<f:facet name="header"><h:outputText value="Helptext"/></f:facet>
		<h:outputText id="rowHelptext" value="#{tax.helptext}" />
	</rich:column>
</rich:dataTable>
	                                             
</ui:component>