<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
 <div id="embedded-table">
<h:panelGrid id="#{id}" columns="3" cellpadding="3" cellspacing="0">
	
	<h:outputText id="#{id}_h5" rendered="#{showheaders}" value="TaxCode:"/>

	<h:outputText id="#{id}_10" escape="false" value="TaxCode :" rendered="#{empty popupName}"/> 
	
	<h:panelGroup>
		<h:selectOneMenu id="#{id}_code"  
			binding="#{handler.taxcodeMenu}"
			required="#{!readonly and (required or (allornothing))}" 
			label="#{TaxCode}"
			disabled="#{readonly or allornothing}"
			value="#{handler.taxcodeCode}"
			style="width:200px;margin-left:-2px;">
			<f:selectItems id="#{id}_code_items" value="#{handler.taxCodeItems}"/>
		</h:selectOneMenu>
	</h:panelGroup>
	</h:panelGrid>
</div>

</ui:component>