<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
 
<div id="embedded-table">
<h:panelGrid id="#{id}" columns="7" cellpadding="2" cellspacing="0">
	
	<h:outputText id="#{id}_10" escape="false" value="TaxCode :" rendered="#{empty popupName}"/> 
	
	<h:selectOneMenu id="#{id}_state"
		binding="#{handler.taxcodeStateMenu}"
		label="TaxCode State" rendered="#{!forId}" 
		value="#{handler.taxcodeState}">
		<f:selectItems id="#{id}_state_items" value="#{matrixCommonBean.taxCodeStateItems}"/>
	</h:selectOneMenu> 
	
	<h:outputText id="#{id}_l2" escape="false" value="&#160;-&#160;" rendered="#{!forId}"/> 

	<h:selectOneMenu id="#{id}_type" 
		binding="#{handler.taxcodeTypeMenu}" 
		label="TaxCode Type" rendered="#{!forId}"
		value="#{handler.taxcodeType}">
		<f:selectItems id="#{id}_type_items" value="#{matrixCommonBean.taxCodeTypeItems}"/>
	</h:selectOneMenu>

	<h:outputText id="#{id}_l4" escape="false" value="&#160;-&#160;" rendered="#{!forId}"/> 

	<h:inputText id="#{id}_code" binding="#{handler.taxcodeCodeText}" label="TaxCode" rendered="#{!forId}" value="#{handler.taxcodeCode}"/>
	
	<h:panelGroup id="#{id}_pg1">
	<h:outputText id="#{id}_16" escape="false" value="TaxCode Detail Id :" rendered="#{empty popupName}" /> 
	
	<h:inputText id="#{id}_detailId" binding="#{handler.taxcodeDetailId}" label="TaxCode Id" onkeypress="return onlyNumerics(event);"
	valueChangeListener="#{filePreferenceBackingBean.updateButtonAction}"
	 value="#{filePreferenceBackingBean.importMapProcessPreferenceDTO.applyTaxCodeAmount}" rendered="#{empty popupName or forId}"
	  disabled="#{filePreferenceBackingBean.importMapProcessPreferenceDTO.processTransactionAmountFlag==false}">
	   <a4j:support event="onkeyup" 
                        ajaxSingle="true" reRender="updateButton, cancelButton, errorMessage" />     
	  </h:inputText>

	<h:outputText id="#{id}_18" escape="false" value="Description :" rendered="#{empty popupName}" /> 
		
	<h:inputText id="#{id}_desc" binding="#{handler.taxcodeDesc}" label="TaxCode Desc" value="#{handler.description}" rendered="#{empty popupName}" />
	</h:panelGroup>
	<h:panelGroup id="#{id}_pg2">
		<a4j:commandButton id="#{id}_search" 
			image="/images/search_small.png"
			disabled="#{!filePreferenceBackingBean.displaySearch and filePreferenceBackingBean.importMapProcessPreferenceDTO.processTransactionAmountFlag==false}" 
			actionListener="#{handler.popupSearchAction}" 
			oncomplete="javascript:Richfaces.showModalPanel('#{popupName}');" 
			immediate="true" reRender="#{popupForm}">
		</a4j:commandButton>
	</h:panelGroup>
	
	
</h:panelGrid>
	
</div>

</ui:component>