<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
 
<div id="embedded-table">
<h:panelGrid id="#{id}" columns="7" cellpadding="2" cellspacing="0">
	
	<h:outputText id="#{id}_h40" rendered="#{showheaders}" value="TaxCode Country:"/>
	<h:outputText id="#{id}_h41" rendered="#{showheaders}" escape="false" value="&#160;-&#160;"/> 
	
	<h:outputText id="#{id}_h1" rendered="#{showheaders}" value="TaxCode State:"/>
	<h:outputText id="#{id}_h2" rendered="#{showheaders}" escape="false" value="&#160;-&#160;"/> 
	<h:outputText id="#{id}_h3" rendered="#{showheaders}" value="TaxCode Type:"/>
	<h:outputText id="#{id}_h4" rendered="#{showheaders}" escape="false" value="&#160;-&#160;"/> 
	<h:outputText id="#{id}_h5" rendered="#{showheaders}" value="TaxCode:"/>

	<h:outputText id="#{id}_10" escape="false" value="TaxCode :" rendered="#{empty popupName}"/> 
	
	<h:selectOneMenu id="#{id}_country"
		binding="#{handler.taxcodeCountryMenu}"
		required="#{!readonly and required}" label="#{label}" 
		disabled="#{readonly}"
		rendered="#{!forId}"
		value="#{handler.taxcodeCountry}">
		<f:selectItems id="#{id}_country_items" value="#{handler.countryItems}"/>
		
		<a4j:support id="#{id}_country_handler" event="onchange" reRender="#{id}_state,#{id}_type,#{id}_code,#{id}"
			immediate="true" actionListener="#{handler.taxcodeCountrySelected}"/>
	</h:selectOneMenu> 

	<h:outputText id="#{id}_42" escape="false" value="&#160;-&#160;"/> 
	
	<h:selectOneMenu id="#{id}_state"
		binding="#{handler.taxcodeStateMenu}"
		required="#{!readonly and required}" label="#{label}" 
		disabled="#{readonly}"
		rendered="#{!forId}"
		value="#{handler.taxcodeState}">
		<f:selectItems id="#{id}_state_items" value="#{handler.taxCodeStateItems}"/>
		
		<a4j:support id="#{id}_state_handler" event="onchange" reRender="#{id}_type,#{id}_code,#{id}"
			immediate="true" actionListener="#{handler.taxcodeStateSelected}"/>
	</h:selectOneMenu> 

	<h:outputText id="#{id}_l2" escape="false" value="&#160;-&#160;"/> 

	<h:selectOneMenu id="#{id}_type"  
		binding="#{handler.taxcodeTypeMenu}"
		required="#{!readonly and (required or (allornothing))}" label="#{type}"
		disabled="#{readonly or (allornothing and empty handler.taxcodeState)}"
		rendered="#{!forId}"
		value="#{handler.taxcodeType}">
		<f:selectItems id="#{id}_type_items" value="#{matrixCommonBean.taxCodeTypeItems}"/>
		
		<a4j:support id="#{id}_type_handler" event="onchange" reRender="#{id}_code"
			immediate="true" actionListener="#{handler.taxcodeTypeSelected}"/>
	</h:selectOneMenu>

	<h:outputText id="#{id}_l4" escape="false" value="&#160;-&#160;" rendered="#{!forId}" /> 

	<h:panelGroup>
		<h:selectOneMenu id="#{id}_code"  
			binding="#{handler.taxcodeMenu}"
			required="#{!readonly and (required or (allornothing))}" 
			label="#{TaxCode}"
			disabled="#{readonly or (allornothing and (empty handler.taxcodeType or empty handler.taxcodeState))}"
			value="#{handler.taxcodeCode}">
			<f:selectItems id="#{id}_code_items" value="#{handler.taxCodeItems}"/>
			
			<a4j:support id="#{id}_code_handler" event="onchange" 
				immediate="true" actionListener="#{handler.taxcodeCodeSelected}"/>
		</h:selectOneMenu>
		
		<h:panelGroup>
			<a4j:commandButton id="#{id}_search" styleClass="image"
				image="/images/search_small.png" rendered="#{!empty popupName and !readonly}" 
				immediate="true" actionListener="#{handler.popupSearchAction}"
				oncomplete="javascript:Richfaces.showModalPanel('#{popupName}');" 
				reRender="#{popupForm}">
			</a4j:commandButton>
			<a4j:commandButton id="#{id}_view1" styleClass="image"
				image="/images/view-taxcode_small.png" rendered="#{!empty popupName and !readonly and handler.isCallingPageExist}" 
			
				action="#{handler.viewTaxCodeAction}">
			</a4j:commandButton>
		</h:panelGroup>
	
	</h:panelGroup>
	
	<h:outputText id="#{id}_30" escape="false" value=""/><h:outputText id="#{id}_31" escape="false" value=""/> 
	<h:outputText id="#{id}_32" escape="false" value=""/><h:outputText id="#{id}_33" escape="false" value=""/> 
	<h:outputText id="#{id}_34" escape="false" value=""/><h:outputText id="#{id}_35" escape="false" value=""/> 
	<h:outputText id="#{id}_displaymessage" rendered="#{!empty displaymessage}" value="#{displaymessage}" style="color:red; font-weight: bold;" />
	
	<h:panelGroup>
		<h:outputText id="#{id}_16" escape="false" value="TaxCode Detail Id :" rendered="#{empty popupName}" /> 
		<h:inputText id="#{id}_detailId" binding="#{handler.taxcodeDetailId}" label="TaxCode Id" value="#{handler.taxcodeId}" rendered="#{empty popupName or forId}" disabled="#{readonly}"/>
		<h:outputText id="#{id}_18" escape="false" value="Description :" rendered="#{empty popupName}" /> 		
		<h:inputText id="#{id}_desc" binding="#{handler.taxcodeDesc}" label="TaxCode Desc" value="#{handler.description}" rendered="#{empty popupName}" />
	</h:panelGroup>
	
	
</h:panelGrid>

<h:panelGrid id="#{id}_cch" rendered="#{filePreferencesBean.importMapProcessPreferenceDTO.tpExtractEnabled and cchRead}"
             columns="5" cellpadding="2" cellspacing="0">
	<h:outputText id="#{id}_cch_d1" value="#{matrixCommonBean.transactionPropertyMap['cchTaxcatCode'].abbrDesc}:"/>
	
	<h:selectOneMenu id="#{id}_cch_cat" style="width: 270px;"
		required="#{!cchreadonly and cchrequired}" label="CCH Tax Cat" 
		disabled="#{cchreadonly}" 
		value="#{handler.cchTaxCat}" >
		<f:selectItems id="#{id}_cch_cat_items" value="#{matrixCommonBean.cchTaxCatItems}" />
	</h:selectOneMenu>
	
	<rich:spacer id="#{id}_cch_spac" width="10"/>
	
	<h:outputText id="#{id}_cch_d2" value="#{matrixCommonBean.transactionPropertyMap['cchGroupCode'].abbrDesc}:"/>
	
	<h:selectOneMenu id="#{id}_cch_group" style="width: 270px;" 
		required="#{!cchreadonly and cchrequired}" label="CCH Tax Group"
		disabled="#{cchreadonly}" 
		value="#{handler.cchGroup}">
		<f:selectItems id="#{id}_cch_grp_items" value="#{matrixCommonBean.cchTaxGrpItems}" />
	</h:selectOneMenu>
</h:panelGrid>	
	
</div>

</ui:component>