<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
 
<div id="embedded-table">
<h:panelGrid id="#{id}" columns="7" cellpadding="3" cellspacing="0">
	
	<h:outputText id="#{id}_h5" rendered="#{showheaders}" value="TaxCode:"/>

	<h:outputText id="#{id}_10" escape="false" value="TaxCode :" rendered="#{empty popupName}"/> 
	
	<h:panelGroup>
		<h:selectOneMenu id="#{id}_code"  
			binding="#{handler.taxcodeMenu}"
			required="#{!readonly and (required or (allornothing))}" 
			label="#{TaxCode}"
			disabled="#{readonly or allornothing}"
			value="#{handler.taxcodeCode}"
			style="width:200px;margin-left:-2px;">
			<f:selectItems id="#{id}_code_items" value="#{handler.taxCodeItems}"/>
			
			<a4j:support id="#{id}_code_handler" event="onchange" 
				immediate="true" actionListener="#{handler.taxcodeCodeSelected}" reRender="#{reRender}" />
		</h:selectOneMenu>
	</h:panelGroup>
		
	       <h:panelGroup rendered="#{handler=='filePreferenceBackingBean.filterTaxCodeHandlerDefault' or 'databaseStatisticsBean.filterTaxCodeHandler'}">
		<h:commandButton id="#{id}_btnRulesId1" styleClass="image" style="float:left;width:16px;height:16px;" 
				image="/images/search_small.png" immediate="true" action="#{handler.displayRulesView}">
		</h:commandButton>
		</h:panelGroup>
		
		<h:panelGroup>
	   <a4j:commandButton id="#{id}_btnRulesId" styleClass="image" style="float:left;width:16px;height:16px;" 
				image="/images/view-taxcode_small.png" 
					action="#{handler.displayRulesView}">
	</a4j:commandButton>
	</h:panelGroup>
</h:panelGrid>
</div>

</ui:component>