<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
<ui:define name="script">
<script type="text/javascript">
//<![CDATA[
//]]>
</script>
</ui:define>
 
<div id="table-one-top" style="padding: 1px 10px 1px 15px;">
	<table cellpadding="0" cellspacing="0" style="width: 100%; height: 22px;"><tr>
		<td width="70"><a4j:commandLink id="toggleCustLocnCollapse" style="text-decoration: underline;color:#0033FF;"
				action="taxcode_panel" actionListener="#{handlerBean.togglePanelController.collapseTogglePanels}" ><h:outputText value="collapse all"/></a4j:commandLink></td>
		<td align="left"><a4j:commandLink id="toggleCustLocnExpand" style="text-decoration: underline;color:#0033FF;"  
  				action="taxcode_panel" actionListener="#{handlerBean.togglePanelController.expandTogglePanels}" ><h:outputText value="expand all"/></a4j:commandLink></td>
		<td align="right" width="100"><h:outputText style="color:white;" value="Wildcard&#160;=&#160;%" /></td>
	</tr></table>
</div>   
   
<div id="table-one-content" style="height: auto;" onkeyup="return submitEnter(event,'taxabilityForm:btnSearch')" >
    
	<!-- Start toggle panel -->
	<div id="embedded-table">
	<h:panelGrid id="togglePanel" columns="1" width="100%"  >

	<rich:simpleTogglePanel id="TaxCodesInformationPanel"   switchType="ajax" label="TaxCodes Information" 
		actionListener="#{handlerBean.togglePanelController.togglePanelChanged}" 
		opened="#{handlerBean.togglePanelController.togglePanels['TaxCodesInformationPanel']}"  
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
			
		<table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">
			<tr>
				<td style="width:50px;">&#160;</td>
				<td style="width: 100px;">&#160;TaxCode:</td>
				<td style="padding-left: 20px;">
					<h:inputText style="width: 200px;" id="enteredTaxCode" value="#{handlerBean.enteredTaxCode}" />
				</td>
			</tr>
			<tr>
				<td style="width:50px;">&#160;</td>
				<td style="width: 100px;">&#160;Description:</td>
				<td style="padding-left: 20px;">
					<h:inputText style="width: 300px;" id="enteredDesc" value="#{handlerBean.enteredDesc}" />
				</td>
			</tr>
			<tr>
				<td style="width:50px;">&#160;</td>
				<td style="width: 100px;">&#160;Active/inactive:</td>
				<td style="padding-left: 20px;">
					<h:selectOneMenu id="selectedActiveInactive" value="#{handlerBean.selectedActiveInactive}">
						<f:selectItem id="allItm" itemValue="-1" itemLabel="All" />
						<f:selectItem id="activeItm" itemValue="1" itemLabel="Active Only" />
						<f:selectItem id="inactiveItm" itemValue="0" itemLabel="Inactive Only" />
					</h:selectOneMenu>
				</td>
			</tr>
		</table>	
    </rich:simpleTogglePanel>
      
    </h:panelGrid>
	</div>
 </div>
<!-- end of table-one-content -->       
      
<div id="table-one-bottom">
	<ul class="right">
		<li class="clear">
			<a4j:commandLink id="btnClear" action="#{handlerBean.taxCodeResetFilter}" reRender="enteredTaxCode,enteredDesc,selectedActiveInactive" />
		</li>
		<li class="search">
			<a4j:commandLink id="btnSearch" action="#{handlerBean.taxCodeSearchFilter}" reRender="pageInfo,itemTable,copyBtn,updBtn,delBtn,viewBtn,rulesBtn,okBtn"/>
		</li>
	</ul>
</div>
			
</ui:component>