<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
 
<div id="embedded-table">
<h:panelGrid id="#{id}" columns="9" cellpadding="2" cellspacing="0">
	
	<h:outputText id="#{id}_10" escape="false" value="TaxCode :" rendered="#{empty popupName}"/> 
	
	<h:selectOneMenu id="#{id}_country"
		binding="#{handler.taxcodeCountryMenu}"
		required="#{!readonly and required}" label="TaxCode Country" 
		disabled="#{readonly}"
		rendered="#{!forId}"
		value="#{handler.taxcodeCountry}">
		<f:selectItems id="#{id}_country_items" value="#{handler.countryItems}"/>
		
		<a4j:support id="#{id}_country_handler" event="onchange" reRender="#{id}_state,#{id}_type,#{id}_code,#{id}"
			immediate="true" actionListener="#{handler.taxcodeCountrySelected}"/>
	</h:selectOneMenu> 

	<h:outputText id="#{id}_42" escape="false" value="&#160;-&#160;"/>
	
	
	<h:selectOneMenu id="#{id}_state"
		binding="#{handler.taxcodeStateMenu}"
		required="#{!readonly and required}" label="TaxCode State" 
		disabled="#{readonly}"
		rendered="#{!forId}" 
		value="#{handler.taxcodeState}">
		<f:selectItems id="#{id}_state_items" value="#{handler.taxCodeStateItems}"/>
	</h:selectOneMenu> 
	
	<h:outputText id="#{id}_l2" escape="false" value="&#160;-&#160;" rendered="#{!forId}"/> 

	<h:selectOneMenu id="#{id}_type" 
		binding="#{handler.taxcodeTypeMenu}" 
		required="#{!readonly and required }" label="TaxCode Type"
		disabled="#{readonly or forPreference}" 
		rendered="#{!forId}"
		value="#{handler.taxcodeType}">
		<f:selectItems id="#{id}_type_items" value="#{matrixCommonBean.taxCodeTypeItems}"/>
	</h:selectOneMenu>

	<h:outputText id="#{id}_l4" escape="false" value="&#160;-&#160;" rendered="#{!forId}"/> 

	<h:inputText id="#{id}_code" binding="#{handler.taxcodeCodeText}" label="TaxCode" 
		required="#{!readonly and required}"
		disabled="#{readonly}"
		rendered="#{!forId}" value="#{handler.taxcodeCode}" 
		onkeypress="upperCaseInputTextKey(event,this)" onblur="upperCaseInputText(this)" />	
	
	<h:panelGroup>
	
	<h:outputText id="#{id}_16" escape="false" value="TaxCode Detail Id :" rendered="#{empty popupName}" /> 
	
	<h:inputText id="#{id}_detailId" binding="#{handler.taxcodeDetailId}" label="TaxCode Id" value="#{handler.taxcodeId}" rendered="#{empty popupName or forId}" disabled="#{readonly}"/>

	<h:outputText id="#{id}_18" escape="false" value="&#160;Description :" rendered="#{empty popupName}" /> 
		
	<h:inputText id="#{id}_desc" binding="#{handler.taxcodeDesc}" label="TaxCode Desc" value="#{handler.description}" rendered="#{empty popupName}" />
	</h:panelGroup>
	
	<h:panelGroup>
		<a4j:commandButton id="#{id}_search" styleClass="image"
			image="/images/search_small.png" rendered="#{!empty popupName and !readonly}" 
			immediate="true" actionListener="#{handler.popupSearchAction}"
			oncomplete="javascript:Richfaces.showModalPanel('#{popupName}');" 
			reRender="#{popupForm}">
		</a4j:commandButton>
			<a4j:commandButton id="#{id}_view2" styleClass="image"
			image="/images/view-taxcode_small.png" rendered="#{!empty popupName and !readonly and handler.isCallingPageExist}" 

			action="#{handler.viewTaxCodeAction}">
		</a4j:commandButton>
	</h:panelGroup>
	
	<h:outputText id="#{id}_l5" escape="false" value=""/><h:outputText id="#{id}_l6" escape="false" value=""/> 
	<h:outputText id="#{id}_l7" escape="false" value=""/><h:outputText id="#{id}_l8" escape="false" value=""/> 
	<h:outputText id="#{id}_34" escape="false" value=""/><h:outputText id="#{id}_35" escape="false" value=""/>
	<h:outputText id="#{id}_displaymessage" rendered="#{!empty displaymessage}" value="#{displaymessage}" style="color:red; font-weight: bold;" />
	
</h:panelGrid>

<h:panelGrid id="#{id}_cch" rendered="#{filePreferencesBean.importMapProcessPreferenceDTO.tpExtractEnabled and cchRead}" columns="5" cellpadding="2" cellspacing="0">
	<h:outputText id="#{id}_cch_d1" value="#{matrixCommonBean.transactionPropertyMap['cchTaxcatCode'].abbrDesc}:"/>
	
	<h:selectOneMenu id="#{id}_cch_cat" style="width: 270px;"
		required="#{!cchreadonly and cchrequired}" label="CCH Tax Cat" 
		disabled="#{cchreadonly}" 
		value="#{handler.cchTaxCat}" >
		<f:selectItems id="#{id}_cch_cat_items" value="#{matrixCommonBean.cchTaxCatItems}" />
	</h:selectOneMenu>
	
	<rich:spacer id="#{id}_cch_spac" width="10"/>
	
	<h:outputText id="#{id}_cch_d2" value="#{matrixCommonBean.transactionPropertyMap['cchGroupCode'].abbrDesc}:"/>
	
	<h:selectOneMenu id="#{id}_cch_group" style="width: 270px;" 
		required="#{!cchreadonly and cchrequired}" label="CCH Tax Group"
		disabled="#{cchreadonly}" 
		value="#{handler.cchGroup}">
		<f:selectItems id="#{id}_cch_grp_items" value="#{matrixCommonBean.cchTaxGrpItems}" />
	</h:selectOneMenu>
</h:panelGrid>	
	
</div>

</ui:component>