<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
<ui:define name="script">
<script type="text/javascript">
//<![CDATA[
//]]>
</script>
</ui:define>
 
<div id="table-one-top" style="padding: 1px 10px 1px 15px;">
	<table cellpadding="0" cellspacing="0" style="width: 100%; height: 22px;"><tr>
		<td width="70"><a4j:commandLink id="toggleCustLocnCollapse" style="text-decoration: underline;color:#0033FF;"
				action="taxcode_panel" actionListener="#{taxCodeBackingBean.togglePanelController.collapseTogglePanels}" ><h:outputText value="collapse all"/></a4j:commandLink></td>
		<td align="left"><a4j:commandLink id="toggleTaxCodeExpand" style="text-decoration: underline;color:#0033FF;"  
  				action="taxcode_panel" actionListener="#{taxCodeBackingBean.togglePanelController.expandTogglePanels}" ><h:outputText value="expand all"/></a4j:commandLink></td>
		<td align="right" width="100"><h:outputText style="color:white;" value="Wildcard&#160;=&#160;%" /></td>
	</tr></table>
</div>   
 	<div id="table-one-content" style="height: auto;">
		<div id="embedded-table">
	     <h:panelGrid id="togglePanel" columns="1" width="100%">
		<rich:simpleTogglePanel id="TaxCodePanel"   switchType="ajax" label="TaxCode" opened="#{taxCodeBackingBean.togglePanelController.togglePanels['TaxCodePanel']}"
		    actionListener="#{taxCodeBackingBean.togglePanelController.togglePanelChanged}" 
			bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
				<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
				<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
		
		 <table cellpadding="0" cellspacing="0" width="100%" id="rollover" class="ruler">
			<tr>
				<td style="width:50px;">&#160;</td>
				<td style="width: 100px;">&#160;TaxCode:</td>
				<td style="padding-left: 20px;">
					<h:inputText style="width: 200px;" id="enteredTaxCode" onkeypress="upperCaseInputTextKey(event,this)" onblur="upperCaseInputText(this)" value="#{taxCodeBackingBean.enteredTaxCode}"
					valueChangeListener	 = "#{taxCodeBackingBean.setTaxCode}"/>
				</td>
			</tr>
			<tr>
				<td style="width:50px;">&#160;</td>
				<td style="width: 100px;">&#160;Description:</td>
				<td style="padding-left: 20px;">
					<h:inputText style="width: 300px;" id="enteredDesc" value="#{taxCodeBackingBean.enteredDesc}" valueChangeListener ="#{taxCodeBackingBean.setTaxCodedescription}" />
				</td>
			</tr>
			<tr>
				<td style="width:50px;">&#160;</td>
				<td style="width: 100px;">&#160;Active?:</td>
				<td style="padding-left: 20px;">
					<h:selectOneMenu id="selectedActiveInactive" value="#{taxCodeBackingBean.selectedActiveInactive}" valueChangeListener ="#{taxCodeBackingBean.setTaxCodeActiveInactive}">
						<f:selectItem id="allItm" itemValue="-1" itemLabel="All" />
						<f:selectItem id="activeItm" itemValue="1" itemLabel="Active Only" />
						<f:selectItem id="inactiveItm" itemValue="0" itemLabel="Inactive Only" />
					</h:selectOneMenu>
				</td>
			</tr>
		 </table>
	    </rich:simpleTogglePanel>
	    </h:panelGrid>
	    </div>
	    </div>
	 
		<div id="table-one-bottom">
			<ul class="right">
				<li class="clear">
					<a4j:commandLink id="btnClear" action="#{taxCodeBackingBean.taxCodeResetFilter}" reRender="enteredTaxCode,enteredDesc,selectedActiveInactive" />
				</li>
				<li class="search">
					<a4j:commandLink id="btnSearch" action="#{taxCodeBackingBean.taxCodeSearchFilter}" reRender="itemTable,copyBtn,updBtn,delBtn,viewBtn,rulesBtn"/>
				</li>
			</ul>
		</div>  
</ui:component>