<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
<rich:modalPanel id="#{popupName}" zindex="2000" autosized="true">
		<f:facet name="header">
			<h:outputText value="TaxCode Search" />
		</f:facet>
		<h:form id="#{popupForm}">
			<h:panelGrid id="taxCodePanelGrid" columns="1" style="margin:10px;">
	
			<h:panelGroup>
				<ui:include src="/WEB-INF/view/components/taxcode_lookup.xhtml">
						<ui:param name="handler" value="#{handler.popupHandler}"/>
						<ui:param name="id" value="filterTaxCodeSearch"/>
						<ui:param name="readonly" value="false"/>
						<ui:param name="required" value="false"/>
						<ui:param name="allornothing" value="false"/>
						<ui:param name="popupName" value=""/>
						<ui:param name="popupForm" value=""/>
						<ui:param name="forId" value="false"/>
						<ui:param name="cchRead" value="false"/>
						<ui:param name="showheaders" value="false"/>
					</ui:include>
			</h:panelGroup>

				
					<rich:spacer height="10px" />

				<h:panelGroup style="text-align:center;">
					<a4j:commandButton value="Clear" id="btnClear"
						actionListener="#{handler.popupHandler.taxCodeClearAction}"
						reRender="filterTaxCodeSearch,searchResults,okBtn" />
					<rich:spacer width="20px" />
					<a4j:commandButton value="Search" immediate="true" id="btnSearch" 
						actionListener="#{handler.popupHandler.taxCodeSearchAction}"
						reRender="searchResults,okBtn" />
				</h:panelGroup>

				<rich:spacer height="10px" />

				<h:panelGroup>
					<div class="scrollContainer" style="width: 700px;">
					<div class="scrollInner" style="height: 200px;width: 700px;">
            		<rich:dataTable rowClasses="odd-row,even-row" id="searchResults" width="680px"
						value="#{handler.popupHandler.taxCodeDTOList}" var="row">

						<a4j:support id="clickHandler" event="onRowClick"  
							onsubmit="selectRow('#{popupForm}:searchResults', this);"
							actionListener="#{handler.popupHandler.selectTaxCode}"
							reRender="okBtn" />

						<rich:column id="taxcodeCode" sortBy="#{row.taxcodeCode}">
							<f:facet name="header">
								<h:outputText value="TaxCode" />
							</f:facet>
							<h:outputText value="#{row.taxcodeCode}" />
						</rich:column>
						
						<rich:column id="taxcodeCountryCode" sortBy="#{row.taxcodeCountryCode}">
							<f:facet name="header">
								<h:outputText value="TaxCode Country" />
							</f:facet>
							<h:outputText value="#{row.taxcodeCountryCode}" />
						</rich:column>
						
						<rich:column id="name" sortBy="#{row.name}">
							<f:facet name="header">
								<h:outputText value="TaxCode State" />
							</f:facet>
							<h:outputText value="#{row.name}" />
						</rich:column>
						
						<rich:column id="taxcodeTypeDesc" sortBy="#{row.taxcodeTypeDesc}">
							<f:facet name="header">
								<h:outputText value="TaxCode Type" />
							</f:facet>
							<h:outputText value="#{row.taxcodeTypeDesc}" />
						</rich:column>
						
						<rich:column id="description" sortBy="#{row.description}">
							<f:facet name="header">
								<h:outputText value="Description" />
							</f:facet>
							<h:outputText value="#{row.description}" />
						</rich:column>
						
						<rich:column id="comments" sortBy="#{row.comments}">
							<f:facet name="header">
								<h:outputText value="Comments" />
							</f:facet>
							<h:outputText value="#{row.comments}" />
						</rich:column>
						
						<rich:column id="taxtypeCode" sortBy="#{row.taxtypeCode}">
							<f:facet name="header">
								<h:outputText value="Tax Type Code" />
							</f:facet>
							<h:outputText value="#{row.taxtypeCode}" />
						</rich:column>
						
						<rich:column id="erpTaxcode" sortBy="#{row.erpTaxcode}">
							<f:facet name="header">
								<h:outputText value="ERP Tax Code" />
							</f:facet>
							<h:outputText value="#{row.erpTaxcode}" />
						</rich:column>
						
						<rich:column id="taxtypeDesc" sortBy="#{row.taxtypeDesc}">
							<f:facet name="header">
								<h:outputText value="Tax Type Description" />
							</f:facet>
							<h:outputText value="#{row.taxtypeDesc}" />
						</rich:column>
						
						<rich:column id="taxcodeDetailId" sortBy="#{row.taxcodeDetailId}">
							<f:facet name="header">
								<h:outputText value="Tax Code Detail ID" />
							</f:facet>
							<h:outputText value="#{row.taxcodeDetailId}" />
						</rich:column>
						
						<rich:column id="jurisdictionId" sortBy="#{row.jurisdiction.jurisdictionId}">
							<f:facet name="header">
								<h:outputText value="Jurisdiction Id" />
							</f:facet>
							<h:outputText value="#{row.jurisdiction.jurisdictionId}" />
						</rich:column>
						
						<rich:column id="geocode" sortBy="#{row.jurisdiction.geocode}">
							<f:facet name="header">
								<h:outputText value="Geocode" />
							</f:facet>
							<h:outputText value="#{row.jurisdiction.geocode}" />
						</rich:column>
						
						<rich:column id="state" sortBy="#{row.jurisdiction.state}">
							<f:facet name="header">
								<h:outputText value="State" />
							</f:facet>
							<h:outputText value="#{row.jurisdiction.state}" />
						</rich:column>
						
						<rich:column id="county" sortBy="#{row.jurisdiction.county}">
							<f:facet name="header">
								<h:outputText value="County" />
							</f:facet>
							<h:outputText value="#{row.jurisdiction.county}" />
						</rich:column>
						
						<rich:column id="city" sortBy="#{row.jurisdiction.city}">
							<f:facet name="header">
								<h:outputText value="City" />
							</f:facet>
							<h:outputText value="#{row.jurisdiction.city}" />
						</rich:column>
						
						<rich:column id="zip" sortBy="#{row.jurisdiction.zip}">
							<f:facet name="header">
								<h:outputText value="Zip" />
							</f:facet>
							<h:outputText value="#{row.jurisdiction.zip}" />
						</rich:column>
						
						</rich:dataTable>
						</div>
					</div>
				</h:panelGroup>

				<rich:spacer height="10px" />
                      <!-- Fixed for issue 0004541 -->
				<h:panelGroup style="text-align:center;">
					<a4j:commandButton id="okBtn" value="Ok"
						disabled="#{!handler.popupHandler.validSearchTaxCodeResult}"
						actionListener="#{handler.updateTaxCodeListener}"
						oncomplete="Richfaces.hideModalPanel('#{popupName}'); return false;"
						reRender="#{reRender}">
						 <a4j:support event="onclick" actionListener="#{filePreferenceBackingBean.lookupAction}" reRender="updateButton, cancelButton, errorMessage"/>
					</a4j:commandButton>
					<rich:spacer width="20px" />
					<h:commandButton immediate="true" value="Cancel" id="btnCancel"
						onclick="Richfaces.hideModalPanel('#{popupName}'); return false;" />
				</h:panelGroup>
				

</h:panelGrid>


	

	</h:form>
	</rich:modalPanel>

</ui:component>