<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
<ui:define name="script">
<script type="text/javascript">
//<![CDATA[
         
//]]>
</script>
</ui:define>
 
		<a4j:outputPanel id="citytabpanel">
		<c:if test="#{(TaxJurisdictionBean.tabSelected) == 'citytab'}">
		<a4j:outputPanel id="cityRatesPanel">
			<table cellpadding="0" cellspacing="0"  width="100%" >						
				<tr>
					<td style="width:450px;height:305px" valign="top" >
						<!-- City Sales Rates-->
						<table cellpadding="0" cellspacing="0"  width="100%" style="border: 1px solid Silver;">						
							<tr>
								<td class="column-spacer">&#160;</td>
								<td colspan="7" style="height:22px">City Sales Rates:</td>
							</tr>
				
							<!-- City Sales Rates Tier 1 -->
							<tr>
								<td class="column-spacer">&#160;</td>
								<td>Tier 1:</td>
			    				<td>From Amount:</td>
			    				<td>
			    					<h:inputText id="cityTier1FromAmountSales" value="0" disabled="true"></h:inputText>
			    				</td>
			    				<td class="column-spacer">&#160;</td>
			    				<td class="column-spacer">&#160;</td>
			    				<td class="column-spacer">&#160;</td>
			    				<td class="column-spacer">&#160;</td>
							</tr>
							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
			        			<td class="column-label3">Rate or Set Amount:</td>
			        			<td>
			        				<h:inputText
										id="cityTier1RateSales"
										binding="#{TaxJurisdictionBean.citySalesTier1RateInputText}"			
										valueChangeListener="#{TaxJurisdictionBean.citySalesTier1RateInputTextChangeListener}"								
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER1RATE'].disabled}"
										maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYSALESTIER1RATE']}" 
										onkeypress="return onlyNumerics(event);"
										immediate="true" >										
										<a4j:support id="ajaxcitySalesTier1Rate" event="onblur"
											reRender="combinedSalesRate,combinedUseRateWarning,combinedSalesRateWarning" immediate="true"/>												
									</h:inputText>
								</td>
			       				<td class="column-spacer">or</td>
			       				<td colspan="2">
			       					<h:inputText
										id="cityTier1SetAmountSales"
										binding="#{TaxJurisdictionBean.citySalesTier1SetamtInputText}"	
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER1SETAMT'].disabled}"
										maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYSALESTIER1SETAMT']}" 
										immediate="true"
										onkeypress="return onlyIntegerValue(event);">	
									</h:inputText>
								</td>
			       				<td class="column-spacer" style="width:10%;">&#160;</td>
							</tr>
			
							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
			        			<td>Through Amount:</td>
			        			<td>
							        <h:inputText id="cityTier1ThroughAmountSales"
										binding="#{TaxJurisdictionBean.citySalesTier1MaxAmtInputText}"
										valueChangeListener="#{TaxJurisdictionBean.citySalesTier1MaxAmtChangeListener}"
										immediate="true"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER1MAXAMT'].disabled}"
										maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYSALESTIER1MAXAMT']}" 
										onkeypress="return onlyIntegerValue(event);" onchange="return setValue();"
										label="Tier 1 Maximum Amount" >
										<a4j:support id="ajaxcityTier1ThroughAmountSales" event="onblur" 
											reRender="cityTier2FromAmountSales" />
									</h:inputText>
								</td>
					       		<td>&#160;</td>
					       		<td style="width:10px;">
					        		<h:selectBooleanCheckbox id="cityTier1SetToMaxSales" styleClass="check" immediate="true"
										value="#{TaxJurisdictionBean.citySalesTier1SetToMaximumCheck}"
										binding="#{TaxJurisdictionBean.citySalesTier1SetToMaximumCheckBind}"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER1SETTOMAXIMUMCHECK'].disabled}">
										<a4j:support id="ajaxcityTier1SetToMaxSales" event="onclick"  
											reRender="cityTier1ThroughAmountSales,cityTier2FromAmountSales" actionListener="#{TaxJurisdictionBean.citySalesTier1SetToMaximumFlagChangeListener}" />
									</h:selectBooleanCheckbox>
								</td>
				        		<td>Set to Maximum</td>
				        		<td class="column-spacer">&#160;</td>
							</tr>
							<!-- End of City Sales Rates Tier 1 -->	
			
							<!-- City Sales Rates Tier 2 -->
				       		<tr>
				       			<td class="column-spacer">&#160;</td>
								<td>Tier 2:</td>
				       			<td>From Amount:</td>
					       		<td>
								    <h:inputText
										id="cityTier2FromAmountSales"
										binding="#{TaxJurisdictionBean.citySalesTier2MinAmtInputText}"
										value="#{TaxJurisdictionBean.editTaxRate.citySalesTier2MinAmt}"
										immediate="true"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER2MINAMT'].disabled}"
										maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYSALESTIER2MINAMT']}" 
										onkeypress="return onlyIntegerValue(event);" label="">
									</h:inputText>
								</td>	
				        		<td class="column-spacer">&#160;</td>
				        		<td class="column-spacer">&#160;</td>
				        		<td class="column-spacer">&#160;</td>
				        		<td class="column-spacer">&#160;</td>
							</tr>
							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
							    <td>Rate or Set Amount:</td>
							       <td><h:inputText
										id="cityTier2RateSales"
										binding="#{TaxJurisdictionBean.citySalesTier2RateInputText}"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER2RATE'].disabled}"
										maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYSALESTIER2RATE']}" 
										immediate="true"
										onkeypress="return onlyNumerics(event);">
									</h:inputText>
								</td>
					       		<td class="column-spacer">or</td>
					       		<td colspan="2">
					       			<h:inputText
										id="cityTier2SetAmountSales"
										binding="#{TaxJurisdictionBean.citySalesTier2SetamtInputText}"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER2SETAMT'].disabled}"
										maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYSALESTIER2SETAMT']}" 
										immediate="true"
										onkeypress="return onlyIntegerValue(event);">
									</h:inputText>
								</td>
				        		<td class="column-spacer">&#160;</td>
							</tr>
				
							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
							    <td>Through Amount:</td>		
								<td>
									<h:inputText
										id="cityTier2ThroughAmountSales"
										binding="#{TaxJurisdictionBean.citySalesTier2MaxAmtInputText}"
										immediate="true"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER2MAXAMT'].disabled}"
										maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYSALESTIER2MAXAMT']}" 
										onkeypress="return onlyIntegerValue(event);"
										onchange="return setValue();"
										label="Tier 2 Maximum Amount">
									</h:inputText>
								</td>
							    <td>&#160;</td>
							    <td style="width:10px;">
									<h:selectBooleanCheckbox id="cityTier2SetToMaxSales" styleClass="check" immediate="true"
										value="#{TaxJurisdictionBean.citySalesTier2SetToMaximumCheck}"
										binding="#{TaxJurisdictionBean.citySalesTier2SetToMaximumCheckBind}"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER2SETTOMAXIMUMCHECK'].disabled}">
										<a4j:support id="ajaxcityTier2SetToMaxSales" event="onclick"  
											reRender="cityTier2ThroughAmountSales,cityTier3RateSales,cityTier3SetAmountSales,cityTier3TaxEntireAmountSales" actionListener="#{TaxJurisdictionBean.citySalesTier2SetToMaximumFlagChangeListener}" />
									</h:selectBooleanCheckbox>
								</td>
							    <td>Set to Maximum</td>
							    <td class="column-spacer">&#160;</td>
							</tr>
							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
							    <td>Tax Entire Amount?:</td>		
								<td>
							        <h:selectBooleanCheckbox
										id="cityTier2TaxEntireAmountSales" styleClass="check"
										value="#{TaxJurisdictionBean.citySalesTier2TaxEntireAmountCheck}"
										binding="#{TaxJurisdictionBean.citySalesTier2TaxEntireAmountCheckBind}"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER2ENTAMFLAG'].disabled}">
									</h:selectBooleanCheckbox>
								</td>
							    <td class="column-spacer">&#160;</td>
							    <td class="column-spacer">&#160;</td>
							    <td class="column-spacer">&#160;</td>
							    <td class="column-spacer">&#160;</td>
							</tr>
							<!-- End of City Sales Rates Tier 2 -->
							
							<!-- City Sales Rates Tier 3 -->			      
							<tr>
								<td class="column-spacer">&#160;</td>
								<td>Tier 3:</td>
							    <td>Rate or Set Amount:</td>
							        <td><h:inputText
										id="cityTier3RateSales"
										binding="#{TaxJurisdictionBean.citySalesTier3RateInputText}"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER3RATE'].disabled}"
										maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYSALESTIER3RATE']}"
										immediate="true"									 
										onkeypress="return onlyNumerics(event);">
									</h:inputText>
								</td>
							    <td class="column-spacer">or</td>
							    <td colspan="2">
							    	<h:inputText
										id="cityTier3SetAmountSales"
										binding="#{TaxJurisdictionBean.citySalesTier3SetamtInputText}"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER3SETAMT'].disabled}"
										maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYSALESTIER3SETAMT']}" 
										immediate="true"									
										onkeypress="return onlyIntegerValue(event);">
									</h:inputText>
								</td>
							    <td class="column-spacer">&#160;</td>
							</tr>
							
							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
							    <td>Through Amount:</td>		
								<td>
									<h:inputText
										id="cityTier3ThroughAmountSales" value="*MAX" disabled="true" >
									</h:inputText>							
								</td>
				        		<td class="column-spacer">&#160;</td>
				        		<td class="column-spacer">&#160;</td>
				        		<td class="column-spacer">&#160;</td>
				        		<td class="column-spacer">&#160;</td>
							</tr>
							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
				        		<td>Tax Entire Amount?:</td>		
								<td>
				        			<h:selectBooleanCheckbox
										id="cityTier3TaxEntireAmountSales" styleClass="check"
										value="#{TaxJurisdictionBean.citySalesTier3TaxEntireAmountCheck}"
										binding="#{TaxJurisdictionBean.citySalesTier3TaxEntireAmountCheckBind}"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER3ENTAMFLAG'].disabled}">
									</h:selectBooleanCheckbox>
								</td>
				        		<td class="column-spacer">&#160;</td>
				        		<td class="column-spacer">&#160;</td>
				        		<td class="column-spacer">&#160;</td>
				        		<td class="column-spacer">&#160;</td>
							</tr>
							<!-- End of City Sales Rates Tier 3 -->	
						</table>
			   		</td>
			   		
			   		<td style="width:450px;height:305px" valign="top" >
						<!-- City Use Rates-->
						<table cellpadding="0" cellspacing="0"  width="100%" style="border: 1px solid Silver;">						
							<tr>
								<td class="column-spacer">&#160;</td>
								<td colspan="4">City Use Rates:</td>
							    <td style="width:10px;height:22px">&#160;</td>
					       		<td>&#160;</td>
					       		<td class="column-spacer">&#160;</td>
					       	</tr>
				
							<!-- City Use Rates Tier 1 -->
							<tr>
								<td class="column-spacer">&#160;</td>
								<td>Tier 1:</td>
			    				<td>From Amount:</td>
			    				<td>
			    					<h:inputText id="cityTier1FromAmountUse" value="0" disabled="true"></h:inputText>
			    				</td>
			    				<td class="column-spacer">&#160;</td>
			    				<td class="column-spacer">&#160;</td>
			    				<td class="column-spacer">&#160;</td>
			    				<td class="column-spacer">&#160;</td>
							</tr>
							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
			        			<td class="column-label3">Rate or Set Amount:</td>
			        			<td>
			        				<h:inputText
										id="cityTier1RateUse"
										binding="#{TaxJurisdictionBean.cityUseTier1RateInputText}"			
										valueChangeListener="#{TaxJurisdictionBean.cityUseTier1RateInputTextChangeListener}"								
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER1RATE'].disabled}"
										maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYUSETIER1RATE']}" 
										onkeypress="return onlyNumerics(event);"
										immediate="true" >										
										<a4j:support id="ajaxcityUseTier1Rate" event="onblur"
											reRender="combinedUseRate,combinedUseRateWarning,combinedUseRateWarning" immediate="true"/>												
									</h:inputText>
								</td>
			       				<td class="column-spacer">or</td>
			       				<td colspan="2">
			       					<h:inputText
										id="cityTier1SetAmountUse"
										binding="#{TaxJurisdictionBean.cityUseTier1SetamtInputText}"	
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER1SETAMT'].disabled}"
										maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYUSETIER1SETAMT']}" 
										immediate="true"
										onkeypress="return onlyIntegerValue(event);">	
									</h:inputText>
								</td>
			       				<td class="column-spacer" style="width:10%;">&#160;</td>
							</tr>
			
							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
			        			<td>Through Amount:</td>
			        			<td>
							        <h:inputText id="cityTier1ThroughAmountUse"
										binding="#{TaxJurisdictionBean.cityUseTier1MaxAmtInputText}"
										valueChangeListener="#{TaxJurisdictionBean.cityUseTier1MaxAmtChangeListener}"
										immediate="true"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER1MAXAMT'].disabled}"
										maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYUSETIER1MAXAMT']}" 
										onkeypress="return onlyIntegerValue(event);" onchange="return setValue();"
										label="Tier 1 Maximum Amount" >
										<a4j:support id="ajaxcityTier1ThroughAmountUse" event="onblur" 
											reRender="cityTier2FromAmountUse" />
									</h:inputText>
								</td>
					       		<td>&#160;</td>
					       		<td style="width:10px;">
					        		<h:selectBooleanCheckbox id="cityTier1SetToMaxUse" styleClass="check" immediate="true"
										value="#{TaxJurisdictionBean.cityUseTier1SetToMaximumCheck}"
										binding="#{TaxJurisdictionBean.cityUseTier1SetToMaximumCheckBind}"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER1SETTOMAXIMUMCHECK'].disabled}">
										<a4j:support id="ajaxcityTier1SetToMaxUse" event="onclick"  
											reRender="cityTier1ThroughAmountUse,cityTier2FromAmountUse" actionListener="#{TaxJurisdictionBean.cityUseTier1SetToMaximumFlagChangeListener}" />
									</h:selectBooleanCheckbox>
								</td>
				        		<td>Set to Maximum</td>
				        		<td class="column-spacer">&#160;</td>
							</tr>
							<!-- End of City Use Rates Tier 1 -->	
			
							<!-- City Use Rates Tier 2 -->
				       		<tr>
				       			<td class="column-spacer">&#160;</td>
								<td>Tier 2:</td>
				       			<td>From Amount:</td>
					       		<td>
								    <h:inputText
										id="cityTier2FromAmountUse"
										binding="#{TaxJurisdictionBean.cityUseTier2MinAmtInputText}"
										value="#{TaxJurisdictionBean.editTaxRate.cityUseTier2MinAmt}"
										immediate="true"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER2MINAMT'].disabled}"
										maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYUSETIER2MINAMT']}" 
										onkeypress="return onlyIntegerValue(event);" label="">
									</h:inputText>
								</td>	
				        		<td class="column-spacer">&#160;</td>
				        		<td class="column-spacer">&#160;</td>
				        		<td class="column-spacer">&#160;</td>
				        		<td class="column-spacer">&#160;</td>
							</tr>
							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
							    <td>Rate or Set Amount:</td>
							       <td><h:inputText
										id="cityTier2RateUse"
										binding="#{TaxJurisdictionBean.cityUseTier2RateInputText}"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER2RATE'].disabled}"
										maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYUSETIER2RATE']}" 
										immediate="true"
										onkeypress="return onlyNumerics(event);">
									</h:inputText>
								</td>
					       		<td class="column-spacer">or</td>
					       		<td colspan="2">
					       			<h:inputText
										id="cityTier2SetAmountUse"
										binding="#{TaxJurisdictionBean.cityUseTier2SetamtInputText}"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER2SETAMT'].disabled}"
										maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYUSETIER2SETAMT']}" 
										immediate="true"
										onkeypress="return onlyIntegerValue(event);">
									</h:inputText>
								</td>
				        		<td class="column-spacer">&#160;</td>
							</tr>
				
							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
							    <td>Through Amount:</td>		
								<td>
									<h:inputText
										id="cityTier2ThroughAmountUse"
										binding="#{TaxJurisdictionBean.cityUseTier2MaxAmtInputText}"
										immediate="true"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER2MAXAMT'].disabled}"
										maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYUSETIER2MAXAMT']}" 
										onkeypress="return onlyIntegerValue(event);"
										onchange="return setValue();"
										label="Tier 2 Maximum Amount">
									</h:inputText>
								</td>
							    <td>&#160;</td>
							    <td style="width:10px;">
									<h:selectBooleanCheckbox id="cityTier2SetToMaxUse" styleClass="check" immediate="true"
										value="#{TaxJurisdictionBean.cityUseTier2SetToMaximumCheck}"
										binding="#{TaxJurisdictionBean.cityUseTier2SetToMaximumCheckBind}"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER2SETTOMAXIMUMCHECK'].disabled}">
										<a4j:support id="ajaxcityTier2SetToMaxUse" event="onclick"  
											reRender="cityTier2ThroughAmountUse,cityTier3RateUse,cityTier3SetAmountUse,cityTier3TaxEntireAmountUse" actionListener="#{TaxJurisdictionBean.cityUseTier2SetToMaximumFlagChangeListener}" />
									</h:selectBooleanCheckbox>
								</td>
							    <td>Set to Maximum</td>
							    <td class="column-spacer">&#160;</td>
							</tr>
							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
							    <td>Tax Entire Amount?:</td>		
								<td>
							        <h:selectBooleanCheckbox
										id="cityTier2TaxEntireAmountUse" styleClass="check"
										value="#{TaxJurisdictionBean.cityUseTier2TaxEntireAmountCheck}"
										binding="#{TaxJurisdictionBean.cityUseTier2TaxEntireAmountCheckBind}"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER2ENTAMFLAG'].disabled}">
									</h:selectBooleanCheckbox>
								</td>
							    <td class="column-spacer">&#160;</td>
							    <td class="column-spacer">&#160;</td>
							    <td class="column-spacer">&#160;</td>
							    <td class="column-spacer">&#160;</td>
							</tr>
							<!-- End of City Use Rates Tier 2 -->
							
							<!-- City Use Rates Tier 3 -->			      
							<tr>
								<td class="column-spacer">&#160;</td>
								<td>Tier 3:</td>
							    <td>Rate or Set Amount:</td>
							        <td><h:inputText
										id="cityTier3RateUse"
										binding="#{TaxJurisdictionBean.cityUseTier3RateInputText}"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER3RATE'].disabled}"
										maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYUSETIER3RATE']}"
										immediate="true"									 
										onkeypress="return onlyNumerics(event);">
									</h:inputText>
								</td>
							    <td class="column-spacer">or</td>
							    <td colspan="2">
							    	<h:inputText
										id="cityTier3SetAmountUse"
										binding="#{TaxJurisdictionBean.cityUseTier3SetamtInputText}"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER3SETAMT'].disabled}"
										maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYUSETIER3SETAMT']}" 
										immediate="true"									
										onkeypress="return onlyIntegerValue(event);">
									</h:inputText>
								</td>
							    <td class="column-spacer">&#160;</td>
							</tr>
							
							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
							    <td>Through Amount:</td>		
								<td>
									<h:inputText
										id="cityTier3ThroughAmountUse" value="*MAX" disabled="true" >
									</h:inputText>							
								</td>
				        		<td class="column-spacer">&#160;</td>
				        		<td class="column-spacer">&#160;</td>
				        		<td class="column-spacer">&#160;</td>
				        		<td class="column-spacer">&#160;</td>
							</tr>
							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-spacer">&#160;</td>
				        		<td>Tax Entire Amount?:</td>		
								<td>
				        			<h:selectBooleanCheckbox
										id="cityTier3TaxEntireAmountUse" styleClass="check"
										value="#{TaxJurisdictionBean.cityUseTier3TaxEntireAmountCheck}"
										binding="#{TaxJurisdictionBean.cityUseTier3TaxEntireAmountCheckBind}"
										disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER3ENTAMFLAG'].disabled}">
									</h:selectBooleanCheckbox>
								</td>
				        		<td class="column-spacer">&#160;</td>
				        		<td class="column-spacer">&#160;</td>
				        		<td class="column-spacer">&#160;</td>
				        		<td class="column-spacer">&#160;</td>
							</tr>
							<!-- End of City Sales Rates Tier 3 -->	
						</table>
			   		</td>
			    </tr>
			</table>
		</a4j:outputPanel>
		</c:if>
		</a4j:outputPanel>

			
</ui:component>