<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
<ui:define name="script">
<script type="text/javascript">
//<![CDATA[
         
//]]>
</script>
</ui:define>
 
<table cellpadding="0" cellspacing="0"  width="100%">						
	<tr>
		<td style="width:450px;">
			<!-- STJs Sales Rates-->
         			<table cellpadding="0" cellspacing="0"  width="100%">						
				<tr>
					<td colspan="7">
            			STJs Sales Rates:
            		</td>
            	</tr>
            	
				<tr>
					<td class="column-spacer">&#160;</td>
            		<td class="column-label3">[STJ1] Rate or Set Amount:</td>
            		<td><h:inputText
							id="stj1SalesRate"
							binding="#{TaxJurisdictionBean.stj1SalesRateInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.stj1SalesRate}"
							valueChangeListener="#{TaxJurisdictionBean.stj1SalesRateInputTextChangeListener}"
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ1SALESRATE'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ1SALESRATE']}" 
							onkeypress="return onlyNumerics(event);"
							immediate="true" >										
							<a4j:support id="ajaxstj1SalesRate" event="onblur" immediate="true"
								reRender="combinedUseRate,combinedSalesRate,combinedUseRateWarning,combinedSalesRateWarning,stj1SalesRate,stj1SalesSetamt,stj1UseRate,stj1UseSetamt" />												
						</h:inputText>
					</td>
            		<td class="column-spacer">or</td>
            		<td colspan="2"><h:inputText
							id="stj1SalesSetamt"
							binding="#{TaxJurisdictionBean.stj1SalesSetamtInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.stj1SalesSetamt}"
							valueChangeListener="#{TaxJurisdictionBean.stj1SalesSetamtInputTextChangeListener}"		
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ1SALESSETAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ1SALESSETAMT']}" 
							immediate="true"
							onkeypress="return onlyNumerics(event);">
							<a4j:support id="ajaxstj1SalesSetamt" event="onblur" immediate="true" reRender="stj1SalesRate,stj1SalesSetamt,stj1UseRate,stj1UseSetamt" />	
						</h:inputText>
					</td>
            		<td class="column-spacer" style="width:10%;">&#160;</td>
				</tr>
				
				<tr>
					<td class="column-spacer">&#160;</td>
            		<td class="column-label3">[STJ2] Rate or Set Amount:</td>
            		<td><h:inputText
							id="stj2SalesRate"
							binding="#{TaxJurisdictionBean.stj2SalesRateInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.stj2SalesRate}"
							valueChangeListener="#{TaxJurisdictionBean.stj2SalesRateInputTextChangeListener}"
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ2SALESRATE'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ2SALESRATE']}" 
							onkeypress="return onlyNumerics(event);"
							immediate="true" >										
							<a4j:support id="ajaxstj2SalesRate" event="onblur" immediate="true"
								reRender="combinedUseRate,combinedSalesRate,combinedUseRateWarning,combinedSalesRateWarning,stj2SalesRate,stj2SalesSetamt,stj2UseRate,stj2UseSetamt" />												
						</h:inputText>
					</td>
            		<td class="column-spacer">or</td>
            		<td colspan="2"><h:inputText
							id="stj2SalesSetamt"
							binding="#{TaxJurisdictionBean.stj2SalesSetamtInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.stj2SalesSetamt}"
							valueChangeListener="#{TaxJurisdictionBean.stj2SalesSetamtInputTextChangeListener}"	
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ2SALESSETAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ2SALESSETAMT']}" 
							immediate="true"
							onkeypress="return onlyNumerics(event);">
							<a4j:support id="ajaxstj2SalesSetamt" event="onblur" immediate="true" reRender="stj2SalesRate,stj2SalesSetamt,stj2UseRate,stj2UseSetamt" />	
						</h:inputText>
					</td>
            		<td class="column-spacer" style="width:10%;">&#160;</td>
				</tr>
				
				<tr>
					<td class="column-spacer">&#160;</td>
            		<td class="column-label3">[STJ3] Rate or Set Amount:</td>
            		<td><h:inputText
							id="stj3SalesRate"
							binding="#{TaxJurisdictionBean.stj3SalesRateInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.stj3SalesRate}"
							valueChangeListener="#{TaxJurisdictionBean.stj3SalesRateInputTextChangeListener}"
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ3SALESRATE'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ3SALESRATE']}" 
							onkeypress="return onlyNumerics(event);"
							immediate="true" >										
							<a4j:support id="ajaxstj3SalesRate" event="onblur" immediate="true"
								reRender="combinedUseRate,combinedSalesRate,combinedUseRateWarning,combinedSalesRateWarning,stj3SalesRate,stj3SalesSetamt,stj3UseRate,stj3UseSetamt" />												
						</h:inputText>
					</td>
            		<td class="column-spacer">or</td>
            		<td colspan="2"><h:inputText
							id="stj3SalesSetamt"
							binding="#{TaxJurisdictionBean.stj3SalesSetamtInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.stj3SalesSetamt}"
							valueChangeListener="#{TaxJurisdictionBean.stj3SalesSetamtInputTextChangeListener}"	
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ3SALESSETAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ3SALESSETAMT']}" 
							immediate="true"
							onkeypress="return onlyNumerics(event);">
							<a4j:support id="ajaxstj3SalesSetamt" event="onblur" immediate="true" reRender="stj3SalesRate,stj3SalesSetamt,stj3UseRate,stj3UseSetamt" />	
						</h:inputText>
					</td>
            		<td class="column-spacer" style="width:10%;">&#160;</td>
				</tr>
				
				<tr>
					<td class="column-spacer">&#160;</td>
            		<td class="column-label3">[STJ4] Rate or Set Amount:</td>
            		<td><h:inputText
							id="stj4SalesRate"
							binding="#{TaxJurisdictionBean.stj4SalesRateInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.stj4SalesRate}"
							valueChangeListener="#{TaxJurisdictionBean.stj4SalesRateInputTextChangeListener}"
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ4SALESRATE'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ4SALESRATE']}" 
							onkeypress="return onlyNumerics(event);"
							immediate="true" >										
							<a4j:support id="ajaxstj4SalesRate" event="onblur" immediate="true"
								reRender="combinedUseRate,combinedSalesRate,combinedUseRateWarning,combinedSalesRateWarning,,stj4SalesRate,stj4SalesSetamt,stj4UseRate,stj4UseSetamt" />												
						</h:inputText>
					</td>
            		<td class="column-spacer">or</td>
            		<td colspan="2"><h:inputText
							id="stj4SalesSetamt"
							binding="#{TaxJurisdictionBean.stj4SalesSetamtInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.stj4SalesSetamt}"
							valueChangeListener="#{TaxJurisdictionBean.stj4SalesSetamtInputTextChangeListener}"
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ4SALESSETAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ4SALESSETAMT']}" 
							immediate="true"
							onkeypress="return onlyNumerics(event);">
							<a4j:support id="ajaxstj4SalesSetamt" event="onblur" immediate="true" reRender="stj4SalesRate,stj4SalesSetamt,stj4UseRate,stj4UseSetamt" />	
						</h:inputText>
					</td>
            		<td class="column-spacer" style="width:10%;">&#160;</td>
				</tr>

				<tr>
					<td class="column-spacer">&#160;</td>
            		<td class="column-label3">[STJ5] Rate or Set Amount:</td>
            		<td><h:inputText
							id="stj5SalesRate"
							binding="#{TaxJurisdictionBean.stj5SalesRateInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.stj5SalesRate}"
							valueChangeListener="#{TaxJurisdictionBean.stj5SalesRateInputTextChangeListener}"
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ5SALESRATE'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ5SALESRATE']}" 
							onkeypress="return onlyNumerics(event);"
							immediate="true" >										
							<a4j:support id="ajaxstj5SalesRate" event="onblur" immediate="true"
								reRender="combinedUseRate,combinedSalesRate,combinedUseRateWarning,combinedSalesRateWarning,stj5SalesRate,stj5SalesSetamt,stj5UseRate,stj5UseSetamt" />												
						</h:inputText>
					</td>
            		<td class="column-spacer">or</td>
            		<td colspan="2"><h:inputText
							id="stj5SalesSetamt"
							binding="#{TaxJurisdictionBean.stj5SalesSetamtInputText}"
							valueChangeListener="#{TaxJurisdictionBean.stj5SalesSetamtInputTextChangeListener}"
							value="#{TaxJurisdictionBean.editTaxRate.stj5SalesSetamt}"
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ5SALESSETAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ5SALESSETAMT']}" 
							immediate="true"
							onkeypress="return onlyNumerics(event);">
							<a4j:support id="ajaxstj5SalesSetamt" event="onblur" immediate="true" reRender="stj5SalesRate,stj5SalesSetamt,stj5UseRate,stj5UseSetamt" />	
						</h:inputText>
					</td>
            		<td class="column-spacer" style="width:10%;">&#160;</td>
				</tr>
				
			</table>
         		</td>
         		
         		<td style="width:450px;">
			<!-- STJs Use Rates-->
         			<table cellpadding="0" cellspacing="0"  width="100%">						
				<tr>
					<td colspan="4">
            			STJ Use Rates:
            		</td>
            		<td style="width:10px;">
            			<h:selectBooleanCheckbox
							id="stjSameAsSalesRates" styleClass="check"
							value="#{TaxJurisdictionBean.stjSameAsSalesRatesCheck}"
							valueChangeListener="#{TaxJurisdictionBean.stjSameAsSalesRatesChangeListener }"
							immediate="true" >
							<a4j:support id="ajaxstjSameAsSalesRates" immediate="true"
								event="onclick"
								reRender="stjUsePanel"
								 />
						</h:selectBooleanCheckbox>
					</td>
            		<td>Same as Sales Rates</td>
            		<td class="column-spacer">&#160;</td>
            	</tr>
            		
            	<tr>
					<td class="column-spacer">&#160;</td>
            		<td class="column-label3">[STJ1] Rate or Set Amount:</td>
            		<td><h:inputText
							id="stj1UseRate"
							binding="#{TaxJurisdictionBean.stj1UseRateInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.stj1UseRate}"
							valueChangeListener="#{TaxJurisdictionBean.stj1UseRateInputTextChangeListener}"				
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ1USERATE'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ1USERATE']}" 
							onkeypress="return onlyNumerics(event);"
							immediate="true" >										
							<a4j:support id="ajaxstj1UseRate" event="onblur" immediate="true"
								reRender="combinedUseRate,combinedSalesRate,combinedUseRateWarning,combinedSalesRateWarning,stj1UseRate,stj1UseSetamt" />												
						</h:inputText>
					</td>
            		<td class="column-spacer">or</td>
            		<td colspan="2"><h:inputText
							id="stj1UseSetamt"
							binding="#{TaxJurisdictionBean.stj1UseSetamtInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.stj1UseSetamt}"
							valueChangeListener="#{TaxJurisdictionBean.stj1UseSetamtInputTextChangeListener}"			
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ1USESETAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ1USESETAMT']}" 
							immediate="true"
							onkeypress="return onlyNumerics(event);">
							<a4j:support id="ajaxstj1UseSetamt" event="onblur" immediate="true" reRender="stj1UseRate,stj1UseSetamt" />	
						</h:inputText>
					</td>
            		<td class="column-spacer" style="width:10%;">&#160;</td>
				</tr>
				
				<!-- sdddddd -->
				<tr>
					<td class="column-spacer">&#160;</td>
            		<td class="column-label3">[STJ2] Rate or Set Amount:</td>
            		<td><h:inputText
							id="stj2UseRate"
							binding="#{TaxJurisdictionBean.stj2UseRateInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.stj2UseRate}"
							valueChangeListener="#{TaxJurisdictionBean.stj2UseRateInputTextChangeListener}"
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ2USERATE'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ2USERATE']}" 
							onkeypress="return onlyNumerics(event);"
							immediate="true" >										
							<a4j:support id="ajaxstj2UseRate" event="onblur" immediate="true"
								reRender="combinedUseRate,combinedSalesRate,combinedUseRateWarning,combinedSalesRateWarning,stj2UseRate,stj2UseSetamt" />												
						</h:inputText>
					</td>
            		<td class="column-spacer">or</td>
            		<td colspan="2"><h:inputText
							id="stj2UseSetamt"
							binding="#{TaxJurisdictionBean.stj2UseSetamtInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.stj2UseSetamt}"
							valueChangeListener="#{TaxJurisdictionBean.stj2UseSetamtInputTextChangeListener}"
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ2USESETAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ2USESETAMT']}" 
							immediate="true"
							onkeypress="return onlyNumerics(event);">
							<a4j:support id="ajaxstj2UseSetamt" event="onblur" immediate="true" reRender="stj2UseRate,stj2UseSetamt" />	
						</h:inputText>
					</td>
            		<td class="column-spacer" style="width:10%;">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
            		<td class="column-label3">[STJ3] Rate or Set Amount:</td>
            		<td><h:inputText
							id="stj3UseRate"
							binding="#{TaxJurisdictionBean.stj3UseRateInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.stj3UseRate}"
							valueChangeListener="#{TaxJurisdictionBean.stj3UseRateInputTextChangeListener}"
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ3USERATE'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ3USERATE']}" 
							onkeypress="return onlyNumerics(event);"
							immediate="true" >										
							<a4j:support id="ajaxstj3UseRate" event="onblur" immediate="true"
								reRender="combinedUseRate,combinedSalesRate,combinedUseRateWarning,combinedSalesRateWarning,stj3UseRate,stj3UseSetamt" />												
						</h:inputText>
					</td>
            		<td class="column-spacer">or</td>
            		<td colspan="2"><h:inputText
							id="stj3UseSetamt"
							binding="#{TaxJurisdictionBean.stj3UseSetamtInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.stj3UseSetamt}"
							valueChangeListener="#{TaxJurisdictionBean.stj3UseSetamtInputTextChangeListener}"
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ3USESETAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ3USESETAMT']}" 
							immediate="true"
							onkeypress="return onlyNumerics(event);">
							<a4j:support id="ajaxstj3UseSetamt" event="onblur" immediate="true" reRender="stj3UseRate,stj3UseSetamt" />	
						</h:inputText>
					</td>
            		<td class="column-spacer" style="width:10%;">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
            		<td class="column-label3">[STJ4] Rate or Set Amount:</td>
            		<td><h:inputText
							id="stj4UseRate"
							binding="#{TaxJurisdictionBean.stj4UseRateInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.stj4UseRate}"
							valueChangeListener="#{TaxJurisdictionBean.stj4UseRateInputTextChangeListener}"
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ4USERATE'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ4USERATE']}" 
							onkeypress="return onlyNumerics(event);"
							immediate="true" >										
							<a4j:support id="ajaxstj4UseRate" event="onblur" immediate="true"
								reRender="combinedUseRate,combinedSalesRate,combinedUseRateWarning,combinedSalesRateWarning,stj4UseRate,stj4UseSetamt" />												
						</h:inputText>
					</td>
            		<td class="column-spacer">or</td>
            		<td colspan="2"><h:inputText
							id="stj4UseSetamt"
							binding="#{TaxJurisdictionBean.stj4UseSetamtInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.stj4UseSetamt}"
							valueChangeListener="#{TaxJurisdictionBean.stj4UseSetamtInputTextChangeListener}"
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ4USESETAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ4USESETAMT']}" 
							immediate="true"
							onkeypress="return onlyNumerics(event);">
							<a4j:support id="ajaxstj4UseSetamt" event="onblur" immediate="true" reRender="stj4UseRate,stj4UseSetamt" />	
						</h:inputText>
					</td>
            		<td class="column-spacer" style="width:10%;">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
            		<td class="column-label3">[STJ5] Rate or Set Amount:</td>
            		<td><h:inputText
							id="stj5UseRate"
							binding="#{TaxJurisdictionBean.stj5UseRateInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.stj5UseRate}"
							valueChangeListener="#{TaxJurisdictionBean.stj5UseRateInputTextChangeListener}"
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ5USERATE'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ5USERATE']}" 
							onkeypress="return onlyNumerics(event);"
							immediate="true" >										
							<a4j:support id="ajaxstj5UseRate" event="onblur" immediate="true"
								reRender="combinedUseRate,combinedSalesRate,combinedUseRateWarning,combinedSalesRateWarning,stj5UseRate,stj5UseSetamt" />												
						</h:inputText>
					</td>

            		<td class="column-spacer">or</td>
            		<td colspan="2"><h:inputText
							id="stj5UseSetamt"
							binding="#{TaxJurisdictionBean.stj5UseSetamtInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.stj5UseSetamt}"
							valueChangeListener="#{TaxJurisdictionBean.stj5UseSetamtInputTextChangeListener}"
							disabled="#{TaxJurisdictionBean.currentActionMap['STJ5USESETAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['STJ5USESETAMT']}" 
							immediate="true"
							onkeypress="return onlyNumerics(event);">
							<a4j:support id="ajaxstj5UseSetamt" event="onblur" immediate="true" reRender="stj5UseRate,stj5UseSetamt" />	
						</h:inputText>
					</td>
            		<td class="column-spacer" style="width:10%;">&#160;</td>
				</tr>
			</table>
         		</td>
         	</tr>
     	</table>
			
</ui:component>