<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
<ui:define name="script">
<script type="text/javascript">
//<![CDATA[
         
//]]>
</script>
</ui:define>
 
<table cellpadding="0" cellspacing="0"  width="100%" >						
	<tr>
		<td style="width:450px;height:305px" valign="top" >
			<!-- County Sales Rates-->
			<table cellpadding="0" cellspacing="0"  width="100%" style="border: 1px solid Silver;">						
				<tr>
					<td class="column-spacer">&#160;</td>
					<td colspan="7" style="height:22px">County Sales Rates:</td>
				</tr>
	
				<!-- County Sales Rates Tier 1 -->
				<tr>
					<td class="column-spacer">&#160;</td>
					<td>Tier 1:</td>
    				<td>From Amount:</td>
    				<td>
    					<h:inputText id="countyTier1FromAmountSales" value="0" disabled="true"></h:inputText>
    				</td>
    				<td class="column-spacer">&#160;</td>
    				<td class="column-spacer">&#160;</td>
    				<td class="column-spacer">&#160;</td>
    				<td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
        			<td class="column-label3">Rate or Set Amount:</td>
        			<td><h:inputText
						id="countyTier1RateSales"
						binding="#{TaxJurisdictionBean.countySalesTier1RateInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.countySalesTier1Rate}"
						valueChangeListener="#{TaxJurisdictionBean.countySalesTier1RateInputTextChangeListener}"								
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER1RATE'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYSALESTIER1RATE']}" 
						onkeypress="return onlyNumerics(event);"
						immediate="true" >										
						<a4j:support id="ajaxcountySalesTier1Rate" event="onblur" immediate="true"
							reRender="combinedUseRate,combinedSalesRate,combinedUseRateWarning,combinedSalesRateWarning,countyTier1RateUse,countyTier1SetAmountSales" />												
						</h:inputText>
					</td>
       				<td class="column-spacer">or</td>
       				<td colspan="2"><h:inputText
						id="countyTier1SetAmountSales"
						value="#{TaxJurisdictionBean.editTaxRate.countySalesTier1Setamt}"
						binding="#{TaxJurisdictionBean.countySalesTier1SetamtInputText}"
						valueChangeListener="#{TaxJurisdictionBean.countySalesTier1SetamtInputTextChangeListener}"		
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER1SETAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYSALESTIER1SETAMT']}" 
						immediate="true"
						onkeypress="return onlyIntegerValue(event);">
							<a4j:support id="ajaxcountyTier1SetAmountSales" event="onblur" immediate="true" reRender="countyTier1ThroughAmountSales,countyTier1SetAmountUse,countyTier1RateSales" />	
						</h:inputText>
					</td>
       				<td class="column-spacer" style="width:10%;">&#160;</td>
				</tr>

				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
        			<td>Through Amount:</td>
        			<td>
				        <h:inputText id="countyTier1ThroughAmountSales"
							binding="#{TaxJurisdictionBean.countySalesTier1MaxAmtInputText}"
							valueChangeListener="#{TaxJurisdictionBean.countySalesTier1MaxAmtChangeListener}"
							immediate="true"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER1MAXAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYSALESTIER1MAXAMT']}" 
							onkeypress="return onlyIntegerValue(event);" onchange="return setValue();"
							label="Tier 1 Maximum Amount" >
								<a4j:support id="ajaxcountyTier1ThroughAmountSales" event="onblur" 
									reRender="countyTier1SetAmountSales,countyUsePanel"  />
						</h:inputText>
					</td>
		       		<td>&#160;</td>
		       		<td style="width:10px;">
		        		<h:selectBooleanCheckbox id="countyTier1SetToMaxSales" styleClass="check"
							value="#{TaxJurisdictionBean.countySalesTier1SetToMaximumCheck}"
							binding="#{TaxJurisdictionBean.countySalesTier1SetToMaximumCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER1SETTOMAXIMUMCHECK'].disabled}">
								<a4j:support id="ajaxcountyTier1SetToMaxSales" event="onclick"  
									reRender="countyUsePanel" actionListener="#{TaxJurisdictionBean.countySalesTier1SetToMaximumFlagChangeListener}" />
						</h:selectBooleanCheckbox>
					</td>
	        		<td>Set to Maximum</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<!-- End of County Sales Rates Tier 1 -->	

				<!-- County Sales Rates Tier 2 -->
	       		<tr>
	       			<td class="column-spacer">&#160;</td>
					<td>Tier 2:</td>
	       			<td>From Amount:</td>
		       		<td>
					    <h:inputText
							id="countyTier2FromAmountSales"
							binding="#{TaxJurisdictionBean.countySalesTier2MinAmtInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.countySalesTier2MinAmt}"
							valueChangeListener="#{TaxJurisdictionBean.countySalesTier2MinAmtInputTextChangeListener}"
							immediate="true"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER2MINAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYSALESTIER2MINAMT']}" 
							onkeypress="return onlyIntegerValue(event);" label="">
								<a4j:support id="ajaxcountyTier2FromAmountSales" event="onblur" immediate="true" 
									reRender="countyTier2FromAmountUse" />
						</h:inputText>
					</td>	
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
				    <td>Rate or Set Amount:</td>
				       <td><h:inputText
							id="countyTier2RateSales"
							binding="#{TaxJurisdictionBean.countySalesTier2RateInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.countySalesTier2Rate}"
							valueChangeListener="#{TaxJurisdictionBean.countySalesTier2RateInputTextChangeListener}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER2RATE'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYSALESTIER2RATE']}" 
							immediate="true"
							onkeypress="return onlyNumerics(event);">
								<a4j:support id="ajaxcountyTier2RateSales" event="onblur" immediate="true"
								reRender="countyTier2SetAmountSales,countyTier2RateUse"  />
						</h:inputText>
					</td>
		       		<td class="column-spacer">or</td>
		       		<td colspan="2"><h:inputText
						id="countyTier2SetAmountSales"
						binding="#{TaxJurisdictionBean.countySalesTier2SetamtInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.countySalesTier2Setamt}"
						valueChangeListener="#{TaxJurisdictionBean.countySalesTier2SetamtInputTextChangeListener}"
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER2SETAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYSALESTIER2SETAMT']}" 
						immediate="true"
						onkeypress="return onlyIntegerValue(event);">
							<a4j:support id="ajaxcountyTier2SetAmountSales" event="onblur" immediate="true"
								reRender="countyTier2RateSales,countyTier2SetAmountUse" />
					</h:inputText>
					</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
	
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
				    <td>Through Amount:</td>		
					<td>
						<h:inputText
							id="countyTier2ThroughAmountSales"
							binding="#{TaxJurisdictionBean.countySalesTier2MaxAmtInputText}"
							valueChangeListener="#{TaxJurisdictionBean.countySalesTier2MaxAmtChangeListener}"
							immediate="true"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER2MAXAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYSALESTIER2MAXAMT']}" 
							onkeypress="return onlyIntegerValue(event);"
							onchange="return setValue();"
							label="Tier 2 Maximum Amount">
							<a4j:support id="ajaxcountyTier2ThroughAmountSales" event="onblur" immediate="true" 
								reRender="countyTier2ThroughAmountUse" />
						</h:inputText>
					</td>
				    <td>&#160;</td>
				    <td style="width:10px;">
						<h:selectBooleanCheckbox id="countyTier2SetToMaxSales" styleClass="check" immediate="true"
							value="#{TaxJurisdictionBean.countySalesTier2SetToMaximumCheck}"
							binding="#{TaxJurisdictionBean.countySalesTier2SetToMaximumCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER2SETTOMAXIMUMCHECK'].disabled}">
							<a4j:support id="ajaxcountyTier2SetToMaxSales" event="onclick"  
								reRender="countyUsePanel" actionListener="#{TaxJurisdictionBean.countySalesTier2SetToMaximumFlagChangeListener}" />
						</h:selectBooleanCheckbox>
					</td>
				    <td>Set to Maximum</td>
				    <td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
				    <td>Tax Entire Amount?:</td>		
					<td>
				        <h:selectBooleanCheckbox
							id="countyTier2TaxEntireAmountSales" styleClass="check"
							value="#{TaxJurisdictionBean.countySalesTier2TaxEntireAmountCheck}"
							binding="#{TaxJurisdictionBean.countySalesTier2TaxEntireAmountCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER2ENTAMFLAG'].disabled}">
							<a4j:support id="ajaxcountyTier2TaxEntireAmountSales" event="onclick"
								reRender="countyTier2TaxEntireAmountUse" actionListener="#{TaxJurisdictionBean.countySalesTier2TaxEntireAmountCheckChangeListener}" />
						</h:selectBooleanCheckbox>
					</td>
				    <td class="column-spacer">&#160;</td>
				    <td class="column-spacer">&#160;</td>
				    <td class="column-spacer">&#160;</td>
				    <td class="column-spacer">&#160;</td>
				</tr>
				<!-- End of County Sales Rates Tier 2 -->
				
				<!-- County Sales Rates Tier 3 -->			      
				<tr>
					<td class="column-spacer">&#160;</td>
					<td>Tier 3:</td>
				    <td>Rate or Set Amount:</td>
				        <td><h:inputText
							id="countyTier3RateSales"
							binding="#{TaxJurisdictionBean.countySalesTier3RateInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.countySalesTier3Rate}"
							valueChangeListener="#{TaxJurisdictionBean.countySalesTier3RateInputTextChangeListener}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER3RATE'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYSALESTIER3RATE']}"
							immediate="true"									 
							onkeypress="return onlyNumerics(event);">
							<a4j:support id="ajaxcountyTier3RateSales" event="onblur" immediate="true"
								reRender="countyTier3SetAmountSales,countyTier3RateUse" />
						</h:inputText>
					</td>
				    <td class="column-spacer">or</td>
				    <td colspan="2"><h:inputText
						id="countyTier3SetAmountSales"
						binding="#{TaxJurisdictionBean.countySalesTier3SetamtInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.countySalesTier3Setamt}"
						valueChangeListener="#{TaxJurisdictionBean.countySalesTier3SetamtInputTextChangeListener}"
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER3SETAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYSALESTIER3SETAMT']}" 
						immediate="true"									
						onkeypress="return onlyIntegerValue(event);">
							<a4j:support id="ajaxcountyTier3SetAmountSales" event="onblur" immediate="true"
								reRender="countyTier3RateSales,countyTier3SetAmountUse" />
						</h:inputText>
					</td>
				    <td class="column-spacer">&#160;</td>
				</tr>
				
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
				    <td>Through Amount:</td>		
					<td>
						<h:inputText
							id="countyTier3ThroughAmountSales" value="*MAX" disabled="true" >
						</h:inputText>							
					</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
	        		<td>Tax Entire Amount?:</td>		
					<td>
	        			<h:selectBooleanCheckbox
							id="countyTier3TaxEntireAmountSales" styleClass="check"
							value="#{TaxJurisdictionBean.countySalesTier3TaxEntireAmountCheck}"
							binding="#{TaxJurisdictionBean.countySalesTier3TaxEntireAmountCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYSALESTIER3ENTAMFLAG'].disabled}">
							<a4j:support id="ajaxcountyTier3TaxEntireAmountSales" event="onclick"
								reRender="countyTier3TaxEntireAmountUse" actionListener="#{TaxJurisdictionBean.countySalesTier3TaxEntireAmountCheckChangeListener}" />
						</h:selectBooleanCheckbox>
					</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<!-- End of County Sales Rates Tier 3 -->	
			</table>
   		</td>
   		
   		<td style="width:450px;height:305px" valign="top" >
			<!-- County Use Rates-->
			<table cellpadding="0" cellspacing="0"  width="100%" style="border: 1px solid Silver;">						
				<tr>
					<td class="column-spacer">&#160;</td>
					<td colspan="4">County Use Rates:</td>
				    <td style="width:10px;height:22px">
				     	<h:selectBooleanCheckbox
							id="countySameAsSalesRates" styleClass="check"
							value="#{TaxJurisdictionBean.countySameAsSalesRatesCheck}"
							binding="#{TaxJurisdictionBean.countySameAsSalesRatesCheckBind}">
							<a4j:support id="ajaxcountySameAsSalesRates" event="onclick"
								reRender="combinedUseRate,combinedSalesRate,countyUsePanel" actionListener="#{TaxJurisdictionBean.countySameAsSalesRatesChangeListener}" />
						</h:selectBooleanCheckbox>
					</td>
		       		<td>Same as Sales Rates</td>
		       		<td class="column-spacer">&#160;</td>
		       	</tr>
			       		
			    <!-- County Use Rates Tier 1 -->
	        	<tr>
	        		<td class="column-spacer">&#160;</td>
					<td>Tier 1:</td>
	        		<td>From Amount:</td>
	        		<td>
	        			<h:inputText id="countyTier1FromAmountUse" value="0" disabled="true"></h:inputText>
	        		</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
			        <td class="column-label3">Rate or Set Amount:</td>
			        <td><h:inputText
						id="countyTier1RateUse"
						binding="#{TaxJurisdictionBean.countyUseTier1RateInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.countyUseTier1Rate}"
						valueChangeListener="#{TaxJurisdictionBean.countyUseTier1RateInputTextChangeListener}"
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER1RATE'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYUSETIER1RATE']}" 
						onkeypress="return onlyNumerics(event);"
						immediate="true" >										
							<a4j:support id="ajaxcountyUseTier1Rate" event="onblur" immediate="true"
								reRender="combinedUseRate,combinedSalesRate,combinedUseRateWarning,combinedSalesRateWarning,countyTier1SetAmountUse" />												
						</h:inputText>
					</td>
			       	<td class="column-spacer">or</td>
			       	<td colspan="2"><h:inputText
						id="countyTier1SetAmountUse"
						binding="#{TaxJurisdictionBean.countyUseTier1SetamtInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.countyUseTier1Setamt}"
						valueChangeListener="#{TaxJurisdictionBean.countyUseTier1SetamtInputTextChangeListener}"	
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER1SETAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYUSETIER1SETAMT']}" 
						onkeypress="return onlyIntegerValue(event);"
						immediate="true" >
							<a4j:support id="ajaxcountyTier1SetAmountUse" event="onblur" immediate="true"
								reRender="countyTier1RateUse" />
						</h:inputText>
					</td>
			       	<td class="column-spacer" style="width:10%;">&#160;</td>
				</tr>
			
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
			        <td>Through Amount:</td>
			        <td><h:inputText id="countyTier1ThroughAmountUse"
						binding="#{TaxJurisdictionBean.countyUseTier1MaxAmtInputText}"
						valueChangeListener="#{TaxJurisdictionBean.countyUseTier1MaxAmtChangeListener}"
						immediate="true"
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER1MAXAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYUSETIER1MAXAMT']}" 
						onkeypress="return onlyIntegerValue(event);" onchange="return setValue();"
						label="Tier 1 Maximum Amount" >
							<a4j:support id="ajaxcountyTier1ThroughAmountUse" event="onblur" 
								reRender="countyTier2FromAmountUse"  />
						</h:inputText>
					</td>
			       	<td>&#160;</td>
			       	<td style="width:10px;">
			        	<h:selectBooleanCheckbox id="countyTier1SetToMaxUse" styleClass="check"
							value="#{TaxJurisdictionBean.countyUseTier1SetToMaximumCheck}"
							binding="#{TaxJurisdictionBean.countyUseTier1SetToMaximumCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER1SETTOMAXIMUMCHECK'].disabled or TaxJurisdictionBean.countySameAsSalesRatesCheck}">
							<a4j:support id="ajaxcountyTier1SetToMaxUse" event="onclick"  
								reRender="countyTier1ThroughAmountUse, countyTier2FromAmountUse" actionListener="#{TaxJurisdictionBean.countyUseTier1SetToMaximumFlagChangeListener}"  />
						</h:selectBooleanCheckbox>
					</td>
			       	<td>Set to Maximum</td>
			        <td class="column-spacer">&#160;</td>
				</tr>
				<!-- End of County Use Rates Tier 1 -->	
			
				<!-- County Use Rates Tier 2 -->
		       	<tr>
		       		<td class="column-spacer">&#160;</td>
					<td>Tier 2:</td>
		       		<td>From Amount:</td>
		       		<td><h:inputText
							id="countyTier2FromAmountUse"
							binding="#{TaxJurisdictionBean.countyUseTier2MinAmtInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.countyUseTier2MinAmt}"
							immediate="true"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER2MINAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYUSETIER2MINAMT']}" 
							onkeypress="return onlyIntegerValue(event);" 
							label="">
						</h:inputText>
					</td>     		
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
			        <td>Rate or Set Amount:</td>
			        <td><h:inputText
						id="countyTier2RateUse"
						binding="#{TaxJurisdictionBean.countyUseTier2RateInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.countyUseTier2Rate}"
						valueChangeListener="#{TaxJurisdictionBean.countyUseTier2RateInputTextChangeListener}"
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER2RATE'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYUSETIER2RATE']}" 
						immediate="true"
						onkeypress="return onlyNumerics(event);">
							<a4j:support id="ajaxcountyTier2RateUse" event="onblur" immediate="true"
								reRender="countyTier2SetAmountUse" />
						</h:inputText>
					</td>
			       	<td class="column-spacer">or</td>
			       	<td colspan="2"><h:inputText
						id="countyTier2SetAmountUse"
						binding="#{TaxJurisdictionBean.countyUseTier2SetamtInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.countyUseTier2Setamt}"
						valueChangeListener="#{TaxJurisdictionBean.countyUseTier2SetamtInputTextChangeListener}"
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER2SETAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYUSETIER2SETAMT']}"
						immediate="true" 
						onkeypress="return onlyIntegerValue(event);">
							<a4j:support id="ajaxcountyTier2SetAmountUse" event="onblur" immediate="true"
								reRender="countyTier2RateUse" />
						</h:inputText>
					</td>
			        <td class="column-spacer">&#160;</td>
				</tr>
			
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
			        <td>Through Amount:</td>		
					<td>
						<h:inputText
							id="countyTier2ThroughAmountUse"
							binding="#{TaxJurisdictionBean.countyUseTier2MaxAmtInputText}"
							immediate="true" onblur="return setValue();"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER2MAXAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYUSETIER2MAXAMT']}" 
							onkeypress="return onlyIntegerValue(event);"
							label="Tier 2 Maximum Amount">
						</h:inputText>
					</td>
			       	<td>&#160;</td>
			       	<td style="width:10px;">
			        	<h:selectBooleanCheckbox
							id="countyTier2SetToMaxUse" styleClass="check"
							value="#{TaxJurisdictionBean.countyUseTier2SetToMaximumCheck}"
							binding="#{TaxJurisdictionBean.countyUseTier2SetToMaximumCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER2SETTOMAXIMUMCHECK'].disabled or TaxJurisdictionBean.countySameAsSalesRatesCheck}">
							<a4j:support id="ajaxcountyTier2SetToMaxUse" event="onclick"
								reRender="countyUsePanel" actionListener="#{TaxJurisdictionBean.countyUseTier2SetToMaximumFlagChangeListener}"
								 />
						</h:selectBooleanCheckbox>
					</td>
			        <td>Set to Maximum</td>
			        <td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
				    <td>Tax Entire Amount?:</td>		
					<td>
			        	<h:selectBooleanCheckbox
							id="countyTier2TaxEntireAmountUse" styleClass="check"
							value="#{TaxJurisdictionBean.countyUseTier2TaxEntireAmountCheck}"
							binding="#{TaxJurisdictionBean.countyUseTier2TaxEntireAmountCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER2ENTAMFLAG'].disabled or TaxJurisdictionBean.countySameAsSalesRatesCheck}">
							<a4j:support id="ajaxcountyTier2TaxEntireAmountUse" event="onclick"
								reRender="countyTier2TaxEntireAmountUse" actionListener="#{TaxJurisdictionBean.countyUseTier2TaxEntireAmountCheckChangeListener}" />
						</h:selectBooleanCheckbox>
					</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<!-- End of County Use Rates Tier 2 -->
			
				<!-- County Use Rates Tier 3 -->			      
				<tr>
					<td class="column-spacer">&#160;</td>
					<td>Tier 3:</td>
			        <td>Rate or Set Amount:</td>
			        <td><h:inputText
						id="countyTier3RateUse"
						binding="#{TaxJurisdictionBean.countyUseTier3RateInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.countyUseTier3Rate}"
						valueChangeListener="#{TaxJurisdictionBean.countyUseTier3RateInputTextChangeListener}"
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER3RATE'].disabled  or TaxJurisdictionBean.countySameAsSalesRatesCheck}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['STATEUSETIER3RATE']}" 
						immediate="true"
						onkeypress="return onlyNumerics(event);">
							<a4j:support id="ajaxcountyTier3RateUse" event="onblur" immediate="true"
								reRender="countyTier3SetAmountUse" />
						</h:inputText>
					</td>
			       	<td class="column-spacer">or</td>
			       	<td colspan="2"><h:inputText
						id="countyTier3SetAmountUse"
						binding="#{TaxJurisdictionBean.countyUseTier3SetamtInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.countyUseTier3Setamt}"
						valueChangeListener="#{TaxJurisdictionBean.countyUseTier3SetamtInputTextChangeListener}"
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER3SETAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTYUSETIER3SETAMT']}" 
						immediate="true"
						onkeypress="return onlyIntegerValue(event);">
							<a4j:support id="ajaxcountyTier3SetAmountUse" event="onblur" immediate="true"
								reRender="countyTier3RateUse" />
						</h:inputText>
					</td>
				    <td class="column-spacer">&#160;</td>
				</tr>
		
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
			        <td>Through Amount:</td>		
					<td>
						<h:inputText
							id="countyTier3ThroughAmountUse"
							value="*MAX" disabled="true" >
						</h:inputText>							
					</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
			        <td>Tax Entire Amount?:</td>		
					<td>
			        	<h:selectBooleanCheckbox
							id="countyTier3TaxEntireAmountUse" styleClass="check"
							value="#{TaxJurisdictionBean.countyUseTier3TaxEntireAmountCheck}"
							binding="#{TaxJurisdictionBean.countyUseTier3TaxEntireAmountCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTYUSETIER3ENTAMFLAG'].disabled}">
							<a4j:support id="ajaxcountyTier3TaxEntireAmountUse" event="onclick"
								reRender="countyTier3TaxEntireAmountUse" actionListener="#{TaxJurisdictionBean.countyUseTier3TaxEntireAmountCheckChangeListener}" />
						</h:selectBooleanCheckbox>
					</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<!-- End of County Use Rates Tier 3 -->	
			</table>
      	</td>
    </tr>
</table>

			
</ui:component>