<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
<ui:define name="script">
<script type="text/javascript">
//<![CDATA[
         
//]]>
</script>
</ui:define>
 
<table cellpadding="0" cellspacing="0"  width="100%" >						
	<tr>
		<td style="width:450px;height:305px" valign="top" >
			<!-- City Sales Rates-->
			<table cellpadding="0" cellspacing="0"  width="100%" style="border: 1px solid Silver;">						
				<tr>
					<td class="column-spacer">&#160;</td>
					<td colspan="7" style="height:22px">City Sales Rates:</td>
				</tr>
	
				<!-- City Sales Rates Tier 1 -->
				<tr>
					<td class="column-spacer">&#160;</td>
					<td>Tier 1:</td>
    				<td>From Amount:</td>
    				<td>
    					<h:inputText id="cityTier1FromAmountSales" value="0" disabled="true"></h:inputText>
    				</td>
    				<td class="column-spacer">&#160;</td>
    				<td class="column-spacer">&#160;</td>
    				<td class="column-spacer">&#160;</td>
    				<td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
        			<td class="column-label3">Rate or Set Amount:</td>
        			<td><h:inputText
						id="cityTier1RateSales"
						binding="#{TaxJurisdictionBean.citySalesTier1RateInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.citySalesTier1Rate}"
						valueChangeListener="#{TaxJurisdictionBean.citySalesTier1RateInputTextChangeListener}"								
						disabled="#{TaxJurisdictionBean.currentActionMap['CITYSALESTIER1RATE'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['CITYSALESTIER1RATE']}" 
						onkeypress="return onlyNumerics(event);"
						immediate="true" >										
						<a4j:support id="ajaxcitySalesTier1Rate" event="onblur" immediate="true"
							reRender="combinedUseRate,combinedSalesRate,combinedUseRateWarning,combinedSalesRateWarning,cityTier1RateUse,cityTier1SetAmountSales" />												
						</h:inputText>
					</td>
       				<td class="column-spacer">or</td>
       				<td colspan="2"><h:inputText
						id="cityTier1SetAmountSales"
						value="#{TaxJurisdictionBean.editTaxRate.citySalesTier1Setamt}"
						binding="#{TaxJurisdictionBean.citySalesTier1SetamtInputText}"
						valueChangeListener="#{TaxJurisdictionBean.citySalesTier1SetamtInputTextChangeListener}"		
						disabled="#{TaxJurisdictionBean.currentActionMap['CITYSALESTIER1SETAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['CITYSALESTIER1SETAMT']}" 
						immediate="true"
						onkeypress="return onlyIntegerValue(event);">
							<a4j:support id="ajaxcityTier1SetAmountSales" event="onblur" immediate="true" reRender="cityTier1ThroughAmountSales,cityTier1SetAmountUse,cityTier1RateSales" />	
						</h:inputText>
					</td>
       				<td class="column-spacer" style="width:10%;">&#160;</td>
				</tr>

				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
        			<td>Through Amount:</td>
        			<td>
				        <h:inputText id="cityTier1ThroughAmountSales"
							binding="#{TaxJurisdictionBean.citySalesTier1MaxAmtInputText}"
							valueChangeListener="#{TaxJurisdictionBean.citySalesTier1MaxAmtChangeListener}"
							immediate="true"
							disabled="#{TaxJurisdictionBean.currentActionMap['CITYSALESTIER1MAXAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['CITYSALESTIER1MAXAMT']}" 
							onkeypress="return onlyIntegerValue(event);" onchange="return setValue();"
							label="Tier 1 Maximum Amount" >
								<a4j:support id="ajaxcityTier1ThroughAmountSales" event="onblur" 
									reRender="cityTier1SetAmountSales,cityUsePanel"  />
						</h:inputText>
					</td>
		       		<td>&#160;</td>
		       		<td style="width:10px;">
		        		<h:selectBooleanCheckbox id="cityTier1SetToMaxSales" styleClass="check"
							value="#{TaxJurisdictionBean.citySalesTier1SetToMaximumCheck}"
							binding="#{TaxJurisdictionBean.citySalesTier1SetToMaximumCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['CITYSALESTIER1SETTOMAXIMUMCHECK'].disabled}">
								<a4j:support id="ajaxcityTier1SetToMaxSales" event="onclick"  
									reRender="cityUsePanel" actionListener="#{TaxJurisdictionBean.citySalesTier1SetToMaximumFlagChangeListener}" />
						</h:selectBooleanCheckbox>
					</td>
	        		<td>Set to Maximum</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<!-- End of City Sales Rates Tier 1 -->	

				<!-- City Sales Rates Tier 2 -->
	       		<tr>
	       			<td class="column-spacer">&#160;</td>
					<td>Tier 2:</td>
	       			<td>From Amount:</td>
		       		<td>
					    <h:inputText
							id="cityTier2FromAmountSales"
							binding="#{TaxJurisdictionBean.citySalesTier2MinAmtInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.citySalesTier2MinAmt}"
							valueChangeListener="#{TaxJurisdictionBean.citySalesTier2MinAmtInputTextChangeListener}"
							immediate="true"
							disabled="#{TaxJurisdictionBean.currentActionMap['CITYSALESTIER2MINAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['CITYSALESTIER2MINAMT']}" 
							onkeypress="return onlyIntegerValue(event);" label="">
								<a4j:support id="ajaxcityTier2FromAmountSales" event="onblur" immediate="true" 
									reRender="cityTier2FromAmountUse" />
						</h:inputText>
					</td>	
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
				    <td>Rate or Set Amount:</td>
				       <td><h:inputText
							id="cityTier2RateSales"
							binding="#{TaxJurisdictionBean.citySalesTier2RateInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.citySalesTier2Rate}"
							valueChangeListener="#{TaxJurisdictionBean.citySalesTier2RateInputTextChangeListener}"
							disabled="#{TaxJurisdictionBean.currentActionMap['CITYSALESTIER2RATE'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['CITYSALESTIER2RATE']}" 
							immediate="true"
							onkeypress="return onlyNumerics(event);">
								<a4j:support id="ajaxcityTier2RateSales" event="onblur" immediate="true"
								reRender="cityTier2SetAmountSales,cityTier2RateUse"  />
						</h:inputText>
					</td>
		       		<td class="column-spacer">or</td>
		       		<td colspan="2"><h:inputText
						id="cityTier2SetAmountSales"
						binding="#{TaxJurisdictionBean.citySalesTier2SetamtInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.citySalesTier2Setamt}"
						valueChangeListener="#{TaxJurisdictionBean.citySalesTier2SetamtInputTextChangeListener}"
						disabled="#{TaxJurisdictionBean.currentActionMap['CITYSALESTIER2SETAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['CITYSALESTIER2SETAMT']}" 
						immediate="true"
						onkeypress="return onlyIntegerValue(event);">
							<a4j:support id="ajaxcityTier2SetAmountSales" event="onblur" immediate="true"
								reRender="cityTier2RateSales,cityTier2SetAmountUse" />
					</h:inputText>
					</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
	
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
				    <td>Through Amount:</td>		
					<td>
						<h:inputText
							id="cityTier2ThroughAmountSales"
							binding="#{TaxJurisdictionBean.citySalesTier2MaxAmtInputText}"
							valueChangeListener="#{TaxJurisdictionBean.citySalesTier2MaxAmtChangeListener}"
							immediate="true"
							disabled="#{TaxJurisdictionBean.currentActionMap['CITYSALESTIER2MAXAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['CITYSALESTIER2MAXAMT']}" 
							onkeypress="return onlyIntegerValue(event);"
							onchange="return setValue();"
							label="Tier 2 Maximum Amount">
							<a4j:support id="ajaxcityTier2ThroughAmountSales" event="onblur" immediate="true" 
								reRender="cityTier2ThroughAmountUse" />
						</h:inputText>
					</td>
				    <td>&#160;</td>
				    <td style="width:10px;">
						<h:selectBooleanCheckbox id="cityTier2SetToMaxSales" styleClass="check" immediate="true"
							value="#{TaxJurisdictionBean.citySalesTier2SetToMaximumCheck}"
							binding="#{TaxJurisdictionBean.citySalesTier2SetToMaximumCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['CITYSALESTIER2SETTOMAXIMUMCHECK'].disabled}">
							<a4j:support id="ajaxcityTier2SetToMaxSales" event="onclick"  
								reRender="cityUsePanel" actionListener="#{TaxJurisdictionBean.citySalesTier2SetToMaximumFlagChangeListener}" />
						</h:selectBooleanCheckbox>
					</td>
				    <td>Set to Maximum</td>
				    <td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
				    <td>Tax Entire Amount?:</td>		
					<td>
				        <h:selectBooleanCheckbox
							id="cityTier2TaxEntireAmountSales" styleClass="check"
							value="#{TaxJurisdictionBean.citySalesTier2TaxEntireAmountCheck}"
							binding="#{TaxJurisdictionBean.citySalesTier2TaxEntireAmountCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['CITYSALESTIER2ENTAMFLAG'].disabled}">
							<a4j:support id="ajaxcityTier2TaxEntireAmountSales" event="onclick"
								reRender="cityTier2TaxEntireAmountUse" actionListener="#{TaxJurisdictionBean.citySalesTier2TaxEntireAmountCheckChangeListener}" />
						</h:selectBooleanCheckbox>
					</td>
				    <td class="column-spacer">&#160;</td>
				    <td class="column-spacer">&#160;</td>
				    <td class="column-spacer">&#160;</td>
				    <td class="column-spacer">&#160;</td>
				</tr>
				<!-- End of City Sales Rates Tier 2 -->
				
				<!-- City Sales Rates Tier 3 -->			      
				<tr>
					<td class="column-spacer">&#160;</td>
					<td>Tier 3:</td>
				    <td>Rate or Set Amount:</td>
				        <td><h:inputText
							id="cityTier3RateSales"
							binding="#{TaxJurisdictionBean.citySalesTier3RateInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.citySalesTier3Rate}"
							valueChangeListener="#{TaxJurisdictionBean.citySalesTier3RateInputTextChangeListener}"
							disabled="#{TaxJurisdictionBean.currentActionMap['CITYSALESTIER3RATE'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['CITYSALESTIER3RATE']}"
							immediate="true"									 
							onkeypress="return onlyNumerics(event);">
							<a4j:support id="ajaxcityTier3RateSales" event="onblur" immediate="true"
								reRender="cityTier3SetAmountSales,cityTier3RateUse" />
						</h:inputText>
					</td>
				    <td class="column-spacer">or</td>
				    <td colspan="2"><h:inputText
						id="cityTier3SetAmountSales"
						binding="#{TaxJurisdictionBean.citySalesTier3SetamtInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.citySalesTier3Setamt}"
						valueChangeListener="#{TaxJurisdictionBean.citySalesTier3SetamtInputTextChangeListener}"
						disabled="#{TaxJurisdictionBean.currentActionMap['CITYSALESTIER3SETAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['CITYSALESTIER3SETAMT']}" 
						immediate="true"									
						onkeypress="return onlyIntegerValue(event);">
							<a4j:support id="ajaxcityTier3SetAmountSales" event="onblur" immediate="true"
								reRender="cityTier3RateSales,cityTier3SetAmountUse" />
						</h:inputText>
					</td>
				    <td class="column-spacer">&#160;</td>
				</tr>
				
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
				    <td>Through Amount:</td>		
					<td>
						<h:inputText
							id="cityTier3ThroughAmountSales" value="*MAX" disabled="true" >
						</h:inputText>							
					</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
	        		<td>Tax Entire Amount?:</td>		
					<td>
	        			<h:selectBooleanCheckbox
							id="cityTier3TaxEntireAmountSales" styleClass="check"
							value="#{TaxJurisdictionBean.citySalesTier3TaxEntireAmountCheck}"
							binding="#{TaxJurisdictionBean.citySalesTier3TaxEntireAmountCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['CITYSALESTIER3ENTAMFLAG'].disabled}">
							<a4j:support id="ajaxcityTier3TaxEntireAmountSales" event="onclick"
								reRender="cityTier3TaxEntireAmountUse" actionListener="#{TaxJurisdictionBean.citySalesTier3TaxEntireAmountCheckChangeListener}" />
						</h:selectBooleanCheckbox>
					</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<!-- End of City Sales Rates Tier 3 -->	
			</table>
   		</td>
   		
   		<td style="width:450px;height:305px" valign="top" >
			<!-- City Use Rates-->
			<table cellpadding="0" cellspacing="0"  width="100%" style="border: 1px solid Silver;">						
				<tr>
					<td class="column-spacer">&#160;</td>
					<td colspan="4">City Use Rates:</td>
				    <td style="width:10px;height:22px">
				     	<h:selectBooleanCheckbox
							id="citySameAsSalesRates" styleClass="check"
							value="#{TaxJurisdictionBean.citySameAsSalesRatesCheck}"
							binding="#{TaxJurisdictionBean.citySameAsSalesRatesCheckBind}">
							<a4j:support id="ajaxcitySameAsSalesRates" event="onclick"
								reRender="combinedUseRate,combinedSalesRate,cityUsePanel" actionListener="#{TaxJurisdictionBean.citySameAsSalesRatesChangeListener}" />
						</h:selectBooleanCheckbox>
					</td>
		       		<td>Same as Sales Rates</td>
		       		<td class="column-spacer">&#160;</td>
		       	</tr>
			       		
			    <!-- City Use Rates Tier 1 -->
	        	<tr>
	        		<td class="column-spacer">&#160;</td>
					<td>Tier 1:</td>
	        		<td>From Amount:</td>
	        		<td>
	        			<h:inputText id="cityTier1FromAmountUse" value="0" disabled="true"></h:inputText>
	        		</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
			        <td class="column-label3">Rate or Set Amount:</td>
			        <td><h:inputText
						id="cityTier1RateUse"
						binding="#{TaxJurisdictionBean.cityUseTier1RateInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.cityUseTier1Rate}"
						valueChangeListener="#{TaxJurisdictionBean.cityUseTier1RateInputTextChangeListener}"
						disabled="#{TaxJurisdictionBean.currentActionMap['CITYUSETIER1RATE'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['CITYUSETIER1RATE']}" 
						onkeypress="return onlyNumerics(event);"
						immediate="true" >										
							<a4j:support id="ajaxcityUseTier1Rate" event="onblur" immediate="true"
								reRender="combinedUseRate,combinedSalesRate,combinedUseRateWarning,combinedSalesRateWarning,cityTier1SetAmountUse" />												
						</h:inputText>
					</td>
			       	<td class="column-spacer">or</td>
			       	<td colspan="2"><h:inputText
						id="cityTier1SetAmountUse"
						binding="#{TaxJurisdictionBean.cityUseTier1SetamtInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.cityUseTier1Setamt}"
						valueChangeListener="#{TaxJurisdictionBean.cityUseTier1SetamtInputTextChangeListener}"	
						disabled="#{TaxJurisdictionBean.currentActionMap['CITYUSETIER1SETAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['CITYUSETIER1SETAMT']}" 
						onkeypress="return onlyIntegerValue(event);"
						immediate="true" >
							<a4j:support id="ajaxcityTier1SetAmountUse" event="onblur" immediate="true"
								reRender="cityTier1RateUse" />
						</h:inputText>
					</td>
			       	<td class="column-spacer" style="width:10%;">&#160;</td>
				</tr>
			
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
			        <td>Through Amount:</td>
			        <td><h:inputText id="cityTier1ThroughAmountUse"
						binding="#{TaxJurisdictionBean.cityUseTier1MaxAmtInputText}"
						valueChangeListener="#{TaxJurisdictionBean.cityUseTier1MaxAmtChangeListener}"
						immediate="true"
						disabled="#{TaxJurisdictionBean.currentActionMap['CITYUSETIER1MAXAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['CITYUSETIER1MAXAMT']}" 
						onkeypress="return onlyIntegerValue(event);" onchange="return setValue();"
						label="Tier 1 Maximum Amount" >
							<a4j:support id="ajaxcityTier1ThroughAmountUse" event="onblur" 
								reRender="cityTier2FromAmountUse"  />
						</h:inputText>
					</td>
			       	<td>&#160;</td>
			       	<td style="width:10px;">
			        	<h:selectBooleanCheckbox id="cityTier1SetToMaxUse" styleClass="check"
							value="#{TaxJurisdictionBean.cityUseTier1SetToMaximumCheck}"
							binding="#{TaxJurisdictionBean.cityUseTier1SetToMaximumCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['CITYUSETIER1SETTOMAXIMUMCHECK'].disabled or TaxJurisdictionBean.citySameAsSalesRatesCheck}">
							<a4j:support id="ajaxcityTier1SetToMaxUse" event="onclick"  
								reRender="cityTier1ThroughAmountUse, cityTier2FromAmountUse" actionListener="#{TaxJurisdictionBean.cityUseTier1SetToMaximumFlagChangeListener}"  />
						</h:selectBooleanCheckbox>
					</td>
			       	<td>Set to Maximum</td>
			        <td class="column-spacer">&#160;</td>
				</tr>
				<!-- End of City Use Rates Tier 1 -->	
			
				<!-- City Use Rates Tier 2 -->
		       	<tr>
		       		<td class="column-spacer">&#160;</td>
					<td>Tier 2:</td>
		       		<td>From Amount:</td>
		       		<td><h:inputText
							id="cityTier2FromAmountUse"
							binding="#{TaxJurisdictionBean.cityUseTier2MinAmtInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.cityUseTier2MinAmt}"
							immediate="true"
							disabled="#{TaxJurisdictionBean.currentActionMap['CITYUSETIER2MINAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['CITYUSETIER2MINAMT']}" 
							onkeypress="return onlyIntegerValue(event);" 
							label="">
						</h:inputText>
					</td>     		
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
			        <td>Rate or Set Amount:</td>
			        <td><h:inputText
						id="cityTier2RateUse"
						binding="#{TaxJurisdictionBean.cityUseTier2RateInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.cityUseTier2Rate}"
						valueChangeListener="#{TaxJurisdictionBean.cityUseTier2RateInputTextChangeListener}"
						disabled="#{TaxJurisdictionBean.currentActionMap['CITYUSETIER2RATE'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['CITYUSETIER2RATE']}" 
						immediate="true"
						onkeypress="return onlyNumerics(event);">
							<a4j:support id="ajaxcityTier2RateUse" event="onblur" immediate="true"
								reRender="cityTier2SetAmountUse" />
						</h:inputText>
					</td>
			       	<td class="column-spacer">or</td>
			       	<td colspan="2"><h:inputText
						id="cityTier2SetAmountUse"
						binding="#{TaxJurisdictionBean.cityUseTier2SetamtInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.cityUseTier2Setamt}"
						valueChangeListener="#{TaxJurisdictionBean.cityUseTier2SetamtInputTextChangeListener}"
						disabled="#{TaxJurisdictionBean.currentActionMap['CITYUSETIER2SETAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['CITYUSETIER2SETAMT']}"
						immediate="true" 
						onkeypress="return onlyIntegerValue(event);">
							<a4j:support id="ajaxcityTier2SetAmountUse" event="onblur" immediate="true"
								reRender="cityTier2RateUse" />
						</h:inputText>
					</td>
			        <td class="column-spacer">&#160;</td>
				</tr>
			
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
			        <td>Through Amount:</td>		
					<td>
						<h:inputText
							id="cityTier2ThroughAmountUse"
							binding="#{TaxJurisdictionBean.cityUseTier2MaxAmtInputText}"
							immediate="true" onblur="return setValue();"
							disabled="#{TaxJurisdictionBean.currentActionMap['CITYUSETIER2MAXAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['CITYUSETIER2MAXAMT']}" 
							onkeypress="return onlyIntegerValue(event);"
							label="Tier 2 Maximum Amount">
						</h:inputText>
					</td>
			       	<td>&#160;</td>
			       	<td style="width:10px;">
			        	<h:selectBooleanCheckbox
							id="cityTier2SetToMaxUse" styleClass="check"
							value="#{TaxJurisdictionBean.cityUseTier2SetToMaximumCheck}"
							binding="#{TaxJurisdictionBean.cityUseTier2SetToMaximumCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['CITYUSETIER2SETTOMAXIMUMCHECK'].disabled or TaxJurisdictionBean.citySameAsSalesRatesCheck}">
							<a4j:support id="ajaxcityTier2SetToMaxUse" event="onclick"
								reRender="cityUsePanel" actionListener="#{TaxJurisdictionBean.cityUseTier2SetToMaximumFlagChangeListener}"
								 />
						</h:selectBooleanCheckbox>
					</td>
			        <td>Set to Maximum</td>
			        <td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
				    <td>Tax Entire Amount?:</td>		
					<td>
			        	<h:selectBooleanCheckbox
							id="cityTier2TaxEntireAmountUse" styleClass="check"
							value="#{TaxJurisdictionBean.cityUseTier2TaxEntireAmountCheck}"
							binding="#{TaxJurisdictionBean.cityUseTier2TaxEntireAmountCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['CITYUSETIER2ENTAMFLAG'].disabled or TaxJurisdictionBean.citySameAsSalesRatesCheck}">
							<a4j:support id="ajaxcityTier2TaxEntireAmountUse" event="onclick"
								reRender="cityTier2TaxEntireAmountUse" actionListener="#{TaxJurisdictionBean.cityUseTier2TaxEntireAmountCheckChangeListener}" />
						</h:selectBooleanCheckbox>
					</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<!-- End of City Use Rates Tier 2 -->
			
				<!-- City Use Rates Tier 3 -->			      
				<tr>
					<td class="column-spacer">&#160;</td>
					<td>Tier 3:</td>
			        <td>Rate or Set Amount:</td>
			        <td><h:inputText
						id="cityTier3RateUse"
						binding="#{TaxJurisdictionBean.cityUseTier3RateInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.cityUseTier3Rate}"
						valueChangeListener="#{TaxJurisdictionBean.cityUseTier3RateInputTextChangeListener}"
						disabled="#{TaxJurisdictionBean.currentActionMap['CITYUSETIER3RATE'].disabled  or TaxJurisdictionBean.citySameAsSalesRatesCheck}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['STATEUSETIER3RATE']}" 
						immediate="true"
						onkeypress="return onlyNumerics(event);">
							<a4j:support id="ajaxcityTier3RateUse" event="onblur" immediate="true"
								reRender="cityTier3SetAmountUse" />
						</h:inputText>
					</td>
			       	<td class="column-spacer">or</td>
			       	<td colspan="2"><h:inputText
						id="cityTier3SetAmountUse"
						binding="#{TaxJurisdictionBean.cityUseTier3SetamtInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.cityUseTier3Setamt}"
						valueChangeListener="#{TaxJurisdictionBean.cityUseTier3SetamtInputTextChangeListener}"
						disabled="#{TaxJurisdictionBean.currentActionMap['CITYUSETIER3SETAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['CITYUSETIER3SETAMT']}" 
						immediate="true"
						onkeypress="return onlyIntegerValue(event);">
							<a4j:support id="ajaxcityTier3SetAmountUse" event="onblur" immediate="true"
								reRender="cityTier3RateUse" />
						</h:inputText>
					</td>
				    <td class="column-spacer">&#160;</td>
				</tr>
		
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
			        <td>Through Amount:</td>		
					<td>
						<h:inputText
							id="cityTier3ThroughAmountUse"
							value="*MAX" disabled="true" >
						</h:inputText>							
					</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
			        <td>Tax Entire Amount?:</td>		
					<td>
			        	<h:selectBooleanCheckbox
							id="cityTier3TaxEntireAmountUse" styleClass="check"
							value="#{TaxJurisdictionBean.cityUseTier3TaxEntireAmountCheck}"
							binding="#{TaxJurisdictionBean.cityUseTier3TaxEntireAmountCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['CITYUSETIER3ENTAMFLAG'].disabled}">
							<a4j:support id="ajaxcityTier3TaxEntireAmountUse" event="onclick"
								reRender="cityTier3TaxEntireAmountUse" actionListener="#{TaxJurisdictionBean.cityUseTier3TaxEntireAmountCheckChangeListener}" />
						</h:selectBooleanCheckbox>
					</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<!-- End of City Use Rates Tier 3 -->	
			</table>
      	</td>
    </tr>
</table>

			
</ui:component>