<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
<ui:define name="script">
<script type="text/javascript">
//<![CDATA[
         
//]]>
</script>
</ui:define>
 
<table cellpadding="0" cellspacing="0"  width="100%" >						
	<tr>
		<td style="width:450px;height:305px" valign="top" >
			<!-- Country Sales Rates-->
			<table cellpadding="0" cellspacing="0"  width="100%" style="border: 1px solid Silver;">						
				<tr>
					<td class="column-spacer">&#160;</td>
					<td colspan="7" style="height:22px">Country Sales Rates:</td>
				</tr>
	
				<!-- Country Sales Rates Tier 1 -->
				<tr>
					<td class="column-spacer">&#160;</td>
					<td>Tier 1:</td>
    				<td>From Amount:</td>
    				<td>
    					<h:inputText id="countryTier1FromAmountSales" value="0" disabled="true"></h:inputText>
    				</td>
    				<td class="column-spacer">&#160;</td>
    				<td class="column-spacer">&#160;</td>
    				<td class="column-spacer">&#160;</td>
    				<td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
        			<td class="column-label3">Rate or Set Amount:</td>
        			<td><h:inputText
						id="countryTier1RateSales"
						binding="#{TaxJurisdictionBean.countrySalesTier1RateInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.countrySalesTier1Rate}"
						valueChangeListener="#{TaxJurisdictionBean.countrySalesTier1RateInputTextChangeListener}"								
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYSALESTIER1RATE'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTRYSALESTIER1RATE']}" 
						onkeypress="return onlyNumerics(event);"
						immediate="true" >										
						<a4j:support id="ajaxcountrySalesTier1Rate" event="onblur"
							reRender="combinedSalesRate,combinedUseRateWarning,combinedSalesRateWarning" immediate="true"/>												
						</h:inputText>
					</td>
       				<td class="column-spacer">or</td>
       				<td colspan="2"><h:inputText
						id="countryTier1SetAmountSales"
						value="#{TaxJurisdictionBean.editTaxRate.countrySalesTier1Setamt}"
						binding="#{TaxJurisdictionBean.countrySalesTier1SetamtInputText}"	
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYSALESTIER1SETAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTRYSALESTIER1SETAMT']}" 
						immediate="true"
						onkeypress="return onlyIntegerValue(event);">	
						</h:inputText>
					</td>
       				<td class="column-spacer" style="width:10%;">&#160;</td>
				</tr>

				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
        			<td>Through Amount:</td>
        			<td>
				        <h:inputText id="countryTier1ThroughAmountSales"
							binding="#{TaxJurisdictionBean.countrySalesTier1MaxAmtInputText}"
							valueChangeListener="#{TaxJurisdictionBean.countrySalesTier1MaxAmtChangeListener}"
							immediate="true"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYSALESTIER1MAXAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTRYSALESTIER1MAXAMT']}" 
							onkeypress="return onlyIntegerValue(event);" onchange="return setValue();"
							label="Tier 1 Maximum Amount" >
								<a4j:support id="ajaxcountryTier1ThroughAmountSales" event="onblur" 
									reRender="countryTier2FromAmountSales"  />
						</h:inputText>
					</td>
		       		<td>&#160;</td>
		       		<td style="width:10px;">
		        		<h:selectBooleanCheckbox id="countryTier1SetToMaxSales" styleClass="check" immediate="true"
							value="#{TaxJurisdictionBean.countrySalesTier1SetToMaximumCheck}"
							binding="#{TaxJurisdictionBean.countrySalesTier1SetToMaximumCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYSALESTIER1SETTOMAXIMUMCHECK'].disabled}">
								<a4j:support id="ajaxcountryTier1SetToMaxSales" event="onclick"  
									reRender="countryTier1ThroughAmountSales,countryTier2FromAmountSales" actionListener="#{TaxJurisdictionBean.countrySalesTier1SetToMaximumFlagChangeListener}" />
						</h:selectBooleanCheckbox>
					</td>
	        		<td>Set to Maximum</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<!-- End of Country Sales Rates Tier 1 -->	

				<!-- Country Sales Rates Tier 2 -->
	       		<tr>
	       			<td class="column-spacer">&#160;</td>
					<td>Tier 2:</td>
	       			<td>From Amount:</td>
		       		<td>
					    <h:inputText
							id="countryTier2FromAmountSales"
							binding="#{TaxJurisdictionBean.countrySalesTier2MinAmtInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.countrySalesTier2MinAmt}"
							immediate="true"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYSALESTIER2MINAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTRYSALESTIER2MINAMT']}" 
							onkeypress="return onlyIntegerValue(event);" label="">
						</h:inputText>
					</td>	
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
				    <td>Rate or Set Amount:</td>
				       <td><h:inputText
							id="countryTier2RateSales"
							binding="#{TaxJurisdictionBean.countrySalesTier2RateInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.countrySalesTier2Rate}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYSALESTIER2RATE'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTRYSALESTIER2RATE']}" 
							immediate="true"
							onkeypress="return onlyNumerics(event);">
						</h:inputText>
					</td>
		       		<td class="column-spacer">or</td>
		       		<td colspan="2"><h:inputText
						id="countryTier2SetAmountSales"
						binding="#{TaxJurisdictionBean.countrySalesTier2SetamtInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.countrySalesTier2Setamt}"
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYSALESTIER2SETAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTRYSALESTIER2SETAMT']}" 
						immediate="true"
						onkeypress="return onlyIntegerValue(event);">
					</h:inputText>
					</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
	
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
				    <td>Through Amount:</td>		
					<td>
						<h:inputText
							id="countryTier2ThroughAmountSales"
							binding="#{TaxJurisdictionBean.countrySalesTier2MaxAmtInputText}"
							immediate="true"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYSALESTIER2MAXAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTRYSALESTIER2MAXAMT']}" 
							onkeypress="return onlyIntegerValue(event);"
							onchange="return setValue();"
							label="Tier 2 Maximum Amount">
						</h:inputText>
					</td>
				    <td>&#160;</td>
				    <td style="width:10px;">
						<h:selectBooleanCheckbox id="countryTier2SetToMaxSales" styleClass="check" immediate="true"
							value="#{TaxJurisdictionBean.countrySalesTier2SetToMaximumCheck}"
							binding="#{TaxJurisdictionBean.countrySalesTier2SetToMaximumCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYSALESTIER2SETTOMAXIMUMCHECK'].disabled}">
							<a4j:support id="ajaxcountryTier2SetToMaxSales" event="onclick"  
								reRender="countryTier3RateSales,countryTier3SetAmountSales,countryTier3TaxEntireAmountSales" actionListener="#{TaxJurisdictionBean.countrySalesTier2SetToMaximumFlagChangeListener}" />
						</h:selectBooleanCheckbox>
					</td>
				    <td>Set to Maximum</td>
				    <td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
				    <td>Tax Entire Amount?:</td>		
					<td>
				        <h:selectBooleanCheckbox
							id="countryTier2TaxEntireAmountSales" styleClass="check"
							value="#{TaxJurisdictionBean.countrySalesTier2TaxEntireAmountCheck}"
							binding="#{TaxJurisdictionBean.countrySalesTier2TaxEntireAmountCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYSALESTIER2ENTAMFLAG'].disabled}">
						</h:selectBooleanCheckbox>
					</td>
				    <td class="column-spacer">&#160;</td>
				    <td class="column-spacer">&#160;</td>
				    <td class="column-spacer">&#160;</td>
				    <td class="column-spacer">&#160;</td>
				</tr>
				<!-- End of Country Sales Rates Tier 2 -->
				
				<!-- Country Sales Rates Tier 3 -->			      
				<tr>
					<td class="column-spacer">&#160;</td>
					<td>Tier 3:</td>
				    <td>Rate or Set Amount:</td>
				        <td><h:inputText
							id="countryTier3RateSales"
							binding="#{TaxJurisdictionBean.countrySalesTier3RateInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.countrySalesTier3Rate}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYSALESTIER3RATE'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTRYSALESTIER3RATE']}"
							immediate="true"									 
							onkeypress="return onlyNumerics(event);">
						</h:inputText>
					</td>
				    <td class="column-spacer">or</td>
				    <td colspan="2"><h:inputText
						id="countryTier3SetAmountSales"
						binding="#{TaxJurisdictionBean.countrySalesTier3SetamtInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.countrySalesTier3Setamt}"
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYSALESTIER3SETAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTRYSALESTIER3SETAMT']}" 
						immediate="true"									
						onkeypress="return onlyIntegerValue(event);">
						</h:inputText>
					</td>
				    <td class="column-spacer">&#160;</td>
				</tr>
				
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
				    <td>Through Amount:</td>		
					<td>
						<h:inputText
							id="countryTier3ThroughAmountSales" value="*MAX" disabled="true" >
						</h:inputText>							
					</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
	        		<td>Tax Entire Amount?:</td>		
					<td>
	        			<h:selectBooleanCheckbox
							id="countryTier3TaxEntireAmountSales" styleClass="check"
							value="#{TaxJurisdictionBean.countrySalesTier3TaxEntireAmountCheck}"
							binding="#{TaxJurisdictionBean.countrySalesTier3TaxEntireAmountCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYSALESTIER3ENTAMFLAG'].disabled}">
						</h:selectBooleanCheckbox>
					</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<!-- End of Country Sales Rates Tier 3 -->	
			</table>
   		</td>
   		
   		<td style="width:450px;height:305px" valign="top" >
			<!-- Country Use Rates-->
			<table cellpadding="0" cellspacing="0"  width="100%" style="border: 1px solid Silver;">						
				<tr>
					<td class="column-spacer">&#160;</td>
					<td colspan="4">Country Use Rates:</td>
				    <td style="width:10px;height:22px">
				     	<h:selectBooleanCheckbox
							id="countrySameAsSalesRates" styleClass="check"
							value="#{TaxJurisdictionBean.countrySameAsSalesRatesCheck}"
							binding="#{TaxJurisdictionBean.countrySameAsSalesRatesCheckBind}">
							<a4j:support id="ajaxcountrySameAsSalesRates" event="onclick"
								reRender="combinedUseRate,combinedSalesRate,countryUsePanel" actionListener="#{TaxJurisdictionBean.countrySameAsSalesRatesChangeListener}" />
						</h:selectBooleanCheckbox>
					</td>
		       		<td>Same as Sales Rates</td>
		       		<td class="column-spacer">&#160;</td>
		       	</tr>
			       		
			    <!-- Country Use Rates Tier 1 -->
	        	<tr>
	        		<td class="column-spacer">&#160;</td>
					<td>Tier 1:</td>
	        		<td>From Amount:</td>
	        		<td>
	        			<h:inputText id="countryTier1FromAmountUse" value="0" disabled="true"></h:inputText>
	        		</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
			        <td class="column-label3">Rate or Set Amount:</td>
			        <td><h:inputText
						id="countryTier1RateUse"
						binding="#{TaxJurisdictionBean.countryUseTier1RateInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.countryUseTier1Rate}"
						valueChangeListener="#{TaxJurisdictionBean.countryUseTier1RateInputTextChangeListener}"
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYUSETIER1RATE'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTRYUSETIER1RATE']}" 
						onkeypress="return onlyNumerics(event);"
						immediate="true" >										
							<a4j:support id="ajaxcountryUseTier1Rate" event="onblur" immediate="true"
								reRender="combinedUseRate,combinedSalesRate,combinedUseRateWarning,combinedSalesRateWarning,countryTier1SetAmountUse" />												
						</h:inputText>
					</td>
			       	<td class="column-spacer">or</td>
			       	<td colspan="2"><h:inputText
						id="countryTier1SetAmountUse"
						binding="#{TaxJurisdictionBean.countryUseTier1SetamtInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.countryUseTier1Setamt}"
						valueChangeListener="#{TaxJurisdictionBean.countryUseTier1SetamtInputTextChangeListener}"	
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYUSETIER1SETAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTRYUSETIER1SETAMT']}" 
						onkeypress="return onlyIntegerValue(event);"
						immediate="true" >
							<a4j:support id="ajaxcountryTier1SetAmountUse" event="onblur" immediate="true"
								reRender="countryTier1RateUse" />
						</h:inputText>
					</td>
			       	<td class="column-spacer" style="width:10%;">&#160;</td>
				</tr>
			
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
			        <td>Through Amount:</td>
			        <td><h:inputText id="countryTier1ThroughAmountUse"
						binding="#{TaxJurisdictionBean.countryUseTier1MaxAmtInputText}"
						valueChangeListener="#{TaxJurisdictionBean.countryUseTier1MaxAmtChangeListener}"
						immediate="true"
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYUSETIER1MAXAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTRYUSETIER1MAXAMT']}" 
						onkeypress="return onlyIntegerValue(event);" onchange="return setValue();"
						label="Tier 1 Maximum Amount" >
							<a4j:support id="ajaxcountryTier1ThroughAmountUse" event="onblur" 
								reRender="countryTier2FromAmountUse"  />
						</h:inputText>
					</td>
			       	<td>&#160;</td>
			       	<td style="width:10px;">
			        	<h:selectBooleanCheckbox id="countryTier1SetToMaxUse" styleClass="check"
							value="#{TaxJurisdictionBean.countryUseTier1SetToMaximumCheck}"
							binding="#{TaxJurisdictionBean.countryUseTier1SetToMaximumCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYUSETIER1SETTOMAXIMUMCHECK'].disabled or TaxJurisdictionBean.countrySameAsSalesRatesCheck}">
							<a4j:support id="ajaxcountryTier1SetToMaxUse" event="onclick"  
								reRender="countryTier1ThroughAmountUse, countryTier2FromAmountUse" actionListener="#{TaxJurisdictionBean.countryUseTier1SetToMaximumFlagChangeListener}"  />
						</h:selectBooleanCheckbox>
					</td>
			       	<td>Set to Maximum</td>
			        <td class="column-spacer">&#160;</td>
				</tr>
				<!-- End of Country Use Rates Tier 1 -->	
			
				<!-- Country Use Rates Tier 2 -->
		       	<tr>
		       		<td class="column-spacer">&#160;</td>
					<td>Tier 2:</td>
		       		<td>From Amount:</td>
		       		<td><h:inputText
							id="countryTier2FromAmountUse"
							binding="#{TaxJurisdictionBean.countryUseTier2MinAmtInputText}"
							value="#{TaxJurisdictionBean.editTaxRate.countryUseTier2MinAmt}"
							immediate="true"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYUSETIER2MINAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTRYUSETIER2MINAMT']}" 
							onkeypress="return onlyIntegerValue(event);" 
							label="">
						</h:inputText>
					</td>     		
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
			        <td>Rate or Set Amount:</td>
			        <td><h:inputText
						id="countryTier2RateUse"
						binding="#{TaxJurisdictionBean.countryUseTier2RateInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.countryUseTier2Rate}"
						valueChangeListener="#{TaxJurisdictionBean.countryUseTier2RateInputTextChangeListener}"
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYUSETIER2RATE'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTRYUSETIER2RATE']}" 
						immediate="true"
						onkeypress="return onlyNumerics(event);">
							<a4j:support id="ajaxcountryTier2RateUse" event="onblur" immediate="true"
								reRender="countryTier2SetAmountUse" />
						</h:inputText>
					</td>
			       	<td class="column-spacer">or</td>
			       	<td colspan="2"><h:inputText
						id="countryTier2SetAmountUse"
						binding="#{TaxJurisdictionBean.countryUseTier2SetamtInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.countryUseTier2Setamt}"
						valueChangeListener="#{TaxJurisdictionBean.countryUseTier2SetamtInputTextChangeListener}"
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYUSETIER2SETAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTRYUSETIER2SETAMT']}"
						immediate="true" 
						onkeypress="return onlyIntegerValue(event);">
							<a4j:support id="ajaxcountryTier2SetAmountUse" event="onblur" immediate="true"
								reRender="countryTier2RateUse" />
						</h:inputText>
					</td>
			        <td class="column-spacer">&#160;</td>
				</tr>
			
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
			        <td>Through Amount:</td>		
					<td>
						<h:inputText
							id="countryTier2ThroughAmountUse"
							binding="#{TaxJurisdictionBean.countryUseTier2MaxAmtInputText}"
							immediate="true" onblur="return setValue();"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYUSETIER2MAXAMT'].disabled}"
							maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTRYUSETIER2MAXAMT']}" 
							onkeypress="return onlyIntegerValue(event);"
							label="Tier 2 Maximum Amount">
						</h:inputText>
					</td>
			       	<td>&#160;</td>
			       	<td style="width:10px;">
			        	<h:selectBooleanCheckbox
							id="countryTier2SetToMaxUse" styleClass="check"
							value="#{TaxJurisdictionBean.countryUseTier2SetToMaximumCheck}"
							binding="#{TaxJurisdictionBean.countryUseTier2SetToMaximumCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYUSETIER2SETTOMAXIMUMCHECK'].disabled or TaxJurisdictionBean.countrySameAsSalesRatesCheck}">
							<a4j:support id="ajaxcountryTier2SetToMaxUse" event="onclick"
								reRender="countryUsePanel" actionListener="#{TaxJurisdictionBean.countryUseTier2SetToMaximumFlagChangeListener}"
								 />
						</h:selectBooleanCheckbox>
					</td>
			        <td>Set to Maximum</td>
			        <td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
				    <td>Tax Entire Amount?:</td>		
					<td>
			        	<h:selectBooleanCheckbox
							id="countryTier2TaxEntireAmountUse" styleClass="check"
							value="#{TaxJurisdictionBean.countryUseTier2TaxEntireAmountCheck}"
							binding="#{TaxJurisdictionBean.countryUseTier2TaxEntireAmountCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYUSETIER2ENTAMFLAG'].disabled or TaxJurisdictionBean.countrySameAsSalesRatesCheck}">
							<a4j:support id="ajaxcountryTier2TaxEntireAmountUse" event="onclick"
								reRender="countryTier2TaxEntireAmountUse" actionListener="#{TaxJurisdictionBean.countryUseTier2TaxEntireAmountCheckChangeListener}" />
						</h:selectBooleanCheckbox>
					</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<!-- End of Country Use Rates Tier 2 -->
			
				<!-- Country Use Rates Tier 3 -->			      
				<tr>
					<td class="column-spacer">&#160;</td>
					<td>Tier 3:</td>
			        <td>Rate or Set Amount:</td>
			        <td><h:inputText
						id="countryTier3RateUse"
						binding="#{TaxJurisdictionBean.countryUseTier3RateInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.countryUseTier3Rate}"
						valueChangeListener="#{TaxJurisdictionBean.countryUseTier3RateInputTextChangeListener}"
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYUSETIER3RATE'].disabled  or TaxJurisdictionBean.countrySameAsSalesRatesCheck}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['STATEUSETIER3RATE']}" 
						immediate="true"
						onkeypress="return onlyNumerics(event);">
							<a4j:support id="ajaxcountryTier3RateUse" event="onblur" immediate="true"
								reRender="countryTier3SetAmountUse" />
						</h:inputText>
					</td>
			       	<td class="column-spacer">or</td>
			       	<td colspan="2"><h:inputText
						id="countryTier3SetAmountUse"
						binding="#{TaxJurisdictionBean.countryUseTier3SetamtInputText}"
						value="#{TaxJurisdictionBean.editTaxRate.countryUseTier3Setamt}"
						valueChangeListener="#{TaxJurisdictionBean.countryUseTier3SetamtInputTextChangeListener}"
						disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYUSETIER3SETAMT'].disabled}"
						maxlength="#{TaxJurisdictionBean.fieldSizeMap['COUNTRYUSETIER3SETAMT']}" 
						immediate="true"
						onkeypress="return onlyIntegerValue(event);">
							<a4j:support id="ajaxcountryTier3SetAmountUse" event="onblur" immediate="true"
								reRender="countryTier3RateUse" />
						</h:inputText>
					</td>
				    <td class="column-spacer">&#160;</td>
				</tr>
		
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
			        <td>Through Amount:</td>		
					<td>
						<h:inputText
							id="countryTier3ThroughAmountUse"
							value="*MAX" disabled="true" >
						</h:inputText>							
					</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<tr>
					<td class="column-spacer">&#160;</td>
					<td class="column-spacer">&#160;</td>
			        <td>Tax Entire Amount?:</td>		
					<td>
			        	<h:selectBooleanCheckbox
							id="countryTier3TaxEntireAmountUse" styleClass="check"
							value="#{TaxJurisdictionBean.countryUseTier3TaxEntireAmountCheck}"
							binding="#{TaxJurisdictionBean.countryUseTier3TaxEntireAmountCheckBind}"
							disabled="#{TaxJurisdictionBean.currentActionMap['COUNTRYUSETIER3ENTAMFLAG'].disabled}">
							<a4j:support id="ajaxcountryTier3TaxEntireAmountUse" event="onclick"
								reRender="countryTier3TaxEntireAmountUse" actionListener="#{TaxJurisdictionBean.countryUseTier3TaxEntireAmountCheckChangeListener}" />
						</h:selectBooleanCheckbox>
					</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
	        		<td class="column-spacer">&#160;</td>
				</tr>
				<!-- End of Country Use Rates Tier 3 -->	
			</table>
      	</td>
    </tr>
</table>

			
</ui:component>