<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:t="http://myfaces.apache.org/tomahawk">

	<div id="table-one-content" style="height: auto;">
		<div id="embedded-table">
			<h:panelGrid id="togglePanel1" columns="1" width="100%">
				<rich:simpleTogglePanel id="InvoiceLineInformationPanel"
					switchType="ajax" label="Basic Information"
					actionListener="#{beanDetail.lineTogglePanelController.togglePanelChanged}"
                    opened="#{beanDetail.lineTogglePanelController.togglePanels['InvoiceLineInformationPanel']}"
					bodyClass="togglepanel-body"
					headerClass="togglepanel-header" styleClass="togglepanel">
					<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

					<t:panelGrid columns="4">
						<h:outputText value="Product Code:" />
						<h:inputText id="productCode"
							value="#{trDetail.invoiceLineProductCode}"></h:inputText>
						<h:outputText value="or - TaxCode:" />
						<h:selectOneMenu id="taxcodeItem" value="#{trDetail.taxcodeCode}"
							disabled="#{readonly}" immediate="true" style="width: 200px;">
							<f:selectItems value="#{beanDetail.taxCodes}" />
						</h:selectOneMenu>
						
						<h:outputText value="Invoice Line Amt:" />
                        <h:inputText id="invoiceNo" value="#{trDetail.lineItemTestAmt}"></h:inputText>
                        <h:outputText value=""></h:outputText>
                        <h:outputText value=""></h:outputText>
					</t:panelGrid>
				</rich:simpleTogglePanel>
			</h:panelGrid>
		</div>
	</div>
	<!-- end of table-one-content -->
</ui:component>