<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:t="http://myfaces.apache.org/tomahawk">

	<div id="table-one-content" style="height: auto;">
		<div id="embedded-table">
			<h:panelGrid id="togglePanel" columns="1" width="100%">
				<rich:simpleTogglePanel id="TransactionInformationPanel"
					switchType="ajax" label="Transaction Information"
					actionListener="#{beanDetail.togglePanelController.togglePanelChanged}"
					opened="#{beanDetail.togglePanelController.togglePanels['TransactionInformationPanel']}"
					bodyClass="togglepanel-body" headerClass="togglepanel-header"
					styleClass="togglepanel">
					<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

					<t:panelGrid columns="6">
						<h:outputText value="Transaction Date:"></h:outputText>
						<rich:calendar zindex="1000" disabled="#{readonly}" id="glDate"
							enableManualInput="true" label="G/L Date"
							oninputkeypress="return onlyDateValue();"
							value="#{trDetail.glDate}" popup="true" converter="date"
							datePattern="M/d/yyyy" showApplyButton="false">
						</rich:calendar>
						<h:outputText value=""></h:outputText>
						<h:outputText value=""></h:outputText>
						<h:outputText value=""></h:outputText>
						<h:outputText value=""></h:outputText>

						<h:outputText value="Transaction Type:" />
						<h:selectOneMenu id="transactionTypeItem"
							value="#{trDetail.transactionTypeCode}" disabled="#{readonly}"
							immediate="true" 
							valueChangeListener="#{beanDetail.transactionTypeSelectionChanged}" 
							style="width: 160px;">
							<f:selectItems value="#{beanDetail.transactionTypes}" />
						</h:selectOneMenu>
						<h:outputText value="Rate Type:" />
						<h:selectOneMenu id="rateTypeItem" value="#{trDetail.ratetypeCode}"
							disabled="#{readonly}" immediate="true" 
							valueChangeListener="#{beanDetail.ratetypeSelectionChanged}" 
							style="width: 150px;">
							<f:selectItems value="#{beanDetail.rateTypes}" />
						</h:selectOneMenu>
						<h:outputText value="Method of Delivery:" />
						<h:selectOneMenu id="modItem" value="#{trDetail.methodDeliveryCode}"
							disabled="#{readonly}" immediate="true" 
							valueChangeListener="#{beanDetail.methodDeliverySelectionChanged}"
							style="width: 170px;">
							<f:selectItems value="#{beanDetail.modTypes}" />
						</h:selectOneMenu>

						<h:outputText value="Company"><h:outputText style="color:red;" value="*"/></h:outputText>
						<h:selectOneMenu id="companyItem" value="#{trDetail.glCompanyNbr}"
							disabled="#{readonly}" immediate="true"
							valueChangeListener="#{beanDetail.companySelectionChanged}"
							style="width: 150px;">
						<f:selectItems value="#{beanDetail.companies}" />
							<a4j:support event="onchange" reRender="divisionItem" />
						</h:selectOneMenu>
						<h:outputText value="Division:" />
						<h:selectOneMenu id="divisionItem" value="#{trDetail.glDivisionNbr}"
							disabled="#{readonly}" immediate="true"
							valueChangeListener="#{beanDetail.divisionSelectionChanged}"
							style="width: 150px;">
							<f:selectItems value="#{beanDetail.divisions}" />
						</h:selectOneMenu>
						<h:outputText value=""></h:outputText>
						<h:outputText value=""></h:outputText>

						<h:outputText value="Comments:"></h:outputText>
						<t:panelGroup colspan="5">
							<h:inputText style="width: 90%" id="comment"
								value="#{trDetail.comments}"></h:inputText>
						</t:panelGroup>
					</t:panelGrid>
				</rich:simpleTogglePanel>

				<rich:simpleTogglePanel id="InvoiceInformationPanel"
					switchType="ajax" label="Invoice Information"
					actionListener="#{beanDetail.togglePanelController.togglePanelChanged}"
                    opened="#{beanDetail.togglePanelController.togglePanels['InvoiceInformationPanel']}"
					bodyClass="togglepanel-body"
					headerClass="togglepanel-header" styleClass="togglepanel">
					<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

					<t:panelGrid columns="4">
						<h:outputText value="Invoice No:" />
						<h:inputText id="invoiceNo" value="#{trDetail.invoiceNbr}"></h:inputText>
						<h:outputText value=""></h:outputText>
						<h:outputText value=""></h:outputText>

						<h:outputText value="Customer No:" />
						<h:inputText id="customerNo" value="#{trDetail.custNbr}"></h:inputText>
						<h:outputText value="Name:" />
						<h:panelGroup>
							<h:inputText id="customerName"
								style="vertical-align:top; width: 200px;" disabled="true"
								value="#{trDetail.custName}"></h:inputText>&#160;
							<h:commandLink id="btnCustomerLookup" value="" styleClass="image"
								action="#{beanDetail.searchCustomerLocationAction}"
								rendered="#{!readonly}">
								<h:graphicImage value="/images/search_small.png" />
							</h:commandLink>
						</h:panelGroup>
						
												<h:outputText value="Customer Locn Code:" />
												<h:inputText id="locationCodeId" value="#{billingTestingToolBean.currentInvoice.custLocnCode}"></h:inputText>
												<h:outputText value="Name:" />
												<h:inputText id="locationNameId"
																disabled="true" value="#{billingTestingToolBean.currentInvoice.locationName}"
																style="width:200px;" />

						<h:outputText value="Product Code:" />
						<h:inputText id="productCode"
							value="#{trDetail.invoiceLineProductCode}"></h:inputText>
						<h:outputText value="or - TaxCode:" />
						<h:selectOneMenu id="taxcodeItem" value="#{trDetail.taxcodeCode}"
							disabled="#{readonly}" immediate="true" style="width: 200px;">
							<f:selectItems value="#{beanDetail.taxCodes}" />
						</h:selectOneMenu>
						
						
							
					</t:panelGrid>
				</rich:simpleTogglePanel>

				<rich:simpleTogglePanel id="LocationInformationPanel"
					switchType="ajax" label="Location Information"
					actionListener="#{beanDetail.togglePanelController.togglePanelChanged}"
                    opened="#{beanDetail.togglePanelController.togglePanels['LocationInformationPanel']}"
					bodyClass="togglepanel-body"
					headerClass="togglepanel-header" styleClass="togglepanel">
					<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

					<h:outputText value="Ship To/Service Performance:" >	<h:outputText style="color:red;" value="*" /></h:outputText>
					<br />
					<br />

					<t:panelGrid columns="2">
						<h:outputText value="Address Line 1:" />
						<h:inputText id="shipToLine1" style="width: 200px;"
							value="#{trDetail.shiptoAddressLine1}"></h:inputText>

						<h:outputText value="Address Line 2:" />
						<h:inputText id="shipToLine2" style="width: 200px;"
							value="#{trDetail.shiptoAddressLine2}"></h:inputText>

						<h:outputText value="" />
						<h:panelGroup>
							<ui:include src="/WEB-INF/view/components/jurisdiction_screen.xhtml">
										<ui:param name="handler"
											value="#{beanDetail.shipToJurisdictionHandler}" />
										<ui:param name="popupName" value="searchJurisdictionShipto" />
										<ui:param name="popupForm" value="searchJurisdictionFormShipto" />
										<ui:param name="id" value="jurisIdShipto" />	
										<ui:param name="readonly" value="false"/>
								  		<ui:param name="required" value="false"/> <!-- Will validate in bean to prevent message in queue -->
										<ui:param name="showheaders" value="true"/>
									</ui:include>
						</h:panelGroup>

                        <!--
						<h:outputText value="STJ 1-5:" />
						<h:panelGroup>
							<t:panelGrid columns="5">
								<h:inputText id="shipToStj1"></h:inputText>
								<h:inputText id="shipToStj2"></h:inputText>
								<h:inputText id="shipToStj3"></h:inputText>
								<h:inputText id="shipToStj4"></h:inputText>
								<h:inputText id="shipToStj5"></h:inputText>
							</t:panelGrid>
						</h:panelGroup>
						-->
					</t:panelGrid>

					<h:outputText value="Ship From:" />
					<br />
					<br />

					<t:panelGrid columns="2">
						<h:outputText value="Address Line 1:" />
						<h:inputText id="shipFromLine1" style="width: 200px;"
							value="#{trDetail.shipfromAddressLine1}"></h:inputText>

						<h:outputText value="Address Line 2:" />
						<h:inputText id="shipFromLine2" style="width: 200px;"
							value="#{trDetail.shipfromAddressLine2}"></h:inputText>

						<h:outputText value="" />
						<h:panelGroup>
							<ui:include src="/WEB-INF/view/components/jurisdiction_screen.xhtml">
										<ui:param name="handler"
											value="#{beanDetail.shipFromJurisdictionHandler}" />
										<ui:param name="popupName" value="searchJurisdictionShipFrom" />
										<ui:param name="popupForm" value="searchJurisdictionFormShipFrom" />
										<ui:param name="id" value="jurisIdShipFrom" />	
										<ui:param name="readonly" value="false"/>
								  		<ui:param name="required" value="false"/> <!-- Will validate in bean to prevent message in queue -->
										<ui:param name="showheaders" value="true"/>
									</ui:include>
						</h:panelGroup>

                        <!--
						<h:outputText value="STJ 1-5:" />
						<h:panelGroup>
							<t:panelGrid columns="5">
								<h:inputText id="shipFromStj1"></h:inputText>
								<h:inputText id="shipFromStj2"></h:inputText>
								<h:inputText id="shipFromStj3"></h:inputText>
								<h:inputText id="shipFromStj4"></h:inputText>
								<h:inputText id="shipFromStj5"></h:inputText>
							</t:panelGrid>
						</h:panelGroup>
						-->
					</t:panelGrid>
				</rich:simpleTogglePanel>
			</h:panelGrid>
		</div>
	</div>
	<!-- end of table-one-content -->
</ui:component>