<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

	<div id="table-one-content" style="height: auto;">
		<div id="embedded-table">
			<h:panelGrid id="togglePanel" columns="1" width="100%">
				<rich:simpleTogglePanel id="UserTextInformationPanel"
					switchType="ajax" label="User Text Information"
					actionListener="#{beanDetail.togglePanelController.togglePanelChanged}"
                    opened="#{beanDetail.togglePanelController.togglePanels['UserTextInformationPanel']}"
					bodyClass="togglepanel-body"
					headerClass="togglepanel-header" styleClass="togglepanel">

					<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

					<table cellpadding="0" cellspacing="0" width="100%" id="rollover"
						class="ruler">
						<tbody>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText01']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText01}" id="userText01"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText02']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText02}" id="userText02"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText03']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText03}" id="userText03"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText04']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText04}" id="userText04"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText05']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText05}" id="userText05"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText06']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText06}" id="userText06"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText07']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText07}" id="userText07"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText08']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText08}" id="userText08"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText09']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText09}" id="userText09"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText10']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText10}" id="userText10"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText11']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText11}" id="userText11"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText12']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText12}" id="userText12"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText13']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText13}" id="userText13"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText14']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText14}" id="userText14"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText15']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText15}" id="userText15"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText16']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText16}" id="userText16"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText17']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText17}" id="userText17"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText18']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText18}" id="userText18"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText19']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText19}" id="userText19"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText20']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText20}" id="userText20"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText21']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText21}" id="userText21"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText22']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText22}" id="userText22"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText23']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText23}" id="userText23"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText24']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText24}" id="userText24"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText25']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText25}" id="userText25"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText26']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText26}" id="userText26"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText27']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText27}" id="userText27"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText28']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText28}" id="userText28"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText29']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText29}" id="userText29"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userText30']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userText30}" id="userText30"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td width="10%">&#160;</td>
							</tr>
							<tr>
							<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText31']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText31}" id="userText31"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText32']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText32}" id="userText32"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText33']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText33}" id="userText33"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText34']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText34}" id="userText34"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText35']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText35}" id="userText35"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText36']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText36}" id="userText36"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText37']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText37}" id="userText37"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText38']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText38}" id="userText38"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText39']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText39}" id="userText39"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText40']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText40}" id="userText40"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText41']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText41}" id="userText41"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText42']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText42}" id="userText42"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText43']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText43}" id="userText43"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText44']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText44}" id="userText44"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText45']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText45}" id="userText45"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText46']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText46}" id="userText46"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText47']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText47}" id="userText47"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText48']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText48}" id="userText48"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText49']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText49}" id="userText49"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText50']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText50}" id="userText50"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText51']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText51}" id="userText51"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText52']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText52}" id="userText52"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText53']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText53}" id="userText53"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText54']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText54}" id="userText54"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText55']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText55}" id="userText55"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText56']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText56}" id="userText56"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText57']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText57}" id="userText57"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText58']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText58}" id="userText58"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText59']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText59}" id="userText59"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText60']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText60}" id="userText60"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText61']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText61}" id="userText61"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText62']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText62}" id="userText62"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText63']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText63}" id="userText63"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText64']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText64}" id="userText64"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText65']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText65}" id="userText65"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText66']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText66}" id="userText66"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText67']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText67}" id="userText67"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText68']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText68}" id="userText68"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText69']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText69}" id="userText69"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText70']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText70}" id="userText70"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText71']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText71}" id="userText71"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText72']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText72}" id="userText72"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText73']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText73}" id="userText73"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText74']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText74}" id="userText74"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText75']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText75}" id="userText75"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText76']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText76}" id="userText76"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText77']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText77}" id="userText77"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText78']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText78}" id="userText78"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText79']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText79}" id="userText79"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText80']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText80}" id="userText80"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText81']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText81}" id="userText81"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText82']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText82}" id="userText82"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText83']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText83}" id="userText83"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText84']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText84}" id="userText84"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText85']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText85}" id="userText85"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText86']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText86}" id="userText86"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText87']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText87}" id="userText87"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText88']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText88}" id="userText88"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText89']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText89}" id="userText89"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText90']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText90}" id="userText90"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText91']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText91}" id="userText91"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText92']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText92}" id="userText92"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText93']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText93}" id="userText93"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText94']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText94}" id="userText94"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText95']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText95}" id="userText95"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText96']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText96}" id="userText96"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText97']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText97}" id="userText97"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText98']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText98}" id="userText98"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText99']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText99}" id="userText99"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userText100']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userText100}" id="userText100"
disabled="#{readonly}"></h:inputText>
</td>
							</tr>

						</tbody>
					</table>
				</rich:simpleTogglePanel>

				<rich:simpleTogglePanel id="UserNumberInformationPanel"
					switchType="ajax" label="User Number Information"
					actionListener="#{beanDetail.togglePanelController.togglePanelChanged}"
                    opened="#{beanDetail.togglePanelController.togglePanels['UserNumberInformationPanel']}"
					bodyClass="togglepanel-body"
					headerClass="togglepanel-header" styleClass="togglepanel">

					<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

					<table cellpadding="0" cellspacing="0" width="100%" id="rollover"
						class="ruler">
						<tbody>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userNumber01']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userNumber01}" id="userNumber01"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userNumber02']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userNumber02}" id="userNumber02"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userNumber03']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userNumber03}" id="userNumber03"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userNumber04']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userNumber04}" id="userNumber04"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userNumber05']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userNumber05}" id="userNumber05"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userNumber06']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userNumber06}" id="userNumber06"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userNumber07']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userNumber07}" id="userNumber07"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userNumber08']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userNumber08}" id="userNumber08"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userNumber09']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userNumber09}" id="userNumber09"
										disabled="#{readonly}"></h:inputText>
								</td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userNumber10']}:" />
								</td>
								<td class="column-input3"><h:inputText
										value="#{trDetail.userNumber10}" id="userNumber10"
										disabled="#{readonly}"></h:inputText>
								</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userNumber11']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userNumber11}" id="userNumber11"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userNumber12']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userNumber12}" id="userNumber12"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userNumber13']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userNumber13}" id="userNumber13"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userNumber14']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userNumber14}" id="userNumber14"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userNumber15']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userNumber15}" id="userNumber15"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userNumber16']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userNumber16}" id="userNumber16"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userNumber17']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userNumber17}" id="userNumber17"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userNumber18']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userNumber18}" id="userNumber18"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userNumber19']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userNumber19}" id="userNumber19"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userNumber20']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userNumber20}" id="userNumber20"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userNumber21']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userNumber21}" id="userNumber21"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userNumber22']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userNumber22}" id="userNumber22"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userNumber23']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userNumber23}" id="userNumber23"
disabled="#{readonly}"></h:inputText>
</td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userNumber24']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userNumber24}" id="userNumber24"
disabled="#{readonly}"></h:inputText>
</td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userNumber25']}:" />
</td>
<td class="column-input3">
<h:inputText value="#{trDetail.userNumber25}" id="userNumber25"
disabled="#{readonly}"></h:inputText>
</td>
</tr>

						</tbody>
					</table>
				</rich:simpleTogglePanel>
				<rich:simpleTogglePanel id="UserDateInformationPanel"
					switchType="ajax" label="User Date Information"
					actionListener="#{beanDetail.togglePanelController.togglePanelChanged}"
                    opened="#{beanDetail.togglePanelController.togglePanels['UserDateInformationPanel']}"
					bodyClass="togglepanel-body"
					headerClass="togglepanel-header" styleClass="togglepanel">

					<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
					<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>

					<table cellpadding="0" cellspacing="0" width="100%" id="rollover"
						class="ruler">
						<tbody>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userDate01']}:" />
								</td>
								<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate01" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate01}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userDate02']}:" />
								</td>
								<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate02" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate02}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userDate03']}:" />
								</td>
								<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate03" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate03}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userDate04']}:" />
								</td>
								<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate04" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate04}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userDate05']}:" />
								</td>
								<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate05" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate05}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userDate06']}:" />
								</td>
								<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate06" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate06}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userDate07']}:" />
								</td>
								<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate07" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate07}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userDate08']}:" />
								</td>
								<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate08" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate08}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userDate09']}:" />
								</td>
								<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate09" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate09}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
								<td width="10%">&#160;</td>
							</tr>

							<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label3"><h:outputText
										value="#{beanDetail.billTransactionUserPropertyMap['userDate10']}:" />
								</td>
								<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate10" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate10}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userDate11']}:" />
</td>
<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate11" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate11}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userDate12']}:" />
</td>
<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate12" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate12}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userDate13']}:" />
</td>
<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate13" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate13}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userDate14']}:" />
</td>
<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate14" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate14}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userDate15']}:" />
</td>
<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate15" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate15}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userDate16']}:" />
</td>
<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate16" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate16}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userDate17']}:" />
</td>
<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate17" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate17}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userDate18']}:" />
</td>
<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate18" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate18}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userDate19']}:" />
</td>
<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate19" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate19}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userDate20']}:" />
</td>
<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate20" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate20}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userDate21']}:" />
</td>
<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate21" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate21}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userDate22']}:" />
</td>
<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate22" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate22}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userDate23']}:" />
</td>
<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate23" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate23}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userDate24']}:" />
</td>
<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate24" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate24}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>
<td width="10%">&#160;</td>
</tr>
<tr>
<td class="column-spacer">&#160;</td>
<td class="column-label3"> <h:outputText
value="#{beanDetail.billTransactionUserPropertyMap['userDate25']}:" />
</td>
<td><rich:calendar zindex="1000" disabled="#{readonly}"
										id="userDate25" enableManualInput="true" label="user Date"
										oninputkeypress="return onlyDateValue(event);"
										value="#{trDetail.userDate25}" popup="true" converter="date"
										datePattern="M/d/yyyy" showApplyButton="false"
										inputClass="textbox" /></td>

</tr>
						</tbody>
					</table>
				</rich:simpleTogglePanel>
			</h:panelGrid>
		</div>
	</div>
</ui:component>
