<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

			<!-- Transaction Information  -->
			<rich:simpleTogglePanel id="transactionInformation" switchType="ajax"
				label="Transaction Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['transactionInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>
				
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label4"><h:outputText value = "#{matrixCommonBean.transactionPropertyMap['transactionInd'].description}:" /></td>
							<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TRANSIND'][trDetail.transactionInd]}">
								<td class="column-input"><h:inputText
									value="#{cacheManager.listCodeMap['TRANSIND'][trDetail.transactionInd].description}" disabled="true" /></td>
                            </h:panelGroup>
                           	<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TRANSIND'][trDetail.transactionInd]}">
								<td class="column-input"><h:inputText
									value="#{trDetail.transactionInd}" disabled="true" /></td>
                            </h:panelGroup>
                            

							<td class="column-label4"><h:outputText value = "#{matrixCommonBean.transactionPropertyMap['directPayPermitFlag'].description}:"/></td>
							<td class="column-input"><h:inputText
									value="#{trDetail.directPayPermitFlag}" disabled="true" /></td>
							<td class="column-label4"><h:outputText
									value="#{matrixCommonBean.transactionPropertyMap['modifyUserId'].description}:" /></td>
							<td class="column-input"><h:inputText
									value="#{trDetail.modifyUserId}" disabled="true" /></td>
							<td class="column-spacer">&#160;</td>

						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label4"><h:outputText value="#{matrixCommonBean.transactionPropertyMap['suspendInd'].description}:" /></td>
							<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['SUSPENDIND'][trDetail.suspendInd]}">
								<td class="column-input"><h:inputText
									value="#{cacheManager.listCodeMap['SUSPENDIND'][trDetail.suspendInd].description}" disabled="true" /></td>
							</h:panelGroup>
							<h:panelGroup rendered="#{empty cacheManager.listCodeMap['SUSPENDIND'][trDetail.suspendInd]}">
								<td class="column-input"><h:inputText
									value="#{trDetail.suspendInd}" disabled="true" /></td>
                            </h:panelGroup>
                            


							<td class="column-label4"><h:outputText
									value="#{matrixCommonBean.transactionPropertyMap['calculateInd'].description}:" /></td>
							<td class="column-input"><h:inputText
									value="#{trDetail.calculateInd}" disabled="true" /></td>
							<td class="column-label4"><h:outputText
									value="#{matrixCommonBean.transactionPropertyMap['modifyTimestamp'].description}:" /></td>
							<td class="column-input"><h:inputText
									value="#{trDetail.modifyTimestamp}" disabled="true" >
									 <f:convertDateTime type="date" pattern="MM/dd/yyyy hh:mm:ss a"/>
									  </h:inputText>
									</td>
							<td class="column-spacer">&#160;</td>

						</tr>
						
						<tr>

							<td class="column-spacer">&#160;</td>
							<td class="column-label4"><h:outputText value="#{matrixCommonBean.transactionPropertyMap['rejectFlag'].description}:" /></td>
							<td class="column-input">
								<h:inputText id="rejectId" value="#{trDetail.rejectFlag}" 
									disabled="true" />
				            </td>
				            <td class="column-label4"><h:outputText value="#{matrixCommonBean.transactionPropertyMap['creditInd'].description}:" /></td>
							<td class="column-input">
								<h:inputText id="creditInd" value="#{trDetail.creditInd}" disabled="true" />
				            </td>
							<td class="column-label4">&#160;</td>
							<td class="column-input">&#160;</td>
							<td class="column-spacer">&#160;</td>
				       </tr>
				       
				       <tr>

                            <td class="column-spacer">&#160;</td>
							<td class="column-label4"><h:outputText
									value="Last Update User ID:" /></td>
							<td colspan="6" class="column-input"><h:inputText style="width:570px;"
									value="#{trDetail.updateUserId}" disabled="true" /></td>
							<td class="column-spacer">&#160;</td>

						</tr>
						
						
						<tr>

							<td class="column-spacer">&#160;</td>
							<td class="column-label4"><h:outputText
									value="Last Update Timestamp:" /></td>
							<td colspan="6" class="column-input"><h:inputText
									value="#{trDetail.updateTimestamp}" disabled="true" style="width:570px;" >
                     	      <f:convertDateTime type="date" pattern="MM/dd/yyyy hh:mm:ss a"/>
									</h:inputText>
									</td>
							<td class="column-spacer">&#160;</td>

						</tr>

						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label4"><h:outputText value="#{matrixCommonBean.transactionPropertyMap['comments'].description}:"/></td>
							<td  colspan="6" class="column-description"><h:inputText value="#{trDetail.comments}"
									disabled="true" style="width:570px;" /></td>
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label4"><h:outputText value="#{matrixCommonBean.transactionPropertyMap['processingNotes'].description}:"/></td>
							<td  colspan="6" class="column-description"><h:inputText value="#{trDetail.processingNotes}"
									disabled="true" style="width:570px;" /></td>
						</tr>
						
					</tbody>
				</table>

			</rich:simpleTogglePanel>
</ui:component>