<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
    
<rich:modalPanel id="panel" zindex="2000" autosized="true" >
                <f:facet name="header">
                    <h:outputText value="Transaction Detail"/>
                </f:facet>
                 <f:facet name="controls">
                    <span style="cursor:pointer" onclick="javascript:Richfaces.hideModalPanel('panel')">X</span>
                </f:facet>
	<h:form id="panelForm">
	<h:panelGroup style="text-align:center;">
<table cellpadding="0" cellspacing="0" width="913" id="rollover" class="ruler">
<tbody>

<tr>
<td style="width:400px;">&#160;</td>


<td style="width:120px;">Column Name:</td><td>
<h:inputText id="columnSearch" binding="#{handler.columnSearch}" 
value ="" style="width:300px;"></h:inputText></td>
</tr>
<tr>
<td style="width:400px;">&#160;</td>


<td style="width:120px;">Description:</td><td>
<h:inputText id="descSearch" binding="#{handler.descriptionSearch}" value ="" style="width:300px;"></h:inputText></td>
</tr>
<tr>
<td style="width:400px;">&#160;</td>


<td style="width:120px;">Data Type:</td><td>
<h:inputText id="dataTypeSearch" binding="#{handler.dataTypeSearch}" value ="" style="width:300px;"></h:inputText></td>

</tr>
<tr height="10px"><td></td></tr>
<tr>

<td style="width:400px;">&#160;</td>


<td style="width:120px;">&#160;</td><td>
<a4j:commandButton actionListener="#{handler.getByColumnName}" 
		id="SearchLookup" 
		value="Search" reRender="ColNameTable, okBtn" limitToList="true"/>&#160;&#160;&#160;&#160;&#160;
		
				<a4j:commandButton action="#{handler.resetInputs}" reRender="panelForm, okBtn"
		id="resetInputs" value="Clear" limitToList="true"/>

</td>

</tr>
</tbody>
</table>
		
	</h:panelGroup>				
				<rich:spacer height="10px"/>
		
			<h:panelGroup>
			<div class="scrollContainer" style="width:900px;">
			<div class="scrollInner" style="height:200px;">	


<rich:dataTable rowClasses="odd-row,even-row" id="ColNameTable" 
							value="#{handler.dataDefinitionColList}"
							var="security">
							<a4j:support id="ref2tbl" event="onRowClick" 
								onsubmit="selectRow('panelForm:ColNameTable', this);"
								actionListener="#{handler.selectedEntityLevelRowChangedToAdd}"
								reRender="okBtn"/>
				<rich:column id="dataTable">
				<f:facet name="header">
					<h:outputText styleClass="headerText" value="Table"/>
				</f:facet>
				<h:outputText id="rowDataTable" value="#{security.dataDefinitionColumnPK.tableName}" />
			</rich:column>				
				<rich:column id="columnNames" style="width:180px;">
				<f:facet name="header">
					<h:outputText styleClass="headerText" value="Column Name:" style="width:180px;"/>
				</f:facet>
				<h:outputText id="rowColumnName" value="#{security.dataDefinitionColumnPK.columnName}" />
			</rich:column>.
							<rich:column id="dataType">
				<f:facet name="header">
					<h:outputText styleClass="headerText" value="Data Type"/>
				</f:facet>
				<h:outputText id="rowDataType" value="#{security.dataType}" />
			</rich:column>
										<rich:column id="dataLength" >
				<f:facet name="header">
					<h:outputText styleClass="headerText" value="Data Length"/>
				</f:facet>
				<h:outputText id="rowDataLength" value="#{security.datalength}" />
			</rich:column>
													<rich:column id="description" style="width:180px;">
				<f:facet name="header">
					<h:outputText styleClass="headerText" value="Description" style="width:180px;"/>
				</f:facet>
				<h:outputText id="rowDescription" value="#{security.description}" />
			</rich:column>
							<rich:column id="abbrDesc" style="width:150px;">
				<f:facet name="header">
					<h:outputText styleClass="headerText" value="Abbr Desc" style="width:150px;"/>
				</f:facet>
				<h:outputText id="rowAbbrDesc" value="#{security.abbrDesc}" />
			</rich:column>
								<rich:column id="descColumnName" style="width:200px;">
				<f:facet name="header">
					<h:outputText styleClass="headerText" value="Desc Column Name" style="width:200px;"/>
				</f:facet>
				<h:outputText id="rowDescColumnName" value="#{security.descColumnName}" />
			</rich:column>
								</rich:dataTable>
						
			</div>
			</div>
			
			</h:panelGroup>
	<rich:spacer height="10px"/>		

<table cellpadding="0" cellspacing="0" width="913" id="rollover" class="ruler">
<tbody>
<tr>
<td style="width:400px;">&#160;</td>


<td style="width:120px;"></td><td>
<h:commandButton value="Ok" action="#{handler.setAddAction}" id="okBtn" disabled="#{!handler.showOkButton}"/>&#160;&#160;&#160;&#160;&#160;
<a4j:commandButton id="btnCancel" immediate="true" value="Cancel" action = "#{handler.cancelEntityLevelAction}"
						oncomplete="Richfaces.hideModalPanel('panel'); return false;" />
</td>
</tr>

</tbody>
</table>
						

</h:form>
            
        </rich:modalPanel>

</ui:component>