<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
    
<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['poDate']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['poDate'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.poDate}" disabled="true">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td class="column-input2">&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['poNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['poNbr'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.poNbr}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['poName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['poName'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.poName}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['poLineNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['poLineNbr'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.poLineNbr}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['poLineName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['poLineName'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.poLineName}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['poLineType']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['poLineType'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.poLineType}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['poLineTypeName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['poLineTypeName'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.poLineTypeName}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>

	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woDate']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['woDate'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.woDate}" disabled="true">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td class="column-input2">&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['woNbr'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.woNbr}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['woName'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.woName}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woType']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['woType'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.woType}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woTypeDesc']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['woTypeDesc'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.woTypeDesc}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woClass']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['woClass'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.woClass}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woClassDesc']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['woClassDesc'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.woClassDesc}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woEntity']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['woEntity'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.woEntity}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woEntityDesc']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['woEntityDesc'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.woEntityDesc}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woLineNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['woLineNbr'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.woLineNbr}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woLineNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['woLineNbr'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.woLineNbr}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woLineType']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['woLineType'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.woLineType}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woLineTypeDesc']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['woLineTypeDesc'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.woLineTypeDesc}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woShutDownCd']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['woShutDownCd'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.woShutDownCd}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woShutDownCdDesc']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['woShutDownCdDesc'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.woShutDownCdDesc}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	</tbody>
</table>
			
</ui:component>