<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">
	<rich:simpleTogglePanel id="taxRateInformation" switchType="ajax"
					label="Tax Rate Information"
					actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
					opened="#{transactionViewBean.togglePanelController.togglePanels['taxRateInformation']}"
					bodyClass="togglepanel-body" headerClass="togglepanel-header"
					styleClass="togglepanel">
					<f:facet name="openMarker">
						<h:graphicImage style="vertical-align:middle;"
							url="/images/triangle-e.png"></h:graphicImage>
					</f:facet>
					<f:facet name="closeMarker">
						<h:graphicImage style="vertical-align:middle;"
							url="/images/triangle-s.png"></h:graphicImage>
					</f:facet>   
	<table cellpadding="0" cellspacing="0" width="100%">
		<tbody>
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class= "column-label2">&#160;</td>
			<td class= "column-label3">Tax Rate ID</td>
			<td class = "column-label4">Min.Amount</td>
			<td class= "column-label4">Rate</td>
			<td class= "column-label4">Set Amount</td>
			<td class = "column-label4">Max. Amount</td>
			<td class= "column-label4">MaxTax Amount</td>
			<td class= "column-label4">Entire Amount</td>
			<td class= "column-label4">Taxable Threshold Amt.</td>
			<td class= "column-label4">Minimum Taxable Amt.</td>
			<td class= "column-label4">Maximum Taxable Amt.</td>
			<td class= "column-label4">Maximum Tax Amt.</td>
			<td class= "column-label4">Percent Of Base</td>
			<td class = "column-label4">Tax Process Type</td>
			<td class= "column-label4">TaxCode Override?</td>
			
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class= "column-label3" style = "width:362px">Country - Tier1:</td>
			<td class = "column-input-taxrate"><h:inputText id="countryTier1TaxrateId" style="float:left;text-align: right;width:50px" value="#{trDetail.countryTaxrateId}" disabled="true" />
					<a4j:commandButton id="btnView35" styleClass="image" 
					 style="width:16px;height:16px;#{(trDetail.countryTaxrateId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					      disabled="#{!(trDetail.countryTaxrateId > 0)}" 
		                 image="/images/view-small.png" immediate="true"
		              action="#{transactionViewBean.viewJurisdictionTaxRate}">
		              <f:param name="command" value="viewJurisdictionTaxrateFromTransaction" />
		              <f:param name="jurisdictionTaxRateId" value="#{trDetail.countryTaxrateId}" /> 
		            </a4j:commandButton>
			</td>
			<h:panelGroup rendered="#{(not empty trDetail.countryTaxtypeUsedCode) and (not empty transactionViewBean.getTaxRateAction(trDetail.countryTaxrateId)) }">
				<td class = "column-input-taxrate"><h:inputText id="CountryTier1MinAmount" style = "text-align: right" value="0.00" disabled="true" /></td>
				<td class = "column-input-taxrate">
				<h:inputText id="countryTier1SalesRate"    style = "text-align: right" rendered = "#{trDetail.isCountrySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.countrySalesTier1Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="countryTier1UseRate1"    style = "text-align: right" rendered = "#{!trDetail.isCountrySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.countryUseTier1Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="countryTier1SalesSetamt"  style = "text-align: right" rendered = "#{trDetail.isCountrySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.countrySalesTier1Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="countryTier1UseSetamt"  style = "text-align: right" rendered = "#{!trDetail.isCountrySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.countryUseTier1Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="countryTier1SalesMaxAmt"  style = "text-align: right" rendered = "#{trDetail.isCountrySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.countrySalesTier1MaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="countryTier1UseMaxAmt"  style = "text-align: right" rendered = "#{!trDetail.isCountrySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.countryUseTier1MaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
			<h:inputText id="countryTier1SalesMaxTaxAmt"  style = "text-align: right" rendered = "#{trDetail.isCountrySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.countrySalesMaxtaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			<h:inputText id="countryTier1UseMaxTaxAmt"  style = "text-align: right" rendered = "#{!trDetail.isCountrySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.countryUseMaxtaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			</td>
			<td  class = "column-input-taxrate">&#160;</td>
			
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty trDetail.countryTaxtypeUsedCode or  empty transactionViewBean.jurisdictionTaxrate  }">
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td  class = "column-input-taxrate">&#160;</td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.countryTaxcodeDetailId)}">
			  		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.taxableThresholdAmt}" disabled="true" style = "text-align: right">
			  				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
			  		</td>
			  		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.minimumTaxableAmt}" disabled="true" style = "text-align: right" >
			  				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			  		</h:inputText>
			  		</td>
			  		
			  		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.maximumTaxableAmt}" disabled="true" style = "text-align: right" >
			  				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			  		</h:inputText>
			  		</td>
			  		
			  		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.maximumTaxAmt}" disabled="true" style = "text-align: right">
			  			<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			  		</h:inputText>
			  		
			  		</td>
			  		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.baseChangePct}" disabled="true" style = "text-align: right">
			  				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			  		</h:inputText>
			  		</td>
			  		<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXPROCTYP'][transactionViewBean.taxCodeDetail.taxProcessTypeCode]}">
			 		 <td class = "column-input-taxrate"><h:inputText  value="#{cacheManager.listCodeMap['TAXPROCTYP'][transactionViewBean.taxCodeDetail.taxProcessTypeCode].description}" disabled="true"/></td>
			 	</h:panelGroup>
				 <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXPROCTYP'][transactionViewBean.taxCodeDetail.taxProcessTypeCode]}">
			 		 <td class = "column-input-taxrate"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxProcessTypeCode}" disabled="true"/></td>
			 	</h:panelGroup>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
			<td><h:selectBooleanCheckbox styleClass="countryTier1check" value="#{trDetail.countryTaxcodeOverBooleanFlag}" disabled="true" id="countryTaxcodeOverBooleanFlag"  /></td>
		</tr>
		
		<!-- Country Tier-2 -->
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class= "column-label3" style = "width:362px">Country - Tier2:</td>
			<td class = "column-input-taxrate">&#160;</td>
			
			<h:panelGroup rendered="#{(not empty trDetail.countryTaxtypeUsedCode) and (not empty transactionViewBean.jurisdictionTaxrate) }">
				<td class = "column-input-taxrate">
				<h:inputText id="CountrySalesTier2MinAmount" rendered = "#{trDetail.isCountrySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countrySalesTier2MinAmt}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="CountryUseTier2MinAmount" rendered = "#{!trDetail.isCountrySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countryUseTier2MinAmt}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				</td>
				<td class = "column-input-taxrate">
				<h:inputText id="countrySalesTier2Rate"   rendered = "#{trDetail.isCountrySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countrySalesTier2Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="countryUseTier2Rate"  rendered = "#{!trDetail.isCountrySalesTaxtypeUsedCode}"  style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countryUseTier2Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="countrySalesTier2Setamt" rendered = "#{trDetail.isCountrySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countrySalesTier2Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="countryUseTier2Setamt" rendered = "#{!trDetail.isCountrySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countryUseTier2Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="countrySalesTier2MaxAmt" rendered = "#{trDetail.isCountrySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countrySalesTier2MaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="countryUseTier2MaxAmt" rendered = "#{!trDetail.isCountrySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countryUseTier2MaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td  class = "column-input-taxrate">&#160;</td>
			
			<td>
				<h:selectBooleanCheckbox id="countrySalesTier2EntamFlag" rendered = "#{trDetail.isCountrySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.countrySalesTier2EntamFlag}" disabled="true"   />
				<h:selectBooleanCheckbox id="countryUseTier2EntamFlag" rendered = "#{!trDetail.isCountrySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.countryUseTier2EntamFlag}" disabled="true"   />
			
			</td>
			</h:panelGroup>
			
		<h:panelGroup rendered="#{empty trDetail.countryTaxtypeUsedCode or  empty transactionViewBean.jurisdictionTaxrate  }">
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td  class = "column-input-taxrate">&#160;</td>
				<td><h:selectBooleanCheckbox id="countryUseTier2emptyEntamFlag" value="false" disabled="true"   /></td>
			</h:panelGroup>
		</tr>
		
		<!-- Country Tier-3 -->
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class= "column-label3" style = "width:362px">Country - Tier3:</td>
			<td class = "column-input-taxrate">&#160;</td>
			<td class = "column-input-taxrate">&#160;</td>
			
			<h:panelGroup rendered="#{(not empty trDetail.countryTaxtypeUsedCode) and (not empty transactionViewBean.jurisdictionTaxrate) }">
				<td class = "column-input-taxrate">
				<h:inputText id="countrySalesTier3Rate"  rendered = "#{trDetail.isCountrySalesTaxtypeUsedCode}"  style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countrySalesTier3Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="countryUseTier3Rate"  rendered = "#{!trDetail.isCountrySalesTaxtypeUsedCode}"  style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countryUseTier3Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="countrySalesTier3Setamt" rendered = "#{trDetail.isCountrySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countrySalesTier3Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="countryUseTier3Setamt" rendered = "#{!trDetail.isCountrySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countryUseTier3Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="countryTier3MaxAmt"  style = "text-align: right" value="*MAX" disabled="true" />
			</td>
			<td  class = "column-input-taxrate">&#160;</td>
			
			<td>
				<h:selectBooleanCheckbox id="countrySalesTier3EntamFlag" rendered = "#{trDetail.isCountrySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.countrySalesTier3EntamFlag}" disabled="true"   />
				<h:selectBooleanCheckbox id="countryUseTier3EntamFlag" rendered = "#{!trDetail.isCountrySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.countryUseTier3EntamFlag}" disabled="true"   />
			</td>
			</h:panelGroup>
			
		<h:panelGroup rendered="#{empty trDetail.countryTaxtypeUsedCode or  empty transactionViewBean.jurisdictionTaxrate  }">
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate">&#160;</td>
				<td><h:selectBooleanCheckbox id="countryUseTier3emptyEntamFlag" value="false" disabled="true"   /></td>
	    </h:panelGroup>
			<td>&#160;</td>
		</tr>
		<!--  State  -->
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class= "column-label3" style = "width:362px">State - Tier1:</td>
			<td class = "column-input-taxrate"><h:inputText id="stateTier1TaxrateId" style="float:left;text-align: right;width:50px" value="#{trDetail.stateTaxrateId}" disabled="true" />
					<a4j:commandButton id="stateView" styleClass="image" 
					 style="width:16px;height:16px;#{(trDetail.stateTaxrateId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					      disabled="#{!(trDetail.stateTaxrateId > 0)}" 
		                 image="/images/view-small.png" immediate="true"
		              action="#{transactionViewBean.viewJurisdictionTaxRate}">
		              <f:param name="command" value="viewJurisdictionTaxrateFromTransaction" />
		              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stateTaxrateId}" /> 
		            </a4j:commandButton>
			</td>
			<h:panelGroup rendered="#{(not empty trDetail.stateTaxtypeUsedCode) and (not empty transactionViewBean.getTaxRateAction(trDetail.stateTaxrateId)) }">
				<td class = "column-input-taxrate"><h:inputText id="stateTier1MinAmount" style = "text-align: right" value="0.00" disabled="true" /></td>
				<td class = "column-input-taxrate">
				<h:inputText id="stateSalesTier1Rate"  rendered = "#{trDetail.isStateSalesTaxtypeUsedCode}"  style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.stateSalesTier1Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="stateUseTier1Rate" rendered = "#{!trDetail.isStateSalesTaxtypeUsedCode}"   style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.stateUseTier1Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="stateSalesTier1Setamt" rendered = "#{trDetail.isStateSalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countrySalesTier1Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="stateUseTier1Setamt" rendered = "#{!trDetail.isStateSalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countryUseTier1Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="stateSalesTier1MaxAmt" rendered = "#{trDetail.isStateSalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.stateSalesTier1MaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="stateUseTier1MaxAmt" rendered = "#{!trDetail.isStateSalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.stateUseTier1MaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
			<h:inputText id="stateSalesTier1MaxTaxAmt" rendered = "#{trDetail.isStateSalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.stateSalesMaxtaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			<h:inputText id="stateUseTier1MaxTaxAmt" rendered = "#{!trDetail.isStateSalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.stateUseMaxtaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			</td>
			<td  class = "column-input-taxrate">&#160;</td>
			
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty trDetail.stateTaxtypeUsedCode or  empty transactionViewBean.jurisdictionTaxrate  }">
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td  class = "column-input-taxrate">&#160;</td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stateTaxcodeDetailId)}">
			 		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.taxableThresholdAmt}" disabled="true" style = "text-align: right">
			  				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
			  		</td>
			  		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.minimumTaxableAmt}" disabled="true" style = "text-align: right" >
			  				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			  		</h:inputText>
			  		</td>
			  		
			  		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.maximumTaxableAmt}" disabled="true" style = "text-align: right" >
			  				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			  		</h:inputText>
			  		</td>
			  		
			  		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.maximumTaxAmt}" disabled="true" style = "text-align: right">
			  				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			  		</h:inputText>
			  		
			  		</td>
			  		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.baseChangePct}" disabled="true" style = "text-align: right">
			  				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			  		</h:inputText>
			  		</td>
			  		<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXPROCTYP'][transactionViewBean.taxCodeDetail.taxProcessTypeCode]}">
			 		 <td class = "column-input-taxrate"><h:inputText  value="#{cacheManager.listCodeMap['TAXPROCTYP'][transactionViewBean.taxCodeDetail.taxProcessTypeCode].description}" disabled="true"/></td>
			 	</h:panelGroup>
				 <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXPROCTYP'][transactionViewBean.taxCodeDetail.taxProcessTypeCode]}">
			 		 <td class = "column-input-taxrate"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxProcessTypeCode}" disabled="true"/></td>
			 	</h:panelGroup>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
			<td><h:selectBooleanCheckbox styleClass="stateTier1check" value="#{trDetail.stateTaxcodeOverBooleanFlag}" disabled="true" id="stateTaxcodeOverBooleanFlag"  /></td>
		</tr>
		
		<!-- State Tier-2 -->
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class= "column-label3" style = "width:362px">State - Tier2:</td>
			<td class = "column-input-taxrate">&#160;</td>
			
			<h:panelGroup rendered="#{(not empty trDetail.stateTaxtypeUsedCode) and (not empty transactionViewBean.jurisdictionTaxrate) }">
				<td class = "column-input-taxrate">
					<h:inputText id="stateSalesTier2MinAmount" rendered = "#{trDetail.isStateSalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.stateSalesTier2MinAmt}"  disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
					<h:inputText id="stateUseTier2MinAmount" rendered = "#{!trDetail.isStateSalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.stateUseTier2MinAmt}"  disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
				<td class = "column-input-taxrate">
				<h:inputText id="stateSalesTier2Rate"  rendered = "#{trDetail.isStateSalesTaxtypeUsedCode}"  style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.stateSalesTier2Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="stateUseTier2Rate"  rendered = "#{!trDetail.isStateSalesTaxtypeUsedCode}"  style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.stateUseTier2Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="stateSalesTier2Setamt" rendered = "#{trDetail.isStateSalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.stateSalesTier2Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="stateUseTier2Setamt" rendered = "#{!trDetail.isStateSalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.stateUseTier2Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="stateSalesTier2MaxAmt" rendered = "#{trDetail.isStateSalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.stateSalesTier2MaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
					<h:inputText id="stateUseTier2MaxAmt" rendered = "#{!trDetail.isStateSalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.stateUseTier2MaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td  class = "column-input-taxrate">&#160;</td>
			
			<td>
				<h:selectBooleanCheckbox id="stateSalesTier2EntamFlag" rendered = "#{trDetail.isStateSalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.stateSalesTier2EntamFlag}" disabled="true"   />
				<h:selectBooleanCheckbox id="stateUseTier2EntamFlag" rendered = "#{!trDetail.isStateSalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.stateUseTier2EntamFlag}" disabled="true"   />
				
			</td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty trDetail.stateTaxtypeUsedCode or  empty transactionViewBean.jurisdictionTaxrate  }">
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td  class = "column-input-taxrate">&#160;</td>
				<td><h:selectBooleanCheckbox id="stateUseTier2emptyEntamFlag" value="false" disabled="true"   /></td>
			</h:panelGroup>
		</tr>
		
		<!-- State Tier-3 -->
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class= "column-label3" style = "width:362px">State - Tier3:</td>
			<td class = "column-input-taxrate">&#160;</td>
			<td class = "column-input-taxrate">&#160;</td>
			
			<h:panelGroup rendered="#{(not empty trDetail.stateTaxtypeUsedCode) and (not empty transactionViewBean.jurisdictionTaxrate) }">
				<td class = "column-input-taxrate">
				<h:inputText id="stateSalesTier3Rate" rendered = "#{trDetail.isStateSalesTaxtypeUsedCode}"   style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.stateSalesTier3Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="stateUseTier3Rate" rendered = "#{!trDetail.isStateSalesTaxtypeUsedCode}"   style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.stateUseTier3Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="stateSalesTier3Setamt" rendered = "#{trDetail.isStateSalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.stateSalesTier3Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="stateUseTier3Setamt" rendered = "#{!trDetail.isStateSalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.stateUseTier3Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="stateTier3MaxAmt"  style = "text-align: right" value="*MAX" disabled="true" />
			</td>
			<td  class = "column-input-taxrate">&#160;</td>
			
			<td>
				<h:selectBooleanCheckbox id="stateSalesTier3EntamFlag" rendered = "#{trDetail.isStateSalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.stateSalesTier3EntamFlag}" disabled="true"   />
				<h:selectBooleanCheckbox id="stateUseTier3EntamFlag" rendered = "#{!trDetail.isStateSalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.stateUseTier3EntamFlag}" disabled="true"   />
			
			</td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty trDetail.stateTaxtypeUsedCode or  empty transactionViewBean.jurisdictionTaxrate  }">
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate">&#160;</td>
				<td><h:selectBooleanCheckbox id="stateUseTier3emptyEntamFlag" value="false" disabled="true"   /></td>
	    </h:panelGroup>
			<td>&#160;</td>
		</tr>
		
			<!--  County  -->
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class= "column-label3" style = "width:362px">County - Tier1:</td>
			<td class = "column-input-taxrate"><h:inputText id="countyTier1TaxrateId" style="float:left;text-align: right;width:50px" value="#{trDetail.countyTaxrateId}" disabled="true" />
					<a4j:commandButton id="countyView" styleClass="image" 
					 style="width:16px;height:16px;#{(trDetail.countyTaxrateId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					      disabled="#{!(trDetail.countyTaxrateId > 0)}" 
		                 image="/images/view-small.png" immediate="true"
		              action="#{transactionViewBean.viewJurisdictionTaxRate}">
		              <f:param name="command" value="viewJurisdictionTaxrateFromTransaction" />
		              <f:param name="jurisdictionTaxRateId" value="#{trDetail.countyTaxrateId}" /> 
		            </a4j:commandButton>
			</td>
			<h:panelGroup rendered="#{(not empty trDetail.countyTaxtypeUsedCode) and (not empty transactionViewBean.getTaxRateAction(trDetail.countyTaxrateId)) }">
				<td class = "column-input-taxrate"><h:inputText id="countyTier1MinAmount" style = "text-align: right" value="0.00" disabled="true" /></td>
				<td class = "column-input-taxrate">
				<h:inputText id="countySalesTier1Rate"  rendered = "#{trDetail.isCountySalesTaxtypeUsedCode}"  style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countySalesTier1Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="countyUseTier1Rate"  rendered = "#{!trDetail.isCountySalesTaxtypeUsedCode}"  style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countyUseTier1Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="countySalesTier1Setamt" rendered = "#{trDetail.isCountySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countrySalesTier1Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="countyUseTier1Setamt" rendered = "#{!trDetail.isCountySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countryUseTier1Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="countySalesTier1MaxAmt" rendered = "#{trDetail.isCountySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countySalesTier1MaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="countyUseTier1MaxAmt" rendered = "#{!trDetail.isCountySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countyUseTier1MaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
			<h:inputText id="countySalesTier1MaxTaxAmt" rendered = "#{trDetail.isCountySalesTaxtypeUsedCode}"  style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countySalesMaxtaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			<h:inputText id="countyUseTier1MaxTaxAmt" rendered = "#{!trDetail.isCountySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countyUseMaxtaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			</td>
			<td  class = "column-input-taxrate">&#160;</td>
			
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty trDetail.countyTaxtypeUsedCode or  empty transactionViewBean.jurisdictionTaxrate  }">
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td  class = "column-input-taxrate">&#160;</td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.countyTaxcodeDetailId)}">
			  		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.taxableThresholdAmt}" disabled="true" style = "text-align: right">
			  				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
			  		</td>
			  		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.minimumTaxableAmt}" disabled="true" style = "text-align: right" >
			  				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			  		</h:inputText>
			  		</td>
			  		
			  		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.maximumTaxableAmt}" disabled="true" style = "text-align: right" >
			  				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			  		</h:inputText>
			  		</td>
			  		
			  		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.maximumTaxAmt}" disabled="true" style = "text-align: right">
			  				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			  		</h:inputText>
			  		
			  		</td>
			  		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.baseChangePct}" disabled="true" style = "text-align: right">
			  				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			  		</h:inputText>
			  		</td>
			  		<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXPROCTYP'][transactionViewBean.taxCodeDetail.taxProcessTypeCode]}">
			 		<td class = "column-input-taxrate"><h:inputText  value="#{cacheManager.listCodeMap['TAXPROCTYP'][transactionViewBean.taxCodeDetail.taxProcessTypeCode].description}" disabled="true"/></td>
			 	</h:panelGroup>
				 <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXPROCTYP'][transactionViewBean.taxCodeDetail.taxProcessTypeCode]}">
			 		 <td class = "column-input-taxrate"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxProcessTypeCode}" disabled="true"/></td>
			 	</h:panelGroup>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
			<td><h:selectBooleanCheckbox styleClass="countyTier1check" value="#{trDetail.countyTaxcodeOverBooleanFlag}" disabled="true" id="countyTaxcodeOverBooleanFlag"  /></td>
		</tr>
		
		<!-- county Tier-2 -->
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class= "column-label3" style = "width:362px">County - Tier2:</td>
			<td class = "column-input-taxrate">&#160;</td>
			
		<h:panelGroup rendered="#{(not empty trDetail.countryTaxtypeUsedCode) and (not empty transactionViewBean.jurisdictionTaxrate) }">
			<td class = "column-input-taxrate">
				<h:inputText id="countySalesTier2MinAmount" rendered = "#{trDetail.isCountySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countySalesTier2MinAmt}"  disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="countyUseTier2MinAmount" rendered = "#{!trDetail.isCountySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countyUseTier2MinAmt}"  disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			
			<td class = "column-input-taxrate">
				<h:inputText id="countySalesTier2Rate" rendered = "#{trDetail.isCountySalesTaxtypeUsedCode}"  style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countySalesTier2Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="countyUseTier2Rate"  rendered = "#{!trDetail.isCountySalesTaxtypeUsedCode}"  style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countyUseTier2Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="countySalesTier2Setamt" rendered = "#{trDetail.isCountySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countySalesTier2Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="countyUseTier2Setamt" rendered = "#{!trDetail.isCountySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countyUseTier2Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="countySalesTier2MaxAmt" rendered = "#{trDetail.isCountySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countySalesTier2MaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="countyUseTier2MaxAmt" rendered = "#{!trDetail.isCountySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countyUseTier2MaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td  class = "column-input-taxrate">&#160;</td>
			
			<td>
				<h:selectBooleanCheckbox id="countySalesTier2EntamFlag" rendered = "#{trDetail.isCountySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.countySalesTier2EntamFlag}" disabled="true"   />
				<h:selectBooleanCheckbox id="countyUseTier2EntamFlag" rendered = "#{!trDetail.isCountySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.countyUseTier2EntamFlag}" disabled="true"   />
				
			</td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty trDetail.countyTaxtypeUsedCode or  empty transactionViewBean.jurisdictionTaxrate  }">
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td  class = "column-input-taxrate">&#160;</td>
				<td><h:selectBooleanCheckbox id="countyUseTier2emptyEntamFlag" value="false" disabled="true"   /></td>
			</h:panelGroup>
		</tr>
		
		<!-- county Tier-3 -->
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class= "column-label3" style = "width:362px">County - Tier3:</td>
			<td class = "column-input-taxrate">&#160;</td>
			<td class = "column-input-taxrate">&#160;</td>
			
			<h:panelGroup rendered="#{(not empty trDetail.countyTaxtypeUsedCode) and (not empty transactionViewBean.jurisdictionTaxrate) }">
				<td class = "column-input-taxrate">
				<h:inputText id="countySalesTier3Rate"  rendered = "#{trDetail.isCountySalesTaxtypeUsedCode}"  style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countySalesTier3Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="countyUseTier3Rate"  rendered = "#{!trDetail.isCountySalesTaxtypeUsedCode}"  style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countyUseTier3Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="countySalesTier3Setamt" rendered = "#{trDetail.isCountySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countySalesTier3Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="countyUseTier3Setamt" rendered = "#{!trDetail.isCountySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countyUseTier3Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="countyTier3MaxAmt"  style = "text-align: right" value="*MAX" disabled="true" />
			</td>
			<td  class = "column-input-taxrate">&#160;</td>
			
			<td>
				<h:selectBooleanCheckbox id="countySalesTier3EntamFlag" rendered = "#{trDetail.isCountySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.countySalesTier3EntamFlag}" disabled="true"   />
				<h:selectBooleanCheckbox id="countyUseTier3EntamFlag"  rendered = "#{!trDetail.isCountySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.countyUseTier3EntamFlag}" disabled="true"   />
				
			</td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty trDetail.countyTaxtypeUsedCode or  empty transactionViewBean.jurisdictionTaxrate  }">
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate">&#160;</td>
				<td><h:selectBooleanCheckbox id="countyUseTier3emptyEntamFlag" value="false" disabled="true"   /></td>
	    </h:panelGroup>
		</tr>
		
			<!--  City  -->
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class= "column-label3" style = "width:362px">City - Tier1:</td>
			<td class = "column-input-taxrate"><h:inputText id="cityTier1TaxrateId" style="float:left;text-align: right;width:50px" value="#{trDetail.cityTaxrateId}" disabled="true" />
					<a4j:commandButton id="cityView" styleClass="image" 
					 style="width:16px;height:16px;#{(trDetail.cityTaxrateId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					      disabled="#{!(trDetail.cityTaxrateId > 0)}" 
		                 image="/images/view-small.png" immediate="true"
		              action="#{transactionViewBean.viewJurisdictionTaxRate}">
		              <f:param name="command" value="viewJurisdictionTaxrateFromTransaction" />
		              <f:param name="jurisdictionTaxRateId" value="#{trDetail.cityTaxrateId}" /> 
		            </a4j:commandButton>
			</td>
			<h:panelGroup rendered="#{(not empty trDetail.cityTaxtypeUsedCode) and (not empty transactionViewBean.getTaxRateAction(trDetail.cityTaxrateId)) }">
				<td class = "column-input-taxrate"><h:inputText id="cityTier1MinAmount" style = "text-align: right" value="0.00" disabled="true" /></td>
				<td class = "column-input-taxrate">
				<h:inputText id="citySalesTier1Rate" rendered = "#{trDetail.isCitySalesTaxtypeUsedCode}"   style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.citySalesTier1Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="cityUseTier1Rate"  rendered = "#{!trDetail.isCitySalesTaxtypeUsedCode}"  style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.cityUseTier1Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="citySalesTier1Setamt" rendered = "#{trDetail.isCitySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countrySalesTier1Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="cityUseTier1Setamt" rendered = "#{!trDetail.isCitySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.countryUseTier1Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="citySalesTier1MaxAmt" rendered = "#{trDetail.isCitySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.citySalesTier1MaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="cityUseTier1MaxAmt" rendered = "#{!trDetail.isCitySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.cityUseTier1MaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
			<h:inputText id="citySalesTier1MaxTaxAmt" rendered = "#{trDetail.isCitySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.citySalesMaxtaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			<h:inputText id="cityUseTier1MaxTaxAmt" rendered = "#{!trDetail.isCitySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.cityUseMaxtaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			</td>
			<td  class = "column-input-taxrate">&#160;</td>
			
			</h:panelGroup>
			<h:panelGroup rendered="#{empty trDetail.cityTaxtypeUsedCode or  empty transactionViewBean.jurisdictionTaxrate  }">
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td  class = "column-input-taxrate">&#160;</td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.cityTaxcodeDetailId)}">
			  		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.taxableThresholdAmt}" disabled="true" style = "text-align: right">
			  				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
			  		</td>
			  		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.minimumTaxableAmt}" disabled="true" style = "text-align: right" >
			  				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			  		</h:inputText>
			  		</td>
			  		
			  		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.maximumTaxableAmt}" disabled="true" style = "text-align: right" >
			  				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			  		</h:inputText>
			  		</td>
			  		
			  		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.maximumTaxAmt}" disabled="true" style = "text-align: right">
			  				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			  		</h:inputText>
			  		
			  		</td>
			  		<td class = "column-input-taxrate">
			  		<h:inputText  value="#{transactionViewBean.taxCodeDetail.baseChangePct}" disabled="true" style = "text-align: right">
			  				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			  		</h:inputText>
			  		</td>
			  		<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXPROCTYP'][transactionViewBean.taxCodeDetail.taxProcessTypeCode]}">
			 		 <td class = "column-input-taxrate"><h:inputText  value="#{cacheManager.listCodeMap['TAXPROCTYP'][transactionViewBean.taxCodeDetail.taxProcessTypeCode].description}" disabled="true"/></td>
			 	</h:panelGroup>
				 <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXPROCTYP'][transactionViewBean.taxCodeDetail.taxProcessTypeCode]}">
			 		 <td class = "column-input-taxrate"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxProcessTypeCode}" disabled="true"/></td>
			 	</h:panelGroup>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
			<td><h:selectBooleanCheckbox styleClass="cityTier1check" value="#{trDetail.cityTaxcodeOverBooleanFlag}" disabled="true" id="cityTaxcodeOverBooleanFlag"  /></td>
		</tr>
		
		<!-- city Tier-2 -->
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class= "column-label3" style = "width:362px">City - Tier2:</td>
			<td class = "column-input-taxrate">&#160;</td>
			
			<h:panelGroup rendered="#{(not empty trDetail.cityTaxtypeUsedCode) and (not empty transactionViewBean.jurisdictionTaxrate) }">
				<td class = "column-input-taxrate">
					<h:inputText id="citySalesTier2MinAmount" rendered = "#{trDetail.isCitySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.citySalesTier2MinAmt}"  disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				    <h:inputText id="cityUseTier2MinAmount" rendered = "#{!trDetail.isCitySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.cityUseTier2MinAmt}"  disabled="true" >
				    		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				    </h:inputText>
				</td>
				<td class = "column-input-taxrate">
				<h:inputText id="citySalesTier2Rate"  rendered = "#{trDetail.isCitySalesTaxtypeUsedCode}"  style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.citySalesTier2Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="cityUseTier2Rate"  rendered = "#{!trDetail.isCitySalesTaxtypeUsedCode}"  style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.cityUseTier2Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="citySalesTier2Setamt" rendered = "#{trDetail.isCitySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.citySalesTier2Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="cityUseTier2Setamt"  rendered = "#{!trDetail.isCitySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.cityUseTier2Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="citySalesTier2MaxAmt" rendered = "#{trDetail.isCitySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.citySalesTier2MaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="cityUseTier2MaxAmt" rendered = "#{!trDetail.isCitySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.cityUseTier2MaxAmt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td  class = "column-input-taxrate">&#160;</td>
			
			<td>
				<h:selectBooleanCheckbox id="citySalesTier2EntamFlag" rendered = "#{trDetail.isCitySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.citySalesTier2EntamFlag}" disabled="true"   />
				<h:selectBooleanCheckbox id="cityUseTier2EntamFlag" rendered = "#{!trDetail.isCitySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.cityUseTier2EntamFlag}" disabled="true"   />
			</td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty trDetail.cityTaxtypeUsedCode or  empty transactionViewBean.jurisdictionTaxrate  }">
			<td class = "column-input-taxrate"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input-taxrate"><h:inputText  value="" disabled="true"/></td>
			<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
			<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
			<td  class = "column-input-taxrate">&#160;</td>
			<td><h:selectBooleanCheckbox id="cityUseTier2emptyEntamFlag" value="false" disabled="true"   /></td>
			</h:panelGroup>
		</tr>
		
		<!-- city Tier-3 -->
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class= "column-label3" style = "width:362px">City - Tier3:</td>
			<td class = "column-input-taxrate">&#160;</td>
			<td class = "column-input-taxrate">&#160;</td>
			
			<h:panelGroup rendered="#{(not empty trDetail.cityTaxtypeUsedCode) and (not empty transactionViewBean.jurisdictionTaxrate) }">
				<td class = "column-input-taxrate">
				<h:inputText id="citySalesTier3Rate"  rendered = "#{trDetail.isCitySalesTaxtypeUsedCode}"  style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.citySalesTier3Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
					<h:inputText id="cityUseTier3Rate"  rendered = "#{!trDetail.isCitySalesTaxtypeUsedCode}"  style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.cityUseTier3Rate}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="citySalesTier3Setamt" rendered = "#{trDetail.isCitySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.citySalesTier3Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
				<h:inputText id="cityUseTier3Setamt" rendered = "#{!trDetail.isCitySalesTaxtypeUsedCode}" style = "text-align: right" value="#{transactionViewBean.jurisdictionTaxrate.cityUseTier3Setamt}" disabled="true" >
						<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
				</h:inputText>
			</td>
			<td class = "column-input-taxrate">
				<h:inputText id="cityTier3MaxAmt"  style = "text-align: right" value="*MAX" disabled="true" />
			</td>
			<td  class = "column-input-taxrate">&#160;</td>
			
			<td>
				<h:selectBooleanCheckbox id="citySalesTier3EntamFlag" rendered = "#{trDetail.isCitySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.citySalesTier3EntamFlag}" disabled="true"   />
				<h:selectBooleanCheckbox id="cityUseTier3EntamFlag" rendered = "#{!trDetail.isCitySalesTaxtypeUsedCode}" value="#{transactionViewBean.jurisdictionTaxrate.cityUseTier3EntamFlag}" disabled="true"   />
			</td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty trDetail.cityTaxtypeUsedCode or  empty transactionViewBean.jurisdictionTaxrate  }">
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-taxrate"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input-taxrate"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-taxrate">&#160;</td>
				<td><h:selectBooleanCheckbox id="cityUseTier3emptyEntamFlag" value="false" disabled="true"   /></td>
	    </h:panelGroup>
		</tr>
		
		<!--  STJ1 -->
		<h:panelGroup rendered="#{(not empty trDetail.stj1TaxtypeUsedCode) and (not empty transactionViewBean.getStjRateandSetAmt('1',trDetail.stj1TaxtypeUsedCode,trDetail.stj1TaxrateId,trDetail.stj1Name)) }">
			<tr>
				<td class="column-spacer">&#160;</td>
				<td class="column-label3" style = "width:362px">STJ 1:</td>
				<td class="column-input-taxrate">
				<h:inputText id="stj1TaxrateId" style="float:left;text-align: right;width:50px" value="#{trDetail.stj1TaxrateId}" disabled="true" />
					  <a4j:commandButton id="btnView39" styleClass="image" 
					   style="width:16px;height:16px;#{(trDetail.stj1TaxrateId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					      disabled="#{!(trDetail.stj1TaxrateId > 0)}" 
					    image="/images/view-small.png" immediate="true"
					    action="#{transactionViewBean.viewJurisdictionTaxRate}">
			              <f:param name="command" value="viewJurisdictionTaxrateFromTransaction" />
			              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj1TaxrateId}" /> 
			          </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td  class = "column-input-taxrate">
					<h:inputText id="stj1Rate"  style = "text-align: right" value="#{trDetail.stj1JurisdTaxRate}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
				<td  class = "column-input-taxrate">
					<h:inputText id="stj1Setamt" style = "text-align: right" value="#{trDetail.stj1JurisdTaxSetAmount}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
			</tr>
		</h:panelGroup>
		
		<!--  STJ2 -->
		<h:panelGroup rendered="#{(not empty trDetail.stj2TaxtypeUsedCode) and (not empty transactionViewBean.getStjRateandSetAmt('2',trDetail.stj2TaxtypeUsedCode,trDetail.stj2TaxrateId,trDetail.stj2Name)) }">
			<tr>
				<td class="column-spacer">&#160;</td>
				<td class="column-label3" style = "width:362px">STJ 2:</td>
				<td class="column-input-taxrate">
				<h:inputText id="stj2TaxrateId" style="text-align: right;width:50px" value="#{trDetail.stj2TaxrateId}" disabled="true" />
					  <a4j:commandButton id="btnView40" styleClass="image" 
					  style="width:16px;height:16px;#{(trDetail.stj2TaxrateId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					      disabled="#{!(trDetail.stj2TaxrateId > 0)}" 
					    image="/images/view-small.png" immediate="true"
					    action="#{transactionViewBean.viewJurisdictionTaxRate}">
			              <f:param name="command" value="viewJurisdictionTaxrateFromTransaction" />
			              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj2TaxrateId}" /> 
			          </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td  class = "column-input-taxrate">
					<h:inputText id="stj2Rate"  style = "text-align: right" value="#{trDetail.stj2JurisdTaxRate}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
				<td  class = "column-input-taxrate">
					<h:inputText id="stj2Setamt" style = "text-align: right" value="#{trDetail.stj2JurisdTaxSetAmount}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
			</tr>
		</h:panelGroup>
		
		<!--  STJ3 -->
		<h:panelGroup rendered="#{(not empty trDetail.stj3TaxtypeUsedCode) and (not empty transactionViewBean.getStjRateandSetAmt('3',trDetail.stj3TaxtypeUsedCode,trDetail.stj3TaxrateId,trDetail.stj3Name)) }">
			<tr>
				<td class="column-spacer">&#160;</td>
				<td class="column-label3" style = "width:362px">STJ 3:</td>
				<td class="column-input-taxrate">
				<h:inputText id="stj3TaxrateId" style="text-align: right;width:50px" value="#{trDetail.stj3TaxrateId}" disabled="true" />
					  <a4j:commandButton id="btnView41" styleClass="image" 
					    style="width:16px;height:16px;#{(trDetail.stj3TaxrateId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					      disabled="#{!(trDetail.stj3TaxrateId > 0)}" 
					    image="/images/view-small.png" immediate="true"
					    action="#{transactionViewBean.viewJurisdictionTaxRate}">
			              <f:param name="command" value="viewJurisdictionTaxrateFromTransaction" />
			              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj3TaxrateId}" /> 
			          </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td  class = "column-input-taxrate">
					<h:inputText id="stj3Rate"  style = "text-align: right" value="#{trDetail.stj3JurisdTaxRate}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
				<td  class = "column-input-taxrate">
					<h:inputText id="stj3Setamt" style = "text-align: right" value="#{trDetail.stj3JurisdTaxSetAmount}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
			</tr>
		</h:panelGroup>
		
		<!--  STJ4 -->
		<h:panelGroup rendered="#{(not empty trDetail.stj4TaxtypeUsedCode) and (not empty transactionViewBean.getStjRateandSetAmt('4',trDetail.stj4TaxtypeUsedCode,trDetail.stj4TaxrateId,trDetail.stj4Name)) }">
			<tr>
				<td class="column-spacer">&#160;</td>
				<td class="column-label3" style = "width:362px">STJ 4:</td>
				<td class="column-input-taxrate">
				<h:inputText id="stj4TaxrateId" style="text-align: right;width:50px" value="#{trDetail.stj4TaxrateId}" disabled="true" />
					  <a4j:commandButton id="btnView42" styleClass="image" 
					    style="width:16px;height:16px;#{(trDetail.stj4TaxrateId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					      disabled="#{!(trDetail.stj4TaxrateId > 0)}"  
					    image="/images/view-small.png" immediate="true"
					    action="#{transactionViewBean.viewJurisdictionTaxRate}">
			              <f:param name="command" value="viewJurisdictionTaxrateFromTransaction" />
			              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj4TaxrateId}" /> 
			          </a4j:commandButton>
				</td>
				<td>&#160;</td>
			<td  class = "column-input-taxrate">
					<h:inputText id="stj4Rate"  style = "text-align: right" value="#{trDetail.stj4JurisdTaxRate}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
				<td  class = "column-input-taxrate">
					<h:inputText id="stj4Setamt" style = "text-align: right" value="#{trDetail.stj4JurisdTaxSetAmount}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
			</tr>
		</h:panelGroup>
		
		<!--  STJ5 -->
		<h:panelGroup rendered="#{(not empty trDetail.stj5TaxtypeUsedCode) and (not empty transactionViewBean.getStjRateandSetAmt('5',trDetail.stj5TaxtypeUsedCode,trDetail.stj5TaxrateId,trDetail.stj5Name)) }">
			<tr>
				<td class="column-spacer">&#160;</td>
				<td class="column-label3" style = "width:362px">STJ 5:</td>
				<td class="column-input-taxrate">
				<h:inputText id="stj5TaxrateId" style="text-align: right;width:50px" value="#{trDetail.stj5TaxrateId}" disabled="true" />
					  <a4j:commandButton id="btnView43" styleClass="image" 
					    style="width:16px;height:16px;#{(trDetail.stj5TaxrateId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					      disabled="#{!(trDetail.stj5TaxrateId > 0)}" 
					    image="/images/view-small.png" immediate="true"
					    action="#{transactionViewBean.viewJurisdictionTaxRate}">
			              <f:param name="command" value="viewJurisdictionTaxrateFromTransaction" />
			              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj5TaxrateId}" /> 
			          </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td  class = "column-input-taxrate">
					<h:inputText id="stj5Rate"  style = "text-align: right" value="#{trDetail.stj5JurisdTaxRate}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
				<td  class = "column-input-taxrate">
					<h:inputText id="stj5Setamt" style = "text-align: right" value="#{trDetail.stj5JurisdTaxSetAmount}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
			</tr>
		</h:panelGroup>
		
		<!--  STJ6 -->
		<h:panelGroup rendered="#{(not empty trDetail.stj6TaxtypeUsedCode) and (not empty transactionViewBean.getStjRateandSetAmt('6',trDetail.stj6TaxtypeUsedCode,trDetail.stj6TaxrateId,trDetail.stj6Name)) }">
			<tr>
				<td class="column-spacer">&#160;</td>
				<td class="column-label3" style = "width:362px">STJ 6:</td>
				<td class="column-input-taxrate">
				<h:inputText id="stj6TaxrateId" style="text-align: right;width:50px" value="#{trDetail.stj6TaxrateId}" disabled="true" />
					  <a4j:commandButton id="btnView44" styleClass="image" 
					    style="width:16px;height:16px;#{(trDetail.stj6TaxrateId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					      disabled="#{!(trDetail.stj6TaxrateId > 0)}" 
					    image="/images/view-small.png" immediate="true"
					    action="#{transactionViewBean.viewJurisdictionTaxRate}">
			              <f:param name="command" value="viewJurisdictionTaxrateFromTransaction" />
			              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj6TaxrateId}" /> 
			          </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td  class = "column-input-taxrate">
					<h:inputText id="stj6Rate"  style = "text-align: right" value="#{trDetail.stj6JurisdTaxRate}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
				<td  class = "column-input-taxrate">
					<h:inputText id="stj6Setamt" style = "text-align: right" value="#{trDetail.stj6JurisdTaxSetAmount}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
			</tr>
		</h:panelGroup>
		
			<!--  STJ7 -->
		<h:panelGroup rendered="#{(not empty trDetail.stj7TaxtypeUsedCode) and (not empty transactionViewBean.getStjRateandSetAmt('7',trDetail.stj7TaxtypeUsedCode,trDetail.stj7TaxrateId,trDetail.stj7Name)) }">
			<tr>
				<td class="column-spacer">&#160;</td>
				<td class="column-label3" style = "width:362px">STJ 7:</td>
				<td class="column-input-taxrate">
				<h:inputText id="stj7TaxrateId" style="text-align: right;width:50px" value="#{trDetail.stj7TaxrateId}" disabled="true" />
					  <a4j:commandButton id="btnView45" styleClass="image" 
					    style="width:16px;height:16px;#{(trDetail.stj7TaxrateId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					      disabled="#{!(trDetail.stj7TaxrateId > 0)}" 
					    image="/images/view-small.png" immediate="true"
					    action="#{transactionViewBean.viewJurisdictionTaxRate}">
			              <f:param name="command" value="viewJurisdictionTaxrateFromTransaction" />
			              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj7TaxrateId}" /> 
			          </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td  class = "column-input-taxrate">
					<h:inputText id="stj7Rate"  style = "text-align: right" value="#{trDetail.stj7JurisdTaxRate}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
				<td  class = "column-input-taxrate">
					<h:inputText id="stj7Setamt" style = "text-align: right" value="#{trDetail.stj7JurisdTaxSetAmount}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
			</tr>
		</h:panelGroup>
		
			<!--  STJ8 -->
		<h:panelGroup rendered="#{(not empty trDetail.stj8TaxtypeUsedCode) and (not empty transactionViewBean.getStjRateandSetAmt('8',trDetail.stj8TaxtypeUsedCode,trDetail.stj8TaxrateId,trDetail.stj8Name)) }">
			<tr>
				<td class="column-spacer">&#160;</td>
				<td class="column-label3" style = "width:362px">STJ 8:</td>
				<td class="column-input-taxrate">
				<h:inputText id="stj8TaxrateId" style="text-align: right;width:50px" value="#{trDetail.stj8TaxrateId}" disabled="true" />
					  <a4j:commandButton id="btnView46" styleClass="image" 
					    style="width:16px;height:16px;#{(trDetail.stj8TaxrateId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					      disabled="#{!(trDetail.stj8TaxrateId > 0)}" 
					    image="/images/view-small.png" immediate="true"
					    action="#{transactionViewBean.viewJurisdictionTaxRate}">
			              <f:param name="command" value="viewJurisdictionTaxrateFromTransaction" />
			              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj8TaxrateId}" /> 
			          </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td  class = "column-input-taxrate">
					<h:inputText id="stj8Rate"  style = "text-align: right" value="#{trDetail.stj8JurisdTaxRate}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
				<td  class = "column-input-taxrate">
					<h:inputText id="stj8Setamt" style = "text-align: right" value="#{trDetail.stj8JurisdTaxSetAmount}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
			</tr>
		</h:panelGroup>
		
			<!--  STJ9 -->
		<h:panelGroup rendered="#{(not empty trDetail.stj9TaxtypeUsedCode) and (not empty transactionViewBean.getStjRateandSetAmt('9',trDetail.stj9TaxtypeUsedCode,trDetail.stj9TaxrateId,trDetail.stj9Name)) }">
			<tr>
				<td class="column-spacer">&#160;</td>
				<td class="column-label3" style = "width:362px">STJ 9:</td>
				<td class="column-input-taxrate">
				<h:inputText id="stj9TaxrateId" style="text-align: right;width:50px" value="#{trDetail.stj9TaxrateId}" disabled="true" />
					  <a4j:commandButton id="btnView47" styleClass="image" 
					    style="width:16px;height:16px;#{(trDetail.stj9TaxrateId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					      disabled="#{!(trDetail.stj9TaxrateId > 0)}" 
					    image="/images/view-small.png" immediate="true"
					    action="#{transactionViewBean.viewJurisdictionTaxRate}">
			              <f:param name="command" value="viewJurisdictionTaxrateFromTransaction" />
			              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj9TaxrateId}" /> 
			          </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td  class = "column-input-taxrate">
					<h:inputText id="stj9Rate"  style = "text-align: right" value="#{trDetail.stj9JurisdTaxRate}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
				<td  class = "column-input-taxrate">
					<h:inputText id="stj9Setamt" style = "text-align: right" value="#{trDetail.stj9JurisdTaxSetAmount}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
			</tr>
		</h:panelGroup>
		
			<!--  STJ10 -->
		<h:panelGroup rendered="#{(not empty trDetail.stj10TaxtypeUsedCode) and (not empty transactionViewBean.getStjRateandSetAmt('10',trDetail.stj10TaxtypeUsedCode,trDetail.stj10TaxrateId,trDetail.stj10Name)) }">
			<tr>
				<td class="column-spacer">&#160;</td>
				<td class="column-label3" style = "width:362px">STJ 10:</td>
				<td class="column-input-taxrate">
				<h:inputText id="stj10TaxrateId" style="text-align: right;width:50px" value="#{trDetail.stj10TaxrateId}" disabled="true" />
					  <a4j:commandButton id="btnView48" styleClass="image" 
					    style="width:16px;height:16px;#{(trDetail.stj10TaxrateId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					      disabled="#{!(trDetail.stj10TaxrateId > 0)}" 
					    image="/images/view-small.png" immediate="true"
					    action="#{transactionViewBean.viewJurisdictionTaxRate}">
			              <f:param name="command" value="viewJurisdictionTaxrateFromTransaction" />
			              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj10TaxrateId}" /> 
			          </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td  class = "column-input-taxrate">
					<h:inputText id="stj10Rate"  style = "text-align: right" value="#{trDetail.stj10JurisdTaxRate}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
				<td  class = "column-input-taxrate">
					<h:inputText id="stj10Setamt" style = "text-align: right" value="#{trDetail.stj10JurisdTaxSetAmount}" disabled="true" >
							<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
					</h:inputText>
				</td>
			</tr>
		</h:panelGroup>
		
		
		
		</tbody>
	</table>
	</rich:simpleTogglePanel>
</ui:component>