<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">
	<rich:simpleTogglePanel id="calculatedAmounts" switchType="ajax"
					label="Calculated Amounts"
					actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
					opened="#{transactionViewBean.togglePanelController.togglePanels['calculatedAmounts']}"
					bodyClass="togglepanel-body" headerClass="togglepanel-header"
					styleClass="togglepanel">
					<f:facet name="openMarker">
						<h:graphicImage style="vertical-align:middle;"
							url="/images/triangle-e.png"></h:graphicImage>
					</f:facet>
					<f:facet name="closeMarker">
						<h:graphicImage style="vertical-align:middle;"
							url="/images/triangle-s.png"></h:graphicImage>
					</f:facet>   
			
		<table cellpadding="0" cellspacing="0" width="100%">
		<tbody>
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label-calc">&#160;</td>
			<td class="column-label-calc">Calculate Taxes:</td>
			<td class="column-label-calc" >Calculated Tax Amount</td>
			<td class="column-label-calc" >Tier1 Taxable Amount</td>
			<td class="column-label-calc">Tier1 Tax Amount</td>
			<td class="column-label-calc">Tier2 Taxable Amount</td>
			<td class="column-label-calc">Tier2 Tax Amount</td>
			<td class="column-label-calc">Tier3 Taxable Amount</td>
			<td class="column-label-calc">Tier3 Tax Amount</td>
			<td class= "column-label-calc" style = "width:306px">&#160;</td>
			<td class= "column-label-calc">&#160;</td>
			
		</tr>
		 <tr>
			<td class="column-spacer">&#160;</td>
			<td class= "column-label3" style = "width:332px">Country:</td>
			<td><h:selectBooleanCheckbox styleClass="check" value="#{trDetail.countryFlag == 1}" disabled="true" /></td>
			<td class = "column-input8" >
			 <h:inputText id="countryCalTaxAmtId" style="text-align: right;" value="#{trDetail.countryTier1TaxAmt + trDetail.countryTier2TaxAmt + trDetail.countryTier3TaxAmt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="countryTier1TaxableAmtId" style="text-align: right;" value="#{trDetail.countryTier1TaxableAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countryTier1TaxAmtId" style="text-align: right;" value="#{trDetail.countryTier1TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			</h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countryTier2TaxableAmtId" style="text-align: right;" value="#{trDetail.countryTier2TaxableAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countryTier2TaxAmtId" style="text-align: right;" value="#{trDetail.countryTier2TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countryTier3TaxableAmtId" style="text-align: right;" value="#{trDetail.countryTier3TaxableAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countryTier3TaxAmtId" style="text-align: right;" value="#{trDetail.countryTier3TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td>&#160;</td>
		 </tr>
		 
		  <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">State:</td>
			<td><h:selectBooleanCheckbox styleClass="check" value="#{trDetail.stateFlag == 1}" disabled="true" /></td>
			<td class = "column-input8">
			 <h:inputText id="stateCalTaxAmtId" style="text-align: right;" value="#{trDetail.stateTier1TaxAmt + trDetail.stateTier2TaxAmt + trDetail.stateTier3TaxAmt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stateTier1TaxableAmtId" style="text-align: right;" value="#{trDetail.stateTier1TaxableAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="stateTier1TaxAmtId" style="text-align: right;" value="#{trDetail.stateTier1TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			</h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="stateTier2TaxableAmtId" style="text-align: right;" value="#{trDetail.stateTier2TaxableAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="stateTier2TaxAmtId" style="text-align: right;" value="#{trDetail.stateTier2TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="stateTier3TaxableAmtId" style="text-align: right;" value="#{trDetail.stateTier3TaxableAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="stateTier3TaxAmtId" style="text-align: right;" value="#{trDetail.stateTier3TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
		 </tr>
		 
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">County:</td>
			<td><h:selectBooleanCheckbox styleClass="check" value="#{trDetail.countyFlag == 1}" disabled="true" /></td>
			<td class = "column-input8">
			 <h:inputText id="countyCalTaxAmtId" style="text-align: right;" value="#{trDetail.countyTier1TaxAmt + trDetail.countyTier2TaxAmt + trDetail.countyTier3TaxAmt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="countyTier1TaxableAmtId" style="text-align: right;" value="#{trDetail.countyTier1TaxableAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countyTier1TaxAmtId" style="text-align: right;" value="#{trDetail.countyTier1TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			</h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countyTier2TaxableAmtId" style="text-align: right;" value="#{trDetail.countyTier2TaxableAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countyTier2TaxAmtId" style="text-align: right;" value="#{trDetail.countyTier2TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countyTier3TaxableAmtId" style="text-align: right;" value="#{trDetail.countyTier3TaxableAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countyTier3TaxAmtId" style="text-align: right;" value="#{trDetail.countyTier3TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
		 </tr>
		 
	    <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">County Local:</td>
			<td>&#160;</td>
			<td class = "column-input8">
			 <h:inputText id="countyLocalCalTaxAmtId" style="text-align: right;" value="#{trDetail.countyLocalTaxAmt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			
		 </tr>
		 
		    <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">City:</td>
			<td><h:selectBooleanCheckbox styleClass="check" value="#{trDetail.cityFlag == 1}" disabled="true" /></td>
			<td class = "column-input8">
			 <h:inputText id="cityCalTaxAmtId" style="text-align: right;" value="#{trDetail.cityTier1TaxAmt + trDetail.cityTier2TaxAmt + trDetail.cityTier3TaxAmt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="cityTier1TaxableAmtId" style="text-align: right;" value="#{trDetail.cityTier1TaxableAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="cityTier1TaxAmtId" style="text-align: right;" value="#{trDetail.cityTier1TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			</h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="cityTier2TaxableAmtId" style="text-align: right;" value="#{trDetail.cityTier2TaxableAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="cityTier2TaxAmtId" style="text-align: right;" value="#{trDetail.cityTier2TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="cityTier3TaxableAmtId" style="text-align: right;" value="#{trDetail.cityTier3TaxableAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="cityTier3TaxAmtId" style="text-align: right;" value="#{trDetail.cityTier3TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
	  </tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">City Local:</td>
			<td>&#160;</td>
			<td class = "column-input8">
			 <h:inputText id="cityLocalCalTaxAmtId" style="text-align: right;" value="#{trDetail.cityLocalTaxAmt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			
		 </tr>
		 
		<h:panelGroup rendered="#{ not empty trDetail.stj1Name}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 1:</td>
				<td><h:selectBooleanCheckbox styleClass="check" value="#{trDetail.stj1Flag == 1}" disabled="true" /></td>
			<td class = "column-input8">
			 <h:inputText id="stj1CalTaxAmtId" style="text-align: right;" value="#{trDetail.stj1TaxAmt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj1TaxableAmtId" style="text-align: right;" value="#{trDetail.stj1TaxableAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	   <h:panelGroup rendered="#{ not empty trDetail.stj2Name}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 2:</td>
				<td><h:selectBooleanCheckbox styleClass="check" value="#{trDetail.stj2Flag == 1}" disabled="true" /></td>
			<td class = "column-input8">
			 <h:inputText id="stj2CalTaxAmtId" style="text-align: right;" value="#{trDetail.stj2TaxAmt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj2TaxableAmtId" style="text-align: right;"  value="#{trDetail.stj2TaxableAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	   <h:panelGroup rendered="#{ not empty trDetail.stj3Name}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 3:</td>
				<td><h:selectBooleanCheckbox styleClass="check" value="#{trDetail.stj3Flag == 1}" disabled="true" /></td>
			<td class = "column-input8">
			 <h:inputText id="stj3CalTaxAmtId" style="text-align: right;" value="#{trDetail.stj3TaxAmt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj3TaxableAmtId" style="text-align: right;" value="#{trDetail.stj3TaxableAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	   <h:panelGroup rendered="#{ not empty trDetail.stj4Name}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 4:</td>
				<td><h:selectBooleanCheckbox styleClass="check" value="#{trDetail.stj4Flag == 1}" disabled="true" /></td>
			<td class = "column-input8">
			 <h:inputText id="stj4CalTaxAmtId" style="text-align: right;" value="#{trDetail.stj4TaxAmt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj4TaxableAmtId" style="text-align: right;" value="#{trDetail.stj4TaxableAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	   <h:panelGroup rendered="#{ not empty trDetail.stj5Name}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 5:</td>
				<td><h:selectBooleanCheckbox styleClass="check" value="#{trDetail.stj5Flag == 1}" disabled="true" /></td>
			<td class = "column-input8">
			 <h:inputText id="stj5CalTaxAmtId" style="text-align: right;" value="#{trDetail.stj5TaxAmt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj5TaxableAmtId" style="text-align: right;" value="#{trDetail.stj5TaxableAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	   <h:panelGroup rendered="#{ not empty trDetail.stj6Name}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 6:</td>
			<td><h:selectBooleanCheckbox styleClass="check" value="#{trDetail.stj6Flag == 1}" disabled="true" /></td>
			<td class = "column-input8">
			 <h:inputText id="stj6CalTaxAmtId" style="text-align: right;" value="#{trDetail.stj6TaxAmt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj6TaxableAmtId" style="text-align: right;" value="#{trDetail.stj6TaxableAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	   <h:panelGroup rendered="#{ not empty trDetail.stj7Name}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 7:</td>
			<td><h:selectBooleanCheckbox styleClass="check" value="#{trDetail.stj7Flag == 1}" disabled="true" /></td>
			<td class = "column-input8">
			 <h:inputText id="stj7CalTaxAmtId" style="text-align: right;" value="#{trDetail.stj7TaxAmt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj7TaxableAmtId" style="text-align: right;" value="#{trDetail.stj7TaxableAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	   <h:panelGroup rendered="#{ not empty trDetail.stj8Name}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 8:</td>
			<td><h:selectBooleanCheckbox styleClass="check" value="#{trDetail.stj8Flag == 1}" disabled="true" /></td>
			<td class = "column-input8">
			 <h:inputText id="stj8CalTaxAmtId" style="text-align: right;" value="#{trDetail.stj8TaxAmt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj8TaxableAmtId" style="text-align: right;" value="#{trDetail.stj8TaxableAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	   <h:panelGroup rendered="#{ not empty trDetail.stj9Name}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 9:</td>
			<td><h:selectBooleanCheckbox styleClass="check" value="#{trDetail.stj9Flag == 1}" disabled="true" /></td>
			<td class = "column-input8">
			 <h:inputText id="stj9CalTaxAmtId" style="text-align: right;" value="#{trDetail.stj9TaxAmt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj9TaxableAmtId" style="text-align: right;" value="#{trDetail.stj9TaxableAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	   <h:panelGroup rendered="#{ not empty trDetail.stj10Name}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 10:</td>
			<td><h:selectBooleanCheckbox styleClass="check" value="#{trDetail.stj10Flag == 1}" disabled="true" /></td>
			<td class = "column-input8">
			 <h:inputText id="stj10CalTaxAmtId" style="text-align: right;" value="#{trDetail.stj10TaxAmt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj10TaxableAmtId" style="text-align: right;" value="#{trDetail.stj10TaxableAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	  
	  <h:panelGroup rendered="#{trDetail.distr01Amt > 0}">
	      <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">Distribution 1:</td>
			<td>&#160;</td>
			<td class = "column-input8">
			 <h:inputText id="distributionLocalCalTaxAmtId1" style="text-align: right;" value="#{trDetail.distr01Amt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			
		 </tr>
	  </h:panelGroup> 
	  
	  <h:panelGroup rendered="#trDetail.distr02Amt > 0}">
	      <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">Distribution 2:</td>
			<td>&#160;</td>
			<td class = "column-input8">
			 <h:inputText id="distributionLocalCalTaxAmtId2" style="text-align: right;" value="#{trDetail.distr02Amt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			
		 </tr>
	  </h:panelGroup> 
	  
	  <h:panelGroup rendered="#{trDetail.distr03Amt > 0}">
	      <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">Distribution 3:</td>
			<td>&#160;</td>
			<td class = "column-input8">
			 <h:inputText id="distributionLocalCalTaxAmtId3" style="text-align: right;" value="#{trDetail.distr03Amt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			
		 </tr>
	  </h:panelGroup> 
	  
	  <h:panelGroup rendered="#{trDetail.distr04Amt > 0}">
	      <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">Distribution 4:</td>
			<td>&#160;</td>
			<td class = "column-input8">
			 <h:inputText id="distributionLocalCalTaxAmtId4" style="text-align: right;" value="#{trDetail.distr04Amt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			
		 </tr>
	  </h:panelGroup> 
	  
	  <h:panelGroup rendered="#{trDetail.distr05Amt > 0}">
	      <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">Distribution 5:</td>
			<td>&#160;</td>
			<td class = "column-input8">
			 <h:inputText id="distributionLocalCalTaxAmtId5" style="text-align: right;" value="#{trDetail.distr05Amt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			
		 </tr>
	  </h:panelGroup> 
	  
	  <h:panelGroup rendered="#{trDetail.distr06Amt > 0}">
	      <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">Distribution 6:</td>
			<td>&#160;</td>
			<td class = "column-input8">
			 <h:inputText id="distributionLocalCalTaxAmtId6" style="text-align: right;" value="#{trDetail.distr06Amt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			
		 </tr>
	  </h:panelGroup> 
	  
	  <h:panelGroup rendered="#{trDetail.distr07Amt > 0}">
	      <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">Distribution 7:</td>
			<td>&#160;</td>
			<td class = "column-input8">
			 <h:inputText id="distributionLocalCalTaxAmtId7" style="text-align: right;" value="#{trDetail.distr07Amt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			
		 </tr>
	  </h:panelGroup> 
	  
	  <h:panelGroup rendered="#{trDetail.distr08Amt > 0}">
	      <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">Distribution 8:</td>
			<td>&#160;</td>
			<td class = "column-input8">
			 <h:inputText id="distributionLocalCalTaxAmtId8" style="text-align: right;" value="#{trDetail.distr08Amt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			
		 </tr>
	  </h:panelGroup> 
	  
	  <h:panelGroup rendered="#{trDetail.distr09Amt > 0}">
	      <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">Distribution 9:</td>
			<td>&#160;</td>
			<td class = "column-input8">
			 <h:inputText id="distributionLocalCalTaxAmtId9" style="text-align: right;" value="#{trDetail.distr09Amt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			
		 </tr>
	  </h:panelGroup> 
	  
	  <h:panelGroup rendered="#{trDetail.distr10Amt > 0}">
	      <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">Distribution 10:</td>
			<td>&#160;</td>
			<td class = "column-input8">
			 <h:inputText id="distributionLocalCalTaxAmtId10" style="text-align: right;" value="#{trDetail.distr10Amt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			
		 </tr>
	  </h:panelGroup> 
		 
		
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">Total:</td>
			<td>&#160;</td>
			<td class = "column-input8">
			 <h:inputText id="totalCalTaxAmtId" style="text-align: right;" value="#{trDetail.tbCalcTaxAmt}" disabled="true" >
			 		<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="totalTier1TaxableAmtId" style="text-align: right;" value="#{trDetail.taxableAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
			</td>
			
	       </tr>
		
	  
	</tbody>
	</table>
	</rich:simpleTogglePanel>
</ui:component>
