<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

z	<div id="embedded-table">
		<h:panelGrid id="shipTogglePanel" columns="1" width="100%">
			<rich:simpleTogglePanel id="shipToInformation" switchType="ajax"
				label="Ship To Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['shipToInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>
			  <a4j:outputPanel id="shiptopanel" ajaxRendered="true" layout="block">
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>

						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['shiptoLocation']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['shiptoLocation'].description}:" /></td>
							<td class="column-input"><h:inputText id = "shiptoLocn" maxlength = "100"
									value="#{trDetail.shiptoLocation}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['shiptoLocationName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['shiptoLocationName'].description}:" /></td>
							<td class="column-input2"><h:inputText id = "shiptoLocnname" maxlength = "100"
									value="#{trDetail.shiptoLocationName}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
					
						<tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['shiptoLocnMatrixId']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['shiptoLocnMatrixId'].description}:" /></td>
						<td><h:inputText id = "shiptoLocnMatrixId" style="float:left;	width: 136px;text-align: left;" rendered = "#{transactionDetailBean.isViewScreen}"
								value="#{trDetail.shiptoLocnMatrixId}" disabled = "true" />
							<h:inputText  id = "shiptoLocnMatrixIdView" style="float:left;	width: 153px;text-align: left;" rendered = "#{!transactionDetailBean.isViewScreen}"
							value="#{trDetail.shiptoLocnMatrixId}" disabled = "true" />
						<c:if test="#{trDetail.shiptoLocnMatrixId > 0}">
							<a4j:commandButton id="shiptoLocationMatrixBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
									image="/images/view-small.png" immediate="true"
									action="#{transactionViewBean.viewLocationMatrixAction}">
									 <f:param name = "locnMatrixId" value="#{trDetail.shiptoLocnMatrixId}"/>
							</a4j:commandButton>
			            </c:if>		
						</td>
						<td class="column-spacer">&#160;</td>
					   </tr>
						<tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['shiptoManualJurInd']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['shiptoManualJurInd'].description}:" /></td>
						<c:if test = "#{ not empty cacheManager.listCodeMap['MANUAL'][trDetail.shiptoManualJurInd]}">
						<td class="column-input"><h:inputText id = "shiptoManualJurInd" maxlength = "10"
								value="#{cacheManager.listCodeMap['MANUAL'][trDetail.shiptoManualJurInd].description}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
						</c:if>
						<c:if test = "#{ empty cacheManager.listCodeMap['MANUAL'][trDetail.shiptoManualJurInd]}">
						<td class="column-input"><h:inputText id = "shiptoManualJurIndView" maxlength = "10"
								value="#{trDetail.shiptoManualJurInd}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
						</c:if>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2">&#160;</td>
						<td class="column-input2">&#160;</td>
						<td class="column-spacer">&#160;</td>
					   </tr>
					   
					   <tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['shiptoEntityId']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['shiptoEntityId'].description}:" /></td>
						<c:if test="#{transactionDetailBean.isViewScreen}">
						    <td class="column-input2-search">
							<c:if test = "#{not empty transactionViewBean.getTransEntityCode(trDetail.shiptoEntityId) }">
							<h:inputText id = "notemptyentityCode" style="float:left;" 
									value="#{transactionViewBean.aEntityItem.entityCode} - #{transactionViewBean.aEntityItem.entityName}" disabled = "#{transactionDetailBean.isViewScreen}" />
							</c:if>
							<c:if test = "#{empty transactionViewBean.aEntityItem }">
							<h:inputText id = "emptyentityCode" style="float:left;" 
									value="#{trDetail.shiptoEntityId}" disabled = "#{transactionDetailBean.isViewScreen}" />
							</c:if>
							<c:if test="#{not empty trDetail.shiptoEntityId}">
								<a4j:commandButton id="shiptoEntityCodeBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
										image="/images/view-small.png" immediate="true"
										action="#{transactionViewBean.viewEntityCodeAction}">
										<f:param name = "entityId" value="#{trDetail.shiptoEntityId}"/>
								</a4j:commandButton>
					        </c:if>
					        </td>	
					     </c:if>
				    
				       <c:if test="#{!transactionDetailBean.isViewScreen}">
				        <td>	
		                <h:selectOneMenu id="shiptonotempty" style="float:left;width:140px;"   value="#{transactionViewBean.txnLocnShiptoJurisdictionHandler.entityCode}" immediate="true" >
							<f:selectItems id = "shiptoselitem" value="#{matrixCommonBean.allEntityItems}" />
							<a4j:support  id = "shiptoEntityneeventId" event="onchange" reRender= "shiptopanel" actionListener="#{commonCallBack.entitySelectionChanged}" action = "#{commonCallBack.getTxnLocnEditSelectedEntity('shipto')}" />
		                </h:selectOneMenu>      
					  
					    <a4j:commandButton id="shiptoEntityIdBtn" styleClass="image" 
									style="float:left;width:16px;height:16px;" reRender = "shiptopanel"
									image="/images/search_small.png" immediate="true" 
									action="#{commonCallBack.findTxnLocnEditAction}">
									<f:param name = "entityType" value="shipto"/>
						</a4j:commandButton>
						</td>	
					   </c:if>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2">&#160;</td>
						<td class="column-input2">&#160;</td>
						<td class="column-spacer">&#160;</td>
					   </tr>
						<tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['shiptoLat']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['shiptoLat'].description}:" /></td>
						<td class="column-input"><h:inputText id = "shiptoLat" maxlength = "100"
								value="#{trDetail.shiptoLat}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['shiptoLong']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['shiptoLong'].description}:" /></td>
						<td class="column-input2"><h:inputText id = "shiptoLong" maxlength = "100"
								value="#{trDetail.shiptoLong}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
						<td class="column-spacer">&#160;</td>
					   </tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['shiptoAddressLine1']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['shiptoAddressLine1'].description}:" /></td>
							<td class="column-input2" ><h:inputText id = "shiptoAddressLine1" maxlength = "100"
									value="#{trDetail.shiptoAddressLine1}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['shiptoAddressLine2']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['shiptoAddressLine2'].description}:" /></td>
							<td class="column-input2" ><h:inputText id = "shiptoAddressLine2" maxlength = "100"
									value="#{trDetail.shiptoAddressLine2}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						
						<tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['shiptoJurisdictionId']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['shiptoJurisdictionId'].description}:" /></td>
						<td class="column-input-search"><h:inputText  id = "shiptoJurisdictionId" style="float:left" binding="#{transactionViewBean.txnLocnShiptoJurisdictionHandler.jurisdictionIdInput}"
								value="#{transactionViewBean.txnLocnShiptoJurisdictionHandler.jurisdictionId}" disabled = "true" />
							  <a4j:commandButton id="shiptoJurisdictionIdBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
				                   image="/images/view-small.png" immediate="true"
				                   rendered="#{(transactionDetailBean.isViewScreen) and (trDetail.shiptoJurisdictionId != 0) and (not empty trDetail.shiptoJurisdictionId)}"
					               action="#{transactionViewBean.viewJurisdiction}">
					              <f:param name="command" value="viewJurisdictionFromTransaction" />
					              <f:param name="jurisdictiondId" value="#{trDetail.shiptoJurisdictionId}" /> 
	                          </a4j:commandButton>
						</td>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2">&#160;</td>
						<td class="column-input2">&#160;</td>
						<td class="column-spacer">&#160;</td>
					   </tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							  <td colspan="6">
								<ui:include id= "txnLocnShiptoJurScr" src="/WEB-INF/view/components/jurisdiction_screen.xhtml">
									<ui:param name="handler" value="#{transactionViewBean.txnLocnShiptoJurisdictionHandler}"/>
									<ui:param name="id" value="jurdstoInputId"/>
									<ui:param name="readonly" value="#{transactionDetailBean.isViewScreen}"/>
									<ui:param name="showheaders" value="true"/>
									<ui:param name="showzipplus4" value="true"/>
									<ui:param name="popupName" value="searchJurisdictionModify"/>
									<ui:param name="popupForm" value="searchJurisdictionFormModify"/>
									<ui:param name="showStjNames" value="true"/>
									<ui:param name="label1" value="#{matrixCommonBean.transactionPropertyMap['shiptoStj1Name'].description}:" />
									<ui:param name="label2" value="#{matrixCommonBean.transactionPropertyMap['shiptoStj2Name'].description}:"/>
									<ui:param name="label3" value="#{matrixCommonBean.transactionPropertyMap['shiptoStj3Name'].description}:" />
									<ui:param name="label4" value="#{matrixCommonBean.transactionPropertyMap['shiptoStj4Name'].description}:"/>
									<ui:param name="label5" value="#{matrixCommonBean.transactionPropertyMap['shiptoStj5Name'].description}:" />
								</ui:include>
							  </td>
					    </tr>
					</tbody>
				</table>
		      </a4j:outputPanel>
			</rich:simpleTogglePanel>
			
			<!-- Ship From Information -->
			<rich:simpleTogglePanel id="shipFromInformation" switchType="ajax"
				label="Ship From Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['shipFromInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>
		      <a4j:outputPanel id="shipfrompanel" ajaxRendered="true" layout="block">		
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>

						<tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['shipfromLocnMatrixId']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['shipfromLocnMatrixId'].description}:" /></td>
						<td class="column-input-search"><h:inputText id = "shipfromLocnMatrixId" style="float:left;"
								value="#{trDetail.shipfromLocnMatrixId}" disabled = "true" />
						<c:if test="#{trDetail.shipfromLocnMatrixId > 0}">
							<a4j:commandButton id="shipfromLocationMatrixBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
									image="/images/view-small.png" immediate="true"
									action="#{transactionViewBean.viewLocationMatrixAction}">
									 <f:param name = "locnMatrixId" value="#{trDetail.shipfromLocnMatrixId}"/>
							</a4j:commandButton>
			            </c:if>	
			            </td>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"></td>
						<td class="column-input"></td>
					    <td class="column-spacer">&#160;</td>
					   </tr>
						
					   <tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['shipfromEntityId']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['shipfromEntityId'].description}:" /></td>
						<c:if test="#{transactionDetailBean.isViewScreen}">
							<td class="column-input2-search">
							<c:if test = "#{not empty transactionViewBean.getTransEntityCode(trDetail.shipfromEntityId) }">
							<h:inputText style="float:left;"
									value="#{transactionViewBean.aEntityItem.entityCode} - #{transactionViewBean.aEntityItem.entityName}" disabled = "#{transactionDetailBean.isViewScreen}" />
						   </c:if>
							<c:if test = "#{empty transactionViewBean.aEntityItem }">
							<h:inputText id = "shipfromEntityId" style="float:left;"
									value="#{trDetail.shipfromEntityId}" disabled = "#{transactionDetailBean.isViewScreen}" />
							</c:if>
							 <c:if test="#{not empty trDetail.shipfromEntityId}">
								<a4j:commandButton id="shipfromEntityCodeBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
										image="/images/view-small.png" immediate="true" 
										action="#{transactionViewBean.viewEntityCodeAction}">
										<f:param name = "entityId" value="#{trDetail.shipfromEntityId}"/>
								</a4j:commandButton>
				            </c:if>		
							</td>
						</c:if>
						<c:if test="#{!transactionDetailBean.isViewScreen}">
				        <td>	
			                <h:selectOneMenu id="notemptyshipfromentity" style="float:left;width:140px;"  value="#{transactionViewBean.txnLocnShipfromJurisdictionHandler.entityCode}" immediate="true">
								<f:selectItems id = "shipfromselitem" value="#{matrixCommonBean.allEntityItems}" />
								<a4j:support id = "shipfromneEntityeventId" event="onchange" reRender="shipfrompanel" actionListener="#{commonCallBack.entitySelectionChanged}" action = "#{commonCallBack.getTxnLocnEditSelectedEntity('shipfrom')}"/>
			                </h:selectOneMenu>      
					    <a4j:commandButton id="shipfromEntityIdBtn" styleClass="image" 
									style="float:left;width:16px;height:16px;" reRender = "shipfrompanel"
									image="/images/search_small.png" immediate="true" 
									action="#{commonCallBack.findTxnLocnEditAction}">
									<f:param name = "entityType" value="shipfrom"/>
						</a4j:commandButton>
						</td>	
					   </c:if>
					  
						<td class="column-spacer">&#160;</td>
						<td class="column-label2">&#160;</td>
						<td class="column-input2">&#160;</td>
						<td class="column-spacer">&#160;</td>
					   </tr>
						<tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['shipfromLat']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['shipfromLat'].description}:" /></td>
						<td class="column-input"><h:inputText id = "shipfromLat" maxlength = "100"
								value="#{trDetail.shipfromLat}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['shipfromLong']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['shipfromLong'].description}:" /></td>
						<td class="column-input2"><h:inputText id = "shipfromLong" maxlength = "100"
								value="#{trDetail.shipfromLong}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
						<td class="column-spacer">&#160;</td>
					   </tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['shipfromAddressLine1']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['shipfromAddressLine1'].description}:" /></td>
							<td class="column-input2" ><h:inputText id = "shipfromAddressLine1" maxlength = "100"
									value="#{trDetail.shipfromAddressLine1}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['shipfromAddressLine2']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['shipfromAddressLine2'].description}:" /></td>
							<td class="column-input2" ><h:inputText id = "shipfromAddressLine2" maxlength = "100"
									value="#{trDetail.shipfromAddressLine2}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['shipfromJurisdictionId']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['shipfromJurisdictionId'].description}:" /></td>
						<td class="column-input-search"><h:inputText id = "shipfromJurisdictionId" style="float:left" binding="#{transactionViewBean.txnLocnShipfromJurisdictionHandler.jurisdictionIdInput}"
								value="#{transactionViewBean.txnLocnShipfromJurisdictionHandler.jurisdictionId}"  disabled = "true" />
							  <a4j:commandButton id="shipfromJurisdictionIdBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
				                   image="/images/view-small.png" immediate="true" 
				                   rendered="#{(transactionDetailBean.isViewScreen) and (trDetail.shipfromJurisdictionId != 0) and (not empty trDetail.shipfromJurisdictionId)}"
					               action="#{transactionViewBean.viewJurisdiction}">
					              <f:param name="command" value="viewJurisdictionFromTransaction" />
					              <f:param name="jurisdictiondId" value="#{trDetail.shipfromJurisdictionId}" /> 
	                          </a4j:commandButton>
					    </td>
						<td class="column-spacer">&#160;</td>
					   </tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							  <td colspan="6">
								<ui:include id= "txnLocnShipfromJurScr" src="/WEB-INF/view/components/jurisdiction_screen.xhtml">
									<ui:param name="handler" value="#{transactionViewBean.txnLocnShipfromJurisdictionHandler}"/>
									<ui:param name="id" value="jurdsfromInputId"/>
									<ui:param name="readonly" value="#{transactionDetailBean.isViewScreen}"/>
									<ui:param name="showheaders" value="true"/>
									<ui:param name="showzipplus4" value="true"/>
									<ui:param name="popupName" value="searchJurisdictionModify"/>
									<ui:param name="popupForm" value="searchJurisdictionFormModify"/>
									<ui:param name="showStjNames" value="true"/>
									<ui:param name="label1" value="#{matrixCommonBean.transactionPropertyMap['shipfromStj1Name'].description}:" />
									<ui:param name="label2" value="#{matrixCommonBean.transactionPropertyMap['shipfromStj2Name'].description}:"/>
									<ui:param name="label3" value="#{matrixCommonBean.transactionPropertyMap['shipfromStj3Name'].description}:" />
									<ui:param name="label4" value="#{matrixCommonBean.transactionPropertyMap['shipfromStj4Name'].description}:"/>
									<ui:param name="label5" value="#{matrixCommonBean.transactionPropertyMap['shipfromStj5Name'].description}:" />
								</ui:include>
							  </td>
					    </tr>
					</tbody>
				</table>
			</a4j:outputPanel>
			</rich:simpleTogglePanel>
				<!-- Order Origin Information -->
			<rich:simpleTogglePanel id="orderOriginInformation" switchType="ajax"
				label="Order Origin Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['orderOriginInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>
			  <a4j:outputPanel id="ordrorgnpanel" ajaxRendered="true" layout="block">
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>

						<tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ordrorgnLocnMatrixId']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['ordrorgnLocnMatrixId'].description}:" /></td>
						<td class="column-input-search"><h:inputText id = "ordrorgnLocnMatrixId" style="float:left"
								value="#{trDetail.ordrorgnLocnMatrixId}" disabled = "true" />
						<c:if test="#{trDetail.ordrorgnLocnMatrixId > 0}">
							<a4j:commandButton id="ordrorgnLocationMatrixBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
									image="/images/view-small.png" immediate="true"
									action="#{transactionViewBean.viewLocationMatrixAction}">
									 <f:param name = "locnMatrixId" value="#{trDetail.ordrorgnLocnMatrixId}"/>
							</a4j:commandButton>
			            </c:if>			
						
						</td>
						
						<td class="column-spacer">&#160;</td>
					   </tr>
						
					   <tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ordrorgnEntityId']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['ordrorgnEntityId'].description}:" /></td>
						<c:if test="#{transactionDetailBean.isViewScreen}">
						<td class="column-input2-search">
						<h:panelGroup rendered = "#{not empty transactionViewBean.getTransEntityCode(trDetail.ordrorgnEntityId) }">
						<h:inputText id = "notemptyordoent" style="float:left;"
								value="#{transactionViewBean.aEntityItem.entityCode} - #{transactionViewBean.aEntityItem.entityName}" disabled = "true" />
						</h:panelGroup>
						<h:panelGroup rendered = "#{ empty transactionViewBean.aEntityItem }">
						<h:inputText id = "emptyordoent" style="float:left;"
								value="#{trDetail.ordrorgnEntityId}" disabled = "#{transactionDetailBean.isViewScreen}" />
					   </h:panelGroup>
						<c:if test="#{not empty trDetail.ordrorgnEntityId}">
							<a4j:commandButton id="ordrorgnEntityCodeBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
										image="/images/view-small.png" immediate="true"
										action="#{transactionViewBean.viewEntityCodeAction}">
										<f:param name = "entityId" value="#{trDetail.ordrorgnEntityId}"/>
							</a4j:commandButton>
				        </c:if>	
						</td>
						</c:if>
						<c:if test="#{!transactionDetailBean.isViewScreen}">
				        <td>	
		                <h:selectOneMenu id="ordrorgnotemptyentity" style="float:left;width:140px;"  value="#{transactionViewBean.txnLocnOrdrorgnJurisdictionHandler.entityCode}" immediate="true">
							<f:selectItems id = "ordrorgnselitem" value="#{matrixCommonBean.allEntityItems}" />
							<a4j:support id = "ordrorgnneEntityIdeventId" event="onchange" reRender="ordrorgnpanel" actionListener="#{commonCallBack.entitySelectionChanged}" action = "#{commonCallBack.getTxnLocnEditSelectedEntity('ordrorgn')}"/>
		                </h:selectOneMenu>      
					    
					    <a4j:commandButton id="ordrorgnEntityIdBtn" styleClass="image" 
									style="float:left;width:16px;height:16px;" reRender = "ordrorgnpanel"
									image="/images/search_small.png" immediate="true" 
									action="#{commonCallBack.findTxnLocnEditAction}">
									<f:param name = "entityType" value="ordrorgn"/>
						</a4j:commandButton>
						</td>	
					   </c:if>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2">&#160;</td>
						<td class="column-input2">&#160;</td>
						<td class="column-spacer">&#160;</td>
					   </tr>
						<tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ordrorgnLat']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['ordrorgnLat'].description}:" /></td>
						<td class="column-input"><h:inputText id = "ordrorgnLat" maxlength = "100"
								value="#{trDetail.ordrorgnLat}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ordrorgnLong']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['ordrorgnLong'].description}:" /></td>
						<td class="column-input2"><h:inputText id = "ordrorgnLong" maxlength = "100"
								value="#{trDetail.ordrorgnLong}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
						<td class="column-spacer">&#160;</td>
					   </tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ordrorgnAddressLine1']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['ordrorgnAddressLine1'].description}:" /></td>
							<td class="column-input2" ><h:inputText id = "ordrorgnAddressLine1" maxlength = "100"
									value="#{trDetail.ordrorgnAddressLine1}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ordrorgnAddressLine2']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['ordrorgnAddressLine2'].description}:" /></td>
							<td class="column-input2" ><h:inputText id = "ordrorgnAddressLine2" maxlength = "100"
									value="#{trDetail.ordrorgnAddressLine2}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
						 <td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ordrorgnJurisdictionId']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['ordrorgnJurisdictionId'].description}:" /></td>
						<td class="column-input-search"><h:inputText id = "ordrorgnJurisdictionId" style="float:left"  binding="#{transactionViewBean.txnLocnOrdrorgnJurisdictionHandler.jurisdictionIdInput}"
								value="#{transactionViewBean.txnLocnOrdrorgnJurisdictionHandler.jurisdictionId}"
								 disabled = "true" />
							  <a4j:commandButton id="ordrorgnJurisdictionIdBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
				                   image="/images/view-small.png" immediate="true"
					               action="#{transactionViewBean.viewJurisdiction}"
					               rendered="#{(transactionDetailBean.isViewScreen) and (trDetail.ordrorgnJurisdictionId != 0) and (not empty trDetail.ordrorgnJurisdictionId)}">
					              <f:param name="command" value="viewJurisdictionFromTransaction" />
					              <f:param name="jurisdictiondId" value="#{trDetail.ordrorgnJurisdictionId}" /> 
	                          </a4j:commandButton>
					    </td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							  <td colspan="6">
								<ui:include id= "txnLocnOrdrorgnJurScr" src="/WEB-INF/view/components/jurisdiction_screen.xhtml">
									<ui:param name="handler" value="#{transactionViewBean.txnLocnOrdrorgnJurisdictionHandler}"/>
									<ui:param name="id" value="jurdsordrorgInputId"/>
									<ui:param name="readonly" value="#{transactionDetailBean.isViewScreen}"/>
									<ui:param name="showheaders" value="true"/>
									<ui:param name="showzipplus4" value="true"/>
									<ui:param name="popupName" value="searchJurisdictionModify"/>
									<ui:param name="popupForm" value="searchJurisdictionFormModify"/>
									<ui:param name="showStjNames" value="true"/>
									<ui:param name="label1" value="#{matrixCommonBean.transactionPropertyMap['ordrorgnStj1Name'].description}:" />
									<ui:param name="label2" value="#{matrixCommonBean.transactionPropertyMap['ordrorgnStj2Name'].description}:"/>
									<ui:param name="label3" value="#{matrixCommonBean.transactionPropertyMap['ordrorgnStj3Name'].description}:" />
									<ui:param name="label4" value="#{matrixCommonBean.transactionPropertyMap['ordrorgnStj4Name'].description}:"/>
									<ui:param name="label5" value="#{matrixCommonBean.transactionPropertyMap['ordrorgnStj5Name'].description}:" />
								</ui:include>
							  </td>
					    </tr>
					</tbody>
				</table>
			  </a4j:outputPanel>
			</rich:simpleTogglePanel>
		<!-- Order Acceptance Information -->
			<rich:simpleTogglePanel id="orderAcceptanceInformation" switchType="ajax"
				label="Order Acceptance Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['orderAcceptanceInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>
			  <a4j:outputPanel id="ordracptpanel" ajaxRendered="true" layout="block">
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>

						<tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ordracptLocnMatrixId']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['ordracptLocnMatrixId'].description}:" /></td>
						<td class="column-input-search"><h:inputText  id = "ordracptLocnMatrixId"  style="float:left"
								value="#{trDetail.ordracptLocnMatrixId}" disabled = "true" />
						<c:if test="#{trDetail.ordracptLocnMatrixId > 0}">
							<a4j:commandButton id="ordracptLocationMatrixBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
									image="/images/view-small.png" immediate="true"
									action="#{transactionViewBean.viewLocationMatrixAction}">
									 <f:param name = "locnMatrixId" value="#{trDetail.ordracptLocnMatrixId}"/>
							</a4j:commandButton>
			            </c:if>	
								
								
						</td>
						
						<td class="column-spacer">&#160;</td>
					   </tr>
					 
					   <tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText id = "ordracptEntityId"
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ordracptEntityId']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['ordracptEntityId'].description}:" /></td>
						<c:if test="#{transactionDetailBean.isViewScreen}">
						    <td class="column-input2-search">
							<c:if test = "#{not empty transactionViewBean.getTransEntityCode(trDetail.ordracptEntityId) }">
							<h:inputText id = "notemptyordracptentity" style="float:left;" 
									value="#{transactionViewBean.aEntityItem.entityCode} - #{transactionViewBean.aEntityItem.entityName}" disabled = "#{transactionDetailBean.isViewScreen}" />
							</c:if>
							<c:if test = "#{empty transactionViewBean.aEntityItem }">
							<h:inputText id = "emptyordracptentityCode" style="float:left;" 
									value="#{trDetail.ordracptEntityId}" disabled = "#{transactionDetailBean.isViewScreen}" />
							</c:if>
							<c:if test="#{not empty trDetail.ordracptEntityId}">
								<a4j:commandButton id="ordracptEntityCodeBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
										image="/images/view-small.png" immediate="true"
										action="#{transactionViewBean.viewEntityCodeAction}">
										<f:param name = "entityId" value="#{trDetail.ordracptEntityId}"/>
								</a4j:commandButton>
					        </c:if>
					        </td>	
					     </c:if>
				    
				       <c:if test="#{!transactionDetailBean.isViewScreen}">
				        <td>	
		                <h:selectOneMenu id="ordracptnotempty" style="float:left;width:140px;"  value="#{transactionViewBean.txnLocnOrdracptJurisdictionHandler.entityCode}" immediate="true">
							<f:selectItems id = "ordracptselitem" value="#{matrixCommonBean.allEntityItems}" />
		                    <a4j:support id = "ordracptneEntityIdeventId" event="onchange" reRender="ordracptpanel" actionListener="#{commonCallBack.entitySelectionChanged}" action = "#{commonCallBack.getTxnLocnEditSelectedEntity('ordracpt')}"/>
		                </h:selectOneMenu>      
				
					    <a4j:commandButton id="ordracptEntityIdBtn" styleClass="image" 
									style="float:left;width:16px;height:16px;" reRender = "ordracptpanel"
									image="/images/search_small.png" immediate="true" 
									action="#{commonCallBack.findTxnLocnEditAction}">
									<f:param name = "entityType" value="ordracpt"/>
						</a4j:commandButton>
						</td>	
					   </c:if>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2">&#160;</td>
						<td class="column-input2">&#160;</td>
						<td class="column-spacer">&#160;</td>
					   </tr>
						<tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ordracptLat']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['ordracptLat'].description}:" /></td>
						<td class="column-input"><h:inputText id = "ordracptLat" maxlength = "100"
								value="#{trDetail.ordracptLat}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ordracptLong']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['ordracptLong'].description}:" /></td>
						<td class="column-input2"><h:inputText id = "ordracptLong" maxlength = "100"
								value="#{trDetail.ordracptLong}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
						<td class="column-spacer">&#160;</td>
					   </tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ordracptAddressLine1']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['ordracptAddressLine1'].description}:" /></td>
							<td class="column-input2" ><h:inputText id = "ordracptAddressLine1" maxlength = "100"
									value="#{trDetail.ordracptAddressLine1}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ordracptAddressLine2']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['ordracptAddressLine2'].description}:" /></td>
							<td class="column-input2" ><h:inputText id = "ordracptAddressLine2" maxlength = "100"
									value="#{trDetail.ordracptAddressLine2}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
						 <td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ordracptJurisdictionId']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['ordracptJurisdictionId'].description}:" /></td>
						<td class="column-input-search"><h:inputText id = "ordracptJurisdictionId" style="float:left"  binding="#{transactionViewBean.txnLocnOrdracptJurisdictionHandler.jurisdictionIdInput}"
								value="#{transactionViewBean.txnLocnOrdracptJurisdictionHandler.jurisdictionId}"
								 disabled = "true" />
							  <a4j:commandButton id="ordracptJurisdictionIdBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
				                   image="/images/view-small.png" immediate="true"
					               action="#{transactionViewBean.viewJurisdiction}"
					               rendered="#{(transactionDetailBean.isViewScreen) and (trDetail.ordracptJurisdictionId != 0) and (not empty trDetail.ordracptJurisdictionId)}">
					              <f:param name="command" value="viewJurisdictionFromTransaction" />
					              <f:param name="jurisdictiondId" value="#{trDetail.ordracptJurisdictionId}" /> 
	                          </a4j:commandButton>
						</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							  <td colspan="6">
								<ui:include id= "txnLocnOrdracptJurScr" src="/WEB-INF/view/components/jurisdiction_screen.xhtml">
									<ui:param name="handler" value="#{transactionViewBean.txnLocnOrdracptJurisdictionHandler}"/>
									<ui:param name="id" value="jurdsordracptInputId"/>
									<ui:param name="readonly" value="#{transactionDetailBean.isViewScreen}"/>
									<ui:param name="showheaders" value="true"/>
									<ui:param name="showzipplus4" value="true"/>
									<ui:param name="popupName" value="searchJurisdictionModify"/>
									<ui:param name="popupForm" value="searchJurisdictionFormModify"/>
									<ui:param name="showStjNames" value="true"/>
									<ui:param name="label1" value="#{matrixCommonBean.transactionPropertyMap['ordracptStj1Name'].description}:" />
									<ui:param name="label2" value="#{matrixCommonBean.transactionPropertyMap['ordracptStj2Name'].description}:"/>
									<ui:param name="label3" value="#{matrixCommonBean.transactionPropertyMap['ordracptStj3Name'].description}:" />
									<ui:param name="label4" value="#{matrixCommonBean.transactionPropertyMap['ordracptStj4Name'].description}:"/>
									<ui:param name="label5" value="#{matrixCommonBean.transactionPropertyMap['ordracptStj5Name'].description}:" />
								</ui:include>
							  </td>
					    </tr>
					</tbody>
				</table>
			</a4j:outputPanel>
			</rich:simpleTogglePanel>	
				<!-- First Use Information -->
		 	<rich:simpleTogglePanel id="firstUseInformation" switchType="ajax"
				label="First Use Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['firstUseInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>
			  <a4j:outputPanel id="fitstusepanel" ajaxRendered="true" layout="block">
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>

						<tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['firstuseLocnMatrixId']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['firstuseLocnMatrixId'].description}:" /></td>
						<td class="column-input-search"><h:inputText id = "firstuseLocnMatrixId" style="float:left"
								value="#{trDetail.firstuseLocnMatrixId}" disabled = "true" />
						<c:if test="#{trDetail.firstuseLocnMatrixId > 0}">
							<a4j:commandButton id="firstuseLocationMatrixBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
									image="/images/view-small.png" immediate="true"
									action="#{transactionViewBean.viewLocationMatrixAction}">
									 <f:param name = "locnMatrixId" value="#{trDetail.firstuseLocnMatrixId}"/>
							</a4j:commandButton>
			            </c:if>			
								
						</td>
						<td class="column-spacer">&#160;</td>
						<td class="column-spacer">&#160;</td>
					   </tr>
					   <tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['firstuseEntityId']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['firstuseEntityId'].description}:" /></td>
						<c:if test="#{transactionDetailBean.isViewScreen}">
						    <td class="column-input2-search">
							<c:if test = "#{not empty transactionViewBean.getTransEntityCode(trDetail.firstuseEntityId) }">
							<h:inputText id = "notemptyfirstuseentity" style="float:left;" 
									value="#{transactionViewBean.aEntityItem.entityCode} - #{transactionViewBean.aEntityItem.entityName}" disabled = "#{transactionDetailBean.isViewScreen}" />
							</c:if>
							<c:if test = "#{empty transactionViewBean.aEntityItem }">
							<h:inputText id = "emptyfirstuseentityCode" style="float:left;" 
									value="#{trDetail.firstuseEntityId}" disabled = "#{transactionDetailBean.isViewScreen}" />
							</c:if>
							<c:if test="#{not empty trDetail.firstuseEntityId}">
								<a4j:commandButton id="firstuseEntityCodeBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
										image="/images/view-small.png" immediate="true"
										action="#{transactionViewBean.viewEntityCodeAction}">
										<f:param name = "entityId" value="#{trDetail.firstuseEntityId}"/>
								</a4j:commandButton>
					        </c:if>
					        </td>	
					     </c:if>
				    
				       <c:if test="#{!transactionDetailBean.isViewScreen}">
				        <td>	
		                <h:selectOneMenu id="firstusenotempty" style="float:left;width:140px;"  value="#{transactionViewBean.txnLocnFirstuseJurisdictionHandler.entityCode}" immediate="true">
							<f:selectItems id = "firstuseselitem" value="#{matrixCommonBean.allEntityItems}" />
							<a4j:support id = "firstuseneEntityIdeventId" event="onchange" reRender="ordracptpanel" actionListener="#{commonCallBack.entitySelectionChanged}" action = "#{commonCallBack.getTxnLocnEditSelectedEntity('firstuse')}"/>
		                </h:selectOneMenu>      
					  
					    <a4j:commandButton id="firstuseEntityIdBtn" styleClass="image" 
									style="float:left;width:16px;height:16px;" reRender = "ordracptpanel" 
									image="/images/search_small.png" immediate="true" 
									action="#{commonCallBack.findTxnLocnEditAction}">
									<f:param name = "entityType" value="firstuse"/>
						</a4j:commandButton>
						</td>	
					   </c:if>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2">&#160;</td>
						<td class="column-input2">&#160;</td>
						<td class="column-spacer">&#160;</td>
					   </tr>
						<tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['firstuseLat']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['firstuseLat'].description}:" /></td>
						<td class="column-input"><h:inputText id ="firstuseLat" maxlength = "100"
								value="#{trDetail.firstuseLat}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['firstuseLong']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['firstuseLong'].description}:" /></td>
						<td class="column-input2"><h:inputText id = "firstuseLong" maxlength = "100"
								value="#{trDetail.firstuseLong}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
						<td class="column-spacer">&#160;</td>
					   </tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['firstuseAddressLine1']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['firstuseAddressLine1'].description}:" /></td>
							<td class="column-input2" ><h:inputText id = "firstuseAddressLine1" maxlength = "100"
									value="#{trDetail.firstuseAddressLine1}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['firstuseAddressLine2']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['firstuseAddressLine2'].description}:" /></td>
							<td class="column-input2" ><h:inputText id = "firstuseAddressLine2" maxlength = "100"
									value="#{trDetail.firstuseAddressLine2}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						
						<tr>
						 <td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['firstuseJurisdictionId']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['firstuseJurisdictionId'].description}:" /></td>
						<td class="column-input-search"><h:inputText id = "firstuseJurisdictionId" style="float:left" binding="#{transactionViewBean.txnLocnFirstuseJurisdictionHandler.jurisdictionIdInput}"
								value="#{transactionViewBean.txnLocnFirstuseJurisdictionHandler.jurisdictionId}"
								 disabled = "true" />
							  <a4j:commandButton id="firstuseJurisdictionIdBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
				                   image="/images/view-small.png" immediate="true"
					               action="#{transactionViewBean.viewJurisdiction}"
					               rendered="#{(transactionDetailBean.isViewScreen) and (trDetail.firstuseJurisdictionId != 0) and (not empty trDetail.firstuseJurisdictionId)}">
					              <f:param name="command" value="viewJurisdictionFromTransaction" />
					              <f:param name="jurisdictiondId" value="#{trDetail.firstuseJurisdictionId}" /> 
	                          </a4j:commandButton>
						</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							  <td colspan="6">
								<ui:include id= "txnLocnFirstuseJurScr" src="/WEB-INF/view/components/jurisdiction_screen.xhtml">
									<ui:param name="handler" value="#{transactionViewBean.txnLocnFirstuseJurisdictionHandler}"/>
									<ui:param name="id" value="jurdsfirstuseInputId"/>
									<ui:param name="readonly" value="#{transactionDetailBean.isViewScreen}"/>
									<ui:param name="showheaders" value="true"/>
									<ui:param name="showzipplus4" value="true"/>
									<ui:param name="popupName" value="searchJurisdictionModify"/>
									<ui:param name="popupForm" value="searchJurisdictionFormModify"/>
									<ui:param name="showStjNames" value="true"/>
									<ui:param name="label1" value="#{matrixCommonBean.transactionPropertyMap['firstuseStj1Name'].description}:" />
									<ui:param name="label2" value="#{matrixCommonBean.transactionPropertyMap['firstuseStj2Name'].description}:"/>
									<ui:param name="label3" value="#{matrixCommonBean.transactionPropertyMap['firstuseStj3Name'].description}:" />
									<ui:param name="label4" value="#{matrixCommonBean.transactionPropertyMap['firstuseStj4Name'].description}:"/>
									<ui:param name="label5" value="#{matrixCommonBean.transactionPropertyMap['firstuseStj5Name'].description}:" />
								</ui:include>
							  </td>
					    </tr>
					</tbody>
				</table>
			</a4j:outputPanel>
			</rich:simpleTogglePanel>   
						<!-- Bill To Information -->
			<rich:simpleTogglePanel id="billToInformation" switchType="ajax"
				label="Bill To Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['billToInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>
			  <a4j:outputPanel id="billtopanel" ajaxRendered="true" layout="block">
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>

						<tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['billtoLocnMatrixId']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['billtoLocnMatrixId'].description}:" /></td>
						<td class="column-input-search"><h:inputText id = "billtoLocnMatrixId" style="float:left"
								value="#{trDetail.billtoLocnMatrixId}" disabled = "true" />
						<c:if test="#{trDetail.billtoLocnMatrixId > 0}">
							<a4j:commandButton id="billtoLocationMatrixBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
									image="/images/view-small.png" immediate="true"
									action="#{transactionViewBean.viewLocationMatrixAction}">
									 <f:param name = "locnMatrixId" value="#{trDetail.billtoLocnMatrixId}"/>
							</a4j:commandButton>
			            </c:if>			
						</td>
						
						<td class="column-spacer">&#160;</td>
					   </tr>
					    <tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['billtoEntityId']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['billtoEntityId'].description}:" /></td>
						<c:if test="#{transactionDetailBean.isViewScreen}">
						    <td class="column-input2-search">
							<c:if test = "#{not empty transactionViewBean.getTransEntityCode(trDetail.billtoEntityId) }">
							<h:inputText id = "notemptybilltoentity" style="float:left;" 
									value="#{transactionViewBean.aEntityItem.entityCode} - #{transactionViewBean.aEntityItem.entityName}" disabled = "#{transactionDetailBean.isViewScreen}" />
							</c:if>
							<c:if test = "#{empty transactionViewBean.aEntityItem }">
							<h:inputText id = "emptyentityCode" style="float:left;" 
									value="#{trDetail.billtoEntityId}" disabled = "#{transactionDetailBean.isViewScreen}" />
							</c:if>
							<c:if test="#{not empty trDetail.billtoEntityId}">
								<a4j:commandButton id="billtoEntityCodeBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
										image="/images/view-small.png" immediate="true"
										action="#{transactionViewBean.viewEntityCodeAction}">
										<f:param name = "entityId" value="#{trDetail.billtoEntityId}"/>
								</a4j:commandButton>
					        </c:if>
					        </td>	
					     </c:if>
				    
				       <c:if test="#{!transactionDetailBean.isViewScreen}">
				        <td>	
		                <h:selectOneMenu id="billtonotempty" style="float:left;width:140px;"  value="#{transactionViewBean.txnLocnBilltoJurisdictionHandler.entityCode}" immediate="true">
							<f:selectItems id = "billtoselitem" value="#{matrixCommonBean.allEntityItems}" />
							<a4j:support id = "billtoneEntityIdeventId" event="onchange" reRender="billtopanel" actionListener="#{commonCallBack.entitySelectionChanged}" action = "#{commonCallBack.getTxnLocnEditSelectedEntity('billto')}"/>
		                </h:selectOneMenu>      
				
					    <a4j:commandButton id="billtoEntityIdBtn" styleClass="image" 
									style="float:left;width:16px;height:16px;" reRender = "billtopanel"
									image="/images/search_small.png" immediate="true" 
									action="#{commonCallBack.findTxnLocnEditAction}">
									<f:param name = "entityType" value="billto"/>
						</a4j:commandButton>
						</td>	
					   </c:if>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2">&#160;</td>
						<td class="column-input2">&#160;</td>
						<td class="column-spacer">&#160;</td>
					   </tr>
					   
						<tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['billtoLat']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['billtoLat'].description}:" /></td>
						<td class="column-input"><h:inputText id = "billtoLat" maxlength = "100"
								value="#{trDetail.billtoLat}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['billtoLong']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['billtoLong'].description}:" /></td>
						<td class="column-input2"><h:inputText id = "billtoLong" maxlength = "100"
								value="#{trDetail.billtoLong}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
						<td class="column-spacer">&#160;</td>
					   </tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['billtoAddressLine1']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['billtoAddressLine1'].description}:" /></td>
							<td class="column-input2" ><h:inputText id= "billtoAddressLine1" maxlength = "100"
									value="#{trDetail.billtoAddressLine1}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['billtoAddressLine2']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['billtoAddressLine2'].description}:" /></td>
							<td class="column-input2" ><h:inputText id= "billtoAddressLine2" maxlength = "100"
									value="#{trDetail.billtoAddressLine2}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['billtoJurisdictionId']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['billtoJurisdictionId'].description}:" /></td>
							<td class="column-input-search"><h:inputText id = "billtoJurisdictionId" style="float:left" binding="#{transactionViewBean.txnLocnBilltoJurisdictionHandler.jurisdictionIdInput}"
								value="#{transactionViewBean.txnLocnBilltoJurisdictionHandler.jurisdictionId}"
									 disabled = "true" />
								  <a4j:commandButton id="billtoJurisdictionIdBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
					                   image="/images/view-small.png" immediate="true"
						               action="#{transactionViewBean.viewJurisdiction}"
						               rendered="#{(transactionDetailBean.isViewScreen) and (trDetail.billtoJurisdictionId != 0) and (not empty trDetail.billtoJurisdictionId)}">
						              <f:param name="command" value="viewJurisdictionFromTransaction" />
						              <f:param name="jurisdictiondId" value="#{trDetail.billtoJurisdictionId}" /> 
		                          </a4j:commandButton>
							</td>	
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							  <td colspan="6">
								<ui:include id= "txnLocnBilltoJurScr" src="/WEB-INF/view/components/jurisdiction_screen.xhtml">
									<ui:param name="handler" value="#{transactionViewBean.txnLocnBilltoJurisdictionHandler}"/>
									<ui:param name="id" value="jurdsbilltoInputId"/>
									<ui:param name="readonly" value="#{transactionDetailBean.isViewScreen}"/>
									<ui:param name="showheaders" value="true"/>
									<ui:param name="showzipplus4" value="true"/>
									<ui:param name="popupName" value="searchJurisdictionModify"/>
									<ui:param name="popupForm" value="searchJurisdictionFormModify"/>
									<ui:param name="showStjNames" value="true"/>
									<ui:param name="label1" value="#{matrixCommonBean.transactionPropertyMap['billtoStj1Name'].description}:" />
									<ui:param name="label2" value="#{matrixCommonBean.transactionPropertyMap['billtoStj2Name'].description}:"/>
									<ui:param name="label3" value="#{matrixCommonBean.transactionPropertyMap['billtoStj3Name'].description}:" />
									<ui:param name="label4" value="#{matrixCommonBean.transactionPropertyMap['billtoStj4Name'].description}:"/>
									<ui:param name="label5" value="#{matrixCommonBean.transactionPropertyMap['billtoStj5Name'].description}:" />
								</ui:include>
							  </td>
					    </tr>
						
					</tbody>
				</table>
			</a4j:outputPanel>
			</rich:simpleTogglePanel>
			<!-- Title Transfer -->
			<rich:simpleTogglePanel id="titleTransferInformation" switchType="ajax"
				label="Title Transfer Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['titleTransferInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>
			<a4j:outputPanel id="ttlxfrpanel" ajaxRendered="true" layout="block">
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>

						<tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ttlxfrLocnMatrixId']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['ttlxfrLocnMatrixId'].description}:" /></td>
						<td class="column-input-search"><h:inputText id = "ttlxfrLocnMatrixId" style="float:left"
								value="#{trDetail.ttlxfrLocnMatrixId}" disabled = "true" />
						<c:if test="#{trDetail.ttlxfrLocnMatrixId > 0}">
							<a4j:commandButton id="ttlxfrLocationMatrixBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
									image="/images/view-small.png" immediate="true"
									action="#{transactionViewBean.viewLocationMatrixAction}">
									 <f:param name = "locnMatrixId" value="#{trDetail.ttlxfrLocnMatrixId}"/>
							</a4j:commandButton>
			            </c:if>			
						</td>
						
						<td class="column-spacer">&#160;</td>
					   </tr>
					    <tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ttlxfrEntityId']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['ttlxfrEntityId'].description}:" /></td>
						<c:if test="#{transactionDetailBean.isViewScreen}">
						    <td class="column-input2-search">
							<c:if test = "#{not empty transactionViewBean.getTransEntityCode(trDetail.ttlxfrEntityId) }">
							<h:inputText id = "notemptyttlxfrentity" style="float:left;" 
									value="#{transactionViewBean.aEntityItem.entityCode} - #{transactionViewBean.aEntityItem.entityName}" disabled = "#{transactionDetailBean.isViewScreen}" />
							</c:if>
							<c:if test = "#{empty transactionViewBean.aEntityItem }">
							<h:inputText id = "emptyentityCode" style="float:left;" 
									value="#{trDetail.ttlxfrEntityId}" disabled = "#{transactionDetailBean.isViewScreen}" />
							</c:if>
							<c:if test="#{not empty trDetail.ttlxfrEntityId}">
								<a4j:commandButton id="ttlxfrEntityCodeBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
										image="/images/view-small.png" immediate="true"
										action="#{transactionViewBean.viewEntityCodeAction}">
										<f:param name = "entityId" value="#{trDetail.ttlxfrEntityId}"/>
								</a4j:commandButton>
					        </c:if>
					        </td>	
					     </c:if>
				    
				       <c:if test="#{!transactionDetailBean.isViewScreen}">
				        <td>	
		                <h:selectOneMenu id="ttlxfrnotempty" style="float:left;width:140px;"  value="#{transactionViewBean.txnLocnTtlxfrJurisdictionHandler.entityCode}" immediate="true">
							<f:selectItems id = "ttlxfrselitem" value="#{matrixCommonBean.allEntityItems}" />
							<a4j:support  id = "ttlxfrneEntityIdeventId" event="onchange" reRender="ttlxfrpanel" actionListener="#{commonCallBack.entitySelectionChanged}" action = "#{commonCallBack.getTxnLocnEditSelectedEntity('ttlxfr')}"/>
		                </h:selectOneMenu>      
					    
					    <a4j:commandButton id="ttlxfrEntityIdBtn" styleClass="image" 
									style="float:left;width:16px;height:16px;" reRender = "ttlxfrpanel"
									image="/images/search_small.png" immediate="true" oncomplete="alert('ll');window.scrollTo(200, 167);"
									action="#{commonCallBack.findTxnLocnEditAction}">
									<f:param name = "entityType" value="ttlxfr"/>
						</a4j:commandButton>
						</td>	
					   </c:if>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2">&#160;</td>
						<td class="column-input2">&#160;</td>
						<td class="column-spacer">&#160;</td>
					   </tr>
						<tr>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ttlxfrLat']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['ttlxfrLat'].description}:" /></td>
						<td class="column-input1"><h:inputText id = "ttlxfrLat" maxlength = "100"
								value="#{trDetail.ttlxfrLat}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
						<td class="column-spacer">&#160;</td>
						<td class="column-label2"><h:outputText
								style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ttlxfrLong']? '':'color:red;'}"
								value="#{matrixCommonBean.transactionPropertyMap['ttlxfrLong'].description}:" /></td>
						<td class="column-input2"><h:inputText id = "ttlxfrLong" maxlength = "100"
								value="#{trDetail.ttlxfrLong}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
						<td class="column-spacer">&#160;</td>
					   </tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ttlxfrAddressLine1']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['ttlxfrAddressLine1'].description}:" /></td>
							<td class="column-input2" ><h:inputText id = "ttlxfrAddressLine1" maxlength = "100"
									value="#{trDetail.ttlxfrAddressLine1}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ttlxfrAddressLine2']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['ttlxfrAddressLine2'].description}:" /></td>
							<td class="column-input2" ><h:inputText id = "ttlxfrAddressLine2" maxlength = "100"
									value="#{trDetail.ttlxfrAddressLine2}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['ttlxfrJurisdictionId']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['ttlxfrJurisdictionId'].description}:" /></td>
							<td class="column-input-search"><h:inputText id = "ttlxfrJurisdictionId" style="float:left" binding="#{transactionViewBean.txnLocnTtlxfrJurisdictionHandler.jurisdictionIdInput}"
								value="#{transactionViewBean.txnLocnTtlxfrJurisdictionHandler.jurisdictionId}" 
									 disabled = "true" />
								  <a4j:commandButton id="ttlxfrJurisdictionIdBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
					                   image="/images/view-small.png" immediate="true"
						               action="#{transactionViewBean.viewJurisdiction}"
						               rendered="#{(transactionDetailBean.isViewScreen) and (trDetail.ttlxfrJurisdictionId != 0) and (not empty trDetail.ttlxfrJurisdictionId)}">
						              <f:param name="command" value="viewJurisdictionFromTransaction" />
						              <f:param name="jurisdictiondId" value="#{trDetail.ttlxfrJurisdictionId}" /> 
		                          </a4j:commandButton>
							</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							  <td colspan="6">
								<ui:include id= "txnLocnTtlxfrJurScr" src="/WEB-INF/view/components/jurisdiction_screen.xhtml">
									<ui:param name="handler" value="#{transactionViewBean.txnLocnTtlxfrJurisdictionHandler}"/>
									<ui:param name="id" value="jurdsttlxfrInputId"/>
									<ui:param name="readonly" value="#{transactionDetailBean.isViewScreen}"/>
									<ui:param name="required" value="false"/>
									<ui:param name="showheaders" value="true"/>
									<ui:param name="showzipplus4" value="true"/>
									<ui:param name="popupName" value="searchJurisdictionModify"/>
									<ui:param name="popupForm" value="searchJurisdictionFormModify"/>
									<ui:param name="showStjNames" value="true"/>
									<ui:param name="label1" value="#{matrixCommonBean.transactionPropertyMap['ttlxfrStj1Name'].description}:" />
									<ui:param name="label2" value="#{matrixCommonBean.transactionPropertyMap['ttlxfrStj2Name'].description}:"/>
									<ui:param name="label3" value="#{matrixCommonBean.transactionPropertyMap['ttlxfrStj3Name'].description}:" />
									<ui:param name="label4" value="#{matrixCommonBean.transactionPropertyMap['ttlxfrStj4Name'].description}:"/>
									<ui:param name="label5" value="#{matrixCommonBean.transactionPropertyMap['ttlxfrStj5Name'].description}:" />
								</ui:include>
							  </td>
					    </tr>
					</tbody>
				</table>
			</a4j:outputPanel>
			</rich:simpleTogglePanel>
		</h:panelGrid>
	</div>
</ui:component>