<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">


	<rich:simpleTogglePanel id="allocationInformation" switchType="ajax"
	label="Allocation Information"
	actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
	opened="#{transactionViewBean.togglePanelController.togglePanels['allocationInformation']}"
	bodyClass="togglepanel-body" headerClass="togglepanel-header"
	styleClass="togglepanel">
	<f:facet name="openMarker">
		<h:graphicImage style="vertical-align:middle;"
			url="/images/triangle-e.png"></h:graphicImage>
	</f:facet>
	<f:facet name="closeMarker">
		<h:graphicImage style="vertical-align:middle;"
			url="/images/triangle-s.png"></h:graphicImage>
	</f:facet>
	
	<table cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>

				<td class="column-spacer">&#160;</td>
				<td class="column-label4"><h:outputText style = "width:180px;"
						value="Jur. Allocation Matrix ID:" /></td>
				<td class="column-input-search"><h:inputText style="text-align:right;float:left;"
						value="#{trDetail.allocationMatrixId}" disabled="true" />
						<c:if test="#{trDetail.allocationMatrixId != 0 and (not empty trDetail.allocationMatrixId)}">
						<a4j:commandButton id="btnView1" styleClass="image" style="width:16px;height:16px;" 
	                   image="/images/view-small.png" immediate="true"
		               action="#{transactionViewBean.viewJurAllocn}">
		                <f:param name="fromview" value="viewTransactionFromLog" />
		                <f:param name="allocationMatrixId" value="#{trDetail.allocationMatrixId}" />
                        </a4j:commandButton>
						</c:if>
				</td>
				
				<td class="column-label4"><h:outputText style = "width:180px;"
						value="Tax Allocation Matrix ID:" /></td>
				<td class="column-input-search"><h:inputText style="text-align:right;float:left;"
						value="#{trDetail.taxAllocMatrixId}" disabled="true" />
						<c:if test="#{trDetail.taxAllocMatrixId != 0 and (not empty trDetail.taxAllocMatrixId)}">
						<a4j:commandButton id="btnView2" styleClass="image" style="width:16px;height:16px;" 
	                   image="/images/view-small.png" immediate="true"
		               action="#{transactionViewBean.viewTaxAllocation}">
		                <f:param name="fromview" value="viewTransactionFromLog" />
		                <f:param name="taxAllocMatrixId" value="#{trDetail.taxAllocMatrixId}" />
                        </a4j:commandButton>
						</c:if>
				</td>
				
	        	<td ><h:outputText
						value= "Multi Transaction Code:" /></td>
				
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['MULTITRANS'][trDetail.multiTransCode]}">
					<td class="column-description"><h:inputText
						value="#{cacheManager.listCodeMap['MULTITRANS'][trDetail.multiTransCode].description}" disabled="true" /></td>	
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['MULTITRANS'][trDetail.multiTransCode]}">
					<td class="column-input"><h:inputText
						value="#{trDetail.multiTransCode}" disabled="true" /></td>
				</h:panelGroup>

			</tr>
			<tr>
				<td class="column-spacer">&#160;</td>
				<td class="column-label4"><h:outputText style = "width:180px;"
						value="Jur. Allocation Subtrans ID:" /></td>
				<td class="column-input-search"><h:inputText style="text-align:right;float:left;"
						value="#{trDetail.allocationSubtransId}" disabled="true" />
				<c:if test="#{trDetail.allocationSubtransId != 0 and (not empty trDetail.allocationSubtransId)}">
				<a4j:commandButton id="btnView4" styleClass="image" style="width:16px;height:16px;" 
	                   image="/images/view-small.png" immediate="true"
		              action="#{transactionDetailBean.displayViewSplitAction}">
		               <f:param name="fromview" value="viewTransactionFromLog" />
		               <f:param name="taxAllocSubtransID" value="#{trDetail.allocationSubtransId}" />
                 </a4j:commandButton>
                </c:if>	
				</td>
				<td class="column-label4"><h:outputText style = "width:180px;"
						value="Tax Allocation Subtrans ID:" /></td>
				<td class="column-input-search"><h:inputText style="text-align:right;float:left;"
						value="#{trDetail.splitSubtransId}" disabled="true" />
				<c:if test="#{trDetail.splitSubtransId != 0 and (not empty trDetail.splitSubtransId)}">
				<a4j:commandButton id="btnView5" styleClass="image" style="width:16px;height:16px;" 
	                   image="/images/view-small.png" immediate="true"
		               action="#{transactionDetailBean.displayViewSplitAction}">
		               <f:param name="fromview" value="viewTransactionFromLog" />
		                <f:param name="taxAllocSubtransID" value="#{trDetail.splitSubtransId}" />
                </a4j:commandButton>	
                        </c:if>	
				</td>
				<td class="column-spacer">&#160;</td>

		   </tr>
		</tbody>
		</table>
		</rich:simpleTogglePanel>
		
</ui:component>
