<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
    
<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<th colspan="7">&#160;Jurisdiction</th>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText id="lblTransactionCountryCode" style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['transactionCountryCode']? '':'color:red;'}" value="Transaction Country:"/></td>
		<td class="column-input2"><h:inputText id="txtTransactionCountryCode" value="#{cacheManager.countryMap[trDetail.transactionCountryCode]} (#{trDetail.transactionCountryCode})" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText id="lblAutoTransCountryCode" style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['autoTransactionCountryCode']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['autoTransactionCountryCode'].description}:"/></td>
		<td class="column-input2"><h:inputText id="txtAutoTransCountryCode" value="#{trDetail.autoTransactionCountryCode}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText id="lblTransactionStateCode" style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['transactionStateCode']? '':'color:red;'}" value="Transaction State:"/></td>
		<td class="column-input2"><h:inputText id="txtTransactionStateCode" value="#{cacheManager.taxCodeStateMap[trDetail.transactionStateCode].name} (#{trDetail.transactionStateCode})" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText id="lblAutoTransStateCode" style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['autoTransactionStateCode']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['autoTransactionStateCode'].description}:"/></td>
		<td class="column-input2"><h:inputText id="txtAutoTransStateCode" value="#{trDetail.autoTransactionStateCode}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<!--
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText id="lblTransactionInd" style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['transactionInd']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['transactionInd'].description}:"/></td>
		<td class="column-input2"><h:inputText id="txtTransactionInd" value="#{trDetail.transactionInd}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText id="lblSuspendInd" style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['suspendInd']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['suspendInd'].description}:"/></td>
		<td class="column-input2"><h:inputText id="txtSuspendInd" value="#{trDetail.suspendInd}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	-->
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText id="lblLocationMatrixId" style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['locationMatrixId']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['locationMatrixId'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText id="txtLocationMatrixId" style="float:left;" value="#{trDetail.locationMatrixId}" disabled="true" rendered="#{!empty trDetail.locationMatrixId}">
		 		<f:convertNumber integerOnly="true" groupingUsed="false" minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
		 	</h:inputText>
		 	<c:if test="#{trDetail.locationMatrixId > 0}">
				<h:commandButton id="locationMatrixBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
						image="/images/search_small.png" immediate="true"
						action="#{transactionViewBean.viewLocationMatrixAction}">
				</h:commandButton>
			</c:if>
		 	<h:inputText value="0" disabled="true" rendered="#{empty trDetail.locationMatrixId}">
		 		<f:convertNumber integerOnly="true" groupingUsed="false" minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
		 	</h:inputText> 
		  </td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText id="lblJurisdictionId" style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['jurisdictionId']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['jurisdictionId'].description}:"/></td>
		<td class="column-input2"><h:inputText id="txtJurisdictionId" value="#{trDetail.jurisdictionId}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">Jurisdiction Desc:</td>
		<td class="column-input2"><h:inputText id="txtJurisdictionDesc" value="#{jurisdiction.description}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText id="lblManualJurisdictionInd" style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['manualJurisdictionInd']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['manualJurisdictionInd'].description}:"/></td>
		<td class="column-input2"><h:inputText id="txtManualJurisdictionInd" value="#{cacheManager.listCodeMap['MANUAL'][trDetail.manualJurisdictionInd].description}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td colspan="5">
			<table class="embedded-table" style="width: 100%;">
				<tr>
					<td style="border-bottom: none;">Geocode</td>
					<td style="border-bottom: none;">Country</td>
					<td style="border-bottom: none;">State</td>
					<td style="border-bottom: none;">County</td>
					<td style="border-bottom: none;">City</td>
					<td style="border-bottom: none;">Zip Code</td>
				</tr>
				<tr>
					<td style="border-bottom: none;"><h:inputText id="txtJurisdictionGeocode" value="#{jurisdiction.geocode}" disabled="true"/></td>
					<td style="border-bottom: none;"><h:inputText id="txtJurisdictionCountry" value="#{cacheManager.countryMap[jurisdiction.country]} (#{jurisdiction.country})" disabled="true"/></td>
					<td style="border-bottom: none;"><h:inputText id="txtJurisdictionState" value="#{cacheManager.taxCodeStateMap[jurisdiction.state].name} (#{jurisdiction.state})" disabled="true"/></td>
					<td style="border-bottom: none;"><h:inputText id="txtJurisdictionCounty" value="#{jurisdiction.county}" disabled="true"/></td>
					<td style="border-bottom: none;"><h:inputText id="txtJurisdictionCity" value="#{jurisdiction.city}" disabled="true"/></td>
					<td style="border-bottom: none;"><h:inputText id="txtJurisdictionZip" value="#{jurisdiction.zip}" disabled="true"/></td>
				</tr>
			</table>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<th colspan="7">&#160;TaxCode</th>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText id="lblTaxMatrixId" style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['taxMatrixId']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['taxMatrixId'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText id="txtTaxMatrixId" style="float:left;" value="#{trDetail.taxMatrixId}" disabled="true"/>
			<c:if test="#{trDetail.taxMatrixId > 0}">
				<h:commandButton id="taxMatrixBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
						image="/images/search_small.png" immediate="true"
						action="#{transactionViewBean.viewTaxMatrixAction}">
				</h:commandButton>
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText id="lblManualTaxcodeInd" value="#{matrixCommonBean.transactionPropertyMap['manualTaxcodeInd'].description}:"/></td>
		<td class="column-input2"><h:inputText id="txtManualTaxcodeInd" value="#{cacheManager.listCodeMap['MANUAL'][trDetail.manualTaxcodeInd].description}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<!--  
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText id="lblTaxcodeCode" style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['taxcodeCode']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['taxcodeCode'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText id="txtTaxcodeCode" value="#{trDetail.taxcodeCode}" style="float:left;" disabled="true"/>
			<c:if test="#{not empty trDetail.taxcodeCode}">
				<h:commandButton id="taxcodeCodeBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
						image="/images/search_small.png" immediate="true"
						action="#{transactionViewBean.viewTaxCodeAction}">
				</h:commandButton>
			</c:if>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText id="lblTaxcodeCodeDesc" value="#{matrixCommonBean.transactionPropertyMap['taxcodeCode'].description} Desc:"/></td>
		<td class="column-input2"><h:inputText id="txtTaxcodeCodeDesc" value="#{cacheManager.taxCodeMap[trDetail.taxcodeCode].description}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	-->
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText id="lblTaxcodeCode" style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['taxcodeCode']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['taxcodeCode'].description}:"/></td>
		<td colspan="1">
			<ui:include src="/WEB-INF/view/components/taxcode_code_noview.xhtml">
				<ui:param name="handler" value="#{transactionViewBean.filterTaxCodeHandler}"/>
				<ui:param name="id" value="filterTaxCode"/>
				<ui:param name="readonly" value="true"/>
				<ui:param name="required" value="false"/>
				<ui:param name="allornothing" value="false"/>
				<ui:param name="showheaders" value="false"/>
				<ui:param name="forId" value="false"/>
				<ui:param name="cchrequired" value="false"/>
				<ui:param name="cchreadonly" value="true"/>
				<ui:param name="cchRead" value="true"/>
				<ui:param name="popupName" value="searchTaxCode"/>
				<ui:param name="popupForm" value="searchTaxCodeForm"/>
			</ui:include>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText id="lblTaxcodeCodeDesc" value="#{matrixCommonBean.transactionPropertyMap['taxcodeCode'].description} Desc:"/></td>
		<td class="column-input2"><h:inputText id="txtTaxcodeCodeDesc" value="#{cacheManager.taxCodeMap[trDetail.taxcodeCode].description}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	
	
	</tbody>
</table>
<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td>TaxCode Type:</td>
		<td>Override Tax Type:</td>
		<td>Rate Type:</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">Country/State:</td>
		<td><h:inputText id="txtStateTaxcodeType" value="#{cacheManager.listCodeMap['TCTYPE'][trDetail.stateTaxcodeTypeCode].description}" disabled="true"/></td>
		<td><h:inputText id="txtStateTaxType" value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.stateTaxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
		<td class="column-input-search">
			<h:inputText id="txtStateRateType" style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.stateTaxCodeDetail.rateTypeCode].description}" disabled="true"/>
			<c:if test="#{trDetail.stateTaxcodeDetailId > 0}">
				<h:commandButton id="stateRuleBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
						image="/images/search_small.png" immediate="true"
						action="#{transactionViewBean.viewStateRuleAction}">
				</h:commandButton>
			</c:if>
		</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">County:</td>
		<td><h:inputText id="txtCountyTaxcodeType" value="#{cacheManager.listCodeMap['TCTYPE'][trDetail.countyTaxcodeTypeCode].description}" disabled="true"/></td>
		<td><h:inputText id="txtCountyTaxType" value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.countyTaxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
		<td class="column-input-search">
			<h:inputText id="txtCountyRateType" style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.countyTaxCodeDetail.rateTypeCode].description}" disabled="true"/>
			<c:if test="#{trDetail.countyTaxcodeDetailId > 0}">
				<h:commandButton id="countyRuleBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
						image="/images/search_small.png" immediate="true"
						action="#{transactionViewBean.viewCountyRuleAction}">
				</h:commandButton>
			</c:if>
		</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">City:</td>
		<td><h:inputText id="txtCityTaxcodeType" value="#{cacheManager.listCodeMap['TCTYPE'][trDetail.cityTaxcodeTypeCode].description}" disabled="true"/></td>
		<td><h:inputText id="txtCityTaxType" value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.cityTaxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
		<td class="column-input-search">
			<h:inputText id="txtCityRateType" style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.cityTaxCodeDetail.rateTypeCode].description}" disabled="true"/>
			<c:if test="#{trDetail.cityTaxcodeDetailId > 0}">
				<h:commandButton id="cityRuleBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
						image="/images/search_small.png" immediate="true"
						action="#{transactionViewBean.viewCityRuleAction}">
				</h:commandButton>
			</c:if>
		</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
</tbody>
</table>

<h:panelGroup rendered="#{filePreferencesBean.importMapProcessPreferenceDTO.tpExtractEnabled}">
<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['cchTaxcatCode']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['cchTaxcatCode'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.cchTaxcatCode}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText value="#{matrixCommonBean.transactionPropertyMap['cchTaxcatCode'].description} Desc:"/></td>
		<td class="column-input2"><h:inputText value="#{cacheManager.cchCodeMap[trDetail.cchTaxcatCode].description}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['cchGroupCode']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['cchGroupCode'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.cchGroupCode}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText value="#{matrixCommonBean.transactionPropertyMap['cchGroupCode'].description} Desc:"/></td>
		<td class="column-input2"><h:inputText value="#{cacheManager.cchGroupMap[trDetail.cchGroupCode].groupDesc}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	</tbody>
</table>
</h:panelGroup>
<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<th colspan="10">&#160;Tax Rate</th>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText id="lblJurisdictionTaxRateId" style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['jurisdictionTaxrateId']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['jurisdictionTaxrateId'].description}:"/></td>
		<td class="column-input-search" colspan="2">
			<h:inputText id="txtJurisdictionTaxRateId" style="float:left;" value="#{trDetail.jurisdictionTaxrateId}" disabled="true"/>
			<c:if test="#{trDetail.jurisdictionTaxrateId > 0}">
				<h:commandButton id="JurisdictionTaxRateIdBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
						image="/images/search_small.png" immediate="true"
						action="#{transactionViewBean.viewTaxRateAction}">
				</h:commandButton>
			</c:if>
		</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">Country:</td>
		<td>Rate:</td>
		<td>
			<h:inputText id="txtCountryUseRate" style="float:left;" value="#{trDetail.countryUseRate}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}" />
			</h:inputText>
		</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td>&#160;</td>
		<td>Minimum Amt:</td>
		<td>Rate:</td>
		<td>Set Amt:</td>
		<td>Maximum Amt:</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">State:</td>
		<td>Tier 1:</td>
		<td>
			<h:inputText value="0" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td>
			<h:inputText id="txtStateUseRate" value="#{trDetail.stateUseRate}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}" />
			</h:inputText>
		</td>
		
		<td>
			<h:inputText id="txtStateUseTier1Setamt" value="#{trDetail.stateUseTier1Setamt}" converter="number" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}" />
			</h:inputText>
		</td>
		
		<td>
			<h:inputText id="txtStateSplitAmount" value="#{trDetail.stateSplitAmount}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td>Tier 2:</td>
		<td>
			<h:inputText id="txtStateTier2MinAmount" value="#{trDetail.stateTier2MinAmount}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td>
			<h:inputText id="txtStateUseTier2Rate" value="#{trDetail.stateUseTier2Rate}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		
		<td>
			<h:inputText id="txtStateUseTier2Setamt" value="#{trDetail.stateUseTier2Setamt}" converter="number" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		
		<td>
			<h:inputText id="txtStateTier2MaxAmount" value="#{trDetail.stateTier2MaxAmount}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td>Tier 3:</td>
		<td>&#160;</td>
		<td>
			<h:inputText id="txtStateUseTier3Rate" value="#{trDetail.stateUseTier3Rate}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		
		<td>
			<h:inputText id="txtStateUseTier3Setamt" value="#{trDetail.stateUseTier3Setamt}" converter="number" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		
		<td>
			<h:inputText value="*MAX" disabled="true">
			</h:inputText>
		</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td>MaxTax Amt:</td>
		<td>
			<h:inputText id="txtStateMaxTaxAmt" value="#{trDetail.stateMaxtaxAmount}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td>&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">County:</td>
		<td>Rate:</td>
		<td>
			<h:inputText id="txtCountyUseRate" value="#{trDetail.countyUseRate}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td>Split Amount:</td>
		<td>
			<h:inputText id="txtCountySplitAmount" value="#{trDetail.countySplitAmount}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td>MaxTax Amount:</td>
		<td>
			<h:inputText id="txtCountyMaxtaxAmount" value="#{trDetail.countyMaxtaxAmount}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>	
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">City:</td>
		<td>Rate:</td>
		<td>
			<h:inputText id="txtCityUseRate" value="#{trDetail.cityUseRate}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td>Split Amount:</td>
		<td>
			<h:inputText id="txtCitySplitAmount" value="#{trDetail.citySplitAmount}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td>Split Rate:</td>
		<td>
			<h:inputText id="txtCitySplitUseRate" value="#{trDetail.citySplitUseRate}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
</tbody>
</table>

<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<th colspan="7">&#160;Calculated Amounts</th>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td class="column-label2">Taxable Amount:</td>
		<td class="column-label2">Calced Tax Amount:</td>
		<td class="column-label2">Tier 1</td>
		<td class="column-label2">Tier 2</td>
		<td class="column-label2">Tier 3</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">Country:</td>
		<td class="column-label2">
			<h:inputText id="txtCountryTaxableAmount" value="#{trDetail.glLineItmDistAmt}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-label2">
			<h:inputText id="txtCountryCalcedTaxAmount" value="#{trDetail.countryUseAmount}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-label2">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">State:</td>
		<td class="column-label2">
			<h:inputText id="txtStateTaxableAmount" value="#{trDetail.stateTaxableAmt}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-label2">
			<h:inputText id="txtStateCalcedTaxAmount" value="#{trDetail.stateUseAmount + trDetail.stateUseTier2Amount + trDetail.stateUseTier3Amount}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-label2">
			<h:inputText id="txtStateUseAmount" value="#{trDetail.stateUseAmount}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-label2">
			<h:inputText id="txtStateUseTier2Amount" value="#{trDetail.stateUseTier2Amount}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-label2">
			<h:inputText id="txtStateUseTier3Amount" value="#{trDetail.stateUseTier3Amount}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">County:</td>
		<td class="column-label2">
			<h:inputText id="txtCountyTaxableAmount" value="#{trDetail.countyTaxableAmt}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-label2">
			<h:inputText id="txtCountyCalcedTaxAmount" value="#{trDetail.countyUseAmount}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-label2">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">City:</td>
		<td class="column-label2">
			<h:inputText id="txtCityTaxableAmount" value="#{trDetail.cityTaxableAmt}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-label2">
			<h:inputText id="txtCityCalcedTaxAmount" value="#{trDetail.cityUseAmount}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-label2">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">Total:</td>
		<td class="column-label2">&#160;</td>
		<td class="column-label2">
			<h:inputText id="txtTotalCalcedTaxAmount" value="#{trDetail.countryUseAmount + trDetail.stateUseAmount + trDetail.stateUseTier2Amount + trDetail.stateUseTier3Amount + trDetail.countyUseAmount + trDetail.cityUseAmount}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-label2">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	</tbody>
</table>


</ui:component>