<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">
		
		<rich:simpleTogglePanel id="jurisdictionDetails" switchType="ajax"
				label="Jurisdiction Details"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['jurisdictionDetails']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>   
		
	<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td class = "column-label2" style = "width:140px">Name</td>
		<td class = "column-label2">Primary Situs</td>
		<td class = "column-label-small">Primary Tax Type</td>
		<td class = "column-label2">Secondary Situs</td>
		<td class = "column-label-small">Secondary Tax Type</td>
		<td class = "column-label5" style = "width:25px">All Levels?</td>
		<td class = "column-label2">Nexus Type</td>
	</tr>
	 <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label3" style = "width:400px">Country:</td>
		<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['COUNTRY'][trDetail.countryCode]}">
			<td class="column-input"><h:inputText  value="#{(cacheManager.listCodeMap['COUNTRY'][trDetail.countryCode].description)} (#{trDetail.countryCode})" disabled="true" /></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['COUNTRY'][trDetail.countryCode]}">
			<td class="column-input"><h:inputText  value="#{trDetail.countryCode}" disabled="true" /></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{not empty transactionViewBean.getSitusMatrix(trDetail.countrySitusMatrixId)}">
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{transactionViewBean.situsMatrix.primarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input8"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input8"><h:inputText   value="#{transactionViewBean.situsMatrix.primaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText id="countrySecondaryStatusId"  value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode].description)}" disabled="true"/></td>
			</h:panelGroup>	
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{transactionViewBean.situsMatrix.secondarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">	
				<td class="column-input8"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">	
				<td class="column-input8"><h:inputText   value="#{transactionViewBean.situsMatrix.secondaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			<td>
				<h:selectBooleanCheckbox value="#{transactionViewBean.situsMatrix.alllevelsBooleanFlag}" disabled="true"   />
			</td>
		</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.getSitusMatrix(trDetail.countrySitusMatrixId)}">
				<td class = "column-description"><h:inputText  value="" disabled="true" /></td>	
				<td class = "column-input8"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-description"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input8"><h:inputText  value="" disabled="true" /></td>
				<td><h:selectBooleanCheckbox value="false" disabled="true"   /></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{not empty transactionViewBean.getVendorNexusDetail(trDetail.countryVendorNexusDtlId)}">
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode]}">	
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode]}">	
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.vendorNexusDtl.nexusTypeCode}" disabled="true"/></td>
			</h:panelGroup>
		</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.getVendorNexusDetail(trDetail.countryVendorNexusDtlId)}">	
			<td class = "column-input-small"><h:inputText  value="" disabled="true" /></td>	
		</h:panelGroup>
	 </tr>
	
    <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label3">State:</td>
		<h:panelGroup rendered="#{ not empty cacheManager.taxCodeStateMap[trDetail.stateCode]}">	
			<td class="column-input"><h:inputText  value="#{cacheManager.taxCodeStateMap[trDetail.stateCode].name} (#{trDetail.stateCode})" disabled="true" /></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{ empty cacheManager.taxCodeStateMap[trDetail.stateCode]}">	
			<td class="column-input"><h:inputText  value="#{trDetail.stateCode}" disabled="true" /></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{not empty transactionViewBean.getSitusMatrix(trDetail.stateSitusMatrixId)}">
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{transactionViewBean.situsMatrix.primarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input8"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input8"><h:inputText   value="#{transactionViewBean.situsMatrix.primaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText id="stateSecondaryStatusId"  value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode].description)}" disabled="true"/></td>
			</h:panelGroup>	
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{transactionViewBean.situsMatrix.secondarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">	
				<td class="column-input8"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">	
				<td class="column-input8"><h:inputText   value="#{transactionViewBean.situsMatrix.secondaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			<td>
				<h:selectBooleanCheckbox value="#{transactionViewBean.situsMatrix.alllevelsBooleanFlag}" disabled="true"   />
			</td>
		</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.getSitusMatrix(trDetail.stateSitusMatrixId)}">
				<td class = "column-description"><h:inputText  value="" disabled="true" /></td>	
				<td class = "column-input8"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-description"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input8"><h:inputText  value="" disabled="true" /></td>	
				<td>
				<h:selectBooleanCheckbox value="false" disabled="true"   />
			</td>
		</h:panelGroup>
		<h:panelGroup rendered="#{not empty transactionViewBean.getVendorNexusDetail(trDetail.stateVendorNexusDtlId)}">
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode]}">	
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode]}">	
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.vendorNexusDtl.nexusTypeCode}" disabled="true"/></td>
			</h:panelGroup>
		</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.getVendorNexusDetail(trDetail.stateVendorNexusDtlId)}">	
			<td class = "column-input-small"><h:inputText  value="" disabled="true" /></td>	
		</h:panelGroup>
		
	 </tr>
	 
	 <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label3">County:</td>
		<td class="column-input"><h:inputText id="countyNameId" value="#{trDetail.countyName}" disabled="true" /></td>
		<h:panelGroup rendered="#{not empty transactionViewBean.getSitusMatrix(trDetail.countySitusMatrixId)}">
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{transactionViewBean.situsMatrix.primarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input8"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input8"><h:inputText   value="#{transactionViewBean.situsMatrix.primaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText id="countySecondaryStatusId"  value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode].description)}" disabled="true"/></td>
			</h:panelGroup>	
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{transactionViewBean.situsMatrix.secondarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">	
				<td class="column-input8"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">	
				<td class="column-input8"><h:inputText   value="#{transactionViewBean.situsMatrix.secondaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
				<td>
				<h:selectBooleanCheckbox value="#{transactionViewBean.situsMatrix.alllevelsBooleanFlag}" disabled="true"   />
				</td>
		</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.getSitusMatrix(trDetail.countySitusMatrixId)}">
				<td class = "column-description"><h:inputText  value="" disabled="true" /></td>	
				<td class = "column-input8"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-description"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input8"><h:inputText  value="" disabled="true" /></td>	
				<td>
				<h:selectBooleanCheckbox value="false" disabled="true"   />
			</td>
		</h:panelGroup>
		<h:panelGroup rendered="#{not empty transactionViewBean.getVendorNexusDetail(trDetail.countyVendorNexusDtlId)}">
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode]}">	
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode]}">	
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.vendorNexusDtl.nexusTypeCode}" disabled="true"/></td>
			</h:panelGroup>
		</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.getVendorNexusDetail(trDetail.countyVendorNexusDtlId)}">	
			<td class = "column-input-small"><h:inputText  value="" disabled="true" /></td>	
		</h:panelGroup>
	</tr>
	 
	 <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label3">City:</td>
		<td class="column-input"><h:inputText id="cityNameId" value="#{trDetail.cityName}" disabled="true" /></td>
		<h:panelGroup rendered="#{not empty transactionViewBean.getSitusMatrix(trDetail.citySitusMatrixId)}">
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{transactionViewBean.situsMatrix.primarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input8"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input8"><h:inputText   value="#{transactionViewBean.situsMatrix.primaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText id="citySecondaryStatusId"  value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode].description)}" disabled="true"/></td>
			</h:panelGroup>	
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{transactionViewBean.situsMatrix.secondarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">	
				<td class="column-input8"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">	
				<td class="column-input8"><h:inputText   value="#{transactionViewBean.situsMatrix.secondaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			<td>
				<h:selectBooleanCheckbox value="#{transactionViewBean.situsMatrix.alllevelsBooleanFlag}" disabled="true"   />
			</td>
			
		</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.getSitusMatrix(trDetail.citySitusMatrixId)}">
				<td class = "column-description"><h:inputText  value="" disabled="true" /></td>	
				<td class = "column-input8"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-description"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input8"><h:inputText  value="" disabled="true" /></td>	
				<td><h:selectBooleanCheckbox value="false" disabled="true"   /></td>
				
		</h:panelGroup>
		<h:panelGroup rendered="#{not empty transactionViewBean.getVendorNexusDetail(trDetail.cityVendorNexusDtlId)}">
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode]}">	
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode]}">	
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.vendorNexusDtl.nexusTypeCode}" disabled="true"/></td>
			</h:panelGroup>
		</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.getVendorNexusDetail(trDetail.cityVendorNexusDtlId)}">	
			<td class = "column-input-small"><h:inputText  value="" disabled="true" /></td>	
		</h:panelGroup>
	
	</tr>
	
	 <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label3">STJ 1:</td>
		<td class="column-input"><h:inputText id="stj1NameId" value="#{trDetail.stj1Name}" disabled="true" /></td>
		<h:panelGroup rendered="#{not empty transactionViewBean.getSitusMatrix(trDetail.stj1SitusMatrixId)}">
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{transactionViewBean.situsMatrix.primarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input8"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input8"><h:inputText   value="#{transactionViewBean.situsMatrix.primaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText id="stj1SecondaryStatusId"  value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode].description)}" disabled="true"/></td>
			</h:panelGroup>	
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{transactionViewBean.situsMatrix.secondarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">	
				<td class="column-input8"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">	
				<td class="column-input8"><h:inputText   value="#{transactionViewBean.situsMatrix.secondaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
				<td>
				<h:selectBooleanCheckbox value="#{transactionViewBean.situsMatrix.alllevelsBooleanFlag}" disabled="true"   />
				</td>
			
		</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.getSitusMatrix(trDetail.stj1SitusMatrixId)}">
				<td class = "column-description"><h:inputText  value="" disabled="true" /></td>	
				<td class = "column-input8"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-description"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input8"><h:inputText  value="" disabled="true" /></td>	
				<td><h:selectBooleanCheckbox value="false" disabled="true"   /></td>
		</h:panelGroup>
	</tr>
	
	 <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label3">STJ 2:</td>
		<td class="column-input"><h:inputText id="stj2NameId" value="#{trDetail.stj2Name}" disabled="true" /></td>
		<h:panelGroup rendered="#{not empty transactionViewBean.getSitusMatrix(trDetail.stj2SitusMatrixId)}">
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{transactionViewBean.situsMatrix.primarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input8"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input8"><h:inputText   value="#{transactionViewBean.situsMatrix.primaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText id="stj2SecondaryStatusId"  value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode].description)}" disabled="true"/></td>
			</h:panelGroup>	
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{transactionViewBean.situsMatrix.secondarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">	
				<td class="column-input8"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">	
				<td class="column-input8"><h:inputText   value="#{transactionViewBean.situsMatrix.secondaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
				<td>
				<h:selectBooleanCheckbox value="#{transactionViewBean.situsMatrix.alllevelsBooleanFlag}" disabled="true"   />
				</td>
		</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.getSitusMatrix(trDetail.stj2SitusMatrixId)}">
				<td class = "column-description"><h:inputText  value="" disabled="true" /></td>	
				<td class = "column-input8"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-description"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input8"><h:inputText  value="" disabled="true" /></td>	
				<td><h:selectBooleanCheckbox value="false" disabled="true"   /></td>
		</h:panelGroup>
	</tr>
	
	 <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label3">STJ 3:</td>
		<td class="column-input"><h:inputText id="stj3NameId" value="#{trDetail.stj3Name}" disabled="true" /></td>
		<h:panelGroup rendered="#{not empty transactionViewBean.getSitusMatrix(trDetail.stj3SitusMatrixId)}">
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{transactionViewBean.situsMatrix.primarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input8"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input8"><h:inputText   value="#{transactionViewBean.situsMatrix.primaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText id="stj3SecondaryStatusId"  value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode].description)}" disabled="true"/></td>
			</h:panelGroup>	
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{transactionViewBean.situsMatrix.secondarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">	
				<td class="column-input8"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">	
				<td class="column-input8"><h:inputText   value="#{transactionViewBean.situsMatrix.secondaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
				<td>
				<h:selectBooleanCheckbox value="#{transactionViewBean.situsMatrix.alllevelsBooleanFlag}" disabled="true"   />
				</td>
		</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.getSitusMatrix(trDetail.stj3SitusMatrixId)}">
				<td class = "column-description"><h:inputText  value="" disabled="true" /></td>	
				<td class = "column-input8"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-description"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input8"><h:inputText  value="" disabled="true" /></td>	
				<td><h:selectBooleanCheckbox value="false" disabled="true"   /></td>
		</h:panelGroup>
	</tr>
	
	 <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label3">STJ 4:</td>
		<td class="column-input"><h:inputText id="stj4NameId" value="#{trDetail.stj4Name}" disabled="true" /></td>
		<h:panelGroup rendered="#{not empty transactionViewBean.getSitusMatrix(trDetail.stj4SitusMatrixId)}">
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{transactionViewBean.situsMatrix.primarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input8"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input8"><h:inputText   value="#{transactionViewBean.situsMatrix.primaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText id="stj4SecondaryStatusId"  value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode].description)}" disabled="true"/></td>
			</h:panelGroup>	
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{transactionViewBean.situsMatrix.secondarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">	
				<td class="column-input8"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">	
				<td class="column-input8"><h:inputText   value="#{transactionViewBean.situsMatrix.secondaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
				<td>
				<h:selectBooleanCheckbox value="#{transactionViewBean.situsMatrix.alllevelsBooleanFlag}" disabled="true"   />
				</td>
			
		</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.getSitusMatrix(trDetail.stj4SitusMatrixId)}">
				<td class = "column-description"><h:inputText  value="" disabled="true" /></td>	
				<td class = "column-input8"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-description"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input8"><h:inputText  value="" disabled="true" /></td>	
				<td><h:selectBooleanCheckbox value="false" disabled="true"   /></td>
		</h:panelGroup>
	</tr>
	
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label3">STJ 5:</td>
		<td class="column-input"><h:inputText id="stj5NameId" value="#{trDetail.stj5Name}" disabled="true" /></td>
		<h:panelGroup rendered="#{not empty transactionViewBean.getSitusMatrix(trDetail.stj5SitusMatrixId)}">
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{transactionViewBean.situsMatrix.primarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input8"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input8"><h:inputText   value="#{transactionViewBean.situsMatrix.primaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText id="stj5SecondaryStatusId"  value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode].description)}" disabled="true"/></td>
			</h:panelGroup>	
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText   value="#{transactionViewBean.situsMatrix.secondarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">	
				<td class="column-input8"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">	
				<td class="column-input8"><h:inputText   value="#{transactionViewBean.situsMatrix.secondaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
				<td>
				<h:selectBooleanCheckbox value="#{transactionViewBean.situsMatrix.alllevelsBooleanFlag}" disabled="true"   />
				</td>
		</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.getSitusMatrix(trDetail.stj5SitusMatrixId)}">
				<td class = "column-description"><h:inputText  value="" disabled="true" /></td>	
				<td class = "column-input8"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-description"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input8"><h:inputText  value="" disabled="true" /></td>	
				<td><h:selectBooleanCheckbox value="false" disabled="true"   /></td>
		</h:panelGroup>
	</tr>
	
	 <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label3">STJ 6:</td>
		<td class="column-input"><h:inputText id="stj6NameId" value="#{trDetail.stj6Name}" disabled="true" /></td>
	 </tr>
	 
	  <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label3">STJ 7:</td>
		<td class="column-input"><h:inputText id="stj7NameId" value="#{trDetail.stj7Name}" disabled="true" /></td>
	 </tr>
	 
	  <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label3">STJ 8:</td>
		<td class="column-input"><h:inputText id="stj8NameId" value="#{trDetail.stj8Name}" disabled="true" /></td>
	 </tr>
	 
	  <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label3">STJ 9:</td>
		<td class="column-input"><h:inputText id="stj9NameId" value="#{trDetail.stj9Name}" disabled="true" /></td>
	 </tr>
	 
	  <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label3" style = "width:230px">STJ 10:</td>
		<td class="column-input"><h:inputText id="stj10NameId" value="#{trDetail.stj10Name}" disabled="true" /></td>
	 </tr>
	
	
</tbody>
</table>
</rich:simpleTogglePanel>
</ui:component>