<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
    
<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afeProjectNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['afeProjectNbr'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.afeProjectNbr}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afeProjectName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['afeProjectName'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.afeProjectName}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afeCategoryNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['afeCategoryNbr'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.afeCategoryNbr}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afeCategoryName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['afeCategoryName'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.afeCategoryName}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afeSubCatNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['afeSubCatNbr'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.afeSubCatNbr}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afeSubCatName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['afeSubCatName'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.afeSubCatName}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afeUse']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['afeUse'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.afeUse}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td class="column-input2">&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afeContractType']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['afeContractType'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.afeContractType}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afeContractStructure']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['afeContractStructure'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.afeContractStructure}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afePropertyCat']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['afePropertyCat'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.afePropertyCat}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td class="column-input2">&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['inventoryNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['inventoryNbr'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.inventoryNbr}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['inventoryName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['inventoryName'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.inventoryName}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['inventoryClass']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['inventoryClass'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.inventoryClass}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['inventoryClassName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['inventoryClassName'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.inventoryClassName}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['voucherDate']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['voucherDate'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.voucherDate}" disabled="true">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td class="column-input2">&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['voucherId']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['voucherId'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.voucherId}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['voucherName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['voucherName'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.voucherName}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['voucherLineNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['voucherLineNbr'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.voucherLineNbr}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['voucherLineDesc']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['voucherLineDesc'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.voucherLineDesc}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	</tbody>
</table>
			
</ui:component>