<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

	<div id="embedded-table">
		<h:panelGrid id="vendorTogglePanel" columns="1" width="100%">
			<rich:simpleTogglePanel id="vendorInformation" switchType="ajax"
				label="Vendor Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['vendorInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<h:panelGroup rendered = "#{!transactionDetailBean.isViewScreen}">
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText 
									value="#{matrixCommonBean.transactionPropertyMap['vendorId'].description}:" /></td>
							<td class="column-input-search"><h:inputText id = "txnlocnvid" style="float:left;" binding="#{transactionViewBean.txnVendorLookupJurisdictionHandler.idInput}"
									value="#{transactionViewBean.txnVendorLookupJurisdictionHandler.id}"  />
							<a4j:commandButton id="vendorId" styleClass="image" style="float:left;width:16px;height:16px;" 
												image="/images/search_small.png" immediate="true" 
												action="#{transactionViewBean.txnVendorLookupJurisdictionHandler.findVendorIdAction}"  reRender="#{txnlocnvid}">
							</a4j:commandButton>	
							</td>
							<td class="column-spacer">&#160;
								
							</td>
						</tr>
						</h:panelGroup>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['vendorCode']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['vendorCode'].description}:" /></td>
							<td class="column-input-search"><h:inputText id = "txnLocnvcode" style="float:left;" maxlength = "100"
									binding="#{transactionViewBean.txnVendorLookupJurisdictionHandler.codeInput}"
									value="#{transactionViewBean.txnVendorLookupJurisdictionHandler.code}" disabled = "#{transactionDetailBean.isViewScreen}" />
							</td>
							<td class="column-spacer">&#160;
								
							</td>
							<td class="column-label"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['vendorName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['vendorName'].description}:" /></td>
							<td class="column-input2"><h:inputText id = "txnlocnvname" binding="#{transactionViewBean.txnVendorLookupJurisdictionHandler.nameInput}"
									value="#{transactionViewBean.txnVendorLookupJurisdictionHandler.name}" maxlength = "100"
									 disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['vendorType']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['vendorType'].description}:" /></td>
							<td class="column-input"><h:inputText id = "txnlocnvtype" binding="#{transactionViewBean.txnVendorLookupJurisdictionHandler.typeInput}"
									style = "width:134px" value="#{transactionViewBean.txnVendorLookupJurisdictionHandler.type}"  maxlength = "100"
									 disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['vendorTypeName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['vendorTypeName'].description}:" /></td>
							<td class="column-input2"><h:inputText id = "txnlocnvtname" binding="#{transactionViewBean.txnVendorLookupJurisdictionHandler.typenameInput}"
									value="#{transactionViewBean.txnVendorLookupJurisdictionHandler.typename}" maxlength = "100"
									 disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['vendorAddressLine1']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['vendorAddressLine1'].description}:" /></td>
							<td class="column-input2" colspan="4"><h:inputText id = "txnlocnvidad1" binding="#{transactionViewBean.txnVendorLookupJurisdictionHandler.addressline1Input}"
									value="#{transactionViewBean.txnVendorLookupJurisdictionHandler.addressline1}" maxlength = "100"
									 disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['vendorAddressLine2']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['vendorAddressLine2'].description}:" /></td>
							<td class="column-input2" colspan="4"><h:inputText id = "txnlocnvad2" binding="#{transactionViewBean.txnVendorLookupJurisdictionHandler.addressline2Input}"
									value="#{transactionViewBean.txnVendorLookupJurisdictionHandler.addressline2}" maxlength = "100"
									 disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							  <td colspan="6">
								<a4j:include id = "vendorInclude" ajaxRendered="true" viewId="/WEB-INF/view/components/txn_vendor_jurisdiction_screen.xhtml">
									<ui:param name="handler" value="#{transactionViewBean.txnVendorLookupJurisdictionHandler}"/>
									<ui:param name="id" value="jurdsVendorInputId"/>
									<ui:param name="readonly" value="#{transactionDetailBean.isViewScreen}"/>
									<ui:param name="required" value="false"/>
									<ui:param name="showheaders" value="true"/>
									<ui:param name="popupName" value="searchJurisdictionModify"/>
									<ui:param name="popupForm" value="searchJurisdictionFormModify"/>
								</a4j:include>
							  </td>
							<td class="column-spacer">&#160;</td>
						</tr>
						 <c:if test="#{loginBean.isAllowedViewCpEntity}">   
						<tr>
								<td class="column-spacer">&#160;</td>
								<td class="column-label2">ControlPoint Filing Entity:</td>
								<td class="column-input2-search" ><h:inputText id="cpFilingEntity" style="float:left;" value="#{trDetail.cpFilingEntityCode}" disabled = "#{transactionDetailBean.isViewScreen}"/>
								<a4j:commandButton id="controlPointBtnView" styleClass="image" style="float:left;width:16px;height:16px;" 
											image="/images/view-small.png" immediate="true"
											rendered = "#{transactionDetailBean.isViewScreen and not empty trDetail.cpFilingEntityCode}"
											action="#{transactionViewBean.viewCpFilingEntityCodeAction}">
								</a4j:commandButton>
								<a4j:commandButton id="controlPointBtnEdit" styleClass="image" style="float:left;width:16px;height:16px;" 
											image="/images/search_small.png" immediate="true" rendered = "#{!transactionDetailBean.isViewScreen}"
											action="#{commonCallBack.findTransactionVendorEditAction}">
								</a4j:commandButton>
								</td>
								<td class="column-spacer">&#160;</td>							  
						</tr>
						</c:if>
					</tbody>
				</table>
			</rich:simpleTogglePanel>
		</h:panelGrid>
	</div>
</ui:component>