<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">


	<rich:simpleTogglePanel id="allocationInformation" switchType="ajax"
	label="Allocation Information"
	actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
	opened="#{transactionViewBean.togglePanelController.togglePanels['allocationInformation']}"
	bodyClass="togglepanel-body" headerClass="togglepanel-header"
	styleClass="togglepanel">
	<f:facet name="openMarker">
		<h:graphicImage style="vertical-align:middle;"
			url="/images/triangle-e.png"></h:graphicImage>
	</f:facet>
	<f:facet name="closeMarker">
		<h:graphicImage style="vertical-align:middle;"
			url="/images/triangle-s.png"></h:graphicImage>
	</f:facet>
	
	<table cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>

				<td class="column-spacer">&#160;</td>
				<td class="column-label4"  style="width:145px;"><h:outputText
						value="#{matrixCommonBean.transactionPropertyMap['allocationMatrixId'].description}:" /></td>
				<td class="column-input-search"><h:inputText style="text-align:right;float:left;"
						value="#{trDetail.allocationMatrixId}" disabled="true" />
						<a4j:commandButton id="btnView1" styleClass="image" 
						style="width:16px;height:16px;#{(trDetail.allocationMatrixId > 0) ? '':'filter:alpha(Opacity=40);'}" 
						disabled="#{!(trDetail.allocationMatrixId > 0)}"
	                    image="/images/view-small.png" immediate="true"
		                action="#{transactionViewBean.viewJurAllocn}">
		                <f:param name="fromview" value="viewFromTransaction" />
		                <f:param name="allocationMatrixId" value="#{trDetail.allocationMatrixId}" />
                        </a4j:commandButton>
				</td>
				
				<td class="column-label4"><h:outputText
						value="#{matrixCommonBean.transactionPropertyMap['taxAllocMatrixId'].description}:" /></td>
				<td class="column-input-search"><h:inputText style="text-align:right;float:left;"
						value="#{trDetail.taxAllocMatrixId}" disabled="true" />
						<a4j:commandButton id="btnView2" styleClass="image" 
						style="width:16px;height:16px;#{(trDetail.taxAllocMatrixId > 0) ? '':'filter:alpha(Opacity=40);'}" 
						disabled="#{!(trDetail.taxAllocMatrixId > 0)}"
	                    image="/images/view-small.png" immediate="true"
		                action="#{transactionViewBean.viewTaxAllocation}">
		                <f:param name="fromview" value="viewFromTransaction" />
		                <f:param name="taxAllocMatrixId" value="#{trDetail.taxAllocMatrixId}" />
                        </a4j:commandButton>
				</td>
				
	        	<td class="column-label4" ><h:outputText
						value= "#{matrixCommonBean.transactionPropertyMap['multiTransCode'].description}:" /></td>
				
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['MULTITRANS'][trDetail.multiTransCode]}">
					<td class="column-input"><h:inputText
						value="#{cacheManager.listCodeMap['MULTITRANS'][trDetail.multiTransCode].description}" disabled="true" /></td>	
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['MULTITRANS'][trDetail.multiTransCode]}">
					<td class="column-input"><h:inputText
						value="#{trDetail.multiTransCode}" disabled="true" /></td>
				</h:panelGroup>

			</tr>
			<tr>
				<td class="column-spacer">&#160;</td>
				<td class="column-label4" style="width:145px;"><h:outputText
						value="#{matrixCommonBean.transactionPropertyMap['allocationSubtransId'].description}:" /></td>
				<td class="column-input-search"><h:inputText style="text-align:right;float:left"
						value="#{trDetail.allocationSubtransId}" disabled="true" />
				<a4j:commandButton id="btnView4" styleClass="image" 
				     style="width:16px;height:16px;#{(trDetail.allocationSubtransId > 0) ? '':'filter:alpha(Opacity=40);'}" 
				     disabled="#{!(trDetail.allocationSubtransId > 0)}"
	                   image="/images/view-small.png" immediate="true"
		              action="#{transactionDetailBean.displayViewSplitAction}">
		               <f:param name="fromview" value="viewFromTransaction" />
		               <f:param name="taxAllocSubtransID" value="#{trDetail.allocationSubtransId}" />
		                <f:param name="message" value="Allocation SubtransID not found" />
                 </a4j:commandButton>
				</td>
				
				<td class="column-label4"><h:outputText
						value="Tax Allocation Subtrans ID:" /></td>
				<td class="column-input-search"><h:inputText style="text-align:right;float:left;"
						value="#{trDetail.splitSubtransId}" disabled="true" />
				<a4j:commandButton id="btnSubtransView" styleClass="image" 
					   style="width:16px;height:16px;#{(trDetail.splitSubtransId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					   disabled="#{!(trDetail.splitSubtransId > 0)}"
	                   image="/images/view-small.png" immediate="true"
		               action="#{transactionDetailBean.displayViewSplitAction}">
		                <f:param name="fromview" value="viewFromTransaction" />
		                <f:param name="taxAllocSubtransID" value="#{trDetail.splitSubtransId}" />
		               <f:param name="message" value="Tax Allocation SubtransID not found" />
                        </a4j:commandButton>	
				</td>
				<td class="column-spacer">&#160;</td>

		   </tr>
		</tbody>
		</table>
		</rich:simpleTogglePanel>
		
</ui:component>
