<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">
		
		<rich:simpleTogglePanel id="jurisdictionDetails" switchType="ajax"
				label="Jurisdiction Details"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['jurisdictionDetails']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>   
		
	<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td>Name</td>
		<td>Primary Situs</td>
		<td>Primary Tax Type</td>
		<td>Secondary Situs</td>
		<td>Secondary Tax Type</td>
		<td>Nexus Type</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	
	 <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label4">Country:</td>
		<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['COUNTRY'][trDetail.countryCode]}">
			<td class="column-input-small"><h:inputText  value="#{(cacheManager.listCodeMap['COUNTRY'][trDetail.countryCode].description)} (#{trDetail.countryCode})" disabled="true" /></td>
		</h:panelGroup>
		
		<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['COUNTRY'][trDetail.countryCode]}">
			<td class="column-input-small"><h:inputText  value="#{trDetail.countryCode}" disabled="true" /></td>
		</h:panelGroup>
		
		 <h:panelGroup rendered="#{not empty transactionViewBean.getSitusMatrixDetails(trDetail.countrySitusMatrixId)}">
			 <h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText style = "width:178px;"  value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode].description)}" disabled="true"/></td>
			 </h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText style = "width:178px;"  value="#{transactionViewBean.situsMatrix.primarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.situsMatrix.primaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText  style = "width:178px;" value="#{cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode].description}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText  style = "width:178px;" value="#{transactionViewBean.situsMatrix.secondarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.situsMatrix.secondaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			
		</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.situsMatrix}">
				<td class="column-description"><h:inputText   style = "width:178px;" value="" disabled="true"/></td>
				<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
				<td class="column-description"><h:inputText style = "width:178px;"  value="" disabled="true"/></td>
				<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>

		
		<h:panelGroup rendered="#{not empty transactionViewBean.getVendorNexusDtl(trDetail.countryVendorNexusDtlId)}">
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode]}">
			<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode].description)}" disabled="true"/></td>
		  </h:panelGroup>
		   <h:panelGroup rendered="#{empty cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode]}">
			<td class="column-input-small"><h:inputText   value="#{transactionViewBean.vendorNexusDtl.nexusTypeCode}" disabled="true"/></td>
		  </h:panelGroup>
		</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.vendorNexusDtl}">
			<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
		</h:panelGroup>
		</tr>
		
		<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label4">State:</td>
		<h:panelGroup rendered="#{ not empty cacheManager.taxCodeStateMap[trDetail.stateCode]}">	
			<td class="column-input-small"><h:inputText  value="#{cacheManager.taxCodeStateMap[trDetail.stateCode].name} (#{trDetail.stateCode})" disabled="true" /></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{ empty cacheManager.taxCodeStateMap[trDetail.stateCode]}">	
			<td class="column-input-small"><h:inputText  value="#{trDetail.stateCode}" disabled="true" /></td>
		</h:panelGroup>
		
		 <h:panelGroup rendered="#{not empty transactionViewBean.getSitusMatrixDetails(trDetail.stateSitusMatrixId)}">
			 <h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText style = "width:178px;"  value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode].description)}" disabled="true"/></td>
			 </h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText style = "width:178px;"  value="#{transactionViewBean.situsMatrix.primarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.situsMatrix.primaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText  style = "width:178px;" value="#{cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode].description}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText  style = "width:178px;" value="#{transactionViewBean.situsMatrix.secondarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.situsMatrix.secondaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
		</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.situsMatrix}">
				<td class="column-description"><h:inputText   style = "width:178px;" value="" disabled="true"/></td>
				<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
				<td class="column-description"><h:inputText style = "width:178px;"  value="" disabled="true"/></td>
				<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
	
		
		<h:panelGroup rendered="#{not empty transactionViewBean.getVendorNexusDtl(trDetail.stateVendorNexusDtlId)}">
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode]}">
			<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode].description)}" disabled="true"/></td>
		  </h:panelGroup>
		   <h:panelGroup rendered="#{empty cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode]}">
			<td class="column-input-small"><h:inputText   value="#{transactionViewBean.vendorNexusDtl.nexusTypeCode}" disabled="true"/></td>
		  </h:panelGroup>
		</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.vendorNexusDtl}">
			<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
		</h:panelGroup>
		</tr>
				
		<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label4">County:</td>
		<td class="column-input-small"><h:inputText  value="#{trDetail.countyName}" disabled="true" /></td>
		 <h:panelGroup rendered="#{not empty transactionViewBean.getSitusMatrixDetails(trDetail.countySitusMatrixId)}">
			 <h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText style = "width:178px;"  value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode].description)}" disabled="true"/></td>
			 </h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText style = "width:178px;"  value="#{transactionViewBean.situsMatrix.primarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.situsMatrix.primaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText  style = "width:178px;" value="#{cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode].description}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText  style = "width:178px;" value="#{transactionViewBean.situsMatrix.secondarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.situsMatrix.secondaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
		</h:panelGroup>	
		
			<h:panelGroup rendered="#{empty transactionViewBean.situsMatrix}">
				<td class="column-description"><h:inputText   style = "width:178px;" value="" disabled="true"/></td>
				<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
				<td class="column-description"><h:inputText style = "width:178px;"  value="" disabled="true"/></td>
				<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
	
		
		<h:panelGroup rendered="#{not empty transactionViewBean.getVendorNexusDtl(trDetail.countyVendorNexusDtlId)}">
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode]}">
			<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode].description)}" disabled="true"/></td>
		  </h:panelGroup>
		   <h:panelGroup rendered="#{empty cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode]}">
			<td class="column-input-small"><h:inputText   value="#{transactionViewBean.vendorNexusDtl.nexusTypeCode}" disabled="true"/></td>
		  </h:panelGroup>
		</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.vendorNexusDtl}">
			<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
		</h:panelGroup>
		</tr>
		
		<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label4">City:</td>
		<td class="column-input-small"><h:inputText  value="#{trDetail.cityName}" disabled="true" /></td>
		 <h:panelGroup rendered="#{not empty transactionViewBean.getSitusMatrixDetails(trDetail.citySitusMatrixId)}">
			 <h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText style = "width:178px;"  value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode].description)}" disabled="true"/></td>
			 </h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText style = "width:178px;"  value="#{transactionViewBean.situsMatrix.primarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.situsMatrix.primaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText  style = "width:178px;" value="#{cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode].description}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText  style = "width:178px;" value="#{transactionViewBean.situsMatrix.secondarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.situsMatrix.secondaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
		</h:panelGroup>
			<h:panelGroup rendered="#{empty transactionViewBean.situsMatrix}">
				<td class="column-description"><h:inputText   style = "width:178px;" value="" disabled="true"/></td>
				<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
				<td class="column-description"><h:inputText style = "width:178px;"  value="" disabled="true"/></td>
				<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
	
		
		<h:panelGroup rendered="#{not empty transactionViewBean.getVendorNexusDtl(trDetail.cityVendorNexusDtlId)}">
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode]}">
			<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode].description)}" disabled="true"/></td>
		  </h:panelGroup>
		   <h:panelGroup rendered="#{empty cacheManager.listCodeMap['NEXUSTYPE'][transactionViewBean.vendorNexusDtl.nexusTypeCode]}">
			<td class="column-input-small"><h:inputText   value="#{transactionViewBean.vendorNexusDtl.nexusTypeCode}" disabled="true"/></td>
		  </h:panelGroup>
		</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.vendorNexusDtl}">
			<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
		</h:panelGroup>
		</tr>

		<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label4">STJ 1:</td>
		<td class="column-input-small"><h:inputText id="stj1NameId" value="#{trDetail.stj1Name}" disabled="true" /></td>
		 <h:panelGroup rendered="#{not empty transactionViewBean.getSitusMatrixDetails(trDetail.stj1SitusMatrixId)}">
			 <h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText style = "width:178px;"  value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode].description)}" disabled="true"/></td>
			 </h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText style = "width:178px;"  value="#{transactionViewBean.situsMatrix.primarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.situsMatrix.primaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText  style = "width:178px;" value="#{cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode].description}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText  style = "width:178px;" value="#{transactionViewBean.situsMatrix.secondarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.situsMatrix.secondaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
		 </h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.situsMatrix}">
				<td class="column-description"><h:inputText   style = "width:178px;" value="" disabled="true"/></td>
				<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
				<td class="column-description"><h:inputText style = "width:178px;"  value="" disabled="true"/></td>
				<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
	      
		
		</tr>
		
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label4">STJ 2:</td>
		<td class="column-input-small"><h:inputText id="stj2NameId" value="#{trDetail.stj2Name}" disabled="true" /></td>
		 <h:panelGroup rendered="#{not empty transactionViewBean.getSitusMatrixDetails(trDetail.stj2SitusMatrixId)}">
			 <h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText style = "width:178px;"  value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode].description)}" disabled="true"/></td>
			 </h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText style = "width:178px;"  value="#{transactionViewBean.situsMatrix.primarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.situsMatrix.primaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText  style = "width:178px;" value="#{cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode].description}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText  style = "width:178px;" value="#{transactionViewBean.situsMatrix.secondarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.situsMatrix.secondaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
		 </h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.situsMatrix}">
				<td class="column-description"><h:inputText   style = "width:178px;" value="" disabled="true"/></td>
				<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
				<td class="column-description"><h:inputText style = "width:178px;"  value="" disabled="true"/></td>
				<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
		</tr>
			
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label4">STJ 3:</td>
		<td class="column-input-small"><h:inputText id="stj3NameId" value="#{trDetail.stj3Name}" disabled="true" /></td>
		 <h:panelGroup rendered="#{not empty transactionViewBean.getSitusMatrixDetails(trDetail.stj3SitusMatrixId)}">
			 <h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText style = "width:178px;"  value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode].description)}" disabled="true"/></td>
			 </h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText style = "width:178px;"  value="#{transactionViewBean.situsMatrix.primarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.situsMatrix.primaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText  style = "width:178px;" value="#{cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode].description}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText  style = "width:178px;" value="#{transactionViewBean.situsMatrix.secondarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.situsMatrix.secondaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
		  </h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.situsMatrix}">
				<td class="column-description"><h:inputText   style = "width:178px;" value="" disabled="true"/></td>
				<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
				<td class="column-description"><h:inputText style = "width:178px;"  value="" disabled="true"/></td>
				<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
		</tr>
		
		<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label4">STJ 4:</td>
		<td class="column-input-small"><h:inputText id="stj4NameId" value="#{trDetail.stj4Name}" disabled="true" /></td>
		 <h:panelGroup rendered="#{not empty transactionViewBean.getSitusMatrixDetails(trDetail.stj4SitusMatrixId)}">
			 <h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText style = "width:178px;"  value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode].description)}" disabled="true"/></td>
			 </h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText style = "width:178px;"  value="#{transactionViewBean.situsMatrix.primarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.situsMatrix.primaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText  style = "width:178px;" value="#{cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode].description}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText  style = "width:178px;" value="#{transactionViewBean.situsMatrix.secondarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.situsMatrix.secondaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
		</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.situsMatrix}">
				<td class="column-description"><h:inputText   style = "width:178px;" value="" disabled="true"/></td>
				<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
				<td class="column-description"><h:inputText style = "width:178px;"  value="" disabled="true"/></td>
				<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
		</tr>
		
		<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label4">STJ 5:</td>
		<td class="column-input-small"><h:inputText id="stj5NameId" value="#{trDetail.stj5Name}" disabled="true" /></td>
		 <h:panelGroup rendered="#{not empty transactionViewBean.getSitusMatrixDetails(trDetail.stj5SitusMatrixId)}">
			 <h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText style = "width:178px;"  value="#{(cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode].description)}" disabled="true"/></td>
			 </h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.primarySitusCode]}">
				<td class="column-description"><h:inputText style = "width:178px;"  value="#{transactionViewBean.situsMatrix.primarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.primaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.situsMatrix.primaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText  style = "width:178px;" value="#{cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode].description}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['LOCNTYPE'][transactionViewBean.situsMatrix.secondarySitusCode]}">
				<td class="column-description"><h:inputText  style = "width:178px;" value="#{transactionViewBean.situsMatrix.secondarySitusCode}" disabled="true"/></td>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{(cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode].description)}" disabled="true"/></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.situsMatrix.secondaryTaxtypeCode]}">
				<td class="column-input-small"><h:inputText   value="#{transactionViewBean.situsMatrix.secondaryTaxtypeCode}" disabled="true"/></td>
			</h:panelGroup>
		   </h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.situsMatrix}">
				<td class="column-description"><h:inputText   style = "width:178px;" value="" disabled="true"/></td>
				<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
				<td class="column-description"><h:inputText style = "width:178px;"  value="" disabled="true"/></td>
				<td class="column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
		</tr>
	  <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">STJ 6:</td>
		<td class="column-input-small"><h:inputText id="stj6NameId" value="#{trDetail.stj6Name}" disabled="true" /></td>
	 </tr>
	 
	  <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">STJ 7:</td>
		<td class="column-input-small"><h:inputText id="stj7NameId" value="#{trDetail.stj7Name}" disabled="true" /></td>
	 </tr>
	 
	  <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">STJ 8:</td>
		<td class="column-input-small"><h:inputText id="stj8NameId" value="#{trDetail.stj8Name}" disabled="true" /></td>
	 </tr>
	 
	  <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">STJ 9:</td>
		<td class="column-input-small"><h:inputText id="stj9NameId" value="#{trDetail.stj9Name}" disabled="true" /></td>
	 </tr>
	 
	  <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">STJ 10:</td>
		<td class="column-input-small"><h:inputText id="stj10NameId" value="#{trDetail.stj10Name}" disabled="true" /></td>
	 </tr>
	
</tbody>
</table>
</rich:simpleTogglePanel>
</ui:component>