<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
    
<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText value="#{matrixCommonBean.transactionPropertyMap['glDate'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.glDate}" disabled="true">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td class="column-input2">&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glCompanyNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glCompanyNbr'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.glCompanyNbr}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glCompanyName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glCompanyName'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.glCompanyName}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glDivisionNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glDivisionNbr'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.glDivisionNbr}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glDivisionName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glDivisionName'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.glDivisionName}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glCcNbrDeptId']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glCcNbrDeptId'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.glCcNbrDeptId}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glCcNbrDeptName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glCcNbrDeptName'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.glCcNbrDeptName}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glLocalAcctNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glLocalAcctNbr'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.glLocalAcctNbr}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glLocalAcctName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glLocalAcctName'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.glLocalAcctName}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glLocalSubAcctNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glLocalSubAcctNbr'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.glLocalSubAcctNbr}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glLocalSubAcctName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glLocalSubAcctName'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.glLocalSubAcctName}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glFullAcctNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glFullAcctNbr'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.glFullAcctNbr}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glFullAcctName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glFullAcctName'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.glFullAcctName}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glLineItmDistAmt']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glLineItmDistAmt'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.glLineItmDistAmt}" disabled="true">
				<f:convertNumber pattern="#0.00" minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['tbCalcTaxAmt']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['tbCalcTaxAmt'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.tbCalcTaxAmt}" disabled="true">
				<!--
				<f:convertNumber pattern="#0.00"/>
				-->
				<!-- custom converter that Rounds UP -->
				<f:convertNumber minFractionDigits="2"  maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}" />
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['comments']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['comments'].description}:"/></td>
		<td colspan="4">
			<h:inputTextarea value="#{trDetail.comments}" 
				style="width: 100%;" rows="10" disabled="true"/>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	</tbody>
</table>
			
</ui:component>