<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">
	<rich:simpleTogglePanel id="taxRateInformation" switchType="ajax"
					label="Tax Rate Information"
					actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
					opened="#{transactionViewBean.togglePanelController.togglePanels['taxRateInformation']}"
					bodyClass="togglepanel-body" headerClass="togglepanel-header"
					styleClass="togglepanel">
					<f:facet name="openMarker">
						<h:graphicImage style="vertical-align:middle;"
							url="/images/triangle-e.png"></h:graphicImage>
					</f:facet>
					<f:facet name="closeMarker">
						<h:graphicImage style="vertical-align:middle;"
							url="/images/triangle-s.png"></h:graphicImage>
					</f:facet>   
	<table cellpadding="0" cellspacing="0" width="100%">
		<tbody>
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class= "column-label4">&#160;</td>
			<td class= "column-label4">Tax Rate ID</td>
			<td class= "column-label4">From Amount</td>
			<td class= "column-label4">Rate</td>
			<td class= "column-label4">Set Amount</td>
			<td class= "column-label4">Through Amount</td>
			<td class= "column-label7">MaxTax Amount</td>
			<td class= "column-label4">Tax Entire Amount</td>
			<td class= "column-label4">TaxCode Override?</td>
			
			
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td>Country - Tier1:</td>
			<td class = "column-input-small-search"><h:inputText id="countryTier1TaxrateId" style="float:left;text-align: right;" value="#{trDetail.countryTaxrateId}" disabled="true" />
				<c:if test="#{trDetail.countryTaxrateId != 0 and (not empty trDetail.countryTaxrateId)}">
					<a4j:commandButton id="btnView35" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		              action="#{transactionViewBean.viewJurisdictionTaxRate}">
		              <f:param name="command" value="viewJurisdictionTaxrateFromTransactionLog" />
		              <f:param name="jurisdictionTaxRateId" value="#{trDetail.countryTaxrateId}" /> 
		            </a4j:commandButton>
				</c:if>
			</td>
			<td class = "column-input-small"><h:inputText id="CountryTier1MinAmount" style = "text-align: right" value="0.00" disabled="true" /></td>
			<td class = "column-input-small">
				<h:inputText id="countryTier1Rate"    style = "text-align: right" value="#{trDetail.countryTier1Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="countryTier1Setamt"  style = "text-align: right" value="#{trDetail.countryTier1Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="countryTier1MaxAmt"  style = "text-align: right" value="#{trDetail.countryTier1MaxAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="countryTier1MaxTaxAmt"  style = "text-align: right" value="#{trDetail.countryMaxtaxAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td>&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="countryTier1check" value="#{trDetail.countryTaxcodeOverBooleanFlag}" disabled="true" id="countryTier1EntBooleanFlag"  /></td>
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td>Country - Tier2:</td>
			<td>&#160;</td>
			<td class = "column-input-small" ><h:inputText id="CountryTier2MinAmount" style = "text-align: right"  value="#{trDetail.countryTier2MinAmt}" disabled="true">
			<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="countryTier2Rate" style = "text-align: right"  value="#{trDetail.countryTier2Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="countryTier2Setamt"  style = "text-align: right" value="#{trDetail.countryTier2Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="countryTier2MaxAmt" style = "text-align: right"  value="#{trDetail.countryTier2MaxAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="countryTier2EntAmtcheck" value="#{trDetail.countryTier2EntamBooleanFlag}" disabled="true" id="countryTier2EntBooleanFlag"  /></td>
			<td>&#160;</td>
			
			<td>&#160;</td>
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">Country - Tier3:</td>
			<td>&#160;</td>
			<td>&#160;</td>
			<td class = "column-input-small">
				<h:inputText id="countryTier3Rate" style = "text-align: right"  value="#{trDetail.countryTier3Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="countryTier3Setamt"  style = "text-align: right" value="#{trDetail.countryTier3Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="countryTier3MaxAmt" style = "text-align: right"  value="*MAX" disabled="true" />
			</td>
			<td class = "column-input-small">&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="countryTier3EntAmtcheck" value="#{trDetail.countryTier3EntamBooleanFlag}" disabled="true" id="countryTaxcodRateeOverBooleanFlag"  /></td>
			
		</tr>
		
	    <h:panelGroup rendered="#{trDetail.countryTaxcodeOverFlag eq '1'}">
   
		 <tr>
		  <td class="column-spacer">&#160;</td>
		  <td class="column-label">Country - Override:</td>
		
		  <h:panelGroup rendered="#{trDetail.countryTaxableThresholdAmt gt '0'}">
		   <td><h:outputText value = "Taxable Threshold Amount:"/></td>
		   <td class = "column-input-small"><h:inputText style = "text-align: right;" value = "#{trDetail.countryTaxableThresholdAmt}" disabled="true"/></td>
		  </h:panelGroup>
		 
		   <h:panelGroup rendered="#{trDetail.countryMinimumTaxableAmt gt '0'}">
		    <td><h:outputText value = "Minimum Taxable Amount:"/></td>
		    <td class = "column-input-small"><h:inputText style = "text-align: right;" value = "#{trDetail.countryMinimumTaxableAmt}" disabled="true"/></td>
		  </h:panelGroup>
		 
		   <h:panelGroup rendered="#{trDetail.countryMaximumTaxableAmt gt '0'}">
		    <td><h:outputText value = "Maximmum Taxable Amount:"/></td>
		    <td class = "column-input-small"><h:inputText style = "text-align: right;" value = "#{trDetail.countryMaximumTaxableAmt}" disabled="true"/></td> 
		   </h:panelGroup>
		 
		   <h:panelGroup rendered="#{trDetail.countryMaximumTaxAmt gt '0'}">
		    <td><h:outputText value = "Maximum Tax Amount:"/></td>
		    <td class = "column-input-small"><h:inputText style = "text-align: right;" value = "#{trDetail.countryMaximumTaxAmt}" disabled="true"/></td>
		   </h:panelGroup>
		   
		      <h:panelGroup rendered = "#{trDetail.countryTaxableThresholdAmt eq '0' and trDetail.countryMinimumTaxableAmt eq '0' and trDetail.countryMaximumTaxableAmt eq '0' 
		                               and trDetail.countryMaximumTaxAmt eq '0' }">
		      
		      <td>&#160;</td>
		      <td>&#160;</td>
		   </h:panelGroup>
		   
		     <td><h:outputText value = "Tax Processing Type:"/></td>
		     <h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXPROCTYP'][trDetail.countryTaxProcessTypeCode]}">
		       <td class="column-input-small"><h:inputText value = "#{(cacheManager.listCodeMap['TAXPROCTYP'][trDetail.countryTaxProcessTypeCode].description)}" disabled="true"/></td>
		     </h:panelGroup>
		     <h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXPROCTYP'][trDetail.countryTaxProcessTypeCode]}">
		       <td class="column-input-small"><h:inputText value="#{trDetail.countryTaxProcessTypeCode}" disabled="true" /></td>
		     </h:panelGroup>
		     
		        <td><h:outputText value = "Percent Of Base:"/></td>
		        <td class="column-input-small">
		          <h:inputText value="#{trDetail.countryBaseChangePct*100}%" style="text-align:right;" disabled="true" >
                      <f:convertNumber type="number" minFractionDigits="2" maxFractionDigits="10"/>
		          </h:inputText>
				</td>
		  </tr>
	     </h:panelGroup>
		
		<!-- State -->
		 <tr><td>&#160;</td></tr>
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">State - Tier1:</td>
			<td class ="column-input-small-search">
			<h:inputText id="stateTier1TaxrateId" style ="float:left;text-align: right;" value="#{trDetail.stateTaxrateId}" disabled="true"/>
			 <c:if test="#{trDetail.stateTaxrateId != 0 and (not empty trDetail.stateTaxrateId)}">
					<a4j:commandButton id="btnView36" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		              action="#{transactionViewBean.viewJurisdictionTaxRate}">
		              <f:param name="command" value="viewJurisdictionTaxrateFromTransactionLog" />
		              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stateTaxrateId}" /> 
		            </a4j:commandButton>
				</c:if>
			</td>
			<td class = "column-input-small"><h:inputText id="stateTier1MinAmount" style = "text-align: right"  value="0.00" disabled="true" /></td>
			<td class = "column-input-small">
				<h:inputText id="stateTier1Rate"  style = "text-align: right" value="#{trDetail.stateTier1Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="stateTier1Setamt" style = "text-align: right"  value="#{trDetail.stateTier1Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="stateTier1MaxAmt"  style = "text-align: right" value="#{trDetail.stateTier1MaxAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="stateTier1MaxTaxAmt"  style = "text-align: right" value="#{trDetail.stateMaxtaxAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
				<td>&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="stateTier1check" value="#{trDetail.stateTaxcodeOverBooleanFlag}" disabled="true" id="stateTaxcodeRateOverBooleanFlag"  /></td>
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">State - Tier2:</td>
			<td>&#160;</td>
			<td class = "column-input-small"><h:inputText id="stateTier2MinAmount"  style = "text-align: right" value="#{trDetail.stateTier2MinAmt}" disabled="true" >
			<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="stateTier2Rate" style = "text-align: right"  value="#{trDetail.stateTier2Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="stateTier2Setamt" style = "text-align: right"  value="#{trDetail.stateTier2Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="stateTier2MaxAmt"  style = "text-align: right" value="#{trDetail.stateTier2MaxAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="stateTier2EntAmtcheck" value="#{trDetail.stateTier2EntamBooleanFlag}" disabled="true" id="stateTier2EntBooleanFlag"  /></td>
			<td>&#160;</td>
			
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">State - Tier3:</td>
			<td>&#160;</td>
			<td>&#160;</td>
			<td class = "column-input-small">
				<h:inputText id="stateTier3Rate"  style = "text-align: right" value="#{trDetail.stateTier3Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="stateTier3Setamt" style = "text-align: right"  value="#{trDetail.stateTier3Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="stateTier3MaxAmt"  style = "text-align: right" value="*MAX" disabled="true" />
			</td>
			<td class = "column-input-small">&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="stateTier3EntAmtcheck" value="#{trDetail.stateTier3EntamBooleanFlag}" disabled="true" id="stateTier3EntBooleanFlag"  /></td>
			<td>&#160;</td>
			
		</tr>
		
		<h:panelGroup rendered="#{trDetail.stateTaxcodeOverFlag eq '1'}">
   
		 <tr>
		  <td class="column-spacer">&#160;</td>
		  <td class="column-label">State - Override:</td>
		
		  <h:panelGroup rendered="#{trDetail.stateTaxableThresholdAmt gt '0'}">
		   <td><h:outputText value = "Taxable Threshold Amount:"/></td>
		   <td><h:inputText style = "text-align: right;" value = "#{trDetail.stateTaxableThresholdAmt}" disabled="true"/></td>
		  </h:panelGroup>
		 
		   <h:panelGroup rendered="#{trDetail.stateMinimumTaxableAmt gt '0'}">
		    <td><h:outputText value = "Minimum Taxable Amount:"/></td>
		    <td><h:inputText style = "text-align: right;" value = "#{trDetail.stateMinimumTaxableAmt}" disabled="true"/></td>
		  </h:panelGroup>
		 
		   <h:panelGroup rendered="#{trDetail.stateMaximumTaxableAmt gt '0'}">
		    <td><h:outputText value = "Maximmum Taxable Amount:"/></td>
		    <td><h:inputText  style = "text-align: right;" value = "#{trDetail.stateMaximumTaxableAmt}" disabled="true"/></td> 
		   </h:panelGroup>
		 
		   <h:panelGroup rendered="#{trDetail.stateMaximumTaxAmt gt '0'}">
		    <td><h:outputText value = "Maximum Tax Amount:"/></td>
		    <td><h:inputText style = "text-align: right;" value = "#{trDetail.stateMaximumTaxAmt}" disabled="true"/></td>
		   </h:panelGroup>
		   
		    <h:panelGroup rendered = "#{trDetail.stateTaxableThresholdAmt eq '0' and trDetail.stateMinimumTaxableAmt eq '0' and trDetail.stateMaximumTaxableAmt eq '0' 
		                               and trDetail.stateMaximumTaxAmt eq '0' }">
		      
		      <td>&#160;</td>
		      <td>&#160;</td>
		   </h:panelGroup>
		   
		     <td><h:outputText value = "Tax Processing Type:"/></td>
		     <h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXPROCTYP'][trDetail.stateTaxProcessTypeCode]}">
		       <td class="column-input-small"><h:inputText value = "#{(cacheManager.listCodeMap['TAXPROCTYP'][trDetail.stateTaxProcessTypeCode].description)}" disabled="true"/></td>
		     </h:panelGroup>
		     <h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXPROCTYP'][trDetail.stateTaxProcessTypeCode]}">
		       <td class="column-input-small"><h:inputText value="#{trDetail.stateTaxProcessTypeCode}" disabled="true" /></td>
		     </h:panelGroup>
		     
		        <td><h:outputText value = "Percent Of Base:"/></td>
		        <td class="column-input-small">
		          <h:inputText value="#{trDetail.stateBaseChangePct*100}%" style="text-align:right;" disabled="true" >
                      <f:convertNumber type="number" minFractionDigits="2" maxFractionDigits="10"/>
		          </h:inputText>
				</td>
		  </tr>
	     </h:panelGroup>
		<!-- County -->
		 <tr><td>&#160;</td></tr>
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">County - Tier1:</td>
			<td class = "column-input-small-search"><h:inputText id="countyTier1TaxrateId" style="float:left;text-align: right;" value="#{trDetail.countyTaxrateId}" disabled="true" />
			  <c:if test="#{trDetail.countyTaxrateId != 0 and (not empty trDetail.countyTaxrateId)}">
					<a4j:commandButton id="btnView37" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		                action="#{transactionViewBean.viewJurisdictionTaxRate}">
		              <f:param name="command" value="viewJurisdictionTaxrateFromTransactionLog" />
		              <f:param name="jurisdictionTaxRateId" value="#{trDetail.countyTaxrateId}" /> 
		            </a4j:commandButton>
				</c:if>
			</td>
			<td class = "column-input-small"><h:inputText id="countyTier1MinAmount"  style = "text-align: right" value="0.00" disabled="true" /></td>
			<td class = "column-input-small">
				<h:inputText id="countyTier1Rate" style = "text-align: right"   value="#{trDetail.countyTier1Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="countyTier1Setamt"  style = "text-align: right" value="#{trDetail.countyTier1Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="countyTier1MaxAmt"  style = "text-align: right" value="#{trDetail.countyTier1MaxAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="countyTier1MaxTaxAmt" style = "text-align: right"  value="#{trDetail.countyMaxtaxAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td>&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="countyTier1check" value="#{trDetail.countyTaxcodeOverBooleanFlag}" disabled="true" id="countyTaxcodeRateOverBooleanFlag"  /></td>
		</tr>
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">County - Tier2:</td>
			<td>&#160;</td>
			<td class = "column-input-small"><h:inputText id="countyTier2MinAmount" style = "text-align: right"  value="#{trDetail.countyTier2MinAmt}" disabled="true">
			<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="countyTier2Rate"  style = "text-align: right" value="#{trDetail.countyTier2Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="countyTier2Setamt"  style = "text-align: right" value="#{trDetail.countyTier2Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="countyTier2MaxAmt"  style = "text-align: right" value="#{trDetail.countyTier2MaxAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="countyTier2EntAmtcheck" value="#{trDetail.countyTier2EntamBooleanFlag}" disabled="true" id="countyTier2EntBooleanFlag"  /></td>
			<td>&#160;</td>
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">County - Tier3:</td>
			<td>&#160;</td>
			<td>&#160;</td>
			<td class = "column-input-small">
				<h:inputText id="countyTier3Rate" style = "text-align: right"  value="#{trDetail.countyTier3Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="countyTier3Setamt"  style = "text-align: right" value="#{trDetail.countyTier3Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="countyTier3MaxAmt" style = "text-align: right"  value="*MAX" disabled="true" />
			</td>
			<td class = "column-input-small">&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="countyTier3EntAmtcheck" value="#{trDetail.countyTier3EntamBooleanFlag}" disabled="true" id="countyTier3EntBooleanFlag"  /></td>
			<td>&#160;</td>
		</tr>
		
		<h:panelGroup rendered="#{trDetail.countyTaxcodeOverFlag eq '1'}">
   
		 <tr>
		  <td class="column-spacer">&#160;</td>
		  <td class="column-label">County - Override:</td>
		
		  <h:panelGroup rendered="#{trDetail.countyTaxableThresholdAmt gt '0'}">
		   <td><h:outputText value = "Taxable Threshold Amount:"/></td>
		   <td class = "column-input-small"><h:inputText style = "text-align: right;" value = "#{trDetail.countyTaxableThresholdAmt}" disabled="true"/></td>
		  </h:panelGroup>
		 
		   <h:panelGroup rendered="#{trDetail.countyMinimumTaxableAmt gt '0'}">
		    <td><h:outputText value = "Minimum Taxable Amount:"/></td>
		    <td class = "column-input-small"><h:inputText style = "text-align: right;" value = "#{trDetail.countyMinimumTaxableAmt}" disabled="true"/></td>
		  </h:panelGroup>
		 
		   <h:panelGroup rendered="#{trDetail.countyMaximumTaxableAmt gt '0'}">
		    <td><h:outputText value = "Maximmum Taxable Amount:"/></td>
		    <td class = "column-input-small"><h:inputText style = "text-align: right;" value = "#{trDetail.countyMaximumTaxableAmt}" disabled="true"/></td> 
		   </h:panelGroup>
		 
		   <h:panelGroup rendered="#{trDetail.countyMaximumTaxAmt gt '0'}">
		    <td><h:outputText value = "Maximum Tax Amount:"/></td>
		    <td class = "column-input-small"><h:inputText style = "text-align: right;" value = "#{trDetail.countyMaximumTaxAmt}" disabled="true"/></td>
		   </h:panelGroup>
		    <h:panelGroup rendered = "#{trDetail.countyTaxableThresholdAmt eq '0' and trDetail.countyMinimumTaxableAmt eq '0' and trDetail.countyMaximumTaxableAmt eq '0' 
		                               and trDetail.countyMaximumTaxAmt eq '0' }">
		      
		      <td>&#160;</td>
		      <td>&#160;</td>
		   </h:panelGroup>
		   
		     <td><h:outputText value = "Tax Processing Type:"/></td>
		     <h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXPROCTYP'][trDetail.countyTaxProcessTypeCode]}">
		       <td class="column-input-small"><h:inputText value = "#{(cacheManager.listCodeMap['TAXPROCTYP'][trDetail.countyTaxProcessTypeCode].description)}" disabled="true" /></td>
		     </h:panelGroup>
		     <h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXPROCTYP'][trDetail.countyTaxProcessTypeCode]}">
		       <td class="column-input-small"><h:inputText value="#{trDetail.countyTaxProcessTypeCode}" disabled="true" /></td>
		     </h:panelGroup>
		     
		        <td><h:outputText value = "Percent Of Base:"/></td>
		        <td class="column-input-small">
		          <h:inputText value="#{trDetail.countyBaseChangePct * 100}%" style="text-align:right;" disabled="true" >
                      <f:convertNumber type="number" minFractionDigits="2" maxFractionDigits="10"/>
		          </h:inputText>
				</td>
		  </tr>
	     </h:panelGroup>
		
	<!-- City -->
		 <tr><td>&#160;</td></tr>
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">City - Tier1:</td>
			<td class="column-input-small-search"><h:inputText id="cityTier1TaxrateId" style="float:left;text-align: right;" value="#{trDetail.cityTaxrateId}" disabled="true" />
			  <c:if test="#{trDetail.cityTaxrateId != 0 and (not empty trDetail.cityTaxrateId)}">
					<a4j:commandButton id="btnView38" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		              action="#{transactionViewBean.viewJurisdictionTaxRate}">
		              <f:param name="command" value="viewJurisdictionTaxrateFromTransactionLog" />
		              <f:param name="jurisdictionTaxRateId" value="#{trDetail.cityTaxrateId}" /> 
		            </a4j:commandButton>
				</c:if>
			</td>
			<td class = "column-input-small"><h:inputText id="cityTier1MinAmount" style = "text-align: right"  value="0.00" disabled="true" /></td>
			<td class = "column-input-small">
				<h:inputText id="cityTier1Rate" style = "text-align: right"  value="#{trDetail.cityTier1Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="cityTier1Setamt"  style = "text-align: right" value="#{trDetail.cityTier1Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="cityTier1MaxAmt" style = "text-align: right"  value="#{trDetail.cityTier1MaxAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="cityTier1MaxTaxAmt"  style = "text-align: right" value="#{trDetail.cityMaxtaxAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td>&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="cityTier1check" value="#{trDetail.cityTaxcodeOverBooleanFlag}" disabled="true" id="cityTaxcodeRateOverBooleanFlag"  /></td>
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">City - Tier2:</td>
			<td>&#160;</td>
			<td class = "column-input-small"><h:inputText id="cityTier2MinAmount"  style = "text-align: right" value="#{trDetail.cityTier2MinAmt}" disabled="true">
			<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="cityTier2Rate"  style = "text-align: right" value="#{trDetail.cityTier2Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="cityTier2Setamt"  style = "text-align: right" value="#{trDetail.cityTier2Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="cityTier2MaxAmt" style = "text-align: right"  value="#{trDetail.cityTier2MaxAmt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="cityTier2EntAmtcheck" value="#{trDetail.cityTier2EntamBooleanFlag}" disabled="true" id="cityTier2EntBooleanFlag"  /></td>
			
			<td>&#160;</td>
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">City - Tier3:</td>
			<td>&#160;</td>
			<td>&#160;</td>
			<td class = "column-input-small">
				<h:inputText id="cityTier3Rate" style = "text-align: right"  value="#{trDetail.cityTier3Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="cityTier3Setamt"  style = "text-align: right" value="#{trDetail.cityTier3Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="cityTier3MaxAmt"  style = "text-align: right" value="*MAX" disabled="true" />
			</td>
			
			<td class = "column-input-small">&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="cityTier3EntAmtcheck" value="#{trDetail.cityTier3EntamBooleanFlag}" disabled="true" id="cityTier3EntBooleanFlag"  /></td>
		
		</tr>
		
		<h:panelGroup rendered="#{trDetail.cityTaxcodeOverFlag eq '1'}">
   
		 <tr>
		  <td class="column-spacer">&#160;</td>
		  <td class="column-label">City - Override:</td>
		
		  <h:panelGroup rendered="#{trDetail.cityTaxableThresholdAmt gt '0'}">
		   <td><h:outputText value = "Taxable Threshold Amount:"/></td>
		   <td class = "column-input-small"><h:inputText style = "text-align: right;" value = "#{trDetail.cityTaxableThresholdAmt}" disabled="true"/></td>
		  </h:panelGroup>
		 
		   <h:panelGroup rendered="#{trDetail.cityMinimumTaxableAmt gt '0'}">
		    <td><h:outputText value = "Minimum Taxable Amount:"/></td>
		    <td class = "column-input-small"><h:inputText style = "text-align: right;" value = "#{trDetail.cityMinimumTaxableAmt}" disabled="true"/></td>
		  </h:panelGroup>
		 
		   <h:panelGroup rendered="#{trDetail.cityMaximumTaxableAmt gt '0'}">
		    <td><h:outputText value = "Maximmum Taxable Amount:"/></td>
		    <td class = "column-input-small"><h:inputText style = "text-align: right;" value = "#{trDetail.cityMaximumTaxableAmt}" disabled="true"/></td> 
		   </h:panelGroup>
		 
		   <h:panelGroup rendered="#{trDetail.cityMaximumTaxAmt gt '0'}">
		    <td><h:outputText value = "Maximum Tax Amount:"/></td>
		    <td class = "column-input-small"><h:inputText style = "text-align: right;" value = "#{trDetail.cityMaximumTaxAmt}" disabled="true"/></td>
		   </h:panelGroup>
		   
		   <h:panelGroup rendered = "#{trDetail.cityTaxableThresholdAmt eq '0' and trDetail.cityMinimumTaxableAmt eq '0' and trDetail.cityMaximumTaxableAmt eq '0' 
		                               and trDetail.cityMaximumTaxAmt eq '0' }">
		      
		      <td>&#160;</td>
		      <td>&#160;</td>
		   </h:panelGroup>
		   
		   
		     <td><h:outputText value = "Tax Processing Type:"/></td>
		     <h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TAXPROCTYP'][trDetail.cityTaxProcessTypeCode]}">
		       <td class="column-input-small"><h:inputText value = "#{(cacheManager.listCodeMap['TAXPROCTYP'][trDetail.cityTaxProcessTypeCode].description)}" disabled="true"/></td>
		     </h:panelGroup>
		     <h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TAXPROCTYP'][trDetail.cityTaxProcessTypeCode]}">
		       <td class="column-input-small"><h:inputText value="#{trDetail.cityTaxProcessTypeCode}" disabled="true" /></td>
		     </h:panelGroup>
		     
		        <td><h:outputText value = "Percent Of Base:"/></td>
		        <td class="column-input-small">
		          <h:inputText value="#{trDetail.cityBaseChangePct*100}%" style="text-align:right;" disabled="true" >
                      <f:convertNumber type="number" minFractionDigits="2" maxFractionDigits="10"/>
		          </h:inputText>
				</td>
		  </tr>
	     </h:panelGroup>
	<!--  STJ1 -->
		 <tr><td>&#160;</td></tr>
		<h:panelGroup rendered="#{ not empty trDetail.stj1Name}">
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 1:</td>
			<td class="column-input-small-search"><h:inputText id="stj1TaxrateId" style="float:left;text-align: right;" value="#{trDetail.stj1TaxrateId}" disabled="true" />
			  <c:if test="#{trDetail.stj1TaxrateId != 0 and (not empty trDetail.stj1TaxrateId)}">
				  <a4j:commandButton id="btnView39" styleClass="image" style="width:16px;height:16px;" 
				    image="/images/view-small.png" immediate="true"
				    action="#{transactionViewBean.viewJurisdictionTaxRate}">
		              <f:param name="command" value="viewJurisdictionTaxrateFromTransactionLog" />
		              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj1TaxrateId}" /> 
		          </a4j:commandButton>
			</c:if>
			</td>
			<td>&#160;</td>
			<td class = "column-input-small">
				<h:inputText id="stj1Rate" style = "text-align: right"  value="#{trDetail.stj1Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="stj1Setamt"  style = "text-align: right" value="#{trDetail.stj1Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td ><h:selectBooleanCheckbox styleClass="stj1Tier1check" value="#{trDetail.stj1TaxcodeOverBooleanFlag}" disabled="true" id="stj1TaxcodeRateOverBooleanFlag"  /></td>
			
		</tr>
		</h:panelGroup>
		
		<!-- STJ2 -->
		<h:panelGroup rendered="#{ not empty trDetail.stj2Name}">
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 2:</td>
			<td class="column-input-small-search"><h:inputText id="stj2TaxrateId" style="float:left;text-align: right;"  value="#{trDetail.stj2TaxrateId}" disabled="true" />
			 <c:if test="#{trDetail.stj2TaxrateId != 0 and (not empty trDetail.stj2TaxrateId)}">
					<a4j:commandButton id="btnView40" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		              action="#{transactionViewBean.viewJurisdictionTaxRate}">
		              <f:param name="command" value="viewJurisdictionTaxrateFromTransactionLog" />
		              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj2TaxrateId}" /> 
		            </a4j:commandButton>
			</c:if>
			</td>
			<td>&#160;</td>
			<td class = "column-input-small">
				<h:inputText id="stj2Rate"  style = "text-align: right" value="#{trDetail.stj2Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="stj2Setamt" style = "text-align: right"  value="#{trDetail.stj2Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="stj2Tier1check" value="#{trDetail.stj2TaxcodeOverBooleanFlag}" disabled="true" id="stj2TaxcodRateeOverBooleanFlag"  /></td>
			
		</tr>
	    </h:panelGroup>
		
		<!-- STJ3 -->
		<h:panelGroup rendered="#{ not empty trDetail.stj3Name}">
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 3:</td>
			<td class="column-input-small-search">
			<h:inputText id="stj3TaxrateId" style="float:left;text-align: right;" value="#{trDetail.stj3TaxrateId}" disabled="true" />
			 <c:if test="#{trDetail.stj3TaxrateId != 0 and (not empty trDetail.stj3TaxrateId)}">
					<a4j:commandButton id="btnView41" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		             action="#{transactionViewBean.viewJurisdictionTaxRate}">
		              <f:param name="command" value="viewJurisdictionTaxrateFromTransactionLog" />
		              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj3TaxrateId}" /> 
		            </a4j:commandButton>
				</c:if>
			</td>
			<td>&#160;</td>
			<td class = "column-input-small">
				<h:inputText id="stj3Rate" style = "text-align: right"  value="#{trDetail.stj3Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="stj3Setamt"  style = "text-align: right" value="#{trDetail.stj3Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="stj3Tier1check" value="#{trDetail.stj3TaxcodeOverBooleanFlag}" disabled="true" id="stj3TaxcodeRateOverBooleanFlag"  /></td>
			
		</tr>
	</h:panelGroup>	
	<!-- STJ4 -->
		<h:panelGroup rendered="#{ not empty trDetail.stj4Name}">
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 4:</td>
			<td class="column-input-small-search">
			<h:inputText id="stj4TaxrateId" style="float:left;text-align: right;" value="#{trDetail.stj4TaxrateId}" disabled="true" />
			 <c:if test="#{trDetail.stj4TaxrateId != 0 and (not empty trDetail.stj4TaxrateId)}">
					<a4j:commandButton id="btnView42" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		             action="#{transactionViewBean.viewJurisdictionTaxRate}">
		              <f:param name="command" value="viewJurisdictionTaxrateFromTransactionLog" />
		              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj4TaxrateId}" /> 
		            </a4j:commandButton>
				</c:if>
			</td>
			<td>&#160;</td>
			<td class = "column-input-small">
				<h:inputText id="stj4Rate" style = "text-align: right"  value="#{trDetail.stj4Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="stj4Setamt"  style = "text-align: right" value="#{trDetail.stj4Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="stj4Tier1check" value="#{trDetail.stj4TaxcodeOverBooleanFlag}" disabled="true" id="stj4TaxcodeRateOverBooleanFlag"  /></td>
			
		</tr>
	</h:panelGroup>	
	<!-- STJ5 -->
		<h:panelGroup rendered="#{ not empty trDetail.stj5Name}">
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 5:</td>
			<td class="column-input-small-search">
			<h:inputText id="stj5TaxrateId" style="float:left;text-align: right;" value="#{trDetail.stj5TaxrateId}" disabled="true" />
			 <c:if test="#{trDetail.stj5TaxrateId != 0 and (not empty trDetail.stj5TaxrateId)}">
					<a4j:commandButton id="btnView43" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		           action="#{transactionViewBean.viewJurisdictionTaxRate}">
		              <f:param name="command" value="viewJurisdictionTaxrateFromTransactionLog" />
		              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj5TaxrateId}" /> 
		            </a4j:commandButton>
				</c:if>
			</td>
			<td>&#160;</td>
			<td class = "column-input-small">
				<h:inputText id="stj5Rate" style = "text-align: right"  value="#{trDetail.stj5Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="stj5Setamt"  style = "text-align: right" value="#{trDetail.stj5Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="stj1Tier5check" value="#{trDetail.stj5TaxcodeOverBooleanFlag}" disabled="true" id="stj5TaxcodeRateOverBooleanFlag"  /></td>
			
		</tr>
	</h:panelGroup>	
	<!-- STJ6 -->
		<h:panelGroup rendered="#{ not empty trDetail.stj6Name}">
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 6:</td>
			<td class="column-input-small-search">
			<h:inputText id="stj6TaxrateId" style="float:left;text-align: right;" value="#{trDetail.stj6TaxrateId}" disabled="true" />
			 <c:if test="#{trDetail.stj6TaxrateId != 0 and (not empty trDetail.stj6TaxrateId)}">
					<a4j:commandButton id="btnView44" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		              action="#{transactionViewBean.viewJurisdictionTaxRate}">
		              <f:param name="command" value="viewJurisdictionTaxrateFromTransactionLog" />
		              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj6TaxrateId}" /> 
		            </a4j:commandButton>
				</c:if>
			</td>
			<td>&#160;</td>
			<td class = "column-input-small">
				<h:inputText id="stj6Rate" style="float:left;text-align: right;"  value="#{trDetail.stj6Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="stj6Setamt"  style = "text-align: right" value="#{trDetail.stj6Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="stj6Tier1check" value="#{trDetail.stj6TaxcodeOverBooleanFlag}" disabled="true" id="stj6TaxcodeRateOverBooleanFlag"  /></td>
			
		</tr>
	</h:panelGroup>	
	<!-- STJ7 -->
		<h:panelGroup rendered="#{ not empty trDetail.stj7Name}">
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 7:</td>
			<td class="column-input-small-search">
			<h:inputText id="stj7TaxrateId" style="float:left;text-align: right;" value="#{trDetail.stj7TaxrateId}" disabled="true" />
			 <c:if test="#{trDetail.stj7TaxrateId != 0 and (not empty trDetail.stj7TaxrateId)}">
					<a4j:commandButton id="btnView45" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		              action="#{transactionViewBean.viewJurisdictionTaxRate}">
		              <f:param name="command" value="viewJurisdictionTaxrateFromTransactionLog" />
		              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj7TaxrateId}" /> 
		            </a4j:commandButton>
				</c:if>
			</td>
			<td>&#160;</td>
			<td class = "column-input-small">
				<h:inputText id="stj7Rate" style = "text-align: right"  value="#{trDetail.stj7Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="stj7Setamt"  style = "text-align: right" value="#{trDetail.stj7Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="stj7Tier1check" value="#{trDetail.stj7TaxcodeOverBooleanFlag}" disabled="true" id="stj7TaxcodeRateOverBooleanFlag"  /></td>
			
		</tr>
	</h:panelGroup>	
	<!-- STJ8 -->
		<h:panelGroup rendered="#{ not empty trDetail.stj8Name}">
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 8:</td>
			<td class="column-input-small-search">
			<h:inputText id="stj8TaxrateId" style="float:left;text-align: right;" value="#{trDetail.stj8TaxrateId}" disabled="true" />
			 <c:if test="#{trDetail.stj8TaxrateId != 0 and (not empty trDetail.stj8TaxrateId)}">
					<a4j:commandButton id="btnView46" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		            action="#{transactionViewBean.viewJurisdictionTaxRate}">
		              <f:param name="command" value="viewJurisdictionTaxrateFromTransactionLog" />
		              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj8TaxrateId}" /> 
		            </a4j:commandButton>
				</c:if>
			</td>
			<td>&#160;</td>
			<td class = "column-input-small">
				<h:inputText id="stj8Rate" style = "text-align: right"  value="#{trDetail.stj8Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="stj8Setamt"  style = "text-align: right" value="#{trDetail.stj8Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="stj8Tier1check" value="#{trDetail.stj8TaxcodeOverBooleanFlag}" disabled="true" id="stj8TaxcodeRateOverBooleanFlag"  /></td>
			
		</tr>
	</h:panelGroup>	
	<!-- STJ9 -->
		<h:panelGroup rendered="#{ not empty trDetail.stj9Name}">
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 9:</td>
			<td class="column-input-small-search">
			<h:inputText id="stj9TaxrateId" style="float:left;text-align: right;" value="#{trDetail.stj9TaxrateId}" disabled="true" />
			 <c:if test="#{trDetail.stj9TaxrateId != 0 and (not empty trDetail.stj9TaxrateId)}">
					<a4j:commandButton id="btnView47" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		        action="#{transactionViewBean.viewJurisdictionTaxRate}">
		              <f:param name="command" value="viewJurisdictionTaxrateFromTransactionLog" />
		              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj9TaxrateId}" /> 
		            </a4j:commandButton>
				</c:if>
			</td>
			<td>&#160;</td>
			<td class = "column-input-small">
				<h:inputText id="stj9Rate" style = "text-align: right"  value="#{trDetail.stj9Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="stj9Setamt"  style = "text-align: right" value="#{trDetail.stj9Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="stj9Tier1check" value="#{trDetail.stj9TaxcodeOverBooleanFlag}" disabled="true" id="stj9TaxcodeRateOverBooleanFlag"  /></td>
		</tr>
	</h:panelGroup>	
	<!-- STJ10 -->
		<h:panelGroup rendered="#{ not empty trDetail.stj10Name}">
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 10:</td>
			<td class="column-input-small-search">
			<h:inputText id="stj10TaxrateId" style="float:left;text-align: right;" value="#{trDetail.stj10TaxrateId}" disabled="true" />
			 <c:if test="#{trDetail.stj10TaxrateId != 0 and (not empty trDetail.stj10TaxrateId)}">
					<a4j:commandButton id="btnView48" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		             action="#{transactionViewBean.viewJurisdictionTaxRate}">
		              <f:param name="command" value="viewJurisdictionTaxrateFromTransactionLog" />
		              <f:param name="jurisdictionTaxRateId" value="#{trDetail.stj10TaxrateId}" /> 
		            </a4j:commandButton>
				</c:if>
			</td>
			<td>&#160;</td>
			<td class = "column-input-small">
				<h:inputText id="stj10Rate" style = "text-align: right"  value="#{trDetail.stj10Rate}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">
				<h:inputText id="stj10Setamt"  style = "text-align: right" value="#{trDetail.stj10Setamt}" disabled="true" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
				</h:inputText>
			</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td class = "column-input-small">&#160;</td>
			<td><h:selectBooleanCheckbox styleClass="stj10Tier1check" value="#{trDetail.stj10TaxcodeOverBooleanFlag}" disabled="true" id="stj10TaxcodeRateOverBooleanFlag"  /></td>
		</tr>
	</h:panelGroup>	
		
		</tbody>
	</table>
	</rich:simpleTogglePanel>
</ui:component>