<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
    
<div class="scrollContainer">
<div class="scrollInner" id="resize">
<rich:dataTable rowClasses="odd-row,even-row" id="aMDetailList"
	value="#{dataModel}" var="trdetail" rows="#{dataModel.pageSize}">

	<a4j:support rendered="#{singleSelect}" event="onRowClick" status="rowstatus" 
			onsubmit="selectRow('${formName}:aMDetailList', this);"
			actionListener="#{bean.selectedTransactionChanged}"
			reRender="#{selectReRender}" immediate="true"/>
 
	<rich:column id="PURCHTRANS_ID" style="text-align: right" >
	    <f:facet name="header"><a4j:commandLink id="s_purchtransId" value="Transaction ID"  actionListener="#{bean.sortGlEtractAction}"
	    	 styleClass="sort-#{dataModel.sortOrder['PURCHTRANS_ID']}"  oncomplete="initScrollingTables();"
             immediate="true"  reRender="aMDetailList" />
	    </f:facet> 
	    <h:outputText value="#{trdetail.purchtransId}" />  
	</rich:column>
	
	 <rich:column id = "LOG_SOURCE">
		<f:facet name = "header"> <a4j:commandLink id = "s_logsource" value = "Log Source" actionListener="#{bean.sortGlEtractAction}"
	    	 styleClass="sort-#{dataModel.sortOrder['LOG_SOURCE']}"  oncomplete="initScrollingTables();"
             immediate="true"  reRender="aMDetailList"  /> 
        </f:facet>
		<h:outputText value = "#{trdetail.logSource}"  />
	</rich:column>	
	
	<rich:column id = "B_TB_CALC_TAX_AMT">
		<f:facet name = "header">  <a4j:commandLink id = "s_bTbCalcTaxAmt" value = "Before: Calculated Tax Amt  " actionListener="#{bean.sortGlEtractAction}"
	    	 styleClass="sort-#{dataModel.sortOrder['B_TB_CALC_TAX_AMT']}"  oncomplete="initScrollingTables();"
             immediate="true"  reRender="aMDetailList" /> 
        </f:facet>
		<h:outputText value = "#{trdetail.bTbCalcTaxAmt}"> </h:outputText>
	</rich:column>
	
	<rich:column id = "A_TB_CALC_TAX_AMT">
		<f:facet name = "header">  <a4j:commandLink id = "s_aTbCalcTaxAmt" value = "After: Calculated Tax Amt  " actionListener="#{bean.sortGlEtractAction}"
	    	 styleClass="sort-#{dataModel.sortOrder['A_TB_CALC_TAX_AMT']}"  oncomplete="initScrollingTables();"
             immediate="true"  reRender="aMDetailList" /> 
        </f:facet>
		<h:outputText value = "#{trdetail.aTbCalcTaxAmt}"> </h:outputText>
	</rich:column>
	
	<rich:column id = "TB_DELTA_TAX_AMT">
		<f:facet name = "header"> <a4j:commandLink id = "s_tbDeltaTaxAmt" value = "Delta Tax Amt"  actionListener = "#{bean.sortGlEtractAction}"
	    	 styleClass="sort-#{dataModel.sortOrder['TB_DELTA_TAX_AMT']}"  oncomplete="initScrollingTables();"
             immediate="true"  reRender="aMDetailList" />
        </f:facet>
		<h:outputText value = "#{trdetail.deltaTaxAmt}" >  </h:outputText>
	</rich:column>
	

</rich:dataTable>
</div>
</div>
    	
<rich:datascroller id="trScroll" for="aMDetailList" maxPages="10" oncomplete="initScrollingTables();"
 style="clear:both;" align="center" stepControls="auto" ajaxSingle="false"  immediate="true" 
 page="#{dataModel.curPage}" reRender="#{scrollReRender}"  onpagechange="resetExtendSelection()" /> 

</ui:component>