<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:c="http://java.sun.com/jstl/core">

	<div id="embedded-table">
		<h:panelGrid id="txnTogglePanel" columns="1" width="100%">
			<rich:simpleTogglePanel id="glInformation" switchType="ajax"
				label="General Ledger Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['glInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>

				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									value="#{matrixCommonBean.transactionPropertyMap['glDate'].description}:" /></td>
							<c:if test="#{transactionDetailBean.isViewScreen}">
							<td class="column-input">
							<h:inputText id = "accGlDate"
									value="#{trDetail.glDate}" disabled = "#{transactionDetailBean.isViewScreen}">
									<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a" />
							</h:inputText>
							</td>
							</c:if>
							
							
							<c:if test="#{!transactionDetailBean.isViewScreen}">
							<td class="column-input-search">
								<rich:calendar zindex="1000" 
								id="glAcctDate" enableManualInput="true" label="GL Date"
								oninputkeypress="return onlyDateValue();" 
								value="#{trDetail.glDate}" popup="true" binding = "#{transactionViewBean.validTransactionDates.accountingGLDate}"
								converter="date"
								datePattern="M/d/yyyy" 
								showApplyButton="false" inputClass="textbox"
								  >
								</rich:calendar>
							</td>
		  					</c:if>	
						
							<td class="column-spacer">&#160;</td>
							<td class="column-label2">&#160;</td>
							<td class="column-input2">&#160;</td>
							<td class="column-spacer">&#160;</td>
							
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glCompanyNbr']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['glCompanyNbr'].description}:" /></td>
							<td class="column-input"><h:inputText id = "accglCompNbr" maxlength = "100"
									value="#{trDetail.glCompanyNbr}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glCompanyName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['glCompanyName'].description}:" /></td>
							<td class="column-input2"><h:inputText id = "accglCompaName" maxlength = "100"
									value="#{trDetail.glCompanyName}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-labe2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glDivisionNbr']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['glDivisionNbr'].description}:" /></td>
							<td class="column-input"><h:inputText id = "accglDivNo"  maxlength = "100"
									value="#{trDetail.glDivisionNbr}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glDivisionName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['glDivisionName'].description}:" /></td>
							<td class="column-input2"><h:inputText
									value="#{trDetail.glDivisionName}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glCcNbrDeptId']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['glCcNbrDeptId'].description}:" /></td>
							<td class="column-input"><h:inputText
									value="#{trDetail.glCcNbrDeptId}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glCcNbrDeptName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['glCcNbrDeptName'].description}:" /></td>
							<td class="column-input2"><h:inputText
									value="#{trDetail.glCcNbrDeptName}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glLocalAcctNbr']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['glLocalAcctNbr'].description}:" /></td>
							<td class="column-input"><h:inputText 
									value="#{trDetail.glLocalAcctNbr}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glLocalAcctName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['glLocalAcctName'].description}:" /></td>
							<td class="column-input2"><h:inputText
									value="#{trDetail.glLocalAcctName}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glLocalSubAcctNbr']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['glLocalSubAcctNbr'].description}:" /></td>
							<td class="column-input"><h:inputText 
									value="#{trDetail.glLocalSubAcctNbr}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glLocalSubAcctName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['glLocalSubAcctName'].description}:" /></td>
							<td class="column-input2"><h:inputText
									value="#{trDetail.glLocalSubAcctName}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glFullAcctNbr']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['glFullAcctNbr'].description}:" /></td>
							<td class="column-input"><h:inputText
									value="#{trDetail.glFullAcctNbr}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"  /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glFullAcctName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['glFullAcctName'].description}:" /></td>
							<td class="column-input2"><h:inputText
									value="#{trDetail.glFullAcctName}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['productCode']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['productCode'].description}:" /></td>
							<td class="column-input"><h:inputText
									value="#{trDetail.productCode}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['productName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['productName'].description}:" /></td>
							<td class="column-input2"><h:inputText
									value="#{trDetail.productName}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glLineItmDistAmt']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['glLineItmDistAmt'].description}:" /></td>
							<td class="column-input"><h:inputText id = "glLineItmDistAmtId"
									value="#{trDetail.glLineItmDistAmt}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
									<f:convertNumber pattern="#0.00" minFractionDigits="2"  maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
								</h:inputText></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2">&#160;</td>
							<td class="column-input2">&#160;</td>
							<td class="column-spacer">&#160;</td>
						</tr>
					</tbody>
				</table>
			</rich:simpleTogglePanel>
			<rich:simpleTogglePanel id="inventoryInformation" switchType="ajax"
				label="Inventory Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['inventoryInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['inventoryNbr']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['inventoryNbr'].description}:" /></td>
							<td class="column-input"><h:inputText
									value="#{trDetail.inventoryNbr}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['inventoryName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['inventoryName'].description}:" /></td>
							<td class="column-input2"><h:inputText
									value="#{trDetail.inventoryName}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['inventoryClass']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['inventoryClass'].description}:" /></td>
							<td class="column-input"><h:inputText
									value="#{trDetail.inventoryClass}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['inventoryClassName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['inventoryClassName'].description}:" /></td>
							<td class="column-input2"><h:inputText
									value="#{trDetail.inventoryClassName}"  maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>

					</tbody>
				</table>
			</rich:simpleTogglePanel>
		 	<rich:simpleTogglePanel id="paymentInformation" switchType="ajax"
				label="Payment Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['paymentInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['voucherDate']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['voucherDate'].description}:" /></td>
							<c:if test="#{transactionDetailBean.isViewScreen}">
							<td class="column-input">
							<h:inputText
									value="#{trDetail.voucherDate}" disabled = "#{transactionDetailBean.isViewScreen}">
									<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a" />
							</h:inputText>
							</td>
							</c:if>
								
							<c:if test="#{!transactionDetailBean.isViewScreen}">
							<td class="column-input-search">
							<rich:calendar zindex="1000"
							id="voucherDate" enableManualInput="true" label="Voucher Date"
							oninputkeypress="return onlyDateValue(event);"
							value="#{trDetail.voucherDate}" popup="true" binding = "#{transactionViewBean.validTransactionDates.accountingvoucherDate}"
							converter="date" 
							datePattern="M/d/yyyy"
							showApplyButton="false" inputClass="textbox" 
							/>
						   </td>	
	  					   </c:if>
	  					  
							<td class="column-spacer">&#160;</td>
							<td class="column-label2">&#160;</td>
							<td class="column-input2">&#160;</td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['voucherId']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['voucherId'].description}:" /></td>
							<td class="column-input"><h:inputText
									value="#{trDetail.voucherId}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['voucherName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['voucherName'].description}:" /></td>
							<td class="column-input2"><h:inputText
									value="#{trDetail.voucherName}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['voucherLineNbr']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['voucherLineNbr'].description}:" /></td>
							<td class="column-input"><h:inputText
									value="#{trDetail.voucherLineNbr}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);"/></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['voucherLineDesc']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['voucherLineDesc'].description}:" /></td>
							<td class="column-input2"><h:inputText
									value="#{trDetail.voucherLineDesc}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
						<td class="column-spacer">&#160;</td>
							<td class="column-label2">&#160;</td>
							<td class="column-input">&#160;</td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2">&#160;</td>
							<td class="column-input2">&#160;</td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['checkDate']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['checkDate'].description}:" /></td>
							<c:if test="#{transactionDetailBean.isViewScreen}">
							<td class="column-input">
							<h:inputText
									value="#{trDetail.checkDate}" disabled = "#{transactionDetailBean.isViewScreen}">
									<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a" />
							</h:inputText>
							</td>
							</c:if>
							<c:if test="#{!transactionDetailBean.isViewScreen}">
							<td class="column-input-search">
							<rich:calendar zindex="1000"
							id="checkDate" enableManualInput="true" label="Check Date"
							oninputkeypress="return onlyDateValue(event);"
							value="#{trDetail.checkDate}" popup="true"
							binding = "#{transactionViewBean.validTransactionDates.accountingCheckDate}"
							
							converter="date" 
							datePattern="M/d/yyyy"
							showApplyButton="false" inputClass="textbox" />
							</td>
	  					   </c:if>	
							<td class="column-spacer">&#160;</td>
							<td class="column-label2">&#160;</td>
							<td class="column-input2">&#160;</td>
							<td class="column-spacer">&#160;</td>
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['checkNbr']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['checkNbr'].description}:" /></td>
							<td class="column-input"><h:inputText
									value="#{trDetail.checkNbr}"  maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"  /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['checkNo']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['checkNo'].description}:" /></td>
							<td class="column-input"><h:inputText style = "width:254px"
									value="#{trDetail.checkNo}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);"/></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['checkAmt']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['checkAmt'].description}:" /></td>
							<td class="column-input"><h:inputText
									value="#{trDetail.checkAmt}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);"/></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['checkDesc']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['checkDesc'].description}:" /></td>
							<td class="column-input2"><h:inputText
									value="#{trDetail.checkDesc}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
					</tbody>
				</table>
			</rich:simpleTogglePanel> 
		</h:panelGrid>
		</div>
</ui:component>