<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">	

<!-- Start toggle panel -->
<div id="embedded-table">
<h:panelGrid id="driverTogglePanel" columns="1" width="100%"  >
		<rich:simpleTogglePanel id="requiredInfo"   switchType="ajax" label="Required Information" 
		actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}" 
		opened="#{transactionViewBean.togglePanelController.togglePanels['requiredInfo']}"
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
			
			<a4j:include viewId="/WEB-INF/view/components/transactiondetail_req_gl_panel.xhtml">
				<ui:param name="trDetail" value="#{transactionDetailBean.updatedTransaction}"/>
			</a4j:include>
		</rich:simpleTogglePanel>	
		
		
		<rich:simpleTogglePanel id="locationDrivers"   switchType="ajax" label="Location Drivers" 
		actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}" 
		opened="#{transactionViewBean.togglePanelController.togglePanels['locationDrivers']}"
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
			<h:panelGrid id = "transviewlocdriversgrid" binding="#{transactionViewBean.locationDriverViewPanelFromTransaction}" width="100%" />
			
		</rich:simpleTogglePanel>	
		
		<rich:simpleTogglePanel id="taxDrivers"   switchType="ajax" label="Goods &amp;  Services Drivers"
		actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}" 
		opened="#{transactionViewBean.togglePanelController.togglePanels['taxDrivers']}"
		bodyClass="togglepanel-body" headerClass="togglepanel-header" styleClass="togglepanel" >
			<f:facet name="openMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage style="vertical-align:middle;" url="/images/triangle-s.png"></h:graphicImage></f:facet>
			<h:panelGrid binding="#{transactionViewBean.taxDriverViewPanelFromTransaction}" width="100%"/>
		</rich:simpleTogglePanel> 

</h:panelGrid>
</div>

		
</ui:component>
