<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
    
<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['processBatchNo']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['processBatchNo'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.processBatchNo}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['loadTimestamp']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['loadTimestamp'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.loadTimestamp}" disabled="true">
				<f:converter converterId="dateTime"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glExtractBatchNo']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glExtractBatchNo'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.glExtractBatchNo}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glExtractFlag']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glExtractFlag'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.glExtractFlag}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glExtractAmt']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glExtractAmt'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.glExtractAmt}" disabled="true">
				<f:convertNumber pattern="#0.00" minFractionDigits="2"  maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['rejectFlag']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['rejectFlag'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.rejectFlag}" disabled="true"/>
		
		</td>
	</tr>
	
	</tbody>
</table>
			
</ui:component>