<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

	<div id="embedded-table">
		<h:panelGrid id="docTogglePanel" columns="1" width="100%">
			<rich:simpleTogglePanel id="invoiceInformation" switchType="ajax"
				label="Invoice Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['invoiceInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceDate']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['invoiceDate'].description}:" /></td>
							<c:if test="#{transactionDetailBean.isViewScreen}">
							<td class="column-input">
							<h:inputText id = "docInvDate"
									value="#{trDetail.invoiceDate}" disabled = "#{transactionDetailBean.isViewScreen}">
									<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a" />
							</h:inputText>
							</td>
						    </c:if>
							<c:if test="#{!transactionDetailBean.isViewScreen}">
								<td class="column-input-search">
								<rich:calendar zindex="1000"
								id="invoiceDate" enableManualInput="true" label="Invoice Date"
								oninputkeypress="return onlyDateValue(event);"
								value="#{trDetail.invoiceDate}" popup="true"
								binding = "#{transactionViewBean.validTransactionDates.documentationInvoiceDate}"
								
								converter="date"
								datePattern="M/d/yyyy"
								showApplyButton="false" inputClass="textbox" />
							</td>
		  					</c:if>	
							<td class="column-spacer">&#160;</td>
							<td class="column-label2">&#160;</td>
							<td class="column-input2">&#160;</td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceNbr']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['invoiceNbr'].description}:" /></td>
							<td class="column-input"><h:inputText id = "docInvNbr" maxlength = "100"
									value="#{trDetail.invoiceNbr}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceDesc']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['invoiceDesc'].description}:" /></td>
							<td class="column-input2"><h:inputText id = "docInvDesc" maxlength = "100"
									value="#{trDetail.invoiceDesc}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
						    <td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceTotalAmt']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['invoiceTotalAmt'].description}:" /></td>
							<td class="column-input"><h:inputText id = "docInvTotAmt"
									value="#{trDetail.invoiceTotalAmt}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
									<f:convertNumber pattern="#0.00" minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
								</h:inputText></td>
							
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceTaxAmt']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['invoiceTaxAmt'].description}:" /></td>
							<td class="column-input"><h:inputText id ="docINvTaxAmt"
									value="#{trDetail.invoiceTaxAmt}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
									<f:convertNumber pattern="#0.00" minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
								</h:inputText></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2">
							<h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceFreightAmt']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['invoiceFreightAmt'].description}:" /></td>
							<td class="column-input"><h:inputText id = "docInvFreAmt"
									value="#{trDetail.invoiceFreightAmt}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
									<f:convertNumber pattern="#0.00"  minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
								</h:inputText></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceDiscountAmt']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['invoiceDiscountAmt'].description}:" /></td>
							<td class="column-input"><h:inputText id ="docInvDiscAmt"
									value="#{trDetail.invoiceDiscountAmt}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
									<f:convertNumber pattern="#0.00" minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
								</h:inputText></td>
							
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceTaxFlg']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['invoiceTaxFlg'].description}:" /></td>
							<td class="column-input"><h:inputText id = "docInvTaxFlag" maxlength = "100"
									value="#{trDetail.invoiceTaxFlg}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2">&#160;</td>
							<td class="column-input2">&#160;</td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceLineNbr']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['invoiceLineNbr'].description}:" /></td>
							<td class="column-input"><h:inputText id = "docInvLiNbr" maxlength = "100"
									value="#{trDetail.invoiceLineNbr}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceLineName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['invoiceLineName'].description}:" /></td>
							<td class="column-input2"><h:inputText id ="docInvLineNm" maxlength = "100"
									value="#{trDetail.invoiceLineName}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceLineType']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['invoiceLineType'].description}:" /></td>
							<td class="column-input"><h:inputText id = "docInvLineType" maxlength = "100"
									value="#{trDetail.invoiceLineType}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceLineTypeName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['invoiceLineTypeName'].description}:" /></td>
							<td class="column-input2"><h:inputText id ="docInvLineTypeName" maxlength = "100"
									value="#{trDetail.invoiceLineTypeName}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceLineAmt']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['invoiceLineAmt'].description}:" /></td>
							<td class="column-input"><h:inputText id ="docInvLineAmt"
									value="#{trDetail.invoiceLineAmt}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
									<f:convertNumber pattern="#0.00" />
								</h:inputText></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceLineTax']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['invoiceLineTax'].description}:" /></td>
							<td class="column-input"><h:inputText id ="docInvLineTax"
									value="#{trDetail.invoiceLineTax}" disabled = "#{transactionDetailBean.isViewScreen}">
									<f:convertNumber pattern="#0.00" minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
								</h:inputText></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceLineCount']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['invoiceLineCount'].description}:" /></td>
							<td class="column-input"><h:inputText id = "docInvLineCount"
									value="#{trDetail.invoiceLineCount}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
									<f:convertNumber pattern="#0.00" minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
								</h:inputText></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceLineWeight']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['invoiceLineWeight'].description}:" /></td>
							<td class="column-input"><h:inputText id = "docInvLineWgt"
									value="#{trDetail.invoiceLineWeight}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
									<f:convertNumber pattern="#0.00" minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}" />
								</h:inputText></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceLineFreightAmt']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['invoiceLineFreightAmt'].description}:" /></td>
							<td class="column-input"><h:inputText id = "docInvLineFrAmt"
									value="#{trDetail.invoiceLineFreightAmt}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
									<f:convertNumber pattern="#0.00" minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
								</h:inputText></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceLineDiscAmt']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['invoiceLineDiscAmt'].description}:" /></td>
							<td class="column-input"><h:inputText id = "docInvLineDiscAmt"
									value="#{trDetail.invoiceLineDiscAmt}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
									<f:convertNumber pattern="#0.00" minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
								</h:inputText></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceLineDiscTypeCode']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['invoiceLineDiscTypeCode'].description}:" /></td>
									
							<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['DISCTYPE'][trDetail.invoiceLineDiscTypeCode]}">
							<td class="column-input"><h:inputText id = "nedocInvLinedtcode" maxlength = "100"
									value="#{cacheManager.listCodeMap['DISCTYPE'][trDetail.invoiceLineDiscTypeCode].description}" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
							</h:panelGroup>
							<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['DISCTYPE'][trDetail.invoiceLineDiscTypeCode]}">
							<td class="column-input"><h:inputText id = "edocInvLineedtc" maxlength = "100"
									value="#{trDetail.invoiceLineDiscTypeCode}" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
							</h:panelGroup>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2">&#160;</td>
							<td class="column-input2">&#160;</td>
							<td class="column-spacer">&#160;</td>
						</tr>
					</tbody>
				</table>
			</rich:simpleTogglePanel>
			<rich:simpleTogglePanel id="purchaseOrderInformation" switchType="ajax"
				label="Purchase Order Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['purchaseOrderInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['poDate']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['poDate'].description}:" /></td>
							<c:if test="#{transactionDetailBean.isViewScreen}">
							<td class="column-input">
							<h:inputText id="docpodate"
									value="#{trDetail.poDate}" disabled = "#{transactionDetailBean.isViewScreen}">
									<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a" />
					    	</h:inputText>
					    	</td>
					    	</c:if>
					    	<c:if test="#{!transactionDetailBean.isViewScreen}">
					    	<td class="column-input-search">
								<rich:calendar zindex="1000"
								id="poDate" enableManualInput="true" label="PO Date"
								oninputkeypress="return onlyDateValue(event);"
								value="#{trDetail.poDate}" popup="true"
								binding = "#{transactionViewBean.validTransactionDates.documentationPoDate}"
								
								converter="date"
								datePattern="M/d/yyyy"
								showApplyButton="false" inputClass="textbox" />
							</td>
		  					</c:if>	
					    
							<td class="column-spacer">&#160;</td>
							<td class="column-label2">&#160;</td>
							<td class="column-input2">&#160;</td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['poNbr']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['poNbr'].description}:" /></td>
							<td class="column-input"><h:inputText id ="docponbr" maxlength = "100"
									value="#{trDetail.poNbr}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['poName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['poName'].description}:" /></td>
							<td class="column-input2"><h:inputText id="docponame" maxlength = "100"
									value="#{trDetail.poName}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['poLineNbr']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['poLineNbr'].description}:" /></td>
							<td class="column-input"><h:inputText id = "docpolinenbr" maxlength = "100"
									value="#{trDetail.poLineNbr}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['poLineName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['poLineName'].description}:" /></td>
							<td class="column-input2"><h:inputText id = "docpolinename" maxlength = "100"
									value="#{trDetail.poLineName}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['poLineType']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['poLineType'].description}:" /></td>
							<td class="column-input"><h:inputText id = "docpolinetype" maxlength = "100"
									value="#{trDetail.poLineType}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['poLineTypeName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['poLineTypeName'].description}:" /></td>
							<td class="column-input2"><h:inputText id = "docpoltname" maxlength = "100"
									value="#{trDetail.poLineTypeName}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
					</tbody>
				</table>
			</rich:simpleTogglePanel>
			<rich:simpleTogglePanel id="workOrderInformation" switchType="ajax"
				label="Work Order Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['workOrderInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woDate']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['woDate'].description}:" /></td>
							<c:if test="#{transactionDetailBean.isViewScreen}">
							<td class="column-input">
							<h:inputText id = "docwodate"
									value="#{trDetail.woDate}" disabled = "#{transactionDetailBean.isViewScreen}">
									<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a" />
							</h:inputText>
							</td>
							</c:if>
							<c:if test="#{!transactionDetailBean.isViewScreen}">
							<td class="column-input-search">
								<rich:calendar zindex="1000"
								id="woDate" enableManualInput="true" label="WO Date"
								oninputkeypress="return onlyDateValue(event);"
								value="#{trDetail.woDate}" popup="true"
								binding = "#{transactionViewBean.validTransactionDates.documentationWoDate}"
								
								converter="date"
								datePattern="M/d/yyyy"
								showApplyButton="false" inputClass="textbox" />
							</td>
		  					</c:if>	
							<td class="column-spacer">&#160;</td>
							<td class="column-label2">&#160;</td>
							<td class="column-input2">&#160;</td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woNbr']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['woNbr'].description}:" /></td>
							<td class="column-input"><h:inputText id = "woNbr" maxlength = "100"
									value="#{trDetail.woNbr}" disabled = "#{transactionDetailBean.isViewScreen}" >
								</h:inputText>	
							</td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['woName'].description}:" /></td>
							<td class="column-input2"><h:inputText id ="docwoname" maxlength = "100"
									value="#{trDetail.woName}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woEntity']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['woEntity'].description}:" /></td>
							<td class="column-input"><h:inputText id = "docwoentity" maxlength = "100"
									value="#{trDetail.woEntity}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woEntityDesc']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['woEntityDesc'].description}:" /></td>
							<td class="column-input2"><h:inputText id = "docwoedesc" maxlength = "100"
									value="#{trDetail.woEntityDesc}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woType']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['woType'].description}:" /></td>
							<td class="column-input"><h:inputText id = "docwotype" maxlength = "100"
									value="#{trDetail.woType}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woTypeDesc']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['woTypeDesc'].description}:" /></td>
							<td class="column-input2"><h:inputText id="docwotypeDesc" maxlength = "100"
									value="#{trDetail.woTypeDesc}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woClass']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['woClass'].description}:" /></td>
							<td class="column-input"><h:inputText id ="docwoclass" maxlength = "100"
									value="#{trDetail.woClass}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woClassDesc']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['woClassDesc'].description}:" /></td>
							<td class="column-input2"><h:inputText id="docwoclassDesc" maxlength = "100"
									value="#{trDetail.woClassDesc}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woShutDownCd']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['woShutDownCd'].description}:" /></td>
							<td class="column-input"><h:inputText id ="docwoShutDowncd" maxlength = "100"
									value="#{trDetail.woShutDownCd}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woShutDownCdDesc']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['woShutDownCdDesc'].description}:" /></td>
							<td class="column-input2"><h:inputText id = "docwoShutDownCdDesc" maxlength = "100"
									value="#{trDetail.woShutDownCdDesc}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woLineNbr']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['woLineNbr'].description}:" /></td>
							<td class="column-input"><h:inputText id="docwolineNbr" maxlength = "100"
									value="#{trDetail.woLineNbr}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woLineName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['woLineName'].description}:" /></td>
							<td class="column-input2"><h:inputText id ="docwolineName" maxlength = "100"
									value="#{trDetail.woLineName}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woLineType']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['woLineType'].description}:" /></td>
							<td class="column-input"><h:inputText id ="docwoLineType" maxlength = "100"
									value="#{trDetail.woLineType}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['woLineTypeDesc']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['woLineTypeDesc'].description}:" /></td>
							<td class="column-input2"><h:inputText id="docwoLineTypeDesc" maxlength = "100"
									value="#{trDetail.woLineTypeDesc}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						
					</tbody>
				</table>
			</rich:simpleTogglePanel>
			<rich:simpleTogglePanel id="projectInformation" switchType="ajax"
				label="Project Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['projectInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>

						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afeProjectNbr']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['afeProjectNbr'].description}:" /></td>
							<td class="column-input"><h:inputText id= "docafeProjectNbr" maxlength = "100"
									value="#{trDetail.afeProjectNbr}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afeProjectName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['afeProjectName'].description}:" /></td>
							<td class="column-input2"><h:inputText id = "docafeProjectName" maxlength = "100"
									value="#{trDetail.afeProjectName}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afeCategoryNbr']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['afeCategoryNbr'].description}:" /></td>
							<td class="column-input"><h:inputText id = "docafeCategoryNbr" maxlength = "100"
									value="#{trDetail.afeCategoryNbr}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afeCategoryName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['afeCategoryName'].description}:" /></td>
							<td class="column-input2"><h:inputText id = "docafeCategoryName" maxlength = "100"
									value="#{trDetail.afeCategoryName}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afeSubCatNbr']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['afeSubCatNbr'].description}:" /></td>
							<td class="column-input"><h:inputText id = "docafeSubCatNbr" maxlength = "100"
									value="#{trDetail.afeSubCatNbr}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afeSubCatName']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['afeSubCatName'].description}:" /></td>
							<td class="column-input2"><h:inputText id = "docafeSubCatName" maxlength = "100"
									value="#{trDetail.afeSubCatName}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afeContractType']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['afeContractType'].description}:" /></td>
							<td class="column-input"><h:inputText id = "docafeContractType" maxlength = "100"
									value="#{trDetail.afeContractType}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afeContractStructure']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['afeContractStructure'].description}:" /></td>
							<td class="column-input2"><h:inputText id = "docafeContractStructure" maxlength = "100"
									value="#{trDetail.afeContractStructure}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
						    <td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afeUse']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['afeUse'].description}:" /></td>
							<td class="column-input"><h:inputText id = "afeUse" maxlength = "100"
									value="#{trDetail.afeUse}" disabled = "#{transactionDetailBean.isViewScreen}" >
								 </h:inputText>
							</td>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['afePropertyCat']? '':'color:red;'}"
									value="#{matrixCommonBean.transactionPropertyMap['afePropertyCat'].description}:" /></td>
							<td class="column-input2"><h:inputText id = "docafePropertyCat" maxlength = "100"
									value="#{trDetail.afePropertyCat}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							
							<td class="column-spacer">&#160;</td>
						</tr>


					</tbody>
				</table>
			</rich:simpleTogglePanel>
		</h:panelGrid>
	</div>
</ui:component>