<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
    
<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceDate']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['invoiceDate'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.invoiceDate}" disabled="true">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td class="column-input2">&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['invoiceNbr'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.invoiceNbr}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceDesc']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['invoiceDesc'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.invoiceDesc}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceFreightAmt']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['invoiceFreightAmt'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.invoiceFreightAmt}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceDiscountAmt']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['invoiceDiscountAmt'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.invoiceDiscountAmt}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceTaxAmt']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['invoiceTaxAmt'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.invoiceTaxAmt}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceTotalAmt']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['invoiceTotalAmt'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.invoiceTotalAmt}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceLineNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['invoiceLineNbr'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.invoiceLineNbr}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceLineName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['invoiceLineName'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.invoiceLineName}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceLineType']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['invoiceLineType'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.invoiceLineType}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceLineTypeName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['invoiceLineTypeName'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.invoiceLineTypeName}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceTaxFlg']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['invoiceTaxFlg'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.invoiceTaxFlg}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">&#160;</td>
		<td class="column-input2">&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceLineAmt']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['invoiceLineAmt'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.invoiceLineAmt}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['invoiceLineTax']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['invoiceLineTax'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.invoiceLineTax}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['checkNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['checkNbr'].description}:"/></td>
		<td class="column-input2"><h:inputText value="#{trDetail.checkNbr}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['checkNo']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['checkNo'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.checkNo}" disabled="true">
				<f:convertNumber pattern="#0"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['checkDate']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['checkDate'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.checkDate}" disabled="true">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['checkAmt']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['checkAmt'].description}:"/></td>
		<td class="column-input2">
			<h:inputText value="#{trDetail.checkAmt}" disabled="true">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['checkDesc']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['checkDesc'].description}:"/></td>
		<td colspan="4"><h:inputText style="width: 100%;" value="#{trDetail.checkDesc}" disabled="true"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	</tbody>
</table>
			
</ui:component>