<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">
		
	<rich:simpleTogglePanel id="locationInformation" switchType="ajax"
				label="Location Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['locationInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>   
			<table>
			<tbody>
			  <tr>

				<td class="column-spacer">&#160;</td>
				<td class="column-label4" style="width:174px;"><h:outputText
						value="#{matrixCommonBean.transactionPropertyMap['transactionCountryCode'].description}:" /></td>
						
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['COUNTRY'][trDetail.transactionCountryCode]}">
					<td class="column-input-small"><h:inputText value="#{(cacheManager.listCodeMap['COUNTRY'][trDetail.transactionCountryCode].description)} (#{trDetail.transactionCountryCode})" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['COUNTRY'][trDetail.transactionCountryCode]}">
					<td class="column-input-small"><h:inputText value="#{trDetail.transactionCountryCode}" disabled="true" /></td>
				</h:panelGroup>
				<td class="column-label4"><h:outputText
						value="#{matrixCommonBean.transactionPropertyMap['transactionStateCode'].description}:" /></td>
				<h:panelGroup rendered = "#{not empty cacheManager.taxCodeStateMap[trDetail.transactionStateCode].name}">
				    <td class="column-input"><h:inputText 
						value="#{cacheManager.taxCodeStateMap[trDetail.transactionStateCode].name} (#{trDetail.transactionStateCode})" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered = "#{empty cacheManager.taxCodeStateMap[trDetail.transactionStateCode].name}" >
				    <td class="column-input"><h:inputText 
						value="#{trDetail.transactionStateCode}" disabled="true" /></td>
				</h:panelGroup>
			
						
				
	        	<td class="column-label4"><h:outputText
						value= "#{matrixCommonBean.transactionPropertyMap['shiptoManualJurInd'].description}:" /></td>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['MANUAL'][trDetail.shiptoManualJurInd]}">		
					<td class="column-input"><h:inputText
						value="#{cacheManager.listCodeMap['MANUAL'][trDetail.shiptoManualJurInd].description}&#160;(#{trDetail.shiptoManualJurInd})" disabled="true" /></td>	
                </h:panelGroup>
                <h:panelGroup rendered="#{ empty cacheManager.listCodeMap['MANUAL'][trDetail.shiptoManualJurInd]}">		
					<td class="column-input"><h:inputText
						value="#{trDetail.shiptoManualJurInd}" disabled="true" /></td>	
                </h:panelGroup>
		      </tr>
	</tbody>
</table>
	<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label4">&#160;</td>
		<td class = "column-input">Location Matrix ID</td>
		<td class = "column-label4">Jurisdiction ID</td>
		<td >Jurisdiction</td>
		
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label4" style="width:134px;">ShipTo Jurisdiction:</td>
		<td class="column-input-search"><h:inputText id="shiptoLocnMatrixId" style="text-align:right;float:left;" value="#{trDetail.shiptoLocnMatrixId}" disabled="true" />
				<a4j:commandButton id="btnView5" styleClass="image" style="width:16px;height:16px;" 
	                 image="/images/view-small.png" immediate="true"
	              action="#{transactionViewBean.viewLocnMatrix}">
	                <f:param name="fromview" value="viewFromTransaction" />
	                <f:param name="locnMatrixId" value="#{trDetail.shiptoLocnMatrixId}" />
	            </a4j:commandButton>
		</td>
		<td class="column-input-search"><h:inputText id="shiptoJurisdictionId" style="text-align:right;float:left;" value="#{trDetail.shiptoJurisdictionId}" disabled="true"/>
				<a4j:commandButton id="btnView6" styleClass="image"
	                 image="/images/view-small.png" immediate="true"
	                 style="width:16px;height:16px;#{(trDetail.shiptoJurisdictionId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.shiptoJurisdictionId > 0)}"
	             	 action="#{transactionViewBean.viewJurisdiction}">
	              <f:param name="command" value="viewJurisdictionFromTransaction" />
	              <f:param name="jurisdictiondId" value="#{trDetail.shiptoJurisdictionId}" /> 
	            </a4j:commandButton>
		</td>
		<td class="column-description" ><h:inputText id="shipTojurisdiction" style="width:450px;" value="#{transactionViewBean.processingPageJurisdiction(trDetail.shiptoGeocode,trDetail.shiptoCity,trDetail.shiptoCounty,trDetail.shiptoStateCode,trDetail.shiptoZip,trDetail.shiptoZipplus4,trDetail.shiptoCountryCode)} " disabled="true"/>
		</td>	
		<td>&#160;</td>
		
	</tr>
	
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label4">ShipFrom Jurisdiction:</td>
		<td class="column-input-search"><h:inputText id="shipfromLocnMatrixId" style="text-align:right;float:left;"  value="#{trDetail.shipfromLocnMatrixId}" disabled="true" />
				<a4j:commandButton id="btnView7" styleClass="image" style="width:16px;height:16px;#{(trDetail.shipfromLocnMatrixId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.shipfromLocnMatrixId > 0)}" 
	                 image="/images/view-small.png" immediate="true"
	               action="#{transactionViewBean.viewLocnMatrix}">
	                <f:param name="fromview" value="viewFromTransaction" />
	                <f:param name="locnMatrixId" value="#{trDetail.shipfromLocnMatrixId}" />
	            </a4j:commandButton>
		</td>
		<td class="column-input-search"><h:inputText id="shipfromJurisdictionId" style="text-align:right;float:left;" value="#{trDetail.shipfromJurisdictionId}" disabled="true"/>
				<a4j:commandButton id="btnView8" styleClass="image" style="width:16px;height:16px;#{(trDetail.shipfromJurisdictionId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.shipfromJurisdictionId > 0)}"
	                 image="/images/view-small.png" immediate="true"
	           		 action="#{transactionViewBean.viewJurisdiction}">
	              <f:param name="command" value="viewJurisdictionFromTransaction" />
	              <f:param name="jurisdictiondId" value="#{trDetail.shipfromJurisdictionId}" /> 
	            </a4j:commandButton>
		</td>
		<td class="column-description" ><h:inputText id="shipFromjurisdiction" style="width:450px;" value="#{transactionViewBean.processingPageJurisdiction(trDetail.shipfromGeocode,trDetail.shipfromCity,trDetail.shipfromCounty,trDetail.shipfromStateCode,trDetail.shipfromZip,trDetail.shipfromZipplus4,trDetail.shipfromCountryCode)} " disabled="true"/>
		</td>	
		
	</tr>
	
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label4">Order Origin Jurisdiction:</td>
		<td class="column-input-search"><h:inputText id="ordrorgnLocnMatrixId" style="text-align:right;float:left;" value="#{trDetail.ordrorgnLocnMatrixId}" disabled="true" />
				<a4j:commandButton id="btnView9" styleClass="image" 
				     style="width:16px;height:16px;#{(trDetail.ordrorgnLocnMatrixId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.ordrorgnLocnMatrixId > 0)}" 
	                 image="/images/view-small.png" immediate="true"
	            	 action="#{transactionViewBean.viewLocnMatrix}">
	               	 <f:param name="fromview" value="viewFromTransaction" />
	               	 <f:param name="locnMatrixId" value="#{trDetail.ordrorgnLocnMatrixId}" />
	            </a4j:commandButton>
		</td>
		<td class="column-input-search"><h:inputText id="ordrorgnJurisdictionId" style="text-align:right;float:left;" value="#{trDetail.ordrorgnJurisdictionId}" disabled="true"/>
				<a4j:commandButton id="btnView10" styleClass="image" 
					style="width:16px;height:16px;#{(trDetail.ordrorgnJurisdictionId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					disabled="#{!(trDetail.ordrorgnJurisdictionId > 0)}" 
	                 image="/images/view-small.png" immediate="true"
	           		 action="#{transactionViewBean.viewJurisdiction}">
              		<f:param name="command" value="viewJurisdictionFromTransaction" />
            		<f:param name="jurisdictiondId" value="#{trDetail.ordrorgnJurisdictionId}" /> 
	            </a4j:commandButton>
		</td>
		<td class="column-description" ><h:inputText id="ordrorgnjurisdiction" style="width:450px;" value="#{transactionViewBean.processingPageJurisdiction(trDetail.ordrorgnGeocode,trDetail.ordrorgnCity,trDetail.ordrorgnCounty,trDetail.ordrorgnStateCode,trDetail.ordrorgnZip,trDetail.ordrorgnZipplus4,trDetail.ordrorgnCountryCode)} " disabled="true"/>
		</td>	
		
	</tr>
	
		<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label4">Order Acceptance Jurisdiction:</td>
		<td class="column-input-search"><h:inputText id="ordracptLocnMatrixId" style="text-align:right;float:left;" value="#{trDetail.ordracptLocnMatrixId}" disabled="true" />
				<a4j:commandButton id="btnView11" styleClass="image" 
					style="width:16px;height:16px;#{(trDetail.ordracptLocnMatrixId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					disabled="#{!(trDetail.ordracptLocnMatrixId > 0)}"
	                image="/images/view-small.png" immediate="true"
	                action="#{transactionViewBean.viewLocnMatrix}">
	                <f:param name="fromview" value="viewFromTransaction" />
	                <f:param name="locnMatrixId" value="#{trDetail.ordracptLocnMatrixId}" />
	            </a4j:commandButton>
		</td>
		<td class="column-input-search"><h:inputText id="ordracptJurisdictionId" style="text-align:right;float:left;" value="#{trDetail.ordracptJurisdictionId}" disabled="true"/>
				<a4j:commandButton id="btnView12" styleClass="image"  
					 style="width:16px;height:16px;#{(trDetail.ordracptJurisdictionId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.ordracptJurisdictionId > 0)}"
	                 image="/images/view-small.png" immediate="true"
	                 action="#{transactionViewBean.viewJurisdiction}">
              		<f:param name="command" value="viewJurisdictionFromTransaction" />
            		<f:param name="jurisdictiondId" value="#{trDetail.ordracptJurisdictionId}" /> 
	            </a4j:commandButton>
		</td>
		<td class="column-description" ><h:inputText id="ordracptjurisdiction" style="width:450px;" value="#{transactionViewBean.processingPageJurisdiction(trDetail.ordracptGeocode,trDetail.ordracptCity,trDetail.ordracptCounty,trDetail.ordracptStateCode,trDetail.ordracptZip,trDetail.ordracptZipplus4,trDetail.ordracptCountryCode)} " disabled="true"/>
		</td>	
		
	</tr>
	
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label4">First Use Jurisdiction:</td>
		<td class="column-input-search"><h:inputText id="firstuseLocnMatrixId" style="text-align:right;float:left;" value="#{trDetail.firstuseLocnMatrixId}" disabled="true" />
				<a4j:commandButton id="btnView13" styleClass="image" 
					 style="width:16px;height:16px;#{(trDetail.firstuseLocnMatrixId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.firstuseLocnMatrixId > 0)}"
	                 image="/images/view-small.png" immediate="true"
	                 action="#{transactionViewBean.viewLocnMatrix}">
	                 <f:param name="fromview" value="viewFromTransaction" />
	                <f:param name="locnMatrixId" value="#{trDetail.firstuseLocnMatrixId}" />
	            </a4j:commandButton>
		</td>
		<td class="column-input-search"><h:inputText id="firstuseJurisdictionId" style="text-align:right;float:left;" value="#{trDetail.firstuseJurisdictionId}" disabled="true"/>
				<a4j:commandButton id="btnView14" styleClass="image" 
				     style="width:16px;height:16px;#{(trDetail.firstuseJurisdictionId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.firstuseJurisdictionId > 0)}" 
	                 image="/images/view-small.png" immediate="true"
	                action="#{transactionViewBean.viewJurisdiction}">
              		<f:param name="command" value="viewJurisdictionFromTransaction" />
            		<f:param name="jurisdictiondId" value="#{trDetail.firstuseJurisdictionId}" /> 
	            </a4j:commandButton>
		</td>
		<td   class="column-description" ><h:inputText id="firstusejurisdiction" style="width:450px;" value="#{transactionViewBean.processingPageJurisdiction(trDetail.firstuseGeocode,trDetail.firstuseCity,trDetail.firstuseCounty,trDetail.firstuseStateCode,trDetail.firstuseZip,trDetail.firstuseZipplus4,trDetail.firstuseCountryCode)} " disabled="true"/>
		</td>	
		
	</tr>
	
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label4">Bill To Jurisdiction:</td>
		<td class="column-input-search"><h:inputText id="billtoLocnMatrixId" style="text-align:right;float:left;" value="#{trDetail.billtoLocnMatrixId}" disabled="true" />
				<a4j:commandButton id="btnView15" styleClass="image" 
				     style="width:16px;height:16px;#{(trDetail.billtoLocnMatrixId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.billtoLocnMatrixId > 0)}" 
	                 image="/images/view-small.png" immediate="true"
	          		action="#{transactionViewBean.viewLocnMatrix}">
	                <f:param name="fromview" value="viewFromTransaction" />
	                <f:param name="locnMatrixId" value="#{trDetail.billtoLocnMatrixId}" />
	            </a4j:commandButton>
		</td>
		<td class="column-input-search"><h:inputText id="billtoJurisdictionId" style="text-align:right;float:left;" value="#{trDetail.billtoJurisdictionId}" disabled="true"/>
				<a4j:commandButton id="btnView16" styleClass="image" 
				     style="width:16px;height:16px;#{(trDetail.billtoJurisdictionId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.billtoJurisdictionId > 0)}" 
	                 image="/images/view-small.png" immediate="true"
	                 action="#{transactionViewBean.viewJurisdiction}">
              		<f:param name="command" value="viewJurisdictionFromTransaction" />
            		<f:param name="jurisdictiondId" value="#{trDetail.billtoJurisdictionId}" /> 
	            </a4j:commandButton>
		</td>
		<td   class="column-description" ><h:inputText id="billtojurisdiction" style="width:450px;" value="#{transactionViewBean.processingPageJurisdiction(trDetail.billtoGeocode,trDetail.billtoCity,trDetail.billtoCounty,trDetail.billtoStateCode,trDetail.billtoZip,trDetail.billtoZipplus4,trDetail.billtoCountryCode)} " disabled="true"/>
		</td>	
		
	</tr>
	
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label4">Title Transfer Jurisdiction:</td>
		<td class="column-input-search"><h:inputText id="ttlxfrLocnMatrixId" style="text-align:right;float:left;" value="#{trDetail.ttlxfrLocnMatrixId}" disabled="true" />
				<a4j:commandButton id="btnView17" styleClass="image" style="width:16px;height:16px;" 
	                 image="/images/view-small.png" immediate="true"
	             action="#{transactionViewBean.viewLocnMatrix}">
	                <f:param name="fromview" value="viewFromTransaction" />
	                <f:param name="locnMatrixId" value="#{trDetail.ttlxfrLocnMatrixId}" />
	            </a4j:commandButton>
		</td>
		<td class="column-input-search"><h:inputText id="ttlxfrJurisdictionId" style="text-align:right;float:left;" value="#{trDetail.ttlxfrJurisdictionId}" disabled="true"/>
			<c:if test="#{trDetail.ttlxfrJurisdictionId != 0 and (not empty trDetail.ttlxfrJurisdictionId)}">
				<a4j:commandButton id="btnView18" styleClass="image" 
					 style="width:16px;height:16px;#{(trDetail.ttlxfrJurisdictionId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.ttlxfrJurisdictionId > 0)}" 
	                 image="/images/view-small.png" immediate="true"
	               action="#{transactionViewBean.viewJurisdiction}">
              		<f:param name="command" value="viewJurisdictionFromTransaction" />
            		<f:param name="jurisdictiondId" value="#{trDetail.ttlxfrJurisdictionId}" /> 
	            </a4j:commandButton>
			</c:if>
		</td>
		
		<td   class="column-description" ><h:inputText id="ttlxfrjurisdiction" style="width:450px;" value="#{transactionViewBean.processingPageJurisdiction(trDetail.ttlxfrGeocode,trDetail.ttlxfrCity,trDetail.ttlxfrCounty,trDetail.ttlxfrStateCode,trDetail.ttlxfrZip,trDetail.ttlxfrZipplus4,trDetail.ttlxfrCountryCode)} " disabled="true"/>
		</td>	
		
	</tr>
	
  </tbody>
  </table>
    </rich:simpleTogglePanel>
</ui:component>