<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">
		
	<rich:simpleTogglePanel id="locationInformation" switchType="ajax"
				label="Location Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['locationInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>   
	 <table>
			<tbody>
			  <tr>

				<td class="column-spacer">&#160;</td>
	        	<td class="column-label4">&#160;</td>
				<td class="column-input">&#160;</td>
		      </tr>
	       </tbody>
    </table>
	<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<h:panelGroup rendered="#{ (not empty trDetail.shiptoJurisdictionId) and transactionDetailBean.getJurisdictionDetails(trDetail.shiptoJurisdictionId) !=null or
	(not empty trDetail.shipfromJurisdictionId) and not empty transactionDetailBean.getJurisdictionDetails(trDetail.shipfromJurisdictionId)  or
	(not empty trDetail.ordracptJurisdictionId) and not empty transactionDetailBean.getJurisdictionDetails(trDetail.ordracptJurisdictionId)  or
	(not empty trDetail.ordrorgnJurisdictionId) and not empty transactionDetailBean.getJurisdictionDetails(trDetail.ordrorgnJurisdictionId)  or
	(not empty trDetail.firstuseJurisdictionId) and not empty transactionDetailBean.getJurisdictionDetails(trDetail.firstuseJurisdictionId)  or
	(not empty trDetail.billtoJurisdictionId) and not empty transactionDetailBean.getJurisdictionDetails(trDetail.billtoJurisdictionId)  or
	(not empty trDetail.ttlxfrJurisdictionId) and not empty transactionDetailBean.getJurisdictionDetails(trDetail.ttlxfrJurisdictionId) 
	}">
		<tr>
			<td class="column-spacer">&#160;</td>
			<td>&#160;</td>
			<td >GeoCode</td>
			<td>City</td>
			<td>County</td>
			<td>State</td>
			<td>ZIP Code</td>
			<td>Country</td>
			<td>&#160;</td>
			<td>Location Matrix ID</td>
			<td>Manual Indicator</td>
		</tr>
	</h:panelGroup>
	
	<h:panelGroup rendered="#{ (not empty trDetail.shiptoJurisdictionId) and transactionDetailBean.getJurisdictionDetails(trDetail.shiptoJurisdictionId) !=null}">
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">Ship To Jurisdiction:</td>
		<td class="column-input-small"><h:inputText id="shiptogeocodeId" value="#{transactionDetailBean.currentJurisdiction.geocode}" disabled="true" /></td>
		<td class="column-input-small"><h:inputText id="shiptocityId" value="#{transactionDetailBean.currentJurisdiction.city}" disabled="true" /></td>
		<td class="column-input-small"><h:inputText id="shiptocountyId" value="#{transactionDetailBean.currentJurisdiction.county}" disabled="true" /></td>
			<h:panelGroup rendered="#{ not empty cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state]}">	
				<td class="column-input"><h:inputText value="#{cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state].name} (#{transactionDetailBean.currentJurisdiction.state})" disabled="true" /></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state]}">	
				<td class="column-input"><h:inputText value="#{transactionDetailBean.currentJurisdiction.state}" disabled="true" /></td>
			</h:panelGroup>
		
		<td class="column-input-small"><h:inputText id="shiptozipId" value="#{transactionDetailBean.currentJurisdiction.zip}" disabled="true" /></td>
		<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country]}">
			<td class="column-input-small"><h:inputText value="#{(cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country].description)} (#{transactionDetailBean.currentJurisdiction.country})" disabled="true" /></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country]}">
			<td class="column-input-small"><h:inputText value="#{transactionDetailBean.currentJurisdiction.country})" disabled="true" /></td>
		</h:panelGroup>
		<td><c:if test="#{trDetail.shiptoJurisdictionId != 0 and (not empty trDetail.shiptoJurisdictionId)}">
				<a4j:commandButton id="btnShipToView" styleClass="image" style="width:16px;height:16px;" 
	                 image="/images/view-small.png" immediate="true"
	              action="#{transactionViewBean.viewJurisdiction}">
	              <f:param name="command" value="viewJurisdictionFromTransactionLog" />
	              <f:param name="jurisdictiondId" value="#{trDetail.shiptoJurisdictionId}" /> 
	            </a4j:commandButton>
			</c:if></td>
			<td><h:inputText value="#{trDetail.shiptoLocnMatrixId}" style="text-align:right;float:left;" disabled="true" />
			<c:if test="#{trDetail.shiptoLocnMatrixId != 0 and (not empty trDetail.shiptoLocnMatrixId)}">
				<a4j:commandButton id="locBtnshiptoView" styleClass="image" style="width:16px;height:16px;float:right" 
	                   image="/images/view-small.png" immediate="true"
		              action="#{transactionViewBean.viewLocnMatrix}">
                <f:param name="fromview" value="viewTransactionFromLog" />
                <f:param name="locnMatrixId" value="#{trDetail.shiptoLocnMatrixId}" />
                </a4j:commandButton>
			</c:if>
			</td> 
			<td><h:selectBooleanCheckbox id="ShiptoManualJurIndBooleanFlag" value="#{trDetail.shiptoManualJurIndBooleanFlag}" disabled="true"   /></td>
		
	</tr>
    </h:panelGroup>
    
   <h:panelGroup rendered="#{(not empty trDetail.shipfromJurisdictionId) and transactionDetailBean.getJurisdictionDetails(trDetail.shipfromJurisdictionId) !=null}">
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">Ship From Jurisdiction:</td>
		<td class="column-input-small"><h:inputText id="shipfromgeocodeId" value="#{transactionDetailBean.currentJurisdiction.geocode}" disabled="true" /></td>
		<td class="column-input-small"><h:inputText id="shipfromcityId" value="#{transactionDetailBean.currentJurisdiction.city}" disabled="true" /></td>
		<td class="column-input-small"><h:inputText id="shipfromcountyId" value="#{transactionDetailBean.currentJurisdiction.county}" disabled="true" /></td>
		<h:panelGroup rendered="#{ not empty cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state]}">	
				<td class="column-input"><h:inputText value="#{cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state].name} (#{transactionDetailBean.currentJurisdiction.state})" disabled="true" /></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{ empty cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state]}">	
				<td class="column-input"><h:inputText value="#{transactionDetailBean.currentJurisdiction.state}" disabled="true" /></td>
		</h:panelGroup>
		<td class="column-input-small"><h:inputText id="shipfromzipId" value="#{transactionDetailBean.currentJurisdiction.zip}" disabled="true" /></td>
		<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country]}">
			<td class="column-input-small"><h:inputText value="#{(cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country].description)} (#{transactionDetailBean.currentJurisdiction.country})" disabled="true" /></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country]}">
			<td class="column-input-small"><h:inputText value="#{transactionDetailBean.currentJurisdiction.country}" disabled="true" /></td>
		</h:panelGroup>
		<td><c:if test="#{trDetail.shipfromJurisdictionId != 0 and (not empty trDetail.shipfromJurisdictionId)}">
				<a4j:commandButton id="btnShipFromView" styleClass="image" style="width:16px;height:16px;" 
	                 image="/images/view-small.png" immediate="true"
	            action="#{transactionViewBean.viewJurisdiction}">
	              <f:param name="command" value="viewJurisdictionFromTransactionLog" />
	              <f:param name="jurisdictiondId" value="#{trDetail.shipfromJurisdictionId}" /> 
	            </a4j:commandButton>
			</c:if></td>
			<td><h:inputText value="#{trDetail.shipfromLocnMatrixId}" style="text-align:right;float:left;" disabled="true" />
			<c:if test="#{trDetail.shipfromLocnMatrixId != 0 and (not empty trDetail.shipfromLocnMatrixId)}">
				<a4j:commandButton id="locBtnshipfromView" styleClass="image" style="width:16px;height:16px;float:right" 
	                   image="/images/view-small.png" immediate="true"
		              action="#{transactionViewBean.viewLocnMatrix}">
                <f:param name="fromview" value="viewTransactionFromLog" />
                <f:param name="locnMatrixId" value="#{trDetail.shipfromLocnMatrixId}" />
                </a4j:commandButton>
			</c:if>
			</td> 
		
	</tr>
    </h:panelGroup>
    
    <h:panelGroup rendered="#{ (not empty trDetail.ordracptJurisdictionId) and transactionDetailBean.getJurisdictionDetails(trDetail.ordracptJurisdictionId) !=null}">
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">Order Acceptance Jurisdiction:</td>
		<td class="column-input-small"><h:inputText id="ordracptgeocodeId" value="#{transactionDetailBean.currentJurisdiction.geocode}" disabled="true" /></td>
		<td class="column-input-small"><h:inputText id="ordracptcityId" value="#{transactionDetailBean.currentJurisdiction.city}" disabled="true" /></td>
		<td class="column-input-small"><h:inputText id="ordracptcountyId" value="#{transactionDetailBean.currentJurisdiction.county}" disabled="true" /></td>
		<h:panelGroup rendered="#{ not empty cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state]}">	
				<td class="column-input"><h:inputText value="#{cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state].name} (#{transactionDetailBean.currentJurisdiction.state})" disabled="true" /></td>
		</h:panelGroup>
			<h:panelGroup rendered="#{ empty cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state]}">	
				<td class="column-input"><h:inputText value="#{transactionDetailBean.currentJurisdiction.state}" disabled="true" /></td>
		</h:panelGroup>
		<td class="column-input-small"><h:inputText id="ordracptzipId" value="#{transactionDetailBean.currentJurisdiction.zip}" disabled="true" /></td>
		<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country]}">
			<td class="column-input-small"><h:inputText value="#{(cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country].description)} (#{transactionDetailBean.currentJurisdiction.country})" disabled="true" /></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country]}">
			<td class="column-input-small"><h:inputText value="#{transactionDetailBean.currentJurisdiction.country})" disabled="true" /></td>
		</h:panelGroup>
			<td><c:if test="#{trDetail.ordracptJurisdictionId != 0 and (not empty trDetail.ordracptJurisdictionId)}">
				<a4j:commandButton id="btnOrdacptView" styleClass="image" style="width:16px;height:16px;" 
	                 image="/images/view-small.png" immediate="true"
	             action="#{transactionViewBean.viewJurisdiction}">
              		<f:param name="command" value="viewJurisdictionFromTransactionLog" />
            		<f:param name="jurisdictiondId" value="#{trDetail.ordracptJurisdictionId}" /> 
	            </a4j:commandButton>
			</c:if></td>
			<td><h:inputText value="#{trDetail.ordracptLocnMatrixId}" style="text-align:right;float:left;" disabled="true" />
			<c:if test="#{trDetail.ordracptLocnMatrixId != 0 and (not empty trDetail.ordracptLocnMatrixId)}">
				<a4j:commandButton id="locBtnordacptView" styleClass="image" style="width:16px;height:16px;float:right" 
	                   image="/images/view-small.png" immediate="true"
		              action="#{transactionViewBean.viewLocnMatrix}">
                <f:param name="fromview" value="viewTransactionFromLog" />
                <f:param name="locnMatrixId" value="#{trDetail.ordracptLocnMatrixId}" />
                </a4j:commandButton>
			</c:if>
			</td> 
		
	</tr>
    </h:panelGroup>
    
        <h:panelGroup rendered="#{ (not empty trDetail.ordrorgnJurisdictionId) and transactionDetailBean.getJurisdictionDetails(trDetail.ordrorgnJurisdictionId) !=null}">
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">Order Origin Jurisdiction</td>
		<td class="column-input-small"><h:inputText id="ordrorgngeocodeId" value="#{transactionDetailBean.currentJurisdiction.geocode}" disabled="true" /></td>
		<td class="column-input-small"><h:inputText id="ordrorgncityId" value="#{transactionDetailBean.currentJurisdiction.city}" disabled="true" /></td>
		<td class="column-input-small"><h:inputText id="ordrorgncountyId" value="#{transactionDetailBean.currentJurisdiction.county}" disabled="true" /></td>
		<h:panelGroup rendered="#{ not empty cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state]}">	
				<td class="column-input"><h:inputText value="#{cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state].name} (#{transactionDetailBean.currentJurisdiction.state})" disabled="true" /></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{ empty cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state]}">	
			<td class="column-input"><h:inputText value="#{transactionDetailBean.currentJurisdiction.state}" disabled="true" /></td>
		</h:panelGroup>
		<td class="column-input-small"><h:inputText id="ordrorgnzipId" value="#{transactionDetailBean.currentJurisdiction.zip}" disabled="true" /></td>
		<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country]}">
			<td class="column-input-small"><h:inputText value="#{(cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country].description)} (#{transactionDetailBean.currentJurisdiction.country})" disabled="true" /></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country]}">
			<td class="column-input-small"><h:inputText value="#{transactionDetailBean.currentJurisdiction.country})" disabled="true" /></td>
		</h:panelGroup>
		<td><c:if test="#{trDetail.ordrorgnJurisdictionId != 0 and (not empty trDetail.ordrorgnJurisdictionId)}">
				<a4j:commandButton id="btnOrdorgnView" styleClass="image" style="width:16px;height:16px;" 
	                 image="/images/view-small.png" immediate="true"
	           		 action="#{transactionViewBean.viewJurisdiction}">
              		<f:param name="command" value="viewJurisdictionFromTransactionLog" />
            		<f:param name="jurisdictiondId" value="#{trDetail.ordrorgnJurisdictionId}" /> 
	            </a4j:commandButton>
			</c:if></td>
			<td><h:inputText value="#{trDetail.ordrorgnLocnMatrixId}" style="text-align:right;float:left;" disabled="true" />
			<c:if test="#{trDetail.ordrorgnLocnMatrixId != 0 and (not empty trDetail.ordrorgnLocnMatrixId)}">
				<a4j:commandButton id="locBtnordorgnView" styleClass="image" style="width:16px;height:16px;float:right" 
	                   image="/images/view-small.png" immediate="true"
		              action="#{transactionViewBean.viewLocnMatrix}">
                <f:param name="fromview" value="viewTransactionFromLog" />
                <f:param name="locnMatrixId" value="#{trDetail.ordrorgnLocnMatrixId}" />
                </a4j:commandButton>
			</c:if>
			</td> 
		
	</tr>
    </h:panelGroup>
    
    
   <h:panelGroup rendered="#{ (not empty trDetail.firstuseJurisdictionId) and transactionDetailBean.getJurisdictionDetails(trDetail.firstuseJurisdictionId) !=null}">
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">First Use Jurisdiction:</td>
		<td class="column-input-small"><h:inputText id="firstusegeocodeId" value="#{transactionDetailBean.currentJurisdiction.geocode}" disabled="true" /></td>
		<td class="column-input-small"><h:inputText id="firstusecityId" value="#{transactionDetailBean.currentJurisdiction.city}" disabled="true" /></td>
		<td class="column-input-small"><h:inputText id="firstusecountyId" value="#{transactionDetailBean.currentJurisdiction.county}" disabled="true" /></td>
		<h:panelGroup rendered="#{ not empty cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state]}">	
				<td class="column-input"><h:inputText value="#{cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state].name} (#{transactionDetailBean.currentJurisdiction.state})" disabled="true" /></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{ empty cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state]}">	
			<td class="column-input"><h:inputText value="#{transactionDetailBean.currentJurisdiction.state}" disabled="true" /></td>
		</h:panelGroup>
		<td class="column-input-small"><h:inputText id="firstusezipId" value="#{transactionDetailBean.currentJurisdiction.zip}" disabled="true" /></td>
		<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country]}">
			<td class="column-input-small"><h:inputText value="#{(cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country].description)} (#{transactionDetailBean.currentJurisdiction.country})" disabled="true" /></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country]}">
			<td class="column-input-small"><h:inputText value="#{transactionDetailBean.currentJurisdiction.country})" disabled="true" /></td>
		</h:panelGroup>
		<td><c:if test="#{trDetail.firstuseJurisdictionId != 0 and (not empty trDetail.firstuseJurisdictionId)}">
				<a4j:commandButton id="btnFirstuseView" styleClass="image" style="width:16px;height:16px;" 
	                 image="/images/view-small.png" immediate="true"
	              action="#{transactionViewBean.viewJurisdiction}">
              		<f:param name="command" value="viewJurisdictionFromTransactionLog" />
            		<f:param name="jurisdictiondId" value="#{trDetail.firstuseJurisdictionId}" /> 
	            </a4j:commandButton>
			</c:if></td>
			<td><h:inputText value="#{trDetail.firstuseLocnMatrixId}" style="text-align:right;float:left;" disabled="true" />
			<c:if test="#{trDetail.firstuseLocnMatrixId != 0 and (not empty trDetail.firstuseLocnMatrixId)}">
				<a4j:commandButton id="locBtnfirstuseView" styleClass="image" style="width:16px;height:16px;float:right" 
	                   image="/images/view-small.png" immediate="true"
		              action="#{transactionViewBean.viewLocnMatrix}">
                <f:param name="fromview" value="viewTransactionFromLog" />
                <f:param name="locnMatrixId" value="#{trDetail.firstuseLocnMatrixId}" />
                </a4j:commandButton>
			</c:if>
			</td> 
		
	</tr>
    </h:panelGroup>
    
       <h:panelGroup rendered="#{ (not empty trDetail.billtoJurisdictionId) and transactionDetailBean.getJurisdictionDetails(trDetail.billtoJurisdictionId) !=null}">
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">Bill To Jurisdiction:</td>
		<td class="column-input-small"><h:inputText id="billtogeocodeId" value="#{transactionDetailBean.currentJurisdiction.geocode}" disabled="true" /></td>
		<td class="column-input-small"><h:inputText id="billtocityId" value="#{transactionDetailBean.currentJurisdiction.city}" disabled="true" /></td>
		<td class="column-input-small"><h:inputText id="billtocountyId" value="#{transactionDetailBean.currentJurisdiction.county}" disabled="true" /></td>
		<h:panelGroup rendered="#{ not empty cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state]}">	
				<td class="column-input"><h:inputText value="#{cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state].name} (#{transactionDetailBean.currentJurisdiction.state})" disabled="true" /></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{ empty cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state]}">	
			<td class="column-input"><h:inputText value="#{transactionDetailBean.currentJurisdiction.state}" disabled="true" /></td>
		</h:panelGroup>
		<td class="column-input-small"><h:inputText id="billtozipId" value="#{transactionDetailBean.currentJurisdiction.zip}" disabled="true" /></td>
		<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country]}">
			<td class="column-input-small"><h:inputText value="#{(cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country].description)} (#{transactionDetailBean.currentJurisdiction.country})" disabled="true" /></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country]}">
			<td class="column-input-small"><h:inputText value="#{transactionDetailBean.currentJurisdiction.country})" disabled="true" /></td>
		</h:panelGroup>
		<td><c:if test="#{trDetail.billtoJurisdictionId != 0 and (not empty trDetail.billtoJurisdictionId)}">
				<a4j:commandButton id="btnBilltoJurView" styleClass="image" style="width:16px;height:16px;" 
	                 image="/images/view-small.png" immediate="true"
	               action="#{transactionViewBean.viewJurisdiction}">
              		<f:param name="command" value="viewJurisdictionFromTransactionLog" />
            		<f:param name="jurisdictiondId" value="#{trDetail.billtoJurisdictionId}" /> 
	            </a4j:commandButton>
			</c:if></td>
			<td><h:inputText value="#{trDetail.billtoLocnMatrixId}" style="text-align:right;float:left;" disabled="true" />
			<c:if test="#{trDetail.billtoLocnMatrixId != 0 and (not empty trDetail.billtoLocnMatrixId)}">
				<a4j:commandButton id="locBtnbilltoView" styleClass="image" style="width:16px;height:16px;float:right" 
	                   image="/images/view-small.png" immediate="true"
		              action="#{transactionViewBean.viewLocnMatrix}">
                <f:param name="fromview" value="viewTransactionFromLog" />
                <f:param name="locnMatrixId" value="#{trDetail.billtoLocnMatrixId}" />
                </a4j:commandButton>
			</c:if>
			</td> 
	</tr>
    </h:panelGroup>
    
       <h:panelGroup rendered="#{ (not empty trDetail.ttlxfrJurisdictionId) and transactionDetailBean.getJurisdictionDetails(trDetail.ttlxfrJurisdictionId) !=null}">
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2">Title Transfer Jurisdiction:</td>
		<td class="column-input-small"><h:inputText id="ttlxgeocodeId" value="#{transactionDetailBean.currentJurisdiction.geocode}" disabled="true" /></td>
		<td class="column-input-small"><h:inputText id="ttlxcityId" value="#{transactionDetailBean.currentJurisdiction.city}" disabled="true" /></td>
		<td class="column-input-small"><h:inputText id="ttlxcountyId" value="#{transactionDetailBean.currentJurisdiction.county}" disabled="true" /></td>
		<h:panelGroup rendered="#{ not empty cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state]}">	
				<td class="column-input"><h:inputText value="#{cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state].name} (#{transactionDetailBean.currentJurisdiction.state})" disabled="true" /></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{ empty cacheManager.taxCodeStateMap[transactionDetailBean.currentJurisdiction.state]}">	
			<td class="column-input"><h:inputText value="#{transactionDetailBean.currentJurisdiction.state}" disabled="true" /></td>
		</h:panelGroup>
		<td class="column-input-small"><h:inputText id="ttlxzipId" value="#{transactionDetailBean.currentJurisdiction.zip}" disabled="true" /></td>
		<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country]}">
			<td class="column-input-small"><h:inputText value="#{(cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country].description)} (#{transactionDetailBean.currentJurisdiction.country})" disabled="true" /></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['COUNTRY'][transactionDetailBean.currentJurisdiction.country]}">
			<td class="column-input-small"><h:inputText value="#{transactionDetailBean.currentJurisdiction.country})" disabled="true" /></td>
		</h:panelGroup>
		<td><c:if test="#{trDetail.ttlxfrJurisdictionId != 0 and (not empty trDetail.ttlxfrJurisdictionId)}">
				<a4j:commandButton id="btnTtlxfrView" styleClass="image" style="width:16px;height:16px;" 
	                 image="/images/view-small.png" immediate="true"
	               action="#{transactionViewBean.viewJurisdiction}">
              		<f:param name="command" value="viewJurisdictionFromTransactionLog" />
            		<f:param name="jurisdictiondId" value="#{trDetail.ttlxfrJurisdictionId}" /> 
	            </a4j:commandButton>
			</c:if></td>
		<td><h:inputText value="#{trDetail.ttlxfrLocnMatrixId}" style="text-align:right;float:left;" disabled="true" />
			<c:if test="#{trDetail.ttlxfrLocnMatrixId != 0 and (not empty trDetail.ttlxfrLocnMatrixId)}">
				<a4j:commandButton id="locBtnttlxfrView" styleClass="image" style="width:16px;height:16px;float:right" 
	                   image="/images/view-small.png" immediate="true"
		              action="#{transactionViewBean.viewLocnMatrix}">
                <f:param name="fromview" value="viewTransactionFromLog" />
                <f:param name="locnMatrixId" value="#{trDetail.ttlxfrLocnMatrixId}" />
                </a4j:commandButton>
			</c:if>
			</td> 
			
		
	</tr>
    </h:panelGroup>
  </tbody>
  </table>
    </rich:simpleTogglePanel>
</ui:component>