<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">
    
<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label-gsm" style = "width:140px"><h:outputText value="#{matrixCommonBean.transactionPropertyMap['glDate'].description}:"/></td>
		<td class="column-input">
		  <h:inputText id = "glDateinput1" value="#{trDetail.glDate}" disabled = "true" >
				<f:convertDateTime type="both" pattern="MM/dd/yyyy"/>
			</h:inputText>
		
		
	  </td>
		<td class="column-description-wild-null" style = "width: 135px;">&#160;</td> 
		<td class="column-label-gsm">&#160;</td>
		<td class="column-input-small">&#160;</td> 
		<td class="column-description-wild-null" style = "width: 105px;">&#160;</td>
		<td class="column-spacer">&#160;</td>
		
		
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label-gsm" style = "width:140px"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glCompanyNbr']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glCompanyNbr'].description}:"/></td>
		<td class="column-input-search"><h:inputText id = "glcompanyNbrId" disabled = "true" style = "width: 240px;" value="#{trDetail.glCompanyNbr}" >
		</h:inputText>
		</td>
		<td class="column-label2">&#160;</td>
		<td class="column-input">&#160;</td>
	</tr>
	</tbody>
	</table>
	<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label-gsm" style = "width:140px"><h:outputText value="Trans.Entity Code:"/></td>
		<td class="column-input2-search">
			<c:if test = "#{not empty transactionViewBean.getTransEntityCode(trDetail.entityId) }">
			<h:inputText id = "driversnotemptyentityCode" style="float:left;width: 230px;" 
					value="#{transactionViewBean.aEntityItem.entityCode} - #{transactionViewBean.aEntityItem.entityName}" disabled = "true" />
			</c:if>
			<c:if test = "#{empty transactionViewBean.aEntityItem }">
			<h:inputText id = "driversemptyentityCode" style="float:left;width: 230px;" 
					value="#{trDetail.entityId}" disabled = "true" />
			</c:if>
			<c:if test="#{not empty trDetail.entityId}">
				<a4j:commandButton id="driversEntityCodeBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
						image="/images/view-small.png" immediate="true"
						action="#{transactionViewBean.viewEntityCodeAction}">
						<f:param name = "entityId" value="#{trDetail.entityId}"/>
				</a4j:commandButton>
	        </c:if>
	        </td>	
    
		<td class="column-description-wild-null"  style = "width: 35px;">&#160;</td> 
		<td class="column-label-gsm"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glCompanyName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glCompanyName'].description}:"/></td>
		<td class="column-input"><h:inputText value="#{trDetail.glCompanyName}" disabled="true"/></td>
		<td class="column-description-wild-null" style = "width: 205px;">&#160;</td> 
		<td class="column-spacer">&#160;</td>

	</tr>
	
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label-gsm"  style = "width:140px"><h:outputText value="Inherit.Entity Code:"/></td>
		<td class="column-input2-search">
		<c:if test = "#{not empty transactionViewBean.inheritEntityCode }">
			<h:inputText id="inheritCode1" style="float:left;width: 230px;" value="#{transactionViewBean.inheritEntityCode}" disabled = "true" />
	    </c:if>
	    <c:if test = "#{empty transactionViewBean.inheritEntityCode }">
			<h:inputText id="inheritCode2" style="float:left;width: 230px;" value="#{trDetail.unlockEntityId}" disabled = "true" />
	   </c:if>
	   <c:if test="#{not empty trDetail.unlockEntityId}">
		      <h:commandButton id="inheritCodeBtn" styleClass="image" style="float:left;width:16px;height:16px;" 
				image="/images/view-small.png" immediate="true"
				action="#{transactionViewBean.viewInheritEntityCodeAction}">
		     </h:commandButton>
		</c:if>
	   </td>
	  
	 
		<td class="column-description-wild-null" style = "width: 35px;">&#160;</td> 
		<td class="column-label-gsm"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glCompanyName']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glCompanyName'].description}:"/></td>
		<td class="column-input"><h:inputText value="#{trDetail.glCompanyName}" disabled="true"/></td>
		<td class="column-description-wild-null" style = "width: 205px;">&#160;</td> 
		<td class="column-spacer">&#160;</td>

	</tr> 
	
	 <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label-gsm" style = "width:140px"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['glLineItmDistAmt']? '':'color:red;'}" value="#{matrixCommonBean.transactionPropertyMap['glLineItmDistAmt'].description}:"/></td>
		<td class="column-input">
			<h:inputText id = "glLineItemAmt" value="#{trDetail.glLineItmDistAmt}" disabled = "true" >
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-description-wild-null" style = "width: 26px;">&#160;</td> 
		<td class="column-label-gsm">&#160;</td>
		<td class="column-input">&#160;</td>
		<td class="column-description-wild-null" style = "width: 130px;">&#160;</td> 
		<td class="column-spacer">&#160;</td>
	</tr>  
	
</table>
			
</ui:component>