<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">
<div id="embedded-table">
<h:panelGrid id="userTogglePanel" columns="1" width="100%">
			<rich:simpleTogglePanel id="userTextInformation" switchType="ajax"
				label="User Text Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['userTextInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>

<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText01']? '':'color:red;'}" value="1: #{matrixCommonBean.transactionPropertyMap['userText01'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText01}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText02']? '':'color:red;'}" value="2: #{matrixCommonBean.transactionPropertyMap['userText02'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText02}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText03']? '':'color:red;'}" value="3: #{matrixCommonBean.transactionPropertyMap['userText03'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText03}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText04']? '':'color:red;'}" value="4: #{matrixCommonBean.transactionPropertyMap['userText04'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText04}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText05']? '':'color:red;'}" value="5: #{matrixCommonBean.transactionPropertyMap['userText05'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText05}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText06']? '':'color:red;'}" value="6: #{matrixCommonBean.transactionPropertyMap['userText06'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText06}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td> 
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText07']? '':'color:red;'}" value="7: #{matrixCommonBean.transactionPropertyMap['userText07'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText07}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText08']? '':'color:red;'}" value="8: #{matrixCommonBean.transactionPropertyMap['userText08'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText08}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText09']? '':'color:red;'}" value="9: #{matrixCommonBean.transactionPropertyMap['userText09'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText09}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText10']? '':'color:red;'}" value="10: #{matrixCommonBean.transactionPropertyMap['userText10'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText10}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText11']? '':'color:red;'}" value="11: #{matrixCommonBean.transactionPropertyMap['userText11'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText11}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText12']? '':'color:red;'}" value="12: #{matrixCommonBean.transactionPropertyMap['userText12'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText12}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText13']? '':'color:red;'}" value="13: #{matrixCommonBean.transactionPropertyMap['userText13'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText13}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText14']? '':'color:red;'}" value="14: #{matrixCommonBean.transactionPropertyMap['userText14'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText14}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText15']? '':'color:red;'}" value="15: #{matrixCommonBean.transactionPropertyMap['userText15'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText15}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText16']? '':'color:red;'}" value="16: #{matrixCommonBean.transactionPropertyMap['userText16'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText16}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText17']? '':'color:red;'}" value="17: #{matrixCommonBean.transactionPropertyMap['userText17'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText17}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText18']? '':'color:red;'}" value="18: #{matrixCommonBean.transactionPropertyMap['userText18'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText18}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText19']? '':'color:red;'}" value="19: #{matrixCommonBean.transactionPropertyMap['userText19'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText19}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText20']? '':'color:red;'}" value="20: #{matrixCommonBean.transactionPropertyMap['userText20'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText20}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText21']? '':'color:red;'}" value="21: #{matrixCommonBean.transactionPropertyMap['userText21'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText21}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText22']? '':'color:red;'}" value="22: #{matrixCommonBean.transactionPropertyMap['userText22'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText22}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText23']? '':'color:red;'}" value="23: #{matrixCommonBean.transactionPropertyMap['userText23'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText23}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText24']? '':'color:red;'}" value="24: #{matrixCommonBean.transactionPropertyMap['userText24'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText24}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText25']? '':'color:red;'}" value="25: #{matrixCommonBean.transactionPropertyMap['userText25'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText25}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText26']? '':'color:red;'}" value="26: #{matrixCommonBean.transactionPropertyMap['userText26'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText26}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText27']? '':'color:red;'}" value="27: #{matrixCommonBean.transactionPropertyMap['userText27'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText27}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText28']? '':'color:red;'}" value="28: #{matrixCommonBean.transactionPropertyMap['userText28'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText28}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText29']? '':'color:red;'}" value="29: #{matrixCommonBean.transactionPropertyMap['userText29'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText29}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText30']? '':'color:red;'}" value="30: #{matrixCommonBean.transactionPropertyMap['userText30'].description}:"/></td>
		<td class="column-input2-search"><h:inputText value="#{trDetail.userText30}" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"/></td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText31']? '':'color:red;'}" value="31: #{matrixCommonBean.transactionPropertyMap['userText31'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText31}" id="userText31" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText32']? '':'color:red;'}" value="32: #{matrixCommonBean.transactionPropertyMap['userText32'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText32}" id="userText32" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
    </tr> 
	<tr> 
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText33']? '':'color:red;'}"	value="33: #{matrixCommonBean.transactionPropertyMap['userText33'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText33}" id="userText33" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText34']? '':'color:red;'}" value="34: #{matrixCommonBean.transactionPropertyMap['userText34'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText34}" id="userText34" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText35']? '':'color:red;'}" value="35: #{matrixCommonBean.transactionPropertyMap['userText35'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText35}" id="userText35" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText36']? '':'color:red;'}"	value="36: #{matrixCommonBean.transactionPropertyMap['userText36'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText36}" id="userText36" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText37']? '':'color:red;'}" value="37: #{matrixCommonBean.transactionPropertyMap['userText37'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText37}" id="userText37" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText38']? '':'color:red;'}" value="38: #{matrixCommonBean.transactionPropertyMap['userText38'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText38}" id="userText38" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText39']? '':'color:red;'}"	value="39: #{matrixCommonBean.transactionPropertyMap['userText39'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText39}" id="userText39" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText40']? '':'color:red;'}" value="40: #{matrixCommonBean.transactionPropertyMap['userText40'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText40}" id="userText40" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText41']? '':'color:red;'}" value="41: #{matrixCommonBean.transactionPropertyMap['userText41'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText41}" id="userText41" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText42']? '':'color:red;'}"	value="42: #{matrixCommonBean.transactionPropertyMap['userText42'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText42}" id="userText42" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
     <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText43']? '':'color:red;'}" value="43: #{matrixCommonBean.transactionPropertyMap['userText43'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText43}" id="userText43" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText44']? '':'color:red;'}" value="44: #{matrixCommonBean.transactionPropertyMap['userText44'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText44}" id="userText44" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText45']? '':'color:red;'}"	value="45: #{matrixCommonBean.transactionPropertyMap['userText45'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText45}" id="userText45" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText46']? '':'color:red;'}" value="46: #{matrixCommonBean.transactionPropertyMap['userText46'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText46}" id="userText46" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText47']? '':'color:red;'}" value="47: #{matrixCommonBean.transactionPropertyMap['userText47'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText47}" id="userText47" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText48']? '':'color:red;'}"	value="48: #{matrixCommonBean.transactionPropertyMap['userText48'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText48}" id="userText48" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 
     <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText49']? '':'color:red;'}" value="49: #{matrixCommonBean.transactionPropertyMap['userText49'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText49}" id="userText49" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText50']? '':'color:red;'}" value="50: #{matrixCommonBean.transactionPropertyMap['userText50'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText50}" id="userText50" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText51']? '':'color:red;'}"	value="51: #{matrixCommonBean.transactionPropertyMap['userText51'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText51}" id="userText51" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText52']? '':'color:red;'}" value="52: #{matrixCommonBean.transactionPropertyMap['userText52'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText52}" id="userText52" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText53']? '':'color:red;'}" value="53: #{matrixCommonBean.transactionPropertyMap['userText53'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText53}" id="userText53" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText54']? '':'color:red;'}"	value="54: #{matrixCommonBean.transactionPropertyMap['userText54'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText54}" id="userText54" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
     <td class="column-spacer">&#160;</td>
	</tr>
     <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText55']? '':'color:red;'}" value="55: #{matrixCommonBean.transactionPropertyMap['userText55'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText55}" id="userText55" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText56']? '':'color:red;'}" value="56: #{matrixCommonBean.transactionPropertyMap['userText56'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText56}" id="userText56" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText57']? '':'color:red;'}"	value="57: #{matrixCommonBean.transactionPropertyMap['userText57'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText57}" id="userText57" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText58']? '':'color:red;'}" value="58: #{matrixCommonBean.transactionPropertyMap['userText58'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText58}" id="userText58" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText59']? '':'color:red;'}" value="59: #{matrixCommonBean.transactionPropertyMap['userText59'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText59}" id="userText59" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText60']? '':'color:red;'}"	value="60: #{matrixCommonBean.transactionPropertyMap['userText60'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText60}" id="userText60" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	</tr>
	
	<tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText61']? '':'color:red;'}" value="61: #{matrixCommonBean.transactionPropertyMap['userText61'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText61}" id="userText61" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText62']? '':'color:red;'}" value="62: #{matrixCommonBean.transactionPropertyMap['userText62'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText62}" id="userText62" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText63']? '':'color:red;'}"	value="63: #{matrixCommonBean.transactionPropertyMap['userText63'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText63}" id="userText63" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText64']? '':'color:red;'}" value="64: #{matrixCommonBean.transactionPropertyMap['userText64'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText64}" id="userText64" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText65']? '':'color:red;'}" value="65: #{matrixCommonBean.transactionPropertyMap['userText65'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText65}" id="userText65" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText66']? '':'color:red;'}"	value="66: #{matrixCommonBean.transactionPropertyMap['userText66'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText66}" id="userText66" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
     <td class="column-spacer">&#160;</td>
	 </tr>
	 
   	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText67']? '':'color:red;'}" value="67: #{matrixCommonBean.transactionPropertyMap['userText67'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText67}" id="userText67" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText68']? '':'color:red;'}" value="68: #{matrixCommonBean.transactionPropertyMap['userText68'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText68}" id="userText68" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText69']? '':'color:red;'}"	value="69: #{matrixCommonBean.transactionPropertyMap['userText69'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText69}" id="userText69" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText70']? '':'color:red;'}" value="70: #{matrixCommonBean.transactionPropertyMap['userText70'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText70}" id="userText70" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText71']? '':'color:red;'}" value="71: #{matrixCommonBean.transactionPropertyMap['userText71'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText71}" id="userText71" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText72']? '':'color:red;'}"	value="72: #{matrixCommonBean.transactionPropertyMap['userText72'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText72}" id="userText72" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	</tr>
   	<tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText73']? '':'color:red;'}" value="73: #{matrixCommonBean.transactionPropertyMap['userText73'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText73}" id="userText73" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText74']? '':'color:red;'}" value="74: #{matrixCommonBean.transactionPropertyMap['userText74'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText74}" id="userText74" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText75']? '':'color:red;'}"	value="75: #{matrixCommonBean.transactionPropertyMap['userText75'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText75}" id="userText75" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText76']? '':'color:red;'}" value="76: #{matrixCommonBean.transactionPropertyMap['userText76'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText76}" id="userText76" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText77']? '':'color:red;'}" value="77: #{matrixCommonBean.transactionPropertyMap['userText77'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText77}" id="userText77" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText78']? '':'color:red;'}"	value="78: #{matrixCommonBean.transactionPropertyMap['userText78'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText78}" id="userText78" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 
     <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText79']? '':'color:red;'}" value="79: #{matrixCommonBean.transactionPropertyMap['userText79'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText79}" id="userText79" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText80']? '':'color:red;'}" value="80: #{matrixCommonBean.transactionPropertyMap['userText80'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText80}" id="userText80" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText81']? '':'color:red;'}"	value="81: #{matrixCommonBean.transactionPropertyMap['userText81'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText81}" id="userText81" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
  	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText82']? '':'color:red;'}" value="82: #{matrixCommonBean.transactionPropertyMap['userText82'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText82}" id="userText82" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText83']? '':'color:red;'}" value="83: #{matrixCommonBean.transactionPropertyMap['userText83'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText83}" id="userText83" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText84']? '':'color:red;'}"	value="84: #{matrixCommonBean.transactionPropertyMap['userText84'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText84}" id="userText84" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
     </tr>
     <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText85']? '':'color:red;'}" value="85: #{matrixCommonBean.transactionPropertyMap['userText85'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText85}" id="userText85" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText86']? '':'color:red;'}" value="86: #{matrixCommonBean.transactionPropertyMap['userText86'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText86}" id="userText86" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText87']? '':'color:red;'}"	value="87: #{matrixCommonBean.transactionPropertyMap['userText87'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText87}" id="userText87" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText88']? '':'color:red;'}" value="88: #{matrixCommonBean.transactionPropertyMap['userText88'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText88}" id="userText88" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText89']? '':'color:red;'}" value="89: #{matrixCommonBean.transactionPropertyMap['userText89'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText89}" id="userText89" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText90']? '':'color:red;'}"	value="90: #{matrixCommonBean.transactionPropertyMap['userText90'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText90}" id="userText90" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
     </tr>
     <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText91']? '':'color:red;'}" value="91: #{matrixCommonBean.transactionPropertyMap['userText91'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText91}" id="userText91" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText92']? '':'color:red;'}" value="92: #{matrixCommonBean.transactionPropertyMap['userText92'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText92}" id="userText92" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText93']? '':'color:red;'}"	value="93: #{matrixCommonBean.transactionPropertyMap['userText93'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText93}" id="userText93" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText94']? '':'color:red;'}" value="94: #{matrixCommonBean.transactionPropertyMap['userText94'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText94}" id="userText94" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText95']? '':'color:red;'}" value="95: #{matrixCommonBean.transactionPropertyMap['userText95'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText95}" id="userText95" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText96']? '':'color:red;'}"	value="96: #{matrixCommonBean.transactionPropertyMap['userText96'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText96}" id="userText96" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	<td class="column-spacer">&#160;</td>
    </tr>
     <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText97']? '':'color:red;'}" value="97: #{matrixCommonBean.transactionPropertyMap['userText97'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText97}" id="userText97" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText98']? '':'color:red;'}" value="98: #{matrixCommonBean.transactionPropertyMap['userText98'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText98}" id="userText98" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
	 </tr>
	 <tr>
	 <td class="column-spacer">&#160;</td>
	 <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText99']? '':'color:red;'}"	value="99: #{matrixCommonBean.transactionPropertyMap['userText99'].description}:" /></td>
	 <td class="column-input2-search"><h:inputText  value="#{trDetail.userText99}" id="userText99" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
	 <td class="column-spacer">&#160;</td>
     <td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userText100']? '':'color:red;'}" value="100: #{matrixCommonBean.transactionPropertyMap['userText100'].description}:" /></td>
     <td class="column-input2-search"><h:inputText  value="#{trDetail.userText100}" id="userText100" maxlength = "100" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText></td>
     <td class="column-spacer">&#160;</td>
     </tr> 
     </tbody>
     </table> 
     </rich:simpleTogglePanel>
     
    <rich:simpleTogglePanel id="userNumberInformation" switchType="ajax"
				label="User Number Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['userNumberInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>
	<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber01']? '':'color:red;'}" value="1: #{matrixCommonBean.transactionPropertyMap['userNumber01'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber01}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber02']? '':'color:red;'}" value="2: #{matrixCommonBean.transactionPropertyMap['userNumber02'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber02}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber03']? '':'color:red;'}" value="3: #{matrixCommonBean.transactionPropertyMap['userNumber03'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber03}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber04']? '':'color:red;'}" value="4: #{matrixCommonBean.transactionPropertyMap['userNumber04'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber04}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber05']? '':'color:red;'}" value="5: #{matrixCommonBean.transactionPropertyMap['userNumber05'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber05}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber06']? '':'color:red;'}" value="6: #{matrixCommonBean.transactionPropertyMap['userNumber06'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber06}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber07']? '':'color:red;'}" value="7: #{matrixCommonBean.transactionPropertyMap['userNumber07'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber07}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber08']? '':'color:red;'}" value="8: #{matrixCommonBean.transactionPropertyMap['userNumber08'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber08}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber09']? '':'color:red;'}" value="9: #{matrixCommonBean.transactionPropertyMap['userNumber09'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber09}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber10']? '':'color:red;'}" value="10: #{matrixCommonBean.transactionPropertyMap['userNumber10'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber10}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
   <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber11']? '':'color:red;'}" value="11: #{matrixCommonBean.transactionPropertyMap['userNumber11'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber11}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber12']? '':'color:red;'}" value="12: #{matrixCommonBean.transactionPropertyMap['userNumber12'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber12}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
     <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber13']? '':'color:red;'}" value="13: #{matrixCommonBean.transactionPropertyMap['userNumber13'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber13}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber14']? '':'color:red;'}" value="14: #{matrixCommonBean.transactionPropertyMap['userNumber14'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber14}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
         <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber15']? '':'color:red;'}" value="15: #{matrixCommonBean.transactionPropertyMap['userNumber15'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber15}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber16']? '':'color:red;'}" value="16: #{matrixCommonBean.transactionPropertyMap['userNumber16'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber16}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	  <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber17']? '':'color:red;'}" value="17: #{matrixCommonBean.transactionPropertyMap['userNumber17'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber17}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber18']? '':'color:red;'}" value="18: #{matrixCommonBean.transactionPropertyMap['userNumber18'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber18}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	  <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber19']? '':'color:red;'}" value="19: #{matrixCommonBean.transactionPropertyMap['userNumber19'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber19}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber20']? '':'color:red;'}" value="20: #{matrixCommonBean.transactionPropertyMap['userNumber20'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber18}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
		  <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber21']? '':'color:red;'}" value="21: #{matrixCommonBean.transactionPropertyMap['userNumber21'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber21}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber22']? '':'color:red;'}" value="22: #{matrixCommonBean.transactionPropertyMap['userNumber22'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber22}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	  <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber23']? '':'color:red;'}" value="23: #{matrixCommonBean.transactionPropertyMap['userNumber23'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber23}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber24']? '':'color:red;'}" value="24: #{matrixCommonBean.transactionPropertyMap['userNumber24'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber24}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	  <tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userNumber25']? '':'color:red;'}" value="25: #{matrixCommonBean.transactionPropertyMap['userNumber25'].description}:"/></td>
		<td class="column-input2-search">
			<h:inputText value="#{trDetail.userNumber25}" disabled = "#{transactionDetailBean.isViewScreen}" onkeypress="return onlyNumerics(event);">
				<f:convertNumber minFractionDigits="2" maxFractionDigits="#{filePreferenceBackingBean.maxdecimalplace}"/>
			</h:inputText>
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	</tbody>
	</table>
	</rich:simpleTogglePanel>
	<rich:simpleTogglePanel id="userDateInformation" switchType="ajax"
				label="User Date Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['userDateInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>
	<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate01']? '':'color:red;'}" value="1: #{matrixCommonBean.transactionPropertyMap['userDate01'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate01}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate1" enableManualInput="true" label="CEO's Birthday"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate01}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate01}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate02']? '':'color:red;'}" value="2: #{matrixCommonBean.transactionPropertyMap['userDate02'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate02}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate2" enableManualInput="true" label="User Date02"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate02}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate02}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate03']? '':'color:red;'}" value="3: #{matrixCommonBean.transactionPropertyMap['userDate03'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate03}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate3" enableManualInput="true" label="User Date03"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate03}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate03}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate04']? '':'color:red;'}" value="4: #{matrixCommonBean.transactionPropertyMap['userDate04'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate04}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate4" enableManualInput="true" label="User Date04"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate04}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate04}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate05']? '':'color:red;'}" value="5: #{matrixCommonBean.transactionPropertyMap['userDate05'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate05}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate5" enableManualInput="true" label="User Date05"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate05}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate05}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate06']? '':'color:red;'}" value="6: #{matrixCommonBean.transactionPropertyMap['userDate06'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate06}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate6" enableManualInput="true" label="User Date06"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate06}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate06}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate07']? '':'color:red;'}" value="7: #{matrixCommonBean.transactionPropertyMap['userDate07'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate07}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate7" enableManualInput="true" label="User Date07"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate07}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate07}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate08']? '':'color:red;'}" value="8: #{matrixCommonBean.transactionPropertyMap['userDate08'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate08}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate8" enableManualInput="true" label="User Date08"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate08}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate08}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate09']? '':'color:red;'}" value="9: #{matrixCommonBean.transactionPropertyMap['userDate09'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate09}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate9" enableManualInput="true" label="User Date09"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate09}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate09}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate10']? '':'color:red;'}" value="10: #{matrixCommonBean.transactionPropertyMap['userDate10'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate10}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate10" enableManualInput="true" label="User Date10"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate10}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate10}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate11']? '':'color:red;'}" value="11: #{matrixCommonBean.transactionPropertyMap['userDate11'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate11}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate11" enableManualInput="true" label="User Date11"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate11}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate11}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate12']? '':'color:red;'}" value="12: #{matrixCommonBean.transactionPropertyMap['userDate12'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate12}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate12" enableManualInput="true" label="User Date12"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate12}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate12}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate13']? '':'color:red;'}" value="13: #{matrixCommonBean.transactionPropertyMap['userDate13'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate13}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate13" enableManualInput="true" label="User Date13"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate13}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate13}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate14']? '':'color:red;'}" value="14: #{matrixCommonBean.transactionPropertyMap['userDate14'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate14}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate14" enableManualInput="true" label="User Date14"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate14}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate14}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate15']? '':'color:red;'}" value="15: #{matrixCommonBean.transactionPropertyMap['userDate15'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate15}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate15" enableManualInput="true" label="User Date15"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate15}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate15}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate16']? '':'color:red;'}" value="16: #{matrixCommonBean.transactionPropertyMap['userDate16'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate16}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate16" enableManualInput="true" label="User Date16"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate16}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate16}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate17']? '':'color:red;'}" value="17: #{matrixCommonBean.transactionPropertyMap['userDate17'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate17}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate17" enableManualInput="true" label="User Date17"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate17}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate17}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate18']? '':'color:red;'}" value="18: #{matrixCommonBean.transactionPropertyMap['userDate18'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate18}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate18" enableManualInput="true" label="User Date18"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate18}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate18}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate19']? '':'color:red;'}" value="19: #{matrixCommonBean.transactionPropertyMap['userDate19'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate19}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate19" enableManualInput="true" label="User Date19"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate19}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate19}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate20']? '':'color:red;'}" value="20: #{matrixCommonBean.transactionPropertyMap['userDate20'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate20}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate20" enableManualInput="true" label="User Date20"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate20}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate20}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
		<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate21']? '':'color:red;'}" value="21: #{matrixCommonBean.transactionPropertyMap['userDate21'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate21}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate21" enableManualInput="true" label="User Date21"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate21}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate21}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate22']? '':'color:red;'}" value="22: #{matrixCommonBean.transactionPropertyMap['userDate22'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate22}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate22" enableManualInput="true" label="User Date22"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate22}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate22}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
		<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate23']? '':'color:red;'}" value="23: #{matrixCommonBean.transactionPropertyMap['userDate23'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate23}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate23" enableManualInput="true" label="User Date23"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate23}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate23}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate24']? '':'color:red;'}" value="24: #{matrixCommonBean.transactionPropertyMap['userDate24'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate24}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate24" enableManualInput="true" label="User Date24"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate24}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate24}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	<tr>
		<td class="column-spacer">&#160;</td>
		<td class="column-label2"><h:outputText style="#{empty matrixCommonBean.transactionPropertyAllDriverNamesMap['userDate25']? '':'color:red;'}" value="25: #{matrixCommonBean.transactionPropertyMap['userDate25'].description}:"/></td>
		<td class="column-input2-search">
			<c:if test="#{transactionDetailBean.isViewScreen}">
			<h:inputText value="#{trDetail.userDate25}" disabled = "#{transactionDetailBean.isViewScreen}">
				<f:convertDateTime type="both" pattern="MM/dd/yyyy h:mm:ss a"/>
			</h:inputText>
		   </c:if>
		   	<c:if test="#{!transactionDetailBean.isViewScreen}">
				<rich:calendar zindex="1000"
				id="userDate25" enableManualInput="true" label="User Date25"
				oninputkeypress="return onlyDateValue(event);"
				value="#{trDetail.userDate25}" popup="true"
				binding = "#{transactionViewBean.validTransactionDates.userFieldsDate25}"
				
				converter="date"
				datePattern="M/d/yyyy"
				showApplyButton="false" inputClass="textbox" />
			</c:if>	
		</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-spacer">&#160;</td>
		<td class="column-spacer">&#160;</td>
	</tr>
	</tbody>
</table>
</rich:simpleTogglePanel>
</h:panelGrid>
</div>
</ui:component>