<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

			<!-- Log Values Information  -->
			<rich:simpleTogglePanel id="logValuesInformation" switchType="ajax"
				label="Log Values"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['logValuesInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									value="Transaction ID:" /></td>
							<td class="column-input-search"><h:inputText style="text-align:right;float:left;"
									value="#{trDetail.purchtransId}" disabled="true" />
                             <a4j:commandButton id="viewLogBtn1" styleClass="image" style="float:right;width:16px;height:16px;" 
				                   image="/images/view-small.png" immediate="true"
					               action="#{transactionDetailBean.viewTransactionFromLog}">
	                          </a4j:commandButton>
	                         </td>

							<td class="column-label2"><h:outputText
									value="Total Tax:" /></td>
							<td class="column-input"><h:inputText
									value="$#{trDetail.aTbCalcTaxAmt}" style="text-align:right;" disabled="true" /></td>
							
							<td class="column-label2"><h:outputText
									value="G/L Extract Batch No:" /></td>
							<td class="column-input-search"><h:inputText style="text-align:right;float:left;"
									value="#{trDetail.glExtractBatchNo}" disabled="true" />
							
								<c:if test="#{trDetail.glExtractBatchNo != 0 and (not empty trDetail.glExtractBatchNo)}">
								<a4j:commandButton id="viewLogBtn2" styleClass="image" style="float:right;width:16px;height:16px;" 
				                   image="/images/view-small.png" immediate="true"
					               action="#{transactionDetailBean.displayBatchView}">
					                <f:param name="fromview" value="viewFromLogEntry" />
					                <f:param name="viewBatchNo" value="#{trDetail.glExtractBatchNo}" />
	                         	 </a4j:commandButton>
	                         	 </c:if>
	                         	 </td>
	                         	 	
	                         
	                        
	                          <td class="column-spacer">&#160;</td>
						</tr>

						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText value="Log Source:" /></td>
							<td class="column-input"><h:inputText
									value="#{trDetail.logSource}" disabled="true" /></td>


							<td class="column-label2"><h:outputText
									value="Combined Rate:" /></td>
							<td class="column-input"><h:inputText value="#{trDetail.combinedRate*100}%" style="text-align:right;" disabled="true" >
							 <f:convertNumber type="number" minFractionDigits="2" maxFractionDigits="10"/>
						      </h:inputText>
									</td>
							<td class="column-label2"><h:outputText
									value="G/L Extract Timestamp:" /></td>
							<td class="column-input"><h:inputText
									value="#{trDetail.glExtractTimestamp}" disabled="true" >
									<f:convertDateTime type="date" pattern="MM/dd/yyyy hh:mm:ss a"/>
									</h:inputText>
									</td>
							<td class="column-spacer">&#160;</td>

						</tr>			
							</tbody>
				</table>

			</rich:simpleTogglePanel>
</ui:component>