<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

	<div id="embedded-table">
		<h:panelGrid id="txnTogglePanel" columns="1" width="100%">
			<rich:simpleTogglePanel id="transactionInformation" switchType="ajax"
				label="Transaction Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['transactionInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>


				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText
									id="lblprocessTypeCode"
									value="#{matrixCommonBean.transactionPropertyMap['processtypeCode'].description}:" /></td>
							<td class="column-input"><h:inputText style="#{(transactionDetailBean.isViewScreen) == true ? '' : 'color:#888888'}"
									value="#{trDetail.processtypeCode}" disabled = "true" /></td>
							<td class="column-label"><h:outputText
									id="lblEntereddate"
									value="#{matrixCommonBean.transactionPropertyMap['enteredDate'].description}:" /></td>
							<td class="column-input-search" >
							<c:if test="#{transactionDetailBean.isViewScreen}">
							<h:inputText
									value="#{trDetail.enteredDate}" disabled = "#{transactionDetailBean.isViewScreen}" />
							</c:if>
							<c:if test="#{!transactionDetailBean.isViewScreen}">
								<rich:calendar zindex="1000"
								id="enteredDate" enableManualInput="true" label="Entered Date"
								oninputkeypress="return onlyDateValue(event);"
								value="#{trDetail.enteredDate}" popup="true"
								binding = "#{transactionViewBean.validTransactionDates.transactionEnteredDate}"
								
								converter="date"
								datePattern="M/d/yyyy"
								showApplyButton="false" inputClass="textbox" />
		  					</c:if>
							</td>
							<td class="column-spacer">&#160;</td>
							
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText
									id="lblSourceTransactionId"
									value="#{matrixCommonBean.transactionPropertyMap['sourceTransactionId'].description}:" /></td>
							<td class="column-input" colspan="4"><h:inputText
									value="#{trDetail.sourceTransactionId}" disabled = "#{transactionDetailBean.isViewScreen}" maxlength = "100" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText
									id="lblTransactionStatusId"
									value="#{matrixCommonBean.transactionPropertyMap['transactionStatus'].description}:" /></td>
							<td class="column-input" colspan="4"><h:inputText
									value="#{trDetail.transactionStatus}" disabled = "#{transactionDetailBean.isViewScreen}" maxlength = "10" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText
									id="lblTransactionCountryId"
									value="#{matrixCommonBean.transactionPropertyMap['transactionCountryCode'].description}:" /></td>
							<c:if test="#{transactionDetailBean.isViewScreen}">
								<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['COUNTRY'][trDetail.transactionCountryCode]}">
								   <td class="column-input"><h:inputText
										value="#{(cacheManager.listCodeMap['COUNTRY'][trDetail.transactionCountryCode].description)} (#{trDetail.transactionCountryCode})"  disabled = "#{transactionDetailBean.isViewScreen}" /></td>
								</h:panelGroup>
								<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['COUNTRY'][trDetail.transactionCountryCode]}">
									<td class="column-input"><h:inputText value="#{trDetail.transactionCountryCode}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
				         	    </h:panelGroup>
				         	</c:if>
				         	<c:if test="#{!transactionDetailBean.isViewScreen}">
				         		 <td class="column-input"><h:selectOneMenu id="countryMenuEdit" 
									value="#{trDetail.transactionCountryCode}"
									immediate="true"
									valueChangeListener="#{transactionDetailBean.searchCountryChanged}" 
									onchange="submit();">
									<f:selectItems value="#{transactionDetailBean.countryMenuItems}"/>
								</h:selectOneMenu></td>
				         	</c:if>
							<td class="column-label"><h:outputText
									id="lblTransactionStateId"
									value="#{matrixCommonBean.transactionPropertyMap['transactionStateCode'].description}:" /></td>
							<c:if test="#{transactionDetailBean.isViewScreen}">
							<h:panelGroup rendered = "#{not empty cacheManager.taxCodeStateMap[trDetail.transactionStateCode].name}">
								<td class="column-input" ><h:inputText
										value="#{cacheManager.taxCodeStateMap[trDetail.transactionStateCode].name} (#{trDetail.transactionStateCode})" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
								</h:panelGroup>
								<h:panelGroup rendered = "#{empty cacheManager.taxCodeStateMap[trDetail.transactionStateCode].name}" >
					   			 <td class="column-input"><h:inputText 
										value="#{trDetail.transactionStateCode}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
								</h:panelGroup>
							</c:if>
							<c:if test="#{!transactionDetailBean.isViewScreen}">
								<td class="column-input">
								<h:selectOneMenu id="stateEdit"
								value="#{trDetail.transactionStateCode}" immediate="true"
								valueChangeListener="#{transactionDetailBean.viewStateChanged}">
								<f:selectItems value="#{transactionDetailBean.getEditTransStateMenuItems(trDetail.transactionCountryCode)}"/>
						</h:selectOneMenu>
					</td>
							</c:if>
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText
									id="lblTaxcodeCodeId"
									value="#{matrixCommonBean.transactionPropertyMap['taxcodeCode'].description}:" /></td>
							<c:if test="#{transactionDetailBean.isViewScreen}">
								<td class="column-input-search"><h:inputText style = "float:left"
										value="#{trDetail.taxcodeCode}" disabled = "#{transactionDetailBean.isViewScreen}" />
									 <a4j:commandButton id="btntxnTaxCode" styleClass="image" 
											  style="width:16px;height:16px;#{(trDetail != null) ? '':'filter:alpha(Opacity=40);'}" 
							      				disabled="#{!(trDetail != null)}" 
								                 image="/images/view-small.png" immediate="true"
								               action="#{transactionViewBean.viewTaxCode}">
								                 <f:param name="fromview" value="viewFromTransaction" />
									             <f:param name="taxcode" value="#{trDetail.taxcodeCode}" />
							         </a4j:commandButton>
										
								</td>
							<td class="column-label"><h:outputText
									id="lblTaxcodedescription"
									value="TaxCode Desc.:" /></td>
							<td class="column-input2" colspan = "4"><h:inputText style = "width:400px"
									value="#{cacheManager.taxCodeMap[trDetail.taxcodeCode].description}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							</c:if>
							
							<c:if test="#{!transactionDetailBean.isViewScreen}">
								<td class="column-input">
								<h:selectOneMenu id="taxcodeEdit"  value="#{trDetail.taxcodeCode}" style = "width:300px">
								 <f:selectItems id="taxcodeitems" value="#{transactionDetailBean.filterTaxCodeHandler.taxCodeItems}"/>
								</h:selectOneMenu>
								</td>
							</c:if>
							
							<td class="column-spacer">&#160;</td>
						</tr>
						<tr>
						    <td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText
									id="lblRejectFlag"
									value="#{matrixCommonBean.transactionPropertyMap['rejectFlag'].description}:" /></td>
							<td class="column-input"><h:inputText id="chkRejectFlag" value="#{trDetail.rejectFlag}" disabled = "#{transactionDetailBean.isViewScreen}" maxlength = "1"/></td>
							 <td class="column-label"><h:outputText value="#{matrixCommonBean.transactionPropertyMap['directPayPermitFlag'].description}:" /></td>
						     <td class="column-input"><h:inputText id="directPayPermitFlagId" value="#{trDetail.directPayPermitFlag}" disabled = "#{transactionDetailBean.isViewScreen}" maxlength = "1"/></td>
							<td class="column-label"><h:outputText value="#{matrixCommonBean.transactionPropertyMap['calculateInd'].description}:" /></td>
							<td class="column-input"><h:inputText id="calculateIndId" value="#{trDetail.calculateInd}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>	
						
							<td class="column-spacer">&#160;</td>
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText id="lblComments"
									value="#{matrixCommonBean.transactionPropertyMap['comments'].description}:" /></td>
							<td class="column-input" colspan="4"><h:inputText style = "width:806px" maxlength = "4000"
									value="#{trDetail.comments}" disabled = "#{transactionDetailBean.isViewScreen}" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText id="lblProcessingNotes"
									value="#{matrixCommonBean.transactionPropertyMap['processingNotes'].description}:" /></td>
							<td class="column-input" colspan="4"><h:inputText style="#{(transactionDetailBean.isViewScreen) == true ? '' : 'color:#888888'};width:806px"
									value="#{trDetail.processingNotes}" disabled = "true" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText id="lblUrlLink"
									value="#{matrixCommonBean.transactionPropertyMap['urlLink'].description}:" /></td>
						  <h:panelGroup rendered="#{ not empty trDetail.urlLink}">
							<td class="column-input" colspan="4">
							 <h:outputLink value="http://#{trDetail.urlLink}" target="_blank">
							 <h:inputText value="#{trDetail.urlLink}" maxlength = "4000" style = "width:806px;color:#0000FF;cursor:pointer" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText>
							 </h:outputLink>
							</td>
						 </h:panelGroup>
						  <h:panelGroup rendered="#{empty trDetail.urlLink}">
							<td class="column-input" colspan="4">
							 <h:inputText value="#{trDetail.urlLink}" style = "width:806px" disabled = "#{transactionDetailBean.isViewScreen}"></h:inputText>
							</td>
						 </h:panelGroup>
						 
							<td class="column-spacer">&#160;</td>
						</tr>
						
						
					</tbody>
				</table>
			</rich:simpleTogglePanel>
				<rich:simpleTogglePanel id="glextractInformation" switchType="ajax"
				label="G/L Extract Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['glextractInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>

				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label" ><h:outputText id="lblbatchNo"
									value="Batch No:" /></td>
							<td class="column-input2" colspan="4"><h:inputText
									value="#{trDetail.glExtractBatchNo}" disabled="true" /></td>
							<td class="column-spacer">&#160;</td>
							
						</tr>

						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText id="lblExtractFlag"
									value="Extract Flag:" /></td>
							<td class="column-input2" colspan="4"><h:inputText
									value="#{trDetail.glExtractFlag}" disabled="true">
							</h:inputText>
							</td>
							<td class="column-spacer">&#160;</td>
							
						</tr>
						
						<!-- <tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText id="lblReversallag"
									value="Reversal Flag:" /></td>
							<td class="column-input2" colspan="4"><h:inputText
									value="#{trDetail.glLogFlag}" disabled="true" /></td>
							<td class="column-spacer">&#160;</td>
							
						</tr>  -->

						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText id="lblExtractUserId"
									value="Extract User ID:" /></td>
							<td class="column-input2" colspan="4"><h:inputText
									value="#{trDetail.glExtractUpdater}" disabled="true">
							</h:inputText>
							</td>
							<td class="column-spacer">&#160;</td>
							
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText id="lblExtractTimeStamp"
									value="Extract Timestamp:" /></td>
							<td class="column-input2" colspan="4"><h:inputText
									value="#{trDetail.glExtractTimestamp}" disabled="true">
								<f:converter converterId="dateTime"/>
							</h:inputText>
							</td>
							<td class="column-spacer">&#160;</td>
							
						</tr>
					</tbody>
				</table>
			</rich:simpleTogglePanel>
			<rich:simpleTogglePanel id="batchInformation" switchType="ajax"
				label="Batch Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['batchInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>

				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText
									id="lblprocessBatchNo"
									value="#{matrixCommonBean.transactionPropertyMap['processBatchNo'].description}:" /></td>
							<td class="column-input-search" colspan="4"><h:inputText style="#{(transactionDetailBean.isViewScreen) == true ? '' : 'color:#888888'};float:left"
									value="#{trDetail.processBatchNo}" disabled = "true" />
								<a4j:commandButton id="btnProcessBatchId" styleClass="image" 
								 style="width:16px;height:16px;#{(trDetail.processBatchNo > 0) ? '':'filter:alpha(Opacity=40);'}" 
					      disabled="#{!(trDetail.processBatchNo > 0)}"  
								image="/images/view-small.png" immediate="true" rendered = "#{transactionDetailBean.isViewScreen}"
								action="#{transactionDetailBean.displayBatchView}">
								  <f:param name="fromview" value="viewFromTransaction" />
				    			  <f:param name="viewBatchNo" value="#{trDetail.processBatchNo}" />
								</a4j:commandButton>
							</td>
							<td class="column-spacer">&#160;</td>
							
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText
									id="lblglExtractBatchNo"
									value="#{matrixCommonBean.transactionPropertyMap['glExtractBatchNo'].description}:" /></td>
							<td class="column-input-search" colspan="4"><h:inputText style="#{(transactionDetailBean.isViewScreen) == true ? '' : 'color:#888888'};float:left;"
									value="#{trDetail.glExtractBatchNo}" disabled = "true" />
									<a4j:commandButton id="btnglExtractBatchId" styleClass="image"
									style="width:16px;height:16px;#{(trDetail.glExtractBatchNo > 0) ? '':'filter:alpha(Opacity=40);'}" 
									disabled="#{!(trDetail.glExtractBatchNo > 0)}"
									image="/images/view-small.png" immediate="true" 
									action="#{transactionDetailBean.displayBatchView}">
									<f:param name="fromview" value="viewFromTransaction" />
				    			    <f:param name="viewBatchNo" value="#{trDetail.glExtractBatchNo}" />
									</a4j:commandButton>
									</td>
							<td class="column-spacer">&#160;</td>
							
						</tr>
						
						
					</tbody>
				</table>
			</rich:simpleTogglePanel>
			
		 	<rich:simpleTogglePanel id="lastUpdateInformation" switchType="ajax"
				label="Update Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['lastUpdateInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>

				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						
							<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText id="lblloadTimeStamp"
									value="#{matrixCommonBean.transactionPropertyMap['loadTimestamp'].description}:" /></td>
							<td class="column-input" colspan="4"><h:inputText style = "#{(transactionDetailBean.isViewScreen) == true ? '' : 'color:#888888'}"
									value="#{trDetail.loadTimestamp}" disabled = "true">
									<f:converter converterId="dateTime"/>
									</h:inputText>
							</td>
							<td class="column-spacer">&#160;</td>
							
							
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText id="lblModifyUpdateUserId"
									value="#{matrixCommonBean.transactionPropertyMap['modifyUserId'].description}:" /></td>
							<td class="column-input" colspan="4"><h:inputText style = "#{(transactionDetailBean.isViewScreen) == true ? '' : 'color:#888888'}"
									value="#{trDetail.modifyUserId}" disabled = "true" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>

						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText id="lblModifyTimestamp"
									value="#{matrixCommonBean.transactionPropertyMap['modifyTimestamp'].description}:" /></td>
							<td class="column-input2" colspan="4"><h:inputText style = "#{(transactionDetailBean.isViewScreen) == true ? '' : 'color:#888888'}"
									value="#{trDetail.modifyTimestamp}" disabled = "true">
								<f:converter converterId="dateTime"/>
							</h:inputText>
							</td>
							<td class="column-spacer">&#160;</td>
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText id="lblUpdateUserId"
									value="Last Update User ID:" /></td>
							<td class="column-input" colspan="4"><h:inputText style = "#{(transactionDetailBean.isViewScreen) == true ? '' : 'color:#888888'}"
									value="#{trDetail.updateUserId}" disabled = "true" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>

						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label"><h:outputText id="lblTimestamp"
									value="Last Update TimeStamp" /></td>
							<td class="column-input" colspan="4"><h:inputText style = "#{(transactionDetailBean.isViewScreen) == true ? '' : 'color:#888888'}"
									value="#{trDetail.updateTimestamp}" disabled = "true">
								<f:converter converterId="dateTime"/>
							</h:inputText>
							</td>
							<td class="column-spacer">&#160;</td>
							
						</tr>
					</tbody>
				</table>
			</rich:simpleTogglePanel> 
		</h:panelGrid>
	</div>
</ui:component>