<ui:component xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
	            xmlns:f="http://java.sun.com/jsf/core" 
              xmlns:rich="http://richfaces.org/rich"
              xmlns:c="http://java.sun.com/jstl/core"
	            xmlns:a4j="http://richfaces.org/a4j">

<div class="scrollContainer">
<div class="scrollInner" id="resize">
    <rich:dataTable rowClasses="odd-row,even-row" id="transactionBlobTable" rows="#{bean.transactionBlobDataModel.pageSize}"
		sortMode="single" value="#{bean.transactionBlobDataModel}" var="row" rendered="true">

		<a4j:support id="rowClick" event="onRowClick" reRender="#{reRender}" onsubmit="#{onsubmit}"
				actionListener="#{bean.selectedRowChanged}" />

		<rich:column style="text-align: center" rendered="#{showSelected}">
			<f:facet name="header"><h:outputText value="Selected?" /></f:facet>
			<h:selectBooleanCheckbox styleClass="check" value="#{row.selected}" />
		</rich:column>

		<rich:column id="fileId"> 
			<f:facet name="header">
          	<a4j:commandLink id="batchId-a4j"
                           styleClass="sort-#{bean.transactionBlobDataModel.sortOrder['fileId']}"
                           value="File Id"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="transactionBlobTable" />
 			</f:facet>
			<h:outputText value="#{row.fileId}" />
		</rich:column>

		<rich:column id="fileName">
			<f:facet name="header">
				<a4j:commandLink id="totalRows-a4j"
                           styleClass="sort-#{bean.transactionBlobDataModel.sortOrder['fileName']}"
                           value="File Name"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="transactionBlobTable" />
			</f:facet>
			<h:outputText value="#{row.fileName}">
       		</h:outputText>
		</rich:column>
		
		<rich:column id="userName">
			<f:facet name="header">
				<a4j:commandLink id="userName-a4j"
                          styleClass="sort-#{bean.transactionBlobDataModel.sortOrder['userName']}"
                          value="User Name"
                          actionListener="#{bean.sortAction}"
                          oncomplete="initScrollingTables();"
                          immediate="true"
                          reRender="transactionBlobTable" />
			</f:facet>
			<h:outputText value="#{row.userName}" />
		</rich:column>
		
		<rich:column id="createDate">
			<f:facet name="header">
				<a4j:commandLink id="createDate-a4j"
                          styleClass="sort-#{bean.transactionBlobDataModel.sortOrder['createDate']}"
                          value="Create Date"
                          actionListener="#{bean.sortAction}"
                          oncomplete="initScrollingTables();"
                          immediate="true"
                          reRender="transactionBlobTable" />
			</f:facet>
			<h:outputText value="#{row.createDate}">
           		<f:converter converterId="dateTime" />
       		</h:outputText>
		</rich:column>
		
		<rich:column styleClass="column-right" id="rowCount">
			<f:facet name="header">
				<a4j:commandLink id="rowCount-a4j"
                           styleClass="sort-#{bean.transactionBlobDataModel.sortOrder['rowCount']}"
                           value="Row Count"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="transactionBlobTable" />
			</f:facet>
			<h:outputText value="#{row.rowCount}">
          		<f:convertNumber/>
       		</h:outputText>
		</rich:column>
		
		<rich:column styleClass="column-right" id="fileSize">
			<f:facet name="header">
				<a4j:commandLink id="fileSize-a4j"
                           styleClass="sort-#{bean.transactionBlobDataModel.sortOrder['fileSize']}"
                           value="File Size in MB"
                           actionListener="#{bean.sortAction}"
                           oncomplete="initScrollingTables();"
                           immediate="true"
                           reRender="transactionBlobTable" />
			</f:facet>
			<h:outputText value="#{row.fileSize}">
          		<f:convertNumber/>
       		</h:outputText>
		</rich:column>
		
		<rich:column id="startTime">
			<f:facet name="header">
				<a4j:commandLink id="startTime-a4j"
                          styleClass="sort-#{bean.transactionBlobDataModel.sortOrder['startTime']}"
                          value="Start Time"
                          actionListener="#{bean.sortAction}"
                          oncomplete="initScrollingTables();"
                          immediate="true"
                          reRender="transactionBlobTable" />
			</f:facet>
			<h:outputText value="#{row.startTime}">
           		<f:converter converterId="dateTime" />
       		</h:outputText>
		</rich:column>
		
		<rich:column id="endTime">
			<f:facet name="header">
				<a4j:commandLink id="endTime-a4j"
                          styleClass="sort-#{bean.transactionBlobDataModel.sortOrder['endTime']}"
                          value="End Time"
                          actionListener="#{bean.sortAction}"
                          oncomplete="initScrollingTables();"
                          immediate="true"
                          reRender="transactionBlobTable" />
			</f:facet>
			<h:outputText value="#{row.endTime}">
           		<f:converter converterId="dateTime" />
       		</h:outputText>
		</rich:column>
		
		
	</rich:dataTable>

	</div>
	<rich:datascroller id="scroll" for="transactionBlobTable" maxPages="10" oncomplete="initScrollingTables();"
		style="clear:both;" align="center" stepControls="auto" ajaxSingle="false" reRender="pageInfo"
		page="#{bean.transactionBlobDataModel.curPage}" />
	</div>

</ui:component>
