<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

 <div id="embedded-table">

	  <h:panelGrid id="taxProcessing" columns="1" width="100%">
	
		<h:panelGroup>
			<ui:include src="/WEB-INF/view/components/transactiondetail_tax_processing_transinfo_panel.xhtml">
				<ui:param name="trDetail" value="#{transactionViewBean.selectedTransaction}" />
			</ui:include>
	  </h:panelGroup>
		
	  <h:panelGroup>
			<ui:include src="/WEB-INF/view/components/transactiondetail_tax_processing_alloc_panel.xhtml">
				<ui:param name="trDetail" value="#{transactionViewBean.selectedTransaction}" />
			</ui:include>
	  </h:panelGroup>
		
	  <h:panelGroup>
			<ui:include src="/WEB-INF/view/components/transactiondetail_tax_processing_loc_panel.xhtml">
				<ui:param name="trDetail" value="#{transactionViewBean.selectedTransaction}" />
			</ui:include>
	  </h:panelGroup>
	  
	   <h:panelGroup>
			<ui:include src="/WEB-INF/view/components/transactiondetail_tax_processing_jurisd_panel.xhtml">
				<ui:param name="trDetail" value="#{transactionViewBean.selectedTransaction}" />
			</ui:include>
	  </h:panelGroup>
	  
	   <h:panelGroup>
			<ui:include src="/WEB-INF/view/components/transactiondetail_tax_processing_taxcode_panel.xhtml">
				<ui:param name="trDetail" value="#{transactionViewBean.selectedTransaction}" />
			</ui:include>
	  </h:panelGroup>
	  
	   <h:panelGroup>
			<ui:include src="/WEB-INF/view/components/transactiondetail_tax_processing_taxrate_panel.xhtml">
				<ui:param name="trDetail" value="#{transactionViewBean.selectedTransaction}" />
			</ui:include>
	  </h:panelGroup>
	
	  <h:panelGroup>
			<ui:include src="/WEB-INF/view/components/transactiondetail_tax_processing_calc_panel.xhtml">
				<ui:param name="trDetail" value="#{transactionViewBean.selectedTransaction}" />
			</ui:include>
	  </h:panelGroup>
	
  </h:panelGrid>
 </div>
</ui:component>