<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

			<!-- General Information  -->

			<rich:simpleTogglePanel id="generalInformation" switchType="ajax"
				label="General Information"
				actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
				opened="#{transactionViewBean.togglePanelController.togglePanels['generalInformation']}"
				bodyClass="togglepanel-body" headerClass="togglepanel-header"
				styleClass="togglepanel">
				<f:facet name="openMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-e.png"></h:graphicImage>
				</f:facet>
				<f:facet name="closeMarker">
					<h:graphicImage style="vertical-align:middle;"
						url="/images/triangle-s.png"></h:graphicImage>
				</f:facet>
				
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td ><h:outputText
									value="Transaction Ind.:" /></td>
							<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TRANSIND'][trDetail.transactionInd]}">
							  <td class="column-input"><h:inputText value="#{cacheManager.listCodeMap['TRANSIND'][trDetail.transactionInd].description}" disabled="true" /></td>
						    </h:panelGroup>
						    
						    <h:panelGroup rendered="#{ empty cacheManager.listCodeMap['TRANSIND'][trDetail.transactionInd]}">
							  <td class="column-input"><h:inputText value="#{trDetail.transactionInd}" disabled="true" /></td>
						    </h:panelGroup>
						    
							<td class="column-spacer">&#160;</td>
							<td ><h:outputText
									value="Transaction Country:" /></td>
									
							<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['COUNTRY'][trDetail.transactionCountryCode]}">
								<td class="column-input-small"><h:inputText value="#{(cacheManager.listCodeMap['COUNTRY'][trDetail.transactionCountryCode].description)} (#{trDetail.transactionCountryCode})" disabled="true" /></td>
							</h:panelGroup>
							<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['COUNTRY'][trDetail.transactionCountryCode]}">
								<td class="column-input-small"><h:inputText value="#{trDetail.transactionCountryCode}" disabled="true" /></td>
							</h:panelGroup>
							<td ><h:outputText
									value="Modify User ID:" /></td>
							<td class="column-input"><h:inputText
									value="#{trDetail.modifyUserId}" disabled="true" /></td>
							<td class="column-spacer">&#160;</td>

						</tr>
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText value="Suspend Ind.:" /></td>
							<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['SUSPENDIND'][trDetail.suspendInd]}">
							 <td class="column-input"><h:inputText value="#{cacheManager.listCodeMap['SUSPENDIND'][trDetail.suspendInd].description}" disabled="true" /></td>
							</h:panelGroup>
							
							
							<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['SUSPENDIND'][trDetail.suspendInd]}">
							<td class="column-input"> <h:inputText value="#{trDetail.suspendInd}" disabled="true" /></td>
							</h:panelGroup>

                           <td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText
									value="Transaction State:" /></td>
							
							<h:panelGroup rendered="#{ not empty cacheManager.taxCodeStateMap[trDetail.transactionStateCode]}">
							<td class="column-input"><h:inputText value="#{cacheManager.taxCodeStateMap[trDetail.transactionStateCode].name} (#{trDetail.transactionStateCode})" disabled="true" /></td>
							</h:panelGroup>
							
							<h:panelGroup rendered="#{ empty cacheManager.taxCodeStateMap[trDetail.transactionStateCode]}">
							<td class="column-input"><h:inputText value="#{trDetail.transactionStateCode}" disabled="true" /></td>
							</h:panelGroup>
							
							<td class="column-label2"><h:outputText
									value="Modify Timestamp:" /></td>
							<td class="column-input"><h:inputText
									value="#{trDetail.modifyTimestamp}" disabled="true" >
									 <f:converter converterId="dateTime" />
									  </h:inputText>
									</td>
							<td class="column-spacer">&#160;</td>

						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText value="#{matrixCommonBean.transactionPropertyMap['rejectFlag'].description}:" /></td>
							<td class="column-input">
								<h:inputText id="rejectId" value="#{trDetail.rejectFlag}" 
									disabled="true" />
				             </td>
				             <td class = "column-label2">&#160;</td>
				             <td class = "column-input">&#160;</td>
							<td>&#160;</td>

							<td class="column-label2"><h:outputText
									value="Update User ID:" /></td>
							<td class="column-input"><h:inputText
									value="#{trDetail.updateUserId}" disabled="true" /></td>
							<td class="column-spacer">&#160;</td>
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2">&#160;</td>
							<td class="column-input">&#160;</td>
							<td class= "column-label2">&#160;</td>
							<td class="column-input">&#160;</td>
							<td class="column-spacer">&#160;</td>
							
							<td class="column-label2"><h:outputText
									value="Update Timestamp:" /></td>
							<td class="column-input"><h:inputText
									value="#{trDetail.updateTimestamp}" disabled="true" >
                     	      <f:converter converterId="dateTime" />
									</h:inputText>
							</td>
							<td class="column-spacer">&#160;</td>
						</tr>

						<tr>

							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText value="Comments:"/></td>
							<td  colspan="6" class="column-description"><h:inputText value="#{trDetail.comments}"
									disabled="true" style="width:570px;" /></td>
						</tr>
						
						<tr>
							<td class="column-spacer">&#160;</td>
							<td class="column-label2"><h:outputText value="Processing Notes:"/></td>
							<td  colspan="6" class="column-description"><h:inputText value="#{trDetail.processingNotes}"
									disabled="true" style="width:570px;" /></td>
						</tr>
					</tbody>
				</table>

			</rich:simpleTogglePanel>
</ui:component>