<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">
	
	<rich:simpleTogglePanel id="taxCodeInformation" switchType="ajax"
					label="TaxCode Information"
					actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
					opened="#{transactionViewBean.togglePanelController.togglePanels['taxCodeInformation']}"
					bodyClass="togglepanel-body" headerClass="togglepanel-header"
					styleClass="togglepanel">
					<f:facet name="openMarker">
						<h:graphicImage style="vertical-align:middle;"
							url="/images/triangle-e.png"></h:graphicImage>
					</f:facet>
					<f:facet name="closeMarker">
						<h:graphicImage style="vertical-align:middle;"
							url="/images/triangle-s.png"></h:graphicImage>
					</f:facet>   
		<table>
		<tbody>
		
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label4"><h:outputText value="Goods &amp; Services Matrix ID:"/></td>
			<td class="column-input-search"><h:inputText value="#{trDetail.taxMatrixId}" style="float:left;text-align:right;"
										disabled="true" />
				<c:if test="#{trDetail.taxMatrixId != 0 and (not empty trDetail.taxMatrixId)}">
				     <a4j:commandButton id="btnRulesId19" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		              action="#{transactionViewBean.viewGSMatrix}">
                         <f:param name="fromview" value="viewTransactionFromLog" />
                       <f:param name = "gsTaxMatrixId" value="#{trDetail.taxMatrixId}"/>
	                  </a4j:commandButton>
	             </c:if>
	        </td>		
			<td class="column-label"><h:outputText
					value="Manual Taxcode Ind.:" /></td>
		    <h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['MANUAL'][trDetail.manualTaxcodeInd]}">
				<td class="column-input"><h:inputText
					value="#{(cacheManager.listCodeMap['MANUAL'][trDetail.manualTaxcodeInd].description)}&#160;(#{trDetail.manualTaxcodeInd})" disabled="true" /></td>
		    </h:panelGroup>
		    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['MANUAL'][trDetail.manualTaxcodeInd]}">
				<td class="column-input"><h:inputText
					value="#{trDetail.manualTaxcodeInd}" disabled="true" /></td>
		    </h:panelGroup>
		 
			
			<td class="column-label">&#160;</td>
			<td class="column-input">&#160;</td>
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label"><h:outputText value="Tax Code:" /></td>
			<td class="column-input-search"><h:inputText style="float:left;"
					value="#{trDetail.taxcodeCode}" disabled="true" />
			<c:if test="#{not empty trDetail.taxcodeCode}">
			 <a4j:commandButton id="btnRulesId20" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		               action="#{transactionViewBean.viewTaxCode}">
		                 <f:param name="fromview" value="viewFromTransactionLog" />
			             <f:param name="taxcode" value="#{trDetail.taxcodeCode}" />
	         </a4j:commandButton>
	        </c:if>
	        </td>
	        
	        <td colspan = "5"  class="column-input"><h:inputText value="#{transactionViewBean.getTaxcodeDescription(trDetail.taxcodeCode)}" disabled="true" style = "width:350px" /></td>
			
		</tr>
		</tbody>
	</table>
		<table cellpadding="0" cellspacing="0" width="100%">
		<tbody>
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">&#160;</td>
			<td>TaxCode Type</td>
			<td>Tax Type</td>
			<td>Rate Type</td>
			<td>Good/Service Type</td>
			<td>TaxCode Detail ID</td>
			<td class="column-spacer">&#160;</td>
		</tr>
		<tr>
			<td class="column-spacer">&#160;</td>
			<td>Country:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.countryTaxcodeDetailId)}">
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup> 
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				  <h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.rateTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
			      <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.goodSvcTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
				  
			
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
				<td class = "column-input-small"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-small"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
				<td class="column-input-small">
				<h:inputText id="txtTaxcodeCountryDetail1" style="float:left;text-align:right;width: 79px;" value="#{trDetail.countryTaxcodeDetailId}" disabled="true" />
					<c:if test="#{trDetail.stj10TaxcodeDetailId != 0 and (not empty trDetail.stj10TaxcodeDetailId)}">
					 <a4j:commandButton id="btnRulesId1" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		            action="#{transactionViewBean.viewTaxCodeDetails}">
	              <f:param name = "taxcodeDetailId" value="#{trDetail.countryTaxcodeDetailId}"/>
	              <f:param name="fromview" value="viewTransactionFromLog" />
	         </a4j:commandButton>
	         </c:if>
			</td>
			
			<td class="column-spacer">&#160;</td>
			
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td>State:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stateTaxcodeDetailId)}">
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup> 
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				  <h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.rateTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
			      <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.goodSvcTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
				  
			
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
				<td class = "column-input-small"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-small"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-small"><h:inputText  value="" disabled="true"/></td>
				
			</h:panelGroup>
			<td class="column-input-small">
				<h:inputText id="txtTaxcodestateDetail1" style="float:left;text-align:right;width: 79px;" value="#{trDetail.stateTaxcodeDetailId}" disabled="true" />
					<c:if test="#{trDetail.stateTaxcodeDetailId != 0 and (not empty trDetail.stateTaxcodeDetailId)}">
					 <a4j:commandButton id="btnRulesId2" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		            action="#{transactionViewBean.viewTaxCodeDetails}">
	              <f:param name = "taxcodeDetailId" value="#{trDetail.stateTaxcodeDetailId}"/>
	              <f:param name="fromview" value="viewTransactionFromLog" />
	         </a4j:commandButton>
	         </c:if>
			</td>
			<td class="column-spacer">&#160;</td>
			
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td>County:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.countyTaxcodeDetailId)}">
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup> 
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				  <h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.rateTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
			      <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.goodSvcTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
				
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
				<td class = "column-input-small"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-small"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
			  
				<td class="column-input-small">
				<h:inputText id="txtTaxcodecountyDetail1" style="float:left;text-align:right;width: 79px;" value="#{trDetail.countyTaxcodeDetailId}" disabled="true" />
					<c:if test="#{trDetail.countyTaxcodeDetailId != 0 and (not empty trDetail.countyTaxcodeDetailId)}">
					 <a4j:commandButton id="btnRulesId3" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		            action="#{transactionViewBean.viewTaxCodeDetails}">
	              <f:param name = "taxcodeDetailId" value="#{trDetail.countyTaxcodeDetailId}"/>
	              <f:param name="fromview" value="viewTransactionFromLog" />
	         </a4j:commandButton>
	         </c:if>
			</td>
			<td class="column-spacer">&#160;</td>
			
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td>City:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.cityTaxcodeDetailId)}">
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup> 
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				  <h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.rateTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
			      <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.goodSvcTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
				  
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
				<td class = "column-input-small"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-small"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
				<td class="column-input-small">
				<h:inputText id="txtTaxcodecityDetail1" style="float:left;text-align:right;width: 79px;" value="#{trDetail.cityTaxcodeDetailId}" disabled="true" />
					<c:if test="#{trDetail.cityTaxcodeDetailId != 0 and (not empty trDetail.cityTaxcodeDetailId)}">
					 <a4j:commandButton id="btnRulesId4" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		            action="#{transactionViewBean.viewTaxCodeDetails}">
	              <f:param name = "taxcodeDetailId" value="#{trDetail.cityTaxcodeDetailId}"/>
	              <f:param name="fromview" value="viewTransactionFromLog" />
	         </a4j:commandButton>
	         </c:if>
			</td>
			<td class="column-spacer">&#160;</td>
			
		</tr>
				
		<tr>
			<td class="column-spacer">&#160;</td>
			<td>STJ 1:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj1TaxcodeDetailId)}">
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup> 
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				  <h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.rateTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
			      <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.goodSvcTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
				  
				
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
				<td class = "column-input-small"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-small"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
			<td class="column-input-small">
				<h:inputText id="txtTaxcodestj1Detail1" style="float:left;text-align:right;width: 79px;" value="#{trDetail.stj1TaxcodeDetailId}" disabled="true" />
					<c:if test="#{trDetail.stj1TaxcodeDetailId != 0 and (not empty trDetail.stj1TaxcodeDetailId)}">
					 <a4j:commandButton id="btnRulesId6" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		            action="#{transactionViewBean.viewTaxCodeDetails}">
	              <f:param name = "taxcodeDetailId" value="#{trDetail.stj1TaxcodeDetailId}"/>
	              <f:param name="fromview" value="viewTransactionFromLog" />
	         </a4j:commandButton>
	         </c:if>
			</td>
			<td class="column-spacer">&#160;</td>
			
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td>STJ 2:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj2TaxcodeDetailId)}">
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup> 
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				  <h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.rateTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
			      <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.goodSvcTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
			
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
				<td class = "column-input-small"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-small"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
				  
				<td class="column-input-small">
				<h:inputText id="txtTaxcodestj2Detail1" style="float:left;text-align:right;width: 79px;" value="#{trDetail.stj2TaxcodeDetailId}" disabled="true" />
					<c:if test="#{trDetail.stj2TaxcodeDetailId != 0 and (not empty trDetail.stj2TaxcodeDetailId)}">
					 <a4j:commandButton id="btnRulesId7" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		            action="#{transactionViewBean.viewTaxCodeDetails}">
	              <f:param name = "taxcodeDetailId" value="#{trDetail.stj2TaxcodeDetailId}"/>
	              <f:param name="fromview" value="viewTransactionFromLog" />
	         </a4j:commandButton>
	         </c:if>
			</td>
			<td class="column-spacer">&#160;</td>
			
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td>STJ 3:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj3TaxcodeDetailId)}">
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup> 
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				  <h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.rateTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
			      <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.goodSvcTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
				  
			
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
				<td class = "column-input-small"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-small"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
				<td class="column-input-small">
				<h:inputText id="txtTaxcodestj3Detail1" style="float:left;text-align:right;width: 79px;" value="#{trDetail.stj3TaxcodeDetailId}" disabled="true" />
					<c:if test="#{trDetail.stj3TaxcodeDetailId != 0 and (not empty trDetail.stj3TaxcodeDetailId)}">
					 <a4j:commandButton id="btnRulesId8" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		            action="#{transactionViewBean.viewTaxCodeDetails}">
	              <f:param name = "taxcodeDetailId" value="#{trDetail.stj3TaxcodeDetailId}"/>
	              <f:param name="fromview" value="viewTransactionFromLog" />
	         </a4j:commandButton>
	         </c:if>
			</td>
		
			<td class="column-spacer">&#160;</td>
			
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td>STJ 4:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj4TaxcodeDetailId)}">
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup> 
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				  <h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.rateTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
			      <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.goodSvcTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
				  
				
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
				<td class = "column-input-small"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-small"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-small"><h:inputText   value="" disabled="true"/></td>
				
			</h:panelGroup>
			<td class="column-input-small">
				<h:inputText id="txtTaxcodestj4Detail1" style="float:left;text-align:right;width: 79px;" value="#{trDetail.stj4TaxcodeDetailId}" disabled="true" />
					<c:if test="#{trDetail.stj4TaxcodeDetailId != 0 and (not empty trDetail.stj4TaxcodeDetailId)}">
					 <a4j:commandButton id="btnRulesId9" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		            action="#{transactionViewBean.viewTaxCodeDetails}">
	              <f:param name = "taxcodeDetailId" value="#{trDetail.stj4TaxcodeDetailId}"/>
	              <f:param name="fromview" value="viewTransactionFromLog" />
	         </a4j:commandButton>
	         </c:if>
			</td>
			
			<td class="column-spacer">&#160;</td>
			
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td>STJ 5:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj5TaxcodeDetailId)}">
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup> 
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				  <h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.rateTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
			      <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.goodSvcTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
				<td class = "column-input-small"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-small"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
			<td class="column-input-small">
				<h:inputText id="txtTaxcodestj5Detail1" style="float:left;text-align:right;width: 79px;" value="#{trDetail.stj5TaxcodeDetailId}" disabled="true" />
					<c:if test="#{trDetail.stj5TaxcodeDetailId != 0 and (not empty trDetail.stj5TaxcodeDetailId)}">
					 <a4j:commandButton id="btnRulesId10" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		            action="#{transactionViewBean.viewTaxCodeDetails}">
	              <f:param name = "taxcodeDetailId" value="#{trDetail.stj5TaxcodeDetailId}"/>
	              <f:param name="fromview" value="viewTransactionFromLog" />
	         </a4j:commandButton>
	         </c:if>
			</td>
			
			<td class="column-spacer">&#160;</td>
			
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td>STJ 6:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj6TaxcodeDetailId)}">
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup> 
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				  <h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.rateTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
			      <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.goodSvcTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
				  
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
				<td class = "column-input-small"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-small"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
			<td class="column-input-small">
				<h:inputText id="txtTaxcodestj6Detail1" style="float:left;text-align:right;width: 79px;" value="#{trDetail.stj6TaxcodeDetailId}" disabled="true" />
					<c:if test="#{trDetail.stj6TaxcodeDetailId != 0 and (not empty trDetail.stj6TaxcodeDetailId)}">
					 <a4j:commandButton id="btnRulesId11" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		            action="#{transactionViewBean.viewTaxCodeDetails}">
	              <f:param name = "taxcodeDetailId" value="#{trDetail.stj6TaxcodeDetailId}"/>
	              <f:param name="fromview" value="viewTransactionFromLog" />
	         </a4j:commandButton>
	         </c:if>
			</td>
			 
			<td class="column-spacer">&#160;</td>
			
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td>STJ 7:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj7TaxcodeDetailId)}">
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup> 
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				  <h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.rateTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
			      <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.goodSvcTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
				
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
				<td class = "column-input-small"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-small"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
			<td class="column-input-small">
				<h:inputText id="txtTaxcodestj7Detail1" style="float:left;text-align:right;width: 79px;" value="#{trDetail.stj7TaxcodeDetailId}" disabled="true" />
					<c:if test="#{trDetail.stj7TaxcodeDetailId != 0 and (not empty trDetail.stj7TaxcodeDetailId)}">
					 <a4j:commandButton id="btnRulesId12" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		            action="#{transactionViewBean.viewTaxCodeDetails}">
	              <f:param name = "taxcodeDetailId" value="#{trDetail.stj7TaxcodeDetailId}"/>
	              <f:param name="fromview" value="viewTransactionFromLog" />
	         </a4j:commandButton>
	         </c:if>
			</td>
		
			<td class="column-spacer">&#160;</td>
			
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td>STJ 8:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj8TaxcodeDetailId)}">
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup> 
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				  <h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.rateTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
			      <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.goodSvcTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
				  
				
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
				<td class = "column-input-small"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-small"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
			<td class="column-input-small">
				<h:inputText id="txtTaxcodestj8Detail1" style="float:left;text-align:right;width: 79px;" value="#{trDetail.stj8TaxcodeDetailId}" disabled="true" />
					<c:if test="#{trDetail.stj8TaxcodeDetailId != 0 and (not empty trDetail.stj8TaxcodeDetailId)}">
					 <a4j:commandButton id="btnRulesId13" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		            action="#{transactionViewBean.viewTaxCodeDetails}">
	              <f:param name = "taxcodeDetailId" value="#{trDetail.stj8TaxcodeDetailId}"/>
	              <f:param name="fromview" value="viewTransactionFromLog" />
	         </a4j:commandButton>
	         </c:if>
			</td>
			
			<td class="column-spacer">&#160;</td>
			
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td>STJ 9:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj9TaxcodeDetailId)}">
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup> 
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				  <h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.rateTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
			      <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.goodSvcTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
				  
				
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
				<td class = "column-input-small"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-small"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-small"><h:inputText   value="" disabled="true"/></td>
			</h:panelGroup>
			<td class="column-input-small">
				<h:inputText id="txtTaxcodestj9Detail1" style="float:left;text-align:right;width: 79px;" value="#{trDetail.stj9TaxcodeDetailId}" disabled="true" />
					<c:if test="#{trDetail.stj9TaxcodeDetailId != 0 and (not empty trDetail.stj9TaxcodeDetailId)}">
					 <a4j:commandButton id="btnRulesId14" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		            action="#{transactionViewBean.viewTaxCodeDetails}">
	              <f:param name = "taxcodeDetailId" value="#{trDetail.stj9TaxcodeDetailId}"/>
	              <f:param name="fromview" value="viewTransactionFromLog" />
	         </a4j:commandButton>
	         </c:if>
			</td>
			
			<td class="column-spacer">&#160;</td>
			
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td>STJ 10:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj10TaxcodeDetailId)}">
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup> 
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input-small"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
				 </h:panelGroup>
				 <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				  <h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
				   <td class = "column-input"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.rateTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
			      <h:panelGroup rendered="#{not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				  </h:panelGroup>
				    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
				    <td class = "column-input-small"><h:inputText  style="float:left;" value="#{transactionViewBean.taxCodeDetail.goodSvcTypeCode}" disabled="true"/></td>
				  </h:panelGroup>
				  
				
			</h:panelGroup>
			
			<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
				<td class = "column-input-small"><h:inputText  value="" disabled="true" /></td>
				<td class = "column-input-small"><h:inputText  value="" disabled="true"/></td>
				<td class = "column-input"><h:inputText   value="" disabled="true"/></td>
				<td class = "column-input-small"><h:inputText  value="" disabled="true"/></td>
			</h:panelGroup>
			<td class="column-input-small">
				<h:inputText id="txtTaxcodestj10Detail1" style="float:left;text-align:right;width: 79px;" value="#{trDetail.stj10TaxcodeDetailId}" disabled="true" />
			     <c:if test="#{trDetail.stj10TaxcodeDetailId != 0 and (not empty trDetail.stj10TaxcodeDetailId)}">
					 <a4j:commandButton id="btnRulesId15" styleClass="image" style="width:16px;height:16px;" 
		                 image="/images/view-small.png" immediate="true"
		            action="#{transactionViewBean.viewTaxCodeDetails}">
	              <f:param name = "taxcodeDetailId" value="#{trDetail.stj10TaxcodeDetailId}"/>
	              <f:param name="fromview" value="viewTransactionFromLog" />
	         </a4j:commandButton>
	         </c:if>
	         </td>
			
			<td class="column-spacer">&#160;</td>
			
		</tr>
		
	</tbody>
	</table>
	</rich:simpleTogglePanel>
	
</ui:component>