<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">
	
	<rich:simpleTogglePanel id="taxCodeInformation" switchType="ajax"
					label="TaxCode Information"
					actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
					opened="#{transactionViewBean.togglePanelController.togglePanels['taxCodeInformation']}"
					bodyClass="togglepanel-body" headerClass="togglepanel-header"
					styleClass="togglepanel">
					<f:facet name="openMarker">
						<h:graphicImage style="vertical-align:middle;"
							url="/images/triangle-e.png"></h:graphicImage>
					</f:facet>
					<f:facet name="closeMarker">
						<h:graphicImage style="vertical-align:middle;"
							url="/images/triangle-s.png"></h:graphicImage>
					</f:facet>   
		<table cellpadding="0" cellspacing="0" width="100%">
		<tbody>
		
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label4" style = "width:145px"><h:outputText value="Goods &amp; Services Matrix ID:"/></td>
			<td class="column-input-search"><h:inputText value="#{trDetail.taxMatrixId}" style="float:left;text-align:right;"
										disabled="true" />
				     <a4j:commandButton id="btnRulesId19" styleClass="image" 
				        style="width:16px;height:16px;#{(trDetail.taxMatrixId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					   disabled="#{!(trDetail.taxMatrixId > 0)}" 
		                 image="/images/view-small.png" immediate="true"
		              action="#{transactionViewBean.viewGSMatrix}">
                         <f:param name="fromview" value="viewFromTransaction" />
                       <f:param name = "gsTaxMatrixId" value="#{trDetail.taxMatrixId}"/>
	                  </a4j:commandButton>
	        </td>		
			<td class="column-label4"><h:outputText
					value="Manual Taxcode Ind.:" /></td>
		 	<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['MANUAL'][trDetail.manualTaxcodeInd]}">
				<td class="column-input"><h:inputText
					value="#{(cacheManager.listCodeMap['MANUAL'][trDetail.manualTaxcodeInd].description)}&#160;(#{trDetail.manualTaxcodeInd})" disabled="true" /></td>
		    </h:panelGroup>
		    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['MANUAL'][trDetail.manualTaxcodeInd]}">
				<td class="column-input"><h:inputText
					value="#{trDetail.manualTaxcodeInd}" disabled="true" /></td>
		    </h:panelGroup>
			
			<td class="column-label4">&#160;</td>
			<td class="column-input">&#160;</td>
			<td class="column-spacer">&#160;</td>
		</tr>
		
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label4"><h:outputText value="Tax Code:" /></td>
			<td class="column-input-search"><h:inputText style="float:left;"
					value="#{trDetail.taxcodeCode}" disabled="true" />
			 <a4j:commandButton id="btnRulesId20" styleClass="image" 
			 		style="width:16px;height:16px;#{(trDetail != null) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail != null)}" 
		             image="/images/view-small.png" immediate="true"
		             action="#{transactionViewBean.viewTaxCode}">
		                 <f:param name="fromview" value="viewFromTransaction" />
			             <f:param name="taxcode" value="#{trDetail.taxcodeCode}" />
	         </a4j:commandButton>
	        </td>
	       
	        <td colspan = "4"  class="column-input"><h:inputText value="#{transactionViewBean.getTaxcodeDescription(trDetail.taxcodeCode)}" disabled="true" style = "width:350px" /></td>
			
		</tr>
		</tbody>
	</table>
		<table cellpadding="0" cellspacing="0" width="100%">
		<tbody>
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label4">&#160;</td>
			<td>TaxCode Type</td>
			<td>Tax Type Used</td>
			<td>Rate Type</td>
			<td>Good/Service Type</td>
			<td>TaxCode Detail ID</td>
			<td class="column-spacer">&#160;</td>
		</tr>
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label4" style = "width:181px">Country:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.countryTaxcodeDetailId)}">
			
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				   <td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
			    </h:panelGroup>
			    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
		        </h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">	
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
					<td class="column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}" disabled="true"/></td>
				</h:panelGroup>	
			</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
		</h:panelGroup>
			<td class="column-input-search">
					<h:inputText id="txtTaxcodeCountryDetail" style="float:left;text-align:right;" value="#{trDetail.countryTaxcodeDetailId}" disabled="true" />
						 <a4j:commandButton id="btntccountry" styleClass="image" 
						  style="width:16px;height:16px;#{(trDetail.countryTaxcodeDetailId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.countryTaxcodeDetailId > 0)}" 
			                 image="/images/view-small.png" immediate="true"
			            action="#{transactionViewBean.viewTaxCodeDetails}">
		              <f:param name = "taxcodeDetailId" value="#{trDetail.countryTaxcodeDetailId}"/>
		              <f:param name="fromview" value="viewFromTransaction" />
		         </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td>&#160;</td>
				<td class="column-spacer">&#160;</td>
			</tr>
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label4" style = "width:181px">State:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stateTaxcodeDetailId)}">
			
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				   <td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
			    </h:panelGroup>
			    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
		        </h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">	
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
					<td class="column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}" disabled="true"/></td>
				</h:panelGroup>	
			</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
		</h:panelGroup>
			<td class="column-input-search">
					<h:inputText id="txtTaxcodestateDetail" style="float:left;text-align:right;" value="#{trDetail.stateTaxcodeDetailId}" disabled="true" />
						 <a4j:commandButton id="btntcstate" styleClass="image" 
						  style="width:16px;height:16px;#{(trDetail.stateTaxcodeDetailId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.stateTaxcodeDetailId > 0)}"  
			                 image="/images/view-small.png" immediate="true"
			            action="#{transactionViewBean.viewTaxCodeDetails}">
		              <f:param name = "taxcodeDetailId" value="#{trDetail.stateTaxcodeDetailId}"/>
		              <f:param name="fromview" value="viewFromTransaction" />
		         </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td>&#160;</td>
				<td class="column-spacer">&#160;</td>
			</tr>
			<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label4" style = "width:181px">County:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.countyTaxcodeDetailId)}">
			
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				   <td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
			    </h:panelGroup>
			    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
		        </h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">	
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
					<td class="column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}" disabled="true"/></td>
				</h:panelGroup>	
			</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
		</h:panelGroup>
			<td class="column-input-search">
					<h:inputText id="txtTaxcodecountyDetail" style="float:left;text-align:right;" value="#{trDetail.countyTaxcodeDetailId}" disabled="true" />
						 <a4j:commandButton id="btntccounty" styleClass="image" 
						  style="width:16px;height:16px;#{(trDetail.countyTaxcodeDetailId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.countyTaxcodeDetailId > 0)}" 
			                 image="/images/view-small.png" immediate="true"
			            action="#{transactionViewBean.viewTaxCodeDetails}">
		              <f:param name = "taxcodeDetailId" value="#{trDetail.countyTaxcodeDetailId}"/>
		              <f:param name="fromview" value="viewFromTransaction" />
		         </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td>&#160;</td>
				<td class="column-spacer">&#160;</td>
			</tr>
			
			<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label4" style = "width:181px">City:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.cityTaxcodeDetailId)}">
			
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				   <td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
			    </h:panelGroup>
			    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
		        </h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">	
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
					<td class="column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}" disabled="true"/></td>
				</h:panelGroup>	
			</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
		</h:panelGroup>
			<td class="column-input-search">
					<h:inputText id="txtTaxcodecityDetail" style="float:left;text-align:right;" value="#{trDetail.cityTaxcodeDetailId}" disabled="true" />
						 <a4j:commandButton id="btntccity" styleClass="image" 
						  style="width:16px;height:16px;#{(trDetail.cityTaxcodeDetailId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.cityTaxcodeDetailId > 0)}"  
			                 image="/images/view-small.png" immediate="true"
			            action="#{transactionViewBean.viewTaxCodeDetails}">
		              <f:param name = "taxcodeDetailId" value="#{trDetail.cityTaxcodeDetailId}"/>
		              <f:param name="fromview" value="viewFromTransaction" />
		         </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td>&#160;</td>
				<td class="column-spacer">&#160;</td>
	 </tr>
	 
	 <h:panelGroup rendered="#{ not empty trDetail.stj1Name}">
	 	<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label4" style = "width:181px">STJ 1:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj1TaxcodeDetailId)}">
			
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				   <td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
			    </h:panelGroup>
			    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
		        </h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">	
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
					<td class="column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}" disabled="true"/></td>
				</h:panelGroup>	
			</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
		</h:panelGroup>
			<td class="column-input-search">
					<h:inputText id="txtTaxcodestj1Detail" style="float:left;text-align:right;" value="#{trDetail.stj1TaxcodeDetailId}" disabled="true" />
						 <a4j:commandButton id="btntcstj1" styleClass="image" 
						  style="width:16px;height:16px;#{(trDetail.stj1TaxcodeDetailId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.stj1TaxcodeDetailId> 0)}" 
			                 image="/images/view-small.png" immediate="true"
			            action="#{transactionViewBean.viewTaxCodeDetails}">
		              <f:param name = "taxcodeDetailId" value="#{trDetail.stj1TaxcodeDetailId}"/>
		              <f:param name="fromview" value="viewFromTransaction" />
		         </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td>&#160;</td>
				<td class="column-spacer">&#160;</td>
	 </tr>
	 </h:panelGroup>
	 
	  <h:panelGroup rendered="#{ not empty trDetail.stj2Name}">
	 	<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label4" style = "width:181px">STJ 2:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj2TaxcodeDetailId)}">
			
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				   <td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
			    </h:panelGroup>
			    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
		        </h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">	
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
					<td class="column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}" disabled="true"/></td>
				</h:panelGroup>	
			</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
		</h:panelGroup>
			<td class="column-input-search">
					<h:inputText id="txtTaxcodestj2Detail" style="float:left;text-align:right;" value="#{trDetail.stj2TaxcodeDetailId}" disabled="true" />
						 <a4j:commandButton id="btntcstj2" styleClass="image" 
						  style="width:16px;height:16px;#{(trDetail.stj2TaxcodeDetailId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.stj2TaxcodeDetailId > 0)}"  
			                 image="/images/view-small.png" immediate="true"
			            action="#{transactionViewBean.viewTaxCodeDetails}">
		              <f:param name = "taxcodeDetailId" value="#{trDetail.stj2TaxcodeDetailId}"/>
		              <f:param name="fromview" value="viewFromTransaction" />
		         </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td>&#160;</td>
				<td class="column-spacer">&#160;</td>
	 </tr>
	 	
	 </h:panelGroup>
	 
	  <h:panelGroup rendered="#{ not empty trDetail.stj3Name}">
	 	<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label4" style = "width:181px">STJ 3:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj3TaxcodeDetailId)}">
			
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				   <td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
			    </h:panelGroup>
			    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
		        </h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">	
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
					<td class="column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}" disabled="true"/></td>
				</h:panelGroup>	
			</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
		</h:panelGroup>
			<td class="column-input-search">
					<h:inputText id="txtTaxcodestj3Detail" style="float:left;text-align:right;" value="#{trDetail.stj3TaxcodeDetailId}" disabled="true" />
						 <a4j:commandButton id="btntcstj3" styleClass="image" 
						  style="width:16px;height:16px;#{(trDetail.stj3TaxcodeDetailId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.stj3TaxcodeDetailId > 0)}" 
			                 image="/images/view-small.png" immediate="true"
			            action="#{transactionViewBean.viewTaxCodeDetails}">
		              <f:param name = "taxcodeDetailId" value="#{trDetail.stj3TaxcodeDetailId}"/>
		              <f:param name="fromview" value="viewFromTransaction" />
		         </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td>&#160;</td>
				<td class="column-spacer">&#160;</td>
	 </tr>
	 </h:panelGroup>
	 
	  <h:panelGroup rendered="#{ not empty trDetail.stj4Name}">
	 	<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label4" style = "width:181px">STJ 4:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj4TaxcodeDetailId)}">
			
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				   <td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
			    </h:panelGroup>
			    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
		        </h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">	
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
					<td class="column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}" disabled="true"/></td>
				</h:panelGroup>	
			</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
		</h:panelGroup>
			<td class="column-input-search">
					<h:inputText id="txtTaxcodestj4Detail" style="float:left;text-align:right;" value="#{trDetail.stj4TaxcodeDetailId}" disabled="true" />
						 <a4j:commandButton id="btntcstj4" styleClass="image" 
						  style="width:16px;height:16px;#{(trDetail.stj4TaxcodeDetailId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.stj4TaxcodeDetailId > 0)}" 
			                 image="/images/view-small.png" immediate="true"
			            action="#{transactionViewBean.viewTaxCodeDetails}">
		              <f:param name = "taxcodeDetailId" value="#{trDetail.stj4TaxcodeDetailId}"/>
		              <f:param name="fromview" value="viewFromTransaction" />
		         </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td>&#160;</td>
				<td class="column-spacer">&#160;</td>
	 </tr>
	 	
	 </h:panelGroup>
	 	
	  <h:panelGroup rendered="#{ not empty trDetail.stj5Name}">
	 	<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label4" style = "width:181px">STJ 5:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj5TaxcodeDetailId)}">
			
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				   <td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
			    </h:panelGroup>
			    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
		        </h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">	
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
					<td class="column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}" disabled="true"/></td>
				</h:panelGroup>	
			</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
		</h:panelGroup>
			<td class="column-input-search">
					<h:inputText id="txtTaxcodestj5Detail" style="float:left;text-align:right;" value="#{trDetail.stj5TaxcodeDetailId}" disabled="true" />
						 <a4j:commandButton id="btntcstj5" styleClass="image" 
						  style="width:16px;height:16px;#{(trDetail.stj5TaxcodeDetailId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.stj5TaxcodeDetailId > 0)}" 
			                 image="/images/view-small.png" immediate="true"
			            action="#{transactionViewBean.viewTaxCodeDetails}">
		              <f:param name = "taxcodeDetailId" value="#{trDetail.stj5TaxcodeDetailId}"/>
		              <f:param name="fromview" value="viewFromTransaction" />
		         </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td>&#160;</td>
				<td class="column-spacer">&#160;</td>
	 </tr>
	 	
	 </h:panelGroup>
	 
	 <h:panelGroup rendered="#{ not empty trDetail.stj6Name}">
	 	<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label4" style = "width:181px">STJ 6:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj6TaxcodeDetailId)}">
			
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				   <td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
			    </h:panelGroup>
			    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
		        </h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">	
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
					<td class="column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}" disabled="true"/></td>
				</h:panelGroup>	
			</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
		</h:panelGroup>
			<td class="column-input-search">
					<h:inputText id="txtTaxcodestj6Detail" style="float:left;text-align:right;" value="#{trDetail.stj6TaxcodeDetailId}" disabled="true" />
						 <a4j:commandButton id="btntcstj6" styleClass="image" 
						  style="width:16px;height:16px;#{(trDetail.stj6TaxcodeDetailId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.stj6TaxcodeDetailId > 0)}" 
			                 image="/images/view-small.png" immediate="true"
			            action="#{transactionViewBean.viewTaxCodeDetails}">
		              <f:param name = "taxcodeDetailId" value="#{trDetail.stj6TaxcodeDetailId}"/>
		              <f:param name="fromview" value="viewFromTransaction" />
		         </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td>&#160;</td>
				<td class="column-spacer">&#160;</td>
	 </tr>
	 	
	 </h:panelGroup>
	 
	 <h:panelGroup rendered="#{ not empty trDetail.stj7Name}">
	 	<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label4" style = "width:181px">STJ 7:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj7TaxcodeDetailId)}">
			
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				   <td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
			    </h:panelGroup>
			    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
		        </h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">	
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
					<td class="column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}" disabled="true"/></td>
				</h:panelGroup>	
			</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
		</h:panelGroup>
			<td class="column-input-search">
					<h:inputText id="txtTaxcodestj7Detail" style="float:left;text-align:right;" value="#{trDetail.stj7TaxcodeDetailId}" disabled="true" />
						 <a4j:commandButton id="btntcstj7" styleClass="image" 
						  style="width:16px;height:16px;#{(trDetail.stj7TaxcodeDetailId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.stj7TaxcodeDetailId > 0)}" 
			                 image="/images/view-small.png" immediate="true"
			            action="#{transactionViewBean.viewTaxCodeDetails}">
		              <f:param name = "taxcodeDetailId" value="#{trDetail.stj7TaxcodeDetailId}"/>
		              <f:param name="fromview" value="viewFromTransaction" />
		         </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td>&#160;</td>
				<td class="column-spacer">&#160;</td>
	 </tr>
	 	
	 </h:panelGroup>
	 
	 <h:panelGroup rendered="#{ not empty trDetail.stj8Name}">
	 	<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label4" style = "width:181px">STJ 8:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj8TaxcodeDetailId)}">
			
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				   <td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
			    </h:panelGroup>
			    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
		        </h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">	
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
					<td class="column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}" disabled="true"/></td>
				</h:panelGroup>	
			</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
		</h:panelGroup>
			<td class="column-input-search">
					<h:inputText id="txtTaxcodestj8Detail" style="float:left;text-align:right;" value="#{trDetail.stj8TaxcodeDetailId}" disabled="true" />
						 <a4j:commandButton id="btntcstj8" styleClass="image" 
						  style="width:16px;height:16px;#{(trDetail.stj8TaxcodeDetailId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.stj8TaxcodeDetailId > 0)}"  
			                 image="/images/view-small.png" immediate="true"
			            action="#{transactionViewBean.viewTaxCodeDetails}">
		              <f:param name = "taxcodeDetailId" value="#{trDetail.stj8TaxcodeDetailId}"/>
		              <f:param name="fromview" value="viewFromTransaction" />
		         </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td>&#160;</td>
				<td class="column-spacer">&#160;</td>
	 </tr>
	 	
	 </h:panelGroup>
	 
	  <h:panelGroup rendered="#{ not empty trDetail.stj9Name}">
	 	<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label4" style = "width:181px">STJ 9:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj9TaxcodeDetailId)}">
			
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				   <td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
			    </h:panelGroup>
			    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
		        </h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">	
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
					<td class="column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}" disabled="true"/></td>
				</h:panelGroup>	
			</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
		</h:panelGroup>
			<td class="column-input-search">
					<h:inputText id="txtTaxcodestj9Detail" style="float:left;text-align:right;" value="#{trDetail.stj9TaxcodeDetailId}" disabled="true" />
						 <a4j:commandButton id="btntcstj9" styleClass="image" 
						  style="width:16px;height:16px;#{(trDetail.stj9TaxcodeDetailId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					 disabled="#{!(trDetail.stj9TaxcodeDetailId > 0)}" 
			                 image="/images/view-small.png" immediate="true"
			            action="#{transactionViewBean.viewTaxCodeDetails}">
		              <f:param name = "taxcodeDetailId" value="#{trDetail.stj9TaxcodeDetailId}"/>
		              <f:param name="fromview" value="viewFromTransaction" />
		         </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td>&#160;</td>
				<td class="column-spacer">&#160;</td>
	 </tr>
	 	
	 </h:panelGroup>
	 
	 <h:panelGroup rendered="#{ not empty trDetail.stj10Name}">
	 	<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label4" style = "width:181px">STJ 10:</td>
			<h:panelGroup rendered="#{not empty transactionViewBean.getTaxcodeDetails(trDetail.stj10TaxcodeDetailId)}">
			
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode].description}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['TCTYPE'][transactionViewBean.taxCodeDetail.taxcodeTypeCode]}">
					<td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxcodeTypeCode}" disabled="true" /></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{not empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				   <td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode].description}" disabled="true"/></td>
			    </h:panelGroup>
			    <h:panelGroup rendered="#{empty cacheManager.listCodeMap['TAXTYPE'][transactionViewBean.taxCodeDetail.taxtypeCode]}">
				  <td class = "column-input"><h:inputText  value="#{transactionViewBean.taxCodeDetail.taxtypeCode}" disabled="true"/></td>
		        </h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">	
					<td class = "column-input"><h:inputText  value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode]}">
					<td class="column-input"><h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['RATETYPE'][transactionViewBean.taxCodeDetail.rateTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ not empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode].description}" disabled="true"/></td>
				</h:panelGroup>
				<h:panelGroup rendered="#{ empty cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}">
					<td class="column-input">
					<h:inputText  style="float:left;" value="#{cacheManager.listCodeMap['GSTYPE'][transactionViewBean.taxCodeDetail.goodSvcTypeCode]}" disabled="true"/></td>
				</h:panelGroup>	
			</h:panelGroup>
		<h:panelGroup rendered="#{empty transactionViewBean.taxCodeDetail}">
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
			<td class = "column-input"><h:inputText  value="" disabled="true" /></td>
		</h:panelGroup>
			<td class="column-input-search">
					<h:inputText id="txtTaxcodestj10Detail" style="float:left;text-align:right;" value="#{trDetail.stj10TaxcodeDetailId}" disabled="true" />
						 <a4j:commandButton id="btntcstj10" styleClass="image" 
						  style="width:16px;height:16px;#{(trDetail.stj10TaxcodeDetailId > 0) ? '':'filter:alpha(Opacity=40);'}" 
					      disabled="#{!(trDetail.stj10TaxcodeDetailId > 0)}" 
			                 image="/images/view-small.png" immediate="true"
			            action="#{transactionViewBean.viewTaxCodeDetails}">
		              <f:param name = "taxcodeDetailId" value="#{trDetail.stj10TaxcodeDetailId}"/>
		              <f:param name="fromview" value="viewFromTransaction" />
		         </a4j:commandButton>
				</td>
				<td>&#160;</td>
				<td>&#160;</td>
				<td class="column-spacer">&#160;</td>
	 </tr>
	 	
	 </h:panelGroup>
	</tbody>
	</table>
	</rich:simpleTogglePanel>
	
</ui:component>