<ui:component xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">
	<rich:simpleTogglePanel id="calculatedAmounts" switchType="ajax"
					label="Calculated Amounts"
					actionListener="#{transactionViewBean.togglePanelController.togglePanelChanged}"
					opened="#{transactionViewBean.togglePanelController.togglePanels['calculatedAmounts']}"
					bodyClass="togglepanel-body" headerClass="togglepanel-header"
					styleClass="togglepanel">
					<f:facet name="openMarker">
						<h:graphicImage style="vertical-align:middle;"
							url="/images/triangle-e.png"></h:graphicImage>
					</f:facet>
					<f:facet name="closeMarker">
						<h:graphicImage style="vertical-align:middle;"
							url="/images/triangle-s.png"></h:graphicImage>
					</f:facet>   
			
		<table cellpadding="0" cellspacing="0" width="100%">
		<tbody>
		<tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">&#160;</td>
			<td class="column-label2">Calculated Tax Amount</td>
			<td class="column-label2">Tier1 Taxable Amount</td>
			<td class="column-label2">Tier1 Tax Amount</td>
			<td class="column-label2">Tier2 Taxable Amount</td>
			<td class="column-label2">Tier2 Tax Amount</td>
			<td class="column-label2">Tier3 Taxable Amount</td>
			<td class="column-label2">Tier3 Tax Amount</td>
		</tr>
		 <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">Country:</td>
			<td class = "column-input8">
			 <h:inputText id="countryCalTaxAmtId" style="text-align: right;" value="#{trDetail.aCountryTier1TaxAmt + trDetail.aCountryTier2TaxAmt + trDetail.aCountryTier1TaxAmt}" disabled="true" >
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="countryTier1TaxableAmtId" style="text-align: right;" value="#{trDetail.countryTier1TaxableAmt}" disabled="true" >
				<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			</h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countryTier1TaxAmtId" style="text-align: right;" value="#{trDetail.aCountryTier1TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			</h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countryTier2TaxableAmtId" style="text-align: right;" value="#{trDetail.countryTier2TaxableAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countryTier2TaxAmtId" style="text-align: right;" value="#{trDetail.aCountryTier2TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countryTier3TaxableAmtId" style="text-align: right;" value="#{trDetail.countryTier3TaxableAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countryTier3TaxAmtId" style="text-align: right;" value="#{trDetail.aCountryTier1TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td>&#160;</td>
		 </tr>
		 
		  <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">State:</td>
			<td class = "column-input8">
			 <h:inputText id="stateCalTaxAmtId" style="text-align: right;" value="#{trDetail.aStateTier1TaxAmt + trDetail.aStateTier2TaxAmt + trDetail.aStateTier3TaxAmt}" disabled="true" >
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stateTier1TaxableAmtId" style="text-align: right;" value="#{trDetail.stateTier1TaxableAmt}" disabled="true" >
				<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			</h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="stateTier1TaxAmtId" style="text-align: right;" value="#{trDetail.aStateTier1TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			</h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="stateTier2TaxableAmtId" style="text-align: right;" value="#{trDetail.stateTier2TaxableAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="stateTier2TaxAmtId" style="text-align: right;" value="#{trDetail.aStateTier2TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="stateTier3TaxableAmtId" style="text-align: right;" value="#{trDetail.stateTier3TaxableAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="stateTier3TaxAmtId" style="text-align: right;" value="#{trDetail.aStateTier3TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
		 </tr>
		 
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">County:</td>
			<td class = "column-input8">
			 <h:inputText id="countyCalTaxAmtId" style="text-align: right;" value="#{trDetail.aCountyTier1TaxAmt + trDetail.aCountyTier2TaxAmt + trDetail.aCountyTier3TaxAmt}" disabled="true" >
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="countyTier1TaxableAmtId" style="text-align: right;" value="#{trDetail.countyTier1TaxableAmt}" disabled="true" >
				<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			</h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countyTier1TaxAmtId" style="text-align: right;" value="#{trDetail.aCountyTier1TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			</h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countyTier2TaxableAmtId" style="text-align: right;" value="#{trDetail.countyTier2TaxableAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countyTier2TaxAmtId" style="text-align: right;" value="#{trDetail.aCountyTier2TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countyTier3TaxableAmtId" style="text-align: right;" value="#{trDetail.countyTier3TaxableAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="countyTier3TaxAmtId" style="text-align: right;" value="#{trDetail.aCountyTier3TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
		 </tr>
		 
	  
		    <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">City:</td>
			<td class = "column-input8">
			 <h:inputText id="cityCalTaxAmtId" style="text-align: right;" value="#{trDetail.aCityTier1TaxAmt + trDetail.aCityTier2TaxAmt + trDetail.aCityTier3TaxAmt}" disabled="true" >
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="cityTier1TaxableAmtId" style="text-align: right;" value="#{trDetail.cityTier1TaxableAmt}" disabled="true" >
				<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			</h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="cityTier1TaxAmtId" style="text-align: right;" value="#{trDetail.aCityTier1TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			</h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="cityTier2TaxableAmtId" style="text-align: right;" value="#{trDetail.cityTier2TaxableAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="cityTier2TaxAmtId" style="text-align: right;" value="#{trDetail.aCityTier2TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="cityTier3TaxableAmtId" style="text-align: right;" value="#{trDetail.cityTier3TaxableAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
			<td class = "column-input8">
			 <h:inputText id="cityTier3TaxAmtId" style="text-align: right;" value="#{trDetail.aCityTier3TaxAmt}" disabled="true">
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9"/>
			 </h:inputText>
			</td>
	  </tr>
			 
		<h:panelGroup rendered="#{ not empty trDetail.aStj1TaxAmt}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 1:</td>
			<td class = "column-input8">
			 <h:inputText id="stj1CalTaxAmtId" style="text-align: right;" value="#{trDetail.aStj1TaxAmt}" disabled="true" >
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj1TaxableAmtId" style="text-align: right;" value="#{trDetail.stj1TaxableAmt}" disabled="true" >
				<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	   <h:panelGroup rendered="#{ not empty trDetail.aStj2TaxAmt}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 2:</td>
			<td class = "column-input8">
			 <h:inputText id="stj2CalTaxAmtId" style="text-align: right;" value="#{trDetail.aStj2TaxAmt}" disabled="true" >
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj2TaxableAmtId" style="text-align: right;"  value="#{trDetail.stj2TaxableAmt}" disabled="true" >
				<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	   <h:panelGroup rendered="#{ not empty trDetail.aStj3TaxAmt}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 3:</td>
			<td class = "column-input8">
			 <h:inputText id="stj3CalTaxAmtId" style="text-align: right;" value="#{trDetail.aStj3TaxAmt}" disabled="true" >
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj3TaxableAmtId" style="text-align: right;" value="#{trDetail.stj3TaxableAmt}" disabled="true" >
				<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	   <h:panelGroup rendered="#{ not empty trDetail.aStj4TaxAmt}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 4:</td>
			<td class = "column-input8">
			 <h:inputText id="stj4CalTaxAmtId" style="text-align: right;" value="#{trDetail.aStj4TaxAmt}" disabled="true" >
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj4TaxableAmtId" style="text-align: right;" value="#{trDetail.stj4TaxableAmt}" disabled="true" >
				<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	   <h:panelGroup rendered="#{ not empty trDetail.aStj5TaxAmt}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 5:</td>
			<td class = "column-input8">
			 <h:inputText id="stj5CalTaxAmtId" style="text-align: right;" value="#{trDetail.aStj5TaxAmt}" disabled="true" >
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj5TaxableAmtId" style="text-align: right;" value="#{trDetail.stj5TaxableAmt}" disabled="true" >
				<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	   
	   <h:panelGroup rendered="#{ not empty trDetail.aStj6TaxAmt}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 6:</td>
			<td class = "column-input8">
			 <h:inputText id="stj6CalTaxAmtId" style="text-align: right;" value="#{trDetail.aStj6TaxAmt}" disabled="true" >
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj6TaxableAmtId" style="text-align: right;" value="#{trDetail.stj6TaxableAmt}" disabled="true" >
				<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	   
	   <h:panelGroup rendered="#{ not empty trDetail.aStj7TaxAmt}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 7:</td>
			<td class = "column-input8">
			 <h:inputText id="stj7CalTaxAmtId" style="text-align: right;" value="#{trDetail.aStj7TaxAmt}" disabled="true" >
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj7TaxableAmtId" style="text-align: right;" value="#{trDetail.stj7TaxableAmt}" disabled="true" >
				<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	   
	   <h:panelGroup rendered="#{ not empty trDetail.aStj8TaxAmt}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 8:</td>
			<td class = "column-input8">
			 <h:inputText id="stj8CalTaxAmtId" style="text-align: right;" value="#{trDetail.aStj8TaxAmt}" disabled="true" >
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj8TaxableAmtId" style="text-align: right;" value="#{trDetail.stj8TaxableAmt}" disabled="true" >
				<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	   
	   <h:panelGroup rendered="#{ not empty trDetail.aStj9TaxAmt}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 9:</td>
			<td class = "column-input8">
			 <h:inputText id="stj9CalTaxAmtId" style="text-align: right;" value="#{trDetail.aStj9TaxAmt}" disabled="true" >
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj9TaxableAmtId" style="text-align: right;" value="#{trDetail.stj9TaxableAmt}" disabled="true" >
				<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	   
	   <h:panelGroup rendered="#{ not empty trDetail.aStj10TaxAmt}">
		   <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">STJ 10:</td>
			<td class = "column-input8">
			 <h:inputText id="stj10CalTaxAmtId" style="text-align: right;" value="#{trDetail.aStj10TaxAmt}" disabled="true" >
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			 </h:inputText>
			 </td>
			<td class = "column-input8">
			 <h:inputText id="stj10TaxableAmtId" style="text-align: right;" value="#{trDetail.stj10TaxableAmt}" disabled="true" >
				<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			</h:inputText>
			</td>
			
	     </tr>
	   </h:panelGroup>
	   
	<tr><td>&#160;</td></tr>
	   
	  
	    <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">Total:</td>
			<td class = "column-input8">
			 <h:inputText id="totalCalTaxAmtId" style="text-align: right;" value="#{trDetail.aTbCalcTaxAmt}" disabled="true" >
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			 </h:inputText>
			 </td>
			
        </tr>
        
         <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">Previous:</td>
			<td class = "column-input8">
			 <h:inputText id="previousCalTaxAmtId" style="text-align: right;" value="#{trDetail.bTbCalcTaxAmt}" disabled="true" >
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			 </h:inputText>
			 </td>
			
        </tr>
        
        
         <tr>
			<td class="column-spacer">&#160;</td>
			<td class="column-label">Delta:</td>
			<td class = "column-input8">
			 <h:inputText id="deltaCalTaxAmtId" style="text-align: right;" value="#{trDetail.aTbCalcTaxAmt-trDetail.bTbCalcTaxAmt}" disabled="true" >
			 	<f:convertNumber minFractionDigits="2" maxFractionDigits="9" />
			 </h:inputText>
			 </td>
			
        </tr>
		
	  
	</tbody>
	</table>
	</rich:simpleTogglePanel>
</ui:component>
