<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a4j="http://richfaces.org/a4j">

<div id="embedded-table">
<h:panelGrid id="#{id}" columns="6" cellpadding="2" cellspacing="0">
	
	<h:outputText rendered="#{showheaders}" value="Country:"/>
	<h:outputText rendered="#{showheaders}" value="State:"/>
	<h:outputText rendered="#{showheaders}" value="County:"/>
	<h:outputText rendered="#{showheaders}" value="City:"/>
	<h:outputText rendered="#{showheaders}" value="ZIP Code:"/>
	<h:outputText rendered="#{showheaders}" value=""/>
	
	<h:panelGroup>
		<h:selectOneMenu id="#{id}_country_menu" binding="#{handler.countryInput}" rendered="#{!readonly}" 
			 disabled="#{readonly}" required="#{required}" label="country" value="#{handler.country}" >
			<a4j:support id="#{id}_country_handler" event="onchange" reRender="#{id}_state_items,#{id},#{reRender}"
				immediate="true" actionListener="#{handler.countrySelected}"/>
			
	    </h:selectOneMenu> 
		<h:inputText id="#{id}_country_menu1"  rendered="#{readonly}" disabled="#{readonly}" value="#{handler.countryDescription}"  style="width:130px;" />
	</h:panelGroup>
	
	<h:panelGroup id="#{id}_jurisdictionPanel">
		<h:selectOneMenu id="#{id}_state_menu" binding="#{handler.stateInput}" rendered="#{!readonly}" 
			disabled="#{readonly}" required="#{required}" label="State" value="#{handler.state}" >
			
			<f:selectItems id="#{id}_state_items" value="#{handler.stateItems}" />
			<c:if test="#{onblurEnable}">
			<a4j:support id="#{id}_state_handler" event="onchange" reRender="#{id},#{reRender}" immediate="true" actionListener="#{handler.stateSelected}"/>
			</c:if>
		</h:selectOneMenu>
	
		<h:inputText id="#{id}_state_menu1"  rendered="#{readonly}" disabled="#{readonly}" value="#{handler.stateDescription}"  style="width:130px;" />
	</h:panelGroup>	
		
	<h:inputText id="#{id}_county" binding="#{handler.countyInput}" maxlength="50"
		disabled="#{readonly}" required="#{required and !readonly}" label="County" value="#{handler.county}"
		onkeypress="upperCaseInputTextKey(event,this)" >
		<c:if test="#{onblurEnable}">
		<a4j:support id="#{id}_onblur_county" event="onblur" actionListener="#{handler.countyChanged}" immediate="true" reRender="#{reRenderCounty}" />
		</c:if>
	</h:inputText>	
	
	<h:inputText id="#{id}_city" binding="#{handler.cityInput}" maxlength="50"
		disabled="#{readonly}" required="#{required and !readonly}" label="City" value="#{handler.city}" 
		onkeypress="upperCaseInputTextKey(event,this)" >
		<c:if test="#{onblurEnable}">
		<a4j:support id="#{id}_onblur_city" event="onblur" actionListener="#{handler.cityChanged}" immediate="true" reRender="#{reRenderCity}" />
		</c:if>
	</h:inputText>
	
	<h:inputText id="#{id}_zip" binding="#{handler.zipInput}" maxlength="6" disabled="#{readonly}" required="#{required and !readonly}" label="Zip Code" value="#{handler.zip}" style="width:70px;" >
		<c:if test="#{onblurEnable}">
		<a4j:support id="#{id}_onblur_zip" event="onblur" actionListener="#{handler.zipChanged}" immediate="true" reRender="#{reRenderZip}" />
		</c:if>
	</h:inputText>	

	<h:commandButton id="#{id}_search" styleClass="image" style="float:left;width:16px;height:16px;" 
		image="/images/search_small.png" rendered="#{!empty popupName and !readonly}" immediate="true" 
		action="#{handler.findTxnVendorJurisAction}">
	</h:commandButton>
		
</h:panelGrid>
</div>
</ui:component>