<ui:component 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	
<ui:define name="script">
<script type="text/javascript">
//<![CDATA[
         
    function resetState()
	{ 
    	document.getElementById("custlocnForm:stateMenuMain").value = "";
	}
//]]>
</script>
</ui:define>
 
<div id="table-one-top" style="padding: 1px 10px 1px 15px;">
	<table cellpadding="0" cellspacing="0" style="width: 100%; height: 22px;"><tr>
		<td width="70"><a4j:commandLink id="toggleCustLocnCollapse" style="text-decoration: underline;color:#0033FF;"
				action="vendors_panel" actionListener="#{handlerBean.togglePanelController.collapseTogglePanels}" ><h:outputText value="collapse all"/></a4j:commandLink></td>
		<td align="left"><a4j:commandLink id="toggleCustLocnExpand" style="text-decoration: underline;color:#0033FF;"  
  				action="vendors_panel" actionListener="#{handlerBean.togglePanelController.expandTogglePanels}" ><h:outputText value="expand all"/></a4j:commandLink></td>
		<td align="right" width="100"><h:outputText style="color:white;" value="Wildcard&#160;=&#160;%" /></td>
	</tr></table>
</div>   
   
<div id="table-one-content" style="height: auto;" onkeypress="return submitEnter(event,'frmEntityMain:searchBtn')">
    
	<!-- Start toggle panel -->
	<div id="embedded-table">
	<h:panelGrid id="togglePanel" columns="1" width="100%"  >
      
	<rich:simpleTogglePanel id="VendorInformationPanel" switchType="ajax" label="Vendor Information"  
		actionListener="#{handlerBean.togglePanelController.togglePanelChanged}"   
		opened="#{handlerBean.togglePanelController.togglePanels['VendorInformationPanel']}"
		bodyClass="togglepanel-body"  headerClass="togglepanel-header" styleClass="togglepanel" >	
      		<f:facet name="openMarker"><h:graphicImage url="/images/triangle-e.png"></h:graphicImage></f:facet>
			<f:facet name="closeMarker"><h:graphicImage url="/images/triangle-s.png"></h:graphicImage></f:facet>
      	 
		<table cellpadding="0" cellspacing="0"   id="rollover" class="ruler">
			<tr>
				<td class="column-spacer">&#160;</td>
				<td class="column-label">Code:</td>
				<td style="width:800px;align:left;">
					<h:inputText id="vendorCode" value="#{handlerBean.vendorCode}" maxlength="100" 
						onkeypress="upperCaseInputTextKey(event,this)" onblur="upperCaseInputText(this)" style="width:300px;" />
				</td> 
				<td style="width:20%" >&#160;</td>        
		
			</tr>
			
			<tr>
				<td class="column-spacer">&#160;</td>
				<td class="column-label">Name:</td>
				<td style="width:800px;align:left;">
					<h:inputText id="vendorName" value="#{handlerBean.vendorName}" maxlength="100" style="width:300px;" />
				</td>
				<td style="width:20%;" >&#160;</td>
	
			</tr>
		    <!--   
	    	<tr>
				<td class="column-spacer">&#160;</td>
				<td style="width:100px;"><h:outputText value="Address Line 1:"/></td>
				<td ><h:inputText style="width:300px;align:left;" value="#{handlerBean.addressLine1}" ></h:inputText></td>
	
				<td width="40%" >&#160;</td>
			</tr>
			
			<tr>
				<td class="column-spacer">&#160;</td>
				<td style="width:100px;align:left;"><h:outputText value="Address Line 2:"/></td>
				<td ><h:inputText style="width:300px;align:left;" value="#{handlerBean.addressLine2}" ></h:inputText></td>
	
				<td width="40%" >&#160;</td>
			</tr>
			-->
			<tr>
				<td class="column-spacer">&#160;</td>
				<td style="align:left;" colspan="3">
					<ui:include src="/WEB-INF/view/components/jurisdiction_screen.xhtml">
						<ui:param name="handler" value="#{handlerBean.filterHandlerShipto}"/>
						<ui:param name="id" value="jurisInput"/>
						<ui:param name="readonly" value="false"/>
						<ui:param name="showheaders" value="true"/>
						<ui:param name="showzipplus4" value="true"/>
						<ui:param name="popupName" value="searchJurisdiction"/>
						<ui:param name="popupForm" value="searchJurisdictionForm"/>
					</ui:include>
				</td>
			</tr>     
		</table>
	</rich:simpleTogglePanel>
    </h:panelGrid>
	</div>
 </div>
<!-- end of table-one-content -->       
      
<div id="table-one-bottom">
	<ul class="right">
       <li class="clear"><a4j:commandLink id="btnClear" action="#{handlerBean.resetFilterSearchAction}" reRender="VendorInformationPanel" /></li>
       <li class="search"><a4j:commandLink id="searchBtn" action="#{handlerBean.retrieveFilterSearchAction}" reRender="pageInfo,entityItemsTable,trScroll,okBtn,addBtn,copyaddBtn,updateBtn,deleteBtn,vendorutilitiesId,NexusRegisId,DefaultsId,CopyToId,messageTest" oncomplete="initScrollingTables();" /></li>
    </ul>
</div>

			
</ui:component>