<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jstl/core">

<head>
	<ui:include src="/WEB-INF/view/components/header.xhtml" />
	<ui:insert name="script"></ui:insert>
</head>

<body onload="setFocus();">
<div id="container">
	<ui:insert name="body"></ui:insert>
	
	<ui:include src="/WEB-INF/view/components/footer.xhtml" >
		<ui:param name="landing" value="true"/>
	</ui:include>
	
	
</div>
</body>

</html>