<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:rich="http://richfaces.org/rich">
     
<head>
	<ui:include src="/WEB-INF/view/components/header.xhtml" />
	<ui:insert name="script"></ui:insert>
</head>

<body>
<div id="container">

	<h:form id="menuForm">
	<a4j:status id="rowstatus" forceId="true"  />
	<ui:include src="/WEB-INF/view/components/menu.xhtml" />
	</h:form>
	
	<h1><ui:insert name="header"></ui:insert></h1>
	
	<div id="top">
		<div id="table-one">
			<ui:insert name="table-one"></ui:insert>
		</div>
	</div>

	<div><rich:spacer height="35px"/></div>
	
	<ui:include src="/WEB-INF/view/components/footer.xhtml" />

</div>

<ui:insert name="extra"></ui:insert>

</body>

</html>