/*
Title:     Newco master CSS file
Updated:   march 10th, 2008
Author:    David Belson at pixelvale
*/

/* @group Global styles */
body {
	padding: 0;
	margin: 0;
	font: 10px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	}
h1,h2,h3,h4,h5,h6,ul,li,em,strong,pre,code,p,select {
	padding: 0;
	margin: 0;
	line-height: 1em;
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	}
table {
	font: 10px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	}
ul {
	list-style: none;
	}
img {
	border: 0;
	}
body {
	text-align: center;
	background: #cccccc;
	}
a, a:visited {
	outline: none;
	color: #1C63AB;
	text-decoration: none;
	}
a:hover {
	color: #CC3333;
	}
select {
	margin: 0;
	border: 1px solid #666;
	background-color: transparent;
	}
input {
	border: 1px solid #666;
	font-size: 10px;
	margin: 0;
	padding: 2px;
	background-color: transparent;
	}
strong {
	font-weight: bold;
	}
.wrapper:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
#rollover tr.ruled {
  background: #fff;
	}
#rollover2 tr.ruled {
  background: #fbda7d;
	}
.red {
	color: red;
	font-weight: bold;
	}
/* @end */
/* @group header */
div#header {
	height: 49px;
	line-height: 49px;
	margin: 0;
	padding: 0 0 14px 0;
	background: #4994c1 url(../images/STSHeader-bottom.jpg) repeat-x left bottom;
	}
#header #logo {
	margin: 0;
	padding: 10px;
	}
#header #links {
	float: right;
	display: inline;
	margin: 0 20px 0 0;
	}
#header #links a {
	color: #000;
	}
.client {
	z-index: 1;
	position: absolute;
	top: 1px;
	right: 147px;
	height: 1%;
	}
/* @end */
/* @group nav
 */
#header #menu {
	position: absolute;
	z-index: 0;
	top: 8px;
	right: 147px;
	margin: 0;
	padding: 0;
	}
#nav, #nav ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	}
#nav li { /* all list items */
	float: left;
	}
#nav li ul { /* second-level lists */
	position: absolute;
	margin-top: -8px;
	width: 86px;
	left: -999em;
	border-top: 1px solid #aabbb3;
	}
#nav li ul li {
	
	}
#nav li ul li a {
	width: 82px;
	height: 13px;
	display: block;
	padding: 4px 0 0 4px;
	border-bottom: 1px solid #aabbb3;
	color: #aabbb3;
	background: url(../images/buttons/btn-blank.gif) no-repeat 0 0;
	}
#nav li ul li a:hover {
	color: #fff;
	background-position: -86px 0;
	}
#nav li:hover ul, #nav li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
	}
#nav .file a {
	width: 86px;
	height: 34px;
	display: block;
	border-right: 1px solid #4994c1;
	background: url(../images/buttons/btn-file.gif) no-repeat 0 0;
	}
#nav .file a:hover {
	background-position: -86px 0;
	}
#nav .transactions a {
	width: 86px;
	height: 34px;
	display: block;
	border-right: 1px solid #4994c1;
	background: url(../images/buttons/btn-transactions.gif) no-repeat 0 0;
	}
#nav .transactions a:hover {
	background-position: -86px 0;
	}
#nav .data a {
	width: 86px;
	height: 34px;
	display: block;
	border-right: 1px solid #4994c1;
	background: url(../images/buttons/btn-data.gif) no-repeat 0 0;
	}
#nav .data a:hover {
	background-position: -86px 0;
	}
#nav .maintenance a {
	width: 86px;
	height: 34px;
	display: block;
	border-right: 1px solid #4994c1;
	background: url(../images/buttons/btn-maintenance.gif) no-repeat 0 0;
	}
#nav .maintenance a:hover {
	background-position: -86px 0;
	}
#nav .security a {
	width: 86px;
	height: 34px;
	display: block;
	border-right: 1px solid #4994c1;
	background: url(../images/buttons/btn-security.gif) no-repeat 0 0;
	}
#nav .security a:hover {
	background-position: -86px 0;
	}
#nav .utilities a {
	width: 86px;
	height: 34px;
	display: block;
	border-right: 1px solid #4994c1;
	background: url(../images/buttons/btn-utilities.gif) no-repeat 0 0;
	}
#nav .utilities a:hover {
	background-position: -86px 0;
	}
#nav .setup a {
	width: 86px;
	height: 34px;
	display: block;
	border-right: 1px solid #4994c1;
	background: url(../images/buttons/btn-setup.gif) no-repeat 0 0;
	}
#nav .setup a:hover {
	background-position: -86px 0;
	}
/* @end */
/* @group content */
div#container {
	position: relative;
	width: 955px;
	height: 600px;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	background: #b2daf1;
	}
h1 {
	margin: 0 0 0 17px;
	}
.sub-nav {
	margin: 0 0 0 22px;
	}
.tab {
	display: inline;
	margin: 0;
	padding: 0;
	}
.tab img {
	float: left;
	}
.tab img {
	display: block;
	width: 192px;
	height: 17px;
	line-height: 17px;
	}
.wrapper {
	clear: both;
	width: 100%;
	}
.wrapper .tab img {
	margin-top: 4px;
	}
.wrapper .block-left {
	float: left;
	width: 20px;
	height: 28px;
	padding: 2px 0 0 0;
	background: url(../images/STSWrapper-bg.gif) repeat-y left top;
	}
.wrapper .block-right {
	float: right;
	width: 20px;
	height: 28px;
	padding: 2px 0 0 0;
	background: url(../images/STSWrapper-bg.gif) repeat-y left top;
	}
#bottom, #top {
	margin: 0;
	padding: 0;
	}
#top {
	width: 913px;
	margin: 20px 20px 10px 20px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 1px dotted #fff;
	border-bottom: 1px dotted #fff;
	}
#table-one-top {
	height: 22px;
	padding: 3px 0 0 90px;
	background: #79a3c9;
	}
#table-one-top select {
	width: 105px;
	background: #fff;
	}
#top-index {
	height: 500px;
	}
div#table-one-index {
	width: 585px;
	height: 152px;
	margin: 20px auto;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 1px dotted #fff;
	border-bottom: 1px dotted #fff;
	}
#table-one-content-index {
	overflow: auto;
	height: 100px;
	padding: 5px 0;
	background: #d4e3e8;
	}
#table-one-content {
	overflow: auto;
	height: 92px;
	padding: 0;
	background: #d4e3e8;
	}
#table-one-content p {
	margin: 10px;
	}
#table-one-content table {
	border-color: #fff;
	}
#table-one-content thead, #table-two-content thead, #table-three-content thead {
	color: #fff;
	background-color: #091d3b;
	}
#table-one-content th {
	padding: 3px;
	background-color: #ddd;
	}
#table-one-content td, #table-one-content-index td {
	padding: 2px;
	}
#table-one-bottom {
	height: 17px;
	padding: 0 0 0 0;
	background: #79a3c9;
	}
/* for ie5+6/win only */
* html #table-one-bottom ul.right {
	float: right;
	display: inline;
	margin: 5px 20px -1px 0;
	}
#table-one-bottom ul.right {
	float: right;
	display: inline;
	margin: 5px 20px 0 0;
	}
#table-one-bottom .right li {
	float: left;
	}
#table-one-bottom .reset a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-reset.gif) no-repeat 0 0;
	}
#table-one-bottom .reset a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .search-within a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-search-within.gif) no-repeat 0 0;
	}
#table-one-bottom .search-within a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .search a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-search.gif) no-repeat 0 0;
	}
#table-one-bottom .search a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .ok a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-ok.gif) no-repeat 0 0;
	}
#table-one-bottom .ok a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .map a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-map2.gif) no-repeat 0 0;
	}
#table-one-bottom .map a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .save a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-save.gif) no-repeat 0 0;
	}
#table-one-bottom .save a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .cancel a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-cancel.gif) no-repeat 0 0;
	}
#table-one-bottom .cancel a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .view a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-view.gif) no-repeat 0 0;
	}
#table-one-bottom .view a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .retrieve a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-retrieve.gif) no-repeat 0 0;
	}
#table-one-bottom .retrieve a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .order a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-order.gif) no-repeat 0 0;
	}
#table-one-bottom .order a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom ul.left {
	display: inline;
	margin: 0;
	}
#table-one-bottom .left li {
	float: left;
	}
#table-one-bottom .add a {
	display: block;
	height: 14px;
	width: 35px;
	margin: 3px 3px 0 0;
	background: url(../images/buttons/btn-add.gif) no-repeat 0 0;
	}
#table-one-bottom .add a:hover {	
	background-position: -35px 0;
	}
/* for ie5+6/win only */
* html #table-one-bottom .add a {
	display: block;
	height: 14px;
	width: 35px;
	margin: 5px 3px -1px 0;
	background: url(../images/buttons/btn-add.gif) no-repeat 0 0;
	}
#table-one-bottom .delete a {
	display: block;
	height: 14px;
	width: 35px;
	margin: 3px 3px 0 0;
	background: url(../images/buttons/btn-delete.gif) no-repeat 0 0;
	}
#table-one-bottom .delete a:hover {	
	background-position: -35px 0;
	}
/* for ie5+6/win only */
* html #table-one-bottom .delete a {
	display: block;
	height: 14px;
	width: 35px;
	margin: 5px 3px -1px 0;
	background: url(../images/buttons/btn-delete2.gif) no-repeat 0 0;
	}
#table-one-bottom .delete2 a {
	display: block;
	height: 14px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-delete2.gif) no-repeat 0 0;
	}
#table-one-bottom .delete2 a:hover {	
	background-position: -115px 0;
	}
/* for ie5+6/win only */
* html #table-one-bottom .delete2 a {
	display: block;
	height: 14px;
	width: 115px;
	margin: 5px 3px -1px 0;
	background: url(../images/buttons/btn-delete2.gif) no-repeat 0 0;
	}
#table-one-bottom .login a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-login.gif) no-repeat 0 0;
	}
#table-one-bottom .login a:hover {	
	background-position: -115px 0;
	}
/* for ie5+6/win only */
* html #table-one-bottom .login a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 0 -1px 0;
	background: url(../images/buttons/btn-login.gif) no-repeat 0 0;
	}
#table-one-bottom .minimum a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-minimum.gif) no-repeat 0 0;
	}
#table-one-bottom .minimum a:hover {	
	background-position: -115px 0;
	}
/* for ie5+6/win only */
* html #table-one-bottom .minimum a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px -1px 0;
	background: url(../images/buttons/btn-minimum.gif) no-repeat 0 0;
	}
#table-one-bottom .clear a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-clear.gif) no-repeat 0 0;
	}
#table-one-bottom .clear a:hover {	
	background-position: -115px 0;
	}
/* for ie5+6/win only */
* html #table-one-bottom .clear a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 0 -1px 0;
	background: url(../images/buttons/btn-clear.gif) no-repeat 0 0;
	}
#table-one-bottom .update2 a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-update2.gif) no-repeat 0 0;
	}
#table-one-bottom .upload a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-upload.gif) no-repeat 0 0;
	}
#table-one-bottom .upload a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .update2 a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .add2 a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-add2.gif) no-repeat 0 0;
	}
#table-one-bottom .add2 a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .view115 a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-view115.gif) no-repeat 0 0;
	}
#table-one-bottom .view115 a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .cancel-all a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-cancel-all.gif) no-repeat 0 0;
	}
#table-one-bottom .cancel-all a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .extract a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-extract.gif) no-repeat 0 0;
	}
#table-one-bottom .extract a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .map115 a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-map115.gif) no-repeat 0 0;
	}
#table-one-bottom .map115 a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .deletebtm a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-deletebtm.gif) no-repeat 0 0;
	}
#table-one-bottom .deletebtm a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .save-as115 a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-save-as115.gif) no-repeat 0 0;
	}
#table-one-bottom .process2 a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .process2 a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-process2.gif) no-repeat 0 0;
	}
#table-one-bottom .save-as115 a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .error2 a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-error2.gif) no-repeat 0 0;
	}
#table-one-bottom .error2 a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .select-all a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-select-all.gif) no-repeat 0 0;
	}
#table-one-bottom .select-all a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .statistics2 a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-statistics2.gif) no-repeat 0 0;
	}
#table-one-bottom .statistics2 a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .refresh a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-refresh.gif) no-repeat 0 0;
	}
#table-one-bottom .refresh a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .unformatted a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-unformatted.gif) no-repeat 0 0;
	}
#table-one-bottom .unformatted a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .formatted a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-formatted.gif) no-repeat 0 0;
	}
#table-one-bottom .formatted a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .close2 a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-close2.gif) no-repeat 0 0;
	}
#table-one-bottom .close2 a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .remove a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-remove.gif) no-repeat 0 0;
	}
#table-one-bottom .remove a:hover {	
	background-position: -115px 0;
	}
#table-one-bottom .retrieve2 a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-retrieve2.gif) no-repeat 0 0;
	}
#table-one-bottom .retrieve2 a:hover {	
	background-position: -115px 0;
	}
	
#table-four-bottom .process a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-process.gif) no-repeat 0 0;
	}
#table-four-bottom .process a:hover {	
	background-position: -115px 0;
	}
/* for ie5+6/win only */
* html #table-four-bottom .process a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 0 -1px 0;
	background: url(../images/buttons/btn-process.gif) no-repeat 0 0;
	}	
#table-four-bottom .apply a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-apply.gif) no-repeat 0 0;
	}
#table-four-bottom .apply a:hover {	
	background-position: -115px 0;
	}
/* for ie5+6/win only */
* html #table-four-bottom .apply a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 0 -1px 0;
	background: url(../images/buttons/btn-apply.gif) no-repeat 0 0;
	}	
#table-four-bottom .update a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-update.gif) no-repeat 0 0;
	}
#table-four-bottom .update a:hover {	
	background-position: -115px 0;
	}
#table-four-bottom .add a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-add.gif) no-repeat 0 0;
	}
#table-four-bottom .add a:hover {	
	background-position: -115px 0;
	}
#table-four-bottom .delete a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-delete115.gif) no-repeat 0 0;
	}
#table-four-bottom .delete a:hover {	
	background-position: -115px 0;
	}
#table-four-bottom .map a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-map.gif) no-repeat 0 0;
	}
#table-four-bottom .map a:hover {	
	background-position: -115px 0;
	}
/* for ie5+6/win only */
* html #table-four-bottom .update a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 0 -1px 0;
	background: url(../images/buttons/btn-update.gif) no-repeat 0 0;
	}	
* html #table-four-bottom .add a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 0 -1px 0;
	background: url(../images/buttons/btn-add.gif) no-repeat 0 0;
	}	
#table-four-bottom .add a:hover {	
	background-position: -115px 0;
	}
* html #table-four-bottom .delete a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 0 -1px 0;
	background: url(../images/buttons/btn-delete115.gif) no-repeat 0 0;
	}	
#table-four-bottom .delete a:hover {	
	background-position: -115px 0;
	}
* html #table-four-bottom .map a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 0 -1px 0;
	background: url(../images/buttons/btn-map.gif) no-repeat 0 0;
	}	
#table-four-bottom .map a:hover {	
	background-position: -115px 0;
	}
#table-four-bottom .view a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-view.gif) no-repeat 0 0;
	}
#table-four-bottom .view a:hover {	
	background-position: -115px 0;
	}
#table-four-bottom .retrieve a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-retrieve.gif) no-repeat 0 0;
	}
#table-four-bottom .retrieve a:hover {	
	background-position: -115px 0;
	}
/* for ie5+6/win only */
* html #table-four-bottom .view a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 0 -1px 0;
	background: url(../images/buttons/btn-view.gif) no-repeat 0 0;
	}	
* html #table-four-bottom .retrieve a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 0 -1px 0;
	background: url(../images/buttons/btn-retrieve.gif) no-repeat 0 0;
	}	
#table-four-bottom .suspend a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-suspend.gif) no-repeat 0 0;
	}
#table-four-bottom .suspend a:hover {	
	background-position: -115px 0;
	}
/* for ie5+6/win only */
* html #table-four-bottom .suspend a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 0 -1px 0;
	background: url(../images/buttons/btn-suspend.gif) no-repeat 0 0;
	}	
#table-four-bottom .comments a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-comments.gif) no-repeat 0 0;
	}
#table-four-bottom .comments a:hover {	
	background-position: -115px 0;
	}
/* for ie5+6/win only */
* html #table-four-bottom .comments a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 0 -1px 0;
	background: url(../images/buttons/btn-comments.gif) no-repeat 0 0;
	}	
#table-four-bottom .copy-add a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-copy-add.gif) no-repeat 0 0;
	}
#table-four-bottom .copy-add a:hover {	
	background-position: -115px 0;
	}
/* for ie5+6/win only */
* html #table-four-bottom .copy-add a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 0 -1px 0;
	background: url(../images/buttons/btn-copy-add.gif) no-repeat 0 0;
	}	
#table-four-bottom .advanced-sort a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-advanced-sort.gif) no-repeat 0 0;
	}
#table-four-bottom .advanced-sort a:hover {	
	background-position: -115px 0;
	}
/* for ie5+6/win only */
* html #table-four-bottom .advanced-sort a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 0 -1px 0;
	background: url(../images/buttons/btn-advanced-sort.gif) no-repeat 0 0;
	}
#table-four-bottom .close a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-close.gif) no-repeat 0 0;
	}
#table-four-bottom .close a:hover {	
	background-position: -115px 0;
	}
/* for ie5+6/win only */
* html #table-four-bottom .close a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 0 -1px 0;
	background: url(../images/buttons/btn-advanced-sort.gif) no-repeat 0 0;
	}
.reorder-columns a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-reorder-columns.png) no-repeat 0 0;
	}
.reorder-columns a:hover {	
	background-position: -115px 0;
	}
/* for ie5+6/win only */
* html .reorder-columns a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 0 -1px 0;
	background: url(../images/buttons/btn-reorder-columns.png) no-repeat 0 0;
	}
div#table-two {
	float: left;
	display: inline;
	width: 615px;
	margin: 0 0 0 20px;
	padding: 0;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 1px dotted #fff;
	border-bottom: 1px dotted #fff;
	}
#table-two-top {
	height: 22px;
	padding: 3px 0 0 90px;
	background: #fbe091;
	}
#table-two-top select {
	width: 105px;
	background: #fff;
	}
#table-two-content {
	overflow: auto;
	height: 230px;
	width: 615px;
	padding: 0;
	background: #fdf3d3;
	}
#table-two-content table {

	border: 1px solid #d5ddd9;
	}
#bottom .header td {
	background-color: #091d3b;
	}
#bottom td {
	padding: 2px;
	}
#table-two-content table .odd {
	background-color: #fff;
	}
#table-two-bottom {
	height: 17px;
	background: #fbe091;
	}
#table-two-bottom ul.left {
	display: inline;
	margin: 0 20px 0 0;
	}
/* for ie5+6/win only */
* html #table-two-bottom .order a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 5px 3px -1px 0;
	background: url(../images/buttons/btn-order.gif) no-repeat 0 0;
	}
#table-two-bottom .left li {
	float: left;
	}
#table-two-bottom .order a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 5px 3px 0 0;
	background: url(../images/buttons/btn-order.gif) no-repeat 0 0;
	}
#table-two-bottom .order a:hover {	
	background-position: -115px 0;
	}
	
#table-two-bottom ul.right, #table-three-bottom ul.right {
	float: right;
	display: inline;
	margin: 5px 20px 0 0;
	}
/* for ie5+6/win only */
* html #table-two-bottom ul.right {
	float: right;
	display: inline;
	margin: 5px 20px -1px 0;
	}
#table-two-bottom .right li, #table-three-bottom .right li {
	float: left;
	}
#table-two-bottom .reset a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-reset2.gif) no-repeat 0 0;
	}
#table-two-bottom .reset a:hover {	
	background-position: -115px 0;
	}
#table-two-bottom .search-within a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-search-within2.gif) no-repeat 0 0;
	}
#table-two-bottom .search-within a:hover {	
	background-position: -115px 0;
	}
#table-two-bottom .search a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-search2.gif) no-repeat 0 0;
	}
#table-two-bottom .search a:hover {	
	background-position: -115px 0;
	}
#table-two-bottom .ok a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-ok.gif) no-repeat 0 0;
	}
#table-two-bottom .ok a:hover {	
	background-position: -115px 0;
	}	
#table-two-bottom .view a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-view.gif) no-repeat 0 0;
	}
#table-two-bottom .view a:hover {	
	background-position: -115px 0;
	}
#table-two-bottom .copy-add a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-copy-add.gif) no-repeat 0 0;
	}
#table-two-bottom .copy-add a:hover {	
	background-position: -115px 0;
	}
#table-two-bottom .delete115 a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-delete115.gif) no-repeat 0 0;
	}
#table-two-bottom .delete115 a:hover {	
	background-position: -115px 0;
	}
#table-two-bottom .update a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-update.gif) no-repeat 0 0;
	}
#table-two-bottom .update a:hover {	
	background-position: -115px 0;
	}
#table-two-bottom .add a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-add.gif) no-repeat 0 0;
	}
#table-two-bottom .add a:hover {	
	background-position: -115px 0;
	}	
div#table-three {
	float: right;
	display: inline;
	width: 280px;
	margin: 0 20px 0 0;
	padding: 0;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 1px dotted #fff;
	border-bottom: 1px dotted #fff;
	}
#table-three-top {
	height: 22px;
	padding: 3px 0 0 90px;
	background: #fbe091;
	}
#table-three-top select {
	width: 105px;
	}
#table-three-content {
	overflow: auto;
	height: 230px;
	width: 280px;
	padding: 0;
	background: #fdf3d3;
	}
#table-three-content table {
	border: 1px solid #d5ddd9;
	}
#table-three-bottom {
	height: 17px;
	background: #fbe091;
	}
#table-three-bottom .ok a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-ok2.gif) no-repeat 0 0;
	}
#table-three-bottom .ok a:hover {	
	background-position: -115px 0;
	}
#table-three-bottom .cancel a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-cancel2.gif) no-repeat 0 0;
	}
#table-three-bottom .cancel a:hover {	
	background-position: -115px 0;
	}
	
div#table-four {
	float: right;
	display: inline;
	margin: 0 20px;
	padding: 0;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 1px dotted #fff;
	border-bottom: 1px dotted #fff;
	}
div#table-four-index {
	float: right;
	display: inline;
	height: 500px;
	margin: 0 20px;
	padding: 0;
	}
#table-four-top {
	height: 22px;
	padding: 3px 0 0 90px;
	background: #fbe091;
	}
#table-four-top select {
	width: 105px;
	background: #fff;
	}
#table-four-content {
	overflow: auto;
	height: 230px;
	width: 912px;
	padding: 0;
	background: #d4e3e8;
	}
#table-four-content th {
	padding: 3px;
	}
#table-four-bottom {
	height: 17px;
	background: #fbe091;
	}
#table-four-content table {
	border: 1px solid #d5ddd9;
	}
#table-four-content .header td {
	text-align: center;
	color: #eee;
	background-color: #091d3b;
	}
#table-four-content td {
	padding: 2px;
	}
#table-four-content table .odd td {
	background-color: #fff;
	}
#table-four-bottom ul.right {
	float: right;
	display: inline;
	margin: 5px 20px 0 0;
	}
/* for ie5+6/win only */
* html #table-four-bottom ul.right {
	float: right;
	display: inline;
	margin: 5px 20px -1px 0;
	}
#table-four-bottom .right li {
	float: left;
	}
#table-four-bottom .reset a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-reset2.gif) no-repeat 0 0;
	}
#table-four-bottom .reset a:hover {	
	background-position: -115px 0;
	}
#table-four-bottom .view a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-view.gif) no-repeat 0 0;
	}
#table-four-bottom .view a:hover {	
	background-position: -115px 0;
	}
#table-four-bottom .drilldown a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-drilldown.gif) no-repeat 0 0;
	}
#table-four-bottom .drilldown a:hover {	
	background-position: -115px 0;
	}
#table-four-bottom .saveas a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-saveas.gif) no-repeat 0 0;
	}
#table-four-bottom .saveas a:hover {	
	background-position: -115px 0;
	}
#table-four-bottom .search-within a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-search-within2.gif) no-repeat 0 0;
	}
#table-four-bottom .search-within a:hover {	
	background-position: -115px 0;
	}
#table-four-bottom .search a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-search2.gif) no-repeat 0 0;
	}
#table-four-bottom .search a:hover {	
	background-position: -115px 0;
	}
#table-four-bottom .cancel2 a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-cancel2.gif) no-repeat 0 0;
	}
#table-four-bottom .cancel2 a:hover {	
	background-position: -115px 0;
	}
#table-four-bottom .ok2 a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-ok2.gif) no-repeat 0 0;
	}
#table-four-bottom .ok2 a:hover {	
	background-position: -115px 0;
	}
#table-four-bottom .delete115 a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-delete115.gif) no-repeat 0 0;
	}
#table-four-bottom .delete115 a:hover {	
	background-position: -115px 0;
	}
#table-four-bottom .statistics a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-statistics.gif) no-repeat 0 0;
	}
#table-four-bottom .statistics a:hover {	
	background-position: -115px 0;
	}
#table-four-bottom .error a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-error.gif) no-repeat 0 0;
	}
#table-four-bottom .error a:hover {	
	background-position: -115px 0;
	}
#table-four-bottom .hold a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-hold.gif) no-repeat 0 0;
	}
#table-four-bottom .hold a:hover {	
	background-position: -115px 0;
	}
#table-four-bottom .drilldown a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-drill-down.gif) no-repeat 0 0;
	}
#table-four-bottom .drilldown a:hover {	
	background-position: -115px 0;
	}		
#table-four-bottom .saveas a {
	display: block;
	height: 12px;
	width: 115px;
	margin: 0 3px 0 0;
	background: url(../images/buttons/btn-save-as.gif) no-repeat 0 0;
	}
#table-four-bottom .saveas a:hover {	
	background-position: -115px 0;
	}		
#table-four-bottom .search-within a:hover {	
	background-position: -115px 0;
	}
	
/* @end */
/* @group footer */
#footer-top {
	position: absolute;
	bottom: 18px;
	clear: both;
	width: 100%;
	height: 18px;
	line-height: 18px;
	}
#footer-top #block-left {
	display: block;
	width: 20px;
	background: #7cc0e8;
	}
#footer-top #block-right {
	float: right;
	display: block;
	width: 20px;
	background: #7cc0e8;
	}
div#footer {
	position: absolute;
	bottom: 0;
	clear: both;
	width: 100%;
	height: 13px;
	line-height: 13px;
	padding: 3px 0 2px 0;
	color: #999;
	background: #000;
	}
#footer p {
	margin: 0;
	padding: 0 5px;
	}
/* @end */