body {
	background-color: #093775;
	margin-left: 0px;
	margin-top: 0px; 
	text-align: center;
	vertical-align: top;
}

image {
	border: 0px;
}

.NCSTSActionSectionHeader {
	font-family: Verdana;
	font-size: 11px;
	font-weight:bold;
	height: 30px;
}

.NCSTSActionRow {
	height: 33px;
}


.NCSTSContainerAction {
	width: 740px;
	text-align:  center;
	vertical-align: top;
}

.NCSTSContainerActionHeader {
	font-family: Arial Black;
	font-size: 20px;
	color: #0C376A;
	height: 40px;
	text-align:  left;
}

.NCSTSContainerActionLogo {
	background-image: url(images/backgrounds/NCSTSLogoLogin.jpg);
	width: 740px;
	height: 234px;
}

.NCSTSContainerActionLowerLeft {
	background-image: url(images/backgrounds/NCSTSContainerActionLowerLeft.jpg);
	width: 13px;
	height: 40px;
}

.NCSTSContainerActionLowerMiddle {
	background-image: url(images/backgrounds/NCSTSContainerActionLowerMiddle.jpg);
	width: 637px;
	height: 40px;
	text-align: right;
}

.NCSTSContainerActionLowerRight {
	background-image: url(images/backgrounds/NCSTSContainerActionLowerRight.jpg);
	width: 13px;
	height: 40px;
}

.NCSTSContainerActionMiddleLeft {
	background-image: url(images/backgrounds/NCSTSContainerActionMiddleLeft.jpg);
	width: 13px;
}

.NCSTSContainerActionMiddleMiddle {
	 background-color: #ffffff;
	 vertical-align: top;
}

.NCSTSContainerActionMiddleRight {
	background-image: url(images/backgrounds/NCSTSContainerActionMiddleRight.jpg);
	width: 13px;
}

.NCSTSContainerActionName {
	font-family: Arial Black;
	font-size: 13px;
	color: #0C376A;
}

.NCSTSContainerActionUpperLeft {
	background-image: url(images/backgrounds/NCSTSContainerActionUpperLeft.jpg);
	width: 13px;
	height: 33px;
}

.NCSTSContainerActionUpperMiddle {
	background-image: url(images/backgrounds/NCSTSContainerActionUpperMiddle.jpg);
	width: 13px;
}

.NCSTSContainerActionUpperRight {
	background-image: url(images/backgrounds/NCSTSContainerActionUpperRight.jpg);
	width: 13px;
	height: 33px;
}

.NCSTSContainerActionWindowState {
	text-align:  right;
}

.NCSTSContainerBranding {
	background-image: url(images/backgrounds/NCSTSLogoBranding.jpg);
	width: 153px;
	height: 45px;
}

.NCSTSContainerInfoBar 
{
	background-image: url(images/backgrounds/TMPInfoBar.jpg);
	margin-left: 30px;
	width: 800px;
	height: 45px;
	margin-top: 19px; 
	top: 19px;
}

.NCSTSContainerInfoBarLogin 
{
	background-image: url(images/backgrounds/TMPInfoBarLogin.jpg);
	margin-left: 30px;
	width: 800px;
	height: 45px;
	margin-top: 19px; 
	top: 19px;
}

.NCSTSContainerLoginLowerMiddle {
	background-image: url(images/backgrounds/NCSTSContainerActionLowerMiddle.jpg);
	width: 627px;
}

.NCSTSContainerLoginUpperMiddle {
	background-image: url(images/backgrounds/NCSTSContainerActionUpperMiddle.jpg);
	width: 637px;
	font-family: Arial Black;
	font-size: 13px;
	color: #0C376A;
}

.NCSTSContainerMargin {
	margin-left: 10px;
	text-align:  center;
}

.NCSTSContainerMenu {
	background-image: url(images/menus/NCSTSMainMenuBack.jpg);
	width: 975px;
	height: 50px;
	text-align: left;
}

.NCSTSContainerPage {
	background-image: url(images/backgrounds/NCSTSContainerPageTile.jpg);
	margin-left: 0px;
	height: 670px;
	text-align:  center;
}

.NCSTSContainerUtility {
	vertical-align: top;
}

.NCSTSContainerUtilityMargin {
	 width: 5px;
}

.NCSTSContainerWorkAreaHeader {
	font-family: Verdana;
	font-size: 20px;
	font-weight:bold;
	color: #0c376a;
	height: 40px;
}

.NCSTSContainerWorkAreaLeftEdge {
	background-image: url(images/backgrounds/NCSTSContainerWorkAreaLeftEdge.jpg);
	width: 14px;
	height: 568px;
}

.NCSTSContainerWorkAreaLogin {
	background-image: url(images/backgrounds/NCSTSWorkAreaLogin.jpg);
	width: 973px;
	height: 573px;
	vertical-align: top;
}

.NCSTSContainerWorkAreaMargin {
	width: 3px;
}

.NCSTSContainerWorkAreaMiddle {
	background-image: url(images/backgrounds/NCSTSContainerWorkAreaMiddle.jpg);
	width: 939px;
	height: 568px;
	vertical-align: top;
}

.NCSTSContainerWorkAreaRightEdge {
	background-image: url(images/backgrounds/NCSTSContainerWorkAreaRightEdge.jpg);
	width: 19px;
	height: 568px;
}

.NCSTSFolderClosed {
	background-image: url(images/icons/NCSTSFolder.jpg);
	width: 22px;
	height: 19px;
}


.NCSTSFolderOpen {
	background-image: url(images/icons/NCSTSFolderOpen.jpg);
	width: 20px;
	height: 19px;
}

.NCSTSDivScrollable { 
	overflow:  auto;
}

.NCSTSGridColumnHeader {
	 border:1px solid #FFFFFF;
	 height: 27px;
	 font-family: Verdana;
	 font-size: 11px;
}

.NCSTSGridRow {
	 background-color: #ffffff;
	 height: 31px;
}

.NCSTSInput {
	font-family: Verdana;
	font-size: 11px;
}

.NCSTSMenu {
	background-image: url(images/menus/NCSTSMainMenuBack.jpg);
	width: 975px;
	height: 50px;
}

.NCSTSMenuDropDown 
{
	margin-left: 328px;
	top: 98px;
	position: absolute;
	background-color: #ffffff;
	border:1px solid #666666;
	padding: 6px;
	display: none;
}

.NCSTSGridRowAlternate {
	 background-color: #e4e4e4;
	 height: 30px;
	 border: 0px;
}

.NCSTSSelector {
	font-family: Verdana;
	font-size: 11px;
}

.NCSTSizerUtility {
	vertical-align:  middle;
	text-align: left;
	height: 40px;
}

.NCSTSizerAction {
	vertical-align:  middle;
	text-align: center;
	height: 20px;
}

.NCSTSSpacerMenu {
	height: 40px;
}

.NCSTSSpacerLoginBottom {
	height: 129px;
}

.NCSTSSpacerLogo {
	height: 6px;
}

.NCSTSSpacerUtilitySizer {
	height: 5px;
}

.NCSTSText {
	font-family: Verdana;
	font-size: 11px;
	text-decoration: none;
	color: #000000;
}

.NCSTSTextLight {
	font-family: Verdana;
	font-size: 11px;
	color: #999999;
}

.TMPMaintenanceTaxabilityMatrixSelectionFilter {
	background-image: url(images/backgrounds/TMPMaintenanceTaxabilityMatrixSelectionFilter.jpg);
	width: 775px;
	height: 33px;
}

.TMPMaintenanceTaxabilityMatrixViewLines {
	background-image: url(images/backgrounds/TMPMaintenanceTaxabilityMatrixSelectionFilter.jpg);
	width: 360px;
	height: 33px;
}

.TMPMaintenanceTaxabilityMatrixViewLineDetail {
	background-image: url(images/backgrounds/TMPMaintenanceTaxabilityMatrixSelectionFilter.jpg);
	width: 300px;
	height: 33px;
}


.TMPTransactionsGridListSpacer {
	background-image: url(images/backgrounds/TMPTransactionsGridListSpacer.jpg);
	width: 701px;
	height: 4px;
}

.TMPMaintenanceGridListTitles {
	background-image: url(images/backgrounds/TMPMaintenanceGridListTitles.jpg);
	width: 915px;
	height: 22px;
}

.TMPTransactionsGridListTitles {
	background-image: url(images/backgrounds/TMPTransactionsGridListTitles.jpg);
	width: 915px;
	height: 22px;
}

.TMPTransactionManagerSelectionFilter {
	background-image: url(images/backgrounds/TMPTransactionManagerSelectionFilter.jpg);
	width: 775px;
	height: 33px;
}

.TMPTransactionManagerViewTransactions {
	background-image: url(images/backgrounds/TMPTransactionManagerViewTransactions.jpg);
	width: 775px;
	height: 33px;
}

.TMPWhatIfGridListTitles {
	background-image: url(images/backgrounds/TMPWhatIfGridListTitles.jpg);
	width: 700px;
	height: 22px;
}














.one {
    text-align:center;
    width: 78px;
}

.two {
    text-align: center;
    width: 87px;
}

.three {
    text-align: right;
    width: 98px;
}

.four {
    text-align: center;
    width: 127px;
}

.five {
    text-align: right;
    width: 178px;
}

.six {
    text-align: right;
    width: 100px;
}

