body {
	background-color: #093775;
	margin-left: 0px;
	margin-top: 0px; 
	text-align: center;
	vertical-align: top;
}

image {
	border: 0px;
}

.ActionContainer 
{
	width: 740px;
	text-align:  center;
	vertical-align: top;
}

.ActionContainerHeader {
	text-align:  left;
}

.ActionContainerLowerLeft {
	background-image: url(finalimages/ActionContainerLowerLeft.jpg);
	width: 13px;
	height: 40px;
}

.ActionContainerLowerMiddle {
	background-image: url(finalimages/ActionContainerLowerMiddle.jpg);
	width: 13px;
	height: 40px;
	text-align: right;
}

.ActionContainerLowerRight {
	background-image: url(finalimages/ActionContainerLowerRight.jpg);
	width: 13px;
	height: 40px;
}

.ActionContainerMiddleLeft {
	background-image: url(finalimages/ActionContainerMiddleLeft.jpg);
	width: 13px;
}

.ActionContainerMiddleMiddle {
	 background-color: #ffffff;
	 vertical-align: top;
}

.ActionContainerMiddleRight {
	background-image: url(finalimages/ActionContainerMiddleRight.jpg);
	width: 13px;
}

.ActionContainerName {
	font-family: Arial Black;
	font-size: 13px;
	color: #0C376A;
}

.ActionContainerUpperLeft {
	background-image: url(finalimages/ActionContainerUpperLeft.jpg);
	width: 13px;
	height: 33px;
}

.ActionContainerUpperMiddle {
	background-image: url(finalimages/ActionContainerUpperMiddle.jpg);
	width: 13px;
}

.ActionContainerUpperRight {
	background-image: url(finalimages/ActionContainerUpperRight.jpg);
	width: 13px;
	height: 33px;
}

.ActionContainerWindowState {
	text-align:  right;
}

.ActionHeaderContainer {
	font-family: Arial Black;
	font-size: 20px;
	color: #0C376A;
	height: 40px;
}

.BrandingContainer {
	background-image: url(finalimages/NewCoLogo2840.jpg);
	width: 153px;
	height: 45px;
}

.GridContent {
	font-family: Verdana;
	font-size: 11px;
	vertical-align: top;
}

.GridLeft {
	width: 10px;
}

.GridRight {
	width: 10px;
}

.GridRow {
	 background-color: #ffffff;
	 width: 700px;
	 height: 31px;
}

.GridRowAlternate {
	 background-color: #f2f2f2;
	 width: 700px;
	 height: 31px;
}

.GridScrollable { 
	overflow: auto;
	height: 100px;
}

.GridText {
	font-family: Verdana;
	font-size: 11px;
}

.GridTransactionsScrollable { 
	overflow: auto;
	height: 185px;
}

.HorizontalSizer {
	vertical-align:  middle;
	text-align: left;
	height: 40px;
}

.InfoBarContainer {
	width: 800px;
	height: 45px;
	margin-top: 19px; 
	top: 19px;
}

.LoginContainerUpperMiddle {
	background-image: url(finalimages/ActionContainerUpperMiddle.jpg);
	width: 627px;
	font-family: Arial Black;
	font-size: 13px;
	color: #0C376A;
}

.LoginControl 
{
	font-family: Verdana;
	font-size: 11px;
	width: 270px;
}

.LoginContainerLowerMiddle {
	background-image: url(finalimages/ActionContainerLowerMiddle.jpg);
	width: 627px;
}

.LoginPanel {
	background-image: url(finalimages/LoginPanel.jpg);
	width: 975px;
	height: 573px;
	vertical-align: top;
}

.MainPanelLeftEdge {
	background-image: url(finalimages/MainPanelLeftEdge.jpg);
	width: 14px;
	height: 568px;
}

.MainPanelMiddle {
	background-image: url(finalimages/MainPanelMiddle.jpg);
	width: 939px;
	height: 568px;
	vertical-align: top;
}

.MainPanelRightEdge {
	background-image: url(finalimages/MainPanelRightEdge.jpg);
	width: 19px;
	height: 568px;
}

.MarginContainer {
	margin-left: 10px;
	text-align:  center;
}

.MenuSpacer {
	height: 45px;
}


.OuterContainer {
	background-image: url(finalimages/VerticalBackgroundTile2901.jpg);
	margin-left: 0px;
	height: 670px;
	text-align:  center;
}

.Selector {
	font-family: Verdana;
	font-size: 11px;
	width: 130px;
}

.SelectorLong {
	font-family: Verdana;
	font-size: 11px;
	width: 202px;
}

.SelectorNoChoice {
	color: #999999;
}

.TextLight 
{
	font-family: Verdana;
	font-size: 11px;
	color: #999999;
}

.UtilityContainers {
	 vertical-align: top;
}


.UtilityContainerMargin {
	 width: 5px;
}

.UtilityContainerLowerLeft {
	background-image: url(finalimages/UtilityContainerLowerLeft.jpg);
	width: 10px;
	height: 8px;
}

.UtilityContainerLowerMiddle {
	background-image: url(finalimages/UtilityContainerLowerMiddle.jpg);
	width: 183px;
	height: 8px;
}

.UtilityContainerLowerRight {
	background-image: url(finalimages/UtilityContainerLowerRight.jpg);
	width: 10px;
	height: 8px;
}

.UtilityContainerMiddleLeft {
	background-image: url(finalimages/UtilityContainerMiddleLeft.jpg);
	width: 10px;
}

.UtilityContainerMiddleMiddle {
	 background-color: #ffffff;
	 width: 188px;
}

.UtilityContainerMiddleRight {
	background-image: url(finalimages/UtilityContainerMiddleRight.jpg);
	width: 5px;
	height: 10px;
}


.UtilityContainerPRUpperLeft {
	background-image: url(finalimages/UtilityPRContainerUpperLeft.jpg);
	width: 126px;
	height: 33px;
}

.UtilityContainerQLUpperLeft {
	background-image: url(finalimages/UtilityQLContainerUpperLeft.jpg);
	width: 118px;
	height: 33px;
}

.UtilityContainerTIUpperLeft {
	background-image: url(finalimages/UtilityTIContainerUpperLeft.jpg);
	width: 117px;
	height: 33px;
}

.UtilityContainerUpperMiddle {
	background-image: url(finalimages/UtilityContainerUpperMiddle.jpg);
}

.UtilityContainerUpperRight {
	background-image: url(finalimages/UtilityContainerUpperRight.jpg);
	width: 8px;
	height: 33px;
}

.UtilitySpacer {
	height: 10px;
}

.VerticalSizer {
	vertical-align:  middle;
	text-align: center;
	height: 20px;
}

.one {
    text-align:center;
    width: 78px;
}

.two {
    text-align: center;
    width: 87px;
}

.three {
    text-align: right;
    width: 98px;
}

.four {
    text-align: center;
    width: 127px;
}

.five {
    text-align: right;
    width: 178px;
}

.six {
    text-align: right;
    width: 100px;
}